@font-face {
    font-family: 'customfont';
    src:    url('../fonts/customfont.eot?mvwnez');
    src:    url('../fonts/customfont.eot?mvwnez#iefix') format('embedded-opentype'),
        url('../fonts/customfont.ttf?mvwnez') format('truetype'),
        url('../fonts/customfont.woff?mvwnez') format('woff'),
        url('../fonts/customfont.svg?mvwnez#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'customfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
	font-size:15px;
	line-height:26px;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-view:before {
    content: "\e900";
	font-size:13px;
}
.icon-google-earth:before {
    content: "\e901";
}
.icon-line-chart:before {
    content: "\e902";
}





.hi-icon-effect-1 .hi-icon:after {
    left: -7px;
    opacity: 0;
    padding: 7px;
    top: -7px;
    transform: scale(0.6);
    transition: transform 0.2s ease 0s, opacity 0.2s ease 0s;
}
.hi-icon-effect-1 .hi-icon.btn-primary:after {
    box-shadow: 0 0 0 3px #337ab7;
}
.hi-icon-effect-1 .hi-icon.btn-danger:after {
    box-shadow: 0 0 0 3px #d9534f;
}
.hi-icon-effect-1 .hi-icon.btn-warning:after {
    box-shadow: 0 0 0 3px #ec971f;
}
.hi-icon-effect-1 .hi-icon.btn-info:after {
    box-shadow: 0 0 0 3px #5bc0de;
}
.hi-icon:after {
    border-radius: 50%;
    box-sizing: content-box;
    content: "";
    height: 100%;
    pointer-events: none;
    position: absolute;
    width: 100%;
}
.hi-icon-effect-1 .hi-icon {
    transition: background 0.2s ease 0s, color 0.2s ease 0s;
	width:25px;
	height:25px;
	color:#fff;
	line-height:25px;
}
.hi-icon {
    border-radius: 50%;
    color: #f0f;
    cursor: pointer;
    display: inline-block;
    /*font-size: 0;*/
    margin: 0 12px 0 0 ;
    position: relative;
    text-align: center;
    z-index: 1;
}
.hi-icon-effect-1a .hi-icon.btn-primary:hover::after,
.hi-icon-effect-1a .hi-icon.btn-danger:hover:after,
.hi-icon-effect-1a .hi-icon.btn-warning:hover:after,
.hi-icon-effect-1a .hi-icon.btn-info:hover:after {
    opacity: 1;
    transform: scale(0.8);
}
.hi-icon-effect-1a .hi-icon.btn-primary:hover,
.hi-icon-effect-1a .hi-icon.btn-danger:hover,
.hi-icon-effect-1a .hi-icon.btn-warning:hover,
.hi-icon-effect-1a .hi-icon.btn-info:hover{
	color: #fff;
}
.hi-icon-effect-1a .hi-icon.btn-primary:hover {
    background: #337ab7 none repeat scroll 0 0;
}
.hi-icon-effect-1a .hi-icon.btn-danger:hover {
    background: #d9534f none repeat scroll 0 0;
}
.hi-icon-effect-1a .hi-icon.btn-warning:hover {
    background: #ec971f none repeat scroll 0 0;
}
.hi-icon-effect-1a .hi-icon.btn-info:hover {
    background: #5bc0de none repeat scroll 0 0;
}
.btn-warning{
	background-color:#e98900;
}
.panel .panel-heading h4{
	width:90%;
}
.panel .panel-heading .arrow:after{
	content: "\f078";
	font-size:17px;
}
.panel .panel-heading.collapsed .arrow:after{
	font-size:17px;
	content: "\f054";
}