@model GA.DataTransfer.Classes_for_Services.PilotLogSummaryEmailModel

@using Mvc.Mailer;

@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

    <style>
        body, html, .padding_margin_zero, hr { /* set size of body to full page and remove margins */
            padding: 5px;
            margin: 0px;
            color: #7A7A7A;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 1em;
            line-height: 25px;
        }

        h2, h1 {
            font-weight: bold !important;
            color: #333333;
            font-size: 15px;
            margin: 0px;
            padding: 0px 0px 5px 0px;
        }

        p {
            color: #7A7A7A;
            padding: 0;
            margin: 0;
            line-height: 22px;
            font-size: 1em;
        }

        .clr {
            clear: both;
        }

        #main {
            border-top: #265069 solid 5px;
            border-bottom: #265069 solid 5px;
            padding-bottom: 20px;
            padding-top: 20px;
        }

        .center_im {
            text-align: center;
        }

        .table_im {
            border-collapse: collapse;
            margin: 10px 0px 10px 0px;
            font-size: 1em;
            border: #cccccc solid 1px;
        }

        img {
            border: #ccc solid 4px;
        }

        .divL {
            float: left;
            width: 45%;
            padding: 2%;
        }

        .divR {
            float: right;
            padding: 2%;
            width: 45%;
        }

        .divinnerL {
            float: left;
            width: 138px;
        }

        .divinnerR {
            float: left;
            width: 60%;
            text-align: left;
        }

        .divinnertop {
            padding-bottom: 20px;
        }

        .divinnerRL {
            float: left;
            width: 100px;
        }

        .divinnerRR {
            float: left;
            widrh: 70%;
        }

        .rinnerstuff {
            padding: 10px;
        }
    </style>

    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <link href="fstyle.css" rel="stylesheet" type="text/css" />
    <title>Fight Summary</title>
</head>
<body>
    <div id="main">
        <div class="center_im">

            @Html.InlineImage("logo", "Company Logo")


            @*<img src= @Url.Abs(Url.Content("https://guardianavionicsdata.com/Images//gaImage_635458883370844000.png")) />*@


            @*            <img src="https://guardianavionicsdata.com/Images//gaImage_635458883370844000.png" />*@
        </div>
        <div>
            <p>
                Dear @Html.DisplayFor(a => a.PilotName),
                <br />
                The Pilot EFB app has recorded a completed flight and a summary of your most current flight information is listed below.
            </p>
            <br />
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
                <tr>
                    <td align="center">
                    @*<img src="image/pilot.png" />*@

                    @Html.InlineImage("PilotImage", "PIlot Image")

                    <br />
                    <td align="center">
                    @*<img src="image/aircraft.png" />*@
                    
                        @Html.InlineImage("AircraftImage", "Aircraft Image")

                    <br />
                </tr>
            </table>
        </div>
        <div>
            <table width="100%" border="1" cellspacing="0" cellpadding="3" class="table_im">
                <tr bgcolor="#F4F4F4">
                    <td>Aircraft identification:</td>
                    <td>@Html.DisplayFor(m => m.Nnumber)</td>
                </tr>
                <tr bgcolor="#ffffff">
                    <td>Flight completed on:</td>
                    <td>@Html.DisplayFor(m => m.FlightCompletedOn)</td>
                </tr>
                <tr bgcolor="#F4F4F4">
                    <td>Length of Flight:</td>
                    <td>@Html.DisplayFor(m => m.LengthOfFlight)</td>
                </tr>
                <tr bgcolor="#ffffff">
                    <td>Start Tach time:</td>
                    <td>@Html.DisplayFor(m => m.StartTachTime)</td>
                </tr>
                <tr bgcolor="#F4F4F4">
                    <td>End Tach time:</td>
                    <td>@Html.DisplayFor(m => m.EndTachTime)</td>
                </tr>
                <tr bgcolor="#ffffff">
                    <td>Start Hobbs time:</td>
                    <td>@Html.DisplayFor(m => m.StartHobbsTime)</td>
                </tr>
                <tr bgcolor="#F4F4F4">
                    <td>End Hobbs time:</td>
                    <td>@Html.DisplayFor(m => m.EndHobbsTime)</td>
                </tr>
                <tr bgcolor="#ffffff">
                    <td>Estimated fuel used:</td>
                    <td>@Html.DisplayFor(m => m.EstimatedFuelUsed)</td>
                </tr>
            </table>
            <p>View all your flight details at <a href="@Url.Abs(@Url.Action("Login","Home"))">www.guardianavionicsdata.com</a> and please do not forget to close your flight plan!</p>
            <br />
            <p>We hope you enjoyed your flight.</p>
            <br />
            <p>Guardian Avionics Flight Team</p>
            <br />
            Disclosure: The Summary above may not be accurate due do unforeseen technical issues. As the PIC you are responsible for verifying your actual flight information. CO Guardian dba Guardian Avionics is not responsible for any errors on this page.
Pilot EFB App is a product of CO Guardian LLC dba Guardian Avionics. You have received this email because you have an account with Guardian Avionics.
Guardian Avionics 1951 E Airport Drive Tucson, AZ 85756    Phone 520-889-1177
        </div>
        <div class="clr"></div>
    </div>
</body>
</html>
