﻿@model List<GA.DataLayer.CategoryItems>
@{
    var id = 1;
}

<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>S.No.</th>
            <th>Item Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@id</td>
                <td>@item.CategoryItemName</td>
                <td><a class="btn btn-primary btn-xs" href="#" data-toggle="modal" data-target=".editItem-modal" onclick="ViewItem(@item.Id)"><i class="fa fa-pencil"></i></a><a class="btn btn-primary btn-xs" href="#" onclick="DeletedItem(@item.Id)"><i class="fa fa-trash"></i></a></td>
            </tr>
            id= id + 1;
        }
       
    </tbody>
</table>
