﻿@model List<GA.DataLayer.CategoryItems>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var id = 0;
    if (((IEnumerable<dynamic>)ViewBag.CatogaryList).Count() > 0)
    {
        id = @ViewBag.CatogaryList[0].Id;
    }

}


<style>
    .nav-tabs > li {
        position: relative;
    }

    .admin-body {
        padding-right: 0px !important;
    }
    /*.bootbox
        {
            display: block;
            padding: 0 15px;
            margin: 0 auto;
            background-color: transparent;
            box-shadow: none;
            border: none;
        }
        .bootbox
        .modal-dialog {
            width: auto !important;
            margin: 30px auto;
        }*/
    .nav-tabs > li > a {
        display: inline-block;
    }

    .nav-tabs > li > span {
        display: none;
        cursor: pointer;
        position: absolute;
        right: 6px;
        top: 8px;
        color: red;
    }

    .nav-tabs > li:hover > span {
        display: inline-block;
    }

    .tab-content {
        margin: 0px 0 0;
    }
</style>
@Scripts.Render("~/bundles/Inventory")
<script src="~/js/Inventory.js"></script>
<div>
    <ul class="nav nav-tabs" role="tablist" id="Categorylist">
        @foreach (var item in @ViewBag.CatogaryList)
        {
            <li id="List_@item.Id">
                <a href="#Category_@item.Id" data-toggle="tab" ondblclick="editcat(@item.Id)" onclick="CatItemList('@item.Id')">@item.CategoryName</a><span onclick="DeleteCat('@item.Id')">x</span>
            </li>
        }
        <li>
            <a href="#" class="add-contact hide_button" onclick="CatItemList(0);">+ Add Category</a>
        </li>
    </ul>
    <div class="tab-content">
        <div>
            <button class="btn-rounded btn-primary marginbottom10 pull-right" onclick="resetItem();" data-toggle="modal" data-target=".addCategoryItem-modal"><i class="fa fa-plus-circle"></i>Add Item</button>
        </div>
        @foreach (var item in @ViewBag.CatogaryList)
        {
            <div class="tab-pane" id="Category_@item.Id"></div>
        }

        <div class="addCategory-modal fade modal" id="myModal" aria-hidden="true" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h3 class="modal-title" id="myModalLabel2">Add Category</h3>
                    </div>
                    <form id="formAddUser" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="modal-body clearfix">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Category Name<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" name="CategoryName" id="CategoryName" required="required" class="form-control col-md-7 col-xs-12" maxlength="100" autocomplete="Off">
                                    <span id="snpAddCategoryName" style="color:red;display:none">Category Name required</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btnCancelPartNo" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary btnAddCategory">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="EditCategory-modal fade modal" id="EditmyModal" aria-hidden="true" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h3 class="modal-title" id="myModalLabel2">Edit Category</h3>
                    </div>
                    <form id="formAddUser" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="modal-body clearfix">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Category Name<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="hidden" name="EditCategoryId" id="EditCategoryId">
                                    <input type="text" name="EditCategoryName" id="EditCategoryName" required="required" class="form-control col-md-7 col-xs-12" maxlength="100" autocomplete="Off">
                                    <span id="snpEditCategoryName" style="color:red;display:none">Category Name required</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btnCancelPartNo" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary btnEditCategory">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="addCategoryItem-modal fade modal" id="myModalItem" aria-hidden="true" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h3 class="modal-title" id="myModalLabel2">Add Item</h3>
                    </div>
                    <form id="formAddUser" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="modal-body clearfix">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Item Name<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" name="ItemName" id="ItemName" required="required" class="form-control col-md-7 col-xs-12" maxlength="100" autocomplete="Off">
                                    <span id="snpAddItemName" style="color:red;display:none">Item Name required</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btnCancelPartNo" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary btnAddItem">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="editItem-modal fade modal" id="EditModalItem" aria-hidden="true" role="dialog">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h3 class="modal-title" id="myModalLabel2">Edit Item</h3>
                    </div>
                    <form id="formAddUser" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="modal-body clearfix">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Item Name<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="hidden" name="EditItemId" id="EditItemId">
                                    <input type="text" name="EditItemName" id="EditItemName" required="required" class="form-control col-md-7 col-xs-12" maxlength="100" autocomplete="Off">
                                    <span id="snpEditItemName" style="color:red;display:none">Item Name required</span>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger btnCancelPartNo" data-dismiss="modal">Cancel</button>
                            <button type="button" class="btn btn-primary btnEditItem">Add</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div id="Userpage">
            @*@Html.Partial("_CategoryItems", Model)*@
            <div class="table-responsive">
                    <table id="datatable-fixed-header" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>S.No.</th>
                                <th>Item Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody id="AddItemList">

                        </tbody>
                    </table>
                </div>
        </div>
    </div>
</div>

<script>
    $(".table-responsive").show();
    $(".btn-rounded").show();
    if (@id== 0) {
        $(".table-responsive").hide();
        $(".btn-rounded").hide();
    }
    else if (localStorage.tabId == undefined) {
        $("#List_" +@id).first().addClass("active");
        $("#Category_" +@id).first().addClass("active in");
    }
    else {
        $("#List_" + localStorage.tabId).first().addClass("active");
        $("#Category_" + localStorage.tabId).first().addClass("active in");
        CatItemList(localStorage.tabId);
    }


    $(".nav-tabs").on("click", "a", function (e) {
        e.preventDefault();
        $(this).tab('show');
    })
    //.on("click", "span", function () {
    //     anchor = $(this).siblings('a');
    //    $(anchor.attr('href')).remove();
    //    $(this).parent().remove();
    //    $(".nav-tabs li").children('a').first().click();
    //});


    $('.add-contact').click(function (e) {
        e.preventDefault();
        $("#myModal").modal('show');
    });

    function reset() {
        $("#CategoryName").val('');
        $("#snpAddCategoryName").hide();
    }
    function resetItem() {
        $("#ItemName").val('');
        $("#snpAddItemName").hide();
    }


    $('.btnEditCategory').bind('click', function () {
        if (EditValidate()) {
            $.post("/IMounts/Category/AddupdateCategory", {
                CategoryName: $("#EditCategoryName").val(),
                Id: $("#EditCategoryId").val()
            }, function (data) {
                $('#myLoadingElement').hide();
                $("#EditmyModal").modal('hide');
                localStorage.tabId = $("#EditCategoryId").val();
                bootbox.alert('Category updated successfully.', function () {
                    location.reload();
                });
            });
        }
    });

    $('.btnAddCategory').bind('click', function () {
        if (Validate()) {
            var id = 0;
            $.post("/IMounts/Category/AddupdateCategory", {
                CategoryName: $("#CategoryName").val(),
                Id: 0
            }, function (data) {
                id = data.Id;
                $('#myLoadingElement').hide();
                var name = $("#CategoryName").val();
                $("a.add-contact").closest('li').before('<li><a href="#category_' + id + '" data-toggle="tab" ondblclick="editcat(' + id + ')"  onclick="CatItemList(' + id + ')">' + name + '</a><span onclick="DeleteCat(' + id + ')">x</span></li>');
                $('.tab-content').append('<div class="tab-pane" id="category_' + id + '"></div>');
                $("#myModal").modal('hide');
                localStorage.catId = data.Id;
                bootbox.alert('Category added successfully.', function () {
                    reset();
                });
            });
        }
    });

    function Validate() {
        var isValid = true;
        if ($("#CategoryName").val().trim() == "") {
            $("#snpAddCategoryName").show();
            isValid = false;
        }

        return isValid;
    }
    function EditValidate() {
        var isValid = true;
        if ($("#EditCategoryName").val().trim() == "") {
            $("#snpEditCategoryName").show();
            isValid = false;
        }

        return isValid;
    }
    function DeleteCat(id) {
        bootbox.confirm("Are you sure to delete the category?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Category/DeletedCategory", {
                    id: id
                }, function (data) {
                    $('#myLoadingElement').hide();
                    bootbox.alert('Category deleted successfully.', function () {
                        location.reload();
                    });
                });
            }
        });
    }
    function DeletedItem(id) {
        bootbox.confirm("Are you sure to delete the category item?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Category/DeletedItem", {
                    id: id
                }, function (data) {
                    $('#myLoadingElement').hide();
                    bootbox.alert('Item deleted successfully.', function () {
                        location.reload();
                        //CatItemList(localStorage.tabId);
                    });
                });
            }
        });
    }
    function ItemValidate() {
        var isValid = true;
        if ($("#ItemName").val().trim() == "") {
            $("#snpAddItemName").show();
            isValid = false;
        }
        return isValid;
    }
    function EditItemValidate() {
        var isValid = true;
        if ($("#EditItemName").val().trim() == "") {
            $("#snpEditItemName").show();
            isValid = false;
        }
        return isValid;
    }

    $('.btnAddItem').bind('click', function () {
        if (ItemValidate()) {
            var catId = localStorage.catId;//$("#Categorylist li.active").attr('id').split('_')[1];
            $.post("/IMounts/Category/AddupdateCategoryItem", {
                CategoryItemName: $("#ItemName").val(),
                CategoryId: catId,
                Id: 0
            }, function (data) {
                $('#myLoadingElement').hide();
                bootbox.alert('Item added successfully.', function () {
                    location.reload();
                });
            });
            $("#myModalItem").modal('hide');
        }
    });
    $('.btnEditItem').bind('click', function () {
        if (EditItemValidate()) {
            $("#EditModalItem").modal('hide');
            //var catId = $("#Categorylist li.active").attr('id').split('_')[1];
            $.post("/IMounts/Category/AddupdateCategoryItem", {
                CategoryItemName: $("#EditItemName").val(),
                //CategoryId: catId,
                Id:$("#EditItemId").val()
            }, function (data) {
                $('#myLoadingElement').hide();
                bootbox.alert('Item updated successfully.', function () {

                    //CatItemList(data.CatId);
                });
            });

        }
    });

    function CatItemList(id) {
        $("#CategoryName").val('');
        $("#snpAddCategoryName").hide();
        if (id == 0) {
            $(".btn-rounded").hide();
            $(".table-responsive").hide();
        }
        else {
            localStorage.catId = id;
            $(".btn-rounded").show();
            $(".table-responsive").show();
            localStorage.tabId = id;
            $.post("/IMounts/Category/CatItemList", {
                Id: id
            }, function (data) {
                console.log(data.CatogaryItemList);
                //$('#Userpage').html(data.CatogaryItemList);
                //$('#datatable-fixed-header').dataTable();
                $("#AddItemList").empty();
                var j = 1;
                for (var i = 0; i < data.CatogaryItemList.length; i++) {
                    $("#AddItemList").append('<tr><td>' + j + '</td><td>' + data.CatogaryItemList[i].CategoryItemName + '</td><td><a class="btn btn-primary btn-xs" href="#" data-toggle="modal" data-target=".editItem-modal" onclick="ViewItem(' + data.CatogaryItemList[i].Id + ')"><i class="fa fa-pencil"></i></a>' +
                        '<a class="btn btn-primary btn-xs" href="#" onclick="DeletedItem(' + data.CatogaryItemList[i].Id + ')"><i class="fa fa-trash"></i></a>' +
                        '</td></tr>');
                    j = j + 1;
                }

            });
        }
    }
    function ViewItem(Item) {
        $("#snpEditItemName").hide();
        $('#myLoadingElement').show();
        $.post("/IMounts/Category/GetItemdetail", {
            id: Item
        }, function (data) {
            $('#myLoadingElement').hide();
            $("#EditItemId").val(data.catItem.Id);
            $("#EditItemName").val(data.catItem.CategoryItemName);
        });
    }
    function editcat(cat) {
        $("#snpEditCategoryName").hide();
        $("#EditmyModal").modal('show');
        $('#myLoadingElement').show();
        $.post("/IMounts/Category/Getdetail", {
            id: cat
        }, function (data) {
            $('#myLoadingElement').hide();
            $("#EditCategoryId").val(data.cat.Id);
            $("#EditCategoryName").val(data.cat.CategoryName);
        });
    }

</script>

