﻿@model List<GA.DataTransfer.Classes_for_Web.InappReceiptModel>


<table id="datatable-fixed-header-InappTransactionList" class="table table-striped table-bordered">
    <thead>
        <tr>
           
            <th>TransactionId</th>
            <th>Original TransactionId</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.TransactionID</td>
                <td>@item.InappOriginalTransactionId</td>
                <td>@string.Format("{0:C}", @item.Amount) </td>
                <td>@item.PurchaseDate.ToString("g")</td>
                <td><a class="btn btn-primary btn-xs" onclick="getInAppTransactionDetails('@item.TransactionID', '@item.InappOriginalTransactionId')"><i class="fa fa-search-plus"></i> View Details</a></td>
            </tr>
        }
    </tbody>
</table>