﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>I-Mounts</title>
    @*
        <link rel="stylesheet" href="~/content/quote_novated" type="text/css">
    *@
    <!-- Bootstrap -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->

    <link href="~/content/fonts/css/customfont.css" rel="stylesheet">
    <link href="~/content/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/content/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/content/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/content/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/content/css/scroller.bootstrap.min.css" rel="stylesheet">
    <link href="~/content/css/green.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="~/content/css/select2.min.css" rel="stylesheet">
    <link href="~/content/css/custom.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
    <style type="text/css">
        .watermark {
            position: absolute;
            z-index: 1;
            width: 80%;
            text-align: center;
            top: 15%;
            height: 100%;
            opacity: 0.3;
            font-size: 240px;
        }
    </style>
    @Html.Partial("_GoogleAnalytics")
</head>
<body class="nav-md admin-body">
    @using GA.Common;
    @{var imagePath = string.Empty;
        imagePath = Session["ImageUrl"] as string;
        var userType = ViewBag.UserType;
        var username = Session["UserName"] as string;

    }
    <div class="loaderwrap" id="myLoadingElement" style="display:none"><div class="loaderdiv"><div class="loader">Loading...</div></div></div>
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    @if (userType == Enumerations.UserType.InventoryAdmin.ToString() ||
            userType == Enumerations.UserType.InventorySubAdmin.ToString() ||
            userType == Enumerations.UserType.InventoryProduction.ToString())
                    {
                        <div class="navbar nav_title" style="border: 0;"> <a href="@Url.Action("PurchaseOrder", "Inventory")" class="site_title"><i class="fa fa-plane"></i> <span>I-Mounts!</span></a> </div>
                    }
                    else if (userType == Enumerations.UserType.InventorySales.ToString())
                    {
                        <div class="navbar nav_title" style="border: 0;"> <a href="@Url.Action("Invoice", "Inventory")" class="site_title"><i class="fa fa-plane"></i> <span>I-Mounts!</span></a> </div>
                    }

                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile">


                        <div class="profile_pic"> <img src="@imagePath" alt="..." class="img-circle profile_img"> </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@username</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>&nbsp;</h3>
                            <ul class="nav side-menu">
                                <li><a href="@Url.Action("DashBoard", "DashBoardInventory")"><i class="fa fa-plane"></i> Dashboard <span class="fa fa-chevron-down"></span></a> </li>
                                <li id="liInventoryHead">
                                    <a><i class="fa fa-plane"></i> Inventory <span class="fa fa-chevron-down"></span></a>
                                    <ul class="nav child_menu">
                                        @if (userType == "Admin" || userType == "InventoryAdmin" || userType == "InventorySubAdmin")
                                        {

                                            <li><a href="@Url.Action("PartIndex", "Inventory")">Part Index</a> </li>
                                            <li><a href="@Url.Action("Vendor", "Inventory" )">Vendor</a></li>
                                            <li><a href="@Url.Action("Receiver", "Inventory" )">Receiver</a></li>
                                            <li id="liSideMenuPartNo"><a href="@Url.Action("PartNo", "Inventory" )">PartNo</a></li>
                                            <li><a href="@Url.Action("Customer", "Inventory" )">Customer Type</a></li>
                                            <li><a href="@Url.Action("InventoryCustomer", "Inventory")">Customer</a></li>
                                            <li><a href="@Url.Action("KitAssembly", "Inventory" )">Kit Assembly</a></li>
                                            <li><a href="@Url.Action("PurchaseOrder", "Inventory" )">Receive Order</a></li>
                                            <li><a href="@Url.Action("Units", "Inventory" )">Unit Search</a></li>
                                            <li><a href="@Url.Action("InventoryReduction", "Inventory")">Inventory Reduction</a> </li>
                                            <li id="liInventory"><a href="@Url.Action("Invoice", "Inventory" )">Invoice</a></li>
                                            <li><a href="@Url.Action("Reports", "Inventory" )">Report</a></li>
                                            <li><a href="@Url.Action("RMA", "Inventory")">RMA</a></li>
                                            <li><a href="@Url.Action("Discrepancy", "Inventory")">Discrepancy</a></li>
                                            <li><a href="@Url.Action("RMAStatus", "Inventory")">RMA Status</a></li>
                                            <li><a href="@Url.Action("Resolution", "Inventory")">Resolution</a></li>
                                            <li><a href="@Url.Action("GAVDocs", "Inventory")">GAV-BigDog</a> </li>
                                        }
                                        else if (userType == "InventoryProduction")
                                        {
                                            <li><a href="@Url.Action("Receiver", "Inventory" )">Receiver</a> </li>
                                            <li><a href="@Url.Action("PurchaseOrder", "Inventory" )">Receive Order</a> </li>
                                            <li><a href="@Url.Action("Units", "Inventory" )">Unit Search</a> </li>
                                            <li><a href="@Url.Action("Invoice", "Inventory" )">Invoice</a> </li>
                                            <li><a href="@Url.Action("Reports", "Inventory" )">Report</a> </li>
                                        }
                                        else if (userType == "InventorySales")
                                        {
                                            <li><a href="@Url.Action("Customer", "Inventory" )">Customer</a> </li>
                                            <li><a href="@Url.Action("Units", "Inventory" )">Unit Search</a> </li>
                                            <li><a href="@Url.Action("Invoice", "Inventory" )">Invoice</a> </li>
                                            <li><a href="@Url.Action("Reports", "Inventory" )">Report</a> </li>
                                        }
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- sidebar menu -->
                    <!-- /menu footer buttons -->
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav clearfix">
                <div class="nav_menu">
                    <nav class="clearfix" role="navigation">
                        <div class="nav toggle"> <a id="menu_toggle"><i class="fa fa-bars"></i></a> </div>
                        <div class="title-full col-sm-6">
                            <h3> @ViewBag.PageHeaderTitle <span id="spnRMANoHeader" style="color:red"></span></h3>
                        </div>
                        <ul class="nav navbar-nav navbar-right col-sm-4">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle togglebtn" data-toggle="dropdown" aria-expanded="false"> <img src="@imagePath" alt="">@username <span class="fa fa-angle-down"></span> </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right togglebtncontent">
                                    <li><a href="@Url.Action("Index","Admin")"><i class="fa fa-sign-out pull-right"></i> Home</a> </li>
                                    <li><a href="@Url.Action("Logout","Home")"><i class="fa fa-sign-out pull-right"></i> Log Out</a> </li>
                                </ul>
                            </li>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li> <a> <span class="image"> <img src="./../Images/img.jpg" alt="Profile Image" /> </span> <span> <span>John Smith</span> <span class="time">3 mins ago</span> </span> <span class="message"> Film festivals used to be do-or-die moments for movie makers. They were where... </span> </a> </li>
                                <li> <a> <span class="image"> <img src="./../Images/img.jpg" alt="Profile Image" /> </span> <span> <span>John Smith</span> <span class="time">3 mins ago</span> </span> <span class="message"> Film festivals used to be do-or-die moments for movie makers. They were where... </span> </a> </li>
                                <li> <a> <span class="image"> <img src="./../Images/img.jpg" alt="Profile Image" /> </span> <span> <span>John Smith</span> <span class="time">3 mins ago</span> </span> <span class="message"> Film festivals used to be do-or-die moments for movie makers. They were where... </span> </a> </li>
                                <li> <a> <span class="image"> <img src="./../Images/img.jpg" alt="Profile Image" /> </span> <span> <span>John Smith</span> <span class="time">3 mins ago</span> </span> <span class="message"> Film festivals used to be do-or-die moments for movie makers. They were where... </span> </a> </li>
                                <li>
                                    <div class="text-center"> <a> <strong>See All Alerts</strong> <i class="fa fa-angle-right"></i> </a> </div>
                                </li>
                            </ul>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12"> @RenderBody() </div>
                </div>
            </div>
            <!-- /page content -->

        </div>
    </div>
    <!-- footer content -->
    <footer class="container-fluid" style="margin-left: 0;">
        <div class="text-center"> GuardianAvionics.com © 2017 | All Rights Reserved </div>
    </footer>
    @if (ViewBag.IsAircraftProfile == null)
    {
        if (ViewBag.ControllerName != "Inventory")
        {
            @Scripts.Render("~/bundles/JqueryJs")
            @*<script src="~/js/jquery.js"></script>*@
            <!-- jQuery -->
            <!-- Bootstrap Core JavaScript -->
            @Scripts.Render("~/bundles/bootstrapJs")
            @*< script src="~/vendors/bootstrap/dist/js/bootstrap.js"></script>*@
        }
    }
    else
    {

        <!-- jQuery -->
        <!-- Bootstrap Core JavaScript -->
        @Scripts.Render("~/bundles/bootstrapJs")
        @*< script src="~/vendors/bootstrap/dist/js/bootstrap.js"></script>*@
        @Scripts.Render("~/bundles/JqueryJs")
        @*<script src="~/js/jquery.js"></script>*@
    }
    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
    @Scripts.Render("~/bundles/datatables")
    @*@if (ViewBag.IsAircraftProfile == null)
        {
        <script src="~/js/jquery.js"></script>
        <!-- jQuery -->
        <!-- Bootstrap Core JavaScript -->
        <script src="~/Scripts/bootstrap.min.js"></script>
        }
        else
        {

        <!-- jQuery -->
        <!-- Bootstrap Core JavaScript -->
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/js/jquery.js"></script>
        }*@


    <!-- Datatables -->
    @*<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
        <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
        <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
        <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
        <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
        <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
        <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
        <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
        <script src="~/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
        <script src="~/vendors/jszip/dist/jszip.min.js"></script>
        <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
        <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>*@

    <!-- Datatables -->

    <script src="~/js/custom.js"></script>
    <!-- iCheck -->
    <script src="~/Scripts/icheck.js"></script>
    <script>
        $(document).ready(function () {

            $(".togglebtn").click(function () {

                $(".togglebtncontent").toggle();
            });

            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [
                            {
                                extend: "copy",
                                className: "btn-sm"
                            },
                            {
                                extend: "csv",
                                className: "btn-sm"
                            },
                            {
                                extend: "excel",
                                className: "btn-sm"
                            },
                            {
                                extend: "pdfHtml5",
                                className: "btn-sm"
                            },
                            {
                                extend: "print",
                                className: "btn-sm"
                            },
                        ],
                        responsive: true
                    });
                }
            };

            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();

            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
                keys: true
            });

            $('#datatable-responsive').DataTable();

            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });

            var table = $('#datatable-fixed-header, #datatable-fixed-header1').DataTable({
                fixedHeader: true
            });

            TableManageButtons.init();
        });
    </script>
    <!-- /Datatables -->
    <!-- bootstrap-wysiwyg -->
    <script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="../vendors/google-code-prettify/src/prettify.js"></script>
    <!-- Select2 -->
    <script src="../vendors/select2/dist/js/select2.full.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".select2_single").select2({
                placeholder: "Select a state",
                allowClear: true
            });
            $(".select2_group").select2({

            });

            $(".select_group").select2({
                showSearchBox: false,
                minimumResultsForSearch: -1
            });
            $(".select2_multiple").select2({
                maximumSelectionLength: 44,
                placeholder: "Select multiple users",
                allowClear: true
            });
        });
    </script>
    <!-- /Select2 -->
    <!-- Parsley -->
    <script src="../vendors/parsleyjs/dist/parsley.min.js"></script>
    <script>
        $(document).ready(function () {
            $.listen('parsley:field:validate', function () {
                validateFront();
            });
            $('#demo-form .btn').on('click', function () {
                $('#demo-form').parsley().validate();
                validateFront();
            });
            var validateFront = function () {
                if (true === $('#demo-form').parsley().isValid()) {
                    $('.bs-callout-info').removeClass('hidden');
                    $('.bs-callout-warning').addClass('hidden');
                } else {
                    $('.bs-callout-info').addClass('hidden');
                    $('.bs-callout-warning').removeClass('hidden');
                }
            };
        });

        $(document).ready(function () {
            $.listen('parsley:field:validate', function () {
                validateFront();
            });
            $('#demo-form2 .btn').on('click', function () {
                $('#demo-form2').parsley().validate();
                validateFront();
            });
            var validateFront = function () {
                if (true === $('#demo-form2').parsley().isValid()) {
                    $('.bs-callout-info').removeClass('hidden');
                    $('.bs-callout-warning').addClass('hidden');
                } else {
                    $('.bs-callout-info').addClass('hidden');
                    $('.bs-callout-warning').removeClass('hidden');
                }
            };
        });
        try {
            hljs.initHighlightingOnLoad();
        } catch (err) { }
    </script>
    <!-- /Parsley -->
    <!--custom hide show selected user div-->
    <script>
        $(document).ready(function () {
            var $RIGHT_COL = $('.right_col'),
                $BODY = $('body'),
                $LEFT_COL = $('.left_col'),
                $RIGHT_COL = $('.right_col'),
                $NAV_MENU = $('.nav_menu'),
                $FOOTER = $('footer');
            $RIGHT_COL.css('min-height', $(window).height());

            var bodyHeight = $BODY.height(),
                leftColHeight = $LEFT_COL.eq(1).height() + $SIDEBAR_FOOTER.height(),
                contentHeight = bodyHeight < leftColHeight ? leftColHeight : bodyHeight;

            // normalize content
            contentHeight -= $NAV_MENU.height() + $FOOTER.height();
            $RIGHT_COL.css('min-height', contentHeight);

            $("#hides").click(function () {
                $(".selectusers").hide();
                $("#hides1").addClass('checked');
                $("#shows1").removeClass('checked');
            });
            $("#shows").click(function () {
                $(".selectusers").show();
                $("#shows1").addClass('checked');
                $("#hides1").removeClass('checked');
            });
        });
    </script>
    <!--custom hide show selected user div-->
    <script src="~/Scripts/colResizable-1.5.min.js"></script>
    @*
        <script src="~/Scripts/colResizable-1.6.js"></script>*@

</body>
</html>
