﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>I-Mounts</title>
    <link rel="stylesheet" href="~/content/quote_novated" type="text/css">
    <!-- Bootstrap -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/content/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/content/css/custom.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
    <link href="~/content/css/responsive.css" rel="stylesheet">
    <link href="~/content/css/creative1.css" rel="stylesheet">
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootbox.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>

        function showHide(divToShow, divHide1, divHide2) {
            $('#' + divToShow).show();
            $('#' + divHide1).hide();
            $('#' + divHide2).hide();
        }

        $(document).ready(function () {
            $('#btnBack').hide();
            showHide('divForgotPassword1', 'divForgotPassword2', 'divForgotPassword3');
            // hide loader
            $('#divLoader').hide();

            $('#btnEmailOrSerQueSubmit').click(function () {
                if ($('#hdnDivId').val() == 1) {

                    if ($('#txtEmail').val() == '') {
                        bootbox.alert('Please enter the Email Id.', function () {
                        });
                        return;
                    }
                    if ($("input:radio[name='rbtnForgotPassword']:checked").val() == 'Email') {
                        //ShowLoader();
                        $.ajax({
                            url: '@Url.Action("SemdMailForResetPassword", "Home")',
                            data: {
                                "userEmail": $('#txtEmail').val(),
                            },
                            success: function (data) {
                                //HideLoader();
                                alert(data.message);
                                window.location.href = '/Home/login';
                            }
                        });
                    } else {


                        $.ajax({
                            url: '@Url.Action("SelectQuestionByEmailid", "Home")',
                            data: {
                                "userEmail": $('#txtEmail').val(),
                            },
                            success: function (data) {

                                if (data.message == 'Invalid Email Id') {
                                    alert(data.message);
                                } else {
                                    $("#spnQuestion").html(data.message);
                                    $('#hdnDivId').val(2);
                                    $('#btnBack').show();
                                    showHide('divForgotPassword2', 'divForgotPassword1', 'divForgotPassword3');
                                    $("#divForgotPassword1").attr("style", "display:none");
                                }
                            }
                        });
                    }
                    return;
                }

                if ($('#hdnDivId').val() == 2) {
                    $.ajax({
                        url: '@Url.Action("ValidateSecurityAnswer", "Home")',
                        data: {
                            "email": $('#txtEmail').val(),
                            "securityAnswer": $('#txtSecurityAnswer').val(),
                        },
                        success: function (data) {
                            if (!data.result) {
                                bootbox.alert('Invalid Security Answer', function () {
                                });
                            } else {
                                showHide('divForgotPassword3', 'divForgotPassword1', 'divForgotPassword2');
                                $('#hdnDivId').val(3);
                            }

                        }
                    });
                    return;
                }

                if ($('#hdnDivId').val() == 3) {

                    if ($('#txtNewPassword').val() == '' || $('#txtRetypePassword').val() == '') {
                        bootbox.alert('Password fields cannot be left blank.', function () {
                        });
                        return;
                    }
                    if ($('#txtNewPassword').val() != $('#txtRetypePassword').val()) {
                        bootbox.alert('Password and Confirm Password does not match.', function () {
                        });
                        return;
                    }

                    $.ajax({
                        url: '@Url.Action("ChangePasswordByEmail", "Home")',
                        data: {
                            "email": $('#txtEmail').val(),
                            "newPassword": $('#txtNewPassword').val(),
                            "UniqueCode": ''
                        },
                        success: function (data) {
                            if (data.message != 'Success') {
                                bootbox.alert('Error ! Cannot change the password.', function () {
                                });
                            } else {
                                bootbox.alert('Password changed successfully.', function () {
                                    window.location.href = '/Home/login';
                                });

                            }

                        }
                    });
                }
            });

            $('#btnCancel').click(function () {
                window.location.href = '/Home/login';
            });

            $('#btnBack').click(function () {
                if ($('#hdnDivId').val() == 3) {
                    $('#hdnDivId').val(2);
                    showHide('divForgotPassword2', 'divForgotPassword1', 'divForgotPassword3');
                } else {
                    $('#hdnDivId').val(1);
                    showHide('divForgotPassword1', 'divForgotPassword2', 'divForgotPassword3');
                    $('#btnBack').hide();
                }
            });
        });
    </script>
    <style>
        .wrapper {
            min-height: 100%;
            position: relative;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body id="page-top">
    <div class="loaderwrap" id="myLoadingElement" style="display:none"><div class="loaderdiv"><div class="loader">Loading...</div></div></div>
    <div class="wrapper">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand page-scroll" href="#page-top"> <img src="../Images/logo_smartCloudw_nl.png"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right nav-landing-page">
                        <li> <a class="page-scroll" href="@Url.Action("", "Home")">Home</a> </li>
                        <li> <a class="page-scroll" href="@Url.Action("AboutUs", "Home")">About Us</a> </li>
                        <!--<li> <a class="page-scroll" href="#services">Services</a> </li>-->
                        <li> <a class="page-scroll" href="@Url.Action("ContactUs", "Home")">Contact Us</a> </li>
                        <li> <a class="page-scroll" href="@Url.Action("Login", "Home")">Login</a> </li>
                        <li> <a class="page-scroll" href="@Url.Action("Register", "Home")">Sign Up</a> </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <section class="container-fluid topspace">
            @RenderBody()
        </section>
        <footer class="container-fluid" style="margin-left: 0;">
            <div class="text-center"> GuardianAvionics.com © 2017 | All Rights Reserved </div>
        </footer>
    </div>
    <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->
    >
    <script src="~/js/jquery.easing.min.js"></script>
    @*<script src="~/js/creative.js"></script>*@
</body>
</html>
