﻿@model List<GA.DataTransfer.Classes_for_Web.TransactionModel>


<table id="datatable-fixed-header-transactionList" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Receipt Id</th>
            <th>Transaction Id</th>
            <th>Transaction Type</th>
            <th>Amount</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.ReceiptId</td>
                <td>@item.TransactionId</td>
                <td>@item.TransactionType</td>
                <td>$ @string.Format("{0:N2}", @item.PaymentGross) </td>
                <td>@item.Date</td>
                <td><a class="btn btn-primary btn-xs" onclick="getTransactionDetails('@item.TransactionId')"><i class="fa fa-search-plus"></i> View Details</a></td>
            </tr>
        }
    </tbody>
</table>