﻿@using GA.DataTransfer.Classes_for_Web;

@model SquawkListModelWeb

@{
    var priority = "";
}

<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="width:35%">Title Discrepancy</th>
            <th>Tail No</th>
            <th>Assigned By</th>
            <th>Created</th>
            <th>Priority</th>
            <th>Status</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.IssueList)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.RegistrationNo</td>
                <td>@item.AssignerName</td>
                <td>@item.CreateDate</td>
                <td>
                    @{
            priority = ((GA.Common.Enumerations.IssuePriority)item.PriorityId).ToString();}
                    @priority
                </td>

                @if (@item.StatusId == 1)
                {
                    <td>Open</td>
                    <td><a class="btn btn-primary btn-xs" onclick="ShowPopup(@item.Id)"><i class="fa fa-search-plus"></i> Close Issue</a></td>
                    @*<div id="div_@item.Id" class="input-group">
                            <div id="radioBtn" class="btn-group">
                                <a id="abtnOpen_@item.Id" class="btn btn-primary btn-sm active" data-toggle="happy" data-title="Open">Open</a>
                                <a id="abtnClose_@item.Id" class="btn btn-primary btn-sm notActive" data-id="@item.Id" data-toggle="happy" data-title="Close">Close</a>
                            </div>
                            <input type="hidden" name="happy" id="happy">
                        </div>*@
                }
                else
                {
                    <td>Closed</td>
                    <td></td>
                    @*<div id="div_@item.Id" class="input-group disableClick">
                            <div id="radioBtn" class="btn-group">
                                <a id="abtnOpen_@item.Id" class="btn btn-primary btn-sm notActive" data-toggle="happy" data-title="Open">Open</a>
                                <a id="abtnClose_@item.Id" class="btn btn-primary btn-sm active" data-id="@item.Id" data-toggle="happy" data-title="Close">Close</a>
                            </div>
                            <input type="hidden" name="happy" id="happy">
                        </div>*@
                }


            </tr>
        }

       
        @*<tr>
                <td>aaaa</td>
                <td>ffff</td>
                <td>fgdd</td>
                <td>dfsgdf</td>
                <td>fgdfgdf</td>
                <td>
                    @if (1 == 1)
                    {
                        <div id="div_1" class="input-group">
                            <div id="radioBtn" class="btn-group">
                                <a class="btn btn-primary btn-sm active" data-toggle="happy" data-title="Open">Open</a>
                                <a class="btn btn-primary btn-sm notActive" data-id="1" data-toggle="happy" data-title="Close">Close</a>
                            </div>
                            <input type="hidden" name="happy" id="happy">
                        </div>
                    }
                    else
                    {
                        <div id="div_1" class="input-group disableClick">
                            <div id="radioBtn" class="btn-group">
                                <a class="btn btn-primary btn-sm active" data-toggle="happy" data-title="Open">Open</a>
                                <a class="btn btn-primary btn-sm notActive" data-id="1" data-toggle="happy" data-title="Close">Close</a>
                            </div>
                            <input type="hidden" name="happy" id="happy">
                        </div>
                    }
                </td>
            </tr>*@
    </tbody>
</table>