﻿@model GA.DataTransfer.Classes_for_Web.SubTableModel

<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/bootbox.js"></script>
@{

    var isAdmin = Convert.ToBoolean(ViewBag.IsAdmin);
}
@using GA.Common;

<script type="text/javascript">

    function test(newSubId) {
        var currSubId = parseInt($("#hdnCurrSubId").val());
        if (newSubId < parseInt(currSubId)) {
            bootbox.alert('Cannot purchase the lower plan until your current plan has completed. You can stop the auto renewal for  your current subscription from user profile page', function () {
            });
            return false;
        }
        else {
            return true;
        }
    }
</script>

<table class="table table-bordered" style="background-color:white">

    <tr>
        <th> </th>
        @foreach (var sub in Model.SubscriptionList)
        {
            <th>
                @sub.SubItemName <br />
                @sub.SubDetails
            </th>
        }
    </tr>
    <tr style="background:#EDEDED">
        <td class="fontBold">smartMFD</td>
        @foreach (var sub in Model.SubscriptionList)
        {
            <td></td>
        }
    </tr>
    @foreach (var feature in Model.FeatureList.OrderBy(o => o.SNO).Where(w => w.GroupType == "MFD" || w.GroupType == "MFD&Cloud"))
    {
        <tr>
            <td>@feature.Name</td>
            @foreach (var sub in Model.SubscriptionList)
            {

                if (sub.FeatureIdList.FirstOrDefault(w => w.Id == feature.Id).IsEnable == true)
                {
                    <td><i class="fa fa-check fa-green" aria-hidden="true"></i></td>
                }
                else
                {
                    <td></td>
                }
            }
        </tr>
    }

    <tr style="background:#EDEDED">
        <td class="fontBold">smartCLOUD</td>
        @foreach (var sub in Model.SubscriptionList)
        {
            <td></td>
        }
    </tr>
    @foreach (var feature in Model.FeatureList.OrderBy(o => o.SNO).Where(w => w.GroupType == "Cloud" || w.GroupType == "MFD&Cloud"))
            {
        <tr>
            <td>@feature.Name</td>
            @foreach (var sub in Model.SubscriptionList)
            {

                if (sub.FeatureIdList.FirstOrDefault(w => w.Id == feature.Id).IsEnable == true)
                {
                    <td><i class="fa fa-check fa-green" aria-hidden="true"></i></td>
                }
                else
                {
                    <td></td>
                }
            }
        </tr>
    }
    <tr style="background:#EDEDED">
        <td class="fontBold">Pricing</td>
        @foreach (var sub in Model.SubscriptionList)
        {
            <td></td>
        }
    </tr>
    <tr>
        <td>Price per Week</td>
        <td>$ 0.00</td>
        @foreach (var sub in Model.SubscriptionList.Where(w => w.SubItemName != "Free Plan"))
        {
            if (sub.SubscriptionDetailList.FirstOrDefault(f => f.RegularFrequency == "Weekly") != null)
            {
            <td>
                $ @sub.SubscriptionDetailList.FirstOrDefault(f => f.RegularFrequency == "Weekly").Amount
                &nbsp;&nbsp;&nbsp;
                @if (Model.IsCurrSubPurchaseByInappAndActive == false && isAdmin == false)
                {
                    if (@sub.SubscriptionDetailList.FirstOrDefault(f => f.RegularFrequency == "Weekly").Id.ToString() != Model.CurrentPaymentDefinationId)
                    {
                        <form action="@ConfigurationReader.urlSubmitPayment" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="@sub.SubscriptionDetailList.FirstOrDefault(f => f.RegularFrequency == "Weekly").PaypalBId">
                            @*<input type="submit"   border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">*@
                            <button type="submit" onclick="return test(@sub.SubscriptionDetailList.FirstOrDefault(f => f.RegularFrequency == "Weekly").Id);" class="btn-rounded marginbottom10 btn-primary">Buy</button>
                        </form>
                    }
                    else
                    {
                        <input type="hidden" id="hdnCurrSubId" value="@sub.SubscriptionDetailList.FirstOrDefault(f => f.RegularFrequency == "Weekly").Id" />
                        <br />   <span style="color:green">Current Subscription plan</span>
                    }
                }
            </td>
            }
            else {
                <td></td>
            }
        }
    </tr>
    <tr>
        <td>Price per Month</td>
        <td>$ 0.00</td>
        @foreach (var sub in Model.SubscriptionList.Where(w => w.SubItemName != "Free Plan"))
        {
                <td>
                    $ @sub.SubscriptionDetailList.FirstOrDefault(f => f.RegularFrequency == "Monthly").Amount
                    &nbsp;&nbsp;&nbsp;
                    @if (Model.IsCurrSubPurchaseByInappAndActive == false && isAdmin == false)
                    {
                        if (@sub.SubscriptionDetailList.FirstOrDefault(f => f.RegularFrequency == "Monthly").Id.ToString() != Model.CurrentPaymentDefinationId)
                        {
                            <form action="@ConfigurationReader.urlSubmitPayment" method="post" target="_top">
                                <input type="hidden" name="cmd" value="_s-xclick">
                                <input type="hidden" name="hosted_button_id" value="@sub.SubscriptionDetailList.FirstOrDefault(f => f.RegularFrequency == "Monthly").PaypalBId">
                                @*<input type="submit"   border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">*@
                                <button type="submit" onclick="return test(@sub.SubscriptionDetailList.FirstOrDefault(f => f.RegularFrequency == "Monthly").Id);" class="btn-rounded marginbottom10 btn-primary">Buy</button>
                            </form>
                        }
                        else
                        {<br />
                        <input type="hidden" id="hdnCurrSubId" value="@sub.SubscriptionDetailList.FirstOrDefault(f => f.RegularFrequency == "Monthly").Id" />
                        <span style="color:green">Current Subscription plan</span>
                        }
                    }
                </td>
        }
    </tr>
    <tr>
        <td>Price per Year</td>
        <td>$ 0.00</td>
        @foreach (var sub in Model.SubscriptionList.Where(w => w.SubItemName != "Free Plan"))
        {
            <td>
                $ @sub.SubscriptionDetailList.FirstOrDefault(f => f.RegularFrequency == "Yearly").Amount
                &nbsp;&nbsp;&nbsp;
                @if (Model.IsCurrSubPurchaseByInappAndActive == false && isAdmin == false)
                {
                    if (@sub.SubscriptionDetailList.FirstOrDefault(f => f.RegularFrequency == "Yearly").Id.ToString() != Model.CurrentPaymentDefinationId)
                    {
                        <form action="@ConfigurationReader.urlSubmitPayment" method="post" target="_top">
                            <input type="hidden" name="cmd" value="_s-xclick">
                            <input type="hidden" name="hosted_button_id" value="@sub.SubscriptionDetailList.FirstOrDefault(f => f.RegularFrequency == "Yearly").PaypalBId">
                            @*<input type="submit"   border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">*@
                            <button type="submit" onclick="return test(@sub.SubscriptionDetailList.FirstOrDefault(f => f.RegularFrequency == "Yearly").Id);" class="btn-rounded marginbottom10 btn-primary">Buy</button>
                        </form>
                    }
                    else
                    {
                        <input type="hidden" id="hdnCurrSubId" value="@sub.SubscriptionDetailList.FirstOrDefault(f => f.RegularFrequency == "Yearly").Id" />
                        <br />   <span style="color:green">Current Subscription plan</span>
                    }
                  


                }
            </td>
        }
    </tr>

    @if (Model.IsCurrSubPurchaseByInappAndActive)
    {
        <tr style="text-align:center">
            <td colspan="@(Model.SubscriptionList.Count + 2)">
                You have already purchased the subscription from apple itunes.
            </td>
        </tr>
    }
</table>
