﻿@model List<GA.DataTransfer.Classes_for_Web.SubscriptionViewModel>

@using GA.Common;
@using GA.ApplicationLayer;

@*<script src="~/js/jquery.js"></script>*@

<!-- Bootstrap Core JavaScript -->
@*<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/bootbox.js"></script>*@

@{
    var id = 0;
    var hid = "";
    var pid = "";
    var phref = "";
    var isAdmin = Convert.ToBoolean(ViewBag.IsAdmin);
    var subHelper = new SubscriptionHelper();

}


<style type="text/css">
    td.Active {
        color: green;
        font-weight: bold;
    }

    td.Cancelled {
        color: red;
        font-weight: bold;
    }

    td.Suspended {
        color: red;
        font-weight: bold;
    }

    td.Completed {
        color: green;
        font-weight: bold;
    }
</style>

<script type="text/javascript">

    var flag;
    $(document).ready(function (e) {

        $('.accordion').accordion({});
        flag = false;

        var $RIGHT_COL = $('.right_col'),
              $BODY = $('body'),
               $LEFT_COL = $('.left_col'),
    $RIGHT_COL = $('.right_col'),
      $NAV_MENU = $('.nav_menu'),
    $FOOTER = $('footer');
        $RIGHT_COL.css('min-height', $(window).height());

        var bodyHeight = $BODY.height(),
            leftColHeight = $LEFT_COL.eq(1).height() + $SIDEBAR_FOOTER.height(),
            contentHeight = bodyHeight < leftColHeight ? leftColHeight : bodyHeight;

        // normalize content
        contentHeight -= $NAV_MENU.height() + $FOOTER.height();

        $RIGHT_COL.css('min-height', contentHeight);
    });

    function SuspendProfile(id) {
        $('#myLoadingElement').show();
        $.post("/IMounts/Home/SetAutoRenewOff", {
            subProfileId: id
        },
        function (data) {
            if (data == 'True') {
                $('#myLoadingElement').hide();
                bootbox.alert('Subscription Suspended Successfully.', function () {
                    $('#myLoadingElement').show();
                    window.location.href = '/Home/UserProfile';
                });
            }
            else {
                $('#myLoadingElement').hide();
                bootbox.alert('Error occurs while setting the auto renewal status as OFF.', function () {
                });
            }
        });
    }


    function ReactivateProfile(id) {
        $('#myLoadingElement').show();
        $.post("/IMounts/Home/ReActivateProfile", {
            subProfileId: id
        },
        function (data) {
            if (data == 'True') {
                $('#myLoadingElement').hide();
                bootbox.alert('Subscription reactivated Successfully.', function () {
                    $('#myLoadingElement').show();
                    window.location.href = '/Home/UserProfile';
                });
            }
            else {
                $('#myLoadingElement').hide();
                bootbox.alert('Error occurs while reactivating the subscription', function () {
                });
            }
        });
    }

    function getTransactionDetails(id) {
        $('#myLoadingElement').show();
        $.post("/IMounts/Home/GetTransactionDetails", {
            id: id
        },
               function (data) {
                   if (data.TransactionId == '') {
                       $('#myLoadingElement').hide();
                       bootbox.alert('No record found.', function () {
                       });
                   }
                   else {
                       $("#spnReceiptId").text(data.response.ReceiptId);
                       $("#spnTransactionId").text(data.response.TransactionId);
                       $("#spnSubscribeId").text(data.response.SubProfileId);
                       $("#spnDate").text(data.response.Date);
                       $("#spnPaymentStatus").text(data.response.PaymentStatus);
                       $("#spnPayerName").text(data.response.PayerFirstName + ' ' + data.response.PayerLastName);
                       $("#spnPayerEmailId").text(data.response.PayerEmailId);
                       $("#spnReceiptAmount").text(data.response.PaymentGross);
                       $("#spnCurrency").text(data.response.Currency);
                       $('#myLoadingElement').hide();
                       $('#btnSub').click();
                   }
               });
    }

    function getInAppTransactionDetails(tid) {
        $('#myLoadingElement').show();
        $.post("/IMounts/Home/GetInappTransactionDetails", {
            id: tid
        },
               function (data) {
                   if (data.TransactionID == '') {
                       $('#myLoadingElement').hide();
                       bootbox.alert('No record found.', function () {
                       });
                   }
                   else {
                       $("#spnAppleProductIdId").text(data.response.ProductId);
                       $("#spnApplePurchaseDate").text(data.response.PurchaseDate);
                       $("#spnAppleTransactionId").text(data.response.TransactionID);
                       $("#spnAppleExpiryDate").text(data.response.ExpireDate);
                       $("#spnAppleReceiptAmount").text(data.response.Amount);
                       $('#myLoadingElement').hide();
                       $('#btnInappSub').click();
                   }
               });
    }
</script>
<br />

<div class="x_panel clearfix">
    <div class="x_content">
        <!-- start accordion -->
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
            @foreach (var subscriptionViewModel in Model)
            {
                id = id + 1;
                hid = "H" + id.ToString();
                pid = "C" + id.ToString();
                phref = "#C" + id.ToString();

                if (id == 1)
                {
                    <div class="panel">
                        <a class="panel-heading" role="tab" id="@hid" data-toggle="collapse" data-parent="#accordion" href="@phref" aria-expanded="true" aria-controls="@pid">
                            <div class="clearfix">
                                @if (@subscriptionViewModel.Subscription.Status == "Active")
                                {
                                    <h4 class="panel-title col-xs-11">@subscriptionViewModel.Subscription.SubscriptionName &nbsp;&nbsp; <span style="color:green">Current Subscription plan</span></h4>
                                    <br /><span style="font-size:12px;">&nbsp;&nbsp; Purchase Date : @subscriptionViewModel.Subscription.CreateDate.ToShortDateString() - @subscriptionViewModel.Subscription.EndDate.ToShortDateString()</span>
                                }
                                else
                                {
                                    <h4 class="panel-title col-xs-11">@subscriptionViewModel.Subscription.SubscriptionName</h4>
                                    <br />  <span style="font-size:12px;">&nbsp;&nbsp; Subscription Date : @subscriptionViewModel.Subscription.CreateDate.ToShortDateString() - @subscriptionViewModel.Subscription.EndDate.ToShortDateString() </span>
                                }

                                <i class="fa arrow col-xs-1 text-right no-padding pull-right"></i>
                            </div>
                        </a>
                        <div id="@pid" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="@hid">
                            @if (@subscriptionViewModel.Subscription.PurchaseFrom == Enumerations.SubscriptionSourceEnum.Paypal.ToString())
                            {
                                <div class="panel-body" style="background-color:white">
                                    <table style="width:70%">
                                        <tr class="trSpace">
                                            <th style="width:20%">Subscription Plan</th>
                                            <td>
                                                <h4>@subscriptionViewModel.Subscription.SubscriptionName</h4>
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Details</th>
                                            <td>
                                                @subscriptionViewModel.Subscription.SubscriptionDetails
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Status</th>
                                            <td class="@subscriptionViewModel.Subscription.Status">

                                                @if (subscriptionViewModel.Subscription.Status != Enumerations.PaypalStatus.Active.ToString() && isAdmin == false)
                                                {
                                                    if (subscriptionViewModel.Subscription.Status == Enumerations.PaypalStatus.Suspended.ToString() && subscriptionViewModel.Subscription.IsExpired == false)
                                                    {
                                                        <span style="float:left;width:50%;color:green;font-weight:bold">Active <span style="color:red">(auto renew off)</span></span> 
                                                        <span style="float:left;width:50%;text-align:right">
                                                            <a id="btnReactivateProfile" onclick="ReactivateProfile('@subscriptionViewModel.Subscription.SubProfileId')">  <button type="button" class="btn-rounded marginbottom10 btn-primary">ReActivate</button></a>
                                                        </span>
                                                    }
                                                    else
                                                    {
                                                        <span style="float:left;width:50%">@subscriptionViewModel.Subscription.Status</span>
                                                        <span style="float:left;width:50%;text-align:right">
                                                            <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
                                                                <input type="hidden" name="cmd" value="_s-xclick">
                                                                <input type="hidden" name="hosted_button_id" value="@subscriptionViewModel.Subscription.PaypalButtonId">
                                                                @*<input type="submit"   border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">*@
                                                                <button type="submit" class="btn-rounded marginbottom10 btn-primary">Renew</button>
                                                            </form>
                                                        </span>
                                                    }

                                                }
                                                else if ((subscriptionViewModel.Subscription.Status == Enumerations.PaypalStatus.Active.ToString()) && isAdmin == false)
                                                {
                                                    <span style="float:left;width:50%">@subscriptionViewModel.Subscription.Status</span>
                                                            <span style="float:left;width:50%;text-align:right">
                                                                <a id="btnSuspendProfile" onclick="SuspendProfile('@subscriptionViewModel.Subscription.SubProfileId')">  <button type="button" class="btn-rounded marginbottom10 btn-primary">Auto Renew Off</button></a>
                                                            </span>
                                                }
                                                &nbsp;&nbsp;&nbsp;&nbsp;

                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Purchase From</th>
                                            <td>
                                                @subscriptionViewModel.Subscription.PurchaseFrom
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>SNO</th>
                                                <th>Receipt Id</th>
                                                <th>Transaction Id</th>
                                                <th>Transaction Type</th>
                                                <th>Amount</th>
                                                <th>Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in @subscriptionViewModel.ReceiptList)
                                            {
                                                <tr>
                                                    <td>@item.SNO</td>
                                                    <td>@item.ReceiptId</td>
                                                    <td>@item.TransactionId</td>
                                                    <td>@item.TransactionType</td>
                                                    <td>@string.Format("{0:C}", @item.PaymentGross)</td>
                                                    <td>@item.Date</td>

                                                    <td><a class="btn btn-primary btn-xs" onclick="getTransactionDetails('@item.TransactionId')"><i class="fa fa-search-plus"></i> View Details</a></td>
                                                    @*<button style="display:none" id="btnSub" class="btn-rounded marginbottom10 btn-primary pull-right" data-toggle="modal" data-target=".TransactionDetails-modal"></button>*@
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else if (@subscriptionViewModel.Subscription.PurchaseFrom == Enumerations.SubscriptionSourceEnum.InappPurchase.ToString())
                            {
                                <div class="panel-body" style="background-color:white">
                                    <table style="width:70%">
                                        <tr class="trSpace">
                                            <th style="width:20%">Subscription Plan</th>
                                            <td>
                                                <h4>@subscriptionViewModel.Subscription.SubscriptionName</h4>
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Details</th>
                                            <td>
                                                @subscriptionViewModel.Subscription.SubscriptionDetails
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Status</th>
                                            <td class="@subscriptionViewModel.Subscription.Status">
                                                @subscriptionViewModel.Subscription.Status
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Purchase From</th>
                                            <td>
                                                @subscriptionViewModel.Subscription.PurchaseFrom
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>SNO</th>
                                                <th>TransactionId</th>
                                                <th>Amount</th>
                                                <th>Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in @subscriptionViewModel.InAppReceiptList)
                                            {
                                                <tr>
                                                    <td>@item.SNO</td>
                                                    <td>@item.TransactionID</td>
                                                    <td>@string.Format("{0:C}", @item.Amount)</td>
                                                    <td>@item.PurchaseDate.ToString("g")</td>
                                                    <td><a class="btn btn-primary btn-xs" onclick="getInAppTransactionDetails('@item.TransactionID', '@item.InappOriginalTransactionId')"><i class="fa fa-search-plus"></i> View Details</a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="panel-body" style="background-color:white">
                                    <table style="width:70%">
                                        <tr class="trSpace">
                                            <th style="width:20%">Subscription Plan</th>
                                            <td>
                                                <h4>@subscriptionViewModel.Subscription.SubscriptionName</h4>
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Details</th>
                                            <td>
                                                @subscriptionViewModel.Subscription.SubscriptionDetails
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Status</th>
                                            <td class="@subscriptionViewModel.Subscription.Status">
                                                @subscriptionViewModel.Subscription.Status
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Purchase From</th>
                                            <td>
                                                @(subscriptionViewModel.Subscription.PurchaseFrom + " subscription")
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>&nbsp;</th>
                                            <td>
                                                You have a free subscription plan which is valid till @subHelper.GetExpiryDateForFreePlan(subscriptionViewModel.Subscription.CreateDate).ToString("g") (UTC time)
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                }
                else
                {
                    <div class="panel">
                        <a class="panel-heading" role="tab" id="@hid" data-toggle="collapse" data-parent="#accordion" href="@phref" aria-expanded="false" aria-controls="@pid">
                            <div class="clearfix">
                                <h4 class="panel-title col-xs-11">@subscriptionViewModel.Subscription.SubscriptionName</h4>
                                <br /> <span style="font-size:12px;">&nbsp;&nbsp;Subscription Date : @subscriptionViewModel.Subscription.CreateDate.ToShortDateString() - @subscriptionViewModel.Subscription.EndDate.ToShortDateString()</span>
                                <i class="fa arrow col-xs-1 text-right no-padding pull-right"></i>
                            </div>
                        </a>
                        <div id="@pid" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@hid">
                            @if (@subscriptionViewModel.Subscription.PurchaseFrom == Enumerations.SubscriptionSourceEnum.Paypal.ToString())
                            {

                                <div class="panel-body" style="background-color:white">
                                    <table style="width:70%">
                                        <tr class="trSpace">
                                            <th style="width:20%">Subscription Plan</th>
                                            <td>
                                                <h4>@subscriptionViewModel.Subscription.SubscriptionName</h4>
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Details</th>
                                            <td>
                                                @subscriptionViewModel.Subscription.SubscriptionDetails
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Status</th>
                                            <td class="@subscriptionViewModel.Subscription.Status">
                                                @subscriptionViewModel.Subscription.Status
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Purchase From</th>
                                            <td>
                                                @subscriptionViewModel.Subscription.PurchaseFrom
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>SNO</th>
                                                <th>Receipt Id</th>
                                                <th>Transaction Id</th>
                                                <th>Transaction Type</th>
                                                <th>Amount</th>
                                                <th>Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in @subscriptionViewModel.ReceiptList)
                                            {
                                                <tr>
                                                    <td>@item.SNO</td>
                                                    <td>@item.ReceiptId</td>
                                                    <td>@item.TransactionId</td>
                                                    <td>@item.TransactionType</td>
                                                    <td>@string.Format("{0:C}", @item.PaymentGross)</td>
                                                    <td>@item.Date</td>
                                                    <td><a class="btn btn-primary btn-xs" onclick="getTransactionDetails('@item.TransactionId')"><i class="fa fa-search-plus"></i> View Details</a></td>
                                                    @*<button style="display:none" id="btnSub" class="btn-rounded marginbottom10 btn-primary pull-right" data-toggle="modal" data-target=".TransactionDetails-modal"></button>*@
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else if (@subscriptionViewModel.Subscription.PurchaseFrom == Enumerations.SubscriptionSourceEnum.InappPurchase.ToString())
                            {
                                <div class="panel-body" style="background-color:white">
                                    <table style="width:70%">
                                        <tr class="trSpace">
                                            <th style="width:20%">Subscription Plan</th>
                                            <td>
                                                <h4>@subscriptionViewModel.Subscription.SubscriptionName</h4>
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Details</th>
                                            <td>
                                                @subscriptionViewModel.Subscription.SubscriptionDetails
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Status</th>
                                            <td class="@subscriptionViewModel.Subscription.Status">
                                                @subscriptionViewModel.Subscription.Status
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Purchase From</th>
                                            <td>
                                                @subscriptionViewModel.Subscription.PurchaseFrom
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="panel-body">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>SNO</th>
                                                <th>TransactionId</th>
                                                <th>Amount</th>
                                                <th>Date</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in @subscriptionViewModel.InAppReceiptList)
                                            {
                                                <tr>
                                                    <td>@item.SNO</td>
                                                    <td>@item.TransactionID</td>
                                                    <td>@string.Format("{0:C}", @item.Amount)</td>
                                                    <td>@item.PurchaseDate.ToString("g")</td>
                                                    <td><a class="btn btn-primary btn-xs" onclick="getInAppTransactionDetails('@item.TransactionID', '@item.InappOriginalTransactionId')"><i class="fa fa-search-plus"></i> View Details</a></td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            }
                            else
                            {
                                <div class="panel-body" style="background-color:white">
                                    <table style="width:70%">
                                        <tr class="trSpace">
                                            <th style="width:20%">Subscription Plan</th>
                                            <td>
                                                <h4>@subscriptionViewModel.Subscription.SubscriptionName</h4>
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Details</th>
                                            <td>
                                                @subscriptionViewModel.Subscription.SubscriptionDetails
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Status</th>
                                            <td class="@subscriptionViewModel.Subscription.Status">
                                                @subscriptionViewModel.Subscription.Status
                                            </td>
                                        </tr>
                                        <tr class="trSpace">
                                            <th>Purchase From</th>
                                            <td>
                                                @subscriptionViewModel.Subscription.PurchaseFrom
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            }
                        </div>
                    </div>
                }
            }
        </div>
        <!-- end of accordion -->
    </div>
</div>
<button style="display:none" id="btnSub" class="btn-rounded marginbottom10 btn-primary pull-right" data-toggle="modal" data-target=".TransactionDetails-modal"></button>
<button style="display:none" id="btnInappSub" class="btn-rounded marginbottom10 btn-primary pull-right" data-toggle="modal" data-target=".AppleTransactionDetails-modal"></button>


<div class="modal fade TransactionDetails-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Receipt Details</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="clearfix">
                    <div class="form-group clearfix tablewrap">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Receipt Id</label>
                        <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for=""><span id="spnReceiptId"></span> </label>
                        </div>
                    </div>
                    <div class="form-group clearfix tablewrap">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Transaction Id</label>
                        <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for=""><span id="spnTransactionId"></span></label>
                        </div>
                    </div>
                    <div class="form-group clearfix tablewrap">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Subscribe Id</label>
                        <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for=""><span id="spnSubscribeId"></span></label>
                        </div>
                    </div>
                    <div class="form-group clearfix tablewrap">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Date</label>
                        <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for=""><span id="spnDate"></span></label>
                        </div>
                    </div>
                    <div class="form-group clearfix tablewrap">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Payment Status</label>
                        <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for=""><span id="spnPaymentStatus"></span></label>
                        </div>
                    </div>
                    <div class="form-group clearfix tablewrap">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Payer Name</label>
                        <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for=""><span id="spnPayerName"></span></label>
                        </div>
                    </div>
                    <div class="form-group clearfix tablewrap">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Payer Email Id</label>
                        <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for=""><span id="spnPayerEmailId"></span></label>
                        </div>
                    </div>
                    <div class="form-group clearfix tablewrap">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Receipt Amount</label>
                        <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for=""><span id="spnReceiptAmount"></span></label>
                        </div>
                    </div>
                    <div class="form-group clearfix tablewrap">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Currency</label>
                        <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for=""><span id="spnCurrency"></span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnOk" class="btn btn-primary" data-dismiss="modal">Ok</button>

            </div>
        </div>
    </div>
</div>


<div class="modal fade AppleTransactionDetails-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Receipt Details</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="clearfix">
                    <div class="form-group clearfix tablewrap">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Product Id</label>
                        <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for=""><span id="spnAppleProductIdId"></span> </label>
                        </div>
                    </div>
                    <div class="form-group clearfix tablewrap">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Transaction Id</label>
                        <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for=""><span id="spnAppleTransactionId"></span></label>
                        </div>
                    </div>
                    <div class="form-group clearfix tablewrap">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Purchase Date </label>
                        <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for=""><span id="spnApplePurchaseDate"></span></label>
                        </div>
                    </div>
                    <div class="form-group clearfix tablewrap">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Expiry Date</label>
                        <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for=""><span id="spnAppleExpiryDate"></span></label>
                        </div>
                    </div>
                    <div class="form-group clearfix tablewrap">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Receipt Amount</label>
                        <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for=""><span id="spnAppleReceiptAmount"></span></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnAppleCancelAddMed" class="btn btn-primary" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>