﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>I-Mounts</title>
    @*
        <link rel="stylesheet" href="~/content/quote_novated" type="text/css">
    *@
    <!-- Bootstrap -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->

    <link href="~/content/fonts/css/customfont.css" rel="stylesheet">
    <link href="~/content/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/content/css/dataTables.bootstrap.min.css" rel="stylesheet">
    <link href="~/content/css/buttons.bootstrap.min.css" rel="stylesheet">
    <link href="~/content/css/responsive.bootstrap.min.css" rel="stylesheet">
    <link href="~/content/css/scroller.bootstrap.min.css" rel="stylesheet">
    <link href="~/content/css/green.css" rel="stylesheet">
    <!-- Select2 -->
    <link href="~/content/css/select2.min.css" rel="stylesheet">
    <link href="~/content/css/custom.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
    @Html.Partial("_GoogleAnalytics")
</head>
@using GA.DataTransfer.Classes_for_Services;
@using GA.Common;

<body class="nav-md admin-body">


    @{
        var imagePath = string.Empty;
        var userName = string.Empty;
        var userType = string.Empty;
        var email = string.Empty;
        var Profileid = string.Empty;
        var isUserAuthorization = false;
        var authList = new List<FeatureMasterModel>();
        var liveData = new GA.DataTransfer.LogBookModelWeb();
        var shownotification = false;

      
        if (Session["shownotification"] != null)
        {
        if (Convert.ToBoolean(Session["shownotification"].ToString()) == false)
        {
            shownotification = true;
        }

        }

        if (Session["UserName"] == null)
        {
            imagePath = "../Images/GA/User_Profile.jpg";
            userName = "";
        }
        else
        {
            imagePath = Session["ImageUrl"] as string;
            userName = Session["UserName"] as string;
            userType = Session["UserType"] as string;
            email = Session["Email"] as string;
            //Profileid=Session["ProfileId"] as string;
        }

        if (Session["UserAuthorization"] != null)
        {
            isUserAuthorization = true;
            authList = (List<FeatureMasterModel>)Session["UserAuthorization"];
        }

        if (Session["LiveFlightData"] != null)
        {
            liveData = (GA.DataTransfer.LogBookModelWeb)Session["LiveFlightData"];
        }
    }


    <style>

        .containerLable {
            width: 550px;
            height: 45px;
            margin: 0 auto;
            padding: 5px;
            background-color: #444;
            margin-left: 50%;
            display: inline-block;
            font-family: 'Open Sans', sans-serif;
            font-size: 13px;
            font-weight: 100;
            float: left;
            /*margin: 0 25px 0 0;
            padding: 0;*/
            line-height: 25px;
            color: #fff;
        }

        #notification-bar {
            position: fixed;
            width: 50%;
            top: 0;
            /*background-color: #444;*/
            /*border-bottom: 1px solid #333;*/
            clear: both;
            z-index: 999;
        }

        .fa-times-circle {
            float: right;
            margin-top: 0px;
            font-size: 30px;
            color: #222;
            text-align: right;
            z-index: 9;
            cursor: pointer;
        }

            .fa-times-circle:hover {
                color: #fff;
            }
    </style>

    <div class="loaderwrap" id="myLoadingElement" style="display:none"><div class="loaderdiv"><div class="loader">Loading...</div></div></div>
    <div class="container body">
        <div class="main_container">
            <div class="col-md-3 left_col">
                <div class="left_col scroll-view">
                    <div class="navbar nav_title" style="border: 0;"> <a href="@Url.Action("PilotSummary", "Home" )" class="site_title"><i class="fa fa-plane"></i> <span>I-Mounts!</span></a> </div>
                    <div class="clearfix"></div>

                    <!-- menu profile quick info -->
                    <div class="profile">
                        <div class="profile_pic"> <img id="imgMasterProfileImg" src="@imagePath" alt="..." class="img-circle profile_img"> </div>
                        <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>@userName</h2>
                        </div>
                    </div>
                    <!-- /menu profile quick info -->

                    <br />

                    <!-- sidebar menu -->
                    <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                        <div class="menu_section">
                            <h3>&nbsp;</h3>
                            <ul class="nav side-menu">
                                @if (userType == Enumerations.UserType.User.ToString())
                                {
                                    if (authList.FirstOrDefault(f => f.Name == "Flight Logs").IsEnable)
                                    {
                                        <li id="liSideMenuSummary" class="navwidth"><a class="clearfix" href="@Url.Action("PilotSummary", "Home")"><i class="fa fa-file-text-o"></i> <span class="navlabel">Flight Logs</span> </a> </li>
                                    }

                                    if (authList.FirstOrDefault(f => f.Name == "Pilot Logs").IsEnable)
                                    {
                                        <li id="liSideMenuPilotLogList" class="navwidth"><a class="clearfix" href="@Url.Action("PilotLogList", "Home")"><i class="fa fa-users"></i> <span class="navlabel">Pilot Logs</span> </a> </li>
                                    }

                                    if (liveData.AircraftId != 0)
                                    {
                                        <li id="liSideMenuLiveData" class="navwidth"><a class="clearfix" href="@Url.Action("FlightDataLogLive", "Home", new { pid = liveData.TId, flag = -1, aircraftId = liveData.AircraftId, uniqueId = liveData.UniqeId })"><i class="fa fa-plane"></i> <span class="navlabel">Live Data</span> <img id="Imageshow" src="~/Images/record-button.gif" style="width:20px;height:20px" /></a> </li>
                                    }
                                    else
                                    {
                                        <li id="liSideMenuLiveData" class="navwidth"><a class="clearfix" href="javascript:void(0)"><i class="fa fa-plane"></i> <span class="navlabel">Live Data</span><img id="Imageshow" hidden="true" src="~/Images/record-button.gif" style="width:20px;height:20px" /></a> </li>
                                    }

                                    <li id="liSideMenuAircraftList" class="navwidth"><a class="clearfix" href="@Url.Action("AircraftList", "Aircraft")"><i class="fa fa-plane"></i> <span class="navlabel">Aircraft Profile</span> </a> </li>
                                    <li id="liSideMenuCheckList" class="navwidth"><a class="clearfix" href="@Url.Action("AircraftListofCheckList", "CheckList")"><i class="fa fa-plane"></i> <span class="navlabel">CheckLists</span> </a> </li>
                                    <li id="liSideMenuUserprofile" class="navwidth"><a class="clearfix" href="@Url.Action("UserProfile", "Home")"><i class="fa fa-user"></i> <span class="navlabel">Pilot Profile</span> </a> </li>

                                    if (authList.FirstOrDefault(f => f.Name == "Flight Bag").IsEnable)
                                    {
                                        <li id="liSideMenuDocument" class="navwidth"><a class="clearfix" href="@Url.Action("Document", "Home")"><i class="fa fa-files-o"></i> <span class="navlabel">Flight Bag</span> </a> </li>
                                    }

                                    if (authList.FirstOrDefault(f => f.Name == "Squawk Form").IsEnable)
                                    {
                                        <li id="liSideMenuSquawktList" class="navwidth"><a class="clearfix" href="@Url.Action("SquawkList", "Aircraft")"><i class="fa fa-file-text-o"></i> <span class="navlabel">Squawks</span> </a> </li>
                                    }
                                    <li id="liSideMenuPreference" class="navwidth"><a class="clearfix" href="@Url.Action("Preferences", "Home")"><i class="fa fa-cogs"></i> <span class="navlabel">Settings</span> </a> </li>
                                }
                                else if (userType == Enumerations.UserType.DemoUser.ToString())
                                {
                                    <li id="liSideMenuSummary" class="navwidth"><a class="clearfix" href="@Url.Action("PilotSummary", "Home")"><i class="fa fa-file-text-o"></i> <span class="navlabel">Flight Logs</span> </a> </li>
                                    <li id="liSideMenuPilotLogList" class="navwidth"><a class="clearfix" href="@Url.Action("PilotLogList", "Home")"><i class="fa fa-users"></i> <span class="navlabel">Pilot Logs</span> </a> </li>
                                    <li id="liSideMenuUserprofile" class="navwidth"><a class="clearfix" href="@Url.Action("UserProfile", "Home")"><i class="fa fa-user"></i> <span class="navlabel">Pilot Profile</span> </a> </li>
                                    <li id="liSideMenuAircraftList" class="navwidth"><a class="clearfix" href="@Url.Action("AircraftList", "Aircraft")"><i class="fa fa-plane"></i> <span class="navlabel">Aircraft Profile</span> </a> </li>
                                }
                                else if (userType == Enumerations.UserType.Maintenance.ToString())
                                {
                                    <li id="liSideMenuAircraftList" class="navwidth"><a class="clearfix" href="@Url.Action("AircraftList", "Aircraft" )"><i class="fa fa-plane"></i> <span class="navlabel">Aircraft Profile</span> </a> </li>
                                    <li id="liSideMenuSquawktList" class="navwidth"><a class="clearfix" href="@Url.Action("SquawkList", "Aircraft")"><i class="fa fa-file-text-o"></i> <span class="navlabel">Squawks</span> </a> </li>
                                }
                                @if (userType != Enumerations.UserType.DemoUser.ToString())
                                {
                                    <li>
                                        <a href="@Url.Action("Chat", "QuickBlox")" style="position:relative">
                                            <i class="fa fa-comments-o"></i>Messaging &nbsp;&nbsp;
                                            <span id="spnLiveChatUnreadMsgCount">
                                            </span>
                                            @*<span class="fa fa-chevron-down"></span>*@
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- sidebar menu -->
                    <!-- /menu footer buttons -->
                    <!-- /menu footer buttons -->
                </div>
            </div>

            <!-- top navigation -->
            <div class="top_nav clearfix">
                <div class="nav_menu">
                    <nav class="clearfix" role="navigation">
                        <div class="nav toggle"> <a id="menu_toggle"><i class="fa fa-bars"></i></a> </div>
                        <div class="title-full col-sm-6">
                            <h3> @ViewBag.PageHeaderTitle</h3>
                        </div>
                        @*set value here for notification*@
                        @if (shownotification)
                        {
                            <div id="notification-bar" class="col-sm-6">
                                <div class="containerLable ">
                                    <i class="fa fa-times-circle" onclick="hideNotification()"></i>
                                    For added security , Enable two factor authentication from <a href="@Url.Action("UserProfile", "Home" )">Pilot profile</a>
                                </div>
                            </div>
                        }

                        <ul class="nav navbar-nav navbar-right col-sm-4">
                            <li class="">
                                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> <img id="imgHeaderDDLProfileImg" src="@imagePath" alt="">@userName <span class=" fa fa-angle-down"></span> </a>
                                <ul class="dropdown-menu dropdown-usermenu pull-right">
                                    @if (userName == "admin")
                                    {
                                        <li><a href="@Url.Action("Index", "Admin" )"><i class="fa fa-sign-out pull-right"></i> Home</a> </li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("PilotSummary", "Home" )"><i class="fa fa-sign-out pull-right"></i> Home</a> </li>
                                    }
                                    @*
                                        <li> <a href="javascript:;"> <span class="badge bg-red pull-right">50%</span> <span>Settings</span> </a> </li>
                                        <li> <a href="javascript:;">Help</a> </li>*@
                                    <li><a href="@Url.Action("LoggedInUserChangedPassword","Home")"><i class="fa fa-sign-out pull-right"></i> Change Password</a> </li>
                                    <li><a href="@Url.Action("Logout","Home")"><i class="fa fa-sign-out pull-right"></i> @(userType == Enumerations.UserType.DemoUser.ToString() ? "Stop Demo" : "Log Out") </a> </li>
                                </ul>
                            </li>
                            <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                                <li> <a> <span class="image"> <img src="./../Images/img.jpg" alt="Profile Image" /> </span> <span> <span>John Smith</span> <span class="time">3 mins ago</span> </span> <span class="message"> Film festivals used to be do-or-die moments for movie makers. They were where... </span> </a> </li>
                                <li> <a> <span class="image"> <img src="./../Images/img.jpg" alt="Profile Image" /> </span> <span> <span>John Smith</span> <span class="time">3 mins ago</span> </span> <span class="message"> Film festivals used to be do-or-die moments for movie makers. They were where... </span> </a> </li>
                                <li> <a> <span class="image"> <img src="./../Images/img.jpg" alt="Profile Image" /> </span> <span> <span>John Smith</span> <span class="time">3 mins ago</span> </span> <span class="message"> Film festivals used to be do-or-die moments for movie makers. They were where... </span> </a> </li>
                                <li> <a> <span class="image"> <img src="./../Images/img.jpg" alt="Profile Image" /> </span> <span> <span>John Smith</span> <span class="time">3 mins ago</span> </span> <span class="message"> Film festivals used to be do-or-die moments for movie makers. They were where... </span> </a> </li>
                                <li>
                                    <div class="text-center"> <a> <strong>See All Alerts</strong> <i class="fa fa-angle-right"></i> </a> </div>
                                </li>
                            </ul>
                        </ul>
                    </nav>
                </div>
            </div>
            <!-- /top navigation -->
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12"> @RenderBody() </div>
                </div>
            </div>
            <!-- /page content -->
            <footer class="container-fluid" style="margin-left: 0;">
                <div class="text-center"> GuardianAvionics.com © 2017 | All Rights Reserved     </div>
            </footer>
            <!-- footer content -->
        </div>
    </div>



    @*<script src="~/js/jquery.js"></script>*@
    <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>

    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="~/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Datatables -->

    <script src="~/js/custom.js"></script>
    <!-- iCheck -->
    <script src="~/Scripts/icheck.js"></script>

    <script>
        if (sessionStorage.setvalue == "true") {
            $("#notification-bar").hide();
            shownotification = true;
        }

        function hideNotification() {
            $("#notification-bar").hide();
        }

        $(document).ready(function () {
            if ('@isUserAuthorization' == 'False') {
                window.location.href = '/Home/Logout';
            }

            var handleDataTableButtons = function () {
                if ($("#datatable-buttons").length) {
                    $("#datatable-buttons").DataTable({
                        dom: "Bfrtip",
                        buttons: [
                          {
                            extend: "copy",
                              className: "btn-sm"
                          },
                          {
                            extend: "csv",
                              className: "btn-sm"
                          },
                          {
                            extend: "excel",
                              className: "btn-sm"
                          },
                          {
                            extend: "pdfHtml5",
                              className: "btn-sm"
                          },
                          {
                            extend: "print",
                              className: "btn-sm"
                          },
                        ],
                        responsive: true
                    });
                }
            };

            TableManageButtons = function () {
                "use strict";
                return {
                    init: function () {
                        handleDataTableButtons();
                    }
                };
            }();

            $('#datatable').dataTable();
            $('#datatable-keytable').DataTable({
                keys: true
            });

            $('#datatable-responsive').DataTable();

            $('#datatable-scroller').DataTable({
                ajax: "js/datatables/json/scroller-demo.json",
                deferRender: true,
                scrollY: 380,
                scrollCollapse: true,
                scroller: true
            });

            //var table = $('#datatable-fixed-header, #datatable-fixed-header1').DataTable({
            //    fixedHeader: true
            //});

            TableManageButtons.init();
            GetUnreadMessageCount();
            setInterval("GetUnreadMessageCount()", 30000);//30 Seconds
        });

        function GetUnreadMessageCount() {
            var unreadParams = {};

            //QB.chat.message.unreadCount(unreadParams, function (err, res) {
            //    if (err) {
            //        console.log(err)
            //        callback(err, null)
            //    } else {
            //        //alert(res.total);
            //        $("#spnLiveChatUnreadMsgCount").text(res.total);
            //    }
            //})
            if (window.location.pathname.indexOf("QuickBlox/Chat") == -1) {
                var url = '@Url.Action("GetUnreadMessageCount", "QuickBlox")';
                $.ajax({
                    url: url,
                    success: function (data) {
                        if (data.unreadMessageCount != "0") {
                            $("#spnLiveChatUnreadMsgCount").addClass("messagecountermaster");
                            $("#spnLiveChatUnreadMsgCount").text(data.unreadMessageCount);
                        } else {
                            $("#spnLiveChatUnreadMsgCount").removeClass("messagecounter");
                            $("#spnLiveChatUnreadMsgCount").removeClass("messagecountermaster");
                            $("#spnLiveChatUnreadMsgCount").text("");
                        }
                    }
                });
            }
        }
    </script>
    <!-- /Datatables -->
    <!-- bootstrap-wysiwyg -->
    <script src="../vendors/bootstrap-wysiwyg/js/bootstrap-wysiwyg.min.js"></script>
    <script src="../vendors/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="../vendors/google-code-prettify/src/prettify.js"></script>
    <!-- Select2 -->
    <script src="../vendors/select2/dist/js/select2.full.min.js"></script>
    <script>

        $(document).ready(function () {
            $(".select2_single").select2({
                placeholder: "Select a state",
                allowClear: true
            });
            $(".select2_group").select2({});
            $(".select2_multiple").select2({
                maximumSelectionLength: 44,
                placeholder: "Select multiple users",
                allowClear: true
            });
        });
    </script>
    <!-- /Select2 -->
    <!-- Parsley -->
    <script src="../vendors/parsleyjs/dist/parsley.min.js"></script>
    <script>
        $(document).ready(function () {
            $.listen('parsley:field:validate', function () {
                validateFront();
            });
            $('#demo-form .btn').on('click', function () {
                $('#demo-form').parsley().validate();
                validateFront();
            });
            var validateFront = function () {
                if (true === $('#demo-form').parsley().isValid()) {
                    $('.bs-callout-info').removeClass('hidden');
                    $('.bs-callout-warning').addClass('hidden');
                } else {
                    $('.bs-callout-info').addClass('hidden');
                    $('.bs-callout-warning').removeClass('hidden');
                }
            };
        });

        $(document).ready(function () {
            $.listen('parsley:field:validate', function () {
                validateFront();
            });
            $('#demo-form2 .btn').on('click', function () {
                $('#demo-form2').parsley().validate();
                validateFront();
            });
            var validateFront = function () {
                if (true === $('#demo-form2').parsley().isValid()) {
                    $('.bs-callout-info').removeClass('hidden');
                    $('.bs-callout-warning').addClass('hidden');
                } else {
                    $('.bs-callout-info').addClass('hidden');
                    $('.bs-callout-warning').removeClass('hidden');
                }
            };
        });
        try {
            hljs.initHighlightingOnLoad();
        } catch (err) { }
    </script>
    <!-- /Parsley -->
    <!--custom hide show selected user div-->
    <script>
        $(document).ready(function () {
            $("#hides").click(function () {
                $(".selectusers").hide();
                $("#hides1").addClass('checked');
                $("#shows1").removeClass('checked');
            });
            $("#shows").click(function () {
                $(".selectusers").show();
                $("#shows1").addClass('checked');
                $("#hides1").removeClass('checked');
            });
        });
    </script>
    <script>

    var arr = [];
    var ws = [];
        var wsNewLog;
        var setval = 0;
    $(document).ready(function () {

        $('.tdFlightTime').each(function (index) {
            ws.push('ws' + index);
            CreateSocConn(this.id, index, $('#' + this.id).attr("flightSNO"));
            //arr.push(this.id);
        }).promise().done(function () {
            wsNewLog = new WebSocket('@GA.Common.ConfigurationReader.WebSocketURL' + "/LiveDataHandler.ashx?name=" + '@ViewBag.ProfileId' + '-NewLog');

            wsNewLog.onopen = function () {
                console.log("Conectopn open");
            };

            wsNewLog.onmessage = function (evt) {
                setval = 1;
                var data = jQuery.parseJSON(evt.data);
                if (data.IsNewLog == 'true') {
                    console.log("set for button om doc load1");
                    CreateSocConn(data.AircraftId + '-' + data.UniqeId + '-PLD', ws.length, sno);
                }
                else {
                    ws.push('ws' + ws.length);
                    console.log("set for button om doc load2");
                    CreateSocConn(data.AircraftId + '-' + data.UniqeId + '-PLD', ws.length, $('#td_' + data.AircraftId + '-' + data.UniqeId + '-PLD').attr("flightSNO"));
                }
            };
            wsNewLog.onerror = function (evt) {

            };
            wsNewLog.onclose = function () {

            };
        });
        });

        //    function SetLivebuttonInterval() {
        //        $.post("/Category/getLiveflight", {
        //        }, function (data) {
        //            console.log(data);
        //            if (data.Livelist.length > 0) {
        //                $("#Imageshow").hide();
        //            }
        //            else {
        //                $("#Imageshow").show();
        //            }
        //        });
        //}
        setInterval(function () {
                oncalltest();
        }, 30000);
        function oncalltest() {
            $.post("/Home/Getsession", {
            }, function (data) {
                var setvali = data;
                if (setvali.includes("NewLog")) {
                    $("#Imageshow").hide();

                } else {
                    $("#Imageshow").show();

                }
            });
        }

    function CreateSocConn(name, index, flightSNO) {
        name = name.replace("td_", "");
        console.log("Connection Request for " + name);

        ws[index] = new WebSocket('@GA.Common.ConfigurationReader.WebSocketURL' + "/LiveDataHandler.ashx?name=" + name);

        ws[index].onopen = function () {
            console.log("Connection Created for " + name);
        };
        ws[index].onmessage = function (evt) {

            if (evt.data == 'Flight End') {
                alert('Flight with serial No - ' + flightSNO + ' has been completed.');
                $("#Imageshow").hide();
            }
            else {
                $("#td_" + this.id).text(evt.data);
                $("#Imageshow").show();
            }
        };
        ws[index].onerror = function (evt) {

        };
        ws[index].onclose = function () {

        };

        ws[index].id = name;
        ws[index].flightSNO = flightSNO;
    }



    </script>


    <!--custom hide show selected user div-->
    <script src="~/Scripts/colResizable-1.5.min.js"></script>
    @*<script src="~/Scripts/colResizable-1.6.js"></script>*@
</body>
</html>
