.aircraftprofile_engine .center{
	text-align:left;
}

.aircraftprofile_engine #table{
	width:100%;
	max-width:1600px;
}

.aircraftprofile_engine th{
   /*background-image:url('../img/th.png');*/
   background-color:green;
   height:30px;
   background-repeat:no-repeat;
   color:white;
   text-shadow: #012b4d 2px 2px 2px;
   text-align: center;   
}

.aircraftprofile_engine td{
	text-indent:5px;
	color:#444;
	border-bottom:1px solid #bbb;
	border-left:1px solid #bbb;
}

.aircraftprofile_engine td.left{
	border-left:1px solid #2e638e;
}

.aircraftprofile_engine td.right{
	border-right:1px solid #2e638e;
}

.aircraftprofile_engine td.bottom{
	border-bottom:1px solid #2e638e;
}

.aircraftprofile_engine .grip{
	width:20px;
	height:30px;
	margin-top:-3px;
	background-image:url('../Images/grip.png');
	margin-left:-5px;
	position:relative;
	z-index:88;
	cursor:e-resize;
}

.aircraftprofile_engine .grip:hover{
	background-position-x:-20px;
}

.aircraftprofile_engine .dragging .grip{
	background-position-x:-40px;
}
.aircraftprofile_engine .accordion{
	width:100% !important;
}
/*
.sampleText{
	position:relative;
	width:100%;
}

.dotted{
	background-image:url('../Image/dotted.png');
	background-repeat:repeat-y;
}

#sample2Txt{
	float:right;	
}
*/ 




