thead th {
  height: 25px;
  width: 20%;
  padding:0 20px;
  line-height: 25px;
  background:#333;
  color:#fff;
 
}

thead th:first-child {
  width: 30%;
}

tbody td {
/*  word-break: break-all;*/
  padding:5px 10px;
  border: 0;
  width: 15%;
  vertical-align: top;
}

tbody td:first-child {
  width: 80px;
}

div.fTHLC-outer-wrapper {
  border: 1px solid #000000;
  margin: 50px auto;
  width:900px !important;

    background: #ccc none repeat scroll 0 0;
	  padding-left: 350px !important; 
}

div.fTHLC-inner-wrapper {
  border: 1px dotted #000000;
}

div.fTHLC-outer-corner {
  background-color: #333;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  color:#fff;
   width: 350px !important;
   height:24px !important;
   



}

table tr .cols {
  background-color: #f00;
}

table tr .rows {
  background-color:#000000;
}
