﻿@charset "utf-8";
/* CSS Document */

body {
    margin: 0px;
    padding: 0px;
}

#wraper {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
}

.header {
    margin: 0px;
    padding: 0px;
    float: left;
    background: #adcde6;
    width: 100%;
    height: 80px;
}

.inner_header {
    margin: 10px auto 0px;
    padding: 0px;
    width: 1024px;
    position: relative;
}

.logo {
    margin: 0px;
    padding: 0px;
    float: left;
}

.main_con {
    margin: 0px auto;
    padding: 0px;
    width: 1024px;
}

.signin_btn {
    margin: 0px;
    padding: 0px;
    float: right;
    background: url(../Images/GA/signin_btn.png) no-repeat;
    width: 110px;
    height: 39px;
}

    .signin_btn:hover {
        margin: 0px;
        padding: 0px;
        float: right;
        background: url(../Images/GA/signin_btnopen.png) no-repeat;
    }

.selected_button {
    margin: 0px;
    padding: 0px;
    float: right;
    background: url(../Images/GA/signin_btnopen.png) no-repeat;
}

.togglebox {
    /*display: none;*/
    background: #f5f5f5;
    margin: 0px;
    padding: 10px 10px 0px;
    border: 1px solid #c8c8c8;
    width: 560px;
    float: right;
    top: 38px;
    position: absolute;
    right: 0px;
}

.login_form {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
}

    .login_form dl {
        margin: 0px 0px 7px;
        padding: 0px;
        float: left;
        width: 100%;
    }

        .login_form dl dt {
            margin: 0px;
            padding: 0px;
            float: left;
            width: 50%;
            font-family: Arial, Helvetica, sans-serif;
            color: #393939;
            text-transform: uppercase;
            font-size: 16px;
        }

        .login_form dl dd {
            margin: 0px 0px 0px 1%;
            padding: 0px;
            float: left;
            width: 48%;
            font-family: Arial, Helvetica, sans-serif;
            color: #393939;
            text-transform: uppercase;
            font-size: 16px;
            color: #393939;
        }

.inputbox_log {
    width: 260px;
    height: 25px;
    background: #fff;
    float: left;
    border: 1px solid #c8c8c8;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #393939;
    text-transform: none;
    font-size: 14px;
    color: #747474;
}

h1 {
    color: #19335d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: none;
}

a.gry_link {
    color: #8c8a8a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
    text-transform: none;
}

a:hover.gry_link {
    color: #606060;
}

.pull_lft {
    float: left;
}

.pulltop13lft10 {
    margin-top: 13px;
    margin-left: 10px;
}

.divider {
    color: #19335d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: none;
}

.pulltop10lft25 {
    margin-top: 10px;
    margin-left: 25px;
}

.pulltop13lft5 {
    margin-top: 13px;
    margin-left: 5px;
}

.blue_btn {
    background: #19335d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    padding: 8px;
    text-decoration: none;
}

.pullleft25 {
    margin-left: 57px;
}

.nav {
    width: 100%;
    background: #f5f5f5;
    border-bottom: 1px solid #c8c8c8;
    float: left;
    height: 30px;
    padding: 5px 0px;
}

    .nav ul {
        width: 1024px;
        margin: 0px auto;
        padding: 0px;
    }

        .nav ul li {
            float: left;
            padding: 6px 0px 0px;
            color: #3e3f3f;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            text-transform: uppercase;
            list-style: none;
        }

            .nav ul li a {
                float: left;
                padding: 2px 19px 0px;
                color: #949595;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;
                text-transform: uppercase;
                text-decoration: none;
            }

                .nav ul li a:hover {
                    color: #3e3f3f;
                    font-weight: 700;
                }

.registration_popup {
    margin: 0px auto;
    padding: 0px;
    width: 750px;
}

.registration_inner {
    float: left;
    margin: 40px 0px;
    padding: 0px 0px 20px;
    background: #fff;
    border: 1px solid #d9d9d9;
}

.registration_header {
    margin: 1px 1px 15px;
    padding: 9px 0px 3px;
    width: 768px;
    background: #d9d9d9;
    height: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #272727;
    text-transform: uppercase;
    float: left;
    font-weight: bold;
}

.pull_rit {
    float: right;
}

.pullti10 {
    margin-right: 10px;
}

.register_form {
    margin: 0px auto;
    padding: 10px 0px 10px;
    width: 70%;
}

    .register_form dl {
        margin: 10px 0px 0px;
        padding: 0px;
        float: left;
        width: 100%;
    }

        .register_form dl dt {
            margin: 8px 2% 0px 0px;
            padding: 0px;
            float: left;
            width: 40%;
            font-family: Arial, Helvetica, sans-serif;
            color: #393939;
            font-size: 16px;
            text-align: right;
            font-weight: bold;
        }

        .register_form dl dd {
            margin: 0px;
            padding: 0px;
            float: left;
            width: 50%;
            font-family: Arial, Helvetica, sans-serif;
            color: #393939;
            font-size: 16px;
            color: #393939;
        }

.pulltop5 {
    margin-top: 5px;
}

.footer {
    width: 100%;
    background: #f5f5f5;
    border-bottom: 1px solid #c8c8c8;
    float: left;
    height: 60px;
    padding: 0px;
}

.footer_inner {
    width: 1024px;
    margin: 0px auto;
    padding: 0px;
    color: #6e6868;
    font-family: Arial, Helvetica, sans-serif, Gadget, sans-serif;
    font-size: 14px;
}

.footer_link ul {
    width: 1024px;
    margin: 20px auto 0px;
    padding: 0px;
}

    .footer_link ul li {
        float: left;
        padding: 6px 0px 0px;
        color: #3e3f3f;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        list-style: none;
    }

        .footer_link ul li a {
            float: left;
            padding: 2px 19px 0px;
            color: #949595;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
        }

            .footer_link ul li a:hover {
                color: #3e3f3f;
                font-weight: 700;
            }

.pulltop10 {
    margin-top: 10px;
}
/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #e80c4d;
}


input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}
