﻿@charset "utf-8";
/* CSS Document */

body {
    margin: 0px;
    padding: 0px;
}

#wraper {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
}

.header {
    margin: 0px;
    padding: 0px;
    float: left;
    background: #adcde6;
    width: 100%;
    height: 80px;
}

.inner_header {
    margin: 10px auto 0px;
    padding: 0px;
    width: 1024px;
    position: relative;
}

.logo {
    margin: 0px;
    padding: 0px;
    float: left;
}

.main_con {
    margin: 0px auto;
    padding: 0px;
    width: 1024px;
}

.signin_btn {
    margin: 0px;
    padding: 0px;
    float: right;
    background: url(../Image/GA/signin_btn.png) no-repeat;
    width: 110px;
    height: 39px;
}

    /*.signin_btn:hover {
        margin: 0px;
        padding: 0px;
        float: right;
        background: url(../Image/GA/signin_btnopen.png) no-repeat;
    }*/

.logout_btn {
    margin: 0px;
    padding: 0px;
    float: right;
    background: url(../Image/GA/logout_btn.png) no-repeat;
    width: 110px;
    height: 39px;
}

.selected_button {
    margin: 0px;
    padding: 0px;
    float: right;
    background: url(../Image/GA/signin_btnopen.png) no-repeat;
}

.togglebox {
    background: #f5f5f5;
    margin: 0px;
    padding: 10px 10px 0px;
    border: 1px solid #c8c8c8;
    width: 560px;
    float: right;
    top: 38px;
    position: absolute;
    right: 0px;
}

.login_form {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 100%;
}

    .login_form dl {
        margin: 0px 0px 7px;
        padding: 0px;
        float: left;
        width: 100%;
    }

        .login_form dl dt {
            margin: 0px;
            padding: 0px;
            float: left;
            width: 50%;
            font-family: Arial, Helvetica, sans-serif;
            color: #393939;
            text-transform: uppercase;
            font-size: 16px;
        }

        .login_form dl dd {
            margin: 0px 0px 0px 1%;
            padding: 0px;
            float: left;
            width: 48%;
            font-family: Arial, Helvetica, sans-serif;
            color: #393939;
            text-transform: uppercase;
            font-size: 16px;
            color: #393939;
        }

.inputbox_log {
    width: 260px;
    height: 25px;
    background: #fff;
    float: left;
    border: 1px solid #c8c8c8;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #393939;
    text-transform: none;
    font-size: 14px;
    color: #747474;
}

h1 {
    color: #19335d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: none;
}

a.gry_link {
    color: #8c8a8a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    text-decoration: underline;
    font-weight: bold;
    text-transform: none;
}

a:hover.gry_link {
    color: #606060;
}

.pull_lft {
    float: left;
}

.pulltop13lft10 {
    margin-top: 13px;
    margin-left: 10px;
}

.divider {
    color: #19335d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-transform: none;
}

.pulltop10lft25 {
    margin-top: 10px;
    margin-left: 25px;
}

.pulltop13lft5 {
    margin-top: 13px;
    margin-left: 5px;
}

.blue_btn {
    background: #19335d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    padding: 8px 14px;
    text-decoration: none;
}

.pullleft25 {
    margin-left: 49px;
}

.nav {
    width: 100%;
    background: #f5f5f5;
    border-bottom: 1px solid #c8c8c8;
    float: left;
    height: 30px;
    padding: 5px 0px;
}

    .nav ul {
        width: 1024px;
        margin: 0px auto;
        padding: 0px;
    }

        .nav ul li {
            float: left;
            padding: 6px 0px 0px;
            color: #3e3f3f;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 16px;
            text-transform: uppercase;
            list-style: none;
        }

            .nav ul li a {
                float: left;
                padding: 2px 19px 0px;
                color: #949595;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 15px;
                text-transform: uppercase;
                text-decoration: none;
            }

                .nav ul li a:hover {
                    color: #3e3f3f;
                    font-weight: 700;
                }

                .nav ul li a.sel {
                    color: #3e3f3f;
                    font-weight: 700;
                }

.registration_popup {
    margin: 0px auto;
    padding: 0px;
    width: 750px;
}

.registration_inner {
    float: left;
    margin: 40px 0px;
    padding: 0px 0px 20px;
    background: #fff;
    border: 1px solid #d9d9d9;
}

.registration_header {
    margin: 1px 1px 15px;
    padding: 9px 0px 3px;
    width: 768px;
    background: #d9d9d9;
    height: 30px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
    color: #272727;
    text-transform: uppercase;
    float: left;
    font-weight: bold;
}

.pull_rit {
    float: right;
}

.pullti10 {
    margin-right: 10px;
}

.register_form {
    margin: 0px auto;
    padding: 10px 0px 10px;
    width: 70%;
}

    .register_form dl {
        margin: 10px 0px 0px;
        padding: 0px;
        float: left;
        width: 100%;
    }

        .register_form dl dt {
            margin: 8px 2% 0px 0px;
            padding: 0px;
            float: left;
            width: 40%;
            font-family: Arial, Helvetica, sans-serif;
            color: #393939;
            font-size: 16px;
            text-align: right;
            font-weight: bold;
        }

        .register_form dl dd {
            margin: 0px;
            padding: 0px;
            float: left;
            width: 50%;
            font-family: Arial, Helvetica, sans-serif;
            color: #393939;
            font-size: 16px;
            color: #393939;
        }

.pulltop5 {
    margin-top: 5px;
}

.footer {
    width: 100%;
    background: #f5f5f5;
    border-bottom: 1px solid #c8c8c8;
    float: left;
    height: 40px;
    padding: 0px;
    position: fixed;
    bottom: 0px;
    z-index: 999;
}

.footer_inner {
    width: 1024px;
    margin: 0px auto;
    padding: 0px;
    color: #6e6868;
    font-family: Arial, Helvetica, sans-serif, Gadget, sans-serif;
    font-size: 14px;
}

.footer_link ul {
    width: 1024px;
    margin: 20px auto 0px;
    padding: 0px;
}

    .footer_link ul li {
        float: left;
        padding: 6px 0px 0px;
        color: #3e3f3f;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        text-transform: uppercase;
        list-style: none;
    }

        .footer_link ul li a {
            float: left;
            padding: 2px 19px 0px;
            color: #949595;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 12px;
            text-transform: uppercase;
            text-decoration: none;
        }

            .footer_link ul li a:hover {
                color: #3e3f3f;
                font-weight: 700;
            }

.pulltop10 {
    margin-top: 10px;
}

.user_detail {
    margin: 0px;
    padding: 0px;
    float: right;
    color: #202020;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 0px;
    top: 45px;
    font-size: 16px;
    font-weight: bold;
}

.inn_con {
    margin: 20px 0px 70px;
    padding: 0px;
    float: left;
    width: 100%;
}

h2 {
    color: #1e3e73;
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    float: left;
}

button {
    border: 0px;
}

.profile_contoplft {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 700px;
}

.profile_contoprit {
    margin: 0px 0px 0px 70px;
    padding: 0px;
    float: left;
    width: 160px;
}

.profile_form_con {
    margin: 15px 0px 0px;
    padding: 0px;
    float: left;
    width: 100%;
}

    .profile_form_con dl {
        margin: 0px 0px 10px 0px;
        padding: 0px;
        float: left;
        width: 100%;
    }

        .profile_form_con dl dt {
            margin: 0px;
            padding: 0px;
            float: left;
            width: 48%;
        }

        .profile_form_con dl dd {
            margin: 0px 0px 0px 4%;
            padding: 0px;
            float: left;
            width: 48%;
        }

.inputbox_pro {
    width: 340px;
    height: 25px;
    background: #fff;
    float: left;
    border: 1px solid #c8c8c8;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #393939;
    text-transform: none;
    font-size: 14px;
    color: #747474;
}

.inputbox_probig {
    width: 350px;
    height: 25px;
    background: #fff;
    float: left;
    border: 1px solid #c8c8c8;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #393939;
    text-transform: none;
    font-size: 14px;
    color: #747474;
}

.profile_btmcon {
    margin: 30px 0px 0px;
    padding: 0px;
    float: left;
    width: 1024px;
}

    .profile_btmcon dl {
        margin: 0px;
        padding: 0px;
        float: left;
        width: 91%;
    }

        .profile_btmcon dl dt {
            margin: 0px 10px 0px 0px;
            padding: 24px 0px 0px 0px;
            float: left;
            width: 22%;
            font-family: Arial, Helvetica, sans-serif;
            color: #393939;
            font-size: 16px;
            text-align: right;
            font-weight: bold;
        }

        .profile_btmcon dl dd {
            margin: 15px 0px 0px;
            padding: 0px;
            float: left;
            width: 70%;
        }

.line {
    margin: 16px 0px;
    padding: 0px;
    float: left;
    width: 91%;
    height: 1px;
    background: #e5e5e5;
}

.clear {
    clear: both;
}

.txtcap {
    text-transform: uppercase;
}

.txtcenter {
    text-align: center;
}

/*====================================tabs_css===============================================*/

.tabs input[type=radio] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.tabs {
    width: 100%;
    float: left;
    list-style: none;
    position: relative;
    padding: 0;
    margin: 0px;
    border-bottom: 1px solid #e4e4e4;
    height: 40px;
}

    .tabs li {
        float: left;
        margin: 0px 0px 0px 11px;
    }

    .tabs label {
        display: block;
        padding: 10px 20px;
        border-radius: 2px 2px 0 0;
        color: #08C;
        font-size: 24px;
        font-weight: normal;
        font-family: 'Roboto', helveti;
        background: rgba(255,255,255,0.2);
        cursor: pointer;
        position: relative;
        top: 3px;
        color: #002644;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        text-transform: uppercase;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out;
    }

        .tabs label:hover {
            background: rgba(255,255,255,0.5);
            top: 0;
        }

/*[id^=tab]:checked + label { background: #08C;color: white; top: 0; }*/

[id^=tab]:checked + label {
    background: #fff;
    top: 0;
    color: #002644;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    text-transform: uppercase;
    border-left: 1px solid #e4e4e4;
    border-top: 3px solid #134165;
    border-right: 1px solid #e4e4e4;
    border-bottom: 1px solid #fff;
}


[id^=tab]:checked ~ [id^=tab-content] {
    display: block;
}

.tab-content {
    z-index: 2;
    display: none;
    text-align: left;
    width: 100%;
    font-size: 20px;
    line-height: 140%;
    padding-top: 10px;
    background: #fff;
    padding: 15px;
    color: white;
    position: absolute;
    top: 53px;
    left: 0;
    box-sizing: border-box;
    -webkit-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    animation-duration: 0.5s;
}

/*====================================tabs_css===============================================*/

.con_lft {
    margin: 0px 5px 0px 0px;
    padding: 0px;
    float: left;
    width: 28%;
}

.con_rit {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 70%;
}

.lft_nav {
    margin: 0px;
    padding: 0px;
    float: left;
    border-right: 1px solid #e4e4e4;
    min-height: 1037px;
}

    .lft_nav ul {
        margin: 0px;
        padding: 0px;
        float: left;
    }

        .lft_nav ul li {
            margin: 0px;
            padding: 0px;
            list-style: none;
            /*width: 94%;*/
            width: 100%;
            float: left;
        }

            .lft_nav ul li a {
                margin: 0px 0px 3px;
                padding: 8px 0px 8px 10px;
                float: left;
                background: #f5f5f5;
                float: left;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 14px;
                color: #4f4e53;
                text-decoration: none;
                width: 85%;
                display: block;
            }

                .lft_nav ul li a:hover {
                    color: #4f4e53;
                    background: #ADCDE6;
                }

                .lft_nav ul li a.rowsel {
                    background: #ADCDE6;
                }

            /*my style*/
            .lft_nav ul li input {
                margin: 0px;
                padding: 0px;
                height:auto;
                background: url(../Image/GA/close_icon.png) no-repeat;
                /*width: 110px;
                    height: 39px;*/
                /*padding:10px;*/
                /*padding-left: 10px;
                padding-top:10px;*/
                width: 10%;
            }


.tabs_form {
    margin: 0px;
    padding: 10px 0px 10px;
    width: 100%;
}

    .tabs_form dl {
        margin: 10px 0px 0px;
        padding: 0px;
        float: left;
        width: 100%;
    }

        .tabs_form dl dt {
            margin: 8px 2% 0px 0px;
            padding: 0px;
            float: left;
            width: 44%;
            font-family: Arial, Helvetica, sans-serif;
            color: #3e3f3f;
            font-size: 16px;
            text-align: right;
            font-weight: bold;
            text-transform: uppercase;
        }

        .tabs_form dl dd {
            margin: 0px;
            padding: 0px;
            float: left;
            width: 50%;
            font-family: Arial, Helvetica, sans-serif;
            color: #393939;
            font-size: 16px;
            color: #393939;
        }

.profile_con {
    margin: 50px 0px 0px;
    padding: 0px;
    float: left;
}

h3 {
    color: #1e3e73;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
    float: left;
}

h4 {
    color: #8b8b8b;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 0px 10px;
    padding: 0px;
    float: left;
}

.line_pro {
    margin: 2px 0px;
    padding: 0px;
    float: left;
    width: 100%;
    height: 1px;
    background: #e5e5e5;
}

.profile_contop {
    margin: 10px 0px 0px;
    padding: 0px;
    float: left;
    width: 98%;
}

.profile_img {
    margin: 0px 0px 0px 70px;
    padding: 0px;
    float: right;
    width: 160px;
}

.gry_btn {
    background: #e4e5e6;
    font-family: Arial, Helvetica, sans-serif;
    color: #272727;
    width: 150px;
    text-align: center;
    text-transform: uppercase;
    padding: 5px;
    font-weight: bold;
}

.pull_btm60 {
    margin-bottom: 60px;
}

.blue_btn_new {
    background: #19335d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    padding: 8px 14px;
    text-decoration: none;
    width: 123px;
    float: left;
}



.inputbox_new {
    width: 280px;
    height: 25px;
    background: #fff;
    float: left;
    border: 1px solid #c8c8c8;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #393939;
    text-transform: none;
    font-size: 14px;
    color: #747474;
}


.inputbox_four {
    width: 65px;
    height: 25px;
    background: #fff;
    border: 1px solid #c8c8c8;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #393939;
    text-transform: none;
    font-size: 14px;
    color: #747474;
}

.inputbox_two {
    width: 40px;
    height: 25px;
    background: #fff;
    border: 1px solid #c8c8c8;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #393939;
    text-transform: none;
    font-size: 14px;
    color: #747474;
}

/*==================================================table=================================*/

table {
    /*line-height: 0;*/
    border-collapse: collapse;
}

.table-striped {
    border: 1px solid #ccc;
    margin: 0px auto;
}

    .table-striped > tbody > tr:nth-child(odd) > td {
        background-color: #e7e7e7;
    }

.table-bordered thead tr {
    background: #e9e9e9;
}

    .table-bordered thead tr.tophead {
        background: #bdbdbd;
    }

        .table-bordered thead tr.tophead td {
            font-size: 18px;
            text-transform: uppercase;
            font-family: Arial, Helvetica, sans-serif;
            color: #393a3b;
            text-align: left;
            padding: 5px 0px 5px 5px;
            margin: 15px 0px 15px 0px;
        }

    .table-bordered thead tr td {
        padding: 5px 10px 5px 10px;
        color: #666;
        font-weight: bold;
        border-left: 1px solid #d4d4d4;
        border-bottom: 1px solid #d4d4d4;
        text-transform: uppercase;
        text-align: center;
    }

    .table-bordered thead tr.bottomheading td {
        font-family: Verdana, Arial, Helvetica;
        font-size: 10pt;
        letter-spacing: 150%;
        line-height: 160%;
        color: #7c7c7c;
        font-weight: normal;
        background: #fff;
    }

    .table-bordered thead tr td:first-child {
        border-left: 0px solid #000;
    }

.table-striped tr td:first-child, .table-striped tr th:first-child {
    border-left: 0px solid #000;
}

.table-striped > tbody > tr > td {
    border-left: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    padding: 5px 0px 5px 5px;
}

td {
    font-family: Verdana, Arial, Helvetica;
    font-size: 10pt;
    letter-spacing: 150%;
    line-height: 160%;
    color: #7c7c7c;
}

.wraper_table {
    overflow: auto;
    width: 100%;
}


/* info and errors */
.message-info {
    border: 1px solid;
    clear: both;
    padding: 10px 20px;
}

.message-error {
    clear: both;
    color: #e80c4d;
    font-size: 1.1em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.message-success {
    color: #7ac0da;
    font-size: 1.3em;
    font-weight: bold;
    margin: 20px 0 10px 0;
}

.error {
    color: #e80c4d;
}

/* styles for validation helpers */
.field-validation-error {
    color: #e80c4d;
    font-weight: bold;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #e80c4d;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #e80c4d;
    font-weight: bold;
    font-size: 1.1em;
}

.validation-summary-valid {
    display: none;
}



/*my custom styles*/

.AircraftProfileLabels {
    margin-left: 150px;
}



.inputbox_new_AircraftProfile {
    width: 145px;
    height: 25px;
    background: #fff;
    float: left;
    border: 1px solid #c8c8c8;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    color: #393939;
    text-transform: none;
    font-size: 14px;
    color: #747474;
    margin-right: 10px;
}


.DDLRegistration {
    /*background: #e4e5e6;*/
    font-family: Arial, Helvetica, sans-serif;
    color: #272727;
    width: 272px;
    height: 35px;
    text-align: left;
    text-transform: uppercase;
    text-overflow: ellipsis;
    padding-top: 8px;
    padding-bottom: 5px;
    /*padding: 5px;*/
    /*font-weight: bold;*/
}

.GuardianIcon {
    background: url('../Image/GA/logo.png') no-repeat center right;
    display: block;
    height: 61px;
    width: 173px;
}

.showRatings {
}

.RadioBtn {

    position: fixed;
    top: 0px;
    left: 0px;
}

.mypullleft25 {
    margin-left: 35px;
}


.mypullleft251 {
    margin-left: 180px;
}
