.marquee-parent {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.marquee-child {
  display: block;
  width: 3000px;
  /* width of your text div */
  height: 100%;
  /* height of your text div */
  position: absolute;
  animation: marquee 20s linear infinite; /* change 5s value to your desired speed */
}
.marquee-child:hover {
  animation-play-state: paused;
  cursor: pointer;
}
@keyframes marquee {
  0% {
    left: 100%;
  }
  100% {
    left: -100% /* same as your text width */
  }
}