﻿@using GA.Common
@model GA.DataTransfer.AircraftProfileModelWeb
<div class="tab-content">
  <div class="profile_contop pull_btm60">
    <h3>Cruise</h3>
    <div class="form-horizontal form-table form-label-left form-reg-field">
      <div class="clearfix">
        <div class="col-sm-6 col-xs-12 nopadding-xs">
          <div class="item form-group clearfix tablewrap">
            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valigntop valigntop-sm">Power(%)</label>
            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">@Html.TextBoxFor(model => model.Power, new { @class = "form-control", @size = "20", @value = Model.Power, @autocomplete = "Off" })
              <div class="font11"> @Html.ValidationMessageFor(model => model.Power) required (only numeric values) </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 nopadding-xs">
          <div class="item form-group clearfix tablewrap">
            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valigntop valigntop-sm">(RPM)/(MP)</label>
            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
            <div class="clearfix">
            <div class="col-xs-6 no-padding">@Html.TextBoxFor(model => model.RPM, new { @class = "form-control", @size = "20", @value = Model.RPM, @autocomplete = "Off" })</div>
              <div class="col-xs-1 no-padding text-center">/</div>
              <div class="col-xs-5 no-padding">@Html.TextBoxFor(model => model.MP, new { @class = "form-control", @size = "20", @value = Model.MP, @autocomplete = "Off" })
              </div>
              </div>
              <div class="font11">@Html.ValidationMessageFor(model => model.RPM)
              @Html.ValidationMessageFor(model => model.MP) required (only numeric values)</div>
              </div>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <div class="col-sm-6 col-xs-12 nopadding-xs">
          <div class="item form-group clearfix tablewrap">
            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valigntop valigntop-sm"><strong>Altitude</strong></label>
            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">@Html.TextBoxFor(model => model.Altitude, new { @class = "form-control", @size = "20", @value = Model.MP, @autocomplete = "Off" })
              <div class="font11"> @Html.Label("FT" ?? string.Empty, new { @readonly = "readonly", @class = "unit_txt edit_label_one" })
                @Html.ValidationMessageFor(model => model.Altitude) required (only numeric values) </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 nopadding-xs">
          <div class="item form-group clearfix tablewrap">
            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valigntop valigntop-sm">Fuel Burn Rate</label>
            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">@Html.TextBoxFor(model => model.FuelBurnCruise, new { @class = "form-control", @size = "20", @value = Model.FuelBurnCruise, @autocomplete = "Off" })
              <div class="font11"> @Html.Label(Model.FuelUnit + "/H" ?? string.Empty, new { id = "LFuelBurnCruise", @class = "unit_txt edit_label_one" })
                @Html.ValidationMessageFor(model => model.FuelBurnCruise) required (only numeric values)</div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <div class="col-sm-6 col-xs-12 nopadding-xs">
          <div class="item form-group clearfix tablewrap">
            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valigntop valigntop-sm">TAS</label>
            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">@Html.TextBoxFor(model => model.TASCruise, new { @class = "form-control", @size = "20", @value = Model.TASCruise, @autocomplete = "Off" })
              <div class="font11"> @Html.Label(Model.SpeedUnit ?? string.Empty, new { id = "LTASCruise", @class = "unit_txt edit_label_one" })
                @Html.ValidationMessageFor(model => model.TASCruise) required (only numeric values) </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="ln_solid"></div>
    <h3>Climb</h3>
    <div class="form-horizontal form-table form-label-left form-reg-field">
      <div class="clearfix">
        <div class="col-sm-6 col-xs-12 nopadding-xs">
          <div class="item form-group clearfix tablewrap">
            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valigntop valigntop-sm">Rate of Climb</label>
            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">@Html.TextBoxFor(model => model.RateOfClimb, new { @class = "form-control", @size = "20", @value = Model.RateOfClimb, @autocomplete = "Off" })
              <div class="font11"> @Html.Label(Model.VerticalSpeed ?? string.Empty, new { id = "LRateOfClimb", @class = "unit_txt edit_label_one" })
                @Html.ValidationMessageFor(model => model.RateOfClimb) required (only numeric values)</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 nopadding-xs">
          <div class="item form-group clearfix tablewrap">
            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valigntop valigntop-sm">Fuel Burn Rate</label>
            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm"> @Html.TextBoxFor(model => model.FuelBurnRateClimb, new { @class = "form-control", @size = "20", @value = Model.FuelBurnRateClimb, @autocomplete = "Off" })
              <div class="font11"> @Html.Label((Model.FuelUnit + "/H") ?? string.Empty, new { id = "LFuelBurnRateClimb", @class = "unit_txt edit_label_one" })
                @Html.ValidationMessageFor(model => model.FuelBurnRateClimb) required (only numeric values) </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <div class="col-sm-6 col-xs-12 nopadding-xs">
          <div class="item form-group clearfix tablewrap">
            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valigntop valigntop-sm">TAS</label>
            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">@Html.TextBoxFor(model => model.TASClimb, new { @class = "form-control", @size = "20", @value = Model.TASClimb, @autocomplete = "Off" })
              <div class="font11"> @Html.Label(Model.SpeedUnit ?? string.Empty, new { id = "LTASClimb", @class = "unit_txt edit_label_one" })
                @Html.ValidationMessageFor(model => model.TASClimb) required (only numeric values)</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 nopadding-xs">
          <div class="item form-group clearfix tablewrap">
            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valigntop valigntop-sm"></label>
            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm"></div>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <div class="col-sm-6 col-xs-12 nopadding-xs">
          <div class="item form-group clearfix tablewrap">
            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valigntop valigntop-sm"></label>
            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm"></div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 nopadding-xs">
          <div class="item form-group clearfix tablewrap">
            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valigntop valigntop-sm"></label>
            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="ln_solid"></div>
    <h3>Descent</h3>
    <div class="form-horizontal form-table form-label-left form-reg-field">
      <div class="clearfix">
        <div class="col-sm-6 col-xs-12 nopadding-xs">
          <div class="item form-group clearfix tablewrap">
            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valigntop valigntop-sm">Rate of Descent</label>
            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">@Html.TextBoxFor(model => model.RateOfDescent, new { @class = "form-control", @size = "20", @value = Model.RateOfDescent, @autocomplete = "Off" })
              <div class="font11"> @Html.Label(Model.VerticalSpeed ?? string.Empty, new { id = "LRateOfDescent", @class = "unit_txt edit_label_one" })
                @Html.ValidationMessageFor(model => model.RateOfDescent) required (only numeric values)</div>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-xs-12 nopadding-xs">
          <div class="item form-group clearfix tablewrap">
            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valigntop valigntop-sm">Fuel Burn Rate</label>
            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">@Html.TextBoxFor(model => model.FuelBurnRateOfDescent, new { @class = "form-control", @size = "20", @value = Model.FuelBurnRateOfDescent, @autocomplete = "Off" })
              <div class="font11">@Html.Label(Model.FuelUnit + "/H" ?? string.Empty, new { id = "LFuelBurnRateOfDescent", @class = "unit_txt edit_label_one" })
                @Html.ValidationMessageFor(model => model.FuelBurnRateOfDescent) required (only numeric values)</div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix">
        <div class="col-sm-6 col-xs-12 nopadding-xs">
          <div class="item form-group clearfix tablewrap">
            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valigntop valigntop-sm">TAS</label>
            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">@Html.TextBoxFor(model => model.TASDescent, new { @class = "form-control", @size = "20", @value = Model.TASDescent, @autocomplete = "Off" })
              <div class="font11"> @Html.Label(Model.SpeedUnit ?? string.Empty, new { id = "LTASDescent", @class = "unit_txt edit_label_one" })
                @Html.ValidationMessageFor(model => model.TASDescent) required (only numeric values)</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="ln_solid"></div>
    <div class="form-group clearfix">
      <div class="col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5 col-xs-12">
        <input id="btnAircraftProfilePerformance" type="submit" style="display:none"  value="Save" class="btn btn-block btn-primary" />
          <input id="btnAircraftProfilePerformanceTemp" type="button"  value="Save" class="btn btn-block btn-primary" />
      </div>
    </div>
  </div>
</div>
