﻿<link href="~/Content/main.css" rel="stylesheet" />


<script src="~/js/jquery.js"></script>
<script src="~/js/bootbox.js"></script>

<script type="text/javascript">

    $(document).ready(function (e) {
        $('.accordion').accordion({});
    });


    function cellWidthChange(txtCellWidthId) {

        //get the Min and max value
        var tablename = txtCellWidthId.split('_')[1];

        $("#" + tablename).colResizable({ disable: true });
        var txtCellValue = parseInt($("#" + txtCellWidthId).val());
        var prevSpanValue = 0;
        var maxValue = parseFloat($("#spnMax_" + tablename).val());
        var minValue = parseFloat($("#spnMin_" + tablename).val());
        if (parseFloat($("#" + txtCellWidthId).val()) <= minValue) {
            bootbox.alert('Value cannot be less than or equal to minimun value', function () {
            });
        }
        else if (parseFloat($("#" + txtCellWidthId).val()) >= maxValue) {
            bootbox.alert('Value cannot be greater than or equal to maximun value', function () {
            });
        }
        else {


            var cellId = txtCellWidthId.replace("txtThWidth_", "");
            var columnIndex = $("#" + cellId).prevAll().length;
            var columns = $("#" + tablename).find("th");
            var currentCellColor = "";
            var nextCellColor = "";

            //Check that col index is zero or not , if not zero that substract the txt value ftom the previous span cell width value
            if (columnIndex != 0) {
                //get the prev span value
                prevSpanValue = parseInt($("#spnThWidth_" + columns[columnIndex - 1].id).text());
            }


            var previousWidthOfCell = parseInt($("#" + cellId)[0].style.width.replace("px", ''));

            //Now Calculate the New Cell Width
            var newWidthOfTheCell = parseInt(parseFloat(500 / (maxValue - minValue)) * parseFloat(txtCellValue - prevSpanValue));
            //Get the difference of the new and old width
            var difference = previousWidthOfCell - newWidthOfTheCell;

            if ($("#" + cellId).css("background-color") == 'rgb(0, 128, 0)') {
                currentCellColor = "green";
            }
            else {
                if ($("#" + cellId).css("background-color") == 'rgb(255, 255, 0)') {
                    currentCellColor = "yellow";
                }
                else if ($("#" + cellId).css("background-color") == 'rgb(255, 0, 0)') {
                    currentCellColor = "red";
                }
                else if ($("#" + cellId).css("background-color") == 'rgb(0, 0, 0)') {
                    currentCellColor = "black";
                }
                else {

                    currentCellColor = "white";
                }
            }

            //Set the width of the cell
            $("#" + cellId).width(newWidthOfTheCell);

            $("#" + txtCellWidthId).attr("style", "font-size:9px;position:absolute;margin-top:25px;margin-left:" + (newWidthOfTheCell - 50).toString() + "px;color:black;display:none;width:50px;text-shadow:none");


            var spanId = txtCellWidthId.replace("txtThWidth_", "spnThWidth_")
            $("#" + spanId).attr("style", "font-size:9px;position:absolute;margin-top:25px;margin-left:" + (newWidthOfTheCell - 5).toString() + "px;color:black;display:block;text-shadow:none");

            $("#" + spanId).text($("#" + txtCellWidthId).val());
            //Set the Custom width of the cell
            $("#" + cellId).attr("customcellwidth", newWidthOfTheCell.toString());

            //Now set the next cell width
            var nextCellWidth = parseInt($("#" + columns[columnIndex + 1].id)[0].style.width.replace("px", ''));

            nextCellWidth = nextCellWidth + difference;
            //$("#txtThWidth_" + columns[columnIndex + 1].id).attr("style", "font-size:9px;position:absolute;margin-top:25px;margin-left:" + (nextCellWidth - 50).toString() + "px;color:black;display:none;width:50px");
            //$("#spnThWidth_" + columns[columnIndex + 1].id).attr("style", "font-size:9px;position:absolute;margin-top:25px;margin-left:" + (nextCellWidth - 5).toString() + "px;color:black;display:block");

            $("#" + columns[columnIndex + 1].id).width(nextCellWidth);
            $("#" + columns[columnIndex + 1].id).attr("customcellwidth", nextCellWidth.toString());
            var nextCellSpanvalue = $("#spnThWidth_" + columns[columnIndex + 1].id).text();

            if ($("#" + columns[columnIndex + 1].id).css("background-color") == 'rgb(0, 128, 0)') {
                nextCellColor = "green";
            }
            else {
                if ($("#" + columns[columnIndex + 1].id).css("background-color") == 'rgb(255, 255, 0)') {
                    nextCellColor = "yellow";
                }
                else if ($("#" + columns[columnIndex + 1].id).css("background-color") == 'rgb(255, 0, 0)') {
                    nextCellColor = "red";
                }
                else if ($("#" + columns[columnIndex + 1].id).css("background-color") == 'rgb(0, 0, 0)') {
                    nextCellColor = "black";
                }
                else {
                    nextCellColor = "white";
                }
            }


            var randomFirstBlock = Math.random().toString().replace('.', '');
            var randomSecondBlock = Math.random().toString().replace('.', '');
            $('#' + tablename).find('tr').each(function () {
                $(this).find('th').eq(columnIndex + 1).after('<th  id="' + tablename + '_' + randomFirstBlock + '" customcellwidth="' + newWidthOfTheCell.toString() + '" style="width:' + newWidthOfTheCell.toString() + 'px;background-color:' + currentCellColor + '; text-align: right;" onclick="OnTableCellClickForColor(\'' + tablename + '\', this.id)" ondblclick="CreateNode(this.id, \'' + tablename + '\')"><input type=\"text\" id=\"txtThWidth_' + tablename + '_' + randomFirstBlock + '\" value =\"' + txtCellValue + '\" style=\"display:none;font-size:9px;position:absolute;margin-top:25px;margin-left:-5px;width:50px;\"  onchange="cellWidthChange(this.id);" /><span ondblclick="temp();" id="spnThWidth_' + tablename + '_' + randomFirstBlock + '" onmousedown="func(\'spnThWidth_' + tablename + '_' + randomFirstBlock + '\' )"  onmouseup="revert()" style="font-size:9px;position:absolute;margin-top:25px;margin-left:-5px;color:black;text-shadow:none">' + txtCellValue + '</span></th><th id="' + tablename + '_' + randomSecondBlock + '" customcellwidth="' + nextCellWidth.toString() + '" style="width:' + (nextCellWidth).toString() + 'px;background-color:' + nextCellColor + '; text-align: right;" onclick="OnTableCellClickForColor(\'' + tablename + '\', this.id)" ondblclick="CreateNode(this.id,\'' + tablename + '\')"><input type=\"text\" id=\"txtThWidth_' + tablename + '_' + randomSecondBlock + '\" value =\"' + nextCellSpanvalue + '\" style=\"display:none;font-size:9px;position:absolute;margin-top:25px;margin-left:-5px;width:50px;\" onchange="cellWidthChange(this.id);" /><span ondblclick="temp();" id="spnThWidth_' + tablename + '_' + randomSecondBlock + '"  onmousedown="func(\'spnThWidth_' + tablename + '_' + randomSecondBlock + '\')" onmouseup="revert()" style="font-size:9px;position:absolute;margin-top:25px;margin-left:-5px;color:black;text-shadow:none">' + nextCellSpanvalue + '</span></th>');
            });


            //Remove the both cell
            $('#' + tablename).find('tr').each(function () {
                $(this).find('th').eq(columnIndex).remove();

            });
            $('#' + tablename).find('tr').each(function () {
                $(this).find('th').eq(columnIndex).remove();

            });


            //Now update the divOriginalRangeWithColor string
            var arrRangeWithColor = [];
            if ($("#divOriginalRangeWithColor_" + tablename).text().substr($("#divOriginalRangeWithColor_" + tablename).text().length - 1) == "^") {
                arrRangeWithColor = $("#divOriginalRangeWithColor_" + tablename).text().slice(0, -1).split('^');
            }
            else {
                arrRangeWithColor = $("#divOriginalRangeWithColor_" + tablename).text().split('^');
            }

            var arrValues = arrRangeWithColor[columnIndex].split('~');
            arrValues[1] = txtCellValue;
            arrRangeWithColor[columnIndex] = arrValues[0] + "~" + arrValues[1] + "~" + arrValues[2] + "~" + arrValues[3];

            arrValues = [];
            arrValues = arrRangeWithColor[columnIndex + 1].split('~');
            arrValues[0] = txtCellValue;
            arrRangeWithColor[columnIndex + 1] = arrValues[0] + "~" + arrValues[1] + "~" + arrValues[2] + "~" + arrValues[3];


            var newArrRangeWithColor = arrRangeWithColor.join('^');
            $("#divOriginalRangeWithColor_" + tablename).text(newArrRangeWithColor);

            var onSampleResized = function (e) {

                var columns = $(e.currentTarget).find("th");
                var tableName = columns[0].id.toString().split('_')[0];
                var msg = "a";
                var min = 0;
                var max = 0;
                var cellWidth = 0;
                var i = 0;
                var totalWidth = 0;
                var customWidth = 0.0;
                var CurrentWidth = 0.0;
                var spanValueToBeChange = false;
                min = $("#spnMin_" + columns[i].id.toString().split('_')[0]).val();
                max = $("#spnMax_" + columns[i].id.toString().split('_')[0]).val();


                var arrRangeWithColor1 = [];
                if ($("#divOriginalRangeWithColor_" + tableName).text().substr($("#divOriginalRangeWithColor_" + tableName).text().length - 1) == "^") {
                    arrRangeWithColor1 = $("#divOriginalRangeWithColor_" + tableName).text().slice(0, -1).split('^');
                }
                else {
                    arrRangeWithColor1 = $("#divOriginalRangeWithColor_" + tableName).text().split('^');
                }

                totalWidth = parseInt(min);
                columns.each(function () {

                    if (spanValueToBeChange == false) {
                        //get the custom width
                        customWidth = parseFloat($('#' + columns[i].id).attr("customcellwidth"));
                        CurrentWidth = parseFloat($(this)[0].style.width.replace("px", ''));
                        //Now get the difference bet new width and old width
                        if (customWidth - CurrentWidth > 2 || CurrentWidth - customWidth > 2) {

                            spanValueToBeChange = true;
                            cellWidth = parseInt((CurrentWidth * (parseInt(max) - parseInt(min))) / parseFloat(500));

                            //Now check that the column is first or not
                            $(this).attr("customcellwidth", CurrentWidth.toString());
                            if (i == 0) {
                                $("#spnThWidth_" + columns[i].id.toString()).text((totalWidth + cellWidth).toString());
                            }
                            else {
                                $("#spnThWidth_" + columns[i].id.toString()).text((parseInt($("#spnThWidth_" + columns[i - 1].id.toString()).text()) + cellWidth).toString());
                            }
                            var newRange = "";
                            var arr = arrRangeWithColor1[i].split('~');
                            arr[1] = $("#spnThWidth_" + columns[i].id.toString()).text();
                            newRange = arr[1];
                            arrRangeWithColor1[i] = arr[0] + "~" + arr[1] + "~" + arr[2] + "~" + arr[3];

                            var arr2 = arrRangeWithColor1[i + 1].split('~');
                            arrRangeWithColor1[i + 1] = newRange + "~" + arr2[1] + "~" + arr2[2] + "~" + arr2[3];

                            var newArrRangeWithColor1 = arrRangeWithColor1.join('^');
                            $("#divOriginalRangeWithColor_" + tableName).text(newArrRangeWithColor1);

                            //also change the custom cell width of the next cell
                            $("#" + columns[i + 1].id.toString()).attr("customcellwidth", parseFloat($("#" + columns[i + 1].id.toString())[0].style.width.replace("px", '')));
                        }
                    }
                    i += 1;
                })
            };

            $("#" + tablename).colResizable({
                liveDrag: true,
                gripInnerHtml: "<div class='grip'></div>",
                draggingClass: "dragging",
                onResize: onSampleResized
            });
        }
    }

    function temp() {
        return false;
    }


    var timer;
    var istrue = false;
    var delay = 2000; // how much long u have to hold click in MS
    function func(spanId) {
        istrue = true;
        timer = setTimeout(function () { makeChange(spanId); }, delay);
    }

    function makeChange(spanId) {
        if (timer)
            clearTimeout(timer);

        if (istrue) {
            /// rest of your code

            $("#" + spanId).attr("style", "font-size:9px;position:absolute;margin-top:25px;margin-left:-5px;color:black;display:none;text-shadow:none");
            var txtBoxId = spanId.replace("spnThWidth_", "txtThWidth_");
            var cellId = spanId.replace("spnThWidth_", "");
            var setmargin = parseInt($("#" + cellId)[0].style.width.replace("px", '')) - 25;
            $("#" + txtBoxId).attr("style", "font-size:9px;position:absolute;margin-top:25px;margin-left:" + setmargin.toString() + "px;color:black;display:block;width:50px");

        }
    }

    function revert() {
        istrue = false;
    }

    function CreateNode(id, tablename) {



        $("#" + tablename).colResizable({ disable: true });
        var columns = $("#" + tablename).find("th");
        var columnIndex = $("#" + id).prevAll().length;// to get the index of the column

        var blockSpanvalue = 0;
        var prevColumnSpanValue = 0;
        var tempPrevSpanValue = 0;
        if (columnIndex == 0) {
            tempPrevSpanValue = parseInt($("#spnMin_" + tablename).val());
            prevColumnSpanValue = tempPrevSpanValue + parseInt(parseInt($("#spnThWidth_" + id).text() - tempPrevSpanValue) / 2);
            blockSpanvalue = parseInt($("#spnThWidth_" + id).text());

        }
        else {
            var prevColumnSpanValue = parseInt($("#" + columns[columnIndex - 1].id).text());
            blockSpanvalue = parseInt($("#spnThWidth_" + id).text());
            tempPrevSpanValue = prevColumnSpanValue;
            prevColumnSpanValue = prevColumnSpanValue + parseInt((blockSpanvalue - prevColumnSpanValue) / 2);

        }

        var columnWidth = $("#" + id)[0].style.width.replace("px", '');

        var customWidth = parseFloat(parseFloat($('#' + id).attr("customcellwidth")) / 2);
        var columnWidthLeft = parseInt(columnWidth / 2);
        var colour = '';
        $('#' + tablename).find('tr').each(function () {

            var randomFirstBlock = Math.random().toString().replace('.', '');
            var randomSecondBlock = Math.random().toString().replace('.', '');
            if ($("#" + id).css("background-color") == 'rgb(0, 128, 0)') {
                colour = "green";
            }
            else {
                if ($("#" + id).css("background-color") == 'rgb(255, 255, 0)') {
                    colour = "yellow";
                }
                else if ($("#" + id).css("background-color") == 'rgb(255, 0, 0)') {
                    colour = "red";
                }
                else if ($("#" + id).css("background-color") == 'rgb(0, 0, 0)') {
                    colour = "black";
                }
                else {
                    colour = "white";
                }
            }
            $(this).find('th').eq(columnIndex).after('<th  id="' + tablename + '_' + randomFirstBlock + '" customcellwidth="' + customWidth.toString() + '" style="width:' + columnWidthLeft.toString() + 'px;background-color:' + colour + '; text-align: right;" onclick="OnTableCellClickForColor(\'' + tablename + '\', this.id)" ondblclick="CreateNode(this.id, \'' + tablename + '\')"><input type=\"text\" id=\"txtThWidth_' + tablename + '_' + randomFirstBlock + '\" value =\"' + prevColumnSpanValue + '\" style=\"display:none;font-size:9px;position:absolute;margin-top:25px;margin-left:-5px;width:50px;\"  onchange="cellWidthChange(this.id);" /><span ondblclick="temp();" id="spnThWidth_' + tablename + '_' + randomFirstBlock + '" onmousedown="func(\'spnThWidth_' + tablename + '_' + randomFirstBlock + '\' )"  onmouseup="revert()" style="font-size:9px;position:absolute;margin-top:25px;margin-left:-5px;color:black;text-shadow:none">' + prevColumnSpanValue + '</span></th><th id="' + tablename + '_' + randomSecondBlock + '" customcellwidth="' + customWidth.toString() + '" style="width:' + (columnWidth - columnWidthLeft).toString() + 'px;background-color:' + colour + '; text-align: right;" onclick="OnTableCellClickForColor(\'' + tablename + '\', this.id)" ondblclick="CreateNode(this.id,\'' + tablename + '\')"><input type=\"text\" id=\"txtThWidth_' + tablename + '_' + randomSecondBlock + '\" value =\"' + blockSpanvalue + '\" style=\"display:none;font-size:9px;position:absolute;margin-top:25px;margin-left:-5px;width:50px;\" onchange="cellWidthChange(this.id);" /><span ondblclick="temp();" id="spnThWidth_' + tablename + '_' + randomSecondBlock + '"  onmousedown="func(\'spnThWidth_' + tablename + '_' + randomSecondBlock + '\')" onmouseup="revert()" style="font-size:9px;position:absolute;margin-top:25px;margin-left:-5px;color:black;text-shadow:none">' + blockSpanvalue + '</span></th>');
        });

        $('#' + tablename).find('tr').each(function () {
            $(this).find('th').eq(columnIndex).remove();
        });

        var arrRangeWithColor = [];
        if ($("#divOriginalRangeWithColor_" + tablename).text().substr($("#divOriginalRangeWithColor_" + tablename).text().length - 1) == "^") {
            arrRangeWithColor = $("#divOriginalRangeWithColor_" + tablename).text().slice(0, -1).split('^');
        }
        else {
            arrRangeWithColor = $("#divOriginalRangeWithColor_" + tablename).text().split('^');
        }

        arrRangeWithColor[columnIndex] = tempPrevSpanValue.toString() + "~" + prevColumnSpanValue.toString() + "~" + colour + "~true";
        arrRangeWithColor.splice((columnIndex + 1), 0, prevColumnSpanValue.toString() + "~" + blockSpanvalue.toString() + "~" + colour + "~true");
        //arrRangeWithColor.splice(columnIndex + 1, 0, "Lene");

        var newArrRangeWithColor = arrRangeWithColor.join('^');
        $("#divOriginalRangeWithColor_" + tablename).text(newArrRangeWithColor);

        var onSampleResized = function (e) {

            var columns = $(e.currentTarget).find("th");
            var tableName = columns[0].id.toString().split('_')[0];

            var msg = "a";
            var min = 0;
            var max = 0;
            var cellWidth = 0;
            var i = 0;
            var totalWidth = 0;
            var customWidth = 0.0;
            var CurrentWidth = 0.0;
            var spanValueToBeChange = false;
            min = $("#spnMin_" + columns[i].id.toString().split('_')[0]).val();
            max = $("#spnMax_" + columns[i].id.toString().split('_')[0]).val();


            var arrRangeWithColor1 = [];
            if ($("#divOriginalRangeWithColor_" + tableName).text().substr($("#divOriginalRangeWithColor_" + tableName).text().length - 1) == "^") {
                arrRangeWithColor1 = $("#divOriginalRangeWithColor_" + tableName).text().slice(0, -1).split('^');
            }
            else {
                arrRangeWithColor1 = $("#divOriginalRangeWithColor_" + tableName).text().split('^');
            }

            totalWidth = parseInt(min);
            columns.each(function () {
                if (spanValueToBeChange == false) {
                    //get the custom width
                    customWidth = parseFloat($('#' + columns[i].id).attr("customcellwidth"));
                    CurrentWidth = parseFloat($(this)[0].style.width.replace("px", ''));
                    //Now get the difference bet new width and old width
                    if (customWidth - CurrentWidth > 2 || CurrentWidth - customWidth > 2) {

                        spanValueToBeChange = true;
                        cellWidth = parseInt((CurrentWidth * (parseInt(max) - parseInt(min))) / parseFloat(500));

                        //Now check that the column is first or not
                        $(this).attr("customcellwidth", CurrentWidth.toString());
                        if (i == 0) {
                            $("#spnThWidth_" + columns[i].id.toString()).text((totalWidth + cellWidth).toString());
                        }
                        else {
                            $("#spnThWidth_" + columns[i].id.toString()).text((parseInt($("#spnThWidth_" + columns[i - 1].id.toString()).text()) + cellWidth).toString());
                        }
                        var newRange = "";
                        var arr = arrRangeWithColor1[i].split('~');
                        arr[1] = $("#spnThWidth_" + columns[i].id.toString()).text();
                        newRange = arr[1];
                        arrRangeWithColor1[i] = arr[0] + "~" + arr[1] + "~" + arr[2] + "~" + arr[3];

                        var arr2 = arrRangeWithColor1[i + 1].split('~');
                        arrRangeWithColor1[i + 1] = newRange + "~" + arr2[1] + "~" + arr2[2] + "~" + arr2[3];

                        var newArrRangeWithColor1 = arrRangeWithColor1.join('^');
                        $("#divOriginalRangeWithColor_" + tableName).text(newArrRangeWithColor1);

                        //also change the custom cell width of the next cell
                        $("#" + columns[i + 1].id.toString()).attr("customcellwidth", parseFloat($("#" + columns[i + 1].id.toString())[0].style.width.replace("px", '')));
                    }
                }
                i += 1;
            })
        };

        $("#" + tablename).colResizable({
            liveDrag: true,
            gripInnerHtml: "<div class='grip'></div>",
            draggingClass: "dragging",
            onResize: onSampleResized
        });

    }

    function funOnMaxValueChange(id) {
        var txtMaxValue = parseInt($("#" + id).val());
        var tableName = id.toString().split('_')[1];
        $("#" + tableName).colResizable({ disable: true });
        var range = parseInt($("#" + id).val()) - parseInt($("#spnMin_" + tableName).val());
        console.log("Range = " + range);
        if (range < 0) {
            bootbox.alert('Max value cannot be less then Min value', function () {
            });
        }
        else if (range == 0) {
            bootbox.alert('Min and Max value cannot be same', function () {
            });
        }
        else {
            var columns = $("#" + id.toString().split('_')[1]).find("th");

            var arrRangeWithColor = [];
            if ($("#divOriginalRangeWithColor_" + tableName).text().substr($("#divOriginalRangeWithColor_" + tableName).text().length - 1) == "^") {
                arrRangeWithColor = $("#divOriginalRangeWithColor_" + tableName).text().slice(0, -1).split('^');
            }
            else {
                arrRangeWithColor = $("#divOriginalRangeWithColor_" + tableName).text().split('^');
            }

            var newRangeWithColor = "";
            var oldRangeWithColor = "";
            var lastColIndex = 0;
            var blockMinValue = 0;
            var blockMaxvalue = 0;
            var blockColor = "";
            var cellNewWidth = 0;
            var tableWidth = 0;
            var showLable = true;
            var lastColWidth = 0;
            lastColIndex = columns.length - 1;
            //lastColIndex = arrRangeWithColor.length - 1;
            var oldMaxValue = arrRangeWithColor[lastColIndex].split('~')[1];

            //var strToUpdate = $('#divKeyValueDetails_SPEED').html();
            var strToUpdate = $('#divKeyValueDetails_' + tableName).html();
            strToUpdate = strToUpdate.replace(/\</g, "#").replace(/\>/g, "ZZZ").replace(/\\/g, '~');
            strToUpdate = strToUpdate.replace(('keyZZZmax#/keyZZZ#realZZZ' + oldMaxValue), ('keyZZZmax#/keyZZZ#realZZZ' + txtMaxValue));
            strToUpdate = strToUpdate.replace(/#/g, '<').replace(/ZZZ/g, '>').replace(/~/g, /\\/g);
            //$('#divKeyValueDetails_SPEED').html(strToUpdate);
            $('#divKeyValueDetails_' + tableName).html(strToUpdate);

            //Check that the new max range is smaller or greater than current Max length
            if (parseInt(arrRangeWithColor[lastColIndex].split('~')[1]) < txtMaxValue) {
                //Update the last cell width
                newRangeWithColor = arrRangeWithColor[lastColIndex].split('~')[0] + "~" + txtMaxValue.toString() + "~" + arrRangeWithColor[lastColIndex].split('~')[2] + "~" + arrRangeWithColor[lastColIndex].split('~')[3];
                oldRangeWithColor = arrRangeWithColor[lastColIndex].split('~')[0] + "~" + arrRangeWithColor[lastColIndex].split('~')[0] + "~" + arrRangeWithColor[lastColIndex].split('~')[2] + "~" + arrRangeWithColor[lastColIndex].split('~')[3];
                arrRangeWithColor[lastColIndex] = newRangeWithColor;
            }
            else {
                var flag = false;

                //Check the max range belongs to which Block
                for (var p = columns.length - 1 ; p >= 0 ; p--) {
                    if (!flag) {
                        blockMinValue = parseInt(arrRangeWithColor[p].split('~')[0]);
                        blockMaxvalue = parseInt(arrRangeWithColor[p].split('~')[1]);
                        blockColor = arrRangeWithColor[p].split('~')[2];
                        showLable = arrRangeWithColor[p].split('~')[3];

                        if (blockMinValue < txtMaxValue && blockMaxvalue >= txtMaxValue) {

                            //Update the last block new range
                            arrRangeWithColor[p] = blockMinValue.toString() + "~" + txtMaxValue.toString() + "~" + blockColor + "~" + showLable.toString();
                            flag = true;
                        }
                        else {
                            arrRangeWithColor.splice(-1, 1);
                            $("#" + columns[p].id).remove();

                        }
                    }
                }
            }

            //Now arrRangeWithColor has an updated values now update table according to this array
            for (var q = 0; q < arrRangeWithColor.length ; q++) {
                blockMinValue = parseInt(arrRangeWithColor[q].split('~')[0]);
                blockMaxvalue = parseInt(arrRangeWithColor[q].split('~')[1]);
                blockColor = arrRangeWithColor[q].split('~')[2];
                showLable = arrRangeWithColor[q].split('~')[3];
                cellNewWidth = parseInt(parseFloat(500 / parseFloat(range)) * (blockMaxvalue - blockMinValue));  // difference of first cell max range and new min range enter by user
                tableWidth += cellNewWidth;
                lastColWidth = cellNewWidth;
                $("#" + columns[q].id).css({ "background-color": blockColor, "width": cellNewWidth.toString() + "px" });
            }
            if (arrRangeWithColor.length > 1) {
                $("#spnThWidth_" + columns[arrRangeWithColor.length - 1].id).attr("style", "font-size:9px;position:absolute;margin-top:25px;margin-left:-5px;color:black;display:none;text-shadow:none");
            }
            else {
                $("#spnThWidth_" + columns[0].id).attr("style", "font-size:9px;position:absolute;margin-top:25px;margin-left:" + (cellNewWidth - 5).toString() + "px;color:black;display:block;text-shadow:none");
                $("#spnThWidth_" + columns[0].id).text(blockMaxvalue);
            }

            var newArrRangeWithColor = arrRangeWithColor.join('^');
            $("#divOriginalRangeWithColor_" + tableName).text(newArrRangeWithColor);

            $("#" + columns[columns.length - 1].id).width(lastColWidth + (500 - tableWidth));

            var onSampleResized = function (e) {
                var columns = $(e.currentTarget).find("th");
                var tableName = columns[0].id.split('_')[0];
                var msg = "a";
                var min = 0;
                var max = 0;
                var cellWidth = 0;
                var i = 0;
                var totalWidth = 0;
                var customWidth = 0.0;
                var CurrentWidth = 0.0;
                var spanValueToBeChange = false;
                min = $("#spnMin_" + columns[i].id.toString().split('_')[0]).val();
                max = $("#spnMax_" + columns[i].id.toString().split('_')[0]).val();

                var arrRangeWithColor1 = [];
                if ($("#divOriginalRangeWithColor_" + tableName).text().substr($("#divOriginalRangeWithColor_" + tableName).text().length - 1) == "^") {
                    arrRangeWithColor1 = $("#divOriginalRangeWithColor_" + tableName).text().slice(0, -1).split('^');
                }
                else {
                    arrRangeWithColor1 = $("#divOriginalRangeWithColor_" + tableName).text().split('^');
                }
                totalWidth = parseInt(min);
                columns.each(function () {

                    if (spanValueToBeChange == false) {
                        //get the custom width
                        customWidth = parseFloat($('#' + columns[i].id).attr("customcellwidth"));
                        CurrentWidth = parseFloat($(this)[0].style.width.replace("px", ''));
                        //Now get the difference bet new width and old width
                        if (customWidth - CurrentWidth > 2 || CurrentWidth - customWidth > 2) {

                            spanValueToBeChange = true;
                            cellWidth = parseInt((CurrentWidth * (parseInt(max) - parseInt(min))) / parseFloat(500));

                            //Now check that the column is first or not
                            $(this).attr("customcellwidth", CurrentWidth.toString());
                            if (i == 0) {
                                $("#spnThWidth_" + columns[i].id.toString()).text((totalWidth + cellWidth).toString());
                                $("#txtThWidth_" + columns[i].id.toString()).attr("style", "font-size:9px;position:absolute;margin-top:25px;margin-left:" + (CurrentWidth - 50).toString() + "px;color:black;display:none;width:50px");
                                $("#spnThWidth_" + columns[i].id.toString()).attr("style", "font-size:9px;position:absolute;margin-top:25px;margin-left:" + (CurrentWidth - 5).toString() + "px;color:black;display:block;text-shadow:none");

                            }
                            else {
                                $("#spnThWidth_" + columns[i].id.toString()).text((parseInt($("#spnThWidth_" + columns[i - 1].id.toString()).text()) + cellWidth).toString());
                                $("#txtThWidth_" + columns[i].id.toString()).attr("style", "font-size:9px;position:absolute;margin-top:25px;margin-left:" + (CurrentWidth - 50).toString() + "px;color:black;display:none;width:50px");
                                $("#spnThWidth_" + columns[i].id.toString()).attr("style", "font-size:9px;position:absolute;margin-top:25px;margin-left:" + (CurrentWidth - 5).toString() + "px;color:black;display:block;text-shadow:none");

                            }
                            var newRange = "";
                            var arr = arrRangeWithColor1[i].split('~');
                            arr[1] = $("#spnThWidth_" + columns[i].id.toString()).text();
                            newRange = arr[1];
                            arrRangeWithColor1[i] = arr[0] + "~" + arr[1] + "~" + arr[2] + "~" + arr[3];

                            var arr2 = arrRangeWithColor1[i + 1].split('~');
                            arrRangeWithColor1[i + 1] = newRange + "~" + arr2[1] + "~" + arr2[2] + "~" + arr2[3];

                            var newArrRangeWithColor1 = arrRangeWithColor1.join('^');
                            $("#divOriginalRangeWithColor_" + tableName).text(newArrRangeWithColor1);

                            //also change the custom cell width of the next cell
                            $("#" + columns[i + 1].id.toString()).attr("customcellwidth", parseFloat($("#" + columns[i + 1].id.toString())[0].style.width.replace("px", '')));
                        }
                    }
                    i += 1;
                })
            };

            $("#" + tableName).colResizable({
                liveDrag: true,
                gripInnerHtml: "<div class='grip'></div>",
                draggingClass: "dragging",
                onResize: onSampleResized
            });
            $(".JColResizer").trigger('click');
        }
    }

    function funOnMinValueChange(id) {
        var blockMin = "0";
        var blockMax = "0";
        var blockColor = "";
        var showLabel = true;
        var arrDeleteIndexFromArray = [];
        var tableName = id.toString().split('_')[1];
        $("#" + tableName).colResizable({ disable: true });
        var tableWidth = 0;
        var range = parseInt($("#spnMax_" + tableName).val()) - parseInt($("#" + id).val());

        if (range == 0) {
            bootbox.alert('Min and Max value cannot be same', function () {
            });
        }
        else {
            var columns = $("#" + id.toString().split('_')[1]).find("th");

            columns.each(function () {
                tableWidth += $(this).width();
            });

            var arrRangeWithColor = [];
            if ($("#divOriginalRangeWithColor_" + tableName).text().substr($("#divOriginalRangeWithColor_" + tableName).text().length - 1) == "^") {
                arrRangeWithColor = $("#divOriginalRangeWithColor_" + tableName).text().slice(0, -1).split('^');
            }
            else {
                arrRangeWithColor = $("#divOriginalRangeWithColor_" + tableName).text().split('^');
            }


            var oldMaxValue = arrRangeWithColor[0].split('~')[0];

            //var strToUpdate = $('#divKeyValueDetails_SPEED').html();
            var strToUpdate = $('#divKeyValueDetails_' + tableName).html();
            console.log('oldMaxValue =' + oldMaxValue);
            console.log('current = ' + $("#" + id).val());
            strToUpdate = strToUpdate.replace(/\</g, "#").replace(/\>/g, "ZZZ").replace(/\\/g, '~');
            strToUpdate = strToUpdate.replace(('keyZZZmin#/keyZZZ#realZZZ' + oldMaxValue), ('keyZZZmin#/keyZZZ#realZZZ' + $("#" + id).val()));
            strToUpdate = strToUpdate.replace(/#/g, '<').replace(/ZZZ/g, '>').replace(/~/g, /\\/g);
            //$('#divKeyValueDetails_SPEED').html(strToUpdate);
            $('#divKeyValueDetails_' + tableName).html(strToUpdate);


            var cellNewWidth = 0;
            var IsLessThanMinRange = false;
            //Get the first block and check that the min value is less than the current min value or greater than min value
            if (parseInt($("#" + id).val()) < arrRangeWithColor[0].split('~')[0]) {

                cellNewWidth = parseInt(parseFloat(500 / parseFloat(range)) * parseInt(parseInt(arrRangeWithColor[0].split('~')[1]) - parseInt($("#" + id).val())));  // difference of first cell max range and new min range enter by user
                tableWidth += cellNewWidth;
                $("#" + columns[0].id).css({ "background-color": arrRangeWithColor[0].split('-')[2], "width": cellNewWidth.toString() + "px" });
                IsLessThanMinRange = true;
                var arr = arrRangeWithColor[0].split('~');

                blockMin = $("#" + id).val();
                blockMax = arr[1];
                blockColor = arr[2];
                showLabel = arr[3];
                arrRangeWithColor[0] = blockMin + "~" + blockMax + "~" + blockColor + "~" + showLabel.toString();
                var newArrRangeWithColor = arrRangeWithColor.join('^');
                $("#divOriginalRangeWithColor_" + tableName).text(newArrRangeWithColor);
            }


            tableWidth = 0;
            var i = 0;
            var flag = false;  // flag = false until get the first block. and flag = true if we get the first block
            columns.each(function () {
                if (!(IsLessThanMinRange && i == 0)) {
                    if (!flag) {
                        if (!IsLessThanMinRange) {


                            if ((parseInt(arrRangeWithColor[i].split('~')[0]) <= parseInt($("#" + id).val())) && (parseInt(arrRangeWithColor[i].split('~')[1]) > parseInt($("#" + id).val()))) {
                                cellNewWidth = parseInt(parseFloat(500 / parseFloat(range)) * parseInt(parseInt(arrRangeWithColor[i].split('~')[1]) - parseInt($("#" + id).val())));  // difference of first cell max range and new min range enter by user
                                tableWidth += cellNewWidth;
                                $("#" + columns[i].id).css({ "background-color": arrRangeWithColor[i].split('~')[2], "width": cellNewWidth.toString() + "px" });
                                flag = true;

                                blockMin = $("#" + id).val();
                                blockMax = arrRangeWithColor[i].split('~')[1];
                                blockColor = arrRangeWithColor[i].split('~')[2];
                                showLabel = arrRangeWithColor[i].split('~')[3];
                                arrRangeWithColor[i] = blockMin + "~" + blockMax + "~" + blockColor + "~" + showLabel.toString();

                            }
                            else {
                                $(this).remove();
                                arrDeleteIndexFromArray.push(i);

                            }
                        }
                        else {
                            cellNewWidth = parseInt(parseFloat(500 / parseFloat(range)) * parseInt(parseInt(arrRangeWithColor[i].split('~')[1]) - parseInt(arrRangeWithColor[i].split('~')[0])));  // difference of first cell max range and new min range enter by user
                            tableWidth += cellNewWidth;
                            $("#" + columns[i].id).css({ "background-color": arrRangeWithColor[i].split('~')[2], "width": cellNewWidth.toString() + "px" });
                            //blockMin = $("#" + id).val();
                            //blockMax = arrRangeWithColor[i].split('~')[1];
                            //blockColor = arrRangeWithColor[i].split('~')[2];
                            //showLabel = arrRangeWithColor[i].split('~')[3];
                            //arrRangeWithColor[i] = blockMin + "~" + blockMax + "~" + blockColor + "~" + showLabel.toString();

                        }
                    }
                    else {

                        cellNewWidth = parseInt(parseFloat(500 / parseFloat(range)) * parseInt(parseInt(arrRangeWithColor[i].split('~')[1]) - parseInt(arrRangeWithColor[i].split('~')[0])));  // difference of first cell max range and new min range enter by user
                        tableWidth += cellNewWidth;
                        $("#" + columns[i].id).css({ "background-color": arrRangeWithColor[i].split('-')[2], "width": cellNewWidth.toString() + "px" });
                        //blockMin = $("#" + id).val();
                        //blockMax = arrRangeWithColor[i].split('~')[1];
                        //blockColor = arrRangeWithColor[i].split('~')[2];
                        //showLabel = arrRangeWithColor[i].split('~')[3];
                        //arrRangeWithColor[i] = blockMin + "~" + blockMax + "~" + blockColor + "~" + showLabel.toString();
                    }
                }
                i = i + 1;

            });

            for (var z = 0; z < arrDeleteIndexFromArray.length; z++) {
                arrRangeWithColor.splice(0, 1);
            }

            var newArrRangeWithColor = arrRangeWithColor.join('^');
            $("#divOriginalRangeWithColor_" + tableName).text(newArrRangeWithColor);


            console.log('Last Cell Width =' + $("#" + columns[columns.length - 1].id).width());

            if (tableWidth != 500) {
                //set Last Cell Width
                if (500 - tableWidth > 0) {
                    $("#" + columns[columns.length - 1].id).width($("#" + columns[columns.length - 1].id).width() + (500 - tableWidth));
                }
                else {
                    $("#" + columns[columns.length - 1].id).width($("#" + columns[columns.length - 1].id).width() - (500 - tableWidth));
                }
            }
            // $("#" + columns[columns.length - 1].id).width(500 - tableWidth);


            var onSampleResized = function (e) {

                var columns = $(e.currentTarget).find("th");
                var tableName = columns[0].id.toString().split('_')[0];
                var msg = "a";
                var min = 0;
                var max = 0;
                var cellWidth = 0;
                var i = 0;
                var totalWidth = 0;
                var customWidth = 0.0;
                var CurrentWidth = 0.0;
                var spanValueToBeChange = false;
                min = $("#spnMin_" + columns[i].id.toString().split('_')[0]).val();
                max = $("#spnMax_" + columns[i].id.toString().split('_')[0]).val();


                var arrRangeWithColor1 = [];
                if ($("#divOriginalRangeWithColor_" + tableName).text().substr($("#divOriginalRangeWithColor_" + tableName).text().length - 1) == "^") {
                    arrRangeWithColor1 = $("#divOriginalRangeWithColor_" + tableName).text().slice(0, -1).split('^');
                }
                else {
                    arrRangeWithColor1 = $("#divOriginalRangeWithColor_" + tableName).text().split('^');
                }
                totalWidth = parseInt(min);
                columns.each(function () {

                    if (spanValueToBeChange == false) {
                        //get the custom width
                        customWidth = parseFloat($('#' + columns[i].id).attr("customcellwidth"));
                        CurrentWidth = parseFloat($(this)[0].style.width.replace("px", ''));
                        //Now get the difference bet new width and old width
                        if (customWidth - CurrentWidth > 2 || CurrentWidth - customWidth > 2) {

                            spanValueToBeChange = true;
                            cellWidth = parseInt((CurrentWidth * (parseInt(max) - parseInt(min))) / parseFloat(500));

                            //Now check that the column is first or not
                            $(this).attr("customcellwidth", CurrentWidth.toString());
                            if (i == 0) {
                                $("#spnThWidth_" + columns[i].id.toString()).text((totalWidth + cellWidth).toString());
                            }
                            else {
                                $("#spnThWidth_" + columns[i].id.toString()).text((parseInt($("#spnThWidth_" + columns[i - 1].id.toString()).text()) + cellWidth).toString());
                            }
                            var newRange = "";
                            var arr = arrRangeWithColor1[i].split('~');
                            arr[1] = $("#spnThWidth_" + columns[i].id.toString()).text();
                            newRange = arr[1];
                            arrRangeWithColor1[i] = arr[0] + "~" + arr[1] + "~" + arr[2] + "~" + arr[3];

                            var arr2 = arrRangeWithColor1[i + 1].split('~');
                            arrRangeWithColor1[i + 1] = newRange + "~" + arr2[1] + "~" + arr2[2] + "~" + arr2[3];

                            var newArrRangeWithColor1 = arrRangeWithColor1.join('^');
                            $("#divOriginalRangeWithColor_" + tableName).text(newArrRangeWithColor1);

                            //also change the custom cell width of the next cell
                            $("#" + columns[i + 1].id.toString()).attr("customcellwidth", parseFloat($("#" + columns[i + 1].id.toString())[0].style.width.replace("px", '')));
                        }
                    }
                    i += 1;
                })
            };

            $("#" + tableName).colResizable({
                liveDrag: true,
                gripInnerHtml: "<div class='grip'></div>",
                draggingClass: "dragging",
                onResize: onSampleResized

            });
        }
    }

    function SaveEngineSetting() {

    }

    function OnTableCellClickForColor(tableName, cellId) {

        var columnIndex = $("#" + cellId).prevAll().length;// to get the index of the column
        var width = 0;
        var columns = $("#" + tableName).find("th");
        for (var i = 0; i <= columnIndex; i++) {
            if (i == columnIndex) {
                width += (parseInt($("#" + columns[i].id)[0].style.width.replace("px", '')) / 2) - 35;
            }
            else {
                width += parseInt($("#" + columns[i].id)[0].style.width.replace("px", ''));
            }
        }

        $("#divColor_" + tableName).css({
            "padding": "5px",
            "display": "inline-block",
            "border": "1px solid #ccc",
            "margin-left": width.toString() + "px"
        });

        $("#spnToHoldTableCellId_" + tableName).text(cellId);
    }

    function OnSelectColorForTh(tableName, color) {
        var cellId = $("#spnToHoldTableCellId_" + tableName).text();
        var CellWidth = $("#" + cellId).width();
        if (color == 'white') {

            $("#" + cellId).css({ "background-color": "#E6E6E6", "width": CellWidth + "px" });
        }
        else {
            $("#" + cellId).css({ "background-color": color, "width": CellWidth + "px" });
        }


        $("#spnToHoldTableCellId_" + tableName).text('');
        $("#divColor_" + tableName).css({
            "padding": "5px",
            "display": "none",
            "border": "1px solid #ccc"
        });


        var columnIndex = $("#" + cellId).prevAll().length;// to get the index of the column
        var arrRangeWithColor = [];
        if ($("#divOriginalRangeWithColor_" + tableName).text().substr($("#divOriginalRangeWithColor_" + tableName).text().length - 1) == "^") {
            arrRangeWithColor = $("#divOriginalRangeWithColor_" + tableName).text().slice(0, -1).split('^');
        }
        else {
            arrRangeWithColor = $("#divOriginalRangeWithColor_" + tableName).text().split('^');
        }

        var arrtemp = arrRangeWithColor[columnIndex].split('~');
        arrtemp[2] = color;

        arrRangeWithColor[columnIndex] = arrtemp.join('~');

        var newArrRangeWithColor = arrRangeWithColor.join('^');
        $("#divOriginalRangeWithColor_" + tableName).text(newArrRangeWithColor);
    }

    function OnDDLDisplayChange(ddlId) {
        var tableName = ddlId.split('_')[1];

        var accordianDivId = $("#" + ddlId + " option:selected").val();

        $("#div_" + tableName).appendTo("#" + accordianDivId);

        $('#' + ddlId).empty()
        if (accordianDivId == "Gauge") {
            $('#' + ddlId).append('<option selected="selected" value ="Gauge">Gauge</option>');
            $('#' + ddlId).append('<option value ="Scroller">Scroller</option>');
            $('#' + ddlId).append('<option value ="DontShow">DontShow</option>');
        } else if (accordianDivId == "Scroller") {

            $('#' + ddlId).append('<option selected="selected" value ="Scroller">Scroller</option>');
            $('#' + ddlId).append('<option value ="DontShow">DontShow</option>');
            if ($("#" + tableName).attr("type") == "Gauge") {
                $('#' + ddlId).append('<option value ="Gauge">Gauge</option>');
            }
        }
        else if (accordianDivId == "DontShow") {
            $('#' + ddlId).append('<option selected="selected" value ="DontShow">DontShow</option>');
            $('#' + ddlId).append('<option value ="Scroller">Scroller</option>');
            if ($("#" + tableName).attr("type") == "Gauge") {
                $('#' + ddlId).append('<option value ="Gauge">Gauge</option>');
            }

        }
    }





</script>

<style>
    .colorpickerwrap {
        border: 1px solid #ccc;
        padding: 5px;
        /*display: inline-block;*/
        display: none;
    }

    .colorbox {
        width: 20px;
        height: 20px;
        float: left;
        margin-right: 5px;
    }

    .green {
        background-color: #090;
    }

    .yellow {
        background-color: #FF0;
    }

    .red {
        background-color: #f00;
    }

    .black {
        background-color: #000;
    }

    .white {
        background-color: #E6E6E6;
    }


    .last {
        margin-right: 0 !important;
    }

    .clearfix:before, .clearfix:after {
        display: table;
        content: '';
    }

    .clearfix:after {
        clear: both;
    }

     .cylinderDivActive {
        background-color: skyblue;
        color: black;
    }

    .cylinderDivIncativeActive {
        background-color: white;
        color: black;
    }
</style>


<div class="aircraftprofile_engine" style="width: 100%; margin-top: 20px;">
    @Html.Raw(ViewBag.EngineData)
</div>
<div style="width: 100%; margin-top: 20px; text-align: center" class="clearfix">
    @if (@ViewBag.IsEngineDataAvailable)
    {
        <div class="col-sm-2 col-md-2 col-xs-12">
            <input type="button" id="btnSaveEngineSetting" class="btn btn-primary btn-block" value="Save" />
        </div>
    }
</div>

