﻿@model GA.DataTransfer.Classes_for_Web.IPassengerMediaDetails

<script type="text/javascript">

    function CancelEditImage(id) {
        $('#updateImage_' + id).hide();
        $('#CancelEditImage_' + id).hide();
        $('#editImage_' + id).show();
        $('#spnImage_' + id).show();
        $('#txtImageTitle_' + id).hide();
        $('#txtImageTitle_' + id).val($('#spnImage_' + id).text());
    }

</script>



<script src="~/Scripts/DataTable/bootstrap.min.js"></script>
@*<script src="~/Scripts/DataTable/jquery.min.js"></script>*@
<link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTable/jquery.dataTables.min.js"></script>


@*<script src="~/Scripts/jquery-ui-1.8.24.js"></script>*@
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />



<div id="divImage" style="width:95%; padding-top: 20px;padding-left:10px;padding-right:10px;padding-bottom:20px;border:5px solid #b3b3b3">

    <table id="tblImage" class="table-striped table-bordered nowrap">

        <thead>
            <tr>
                <td width="80%">
                    @Html.DisplayName("Image List")
                </td>
                @if (@ViewBag.IsEngineDataAvailable)
                {
                    <td width="20%">
                        Actions

                    </td>
                }
            </tr>
        </thead>

        <tbody>

            @foreach (var item in @Model.ImageList)
            {
                <tr>
                    <td>
                        <img style="vertical-align:middle" src="@item.ThumbnailImagePath" width="50px" height="50px" /> &nbsp;&nbsp;  <span style="cursor: pointer;" onclick="funLoadImage('@item.FilePath')" id="spnImage_@item.Id">@item.Title</span>
                        @Html.TextBoxFor(model => item.Title, new { id = "txtImageTitle_" + @item.Id, style = "display: none;float:none", @class = "inputbox_new", size = "20", @autocomplete = "Off" })
                    </td>
                    @if (@ViewBag.IsEngineDataAvailable)
                    {
                        <td>
                            <a href="javascript:void(0);" id="editImage_@item.Id" onclick="editImage('@item.Id')" class="fa fa-edit tooltip"><span>Edit</span> </a>
                            <a href="javascript:void(0);" id="updateImage_@item.Id" style="display: none" onclick="UpdateImage('@item.Id')" class="fa fa-update tooltip"><span>Update</span></a>
                            <a href="javascript:void(0);" id="CancelEditImage_@item.Id" style="display: none" onclick="CancelEditImage('@item.Id')" class="fa fa-cancel tooltip"><span>Cancel</span></a>
                            <a href="javascript:void(0);" id="deleteImage_@item.Id" onclick="deleteImage('@item.Id')" class="fa fa-delete tooltip"><span>Delete</span></a>
                        </td>
                    }
                </tr>
            }

        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#tblImage').dataTable();
    });
</script>

