﻿@model GA.DataTransfer.Classes_for_Web.IPassengerMediaDetails

<script type="text/javascript">

    function CancelEditInstruction(id) {
        $('#updateInstruction_' + id).hide();
        $('#CancelEditInstruction_' + id).hide();
        $('#editInstruction_' + id).show();
        $('#spnInstruction_' + id).show();
        $('#txtInstructionTitle_' + id).hide();
        $('#txtInstructionTitle_' + id).val($('#spnInstruction_' + id).text());
    }

</script>

<script src="~/Scripts/DataTable/bootstrap.min.js"></script>
@*<script src="~/Scripts/DataTable/jquery.min.js"></script>*@
<link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTable/jquery.dataTables.min.js"></script>


@*<script src="~/Scripts/jquery-ui-1.8.24.js"></script>*@
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<div id="divInstruction" style="width:95%; padding-top: 20px;padding-left:10px;padding-right:10px;padding-bottom:20px;border:5px solid #b3b3b3">

    <table id="tblInstruction" class="table-striped table-bordered nowrap">

        <thead>
            <tr>
                <td width="80%">
                    @Html.DisplayName("Instruction List")
                </td>
                @if (@ViewBag.IsEngineDataAvailable)
                {
                    <td width="20%">
                        Actions

                    </td>
                }

            </tr>
        </thead>

        <tbody>

            @foreach (var item in @Model.InstructionList)
            {
                <tr>
                    <td>
                        <span id="spnInstruction_@item.Id">@item.Title</span>

                        @Html.TextBoxFor(model => item.Title, new { id = "txtInstructionTitle_" + @item.Id, style = "display: none;float:none", @class = "inputbox_new", size = "20", @autocomplete = "Off" })
                    </td>
                    @if (@ViewBag.IsEngineDataAvailable)
                    {
                        <td>
                            <a href="javascript:void(0);" id="editInstruction_@item.Id" onclick="editInstruction('@item.Id')" class="fa fa-edit tooltip"><span>Edit</span> </a>
                            <a href="javascript:void(0);" id="updateInstruction_@item.Id" style="display: none" onclick="UpdateInstruction('@item.Id')" class="fa fa-update tooltip"><span>Update</span></a>
                            <a href="javascript:void(0);" id="CancelEditInstruction_@item.Id" style="display: none" onclick="CancelEditInstruction('@item.Id')" class="fa fa-cancel tooltip"><span>Cancel</span></a>
                            <a href="javascript:void(0);" id="deleteInstruction_@item.Id" onclick="deleteInstruction('@item.Id')" class="fa fa-delete tooltip"><span>Delete</span></a>
                        </td>
                    }
                </tr>
            }

        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#tblInstruction').dataTable();

    });
</script>

