﻿@model GA.DataTransfer.Classes_for_Web.IPassengerMediaDetails

<script type="text/javascript">

    function AddWarning() {
        if ($('#txtAddIPWarningTitle').val() == '') {
            $("#snpErrAddIPWarningTitle").attr("style", "display:block;color:red");
        }
        else {
            $("#snpErrAddIPWarningTitle").attr("style", "display:none;color:red");
            $('#btnCancelAddIPWarning').click();
            $('#btnCancelAddIPWarning').click();
            $('#myLoadingElement').show();

            $.post("/Aircraft/AddIPassengerWarning", {
                title: $('#txtAddIPWarningTitle').val(),
                aircraftId: $('#AircraftId').val()
            },
            function (data) {
                $('#divIPassengerWarningPartial').html(data);
                $('#datatable-fixed-headerIPWarning').dataTable();
                //$('#btnCancelAddIPWarning').click();
                //$('#btnCancelAddIPWarning').click();
                $('#myLoadingElement').hide();
                bootbox.alert('Warning added successfully.', function () {
                });
            });
        }
    }

    function editWarning(id, title) {
        $("#hdnIPWarningId").val(id);
        $("#txtEditIPWarningTitle").val(title);
        $("#snpErrEditIPWarningTitle").attr("style", "display:none;color:red");
    }

    function UpdateWarning() {
        if ($('#txtEditIPWarningTitle').val() == '') {
            $("#snpErrEditIPWarningTitle").attr("style", "display:block;color:red");
        }
        else {
            $("#snpErrEditIPWarningTitle").attr("style", "display:none;color:red");
            $('#btnCancelEditIPWarning').click();
            $('#btnCancelEditIPWarning').click();
            $('#myLoadingElement').show();

            $.post("/Aircraft/UpdateDeleteIPassengerWarning", {
                title: $('#txtEditIPWarningTitle').val(),
                id: $("#hdnIPWarningId").val(),
                aircraftId: $('#AircraftId').val(),
                isUpdate: true
            },
            function (data) {
                //check for session
                $('#divIPassengerWarningPartial').html(data);
                $('#datatable-fixed-headerIPWarning').dataTable();
                //$('#btnCancelEditIPWarning').click();
                //$('#btnCancelEditIPWarning').click();
                $('#myLoadingElement').hide();
                bootbox.alert('Warning updated successfully.', function () {
                });
            });
        }
    }

    function deleteWarning(id) {
        bootbox.confirm("Are you sure to delete warning?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/Aircraft/UpdateDeleteIPassengerWarning", {
                    title: '',
                    id: id,
                    aircraftId: $('#AircraftId').val(),
                    isUpdate: false
                },
                function (data) {
                    //check for session
                    $('#divIPassengerWarningPartial').html(data);
                    $('#datatable-fixed-headerIPWarning').dataTable();
                    $('#myLoadingElement').hide();
                    bootbox.alert('Warning deleted successfully.', function () {
                    });
                });
            }
        });
    }

</script>
<input type="hidden" id="hdnIPWarningId" value="" />
<table id="datatable-fixed-headerIPWarning" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Warning</th>
            @if (@ViewBag.IsAircraftOwner)
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.WarningList)
        {
            <tr>
                <td >@item.Title</td>
                @if (@ViewBag.IsAircraftOwner)
                {
                    if (item.IsForAll)
                    {
                        <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> <a data-toggle="tooltip" data-placement="top" id="" onclick="deleteWarning('@item.TId')" title="Delete warning?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a></div></td>
                    }
                    else
                    {
                        <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> <a data-toggle="tooltip" data-placement="top" id="" onclick="deleteWarning('@item.TId')" title="Delete warning?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>
                                <span data-toggle="tooltip" data-placement="top" title="Edit Details"><a href="javascript:void(0);" onclick="editWarning('@item.TId','@item.Title')" data-toggle="modal" data-target=".editwarning-modal" class="hi-icon fa fa-edit btn-primary"></a></span>
                            </div></td>
                    }

                }
            </tr>
        }
    </tbody>
</table>