﻿@model GA.DataTransfer.Classes_for_Web.IPassengerMediaDetails


<script type="text/javascript">

    function UploadIPPDF() {
        var data = new FormData();
        var files = $("#uploadBtnIPPDF").get(0).files;

        if ($("#txtAddIPPDFTitle").val() == '' || files.length == 0) {
            if ($("#txtAddIPPDFTitle").val() == '') {
                $("#snpErrAddIPPDFTitle").attr("style", "display:block;color:red");
            }
            else {
                $("#snpErrAddIPPDFTitle").attr("style", "display:none;color:red");
            }

            if (files.length == 0) {
                $("#snpErrAddIPPDFFile").attr("style", "display:block;color:red");
            }
            else {
                $("#snpErrAddIPPDFFile").attr("style", "display:none;color:red");
            }
        }
        else {
            $("#snpErrAddIPPDFTitle").attr("style", "display:none;color:red");
            $("#snpErrAddIPPDFFile").attr("style", "display:none;color:red");
            $('#btnCancelAddIPPDF').click();
            $('#btnCancelAddIPPDF').click();
            $('#myLoadingElement').show();
            var random = epicRandomString(10);
            var arrFileName = files[0].name.toLowerCase().split('.');
            var fileExtension = arrFileName[arrFileName.length - 1];
            var uniqueName = random + "." + fileExtension;
            //var uniqueName = random + "." + files[0].name.split('.')[1];
            var aircraftId = $('#AircraftId').val();
            data.append("HelpSectionImages", files[0]);
            data.append("PDFTitle", $("#txtAddIPPDFTitle").val());
            data.append("AircraftId", aircraftId);
            data.append("fileUniqueName", uniqueName);
            $.ajax({
                url: '@Url.Action("/UploadIPassengerPDFFile")',
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    //code after success
                    $('#divIPassengerPDFPartial').html(response);
                    $('#datatable-fixed-headerIPPDF').dataTable();
                    $("#uploadBtnIPPDF").val('').clone(true);
                    $('#myLoadingElement').hide();
                    //$('#btnCancelAddIPPDF').click();
                    //$('#btnCancelAddIPPDF').click();
                    bootbox.alert('PDF uploaded successfully.', function () {
                    });
                },
                error: function (er) {
                    bootbox.alert('Error occurs while uploading the PDF file.', function () {
                    });
                }
            });
        }
    }

    function UpdatePDFTitle() {
        if ($("#txtEditIPPDFTitle").val() == '') {
            $("#snpErrEditIPPDFTitle").attr("style", "display:block;color:red");
        }
        else {
            $("#snpErrEditIPPDFTitle").attr("style", "display:none;color:red");
            $('#btnCancelEditIPPDF').click();
            $('#btnCancelEditIPPDF').click();
            $('#myLoadingElement').show();
            $.post("/Aircraft/UpdateDeleteIPassengerPDF", {
                title: $('#txtEditIPPDFTitle').val(),
                id: $("#hdnIPPDFId").val(),
                aircraftId: $('#AircraftId').val(),
                isUpdate: true
            },
            function (data) {
                $('#divIPassengerPDFPartial').html(data);
                $('#datatable-fixed-headerIPPDF').dataTable();
                //$('#btnCancelEditIPPDF').click();
                //$('#btnCancelEditIPPDF').click();
                $('#myLoadingElement').hide();
                bootbox.alert('Title updated successfully.', function () {
                });
            });
        }
    }


    function setValuesEditIPPDF(id, title) {
        $("#hdnIPPDFId").val(id);
        $("#txtEditIPPDFTitle").val(title);
        $("#snpErrEditIPPDFTitle").attr("style", "display:none;color:red");
    }


    function deletePDF(id) {
        bootbox.confirm("Are you sure to delete PDF?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/Aircraft/UpdateDeleteIPassengerPDF", {
                    title: '',
                    id: id,
                    aircraftId: $('#AircraftId').val(),
                    isUpdate: false
                },
                function (data) {
                    $('#divIPassengerPDFPartial').html(data);
                    $('#datatable-fixed-headerIPPDF').dataTable();
                    $('#myLoadingElement').hide();
                    bootbox.alert('PDF deleted successfully.', function () {
                    });
                });
            }
        });
    }


    function funLoadImage(filePath) {
        document.getElementById("imgIpassenger").src = filePath;
    }


</script>


<input type="hidden" id="hdnIPPDFId" value="" />
<table id="datatable-fixed-headerIPPDF" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>PDF</th>
            <th>Title</th>
            @if (@ViewBag.IsAircraftOwner)
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.PDFList)
        {
            <tr>
                <td> <a href="@item.FilePath" style="cursor:pointer" target="_blank"> <img src="@item.ThumbnailImagePath" width="40" height="40" /> </a> </td>
                <td>@item.Title</td>
                @if (@ViewBag.IsAircraftOwner)
                {
                    if (item.IsForAll)
                    {
                        <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><a data-toggle="tooltip" data-placement="top" id="" onclick="deletePDF('@item.TId')" title="Delete Details" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a></div></td>
                    }
                    else
                    {
                        <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> <a data-toggle="tooltip" data-placement="top" id="" onclick="deletePDF('@item.TId')" title="Delete Details" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>
                                <span data-toggle="tooltip" data-placement="top" title="Edit Details"><a href="javascript:void(0);" onclick="setValuesEditIPPDF('@item.TId','@item.Title')" data-toggle="modal" data-target=".editpdf-modal" class="hi-icon fa fa-edit btn-primary"></a></span></div></td>
                    }
                }
            </tr>
        }
    </tbody>
</table>