﻿@model GA.DataTransfer.Classes_for_Web.IPassengerMediaDetails



<style type="text/css">
    .ui-dialog-titlebar {
        background: #2983b8;
        font-size: 14px;
    }
</style>
<style>
    .shadowblockmenu-v {
        font-family: Arial;
        font-size: 12px;
        width: 190px; /* width of menu */
    }

        .shadowblockmenu-v ul {
            border: 1px solid #eee;
            padding: 0;
            margin: 0;
            list-style: none;
        }

            .shadowblockmenu-v ul li {
                margin: 0;
                padding: 0;
            }

                .shadowblockmenu-v ul li a {
                    display: block;
                    text-transform: uppercase;
                    color: #494949;
                    padding: 10px 15px;
                    text-decoration: none;
                    border-bottom: 1px solid #cacaca;
                    border-right: 1px solid #cacaca; /*right border between menu items*/
                    -moz-box-shadow: inset 7px 0 10px rgba(38, 123, 174, 1); /* Add inset shadow to each menu item. First 3 values in (114,114,114, 0.5) specifies rgb values, last specifies opacity */
                    -webkit-box-shadow: inset 7px 0 10px rgba(38, 123, 174, 1);
                    box-shadow: inset 7px 0 10px rgba(38, 123, 174, 1);
                    text-shadow: 0 -1px 1px #cfcfcf; /* CSS text shadow to give text some depth */
                    -moz-transition: all 0.2s ease-in-out; /* Enable CSS transition between property changes */
                    -webkit-transition: all 0.2s ease-in-out;
                    -o-transition: all 0.2s ease-in-out;
                    -ms-transition: all 0.2s ease-in-out;
                    transition: all 0.2s ease-in-out;
                }

                    .shadowblockmenu-v ul li a:hover, .shadowblockmenu-v ul li a.selected {
                        color: black;
                        -moz-box-shadow: inset 7px 0 10px rgba(38, 123, 174, 0.86), inset 0 0 15px rgba(38, 123, 174, 0.86), inset 0 0 20px rgba(38, 123, 174, 0.86); /* Add 3 inset shadows to each menu item  */
                        -webkit-box-shadow: inset 7px 0 10px rgba(38, 123, 174, 0.86), inset 0 0 15px rgba(38, 123, 174, 0.86), inset 0 0 20px rgba(38, 123, 174, 0.86);
                        box-shadow: inset 7px 0 10px rgba(38, 123, 174, 0.86), inset 0 0 15px rgba(38, 123, 174, 0.86), inset 0 0 20px rgba(38, 123, 174, 0.86);
                    }



    .modalPassenger {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }

    .loadingPassenger {
        font-family: Arial;
        font-size: 10pt;
        /*border: 5px solid #adcde6;*/
        width: 200px;
        height: 100px;
        display: block;
        position: fixed;
        /*background-color: White;*/
        z-index: 999;
        top: 45%;
        left: 45%;
    }
</style>



<script type="text/javascript">

    $(document).ready(function () {

        $('#tblWarning').dataTable();
        $('#divWarningModule').hide();

        $('#tblInstruction').dataTable();
        $('#divInstructionModule').hide();

        $('#tblImage').dataTable();
        $('#divImageModule').hide();

        $('#tblPDF').dataTable();
        $('#divPDFModule').hide();

        $('#divLoaderPassenger').hide();

        if ('@ViewBag.Focus' == 'div_ComponentManufacturer') {
            window.location.hash = '#div_ComponentManufacturer'; // $('#div_ComponentManufacturer').focus();
        }

        $('#lbVideo').click(function () {

            $('#divVideoModule').show();
            $('#divImageModule, #divPDFModule, #divWarningModule, #divInstructionModule').hide();

        });

        $('#lbImages').click(function () {
            $('#divImageModule').show();
            $('#divVideoModule, #divPDFModule, #divWarningModule, #divInstructionModule').hide();
        });


        $('#lbPDF').click(function () {
            $('#divPDFModule').show();
            $('#divVideoModule, #divImageModule, #divWarningModule, #divInstructionModule').hide();
        });

        $('#lbWarning').click(function () {
            $('#divWarningModule').show();
            $('#divVideoModule, #divImageModule, #divPDFModule, #divInstructionModule').hide();
        });

        $('#lbInstruction').click(function () {
            $('#divInstructionModule').show();
            $('#divVideoModule, #divImageModule, #divPDFModule, #divWarningModule').hide();
        });

        $("#uploadEditorImage").change(function () {
            var data = new FormData();
            var files = $("#uploadEditorImage").get(0).files;
            if (files.length > 0) {
                data.append("HelpSectionImages", files[0]);
            }
            $.ajax({
                url: '@Url.Action("/SaveDocument")',
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    //code after success
                    $('#divDocument').html(response);

                },
                error: function (er) {
                    alert(er);
                }

            });
        });

        $('#btnAddVideo').click(function () {

            $("#modal_dialog_Video").dialog({
                title: "Add Video",
                buttons: {
                    Add: function () {
                        var fileInput = document.getElementById('btnFileVideo');
                        if (fileInput.files.length == 0 )
                        {
                            alert("Please select the file");
                            return;
                        }
                        if ($('#txtAddVideoTitle').val() == '')
                        {
                            alert('Video title cannot be left blank');
                            return;
                        }

                        $(this).dialog('close');
                        $('#modal_dialog_Video').dialog('close');
                        ShowLoaderPassenger();

                        //$('#divLoader').hide();
                        var formdata = new FormData(); //FormData object
                      
                        $('#lblVideoFileName').text(fileInput.files[0].name);
                        var random = epicRandomString(10);
                        var uniqueName = random + "." + fileInput.files[0].name.split('.')[1];
                        //add file in form data
                        if (fileInput.files.length > 0) {
                            formdata.append(fileInput.files[0].name, fileInput.files[0]);
                            //Creating an XMLHttpRequest and sending
                            var xhr = new XMLHttpRequest();
                            xhr.onreadystatechange = function () {
                                if (xhr.readyState == 4 && xhr.status == 200) {

                                    setVideoData(uniqueName);
                                }
                            };
                            xhr.open('POST', '/Aircraft/UploadIPassengerVideoFile/' + uniqueName);
                            xhr.send(formdata);
                        }
                        

                        @*$.post("/Aircraft/AddIPassengerVideo", {
                            title: $('#txtAddVideoTitle').val(),
                            fileName: uniqueName,
                            aircraftId: '@ViewBag.Id'
                        },
                             function (data) {

                                 $('#divVideoPartial').html('');
                                 $('#divVideoPartial').html(data);
                                 $('#modal_dialog_Video').dialog('close');
                                 $('#txtAddVideoTitle').val('');
                                 $('#lblVideoFileName').text('');
                                 HideLoaderPassenger();
                             });*@

                    },
                    Close: function () {
                        //$('#txtPushMessage').val('');
                        $(this).dialog('close');
                    }
                },
                width: 450,
                modal: true
            }).prev(".ui-dialog-titlebar").css("background", "#2983b8");
        });


        $('#btnAddImage').click(function () {

            $("#modal_dialog_ImageType").dialog({
                title: "Add Image",
                buttons: {
                    Add: function () {
                        var fileInput = document.getElementById('btnFileImage');
                        if (fileInput.files.length == 0) {
                            alert("Please select the file");
                            return;
                        }
                        if ($('#txtAddImageTitle').val() == '') {
                            alert('Image title cannot be left blank');
                            return;
                        }
                        $('#modal_dialog_ImageType').dialog('close');
                        $(this).dialog('close');
                        ShowLoaderPassenger();
                        var formdata = new FormData(); //FormData object
                       
                        var randomNo = epicRandomString(10);
                        var uniqueName = randomNo + "." + fileInput.files[0].name.split('.')[1];
                        //add file in form data
                        if (fileInput.files.length > 0) {
                            formdata.append(fileInput.files[0].name, fileInput.files[0]);
                            //Creating an XMLHttpRequest and sending
                            var xhr = new XMLHttpRequest();
                            xhr.onreadystatechange = function () {
                                if (xhr.readyState == 4 && xhr.status == 200) {

                                    setImageData(uniqueName);
                                }
                            };
                            xhr.open('POST', '/Aircraft/UploadIPassengerImageFile/' + uniqueName);
                            xhr.send(formdata);

                        }
                        else {
                            alert('Please select the file.');
                        }


                        @*$.post("/Aircraft/AddIPassengerImage", {
                            title: $('#txtAddImageTitle').val(),
                            fileName: uniqueName,
                            aircraftId: '@ViewBag.Id'
                        },
                             function (data) {

                                 $('#divImagePartial').html('');
                                 $('#divImagePartial').html(data);
                                 $('#txtAddImageTitle').val('');
                                 $('#lblImageFileName').text('');
                                 $("#btnFileImage").val('');
                                 HideLoaderPassenger();
                             });*@

                    },
                    Close: function () {
                        //$('#txtPushMessage').val('');
                        $(this).dialog('close');
                    }
                },
                width: 450,
                modal: true
            }).prev(".ui-dialog-titlebar").css("background", "#2983b8");
        });


        $('#btnAddPDF').click(function () {

            $("#modal_dialog_PDF").dialog({
                title: "Add PDF",
                buttons: {
                    Add: function () {
                        var fileInput = document.getElementById('btnFilePDF');
                        if (fileInput.files.length == 0) {
                            alert("Please select the file");
                            return;
                        }
                        if ($('#txtAddPDFTitle').val() == '') {
                            alert('PDF title cannot be left blank.');
                            return;
                        }
                        $('#modal_dialog_PDF').dialog('close');
                        $(this).dialog('close');
                        ShowLoaderPassenger();
                        var formdata = new FormData(); //FormData object
                      
                        var random = epicRandomString(10);
                        var uniqueName =  random + "." + fileInput.files[0].name.split('.')[1];
                        //add file in form data
                        if (fileInput.files.length > 0) {
                            formdata.append(fileInput.files[0].name, fileInput.files[0]);
                            //Creating an XMLHttpRequest and sending
                            var xhr = new XMLHttpRequest();
                            xhr.onreadystatechange = function () {
                                if (xhr.readyState == 4 && xhr.status == 200) {

                                    setPDFData(uniqueName);
                                }
                            };
                            xhr.open('POST', '/Aircraft/UploadIPassengerPDFFile/' + uniqueName);
                            xhr.send(formdata);
                        }

                        @*$.post("/Aircraft/AddIPassengerPDF", {
                        title: $('#txtAddPDFTitle').val(),
                        fileName: uniqueName,
                        aircraftId: '@ViewBag.Id'
                    },
                         function (data) {
                             $('#txtAddPDFTitle').val('');
                             $('#divPDFPartial').html('');
                             $('#divPDFPartial').html(data);
                             $('#txtAddPDFTitle').val('');
                             $('#lblPDFFileName').text('');
                             HideLoaderPassenger();
                         });*@
                    },
                    Close: function () {
                        //$('#txtPushMessage').val('');
                        $(this).dialog('close');
                    }
                },
                width: 450,
                modal: true
            }).prev(".ui-dialog-titlebar").css("background", "#2983b8");
        });

        $('#btnAddWarning').click(function () {

            $("#modal_dialog_Warning").dialog({
                title: "Add Warning",
                buttons: {
                    Add: function () {
                        var isDuplicate = false;
                        $('#modal_dialog_Warning').dialog('close');
                        if ($('#txtAddWarning').val() == '') {
                            alert('Title cannot be left blank');
                            return;
                        }
                        else {
                            $.post("/Aircraft/AddIPassengerWarning", {
                                title: $('#txtAddWarning').val(),
                                aircraftId: '@ViewBag.Id'
                            },
                             function (data) {

                                 $('#divWarningPartial').html('');
                                 $('#divWarningPartial').html(data);
                                 $('#txtAddWarning').val('');

                             });
                        }
                    },
                    Close: function () {
                        $(this).dialog('close');
                    }
                },
                width: 450,
                modal: true
            }).prev(".ui-dialog-titlebar").css("background", "#2983b8");
        });

        $('#btnAddInstruction').click(function () {
            $("#modal_dialog_Instruction").dialog({
                title: "Add Instruction",
                buttons: {
                    Add: function () {
                        $.post("/Aircraft/AddIPassengerInstruction", {
                            title: $('#txtAddInstruction').val(),
                            aircraftId: '@ViewBag.Id'
                        },
                             function (data) {
                                 //check for session
                                 $("#modal_dialog_Instruction").dialog('close');
                                 $('#divInstructionPartial').html(data);
                                 $('#txtAddInstruction').val('');
                             });
                    },
                    Close: function () {
                        //$('#txtPushMessage').val('');
                        $(this).dialog('close');
                    }
                },
                width: 450,
                modal: true
            }).prev(".ui-dialog-titlebar").css("background", "#2983b8");
        });

        $('#btnAddMedCertClass').click(function () {
            $("#modal_dialog_MedCertClass").dialog({
                title: "Add Medical Certificate Class",
                buttons: {
                    Add: function () {
                        var isDuplicate = false;
                        if ($('#txtAddMedCertClass').val() == '') {
                            alert('Class name name cannot be left blank');
                            return;
                        }
                        else {
                            $.post("/Admin/isMedCertClassExists", {
                                medCertClassName: $('#txtAddMedCertClass').val()
                            },
                       function (data) {
                           isDuplicate = data.response;
                           if (isDuplicate == false) {
                               $.post("/Admin/AddMedCertClass", {
                                   name: $('#txtAddMedCertClass').val()
                               },
                            function (data) {
                                $("#modal_dialog_MedCertClass").dialog('close');
                                $('#divMedicalCertificateClassPartial').html(data);
                                $('#txtAddMedCertClass').val();
                            });
                           }
                           else {
                               alert($('#txtAddMedCertClass').val() + ' is already exist.');
                               $('#txtAddMedCertClass').val('');
                               $("#modal_dialog_MedCertClass").dialog('close');
                           }
                       });
                        }
                    },
                    Close: function () {
                        //$('#txtPushMessage').val('');
                        $(this).dialog('close');
                    }
                },
                width: 450,
                modal: true
            }).prev(".ui-dialog-titlebar").css("background", "#2983b8");
        });

        $('#btnBrowseVideoFile').click(function (e) {
            $("#btnFileVideo").trigger('click');
        });

        $('#btnBrowseImageFile').click(function (e) {
            $("#btnFileImage").trigger('click');
        });

        $('#btnBrowsePDFFile').click(function (e) {
            $("#btnFilePDF").trigger('click');
        });
    });


    function setVideoData(uniqueName) {
        $.post("/Aircraft/AddIPassengerVideo", {
            title: $('#txtAddVideoTitle').val(),
            fileName: uniqueName,
            aircraftId: '@ViewBag.Id'
        },
                          function (data) {

                              $('#divVideoPartial').html('');
                              $('#divVideoPartial').html(data);
                              $('#modal_dialog_Video').dialog('close');
                              $('#txtAddVideoTitle').val('');
                              $('#lblVideoFileName').text('');
                              HideLoaderPassenger();
                              $('#btnFileVideo').val('');
                          });
    }

    function setPDFData(uniqueName) {
        $.post("/Aircraft/AddIPassengerPDF", {
            title: $('#txtAddPDFTitle').val(),
            fileName: uniqueName,
            aircraftId: '@ViewBag.Id'
        },
                     function (data) {
                         $('#txtAddPDFTitle').val('');
                         $('#divPDFPartial').html('');
                         $('#divPDFPartial').html(data);
                         $('#txtAddPDFTitle').val('');
                         $('#lblPDFFileName').text('');
                         HideLoaderPassenger();
                         $('#btnFilePDF').val('');
                     });
    }

    function setImageData(uniqueName) {

        $.post("/Aircraft/AddIPassengerImage", {
            title: $('#txtAddImageTitle').val(),
            fileName: uniqueName,
            aircraftId: '@ViewBag.Id'
        },
                              function (data) {

                                  $('#divImagePartial').html('');
                                  $('#divImagePartial').html(data);
                                  $('#txtAddImageTitle').val('');
                                  $('#lblImageFileName').text('');
                                  $("#btnFileImage").val('');
                                  HideLoaderPassenger();
                                  $('#btnFileImage').val('');
                              });
    }



    function epicRandomString(b) { for (var a = (Math.random() * eval("1e" + ~~(50 * Math.random() + 50))).toString(36).split(""), c = 3; c < a.length; c++) c == ~~(Math.random() * c) + 1 && a[c].match(/[a-z]/) && (a[c] = a[c].toUpperCase()); a = a.join(""); a = a.substr(~~(Math.random() * ~~(a.length / 3)), ~~(Math.random() * (a.length - ~~(a.length / 3 * 2) + 1)) + ~~(a.length / 3 * 2)); if (24 > b) return b ? a.substr(a, b) : a; a = a.substr(a, b); if (a.length == b) return a; for (; a.length < b;) a += epicRandomString(); return a.substr(0, b) };

    function ShowLoaderPassenger() {

        //alert("InShowLoader");

        $("#divLoaderPassenger").show();

        var loading = $(".loading");
        loading.show();
        var top = Math.max($(window).height() / 2 - loading[0].offsetHeight / 2, 0);
        var left = Math.max($(window).width() / 2 - loading[0].offsetWidth / 2, 0);
        loading.css({ top: top, left: left });
    }

    function HideLoaderPassenger() {

        //alert("InhideLoader");
        $('#divLoaderPassenger').hide();
    }

    function CheckFileExtention(inputFile) {


        if (inputFile.files && inputFile.files[0]) {
            var fileName = inputFile.files[0].name;
            //var validExtensions = ['mbtiles'];
            //var fileExtension = fileName.toLowerCase().split('.').pop();
            //if ($.inArray(fileExtension, validExtensions) == -1) {
            //    // invalid extention
            //    alert("Invalid file type. Only .mbtiles files are allowed.");
            //    return;
            //}
            //if (inputFile.files[0].size > 2040109465) {
            //    alert("File size exceeds the limit of 2GB");
            //    return;
            //}
            //if (IsFms == 'FMS') {
            //    $('#lblFMSMapFileName').html(fileName);

            //} else {
            //    $('#lblPassengerProMapFileName').html(fileName);
            //}
            $('#lblVideoFileName').html(fileName);
        }
    }

    function EditFile(id) {
        $("#btnEditFileName_" + id).trigger('click');
    }

    function CheckFileExtention(inputFile, labelId, callback) {

        if (inputFile.files.length > 0) {
            $('#' + labelId).text(inputFile.files[0].name);
        }
    }

    function editVideo(id) {
        $('#spnVideo_' + id).hide();
        $('#txtVideoTitle_' + id).show();
        $('#updateVideo_' + id).show();
        $('#editVideo_' + id).hide();
        $('#CancelEditVideo_' + id).show();
    }

    function UpdateVideo(id) {


        $.post("/Aircraft/UpdateDeleteIPassengerVideo", {
            title: $('#txtVideoTitle_' + id).val(),
            id: id,
            isUpdate: true
        },
               function (data) {
                   var spnText = $('#spnVideo_' + id).text();
                   if (data == true) {
                       $('#spnVideo_' + id).text($('#txtVideoTitle_' + id).val())
                       $('#spnVideo_' + id).show();
                       $('#txtVideoTitle_' + id).hide();
                       $('#updateVideo_' + id).hide();
                       $('#editVideo_' + id).show();
                       $('#CancelEditVideo_' + id).hide();
                       alert('Record Update Successfully');
                   }
                   else {
                       $('#txtVideoTitle_' + id).val(spnText);
                       $('#spnVideo_' + id).show();
                       $('#txtVideoTitle_' + id).hide();
                       $('#updateVideo_' + id).hide();
                       $('#editVideo_' + id).show();
                       $('#CancelEditVideo_' + id).hide();
                       alert('Error Occurs while updating the record !!!');
                   }
               });
    }

    function editWarning(id) {
        $('#spnWarning_' + id).hide();
        $('#txtWarningTitle_' + id).show();
        $('#updateWarning_' + id).show();
        $('#editWarning_' + id).hide();
        $('#CancelEditWarning_' + id).show();
    }

    function UpdateWarning(id) {

        $.post("/Aircraft/UpdateDeleteIPassengerWarning", {
            title: $('#txtWarningTitle_' + id).val(),
            id: id,
            aircraftId: '@ViewBag.Id',
            isUpdate: true
        },
               function (data) {
                   //check for session
                   $('#divWarningPartial').html('');
                   $('#divWarningPartial').html(data);

               });
    }

    function editInstruction(id) {
        $('#spnInstruction_' + id).hide();
        $('#txtInstructionTitle_' + id).show();
        $('#updateInstruction_' + id).show();
        $('#editInstruction_' + id).hide();
        $('#CancelEditInstruction_' + id).show();
    }

    function UpdateInstruction(id) {

        $.post("/Aircraft/UpdateDeleteIPassengerInstruction", {
            title: $('#txtInstructionTitle_' + id).val(),
            id: id,
            aircraftId: '@ViewBag.Id',
            isUpdate: true
        },
               function (data) {
                   //check for session
                   $('#divInstructionPartial').html('');
                   $('#divInstructionPartial').html(data);

               });
    }

    function editImage(id) {
        $('#spnImage_' + id).hide();
        $('#txtImageTitle_' + id).show();
        $('#updateImage_' + id).show();
        $('#editImage_' + id).hide();
        $('#CancelEditImage_' + id).show();
    }

    function UpdateImage(id) {

        $.post("/Aircraft/UpdateDeleteIPassengerImage", {
            title: $('#txtImageTitle_' + id).val(),
            id: id,
            aircraftId: '@ViewBag.Id',
            isUpdate: true
        },
               function (data) {
                   //check for session
                   $('#divImagePartial').html('');
                   $('#divImagePartial').html(data);

               });
    }


    function UpdatePDF(id) {

        $.post("/Aircraft/UpdateDeleteIPassengerPDF", {
            title: $('#txtPDFTitle_' + id).val(),
            id: id,
            aircraftId: '@ViewBag.Id',
            isUpdate: true
        },
               function (data) {
                   //check for session
                   $('#divPDFPartial').html('');
                   $('#divPDFPartial').html(data);

               });
    }


    function editPDF(id) {
        $('#spnPDF_' + id).hide();
        $('#txtPDFTitle_' + id).show();
        $('#updatePDF_' + id).show();
        $('#editPDF_' + id).hide();
        $('#CancelEditPDF_' + id).show();
    }



    function deleteVideo(id, rowId) {
        if (confirm("Do you what to delete this Video ?")) {
            ShowLoaderPassenger();
            $.post("/Aircraft/UpdateDeleteIPassengerVideo", {
                title: '',
                id: id,
                isUpdate: false
            },
              function (data) {
                  //check for session
                  $("#" + rowId).remove();
                  $('#tblVideo').dataTable();
                  HideLoaderPassenger();
                  alert('Record deleted successfully');

              });
        }
    }

    function deleteInstruction(id) {
        if (confirm("Do you what to delete this Instruction ?")) {
            $.post("/Aircraft/UpdateDeleteIPassengerInstruction", {
                title: '',
                id: id,
                aircraftId: '@ViewBag.Id',
                isUpdate: false
            },
              function (data) {
                  //check for session
                  $('#divInstructionPartial').html('');
                  $('#divInstructionPartial').html(data);
                  alert('Record deleted successfully');

              });
        }
    }

    function deleteImage(id) {
        if (confirm("Do you what to delete this Image ?")) {
            ShowLoaderPassenger();
            $.post("/Aircraft/UpdateDeleteIPassengerImage", {
                title: '',
                id: id,
                aircraftId: '@ViewBag.Id',
                isUpdate: false
            },
              function (data) {
                  //check for session
                  $('#divImagePartial').html('');
                  $('#divImagePartial').html(data);
                  HideLoaderPassenger();
                  alert('Record deleted successfully');

              });
        }
    }

    function deletePDF(id) {
        if (confirm("Do you what to delete this PDF ?")) {
            ShowLoaderPassenger();
            $.post("/Aircraft/UpdateDeleteIPassengerPDF", {
                title: '',
                id: id,
                aircraftId: '@ViewBag.Id',
                isUpdate: false
            },
              function (data) {
                  //check for session
                  $('#divPDFPartial').html('');
                  $('#divPDFPartial').html(data);
                  HideLoaderPassenger();
                  alert('Record deleted successfully');

              });
        }
    }

    function deleteWarning(id) {
        if (confirm("Do you what to delete this Warning ?")) {
            $.post("/Aircraft/UpdateDeleteIPassengerWarning", {
                title: '',
                id: id,
                aircraftId: '@ViewBag.Id',
                isUpdate: false
            },
              function (data) {
                  //check for session
                  $('#divWarningPartial').html('');
                  $('#divWarningPartial').html(data);
              });
        }
    }

    function funLoadVideo(filePath) {
        document.getElementById("VideoSrc").src = filePath;
        document.getElementById("videoId").load();

        $("#modal_dialog_DisplayVideo").dialog({
            title: "IPassenger Video",
            buttons: {

                Close: function () {
                    //$('#txtPushMessage').val('');
                    $(this).dialog('close');
                }
            },
            width: 550,
            modal: true
        }).prev(".ui-dialog-titlebar").css("background", "#2983b8");
    }

    function funLoadImage(filePath) {
        document.getElementById("imgIpassenger").src = filePath;

        $("#modal_dialog_DisplayImage").dialog({
            title: "IPassenger Image",
            buttons: {
                Close: function () {
                    $(this).dialog('close');
                }
            },
            width: 550,
            modal: true
        }).prev(".ui-dialog-titlebar").css("background", "#2983b8");
    }
</script>


@*<div id="wraper">
    <div class="main_con">
        <div class="inn_con clearfix AdminConfigSettingWrap">*@
<div style="width: 95%; float: left">
    <div style="width: 100%; float: left">
        <div style="width: 18%; float: left; margin-left: 2px; height: 50px; text-align: center; vertical-align: central; font-weight: bold">
            <a id="lbVideo" href="javascript:void(0);">Videos</a>
        </div>
        <div style="width: 18%; float: left; margin-left: 2px; height: 50px; text-align: center; vertical-align: central; font-weight: bold">
            <a id="lbImages" href="javascript:void(0);">Images</a>
        </div>
        <div style="width: 18%; float: left; margin-left: 2px; height: 50px; text-align: center; vertical-align: central; font-weight: bold">
            <a id="lbPDF" href="javascript:void(0);">PDF</a>
        </div>
        <div style="width: 18%; float: left; margin-left: 2px; height: 50px; text-align: center; vertical-align: central; font-weight: bold">
            <a id="lbWarning" href="javascript:void(0);">Warning</a>
        </div>
        <div style="width: 18%; float: left; margin-left: 2px; height: 50px; text-align: center; vertical-align: central; font-weight: bold">
            <a id="lbInstruction" href="javascript:void(0);">Instruction</a>
        </div>
    </div>


    <div style="width: 95%; float: left; margin-left: 2%">
        <div id="divVideoModule" style="display: block">
            <div class="profile_btmcon clearfix" id="div_Video" style="margin-top: 0;">
                <h2>Video</h2>
                <div class="clearfix"></div>
                <div class="line"></div>

                <input id="btnAddVideo" type="button" value="Create" class="blue_btn blue_btn_left2 margintop10" />
            </div>
            <div id="divVideoPartial">
                @{Html.RenderPartial("_Video");}
            </div>
        </div>

        <div id="divImageModule" style="display: block">

            <div class="profile_btmcon clearfix" id="div_Image">
                <h2>Image</h2>
                <div class="clearfix"></div>
                <div class="line"></div>

                <input id="btnAddImage" type="button" value="Create" class="blue_btn margintop10" />
            </div>
            <div id="divImagePartial">
                @{Html.RenderPartial("_Images");}
            </div>
        </div>

        <div id="divPDFModule" style="display: block">
            <div class="profile_btmcon clearfix" id="div_PDF">
                <h2>PDF</h2>
                <div class="clearfix"></div>
                <div class="line"></div>

                <input id="btnAddPDF" type="button" value="Create" class="blue_btn margintop10" />
                @*<input id="btnCancelPropeller" type="button" value="Cancel" class="blue_btn blue_btn_left2" style="display: none" />*@
            </div>
            <div id="divPDFPartial">
                @{Html.RenderPartial("_PDF");}
            </div>
        </div>

        <div id="divWarningModule" style="display: block">
            <div class="profile_btmcon clearfix" id="div_Warning">
                <h2>Warning</h2>
                <div class="clearfix"></div>
                <div class="line"></div>

                <input id="btnAddWarning" type="button" value="Create" class="blue_btn margintop10" />
                @*<input id="btnCancelMedCertClass" type="button" value="Cancel" class="blue_btn blue_btn_left2" style="display: none" />*@
            </div>
            <div id="divWarningPartial">
                @{Html.RenderPartial("_Warning");}
            </div>
        </div>

        <div id="divInstructionModule" style="display: block">
            <div class="profile_btmcon clearfix" id="div_Instruction">
                <h2>Instruction</h2>
                <div class="clearfix"></div>
                <div class="line"></div>

                <input id="btnAddInstruction" type="button" value="Create" class="blue_btn margintop10" />
                @*<input id="btnCancelMedCertClass" type="button" value="Cancel" class="blue_btn blue_btn_left2" style="display: none" />*@
            </div>
            <div id="divInstructionPartial">
                @{Html.RenderPartial("_Instruction");}
            </div>
        </div>
    </div>
</div>
@*        </div>
        </div>
    </div>*@
<div style="width: 300px; background-color: #e7e7e7; display: none; font-size: 13px;" id="modal_dialog_Video">
    <div style="width: 90%; padding: 10px;">
        <div style="width: 40%; float: left; padding-top: 10px;">
            Title
        </div>
        <div style="width: 60%; float: left">
            @Html.TextBox("txtAddVideoTitle", null, new { @class = "inputbox_probig", @size = "20", id = "txtAddVideoTitle", @autocomplete = "Off" })
        </div>
    </div>
    <div style="width: 90%; padding: 10px;">
        <div style="width: 40%; float: left; padding-top: 10px;">
            Select File
        </div>
        <div style="width: 60%; float: left">
            <input type="file" id="btnFileVideo" name="file" style="display: none" onchange="CheckFileExtention(this, 'lblVideoFileName');" />
            <input id="btnBrowseVideoFile" type="button" class="blue_btn" value="Browse" />&nbsp;&nbsp;<label id="lblVideoFileName"></label>
        </div>
    </div>
</div>
<div style="width: 300px; background-color: #e7e7e7; display: none; font-size: 13px;" id="modal_dialog_ImageType">
    <div style="width: 90%; padding: 10px;">
        <div style="width: 40%; float: left; padding-top: 10px;">
            Title
        </div>
        <div style="width: 60%; float: left">
            @Html.TextBox("txtAddImageTitle", null, new { @class = "inputbox_probig", @size = "20", id = "txtAddImageTitle", @autocomplete = "Off" })
        </div>
    </div>
    <div style="width: 90%; padding: 10px;">
        <div style="width: 40%; float: left; padding-top: 10px;">
            Select File
        </div>
        <div style="width: 60%; float: left">
            <input type="file" id="btnFileImage" name="file" style="display: none" onchange="CheckFileExtention(this, 'lblImageFileName');" />
            <input id="btnBrowseImageFile" type="button" class="blue_btn" value="Browse" />&nbsp;&nbsp;<label id="lblImageFileName"></label>
        </div>
    </div>
</div>
<div style="width: 300px; background-color: #e7e7e7; display: none; font-size: 13px;" id="modal_dialog_PDF">
    <div style="width: 90%; padding: 10px;">
        <div style="width: 40%; float: left; padding-top: 10px;">
            Title
        </div>
        <div style="width: 60%; float: left">
            @Html.TextBox("txtAddPDFTitle", null, new { @class = "inputbox_probig", @size = "20", id = "txtAddPDFTitle", @autocomplete = "Off" })
        </div>
    </div>
    <div style="width: 90%; padding: 10px;">
        <div style="width: 40%; float: left; padding-top: 10px;">
            Select File
        </div>
        <div style="width: 60%; float: left">
            <input type="file" id="btnFilePDF" name="file" style="display: none" onchange="CheckFileExtention(this, 'lblPDFFileName');" />
            <input id="btnBrowsePDFFile" type="button" class="blue_btn" value="Browse" />&nbsp;&nbsp;<label id="lblPDFFileName"></label>
        </div>
    </div>
</div>
<div style="width: 300px; background-color: #e7e7e7; display: none; font-size: 13px;" id="modal_dialog_Warning">
    <div style="width: 90%; padding: 10px;">
        @*<input type="text" id="txtAddMedCertClass" />*@
        <div style="width: 40%; float: left;">
            Warning
        </div>
        <div style="width: 60%; float: left">
            @Html.TextBox("txtAddWarning", null, new { @class = "inputbox_probig", @size = "20", id = "txtAddWarning", @autocomplete = "Off" })
        </div>

    </div>
</div>
<div style="width: 400px; background-color: #e7e7e7; display: none; font-size: 13px; margin-right: auto; margin-left: auto" id="modal_dialog_Instruction">
    <div style="width: 90%; padding: 10px;">
        @*<input type="text" id="txtAddAircraftManufacturer" />*@
        <div style="width: 40%; float: left; padding-top: 10px;">
            Instruction
        </div>
        <div style="width: 60%; float: left">
            @Html.TextBox("txtAddInstruction", null, new { @class = "inputbox_probig", @size = "20", id = "txtAddInstruction", @autocomplete = "Off" })
        </div>

    </div>
</div>

<div style="width: 550px; background-color: #e7e7e7; display: none; font-size: 13px;" id="modal_dialog_DisplayVideo">
    <div style="width: 90%; padding: 10px;">
        <video id="videoId" controls>
            <source id="VideoSrc" src="" type="audio/ogg">
        </video>
    </div>
</div>

<div style="width: 550px; background-color: #e7e7e7; display: none; font-size: 13px;" id="modal_dialog_DisplayImage">
    <div style="width: 90%; padding: 10px;">
        <img id="imgIpassenger" style="width:100%;height:100%" />
    </div>
</div>


<div class="modalPassenger" id="divLoaderPassenger" style="display:none">
    <div class="loadingPassenger" align="center">
        Loading. Please wait.<br />
        <br />
        <img src="~/Image/GA/ajax_loader3.gif" alt="" />

    </div>
</div>
