﻿@using GA.DataTransfer.Classes_for_Web
@model  MaintenanceModelWeb

@if (ViewBag.User != "Maintenance")
{
    <div role="tabpanel" class="tab-pane active" id="tab_UserList" aria-labelledby="profile-tab">
        @Html.Partial("_MaintenanceUserPartial", @Model)
    </div>
    <div role="tabpanel" class="tab-pane fade" id="tab_SquawkList" aria-labelledby="home-tab">
        @Html.Partial("_SquawkListPartial", @Model)
    </div>
}
else
{
    <div  class="tab-pane active" id="tab_SquawkList" aria-labelledby="home-tab">
        @Html.Partial("_SquawkListPartial", @Model)
    </div>
}




