﻿@using GA.DataTransfer.Classes_for_Web;
@model MaintenanceModelWeb

@*<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/bootbox.js"></script>*@


 

    <div class="col-md-12 no-padding margintop20">
        <div class="x_panel clearfix">
            <button class="btn-rounded btn-primary marginbottom10 pull-right" type="button"   data-toggle="modal" data-target=".createMaintenanceUser-modal"><i class="fa fa-plus-circle"></i> Create</button>

            <div id="divAircraftMaintenanceList">

                <table id="datatable-fixed-header-MaintenanceUserList" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>First Name</th>
                            <th>Last Name</th>
                            <th>Email Id</th>
                            <th>IsRegister</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in @Model.MaintenanceUserList)
                    {
                        <tr>
                                <td>@item.FirstName</td>
                                <td>@item.LastName</td>
                                <td>@item.EmailId</td>
                                <td>@item.IsRegister</td>
                            </tr>
                    }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
