﻿@model GA.DataTransfer.Classes_for_Web.IPassengerMediaDetails

<script type="text/javascript">

    function CancelEditPDF(id) {
        $('#updatePDF_' + id).hide();
        $('#CancelEditPDF_' + id).hide();
        $('#editPDF_' + id).show();
        $('#spnPDF_' + id).show();
        $('#txtPDFTitle_' + id).hide();
        $('#txtPDFTitle_' + id).val($('#spnPDF_' + id).text());
    }

</script>

<script src="~/Scripts/DataTable/bootstrap.min.js"></script>
@*<script src="~/Scripts/DataTable/jquery.min.js"></script>*@
<link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTable/jquery.dataTables.min.js"></script>


@*<script src="~/Scripts/jquery-ui-1.8.24.js"></script>*@
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />




<div id="divPDF" style="width:95%; padding-top: 20px;padding-left:10px;padding-right:10px;padding-bottom:20px;border:5px solid #b3b3b3">

    <table id="tblPDF" class="table-striped table-bordered nowrap">

        <thead>
            <tr>
                <td width="80%">
                    @Html.DisplayName("PDF List")
                </td>
                <td width="20%">
                    Actions

                </td>

            </tr>
        </thead>

        <tbody>

            @foreach (var item in @Model.PDFList)
            {
                <tr>
                    <td>

                        <img style="vertical-align:middle;float:left" src="@item.ThumbnailImagePath" width="50px" height="50px" /> &nbsp;&nbsp; &nbsp;    <a href="@item.FilePath" target="_blank"><span id="spnPDF_@item.Id">@item.Title</span> </a>

                        @Html.TextBoxFor(model => item.Title, new { id = "txtPDFTitle_" + @item.Id, style = "display: none;float:none", @class = "inputbox_new", size = "20", @autocomplete = "Off" })
                    </td>
                    <td>
                        <a href="javascript:void(0);" id="editPDF_@item.Id" onclick="editPDF('@item.Id')" class="fa fa-edit tooltip"><span>Edit</span> </a>
                        <a href="javascript:void(0);" id="updatePDF_@item.Id" style="display: none" onclick="UpdatePDF('@item.Id')" class="fa fa-update tooltip"><span>Update</span></a>
                        <a href="javascript:void(0);" id="CancelEditPDF_@item.Id" style="display: none" onclick="CancelEditPDF('@item.Id')" class="fa fa-cancel tooltip"><span>Cancel</span></a>
                        <a href="javascript:void(0);" id="deletePDF_@item.Id" onclick="deletePDF('@item.Id')" class="fa fa-delete tooltip"><span>Delete</span></a>
                    </td>

                </tr>
            }

        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#tblPDF').dataTable();

    });
</script>

