﻿@using GA.DataTransfer.Classes_for_Web;
@model MaintenanceModelWeb

@{
    var status = "";
    var priority = "";
    int sno = 1;
}

<div class="col-md-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <a href="javascript:void(0);" id="btnCommentIssue" data-toggle="modal" data-target=".Comment-modal"></a>
        <a href="javascript:void(0);" id="btnUpdateIssue" data-toggle="modal" data-target=".UpdateIssue-modal"></a>
        @if (Model.SquawkListModel.UserType == GA.Common.Enumerations.UserType.User.ToString())
        {
            <button id="btnCreateIssue" style="display:none" class="btn-rounded btn-primary marginbottom10 pull-right" type="button" data-toggle="modal" data-target=".createIssue-modal"><i class="fa fa-plus-circle"></i> Create</button>
            <button class="btn-rounded btn-primary marginbottom10 pull-right" onclick="validateMaintenanceUserUser();" type="button"><i class="fa fa-plus-circle"></i> Create</button>
        }
        <div id="divAircraftSqwawkList">
            <table id="datatable-fixed-header-SquawkList" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>SNO</th>
                        <th style="width:30%">Title Discrepancy</th>
                        <th>Tail No</th>
                        <th>Assignee</th>
                        <th>Created</th>
                        <th style="width:25%">Comment</th>
                        <th>Status</th>
                        <th>Priority</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in @Model.SquawkListModel.IssueList)
                    {
                        <tr>
                            <td>@sno</td>
                            <td>@item.Title</td>
                            <td>@item.RegistrationNo</td>
                            <td>@item.AssigneeName</td>
                            <td>@item.CreateDate</td>
                            <td>@item.Comment</td>
                            <td>
                                @{
                        status = ((GA.Common.Enumerations.IssueStatus)item.StatusId).ToString();}
                                @status
                            </td>
                            <td>
                                @{
                        priority = ((GA.Common.Enumerations.IssuePriority)item.PriorityId).ToString();}
                                @priority
                            </td>
                            

                           
                                @if (item.StatusId == 1)
                                {
                                    if (item.IsOwner)
                                    {
                                        <td>
                                            <a class="btn btn-primary btn-xs" onclick="setValuesForUpdateIssue(@item.Id, @item.AircraftId, @item.PriorityId, '@item.Title', '@item.AssigneeId');"><i class=" fa fa-search-plus"></i>Update</a>&nbsp;
                                            <a class="btn btn-primary btn-xs" onclick="ShowConfirmCloseIssue(@item.Id, @item.AircraftId);"><i class=" fa fa-search-plus"></i> Close</a>
                                        </td>
                                    }
                                    else if (Model.SquawkListModel.UserType == "Maintenance")
                                    {
                                        <td>
                                            <a class="btn btn-primary btn-xs" onclick="ShowConfirmCloseIssue(@item.Id, @item.AircraftId)"><i class=" fa fa-search-plus"></i> Close</a>
                                        </td>
                                    }
                                    else
                                    {
                                        <td></td>
                                    }
                                }
                                else
                                {
                                    <td></td>
                                }
                           
                        </tr>
                        
                        sno++;
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



<div class="modal fade createIssue-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h4 class="modal-title" id="myModalLabel2">Add Issue</h4>
            </div>
            <div class="modal-body clearfix">
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group" style="margin-bottom:20px;">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Discrepancy <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @*<input type="text" id="txtIssueDetails" name="txtIssueDetails"  class="form-control col-xs-12">*@
                            <textarea id="txtIssueDetails" name="txtIssueDetails" rows="6" class="form-control col-xs-12"></textarea><br />
                            <span id="snpErrAddIssue" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                        </div>
                    </div> 
                    @if (( @ViewBag.IsAircraftProfile == "false")  )
                    {
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Aircraft <span class="required">*</span> </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">

                                @Html.DropDownListFor(model => Model.SquawkListModel.aircraftIdForIssue, new SelectList(Model.SquawkListModel.aircraftList, "Value", "Text"), new { @class = "form-control" })
                                <span id="snpErrAircraftIssue" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                    }
                    <div id="divAssignTo" style="display:block" class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Assign To <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @*<input type="text" id="txtIssueDetails" name="txtIssueDetails"  class="form-control col-xs-12">*@
                            @Html.DropDownListFor(model => Model.SquawkListModel.userIdForIssue, new SelectList(Model.SquawkListModel.UserList, "Value", "Text"), new { @class = "form-control" })
                            <span id="snpErrUserIssue" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Priority <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @*<input type="text" id="txtIssueDetails" name="txtIssueDetails"  class="form-control col-xs-12">*@
                            <select id="ddlPriority" class="form-control">
                                <option value="0">Low</option>
                                <option value="1">High</option>
                                <option value="2">Highest</option>
                            </select>

                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" onclick="cancelAddIssue();" id="btnCancelAddIssue" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="AddIssue();" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade UpdateIssue-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                    <h4 class="modal-title" id="myModalLabel2">Update Issue</h4>
                </div>
                <div class="modal-body clearfix">
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Discrepancy <span class="required">*</span> </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <span id="SpnUpdateIssueDetails"  ></span>
                                @*<textarea id="txtUpdateIssueDetails" name="txtIssueDetails" rows="6" class="form-control col-xs-12"></textarea><br />*@
                                <span id="snpErrUpdateIssue" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                       
                      
                        <div id="divAssignTo" style="display:block" class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Assign To <span class="required">*</span> </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">

                                @Html.DropDownListFor(model => Model.SquawkListModel.userIdForIssue, new SelectList(Model.SquawkListModel.UserList, "Value", "Text"), new { @class = "form-control", @id = "ddlUpdateMaintenanceUser" })
                                <span id="snpErrUserIssueUpdate" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Priority <span class="required">*</span> </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">

                                <select id="ddlPriorityUpdate" class="form-control">
                                    <option value="0">Low</option>
                                    <option value="1">High</option>
                                    <option value="2">Highest</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelUpdateIssue" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" onclick="UpdateIssue();" class="btn btn-primary">Add</button>
                </div>
            </div>
        </div>
    </div>

<div class="modal fade Comment-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h4 class="modal-title">Add Comment</h4>
            </div>
            <div class="modal-body clearfix">
                <form id="demo-form3" data-parsley-validate class="form-horizontal form-label-left">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Comment<span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <textarea rows="5" cols="40" id="txtComment" name="txtComment" class="form-control col-xs-12"></textarea><br />
                            <span id="snpErrComment" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                        </div>
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelCloseIssue" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="CloseIssue();" class="btn btn-primary">Close</button>
            </div>
        </div>
    </div>
</div>
