﻿@model List<GA.DataTransfer.AircraftSalesDetailWeb>

@*<script src="~/Scripts/bootstrap.min.js"></script>*@

<script type="text/javascript">

    function setTFBOValues(id, saledetail, price, accountNo) {
        $("#lblEditSalesType").text(saledetail);
        $("#txtEditTFBOPrice").val(price);
        $("#txtEditTFBOGLAccount").val(accountNo);
        $("#hdnTFBOId").val(id);
    }



    function updateSalesDetailType() {
       
        if ($('#txtEditTFBOPrice').val() == '' || $('#txtEditTFBOGLAccount').val() == '') {
            if ($('#txtEditTFBOPrice').val() == '') {
                $("#snpErrEditTFBOprice").attr("style", "display:block;color:red");
            }
            if ($('#txtEditTFBOGLAccount').val() == '') {
                $("#snpErrEditTFBOGLAccount").attr("style", "display:block;color:red");
            }
        }
        else {

            $("#snpErrEditTFBOGLAccount").attr("style", "display:none;color:red");
            $("#snpErrEditTFBOprice").attr("style", "display:none;color:red");
            $.post("/Aircraft/UpdateAircraftSalesDetailType", {
                id: $("#hdnTFBOId").val(),
                price: $("#txtEditTFBOPrice").val(),
                GLAccNo: $('#txtEditTFBOGLAccount').val(),
                AircraftId: $("#AircraftId").val()
            },
                 function (data) {
                     if (data == 'Invalid Request') {
                         $('#txtEditTFBOGLAccount').val('');
                         $('#txtEditTFBOPrice').val('');
                         $('#btnUpdationCancelTFBO').click();
                         $('#btnUpdationCancelTFBO').click();
                         bootbox.alert('Invalid request !!!!!', function () {
                         });
                     }
                     else {
                         //check for session
                         $('#divTfboExportPartial').html(data);
                         $('#datatable-fixed-headerTFBO').dataTable();
                         $('#txtEditTFBOGLAccount').val('');
                         $('#txtEditTFBOPrice').val('');
                         $('#btnUpdationCancelTFBO').click();
                         $('#btnUpdationCancelTFBO').click();
                         bootbox.alert('Record updated successfully.', function () {
                         });
                     }
                    
                 });
        }
    }

    function DeleteAircraftSalesDetailType(id) {
        bootbox.confirm("Are you sure to to delete record?", function (result) {

            if (result) {
                $.post("/Aircraft/DeleteAircraftSalesDetailType", {
                    id: id,
                    AircraftId: $("#AircraftId").val()
                },
                  function (data) {
                      if (data == 'Invalid Request') {
                          bootbox.alert('Invalid request !!!!!', function () {
                          });
                      }
                      else {
                          //check for session
                          $('#divTfboExportPartial').html(data);
                          $('#datatable-fixed-headerTFBO').dataTable();
                          bootbox.alert('Record deleted successfully.', function () {
                          });
                      }
                      
                  });
            }
        });
    }

</script>

<table id="datatable-fixed-headerTFBO" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Sales Detail Type</th>
            <th>Price</th>
            <th>GLAccountNumber</th>
            @if (@ViewBag.IsAircraftOwner)
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.SalesDetailtype</td>
                <td>@item.Price</td>
                <td>@item.GLAccountNumber</td>
                @if (@ViewBag.IsAircraftOwner)
                {
                    <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> <span data-toggle="tooltip" data-placement="top" title="Edit Details"><a href="javascript:void(0);" onclick="setTFBOValues('@item.TId','@item.SalesDetailtype','@item.Price', '@item.GLAccountNumber')" data-toggle="modal" data-target=".editsalesdetails-modal" class="hi-icon fa fa-edit btn-primary"></a></span><a data-toggle="tooltip" data-placement="top" id="" onclick="DeleteAircraftSalesDetailType('@item.TId')" title="Delete Details" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a> </div></td>
                }

            </tr>
        }
    </tbody>
</table>


<input type="hidden" value="" id="hdnTFBOId" />
