﻿@model GA.DataTransfer.Classes_for_Web.IPassengerMediaDetails

<script type="text/javascript">

    function CancelEditVideo(id) {
        $('#updateVideo_' + id).hide();
        $('#CancelEditVideo_' + id).hide();
        $('#editVideo_' + id).show();
        $('#spnVideo_' + id).show();
        $('#txtVideoTitle_' + id).hide() ;
        $('#txtVideoTitle_' + id).val($('#spnVideo_' + id).text());
    }

</script>

<style type="text/css">
    #tblEngine_length select, #tblRatingType_length select, #tblPropeller_length select, #tblMedCertificateClass_length select, #tblManufacturer_length select, #tblComponentManufacturer_length select, #tblModel_length select, 
    {
        border:1px solid black;
    }
</style>

<script src="~/Scripts/DataTable/bootstrap.min.js"></script>
@*<script src="~/Scripts/DataTable/jquery.min.js"></script>*@
<link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTable/jquery.dataTables.min.js"></script>


@*<script src="~/Scripts/jquery-ui-1.8.24.js"></script>*@
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
  


<div id="divVideo"  style="width:95%; padding-top: 20px;padding-left:10px;padding-right:10px;padding-bottom:20px;border:5px solid #b3b3b3">

        <table id="tblVideo" class="table-striped table-bordered nowrap">

            <thead>
                <tr>
                    <td width="80%">
                        @Html.DisplayName("Video List")
                    </td>
                    <td width="20%">Actions
                                
                    </td>

                </tr>
            </thead>
            
            <tbody>

                @foreach (var item in @Model.VideoList)
                {
                    <tr id="trVideo_@item.Id">
                        <td>
                             <img style="vertical-align:middle" src="@item.ThumbnailImagePath" width="50px" height="50px"  /> &nbsp;&nbsp;  <span style="cursor: pointer;" onclick="funLoadVideo('@item.FilePath')" id="spnVideo_@item.Id">@item.Title</span>
                          
                            @Html.TextBoxFor(model => item.Title, new { id = "txtVideoTitle_" + @item.Id, style = "display: none;float:none", @class = "inputbox_new", size = "20", @autocomplete = "Off" })
                        </td>
                        <td>
                            <a href="javascript:void(0);" id="editVideo_@item.Id"  onclick="editVideo('@item.Id')" class="fa fa-edit tooltip"><span>Edit</span> </a>
                            <a href="javascript:void(0);" id="updateVideo_@item.Id" style="display: none" onclick="UpdateVideo('@item.Id')" class="fa fa-update tooltip"><span>Update</span></a>
                            <a href="javascript:void(0);" id="CancelEditVideo_@item.Id" style="display: none" onclick="CancelEditVideo('@item.Id')" class="fa fa-cancel tooltip"><span>Cancel</span></a>
                            <a href="javascript:void(0);" id="deleteVideo_@item.Id"   onclick="deleteVideo('@item.Id', 'trVideo_@item.Id')" class="fa fa-delete tooltip"><span>Delete</span></a>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
</div>

 <script>
    $(document).ready(function () {
        $('#tblVideo').dataTable();
    });
</script> 

