﻿@model GA.DataTransfer.Classes_for_Web.IPassengerMediaDetails

<script type="text/javascript">

    function CancelEditWarning(id) {
        //$('#updateWarning_' + id, '#CancelEditWarning_' + id).hide();
        //$('#editWarning_' + id, '#spnWarning_' + id).show();
        //$('#txtWarningTitle_' + id).hide().val($('#spnWarning_' + id).text());

        $('#updateWarning_' + id).hide();
        $('#CancelEditWarning_' + id).hide();
        $('#editWarning_' + id).show();
        $('#spnWarning_' + id).show();
        $('#txtWarningTitle_' + id).hide();
        $('#txtWarningTitle_' + id).val($('#spnWarning_' + id).text());
    }

</script>



<script src="~/Scripts/DataTable/bootstrap.min.js"></script>
@*<script src="~/Scripts/DataTable/jquery.min.js"></script>*@
<link href="~/Content/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
<script src="~/Scripts/DataTable/jquery.dataTables.min.js"></script>


@*<script src="~/Scripts/jquery-ui-1.8.24.js"></script>*@
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />

<div id="divWarning" style="width:95%; padding-top: 20px;padding-left:10px;padding-right:10px;padding-bottom:20px;border:5px solid #b3b3b3">

    <table id="tblWarning" class="table-striped table-bordered nowrap">

        <thead>
            <tr>
                <td width="80%">
                    @Html.DisplayName("Warning List")
                </td>
                @if (@ViewBag.IsEngineDataAvailable)
                {
                    <td width="20%">
                        Actions

                    </td>
                }
            </tr>
        </thead>

        <tbody>

            @foreach (var item in @Model.WarningList)
            {
                <tr>
                    <td>
                        <span id="spnWarning_@item.Id">@item.Title</span>

                        @Html.TextBoxFor(model => item.Title, new { id = "txtWarningTitle_" + @item.Id, style = "display: none;float:none", @class = "inputbox_new", size = "20", @autocomplete = "Off" })
                    </td>
                    @if (@ViewBag.IsEngineDataAvailable)
                    {
                        <td>
                            <a href="javascript:void(0);" id="editWarning_@item.Id" onclick="editWarning('@item.Id')" class="fa fa-edit tooltip"><span>Edit</span> </a>
                            <a href="javascript:void(0);" id="updateWarning_@item.Id" style="display: none" onclick="UpdateWarning('@item.Id')" class="fa fa-update tooltip"><span>Update</span></a>
                            <a href="javascript:void(0);" id="CancelEditWarning_@item.Id" style="display: none" onclick="CancelEditWarning('@item.Id')" class="fa fa-cancel tooltip"><span>Cancel</span></a>
                            <a href="javascript:void(0);" id="deleteWarning_@item.Id" onclick="deleteWarning('@item.Id')" class="fa fa-delete tooltip"><span>Delete</span></a>
                        </td>
                    }
                </tr>
            }

        </tbody>
    </table>
</div>

<script>
    $(document).ready(function () {
        $('#tblWarning').dataTable();

        //$('#divWarningModule').hide();
    });
</script>

