﻿@model List<GA.DataTransfer.Classes_for_Web.AircraftSummary>
@using GA.Common;
@{
    ViewBag.Title = "AircraftList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var userType = Session["UserType"] as string;
}



<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/jquery.js"></script>
<script src="~/js/bootbox.js"></script>

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#hdnProfileId").val(@ViewBag.ProfileId)
        $("#txtSearch").bind("keyup", function (e) {
            var str = this.value;
            if (str == '') {
                $('.col-md-55').each(function (index, value) {
                    $(this).show();
                });
            }
            else {
                $('.col-md-55').each(function (index, value) {

                    if ($(this).attr('id').indexOf(str) != -1) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            }
        });

        $('input[type=radio][name=rbtnView]').change(function () {
            if (this.value == 'Image') {
                $('#divAircraftImageView').show();
                $('#divAircraftTableView').hide();
            }
            else   {
                $('#divAircraftImageView').hide();
                $('#divAircraftTableView').show();
            }
        });
        //var table = $('#datatable-fixed-header, #datatable-fixed-header1').DataTable({
        //    fixedHeader: true
        //});
        var table = $('#datatable-fixed-header, #datatable-fixed-header1').DataTable();

    });

    function DeleteAircraft(aId) {
        bootbox.confirm("@GA.Common.ResourcrFiles.AircraftProfile.Messages.ConfirmDeleteAircraft.ToString()", function (result) {
            if (result) {
                $.post("/IMounts/Aircraft/DeleteAircraft", {
                    aircraftId: aId,
                    profileId: $("#hdnProfileId").val()
                },
                       function (data) {
                           $("#divAircraftList").html(data);
                           $('#datatable-fixed-header').dataTable();
                           bootbox.alert('@GA.Common.ResourcrFiles.AircraftProfile.Messages.DeleteAircraft.ToString()', function () {
                           });
                           ga('send', 'event', 'Button', 'Click', 'DeleteAircraftProfile');

                       });
            }
        });
    }

    function subMsg() {
        bootbox.alert('To view aircraft details, you have to purchase subscription plan 5', function () {
        });
    }
</script>


<input id="hdnProfileId" type="hidden" value="" />

<div id="divRadioOption" class="col-md-12 col-sm-12 no-padding margintop20" style="text-align:center">
    <input type="radio" value="Image" name="rbtnView" checked /> &nbsp;<b> Image View </b>&nbsp;&nbsp;&nbsp;
    <input type="radio" value="Table" name="rbtnView" />&nbsp;<b> List View </b>
</div>

@if (userType != Enumerations.UserType.DemoUser.ToString())
{
    <div id="divAircraftTableView" class="col-md-12 col-sm-12 no-padding margintop20" style="display:none">
        <div class="x_panel clearfix">
            <div id="divAircraftList">
                @Html.Partial("_AircraftListPartial", Model)
            </div>
        </div>
    </div>

    <div id="divAircraftImageView" class="col-md-12 no-padding margintop20">
        <div class="x_panel clearfix">
            <div class="x_title clearfix">
                <div class="col-sm-6"></div><div class="col-sm-6 form-inline text-right">Search : <input type="text" class="form-control input-sm" id="txtSearch" /></div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">
                    @foreach (var aircraft in Model.OrderBy(o => o.SNO))
                    {
                        <div class="col-md-55" id='@aircraft.aircraftNNumber'>
                            <div class="thumbnail">
                                <div class="image view view-first">
                                    @if (aircraft.TId != null)
                                    {
                                    <a href='@Url.Action("AircraftDetails", "Aircraft", new { aid = aircraft.TId })' >  <img style="width: 100%; display: block;" src='@aircraft.aircraftImage' alt="image" /></a>
                                    }
                                    else
                                    {
                                        <a  onclick="subMsg();" style="cursor:pointer">  <img style="width: 100%; display: block;"  src='@aircraft.aircraftImage' alt="image" /></a>
                                    }
                                </div>
                                <div class="caption">
                                    <p><strong>Aircraft Type</strong> : @aircraft.aircraftType</p>
                                    <p class="textellipsis"><strong>Aircraft Tail No.</strong> : <span class="textellipsis">@aircraft.aircraftNNumber</span></p>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div id="divAircraftTableView" class="col-md-12 no-padding margintop20" style="display:none">
        <div class="x_panel clearfix">
            <div id="divAircraftList">
                <table id="datatable-fixed-header" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Sno</th>
                            <th>Aircraft Listing</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td style="display:none">1</td>
                            <td>Demo</td>
                            <td><a class="btn btn-primary btn-xs" href="@Url.Action("AircraftDetails", "Aircraft", new { aid = 0})"><i class="fa fa-search-plus"></i> View Details</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div id="divAircraftImageView" class="col-md-12 no-padding margintop20">
        <div class="x_panel clearfix">
            <div class="x_title clearfix">
                <div class="col-sm-6"></div><div class="col-sm-6 form-inline text-right">Search : <input type="text" class="form-control input-sm" id="txtSearch" /></div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="row">

                    <div class="col-md-55">
                        <div class="thumbnail">
                            <div class="image view view-first">

                                <a href='@Url.Action("AircraftDetails", "Aircraft", new { aid = "Ej3uds0n4IAbWdEzJ+CPsw=="})'>  <img style="width: 100%; display: block;" src='../Images/GA/profile_pic.png' alt="image" /></a>

                            </div>
                            <div class="caption">
                                <p><strong>Aircraft Type</strong> : Demo</p>
                                <p class="textellipsis"><strong>Aircraft Tail No.</strong> : <span class="textellipsis">Demo</span></p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
}