﻿@model IEnumerable<GA.DataLayer.JPIUnitData>

@{
    ViewBag.Title = "ListAllJPIData";
}

<h2>ListAllJPIData</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div style="width: 500px; overflow: scroll ;">
    <table>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IAS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Volt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AMP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FQL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FQR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OilP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OilT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MAP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RPM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cht1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cht2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cht3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cht4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cht5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cht6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Egt1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Egt2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Egt3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Egt4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Egt5)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Egt6)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UnitDataId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Oat)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cht7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cht8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cht9)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Egt7)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Egt8)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Egt9)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IAS)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Volt)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AMP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FQL)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FQR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FF)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OilP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OilT)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MAP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RPM)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cht1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cht2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cht3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cht4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cht5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cht6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Egt1)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Egt2)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Egt3)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Egt4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Egt5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Egt6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tit)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitDataId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Oat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cht7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cht8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cht9)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Egt7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Egt8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Egt9)
                </td>
                <td>
                      @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>
</div>
