﻿@using GA.DataTransfer.Classes_for_Web;

@model MaintenanceModelWeb


@{
    ViewBag.Title = "SquawkList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";

}


<script src="~/js/jquery.js"></script>
<script src="~/js/bootbox.js"></script>


<script type="text/javascript">
    $(document).ready(function (e) {

        $('#hdnUserType').val('@Model.SquawkListModel.UserType');
        $('#hdnIsAircraftProfile').val(false);
        $('#hdnProfileId').val('@ViewBag.ProfileId');

        var table = $('#datatable-fixed-header-SquawkList').DataTable();

        $('#SquawkListModel_aircraftIdForIssue').change(function () {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("/GetMaintenanceUserByAIrcraftId")',
                dataType: 'json',
                data: {
                    aircraftId: $("#SquawkListModel_aircraftIdForIssue").val(),
                    profileId: $('#hdnProfileId').val()
                },
                success: function (data) {
                    if (data.isOwner == 'true' || data.isOwner == 'True' || data.isOwner == true) {
                        $('#divAssignTo').attr("style", "display:block;");
                    }
                    else {
                        $('#divAssignTo').attr("style", "display:none;");
                    }
                    $('#SquawkListModel_userIdForIssue option').remove();
                    $.each(data.userList, function (i, listItem) {
                        $("#SquawkListModel_userIdForIssue").append('<option value="' + listItem.value + '">' + listItem.text + '</option>');
                    });
                },
                error: function (ex) {
                    //alert('Failed to retrieve states.' + ex);
                }
            });
            return false;
        });

    });


    function validateMaintenanceUserUser() {
        $('#txtIssueDetails').val('');
        $("#btnCreateIssue").click();
        $('#SquawkListModel_aircraftIdForIssue').trigger("change");
    }

    function validateAddIssue()
    {
        var isValid = true;

        if ($('#txtIssueDetails').val() == '') {
            $("#snpErrAddIssue").attr("style", "display:block;color:red");
            isValid = false;
        }
        else {
            $("#snpErrAddIssue").attr("style", "display:none;color:red");
        }

        if ($("#SquawkListModel_aircraftIdForIssue").val() == '0') {
            $("#snpErrAircraftIssue").attr("style", "display:block;color:red");
            isValid = false;
        }
        else {
            $("#snpErrAircraftIssue").attr("style", "display:none;color:red");
        }
        return isValid;
    }

    function AddIssue() {

        if (validateAddIssue()) {
            var title = $('#txtIssueDetails').val();
            $('#btnCancelAddIssue').click();
            $('#btnCancelAddIssue').click();
            $('#myLoadingElement').show();
            var assigneeId = 0;

            $.post("GenerateIssue", {
                aircraftId: $("#SquawkListModel_aircraftIdForIssue").val(),
                profileId: $("#hdnProfileId").val(),
                title: title,
                assigneeId: $('#SquawkListModel_userIdForIssue').val(),
                priorityId: $('#ddlPriority').val()
            },
            function (dataList) {
                if (dataList.message == "Success") {

                    $.post("GetSquwakList", {

                        profileId: $("#hdnProfileId").val(),
                        isAircraftProfile: $('#hdnIsAircraftProfile').val()
                    },
                        function (data) {
                            $('#tab_SquawkList').html(data);
                            $('#datatable-fixed-header-SquawkList').dataTable();
                            $('#myLoadingElement').hide();
                            $('#divAssignTo').attr("style", "display:none;");
                            $('#txtIssueDetails').val('');
                            bootbox.alert('@GA.Common.ResourcrFiles.AircraftProfile.Messages.AddIssueSuccess.ToString()', function () {
                            });
                        });
                }
                else {
                    $('#myLoadingElement').hide();
                    bootbox.alert('@GA.Common.ResourcrFiles.AircraftProfile.Messages.AddIssueError.ToString()', function () {
                    });
                }
            });
        }
    }

    function ShowConfirmCloseIssue(id, aircraftId) {
        bootbox.confirm("Are you sure to Close this issue?", function (result) {
            if (result) {
                $('#hdnIssueId').val(id);
                $('#btnCommentIssue').click();
                $('#hdnAircraftId').val(aircraftId);

            }
        });
    }


    function CloseIssue() {
        $("#snpErrComment").attr("style", "display:none;color:red");
        if ($("#txtComment").val() == "") {
            $("#snpErrComment").attr("style", "display:block;color:red");
        }
        else {
            $('#btnCancelCloseIssue').click();
            $('#myLoadingElement').show();
            $("#snpErrComment").attr("style", "display:none;color:red");
            $.post("CloseIssue", {

                issueId: $('#hdnIssueId').val(),
                comment: $('#txtComment').val(),
                profileId: $("#hdnProfileId").val()
            }, function (data) {

                $('#tab_SquawkList').html(data);
                $('#datatable-fixed-header-SquawkList').dataTable();
                $('#txtComment').val('');
                $('#btnCancelCloseIssue').click();

                $('#myLoadingElement').hide();
                $(".modal-backdrop").remove();
                bootbox.alert('Issue closed successfully.', function () {
                });

            });
        }

    }


    function setValuesForUpdateIssue(IssueId, aircraftId, priority, title, AssigneeId) {
        $("#SpnUpdateIssueDetails").text(title);
        $("#hdnIssueId").val(IssueId);
        console.log('AssigneeId = ' + AssigneeId);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("/GetMaintenanceUserByAIrcraftId")',
            dataType: 'json',
            data: {
                aircraftId: aircraftId,
                profileId: 0  //No need to send the profile id from outside squawk list
            },
            success: function (data) {
                //if (data.isOwner == 'true' || data.isOwner == 'True' || data.isOwner == true) {
                //    $('#divAssignTo').attr("style", "display:block;");
                //}
                //else {
                //    $('#divAssignTo').attr("style", "display:none;");
                //}
                $('#ddlUpdateMaintenanceUser option').remove();
                $.each(data.userList, function (i, listItem) {
                    if (listItem.value == '0') {
                        $("#ddlUpdateMaintenanceUser").append('<option selected="selected" value="' + listItem.value + '">' + listItem.text + '</option>');
                    }
                    else {
                        $("#ddlUpdateMaintenanceUser").append('<option value="' + listItem.value + '">' + listItem.text + '</option>');
                    }
                });

                console.log('AssigneeId = ' + AssigneeId);
                $("#ddlUpdateMaintenanceUser option[value='0']").prop('selected', true);
                $("#ddlUpdateMaintenanceUser").val('0');
                $("#btnUpdateIssue").click();
                $("#ddlPriorityUpdate").val(priority);
                if (AssigneeId != '') {
                    $("#ddlUpdateMaintenanceUser").val(AssigneeId);
                }
            },
            error: function (ex) {
                //alert('Failed to retrieve states.' + ex);
            }
        });
        return false;

    }

    function cancelAddIssue() {
        $('#txtIssueDetails').val('');
    }

    function UpdateIssue() {
        var assigneeId = 0;
        $('#myLoadingElement').show();
        if ($("#ddlUpdateMaintenanceUser").val() != 0) {
            assigneeId = $("#ddlUpdateMaintenanceUser").val();
        }
        $.ajax({
            type: 'POST',
            url: '@Url.Action("/UpdateIssue")',
            dataType: 'json',
            data: {
                issueId: $("#hdnIssueId").val(),
                assigneeId: assigneeId,
                priority: $("#ddlPriorityUpdate").val(),
                profileId: $("#hdnProfileId").val(),
                IsAircraftProfile: 'false'
            },
            success: function (data) {
                if (data.message != 'Success') {
                    $('#myLoadingElement').hide();
                    bootbox.alert(data.message, function () {
                    });
                }
                else {
                    $.post("GetSquwakList", {
                        profileId: $("#hdnProfileId").val(),
                        isAircraftProfile: 'false'
                    },
                       function (data) {
                           $('#tab_SquawkList').html(data);
                           $('#datatable-fixed-header-SquawkList').dataTable();

                           $("#btnCancelUpdateIssue").click();
                           $("#btnCancelUpdateIssue").click();
                           $('#myLoadingElement').hide();
                           $(".modal-backdrop").remove();
                           bootbox.alert('@GA.Common.ResourcrFiles.AircraftProfile.Messages.UpdateIssueSucccess.ToString()', function () {
                           });
                       });
                }
            },
            error: function (ex) {
                //alert('Failed to retrieve states.' + ex);
            }
        });
        return false;
    }

</script>


<input id="hdnIssueId" type="hidden" value="" />
<input id="hdnUserType" type="hidden" value="" />
<input id="hdnProfileId" type="hidden" value="" />
<input id="hdnIsAircraftProfile" type="hidden" />
<input id="hdnAircraftId" type="hidden" />

<div class="col-md-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div id="tab_SquawkList">
            @Html.Partial("_SquawkListPartial", Model)
        </div>
    </div>
</div>







