﻿@model List<GA.DataTransfer.Classes_for_Web.CustomerModel>
@using GA.Common;
@using System.Configuration;
<table id="datatable-fixed-header-Customer" class="table table-striped table-bordered fold-table">
    <thead>
        <tr>
            <th>SNO</th>
            <th>Customer Type</th>
            @if (ViewBag.UserType != Enumerations.UserType.InventorySales.ToString())
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @*setEditCustomer(@Html.Raw(Json.Encode(item))*@
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SNO</td>
                <td>@item.Name</td>
                @if (ViewBag.UserType != Enumerations.UserType.InventorySales.ToString())
                {
                    <td>
                        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                            <span data-toggle="tooltip" data-placement="top" title="Edit">
                                <a href="javascript:void(0);" onclick="setEditCustomer(@Html.Raw(Json.Encode(item)).ToString())" data-toggle="modal" data-target=".editCustomer-modal" class="hi-icon fa fa-edit btn-primary"></a>
                            </span>
                            <a data-toggle="tooltip" data-placement="top" id="deleteCustomer" onclick="deleteCustomer('@item.EncryptId')" title="Delete Customer?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>
                        </div>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
<div class="watermark">
    @*<img src="~/Images/watermark.png" />*@
    <span>TEST</span>
</div>
}