﻿@model GA.DataTransfer.Classes_for_Web.EngineeringDocument


@{

    int parentListCount = Model.parentFolderList.Count - 1;
    int count = 0;
    int rowIndex = 0;
    string parentiD = "";
}
<div id="divFolderLink" class="col-sm-6 no-padding" style="margin-bottom:20px;font-size:20px;">
    @foreach (var item in Model.parentFolderList.OrderByDescending(o => o.SNO).ToList())
    {
        <a href="javascript:void(0);" onclick="getAllEngineeringDocsById('@item.Value')"> @item.Text</a>
        if (count < parentListCount)
        {
            <span>&nbsp;=>&nbsp;</span>
        }
        parentiD = item.Value;
        count++;
    }
    <input type="hidden" value="@parentiD" id="hdnParentId" />
</div>

<div class="col-md-10 col-sm-10 table-responsive">
    <div id="divEngDocs" >
        <table id="datatable-fixed-header-EngDocs" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th style="width:10%"></th>
                    <th style="width:70%">Docs</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (var item in Model.documentList.OrderByDescending(o => o.IsFolder))
                {
                    <tr>
                        <td>
                            @if (!(item.IsDefault ?? false))
                            {
                                <input type="checkbox" id="chk_@rowIndex" class="cbk" onclick="funChkClick('@item.Id', $(this))" />
                            }
                        </td>
                        <td>
                            @if (item.IsFolder)
                            {
                                <p><span style="cursor:pointer" onclick="getAllEngineeringDocsById('@item.Id')"> <img src="~/Images/FileIcons/folder.png" />&nbsp;&nbsp;&nbsp; <a id="a_@rowIndex" href="javascript:void(0);" style="color:black">@item.DocumentName</a></span> <span id="spn_@rowIndex" style="display:none"> <input id="txtRename_@rowIndex" value="@item.DocumentName" type="text" style="padding-left:10px" /> &nbsp; <img src="~/Images/if_tick_12514.png" width="20" height="20" style="cursor:pointer" onclick="RenameFileOrFolder('@rowIndex','@item.Id')" /> &nbsp;&nbsp; <img style="cursor:pointer" src="~/Images/if_cross_11746.png" width="20" height="20" onclick="CancelRename('@rowIndex')" /> </span> </p>

                            }
                            else
                            {
                                <p><img src="~/Images/FileIcons/File-Types-Default-icon.png" />&nbsp;&nbsp;&nbsp; <a id="a_@rowIndex" href="@item.DocUrl" target="_blank" style="color:black">@item.DocumentName</a><span id="spn_@rowIndex" style="display:none"> <input id="txtRename_@rowIndex" value="@item.DocumentName" type="text" style="padding-left:10px" /> &nbsp; <img src="~/Images/if_tick_12514.png" width="20" height="20" style="cursor:pointer" onclick="RenameFileOrFolder('@rowIndex','@item.Id', '@item.DocumentName')" /> &nbsp;&nbsp; <img style="cursor:pointer" src="~/Images/if_cross_11746.png" width="20" height="20" onclick="CancelRename('@rowIndex')" /> </span>  </p>
                            }
                        </td>

                        <td>
                            @if (!(item.IsDefault ?? false))
                            {
                                <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><span><a data-toggle="tooltip" data-placement="top" title="Delete this entry" class="hi-icon fa fa-trash btn-danger" onclick="DeleteDocument('@item.Id', '@item.IsFolder.ToString()')"></a></span></div>
                            }
                        </td>
                           
                        </tr>
                    rowIndex++;
                }
            </tbody>
        </table>
      
    </div>
</div>
