﻿@model List<GA.DataTransfer.Classes_for_Web.InvoiceModel>

<table id="datatable-fixed-header-Invoice"   class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>SNO</th>
            <th>Invoice Number</th>
            <th>Invoice Date</th>
            <th>Customer Type</th>
            <th>Customer Name</th>
            <th>Units Sold</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SNO</td>
                <td>@item.InvoiceNumber</td>
                <td>@String.Format("{0:dd MMM yyyy}", item.InvoiceDate)</td>
                <td>@item.CustomerType</td>
                <td>@item.CustomerName</td>
                <td>@item.ItemCount</td>
                <td>
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                        <a data-toggle="tooltip" data-placement="top" href="@Url.Action("InvoiceDetails", "Inventory", new {id=item.InvoiceId })" title="view units" class="hi-icon fa fa-eye btn-primary" href="javascript:void(0);"></a>
                        <span data-toggle="tooltip" data-placement="top" title="Edit">
                            <a  href="@Url.Action("EditSales", "Inventory", new {id=item.InvoiceId })" data-toggle="tooltip" data-placement="top" class="hi-icon fa fa-edit btn-primary"></a>

                        </span>
                        <a data-toggle="tooltip" data-placement="top" id="deleteInvoice" onclick="deleteInvoice('@item.InvoiceId')" title="Delete Invoice?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>
                    
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
