﻿@model List<GA.DataTransfer.Classes_for_Web.InventoryCustomerModel>
@using GA.Common;
@using System.Configuration;
@{ 
    int sno = 1;
}
<table id="datatable-fixed-header-Customer" class="table table-striped table-bordered fold-table">
    <thead>
        <tr>
            <th>SNO</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Customer Type</th>
            <th>Company Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@(sno++)</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Email</td>
                <td>@item.PhoneNo</td>
                <td>@item.CustomerType</td>
                <td>@item.CompanyName</td>
                <td>
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                        <span data-toggle="tooltip" data-placement="top" title="Edit">
                            <a href="javascript:void(0);" onclick="setEdit(@Html.Raw(Json.Encode(item)).ToString());" data-toggle="modal" data-target=".editCustomer-modal" data-placement="top" class="hi-icon fa fa-edit btn-primary"></a>
                        </span>
                        <a data-toggle="tooltip" data-placement="top" id="btnDeleteCustomer" onclick="deleteCustomer('@item.EncryptId')" title="Delete RMA?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>
                    </div>
                </td>
            </tr>
            
        }
    </tbody>
</table>

@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <div class="watermark">
        @*<img src="~/Images/watermark.png" />*@
        <span>TEST</span>
    </div>
}