﻿@model List<GA.DataTransfer.Classes_for_Web.KitAssemblyModel>
<script type="text/javascript">
    $(document).ready(function () {

        $(".fold-table tr.view").on("click", function () {
            //$(this).toggleClass("open").next(".fold").toggleClass("open");
            $(this).toggleClass("open").next(".fold").toggle('fast', 'linear', function () {
                $(this).toggleClass('open');
            });
        });
    });
</script>
 
<table id="datatable-fixed-header-Customer" class="table table-striped table-bordered fold-table">
    <thead>
        <tr>
            <th>Kit P/N</th>
            <th>Image</th>
            <th>Suggested Sales Price</th>
            <th>Description</th>
            <th>Item Count</th>
            <th>Extended Sales</th>
            <th>Comment</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="view">
                <td>@item.PartName</td>
                <td>
                    @if (item.ImageName == "" || item.ImageName == null)
                    {
                        <a href="javascript:void(0);"><img src="~/Images/NoImage.png" height="50" width="50" /></a>
                    }
                    else
                    {
                        <a href="@item.ImageName" target="_blank"><img src="@item.ImageName" height="50" width="50" /></a>
                    }
                </td>
                <td>@item.SuggestedSalesPrice</td>
                <td>@item.Description</td>
                <td>@item.PartList.Count()</td>
                <td>@item.PartList.Sum(s => s.SalesPrice * s.Quantity)</td>
                <td>@item.Comment</td>
                <td>
                    @*<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="width:100%; display:flex;">
                        <span data-toggle="tooltip" data-placement="top" title="Edit">
                            <a   data-toggle="tooltip" data-placement="top"  title="Edit Part number?" onclick="BindKitAssembly('@item.Id')" class="hi-icon fa fa-edit btn-primaryr" href="javascript:void(0);"></a>
                        </span>
                          <a data-toggle="tooltip" data-placement="top"  title="Delete Part number?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>
                       
                    </div>*@
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                        <span data-toggle="tooltip" data-placement="top" title="Edit">
                            <a href="javascript:void(0);" data-toggle="tooltip" onclick="BindKitAssembly(@item.Id)" data-placement="top" class="hi-icon fa fa-edit btn-primary"></a>
                        </span>
                        <a data-toggle="tooltip" data-placement="top"  onclick="DeleteKitAssembly(@item.Id)" title="Delete Kit Assembly?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>
                    </div>

                </td>
            </tr>
            <tr class="fold">
                <td colspan="12">
                    <table style="width:100%; margin-top:15px;border:1px solid black;">
                        <thead style="border:1px solid black;">
                            <tr>
                                <th>Kit P/N</th>
                                <th>Image</th>
                                <th>Description</th>
                                <th>Model No</th>
                                <th>Is s/W Applicable</th>
                                <th>Vendor</th>
                                <th>Quantity</th>
                                <th>Cost Price</th>
                                <th>Sales Price</th>
                                <th>Extended Cost</th>
                                <th>Extended Sales</th>
                                @*<th></th>*@
                            </tr>
                        </thead>
                        <tbody>
                            
                                @foreach (var kitItem in item.PartList)
                                {
                                    <tr>
                                        <td>@kitItem.PartName</td>
                                        <td>
                                            @if (kitItem.ImageName == "")
                                            {
                                                <a href="javascript:void(0);"><img src="~/Images/NoImage.png" height="50" width="50" /></a>
                                            }
                                            else
                                            {
                                                <a href="@kitItem.ImageName" target="_blank"><img src="@kitItem.ImageName" height="50" width="50" /></a>
                                            }
                                        </td>
                                        <td>@kitItem.Description</td>
                                        <td>@kitItem.ModelNumber</td>
                                        <td>@(kitItem.IsSoftwareLevelApplicable == true ? "Yes" : "N/A")</td>
                                        <td>@kitItem.VendorName</td>
                                        <td>@kitItem.Quantity</td>
                                        <td>@kitItem.CostPrice</td>
                                        <td>@kitItem.SalesPrice</td>
                                        <td>@(kitItem.Quantity * kitItem.CostPrice)</td>
                                        <td>@(kitItem.Quantity * kitItem.SalesPrice)</td>
                                        @*<td>
                                            <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="width:100%; display:flex;">
                                                <span data-toggle="tooltip" data-placement="top" title="Edit">
                                                    <a data-toggle="tooltip" data-placement="top" id="deleteMedCertClass" title="Delete Part number?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>
                                                </span>
                                            </div>
                                        </td>*@
                                    </tr>
                                }
                        </tbody>
                        <tfoot style="border:1px solid black;">
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td><b>Total</b></td>
                                <td>@(item.PartList.Sum(s => s.CostPrice))</td>
                                <td>@(item.PartList.Sum(s => s.SalesPrice))</td>
                                <td>@(item.PartList.Sum(s => s.Quantity * s.CostPrice))</td>
                                <td>@(item.PartList.Sum(s=> s.Quantity * s.SalesPrice))</td>
                                <td></td>
                            </tr>
                        </tfoot>
                    </table>

                </td>
            </tr>


        }
    </tbody>
</table>
 