﻿@model List<GA.DataTransfer.Classes_for_Web.PartNumberModel>
@using System.Configuration;
<style>
    #datatable-fixed-header-PartNo tbody tr td {
        word-break: break-all;
    }
</style>

    <table id="datatable-fixed-header-PartNo" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>SNO</th>
                <th>Image</th>
                <th>Part No</th>
                <th>Model No</th>
                <th>Description</th>
                <th>If s/w level applicable</th>
                <th>IsSerialNumberRequired</th>
                <th>Cost Price</th>
                <th>Sales Price</th>
                <th>Available for sale</th>
                <th>Recommended Qty on shelf</th>
                <th>Vendor</th>
                <th>Comment</th>
                <th class="noExport">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.SNO</td>
                    <td>
                        @if (item.ImageName == "")
                        {
                            <a href="javascript:void(0);"><img src="~/Images/NoImage.png" height="50" width="50" /></a>
                        }
                        else
                        {
                            <a href="@item.ImageName" target="_blank"><img src="@item.ImageName" height="50" width="50" /></a>
                        }
                    </td>
                    <td>@item.PartNumber</td>
                    <td>@item.ModelNumber</td>
                    <td>@item.Description</td>
                    <td><span class="@(item.IsSoftwareLevelApplicable ? "fa fa-check fa-green" : "fa fa-close")"></span> </td>
                    <td><span class="@(item.IsSerialNumberRequired == true ? "fa fa-check fa-green" : "fa fa-close")"></span></td>
                    <td>@item.CostPrice</td>
                    <td>@item.SalesPrice</td>
                    <td>@item.TotalUnitsAvailableForSale</td>
                    <td>@item.RecommendQuantity</td>
                    <td>@item.VendorName</td>
                    <td>@item.Comment</td>
                    <td>
                        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="width:100%; display:flex;">
                            <span data-toggle="tooltip" data-placement="top" title="Edit">
                                <a href="javascript:void(0);" onclick="setEditPartNoText(@Html.Raw(Json.Encode(item)))" data-toggle="modal" data-target=".editPartNo-modal" class="hi-icon fa fa-edit btn-primary"></a>
                            </span>
                            <a data-toggle="tooltip" data-placement="top" id="deleteMedCertClass" onclick="deletePartNumber('@item.PartNumberId')" title="Delete Part number?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>&nbsp;
                           @if (item.IsMasterPart)
                           {
                               if (item.IsAliasCreated)
                               {
                                <a data-toggle="tooltip" data-placement="top" onclick="AddRemoveDocs('@item.PartNumber')" title="Add/Remove engineering docs" class="hi-icon fa fa-folder-o btn-primary btn-purple" href="javascript:void(0);"></a>
                               }
                               else
                               {
                                <a data-toggle="tooltip" data-placement="top" onclick="AddRemoveDocs('@item.PartNumber')" title="Add/Remove engineering docs" class="hi-icon fa fa-folder-o btn-primary" href="javascript:void(0);"></a>
                               }
                           }
                           else
                           {
                            <a data-toggle="tooltip" data-placement="top" onclick="AddRemoveDocs('@item.PartNumber')" title="Master Folder @item.MasterPartNumber" class="hi-icon fa fa-folder-o btn-success" href="javascript:void(0);"></a>
                           }
                            <a data-placement="top" data-toggle="modal" data-target=".addPartNo-modal" onclick="copyAndCreateNewPartNo(@Html.Raw(Json.Encode(item)))" title="Copy and create new part number" class="hi-icon fa fa-copy btn-primary"  ></a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
 <div class="watermark">
    
    <span>TEST</span>
</div>
}