﻿@model List<GA.DataTransfer.Classes_for_Web.PurchaseOrderModel>
@*@model GA.DataTransfer.Classes_for_Web.PurchaseOrderListModel*@
@using GA.DataTransfer.Classes_for_Web;
@using System.Configuration;

<table id="datatable-fixed-header-table" class="table table-striped table-bordered display">
    <thead>
        <tr>
            <th>Receive Order</th>
            <th>Create Date</th>
            <th>PO Number</th>
            <th>Part No</th>
            <th>Description</th>
            <th>Is SW Applicable?</th>
            <th>SW level</th>
            <th>Vendor</th>
            <th>Received By</th>
            <th>Quantity</th>
            <th>Start Serial No.</th>
            <th>End Serial No.</th>
            <th>Starting Board S/N No.</th>
            <th>End Board S/N No.</th>
            <th class="noExport">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SNO</td>
                <td>@String.Format("{0:d}", item.CreateDate)</td>
                <td>@item.PurchaseOrderNumber</td>
                <td>@item.PartNo</td>
                <td>@item.Description</td>
                <td><span class="@(item.IsSoftwareLevelApplicable ? "fa fa-check fa-green" : "fa fa-close")"></span> </td>
                <td>@(string.IsNullOrEmpty(item.SoftwareLevel) ? "" : item.SoftwareLevel)</td>
                <td>@item.VendorName</td>
                <td>@item.ReceivedBy</td>
                <td>@item.Quantity</td>
                @if (item.IsSerialNumberRequired)
                {
                    <td>@item.StartSerialNo</td>
                    <td>@(item.StartSerialNo + item.Quantity - 1)</td>
                    <td>@item.StartingBoardSerialNo</td>
                    <td>@(item.StartingBoardSerialNo + item.Quantity - 1)</td>
                }
                else
                {
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                }

                <td>
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="display:flex;">
                        <span data-toggle="tooltip" data-placement="top" title="Edit">
                            <a href="javascript:void(0);" onclick="getPurchaseOrderById('@item.PurchaseOrderId')" class="hi-icon fa fa-edit btn-primary"></a>
                        </span>
                        <a data-toggle="tooltip" data-placement="top" id="deleteMedCertClass" title="Delete MedCertClass?" onclick="deletePurchaseOrder('@item.PurchaseOrderId')" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>
                        <a data-toggle="tooltip" data-placement="top" href="@Url.Action("Units", "Inventory", new {key = "PurchaseOrderId", value  = item.PurchaseOrderId })" id="" title="view units" class="hi-icon fa fa-eye btn-primary" href="javascript:void(0);"></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <div class="watermark">
        <span>TEST</span>
    </div>
}