﻿@model List<GA.DataTransfer.Classes_for_Web.ReceiverModel>
@using System.Configuration;

<table id="datatable-fixed-header-Receiver" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>SNO</th>
            <th>Employee Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SNO</td>
                <td>@item.Name</td>
                <td>
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> <span data-toggle="tooltip" data-placement="top" title="Edit"><a href="javascript:void(0);" onclick="setEditReceiver(@Html.Raw(Json.Encode(item)).ToString())" data-toggle="modal" data-target=".editReceiver-modal" class="hi-icon fa fa-edit btn-primary"></a></span> <a data-toggle="tooltip" data-placement="top" id="deleteReceiver" onclick="deleteReceiver('@item.EncryptId')" title="Delete Receiver?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a> </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <div class="watermark">
        <span>TEST</span>
    </div>
}