﻿@model List<GA.DataTransfer.Classes_for_Web.UnitDetailedSheetModel>

@{ 
    decimal totalCost = Model.Sum(s => s.UnitCount * s.CostPrice);
    decimal totalSales = Model.Sum(s => s.UnitCount * s.SalesPrice);
    decimal margin = totalCost == 0 ? 0 : (((totalSales - totalCost)/ totalCost) *100);
}

<div id="tbDetails">
    <table id="datatable-fixed-header-Details" count="@Model.Count" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Part No</th>
                <th>Description</th>
                <th>Serial No.</th>
                <th>Software Level</th>
                <th>Status</th>
                <th>Date</th>
                <th>Status</th>
                <th>Date</th>
                <th>Status</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PartNumber</td>
                    <td>@item.Description</td>
                    <td>@item.SerialNumber</td>
                    <td>@item.SoftwareLevel</td>
                    <td>@item.RecStatus</td>
                    <td>@item.RecDate.ToString("dd MMMM yyyy")</td>
                    <td>@item.AvailableForSaleStatus</td>
                    <td>@(item.AvailableForSaleDate == null ? "" : item.AvailableForSaleDate.Value.ToString("dd MMMM yyyy"))</td>
                    <td>@item.SoldStatus</td>
                    <td>@(item.SoldDate == null ? "" : item.SoldDate.Value.ToString("dd MMMM yyyy"))</td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div id="tbSummary">
    <table id="datatable-fixed-header-Summary" count="@Model.Count" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Part No</th>
                <th>Descroption</th>
                <th>Status</th>
                <th>Unit Count</th>
                <th>Cost Price</th>
                <th>Extended Cost Price</th>
                <th>Sales Price</th>
                <th>Extended Sales Price</th>
                <th>Gross Margin %</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.PartNumber</td>
                    <td>@item.Description</td>
                    <td>@item.RecStatus</td>
                    <td>@item.UnitCount</td>
                    <td>@item.CostPrice</td>
                    <td>@(item.UnitCount * item.CostPrice)</td>
                    <td>@item.SalesPrice</td>
                    <td>@(item.UnitCount * item.SalesPrice)</td>
                    <td style="text-align:right">@(item.Margin)% </td>
                </tr>
            }
        </tbody>
        <tfoot style="font-weight:bold">
            @if (Model.Count > 0)
            {
                <tr>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td>@Model.Sum(s => s.UnitCount)</td>
                    <td></td>
                    <td>@totalCost</td>
                    <td></td>
                    <td>@totalSales</td>
                    <td style="text-align:right">@(Math.Floor(margin))%</td>
                   
                </tr>
            }
        </tfoot>
    </table>
 
</div>
