﻿@model List<GA.DataTransfer.Classes_for_Web.ResolutionModel>
@using GA.Common;
@using System.Configuration;
<table id="datatable-fixed-header-Resolution" class="table table-striped table-bordered fold-table">
    <thead>
        <tr>
            <th>SNO</th>
            <th>Resolution</th>
            @if (ViewBag.UserType != Enumerations.UserType.InventorySales.ToString())
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SNO</td>
                <td>@item.ResolutionDetail</td>
                @if (ViewBag.UserType != Enumerations.UserType.InventorySales.ToString())
                {
                    <td>
                        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                            <span data-toggle="tooltip" data-placement="top" title="Edit">
                                <a href="javascript:void(0);" onclick='setEditResolution(@Html.Raw(Json.Encode(item)))' data-toggle="modal" data-target=".editResolution-modal" class="hi-icon fa fa-edit btn-primary"></a>
                            </span>
                            <a data-toggle="tooltip" data-placement="top" id="deleteResolution" onclick="deleteResolution('@item.EncryptId')" title="Delete Resolution?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>
                        </div>
                    </td>
                }

            </tr>

        }
    </tbody>
</table>
@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <div class="watermark">
        @*<img src="~/Images/watermark.png" />*@
        <span>TEST</span>
    </div>
}