﻿@model List<GA.DataTransfer.Classes_for_Web.UnitModel>

@{ 

    var count = 1;
}
<table id="datatable-fixed-header-salesUnitList" data-total='@Model.Count()' class="table table-striped table-bordered display">
    <thead>
        <tr>
            <th>SNO</th>
            <th>PO Number</th>
            <th>Part No</th>
            <th>Description</th>
            <th>Serial No.</th>
            <th >Unit Status</th>
           <th style="max-width:25%">RMA Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr id="tr_@item.SerialNumber">
                <td>@(count++)</td>
                <td>@item.PurchaseOrderNumber</td>
                <td><span id="spnPartNumber_@item.SerialNumber">@item.PartNumber</span> </td>
                <td><span id="spnPartNumber_@item.SerialNumber">@item.Description</span></td>
                <td>@item.SerialNumber</td>
                <td>@item.UnitStatus</td>
                <td tyle="max-width:25%">
                    @Html.DropDownList("ddl_"+ item.SerialNumber, new SelectList(ViewBag.DDLRMAStatus, "Value", "Text", item.RMAStatusId), new { @class = "form-control col-md-7 col-xs-12 ddlRMA " + item.OldOrNewUnit })
                </td>
                <td>
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">

                        <span data-toggle="tooltip" data-placement="top" title="Delete">
                            <a data-toggle="tooltip" data-placement="top" id="deleteUnitFromSale" title="Remove from list?" class="hi-icon fa fa-trash btn-danger" onclick="deleteUnitFromSaleList('@item.SerialNumber')" href="javascript:void(0);"></a>
                        </span>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>