﻿@model List<GA.DataTransfer.Classes_for_Web.RMAModel>
 @using GA.Common;
@using System.Configuration;
<table id="datatable-fixed-header-RMA" recordCount="@(Model.Count == 0 ? 0 : Model.Max(m=>m.Id))" class="table table-striped table-bordered fold-table">
    <thead>
        <tr>
            <th>RMA Number</th>
            <th>Date</th>
            <th>Customer Name</th>
            <th>EmailId</th>
            <th>PhoneNo</th>
            <th>Model Number</th>
            <th>S/N</th>
            <th>Discrepency</th>
            <th>Status</th>
            <th>Completed By</th>
            <th>Resolution</th>
            <th>Invoice No.</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                 <td>@item.Id</td>
                <td>@item.CreateDate.ToString("MM/dd/yyyy")</td>
                <td>@item.CustomerName</td>
                <td>@item.EmailId</td>
                <td>@item.PhoneNo</td>
                <td>@item.ModelNo</td>
                <td>@item.SerialNo</td>
                <td>@item.Discrepancy</td>
                <td>@item.Status</td>
                <td>@item.Receiver</td>
                <td>@item.Resolution</td>
                <td>@item.TrackingNo</td>
                <td>
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                        <span data-toggle="tooltip" data-placement="top" title="Edit">
                            <a href="javascript:void(0);" onclick="getRMADetails('@item.tId');" data-placement="top" class="hi-icon fa fa-edit btn-primary"></a>
                        </span>
                        <a data-toggle="modal" data-placement="top" data-target=".history-modal" onclick="GetStatusHistoryByRMAId('@item.tId', '@item.SerialNo', '@item.Id')" title="View Status History" class="hi-icon fa fa-eye btn-primary" href="javascript:void(0);"></a>
                        <a data-toggle="tooltip" data-placement="top" id="deleteCustomer" onclick="deleteRMA('@item.tId')" title="Delete RMA?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <div class="watermark">
        @*<img src="~/Images/watermark.png" />*@
        <span>TEST</span>
    </div>
}