﻿@model List<GA.DataTransfer.Classes_for_Web.UnitModel>
@using GA.Common;
<table id="datatable-fixed-header-unit" count="@Model.Count" class="display">
    <thead>
        <tr>
            <th>SNO</th>
            <th>PO Number</th>
            <th>Part No</th>
            <th>Description</th>
            <th>Serial No.</th>
            <th>Status</th>
            <th>Software Level</th>
            <th>Select Units to sell<input type="checkbox" class="form-control" id="chkEditAll" onchange="chkEditAllOnChange();" style="display:none" /> </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SNO</td>
                <td>@item.PurchaseOrderNumber</td>
                <td>@item.PartNumber</td>
                <td>@item.Description</td>
                <td>@item.SerialNumber</td>
                <td>@item.UnitStatus</td>
                <td>@item.SoftwareLevel</td>
                <td>
                    @if (item.UnitStatus == Enumerations.UnitStatus.AvailableForSale.GetStringValue())
                    {
                        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                            <span data-toggle="tooltip" data-placement="top" title="Add unit to be sold">
                                <a id="a_@item.SerialNumber" data-toggle="tooltip" data-placement="top" title="Add unit to be sold" class="hi-icon fa fa-plus-circle btn-primary" onclick="AddUnitToSalesList('@item.PurchaseOrderNumber','@item.PartNumber','@item.Description','@item.SerialNumber','@item.UnitStatus','@item.SoftwareLevel')" href="javascript:void(0);"></a> &nbsp; <img id="img_@item.SerialNumber" src="~/Images/loading.gif" height="20px" width="20px" style="display:none" />
                            </span>
                            <span id="span_@item.SerialNumber" style="color:green;font-weight:bold;display:none">Added</span>
                            @*<input type="checkbox" class="form-control chkEdit" onchange="cbkChange('@item.UnitId');" id="@item.UnitId" />*@
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="watermark">
    @*<img src="~/Images/watermark.png" />*@
    <span>TEST</span>
</div>