﻿@model List<GA.DataTransfer.Classes_for_Web.UnitModel>

<table id="datatable-fixed-header-salesUnitList" data-total='@Model.Count()' class="table table-striped table-bordered display">
    <thead>
        <tr>
            <th>SNO</th>
            <th>PO Number</th>
            <th>Part No</th>
            <th>Description</th>
            <th>Serial No.</th>
            <th>Status</th>
            <th>Software Level</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
                @foreach (var item in Model)
                {
                   
        <tr id="tr_@item.SerialNumber">
            <td>@item.SNO</td>
            <td>@item.PurchaseOrderNumber</td>
            <td>@item.PartNumber</td>
            <td>@item.Description</td>
            <td>@item.SerialNumber</td>
            <td>@item.UnitStatus</td>
            <td>@item.SoftwareLevel</td>
            <td>
                <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">

                    <span data-toggle="tooltip" data-placement="top" title="Delete">
                        <a data-toggle="tooltip" data-placement="top" id="deleteUnitFromSale" title="Remove from list?" class="hi-icon fa fa-trash btn-danger" onclick="deleteUnitFromSaleList('@item.SerialNumber')" href="javascript:void(0);"></a>
                    </span>
                </div>
            </td>
        </tr>
        }
    </tbody>
</table>



