﻿@model List<GA.DataTransfer.Classes_for_Web.UnitModel>

<table id="datatable-fixed-header-unit" unitCount="@Model.Count "  class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>SNO</th>
            <th>PO Number</th>
            <th>Original P/N</th>
            <th>New P/N</th>
            <th>Description</th>
            <th>Serial No.</th>
            <th>Status</th>
            <th>Invoice Number</th>
            <th>Invoice Date</th>
            <th>Software Level</th>
            <th>Board Serial Number</th>
            <th><input type="checkbox" class="form-control" id="chkEditAll" onchange="chkEditAllOnChange();" style="display:none" /> Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SNO</td>
                <td>@item.PurchaseOrderNumber</td>
                <td>@item.PartNumber</td>
                <td>@item.NewPartNumberAssigned</td>
                <td>@item.Description</td>
                <td>@(item.SerialNumber == 0 ? "" : (Convert.ToString(item.SerialNumber) ?? "")) </td>
                <td>@item.UnitStatus</td>
                <td>@item.InvoiceNumber</td>
                <td>@(string.IsNullOrEmpty(item.InvoiceNumber) ? "" : String.Format("{0:dd MMM yyyy}", item.InvoiceDate))</td>
                <td>@item.SoftwareLevel</td>
                <td>@item.BoardSerialNumber</td>
                <td>
                  
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                        <input type="checkbox" class="form-control chkEdit" id="@item.UnitId" style="display:none" />
                        <span data-toggle="tooltip" data-placement="top" title="Edit">
                            <a href="javascript:void(0);" onclick="getUnitById('@item.UnitId')" class="hi-icon fa fa-edit btn-primary ancEdit"></a>
                        </span>
                        <a data-toggle="tooltip" data-placement="top" id="deleteMedCertClass" title="Delete MedCertClass?" onclick="deleteUnit('@item.UnitId')" class="hi-icon fa fa-trash btn-danger ancDelete" href="javascript:void(0);"></a>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>


