﻿@model List<GA.DataTransfer.Classes_for_Web.VendorModel>
@using System.Configuration;
<style>
    #datatable-fixed-header-table tbody tr td {
        word-break: break-all;
    }
</style>

<table id="datatable-fixed-header-table" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>SNO</th>
            <th>Vendor Name</th>
            <th>ContactName</th>
            <th>PhoneNumber</th>
            <th>Email</th>
            <th>Website</th>
            <th>Comments</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SNO</td>
                <td>@item.Name</td>
                <td>@item.ContactName @item.ContactLastName</td>
                <td>@item.PhoneNumber</td>
                <td> <a data-toggle="tooltip" data-placement="top" style="color:blue" href="mailto:@item.Email" target="_top">@item.Email</a></td>
                <td>
                    <a data-toggle="tooltip" data-placement="top" style="color:blue" id="deleteVendor" href="@item.WebUrlPrefix@item.Website" target="_blank">
                        @if (!string.IsNullOrEmpty(item.Website))
                        {
                            @item.WebUrlPrefix@item.Website
                        }
                    </a>
                </td>
                <td>@item.Comments</td>
                <td>
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> <span data-toggle="tooltip" data-placement="top" title="Edit"><a href="javascript:void(0);" onclick="setEditVendor(@Html.Raw(Json.Encode(item)).ToString())" data-toggle="modal" data-target=".editVendor-modal" class="hi-icon fa fa-edit btn-primary"></a></span> <a data-toggle="tooltip" data-placement="top" id="deleteVendor" onclick="deleteVendor('@item.EncryptId')" title="Delete Vendor?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>

                </td>
            </tr>
        }
    </tbody>
</table>
@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <div class="watermark">
        <span>TEST</span>
    </div>
}