﻿@model GA.DataTransfer.Classes_for_Web.RMAModel
@using GA.Common;
@using System.Configuration;
@{
    ViewBag.Title = "Sales";
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;
}


@Scripts.Render("~/bundles/Inventory")
<link href="~/Content/jquery-ui.css" rel="stylesheet" />


<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/datepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.mask.js"></script>
<script src="~/js/Inventory.js"></script>
<script src="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"></script>

<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>


<style>
    * {
        box-sizing: border-box;
    }


    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
    }



    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete-items div:hover {
                /*when hovering an item:*/
                background-color: #e9e9e9;
            }

    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>
<script type="text/javascript">
    var table;
    var tableSales;
    var arrId = [];
    var totalSerialNoInserted = 0;
    var currtxtId = 101;
    var arrCustomers = [];
    var RMAStatusList;
    $(document).ready(function () {

        $("#spnRMANoHeader").text(@ViewBag.NextRMANo);
        if (@Model.UnitModelList.Count >0)
        {
            $("#datatable-fixed-header-salesUnitList tbody tr").each(function () {
                arrId.push(this.id.replace("tr_", ""));
            });
        }
        RMAStatusList = @Html.Raw(ViewBag.RMAStatusList);

        $('#liInventory').addClass('current-page');
        $('#liInventoryHead').addClass('active');
        //table = $('#datatable-fixed-header-unit').dataTable();
        tableSales = $('#datatable-fixed-header-salesUnitList').dataTable({
            "scrollY": "200px",
            "scrollCollapse": true,
            "paging": false
        });

      


        $('#btnSearch').bind('click', function () {
            $('#myLoadingElement').show();
            $.post("/IMounts/Inventory/GetUnitsForSale", {
                key: 'PartNumber',
                value: $("#ddlPartNumber").val(),
            }, function (unitList) {
                $('#divUnitList').html(unitList);
                $('#divUnitList').show();
                table = $('#datatable-fixed-header-unit').DataTable({
                    "scrollY": "200px",
                    "scrollCollapse": true,
                    "paging": false
                });

                jQuery.each(arrId, function (i, val) {
                    console.log("Id = " + val);
                    if ($('[id="a_' + val + '"]').length == 1) {
                        $('[id="a_' + val + '"]').hide();
                        $('[id="img_' + val + '"]').hide();
                        $('[id="span_' + val + '"]').show();
                    }
                });
                $('#myLoadingElement').hide();
            });
        });

        $('.chkEdit').change(function () {
            if ($(this).attr("checked")) {
            }
            else {
            }
        });



        $('#btnSales').bind('click', function () {
            if (validate()) {
                $.post("/IMounts/Inventory/SaleUnit", {
                    id: $("#hdnUnitId").val(),
                    invoiceNo: $("#txtInvoiceNo").val(),
                    invoiceDate: $("#txtInvoiceDate").val(),
                }, function (data) {
                    $('#divUnitList').html(unitList);
                    table = $('#datatable-fixed-header-unit').dataTable();
                    $('#myLoadingElement').hide();
                });
            }
        });

        $("#btnAddUpdateRMA").bind('click', function () {
            if (validateRMA()) {
                $('#myLoadingElement').show();
                var obj, objNewSerialNumber;
                var objList = [];
                var newSerialNumberList = [];
                //jQuery.each(arrId, function (i, val) {
                //    obj = { Text: val , Value: $("#ddl_" + val).val() };
                //    objList.push(obj);
                //});


                $('select.OldSerialNo').each(function () {
                    var id = $(this).attr('id').replace("ddl_", "");
                    obj = { Text: id, Value: $(this).val() };
                    objList.push(obj);
                });
                $('select.NewSerialNo').each(function () {
                    var id = $(this).attr('id').replace("ddl_", "");
                    objNewSerialNumber = { PartNumber: $("#spnPartNumber_" + id).text(), Description: $("#spnDescription_" + id).text(), SerialNumber: id, RMAStatusId: $(this).val() };
                    newSerialNumberList.push(objNewSerialNumber);
                });


              var custId =  $('#hdnCustomerId').val();
              var discrepancyId = $('#ddlDiscrepancy').val();
              var receiverId = $('#ddlReceiver').val();
              var resolutionId = $('#ddlResolution').val();
              var trackingNo = $('#txtTrackingNo').val();
              var rmaId = $('#hdnRmaId').val();
              var comments = $('#txtComments').val();
              objList = JSON.stringify({ 'objList': objList, 'customerId': custId, 'discrepancyId': discrepancyId, 'receiverId': receiverId, 'resolutionId': resolutionId, 'trackingNo': trackingNo, 'rmaId': rmaId, 'newSerialNumberList': newSerialNumberList, 'comments': comments  });


                $.ajax({
                    contentType: 'application/json; charset=utf-8',
                    dataType: 'json',
                    type: 'POST',
                    url: '/IMounts/Inventory/SetRMA',
                    data: objList,
                    success: function (data) {
                        if (data.response.ResponseCode == "0") {
                            $('#myLoadingElement').hide();
                            bootbox.alert(data.response.ResponseMessage, function () {
                                window.location.href = '/IMounts/Inventory/RMA';
                            });
                        }
                    },
                    failure: function (response) {
                        $('#myLoadingElement').hide();
                        bootbox.alert("Error occurs while adding RMA record", function () {

                        });
                    }
                });

                //$.post("/Inventory/SaleMultipleUnits", {
                //    serialNos: JSON.stringify(arrId),
                //    invoiceNo: $("#txtInvoiceNumber").val(),
                //    invoiceDate: $("#txtInvoice_Date").val(),
                //    customerId: $("#ddlCustomer").val(),
                //    customerName :  $("#txtCustomerName").val(),
                //    emailId: email
                //}, function (data) {
                //    if (data.ResponseCode == "0") {
                //        arrId = [];
                //        $('#myLoadingElement').hide();
                //        bootbox.alert("Invoice Created Successfully.", function () {
                //            window.location.href = '/Inventory/Invoice';
                //        });
                //    }
                //    else {
                //        $('#myLoadingElement').hide();
                //        bootbox.alert(data.ResponseMessage, function () {
                //        });
                //    }
                //});
            }
        });

        $("#btnCancel").bind('click', function () {

            window.location.href = '/IMounts/Inventory/RMA';
            $('#snpErrtxtCustomerName').hide();
            $('#snpErrInvoice_Date').hide();
            $('#snpErrInvoiceNumber').hide();
            $('#txtInvoiceNumber').val('');
            $('#txtInvoice_Date').val('');

            arrId = [];
            tableSales.clear().draw();
            
            $('#datatable-fixed-header-salesUnitList').attr('data-total', 0);
        });

        $("#txtSearch").keyup(function (event) {
            if (event.keyCode === 13) {
                getUnitById();
            }
        });


        $("#txtSearchInvoice").keyup(function (event) {
            if (event.keyCode === 13) {
                getUnitByInvoiceId();
            }
        });

        $(".NumOnly").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                return false;
            }
        });

        $('.NumOnly').bind('copy paste cut', function (e) {
            e.preventDefault(); //disable cut,copy,paste
        });


        $('#btnCloseMultipleUnits').bind('click', function () {
            $(".multipleSerialNo").val('');
            totalSerialNoInserted = 0;
            currtxtId = 101;
            $("#spnQty").hide();
            $("#spnStartSerialNo").hide();
            $("txtQty").val('');
            $("txtStartSerialNo").val('');
        });

        $('#btnReset').bind('click', function () {
            $(".multipleSerialNo").val('');
            $("#spnQty").hide();
            $("#spnStartSerialNo").hide();
            totalSerialNoInserted = 0;
            currtxtId = 101;
            $("txtQty").val('');
            $("txtStartSerialNo").val('');
        });

       

        $('#btnAddToBelow').bind('click', function () {
            var isValid = true;
            if ($("#txtQty").val() == '') {

                $("#spnQty").text('Required');
                $("#spnQty").show();
                isValid = false;
            }
            else {
                $("#spnQty").hide();
                if (totalSerialNoInserted == 50) {
                    $("#spnQty").show();
                    $("#spnQty").text('Cannot add more then 50 S/N.');
                    isValid = false;
                }
                else {

                    if (parseInt($("#txtQty").val()) > 50) {
                        $("#spnQty").show();
                        $("#spnQty").text('Quantity cannot be greater that 50.');
                        isValid = false;
                    }
                    else {
                        $("#spnQty").hide();
                        if (totalSerialNoInserted + parseInt($("#txtQty").val()) > 50) {
                            $("#spnQty").show();
                            $("#spnQty").text('Only ' + (50 - totalSerialNoInserted) + ' S/N can be inserted now.');
                            isValid = false;
                        }
                    }
                }
            }
            if ($("#txtStartSerialNo").val() == '') {
                $("#spnStartSerialNo").show();
                isValid = false;
            }
            else {
                $("#spnStartSerialNo").hide();
            }



            var qty = parseInt($("#txtQty").val());
            var serialNo = parseInt($("#txtStartSerialNo").val());
            var sno = currtxtId;
            if (isValid) {
                for (var i = sno; i < qty + sno; i++) {
                    $("#txt" + currtxtId).val(serialNo);
                    serialNo = serialNo + 1;
                    currtxtId = currtxtId + 1;
                }
                totalSerialNoInserted = totalSerialNoInserted + qty;
                $("#txtStartSerialNo").val('');
                $("#txtQty").val('');
            }


        });

    

        $('#btnAddMultipleUnits').bind('click', function () {

            var arrMultipleUnits = [];
            $(".multipleSerialNo").each(function () {
                if ($(this).val() != '') {
                    arrMultipleUnits.push(parseInt($(this).val()));
                }
            });
            if (arrMultipleUnits.length != 0) {
                $('#myLoadingElement').show();
                var result = $(arrMultipleUnits).not(arrId);

                //arrMultipleUnits =   ($(arrMultipleUnits).not(arrId)).get();
                var frmdata = new FormData();
                frmdata.append("SerialNoList", JSON.stringify(result.get()));
                $.ajax({
                    url: '@Url.Action("/GetMultipleUnitsBySerialNo")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: frmdata,
                    success: function (data) {
                        if (data.response.ResponseCode == "0") {

                            tableSales = $('#datatable-fixed-header-salesUnitList').DataTable({
                                destroy: true,
                                paging: false,
                                "scrollY": "200px",
                                "scrollCollapse": true,
                            });
                            $.each(data.unitList, function (key, val) {
                                var serialNo = val.SerialNumber;
                                arrId.push(serialNo);
                               
                                var salesUnitCount = parseInt($('#datatable-fixed-header-salesUnitList').attr('data-total')) + 1;
                                var action = '<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><span data-toggle="tooltip" data-placement="top" title="Delete"><a data-toggle="tooltip" data-placement="top" id="deleteUnitFromSale" title="Remove from list?" class="hi-icon fa fa-trash btn-danger" onclick="deleteUnitFromSaleList(\'' + serialNo + '\')" href="javascript:void(0);"></a></span></div>';


                                tableSales.row.add([
                                    salesUnitCount,
                                    val.PurchaseOrderNumber,
                                    val.PartNumber,
                                    val.Description,
                                    serialNo,
                                    val.UnitStatus,
                                    val.SoftwareLevel,
                                    action
                                ]).node().id = 'tr_' + serialNo;
                                tableSales.order([0, 'asc']).draw();

                                $('#datatable-fixed-header-salesUnitList').attr('data-total', salesUnitCount);
                            });
                            $("#btnCloseMultipleUnits").click();
                            $('#myLoadingElement').hide();
                        }
                        else {
                            $('#myLoadingElement').hide();
                            bootbox.alert(data.response.ResponseMessage, function () {
                            });
                        }


                    },
                    error: function (er) {
                    }
                });

            }
            else {
                bootbox.alert('Serial Numbers are required.', function () {
                });
            }
        });

        function boldString(result, querystr) {
            var reg = new RegExp(querystr, 'gi');
            return result.replace(reg, function (str) { return '<b>' + str + '</b>' });
        }

        function getCustomer(value) {
            $.post("/IMounts/Inventory/SearchInventoryCustomer", {
                value: value
            }, function (data) {
                return data.invCustomerList;
            });
        }

        function autocomplete(inp, inputId) {
           var arr = [];
            //  inp = document.getElementById("txtPartNo");
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                var id = this.id;
                var thiss = this;
                var actionName = "";
                if (this.value.length >= 2) {
                    if (inputId == "txtSerialNo" || inputId == "txtEditSerialNo") {
                        actionName = "SearchSerialNo";
                    }
                    else {
                        actionName = "SearchInventoryCustomer";
                    }
                    $.post("/IMounts/Inventory/" + actionName, {
                        value: this.value
                    }, function (data) {
                        arr = [];

                        if (actionName == "SearchSerialNo" || actionName == "txtEditSerialNo") {
                            $.each(data.serialNoList, function (idx, obj) {
                                arr.push(obj.SerialNumber + "~" + obj.ModelNo + "~" + obj.Description);
                            });
                        }
                        else {
                            $.each(data.invCustomerList, function (idx, obj) {
                                arr.push(obj.FirstName + "~" + obj.LastName + "~" + obj.CompanyName + "~" + obj.EncryptId + "~" + obj.Email + "~" + obj.PhoneNo + "~" + obj.FirstName + " " + obj.LastName);
                            });
                        }

                        /*close any already open lists of autocompleted values*/
                        closeAllLists();
                        if (!val) { return false; }
                        currentFocus = -1;
                        /*create a DIV element that will contain the items (values):*/
                        a = document.createElement("DIV");
                        a.setAttribute("id", id + "autocomplete-list");
                        a.setAttribute("class", "autocomplete-items");
                        /*append the DIV element as a child of the autocomplete container:*/
                        thiss.parentNode.appendChild(a);

                        var isRecordMatch = true;
                        b = document.createElement("DIV");
                        b.style.cssText = 'float:left;pointer-events: none;';
                        b.className = 'col-sm-12';
                        /*make the matching letters bold:*/
                        if (inputId == 'txtCustomerName' || inputId == 'txtEditCustomerName') {
                            b.innerHTML = '<span class="col-sm-6"><b>Name</b></span><span class="col-sm-5"><b>CompanyName</b></span>';
                        }
                        else {
                            b.innerHTML = '<span class="col-sm-4"><b>Serial No.</b></span><span class="col-sm-7"><b>Model No.</b></span>';
                        }

                        var isDataExist = false;
                        /*for each item in the array...*/
                        for (i = 0; i < arr.length; i++) {
                            /*check if the item starts with the same letters as the text field value:*/
                            if (arr[i].toUpperCase().indexOf(val.toUpperCase()) != -1) {
                                isDataExist = true;
                                if (isRecordMatch) {
                                    a.appendChild(b);
                                    isRecordMatch = false;
                                }

                                //if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                                /*create a DIV element for each matching element:*/
                                b = document.createElement("DIV");
                                b.style.cssText = 'float:left;';
                                b.className = 'col-sm-12';

                                /*make the matching letters bold:*/
                                var formatStr = boldString(arr[i], val);

                                if (inputId == 'txtCustomerName' || inputId == 'txtEditCustomerName') {
                                    b.innerHTML = '<span class="col-sm-6">' + formatStr.split('~')[0] + ' ' + formatStr.split('~')[1] + '</span><span class="col-sm-5">' + formatStr.split('~')[2] + '</span>';
                                }
                                else {
                                    b.innerHTML = '<span class="col-sm-4">' + formatStr.split('~')[0] + '</span><span class="col-sm-7">' + formatStr.split('~')[1] + '</span>';
                                }


                                /*insert a input field that will hold the current array item's value:*/
                                b.innerHTML += '<input type="hidden" value="' + arr[i] + '">';
                                /*execute a function when someone clicks on the item value (DIV element):*/
                                b.addEventListener("click", function (e) {
                                    /*insert the value for the autocomplete text field:*/
                                    // inp.value = this.getElementsByTagName("input")[0].value;
                                    var arrPartAndDesc = this.getElementsByTagName("input")[0].value.split('~');
                                    if (inputId == 'txtSerialNo') {
                                        $('#txtSerialNo').val(arrPartAndDesc[0]);
                                        $('#txtModelNo').val(arrPartAndDesc[1]);
                                        $('#txtPartDescription').val(arrPartAndDesc[2]);

                                        //GetPartDetailsbyPartNo(arrPartAndDesc[0]);
                                    }
                                    else if (inputId == 'txtEditSerialNo') {
                                        $('#txtEditSerialNo').val(arrPartAndDesc[0]);
                                        $('#txtEditModelNo').val(arrPartAndDesc[1]);
                                        $('#txtEditPartDescription').val(arrPartAndDesc[2]);
                                        closeAllLists();
                                    }
                                    else if (inputId == 'txtCustomerName') {
                                        $('#txtCustomerName').val(arrPartAndDesc[0] + ' ' + arrPartAndDesc[1]);
                                        $('#txtRMACompanyName').val(arrPartAndDesc[2]);
                                        $('#hdnCustomerId').val(arrPartAndDesc[3]);
                                        $('#txtRMAEmail').val(arrPartAndDesc[4]);
                                        $('#txtRMAPhone').val(arrPartAndDesc[5])

                                        closeAllLists();
                                    }
                                    else if (inputId == 'txtEditCustomerName') {
                                        $('#txtEditCustomerName').val(arrPartAndDesc[0] + ' ' + arrPartAndDesc[1]);
                                        $('#txtRMAEditCompanyName').val(arrPartAndDesc[2]);
                                        $('#hdnCustomerId').val(arrPartAndDesc[3])
                                        $('#txtRMAEditEmail').val(arrPartAndDesc[4]);
                                        $('#txtRMAEditPhone').val(arrPartAndDesc[5])
                                        closeAllLists();
                                    }
                                });
                                a.appendChild(b);
                            }
                        }
                        if (isDataExist) {
                            $("#btnAddCustomer, #btnEditCustomer").hide();
                        }
                        else {
                            $("#btnAddCustomer, #btnEditCustomer").show();
                        }
                    });
                }



            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
        autocomplete(document.getElementById("txtCustomerName"), "txtCustomerName");

    });

    $(function () {

        $('#txtInvoice_Date').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true,
        });

        $('.datepicker-days').on('click', 'td.day', function (e) {
            e.preventDefault();
            $('#txtInvoice_Date').datepicker('hide');
        });

        $('#txtInvoice_Date').keypress(function (e) {
            return false;
        });
    });

    function AddUnitToSalesList(poNumber, partNo, desc, serialNo, unitStatus, softwareLevel) {

        $('#img_' + serialNo).show();
        setTimeout(
  function () {
      arrId.push(serialNo);
      var salesUnitCount = parseInt($('#datatable-fixed-header-salesUnitList').attr('data-total')) + 1;
      var action = '<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><span data-toggle="tooltip" data-placement="top" title="Delete"><a data-toggle="tooltip" data-placement="top" id="deleteUnitFromSale" title="Remove from list?" class="hi-icon fa fa-trash btn-danger" onclick="deleteUnitFromSaleList(\'' + serialNo + '\')" href="javascript:void(0);"></a></span></div>';
      tableSales = $('#datatable-fixed-header-salesUnitList').DataTable({
          destroy: true,
          paging: false
      });

      tableSales.row.add([
          salesUnitCount,
          poNumber,
          partNo,
          desc,
          serialNo,
          unitStatus,
          softwareLevel,
          action
      ]).node().id = 'tr_' + serialNo;
      tableSales.order([0, 'asc']).draw();

      $('#img_' + serialNo).hide();
      $('#a_' + serialNo).hide();
      $('#span_' + serialNo).show();
      $('#datatable-fixed-header-salesUnitList').attr('data-total', salesUnitCount);
  }, 2000);
    }

    function cbkChange(id) {
        console.log(id);
        if (!$('[id="' + id + '"]').is(":checked")) {
            if ($.inArray(id, arrId) > -1) {
                bootbox.confirm("Are you sure to remove this unit from the list?", function (result) {
                    if (result) {
                        $('[id="tr_' + id + '"]').remove();
                        arrId = jQuery.grep(arrId, function (value) {
                            return value != id;
                        });
                    }
                    else {
                        $('[id="' + id + '"]').prop('checked', true);
                    }
                });
            }
        }
    }

    function validateRMA() {
        var isValid = true;

        if ($('#hdnCustomerId').val() == '') {
            $('#snpErrAddCustomer').show();
            isValid = false;
        }
        else {
            $('#snpErrAddCustomer').hide();
        }

        if ($('#ddlReceiver').val() == '') {
            $('#snpErrAddReceiver').show();
            isValid = false;
        }
        else {
            $('#snpErrAddReceiver').hide();
        }

        
        var isAllDDlValueSelect = true;
        $.each(arrId, function (key, value) {

            if ($("#ddl_" + value).val() == "")
            {
                isAllDDlValueSelect = false;
            }
        });
        if (isAllDDlValueSelect == false)
        {
            isValid = false;
            bootbox.alert('Please select the RMA status for all units', function () {
            });
        }
        return isValid;
    }

    function validate() {
        var isValid = true;

        if ($('#txtInvoiceNo').val() == '') {
            $('#snpErrAddInvoiceNo').show();
            isValid = false;
        }
        else {
            $('#snpErrAddInvoiceNo').hide();
        }

        if ($('#txtInvoiceDate').val() == '') {
            $('#snpErrAddInvoiceDate').show();
            isValid = false;
        }
        else {
            $('#snpErrAddInvoiceDate').hide();
        }
        return isValid;
    }

    function validateNewSerialNumber() {
        var isValid = true;

        if ($('#txtNewPartNumber').val() == '') {
            $('#snpErrAddNewPartNo').show();
            isValid = false;
        }
        else {
            $('#snpErrAddNewPartNo').hide();
        }

        if ($('#txtNewSerialNumber').val() == '') {
            $('#snpErrAddNewSerialNumber').show();
            isValid = false;
        }
        else {
            $('#snpErrAddNewSerialNumber').hide();
        }

        if ($('#ddlNewRMAStatus').val() == '') {
            $('#snpErrAddNewRMAStatus').show();
            isValid = false;
        }
        else {
            $('#snpErrAddNewRMAStatus').hide();
        }

        return isValid;
    }

    function addNewSerialNumber()
    {
        if (validateNewSerialNumber()) {
           
            var serialNo = parseInt($("#txtNewSerialNumber").val());
            arrId.push(serialNo);
           
            var salesUnitCount = parseInt($('#datatable-fixed-header-salesUnitList').attr('data-total')) + 1;
            var action = '<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><span data-toggle="tooltip" data-placement="top" title="Delete"><a data-toggle="tooltip" data-placement="top" id="deleteUnitFromSale" title="Remove from list?" class="hi-icon fa fa-trash btn-danger" onclick="deleteUnitFromSaleList(\'' + serialNo + '\')" href="javascript:void(0);"></a></span></div>';
            var ddlRmaList = AddDDLForRMAStatus((serialNo), "NewSerialNo");
            var partNumber = '<span id="spnPartNumber_' + serialNo + '">' + $("#txtNewPartNumber").val() + '</span>';
            var description = '<span id="spnDescription_' + serialNo + '">' + $("#txtNewDescription").val() + '</span>';

            $('.addNewUnit-modal').modal('toggle');
            tableSales = $('#datatable-fixed-header-salesUnitList').DataTable({
                destroy: true,
                paging: false,
                "scrollY": "200px",
                "scrollCollapse": true,
            });

            tableSales.row.add([
                salesUnitCount,
                "bcvb",
                partNumber,
                description,
                serialNo,
                "",
                ddlRmaList,
                action
            ]).node().id = 'tr_' + serialNo;
           tableSales.order([0, 'asc']).draw();


            $('#datatable-fixed-header-salesUnitList').attr('data-total', salesUnitCount);

            $("#ddl_" + serialNo).val($("#ddlNewRMAStatus").val());
            $('#myLoadingElement').hide();
       
            $("#txtNewPartNumber").val('');
            $("#txtNewDescription").val('');
            $("#txtNewSerialNumber").val('');
            $("#ddlNewRMAStatus").val('');
            $("#snpErrAddNewPartNo").hide();
            $("#snpErrAddNewSerialNumber").hide();
            $("#snpErrAddNewRMAStatus").hide();
           
             
        }
    }

    function AddDDLForRMAStatus(serialNo, serialNostatus) {
        var ddl = "<select class='form-control col-md-7 col-xs-12 ddlRMA "+serialNostatus+"' style='width:100%' id='ddl_" + serialNo + "' name='InvoiceModel.CustomerId'>";
        $.each(RMAStatusList, function (idx, obj) {
            ddl += "<option value='" + obj.Value + "'>" + obj.Text + "</option>";
        });
        ddl += '</select>';
        return ddl;
    }

    function getUnit()
    {
        if ($("#txtSearch").val() != '') {
            getUnitById();
        }
        else if ($("#txtSearchInvoice").val() != '') {
            getUnitByInvoiceId();
        }
        else {
            bootbox.alert('Please enter the serial number or invoice number.', function () {

            });
        }
    }

    function getUnitById() {
        if ($("#txtSearch").val() != '') {
            if ($('#tr_' + $("#txtSearch").val()).length == 0) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Inventory/GetSoldUnitBySerialNo", {
                    serialNo: $("#txtSearch").val(),
                }, function (data) {
                    if (data.unitModel.ResponseCode == '0' || data.unitModel.ResponseCode == '6') {
                        if (data.unitModel.ResponseCode == '6') {
                            $('#myLoadingElement').hide();
                            bootbox.confirm("Serial number " + $("#txtSearch").val() + " does not exist in our record. Do you want to add new serial number for RMA?", function (result) {
                                if (result) {
                                    $("#txtNewSerialNumber").val($("#txtSearch").val());
                                    $(".addNewUnit-modal").modal();
                                }
                            });
                        }
                        else {
                            var serialNo = data.unitModel.SerialNumber;
                            arrId.push(serialNo);
                            
                            var salesUnitCount = parseInt($('#datatable-fixed-header-salesUnitList').attr('data-total')) + 1;
                            var action = '<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><span data-toggle="tooltip" data-placement="top" title="Delete"><a data-toggle="tooltip" data-placement="top" id="deleteUnitFromSale" title="Remove from list?" class="hi-icon fa fa-trash btn-danger" onclick="deleteUnitFromSaleList(\'' + serialNo + '\')" href="javascript:void(0);"></a></span></div>';
                            var ddlRmaList = AddDDLForRMAStatus(serialNo,  "OldSerialNo");
                            tableSales = $('#datatable-fixed-header-salesUnitList').DataTable({
                                destroy: true,
                                paging: false,
                                "scrollY": "200px",
                                "scrollCollapse": true,
                            });

                            tableSales.row.add([
                                salesUnitCount,
                                data.unitModel.PurchaseOrderNumber,
                                data.unitModel.PartNumber,
                                data.unitModel.Description,
                                serialNo,
                                data.unitModel.UnitStatus,
                                ddlRmaList,
                                action
                            ]).node().id = 'tr_' + serialNo;
                            tableSales.order([0, 'asc']).draw();

                            $('#datatable-fixed-header-salesUnitList').attr('data-total', salesUnitCount);

                            $('#myLoadingElement').hide();
                            $("#txtSearch").val('');
                        }
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.unitModel.ResponseMessage, function () {
                            $("#txtSearch").val('');
                            $("#txtSearch").focus();
                        });
                        $("#txtSearch").focus();
                    }
                });
            }
            else {
                bootbox.alert('Unit already exist into the item list.', function () {
                    $("#txtSearch").val('');
                    $("#txtSearch").focus();
                });
            }
            $('#snpErrSearch').hide();
        }
        else {
            $('#snpErrSearch').show();
        }
    }

    function getUnitByInvoiceId() {
        if ($("#txtSearchInvoice").val() != '') {

                $('#myLoadingElement').show();
                $.post("/IMounts/Inventory/GetUnitsByInvoiceNo", {
                    invoiceNo: $("#txtSearchInvoice").val(),
                }, function (data) {
                    if (data.response.ResponseCode == '0') {
                        $('#myLoadingElement').hide();
                        //var serialNo = data.unitModel.SerialNumber;
                        $.each(data.unitModelList, function (key, value) {
                            if (parseInt($("#tr_" + value.SerialNumber).length) == 0) {
                                arrId.push(value.SerialNumber);
                                 
                                var salesUnitCount = parseInt($('#datatable-fixed-header-salesUnitList').attr('data-total')) + 1;
                                var action = '<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><span data-toggle="tooltip" data-placement="top" title="Delete"><a data-toggle="tooltip" data-placement="top" id="deleteUnitFromSale" title="Remove from list?" class="hi-icon fa fa-trash btn-danger" onclick="deleteUnitFromSaleList(\'' + value.SerialNumber + '\')" href="javascript:void(0);"></a></span></div>';
                                var ddlRmaList = AddDDLForRMAStatus(value.SerialNumber, "OldSerialNo");

                                tableSales = $('#datatable-fixed-header-salesUnitList').DataTable({
                                    destroy: true,
                                    paging: false,
                                    "scrollY": "200px",
                                    "scrollCollapse": true,
                                });

                                tableSales.row.add([
                                    salesUnitCount,
                                    value.PurchaseOrderNumber,
                                    value.PartNumber,
                                    value.Description,
                                    value.SerialNumber,
                                    value.UnitStatus,
                                    ddlRmaList,
                                    action
                                ]).node().id = 'tr_' + value.SerialNumber;
                                tableSales.order([0, 'asc']).draw();

                                $('#datatable-fixed-header-salesUnitList').attr('data-total', salesUnitCount);

                                $('#myLoadingElement').hide();
                                $("#txtSearchInvoice").val('');
                            }
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                            $("#txtSearchInvoice").val('');
                            $("#txtSearchInvoice").focus();
                        });
                        $("#txtSearchInvoice").focus();
                    }
                });

            $('#snpErrSearch').hide();
        }
        else {
            $('#snpErrSearch').show();
        }
    }

    function AddUnit() {
        $('#divUnitList').hide();
    }

    function deleteUnitFromSaleList(serialNo) {
        bootbox.confirm("Are you sure to to delete this unit from the list?", function (result) {
            if (result) {
                tableSales = $('#datatable-fixed-header-salesUnitList').DataTable({
                    destroy: true,
                    paging: false,
                    "scrollY": "200px",
                    "scrollCollapse": true,
                });
                tableSales.row('[id="tr_' + serialNo + '"]').remove().draw();
                arrId = jQuery.grep(arrId, function (value) {
                    return value != serialNo;
                });

                if ($("#datatable-fixed-header-salesUnitList tbody tr").length == 0) {

                    $('#snpErrtxtCustomerName').hide();
                    $('#snpErrInvoice_Date').hide();
                    $('#snpErrInvoiceNumber').hide();
                    $('#txtInvoiceNumber').val('');
                    $('#txtInvoice_Date').val('');
                    $('#divSales').hide();
                }
                
                bootbox.alert('Unit successfully removed from list.', function () {
                });
            }
        });
    }
    function funChkChange(chk) {
        if (chk.is(':checked')) {
            $("#txtEmail").prop('disabled', false);
        }
        else {
            $("#txtEmail").prop('disabled', true);
        }
    }

    function redirectToRMA() {
        window.location.href = '/IMounts/Inventory/RMA';
    }

    function resetTextBox() {
        $(".multipleSerialNo").val('');
        $("txtQty").val('');
        $("txtStartSerialNo").val('');
        $("#spnQty").hide();
        $("#spnStartSerialNo").hide();
        totalSerialNoInserted = 0;
        currtxtId = 101;
        $(".multipleSerialNo").each(function () {
            $(this).val('');
        });
    }




</script>

<style>
    .modal-lg {
        width: 60%;
    }
</style>
@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark {
            z-index: 0 !important;
            top: 5%;
        }

            .watermark span {
                -webkit-transform: rotate(228deg);
                -moz-transform: rotate(228deg);
                -o-transform: rotate(228deg);
                writing-mode: tb-rl;
            }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }

        .form-transparent input, .form-transparent select {
            background: transparent;
        }
    </style>
}

    @*<input type="hidden" id="hdnCustomerId" value="" />*@
    @Html.HiddenFor(model => model.CustomerId, new { @id = "hdnCustomerId" })
    @Html.HiddenFor(model => model.tId, new { @id = "hdnRmaId" })
    <input type="hidden" id="hdnUnitId" value="" />
    <div class="col-md-12 col-sm-12 no-padding margintop20">
        <div class="x_panel clearfix">
            @if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
            {
                <div class="watermark">
                    <span>TEST</span>
                </div>
            }

            <button class="btn-rounded btn-primary marginbottom10 pull-left" onclick="redirectToRMA()"><i class="fa fa-arrow-left"></i> Back</button>
            <div class="col-md-12 col-sm-12 no-padding margintop20 form-transparent">
                <div class="col-md-3 no-padding margintop20">
                    &nbsp;
                </div>
                <div class="col-md-6 no-padding margintop20">

                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Customer Name. </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @*<input type="text" name="txtCustomerName" id="txtCustomerName" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">*@
                            @Html.TextBoxFor(model => model.CustomerName, new { @id = "txtCustomerName", @class = "form-control col-md-7 col-xs-12", @tabindex = "2", @size = "20", @value = Model.CustomerName, @autoComplete = "Off" })
                            <span id="snpErrAddCustomer" style="color:red;display:none">Invalid Customer</span>
                        </div>

                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Company Name </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @*<input type="text" name="txtRMACompanyName" id="txtRMACompanyName" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">*@
                            @Html.TextBoxFor(model => model.CompanyName, new { @id = "txtRMACompanyName", @class = "form-control col-md-7 col-xs-12", @tabindex = "2", @size = "20", @value = Model.CompanyName, @autoComplete = "Off" })
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Email </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @*<input type="text" name="txtRMAEmail" id="txtRMAEmail" disabled="disabled" class="form-control col-md-7 col-xs-12" autocomplete="Off">*@
                            @Html.TextBoxFor(model => model.EmailId, new { @id = "txtRMAEmail", @disabled = "disabled", @class = "form-control col-md-7 col-xs-12", @value = Model.EmailId, @autoComplete = "Off" })
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Phone No </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @*<input type="text" name="txtRMAPhone" id="txtRMAPhone" disabled="disabled" class="form-control col-md-7 col-xs-12" autocomplete="Off">*@
                            @Html.TextBoxFor(model => model.PhoneNo, new { @id = "txtRMAPhone", @disabled = "disabled", @class = "form-control col-md-7 col-xs-12", @value = Model.PhoneNo, @autoComplete = "Off" })
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Discrepancy </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(model => model.DiscrepancyId, (IEnumerable<SelectListItem>)ViewBag.DiscrepencyList, new { id = "ddlDiscrepancy", @class = "form-control col-md-7 col-xs-12", tabindex = "5" })
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Employee <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(model => model.ReceiverId, (IEnumerable<SelectListItem>)ViewBag.ReceiverList, new { id = "ddlReceiver", @class = "form-control col-md-7 col-xs-12", tabindex = "6" })
                            <br />
                            <span id="snpErrAddReceiver" style="color:red;display:none">Please select the employee.</span>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Resoultion </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownListFor(model => model.ResolutionId, (IEnumerable<SelectListItem>)ViewBag.ResolutionList, new { id = "ddlResolution", @class = "form-control col-md-7 col-xs-12", tabindex = "6" })
                        </div>
                    </div>

                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Invoice</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @*<input type="text" name="txtTrackingNo" id="txtTrackingNo" tabindex="8" required="required" class="form-control col-md-7 col-xs-12 NumOnly" autocomplete="Off">*@
                            @Html.TextBoxFor(model => model.TrackingNo, new { @id = "txtTrackingNo", @class = "form-control col-md-7 col-xs-12", @value = Model.TrackingNo, @autoComplete = "Off" })
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Comments</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.TextBoxFor(model => model.Comments, new { @id = "txtComments", @class = "form-control col-md-7 col-xs-12", @value = Model.Comments, @autoComplete = "Off" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-3 no-padding margintop20">
                &nbsp;
            </div>
            <div class="col-md-6 no-padding margintop20 form-transparent">
                <div class="form-group clearfix">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for=""><b>Search by</b><span class="required">*</span> </label>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <input type="text" name="txtSearch" id="txtSearch" required="required" class="form-control" placeholder="Search by serial no." autocomplete="Off">
                        <span id="snpErrSearch" style="color:red;display:none">Please enter the unit serial number.</span>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <input type="text" name="txtSearchInvoice" id="txtSearchInvoice" required="required" placeholder="Search by Invoice" class="form-control" autocomplete="Off">
                    </div>


                </div>
            </div>
            <div class="col-md-3 no-padding margintop20">
                <button class="btn-rounded btn-primary marginbottom10 pull-left" onclick="getUnit()" style="margin-left:10px;"><i class="fa fa-plus-circle"></i> Add Unit</button>
                <button class="btn-rounded btn-primary marginbottom10 pull-left" onclick="resetTextBox()" style="margin-left:10px;display:none" data-toggle="modal" data-target=".MultipleUnit-modal"><i class="fa fa-plus-circle"></i> Add Multiple Units</button>
            </div>
            <div class="col-md-12 col-sm-12 no-padding">
                <div id="divSales" style="margin-top:5px;padding-top:5px;">

                    <span align="center" style="font-size:20px"><b>List of RMA Units</b></span>
                    @*<button class="btn-rounded btn-primary marginbottom10 pull-right" onclick="AddUnit();" style="margin-left:10px;" data-toggle="modal" data-target=".SaleUnit-modal"><i class="fa fa-plus-circle"></i> Add Units</button>*@
                    <div id="divSalesUnitList">
                        @Html.Partial("_RMAUnitPartial", Model.UnitModelList)
                    </div>
                </div>
                <div class="col-md-3 no-padding margintop20">
                    &nbsp;
                </div>
                <div class="col-md-6 no-padding margintop20">
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for=""></label>
                        <div class="col-md-8 col-sm-6 col-xs-12" id="divInvoicebtn" >
                            <button type="button" id="btnAddUpdateRMA" class="btn btn-primary ">Save</button>
                            <button type="button" id="btnCancel" class="btn btn-danger">Cancel</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <input type="hidden" id="hdnUnitId" value="" />


    <div id="myModal" class="modal fade addNewUnit-modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                    <h3 class="modal-title" id="myModalLabel2">Add New Serial Number</h3>
                </div>
                <form id="formAddRMA" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="modal-body clearfix">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Part Number</label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input type="text" name="txtNewPartNumber" id="txtNewPartNumber" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrAddNewPartNo" style="color:red;display:none">Part number required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Description</label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input type="text" name="txtNewDescription" id="txtNewDescription" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Serial Number <span class="required">*</span> </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input type="text" name="txtNewSerialNumber" disabled="disabled" id="txtNewSerialNumber" required="required" tabindex="3" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrAddNewSerialNumber" style="color:red;display:none">Serial number is required.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">RMA Status</label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                @Html.DropDownList("ddlNewRMAStatus", new SelectList(ViewBag.DDLRMAStatus, "Value", "Text", ""), new { @class = "form-control col-md-7 col-xs-12 ddlRMA" })
                                <span id="snpErrAddNewRMAStatus" style="color:red;display:none">RMA status required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCancelAddNewSerialNumber" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" id="btnAddNewSerialNumber" onclick="addNewSerialNumber()" tabindex="9" class="btn btn-primary">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>




