﻿@model List<GA.DataTransfer.Classes_for_Web.CustomerModel>
@using GA.Common;
@using System.Configuration;
@{
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;
    ViewBag.Title = "Customer Type";

}


@Scripts.Render("~/bundles/Inventory")

@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark span {
            -webkit-transform: rotate(228deg);
            -moz-transform: rotate(228deg);
            -o-transform: rotate(228deg);
            writing-mode: tb-rl;
        }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }
    </style>
}
<script type="text/javascript">

    function validate() {
        var isValid = true;
        if ($('#txtCustomerName').val() == '') {
            $('#snpErrAddCustomerName').show();
            isValid = false;
        }
        else {
            $('#snpErrAddCustomerName').hide();
        }
        return isValid;
    }

    function reset() {
        $('#txtCustomerName').val('');
        $('#snpErrAddCustomerName').hide();
    }

    function setEditCustomer(obj) {
        $('#hdnCustomerId').val(obj.EncryptId);
        $('#txtEditCustomerName').val(obj.Name);
        $('#snpErrEditCustomerName').hide();

    }

    function deleteCustomer(id) {
        bootbox.confirm("Are you sure to delete the customer type?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Inventory/DeleteCustomerType", {
                    id: id
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $.post("/IMounts/Inventory/GetCustomer", {

                        }, function (customerList) {

                            $('#divCustomerList').html('');
                            $('#divCustomerList').html(customerList);
                            table = $('#datatable-fixed-header-Customer').DataTable({
                                "order": [[0, "desc"]]
                            });
                            $('#myLoadingElement').hide();
                            bootbox.alert('Customer type deleted successfully.', function () {
                            });
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
        });
    }


    function getToken() {

        $('#token').show();

        var data = 'grant_type=password&username=' +$('#username').val() + '&password=' + $('#password1').val();
        $.ajax({
            type: "POST",
            url: $('#api_url').val() + '/token',
            data: 'grant_type=password&username=' + $('#username').val() + '&password=' + $('#password1').val(),
            contentType: "Content-Type:application/x-www-form-urlencoded",
            success: function (data) { $('#token').val(data.access_token); }
        }).fail(function (d) {
            var msg = JSON.stringify(d) + '\n' + u + '\n' + data;
            $('#token').val(msg);
        });

    }
    var table;
    $(document).ready(function () {

        table = $('#datatable-fixed-header-Customer').DataTable({
            "order": [[0, "desc"]]
        });

    $('#btnAddCustomer').bind('click', function () {
        if (validate()) {
            $('#myLoadingElement').show();
            $('#btnCancelAddCustomer').click();
            $('#btnCancelAddCustomer').click();
            $.post("/IMounts/Inventory/AddCustomer", {
                name: $('#txtCustomerName').val()
            }, function (data) {
                if (data.response.ResponseCode == 0) {
                    $.post("/IMounts/Inventory/GetCustomer", {

                    }, function (customerList) {

                        $('#divCustomerList').html('');
                        $('#divCustomerList').html(customerList);
                        table = $('#datatable-fixed-header-Customer').DataTable({
                            "order": [[0, "desc"]]
                        });
                        $('#myLoadingElement').hide();
                        bootbox.alert('Customer type added successfully.', function () {
                            reset();
                        });
                    });
                }
                else {
                    $('#myLoadingElement').hide();
                    bootbox.alert(data.response.ResponseMessage, function () {
                    });
                    $('#txtCustomerName').val('');
                }
            });
        }
        event.preventDefault();
        return false;
    });

    $('#btnEditCustomer').bind('click', function () {
        if ($('#txtEditCustomerName').val() != '') {
            $('#myLoadingElement').show();
            $('#snpErrEditCustomerName').hide();
            $('#btnCancelEditCustomer').click();
            $('#btnCancelEditCustomer').click();
            $.post("/IMounts/Inventory/EditCustomer", {
                customerName: $('#txtEditCustomerName').val(),
                id: $('#hdnCustomerId').val()
            }, function (data) {
                if (data.response.ResponseCode == 0) {
                    $.post("/IMounts/Inventory/GetCustomer", {

                    }, function (customerList) {

                        $('#divCustomerList').html('');
                        $('#divCustomerList').html(customerList);
                        table = $('#datatable-fixed-header-Customer').DataTable({
                            "order": [[0, "desc"]]
                        });
                        $('#myLoadingElement').hide();
                        bootbox.alert('Customer type updated successfully.', function () {
                            $('#txtEditCustomerName').val('');
                        });
                    });
                }
                else {
                    $('#myLoadingElement').hide();
                    bootbox.alert(data.response.ResponseMessage, function () {
                    });
                }
            });
        }
        else {
            $('#myLoadingElement').hide();
            $('#snpErrEditCustomerName').show();
        }
    });
    });
</script>
<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div class="x_content">
            @if (ViewBag.UserType != Enumerations.UserType.InventorySales.ToString())
            {
                <button class="btn-rounded btn-primary marginbottom10 pull-right" data-toggle="modal" onclick="reset();" data-target=".addCustomer-modal"><i class="fa fa-plus-circle"></i> Add</button>
            }
            <div id="divCustomerList">
                @Html.Partial("_CustomerList", Model)
            </div>
        </div>
    </div>
</div>



<div id="myModal" class="modal fade addCustomer-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add Customer</h3>
            </div>
            <form id="formAddVendor" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Customer Name <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtCustomerName" id="txtCustomerName" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAddCustomerName" style="color:red;display:none">Customer name cannot be left blank.</span>
                            <input type="hidden" id="hdnCustomerId" value="" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelAddCustomer" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnAddCustomer" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade editCustomer-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit Customer</h3>
            </div>
            <form id="" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Customer Name <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditCustomerName" id="txtEditCustomerName" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrEditCustomerName" style="color:red;display:none">Customer name cannot be left blank.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelEditCustomer" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnEditCustomer" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>