﻿@model List<GA.DataTransfer.Classes_for_Web.DiscrepancyModel>
@using GA.Common;
@using System.Configuration;
@{
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;
    ViewBag.Title = "Discrepancy";

}

@Scripts.Render("~/bundles/Inventory")

@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark span {
            -webkit-transform: rotate(228deg);
            -moz-transform: rotate(228deg);
            -o-transform: rotate(228deg);
            writing-mode: tb-rl;
        }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }
    </style>
}

<script type="text/javascript">

    function validate() {
        var isValid = true;
        if ($('#txtDiscrepancy').val() == '') {
            $('#snpErrAddDiscrepancy').show();
            isValid = false;
        }
        else {
            $('#snpErrAddDiscrepancy').hide();
        }
        return isValid;
    }

    function reset() {
        $('#txtDiscrepancy').val('');
        $('#snpErrAddDiscrepancy').hide();
    }

    function setEditDiscrepancy(obj) {
        $('#hdnDiscrepancyId').val(obj.EncryptId);
        $('#txtEditDiscrepancy').val(obj.DiscrepancyDetail);
        $('#snpErrEditDiscrepancy').hide();

    }

    function deleteDiscrepancy(id) {
        bootbox.confirm("Are you sure to delete the Discrepancy?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Inventory/DeleteDiscrepancy", {
                    id: id
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $.post("/IMounts/Inventory/GetDiscrepancy", {

                        }, function (discrepancyList) {

                            $('#divDiscrepancyList').html('');
                            $('#divDiscrepancyList').html(discrepancyList);
                            table = $('#datatable-fixed-header-Discrepancy').DataTable({
                                "order": [[0, "desc"]]
                            });
                            $('#myLoadingElement').hide();
                            bootbox.alert('Record deleted successfully.', function () {
                            });
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
        });
    }

 
    var table;
    $(document).ready(function () {

        table = $('#datatable-fixed-header-Discrepancy').DataTable({
            "order": [[0, "desc"]]
        });

        $('#btnAddDiscrepancy').bind('click', function () {
        if (validate()) {
            $('#myLoadingElement').show();
            $('#btnCancelAddDiscrepancy').click();
            $('#btnCancelAddDiscrepancy').click();
            $.post("/IMounts/Inventory/AddDiscrepancy", {
                name: $('#txtDiscrepancy').val()
            }, function (data) {
                if (data.response.ResponseCode == 0) {
                    $.post("/IMounts/Inventory/GetDiscrepancy", {

                    }, function (discrepancyList) {

                        $('#divDiscrepancyList').html('');
                        $('#divDiscrepancyList').html(discrepancyList);
                        table = $('#datatable-fixed-header-Discrepancy').DataTable({
                            "order": [[0, "desc"]]
                        });
                        $('#myLoadingElement').hide();
                        bootbox.alert('Record added successfully.', function () {
                            reset();
                        });
                    });
                }
                else {
                    $('#myLoadingElement').hide();
                    bootbox.alert(data.response.ResponseMessage, function () {
                    });
                    $('#txtDiscrepancy').val('');
                }
            });
        }
        event.preventDefault();
        return false;
    });

        $('#btnEditDiscrepancy').bind('click', function () {
            if ($('#txtEditDiscrepancy').val() != '') {
            $('#myLoadingElement').show();
            $('#snpErrEditDiscrepancy').hide();
            $('#btnCancelEditDiscrepancy').click();
            $('#btnCancelEditDiscrepancy').click();
                $.post("/IMounts/Inventory/EditDiscrepancy", {
                discrepancyDetail: $('#txtEditDiscrepancy').val(),
                id: $('#hdnDiscrepancyId').val()
            }, function (data) {
                if (data.response.ResponseCode == 0) {
                    $.post("/IMounts/Inventory/GetDiscrepancy", {

                    }, function (discrepancyList) {

                        $('#divDiscrepancyList').html('');
                        $('#divDiscrepancyList').html(discrepancyList);
                        table = $('#datatable-fixed-header-Discrepancy').DataTable({
                            "order": [[0, "desc"]]
                        });
                        $('#myLoadingElement').hide();
                        bootbox.alert('Record updated successfully.', function () {
                            $('#txtEditDiscrepancy').val('');
                        });
                    });
                }
                else {
                    $('#myLoadingElement').hide();
                    bootbox.alert(data.response.ResponseMessage, function () {
                    });
                }
            });
        }
        else {
            $('#myLoadingElement').hide();
            $('#snpErrEditDiscrepancy').show();
        }
    });
    });
</script>
<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div class="x_content">
            @if (ViewBag.UserType != Enumerations.UserType.InventorySales.ToString())
            {
                <button class="btn-rounded btn-primary marginbottom10 pull-right" data-toggle="modal" onclick="reset();" data-target=".addDiscrepancy-modal"><i class="fa fa-plus-circle"></i> Add</button>
            }
            <div id="divDiscrepancyList">
                @Html.Partial("_DiscrepancyList", Model)
            </div>
        </div>
    </div>
</div>



<div id="myModal" class="modal fade addDiscrepancy-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add Discrepancy</h3>
            </div>
            <form id="formAddVendor" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Discrepancy <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtDiscrepancy" id="txtDiscrepancy" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAddDiscrepancy" style="color:red;display:none">Discrepancy cannot be left blank.</span>
                            <input type="hidden" id="hdnDiscrepancyId" value="" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelAddDiscrepancy" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnAddDiscrepancy" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade editDiscrepancy-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit Discrepancy</h3>
            </div>
            <form id="" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Discrepancy <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditDiscrepancy" id="txtEditDiscrepancy" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrEditDiscrepancy" style="color:red;display:none">Discrepancy cannot be left blank.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelEditDiscrepancy" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnEditDiscrepancy" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

 
