﻿@model GA.DataTransfer.Classes_for_Web.InvoiceDetailsModel
@using GA.Common;
@using System.Configuration;
@{
    ViewBag.Title = "Sales";
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;
}

@Scripts.Render("~/bundles/Inventory")
@*<script src="~/js/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/bootbox.js"></script>*@

<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/datepicker.css" rel="stylesheet" />
<script src="~/Scripts/jquery.mask.js"></script>
<script src="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css"></script>

<script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<style>
    * {
        box-sizing: border-box;
    }


    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
    }



    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete-items div:hover {
                /*when hovering an item:*/
                background-color: #e9e9e9;
            }

    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>
<script type="text/javascript">
    var table;
    var tableSales;
    var arrId = [];
    var arrCustomers = [];
    $(document).ready(function () {
        var serialNoList = @Html.Raw(ViewBag.SerialNoList);
        $.each(serialNoList, function(idx, obj){
            arrId.push(obj);
        });

        $('#liInventory').addClass('current-page');
        $('#liInventoryHead').addClass('active');
        //table = $('#datatable-fixed-header-unit').dataTable();
        tableSales = $('#datatable-fixed-header-salesUnitList').DataTable({
            paging: false,
        });

        $('#btnSearch').bind('click', function () {
            $('#myLoadingElement').show();
            $.post("/IMounts/Inventory/GetUnitsForSale", {
                key: 'PartNumber',
                value: $("#ddlPartNumber").val(),
            }, function (unitList) {
                $('#divUnitList').html(unitList);
                $('#divUnitList').show();
                table = $('#datatable-fixed-header-unit').DataTable({
                    "scrollY": "200px",
                    "scrollCollapse": true,
                    "paging": false
                });

                jQuery.each(arrId, function (i, val) {
                    console.log("Id = " + val);
                    if ($('[id="a_' + val + '"]').length == 1) {
                        $('[id="a_' + val + '"]').hide();
                        $('[id="img_' + val + '"]').hide();
                        $('[id="span_' + val + '"]').show();
                    }
                });
                $('#myLoadingElement').hide();
            });
        });

        $('.chkEdit').change(function () {
            if ($(this).attr("checked")) {
            }
            else {
            }
        });



        $('#btnSales').bind('click', function () {
            if (validate()) {
                $.post("/IMounts/Inventory/SaleUnit", {
                    id: $("#hdnUnitId").val(),
                    invoiceNo: $("#txtInvoiceNo").val(),
                    invoiceDate: $("#txtInvoiceDate").val(),
                }, function (data) {
                    $('#divUnitList').html(unitList);
                    table = $('#datatable-fixed-header-unit').dataTable();
                    $('#myLoadingElement').hide();
                });
            }
        });

        $("#btnUpdateInvoice").bind('click', function () {
            if (validateInvoice()) {
                $('#myLoadingElement').show();
                var email = '';
                if ($('[id="chkSendEmail"]').is(":checked")) {
                    email = $('#txtEmail').val();
                }
                $.post("/IMounts/Inventory/UpdateInvoice", {
                    serialNos: JSON.stringify(arrId),
                    invoiceNo: $("#txtInvoiceNumber").val(),
                    invoiceDate: $("#txtInvoice_Date").val(),
                    customerId: $("#ddlCustomer").val(),
                    emailId: email,
                    InvoiceId : $("#hdnInvoiceId").val(),
                    CustomerName :$("#txtCustomerName").val()
                }, function (data) {
                    if (data.ResponseCode == "0") {
                        arrId = [];
                        $('#myLoadingElement').hide();
                        bootbox.alert("Invoice updated Successfully.", function () {
                            window.location.href = '/IMounts/Inventory/Invoice';
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.ResponseMessage, function () {
                        });
                    }
                });
            }
        });

        $("#btnCancel").bind('click', function () {

            $('#snpErrtxtCustomerName').hide();
            $('#snpErrInvoice_Date').hide();
            $('#snpErrInvoiceNumber').hide();
            $('#txtInvoiceNumber').val('');
            $('#txtInvoice_Date').val('');

            arrId = [];
            tableSales.clear().draw();
            $('#divInvoicebtn').hide();
            $('#datatable-fixed-header-salesUnitList').attr('data-total', 0);
        });

        $("#txtSearch").keyup(function (event) {
            if (event.keyCode === 13) {
                getUnitById();
            }
        });

        $(".NumOnly").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                return false;
            }
        });

        $('.NumOnly').bind('copy paste cut', function (e) {
            e.preventDefault(); //disable cut,copy,paste
        });





        $('#btnAddMultipleUnits').bind('click', function () {

            var arrMultipleUnits = [];
            $(".multipleSerialNo").each(function () {
                if ($(this).val() != '')
                {
                    arrMultipleUnits.push( parseInt($(this).val()));
                }
            });
            if (arrMultipleUnits.length != 0) {
                $('#myLoadingElement').show();
                var result = $(arrMultipleUnits).not(arrId);

                //arrMultipleUnits =   ($(arrMultipleUnits).not(arrId)).get();
                var frmdata = new FormData();
                frmdata.append("SerialNoList", JSON.stringify(arrMultipleUnits));
                $.ajax({
                    url: '@Url.Action("/GetMultipleUnitsBySerialNo")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: frmdata,
                    success: function (data) {
                        if (data.response.ResponseCode == "0") {
                            tableSales = $('#datatable-fixed-header-salesUnitList').DataTable({
                                destroy: true,
                                paging: false,
                                "scrollY": "200px",
                                "scrollCollapse": true,
                            });
                            $.each(data.unitList, function (key, val) {
                                var serialNo = val.SerialNumber;
                                arrId.push(serialNo);
                                $('#divInvoicebtn').show();
                                var salesUnitCount = parseInt($('#datatable-fixed-header-salesUnitList').attr('data-total')) + 1;
                                var action = '<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><span data-toggle="tooltip" data-placement="top" title="Delete"><a data-toggle="tooltip" data-placement="top" id="deleteUnitFromSale" title="Remove from list?" class="hi-icon fa fa-trash btn-danger" onclick="deleteUnitFromSaleList(\'' + serialNo + '\')" href="javascript:void(0);"></a></span></div>';


                                tableSales.row.add([
                                    salesUnitCount,
                                    val.PurchaseOrderNumber,
                                    val.PartNumber,
                                    val.Description,
                                    serialNo,
                                    val.UnitStatus,
                                    val.SoftwareLevel,
                                    action
                                ]).node().id = 'tr_' + serialNo;
                                tableSales.order([0, 'asc']).draw();

                                $('#datatable-fixed-header-salesUnitList').attr('data-total', salesUnitCount);
                            });
                            $("#btnCloseMultipleUnits").click();
                            $('#myLoadingElement').hide();
                        }
                        else {
                            $('#myLoadingElement').hide();
                            bootbox.alert(data.response.ResponseMessage, function () {
                            });
                        }
                    },
                    error: function (er) {
                    }
                });

            }
            else {
                bootbox.alert('Serial Numbers are required.', function () {
                });
            }
        });

        function boldString(result, querystr) {
            var reg = new RegExp(querystr, 'gi');
            return result.replace(reg, function (str) { return '<b>' + str + '</b>' });
        }

        function autocomplete(inp) {
            arr = [];
            //  inp = document.getElementById("txtPartNo");
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                var id = this.id;
                var thiss = this;
                var actionName = "";
                if (this.value.length >= 2) {

                    actionName = "SearchInventoryCustomer";

                    $.post("/IMounts/Inventory/" + actionName, {
                        value: this.value
                    }, function (data) {
                        arr = [];


                        $.each(data.invCustomerList, function (idx, obj) {
                            arr.push(obj.FirstName + "~" + obj.LastName + "~" + obj.CompanyName + "~" + obj.EncryptId + "~" + obj.Email + "~" + obj.PhoneNo + "~" + obj.FirstName + " " + obj.LastName);
                        });


                        /*close any already open lists of autocompleted values*/
                        closeAllLists();
                        if (!val) { return false; }
                        currentFocus = -1;
                        /*create a DIV element that will contain the items (values):*/
                        a = document.createElement("DIV");
                        a.setAttribute("id", id + "autocomplete-list");
                        a.setAttribute("class", "autocomplete-items");
                        /*append the DIV element as a child of the autocomplete container:*/
                        thiss.parentNode.appendChild(a);

                        var isRecordMatch = true;
                        b = document.createElement("DIV");
                        b.style.cssText = 'float:left;pointer-events: none;';
                        b.className = 'col-sm-12';
                        /*make the matching letters bold:*/

                        b.innerHTML = '<span class="col-sm-6"><b>Name</b></span><span class="col-sm-5"><b>CompanyName</b></span>';


                        var isDataExist = false;
                        /*for each item in the array...*/
                        for (i = 0; i < arr.length; i++) {
                            /*check if the item starts with the same letters as the text field value:*/
                            if (arr[i].toUpperCase().indexOf(val.toUpperCase()) != -1) {
                                isDataExist = true;
                                if (isRecordMatch) {
                                    a.appendChild(b);
                                    isRecordMatch = false;
                                }

                                //if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                                /*create a DIV element for each matching element:*/
                                b = document.createElement("DIV");
                                b.style.cssText = 'float:left;';
                                b.className = 'col-sm-12';

                                /*make the matching letters bold:*/
                                var formatStr = boldString(arr[i], val);

                                b.innerHTML = '<span class="col-sm-6">' + formatStr.split('~')[0] + ' ' + formatStr.split('~')[1] + '</span><span class="col-sm-5">' + formatStr.split('~')[2] + '</span>';



                                /*insert a input field that will hold the current array item's value:*/
                                b.innerHTML += '<input type="hidden" value="' + arr[i] + '">';
                                /*execute a function when someone clicks on the item value (DIV element):*/
                                b.addEventListener("click", function (e) {
                                    /*insert the value for the autocomplete text field:*/
                                    // inp.value = this.getElementsByTagName("input")[0].value;
                                    var arrPartAndDesc = this.getElementsByTagName("input")[0].value.split('~');


                                    $('#txtCustomerName').val(arrPartAndDesc[0] + ' ' + arrPartAndDesc[1]);
                                    $('#txtRMACompanyName').val(arrPartAndDesc[2]);
                                    $('#hdnCustomerId').val(arrPartAndDesc[3]);
                                    $('#txtRMAEmail').val(arrPartAndDesc[4]);
                                    $('#txtRMAPhone').val(arrPartAndDesc[5])

                                    closeAllLists();


                                });
                                a.appendChild(b);
                            }
                        }

                    });
                }



            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
        autocomplete(document.getElementById("txtCustomerName"));

    });

    $(function () {

        $('#txtInvoice_Date').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true,
        });

        $('.datepicker-days').on('click', 'td.day', function (e) {
            e.preventDefault();
            $('#txtInvoice_Date').datepicker('hide');
        });

        $('#txtInvoice_Date').keypress(function (e) {
            return false;
        });


    });

    function AddUnitToSalesList(poNumber, partNo, desc, serialNo, unitStatus, softwareLevel) {

        $('#img_' + serialNo).show();
        setTimeout(
  function () {
      arrId.push(serialNo);
      var salesUnitCount = parseInt($('#datatable-fixed-header-salesUnitList').attr('data-total')) + 1;
      var action = '<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><span data-toggle="tooltip" data-placement="top" title="Delete"><a data-toggle="tooltip" data-placement="top" id="deleteUnitFromSale" title="Remove from list?" class="hi-icon fa fa-trash btn-danger" onclick="deleteUnitFromSaleList(\'' + serialNo + '\')" href="javascript:void(0);"></a></span></div>';
      tableSales = $('#datatable-fixed-header-salesUnitList').DataTable({
          destroy: true,
          paging: false
      });

      tableSales.row.add([
          salesUnitCount,
          poNumber,
          partNo,
          desc,
          serialNo,
          unitStatus,
          softwareLevel,
          action
      ]).node().id = 'tr_' + serialNo;
      tableSales.order([0, 'asc']).draw();

      $('#img_' + serialNo).hide();
      $('#a_' + serialNo).hide();
      $('#span_' + serialNo).show();
      $('#datatable-fixed-header-salesUnitList').attr('data-total', salesUnitCount);
  }, 2000);
    }

    function cbkChange(id) {
        console.log(id);
        if (!$('[id="' + id + '"]').is(":checked")) {
            if ($.inArray(id, arrId) > -1) {
                bootbox.confirm("Are you sure to remove this unit from the list?", function (result) {
                    if (result) {
                        $('[id="tr_' + id + '"]').remove();
                        arrId = jQuery.grep(arrId, function (value) {
                            return value != id;
                        });
                    }
                    else {
                        $('[id="' + id + '"]').prop('checked', true);
                    }
                });
            }
        }
    }

    function validateInvoice() {
        var isValid = true;

        if ($('#txtInvoiceNumber').val() == '') {
            $('#snpErrInvoiceNumber').show();
            isValid = false;
        }
        else {
            $('#snpErrInvoiceNumber').hide();
        }

        var CurrentDate = new Date();

        if ($('#txtInvoice_Date').val() == '') {
            $('#snpErrInvoice_Date').text('Please enter the invoice date');
            $('#snpErrInvoice_Date').show();
            isValid = false;
        }
        else {
            var date = new Date($('#txtInvoice_Date').val());
            if (CurrentDate < date) {
                $('#snpErrInvoice_Date').text('Cannot insert date which is greater that current date');
                $('#snpErrInvoice_Date').show();
                isValid = false;
            }
            else {
                $('#snpErrInvoice_Date').hide();
            }
        }

        if ($('#ddlCustomer').val() == '') {
            $('#snpErrtxtCustomerName').show();
            isValid = false;
        }
        else {
            $('#snpErrtxtCustomerName').hide();
        }

        $('#snpErrEmail').hide();
        if ($('[id="chkSendEmail"]').is(":checked")) {
            if ($('#txtEmail').val() == '') {
                $('#snpErrEmail').show();
                isValid = false;
            }
            else {
                $('#snpErrEmail').hide();
            }
        }


        if (parseInt(arrId.length) == 0) {
            isValid = false;
            bootbox.alert('There is no items added in the invoice.', function () {
            });

        }
        return isValid;
    }

    function validate() {
        var isValid = true;

        if ($('#txtInvoiceNo').val() == '') {
            $('#snpErrAddInvoiceNo').show();
            isValid = false;
        }
        else {
            $('#snpErrAddInvoiceNo').hide();
        }

        if ($('#txtInvoiceDate').val() == '') {
            $('#snpErrAddInvoiceDate').show();
            isValid = false;
        }
        else {
            $('#snpErrAddInvoiceDate').hide();
        }
        return isValid;
    }

    function getUnitById() {
        if ($("#txtSearch").val() != '') {
            if ($('#tr_' + $("#txtSearch").val()).length == 0) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Inventory/GetUnitBySerialNo", {
                    serialNo: $("#txtSearch").val(),
                }, function (data) {
                    if (data.unitModel.ResponseCode == '0') {
                        var serialNo = data.unitModel.SerialNumber;
                        arrId.push(serialNo);
                        $('#divInvoicebtn').show();
                        var salesUnitCount = parseInt($('#datatable-fixed-header-salesUnitList').attr('data-total')) + 1;
                        var action = '<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><span data-toggle="tooltip" data-placement="top" title="Delete"><a data-toggle="tooltip" data-placement="top" id="deleteUnitFromSale" title="Remove from list?" class="hi-icon fa fa-trash btn-danger" onclick="deleteUnitFromSaleList(\'' + serialNo + '\')" href="javascript:void(0);"></a></span></div>';
                        tableSales = $('#datatable-fixed-header-salesUnitList').DataTable({
                            destroy: true,
                            paging: false,
                            "scrollY": "200px",
                            "scrollCollapse": true,
                        });

                        tableSales.row.add([
                            salesUnitCount,
                            data.unitModel.PurchaseOrderNumber,
                            data.unitModel.PartNumber,
                            data.unitModel.Description,
                            serialNo,
                            data.unitModel.UnitStatus,
                            data.unitModel.SoftwareLevel,
                            action
                        ]).node().id = 'tr_' + serialNo;
                        tableSales.order([0, 'asc']).draw();

                        $('#datatable-fixed-header-salesUnitList').attr('data-total', salesUnitCount);

                        $('#myLoadingElement').hide();
                        $("#txtSearch").val('');
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.unitModel.ResponseMessage, function () {
                            $("#txtSearch").val('');
                            $("#txtSearch").focus();
                        });
                        $("#txtSearch").focus();
                    }
                });
            }
            else {
                bootbox.alert('Unit already exist into the item list.', function () {
                    $("#txtSearch").val('');
                    $("#txtSearch").focus();
                });
            }
            $('#snpErrSearch').hide();
        }
        else {
            $('#snpErrSearch').show();
        }
    }

    function AddUnit() {
        $('#divUnitList').hide();
    }

    function deleteUnitFromSaleList(serialNo) {
        bootbox.confirm("Are you sure to to delete this unit from the list?", function (result) {
            if (result) {
                //$('[id="tr_' + serialNo + '"]').remove();
                tableSales.row('[id="tr_' + serialNo + '"]').remove().draw();
                arrId = jQuery.grep(arrId, function (value) {
                    return value != serialNo;
                });

                if ($("#datatable-fixed-header-salesUnitList tbody tr").length == 0) {

                    $('#snpErrtxtCustomerName').hide();
                    $('#snpErrInvoice_Date').hide();
                    $('#snpErrInvoiceNumber').hide();
                    $('#txtInvoiceNumber').val('');
                    $('#txtInvoice_Date').val('');
                    $('#divSales').hide();
                }
                if (arrId.length == 0) {
                    $('#divInvoicebtn').hide();
                }
                bootbox.alert('Unit successfully removed from list.', function () {
                });
            }
        });
    }
    function funChkChange(chk) {
        if (chk.is(':checked')) {
            $("#txtEmail").prop('disabled', false);
        }
        else {
            $("#txtEmail").prop('disabled', true);
        }
    }

    function redirectToInvoice() {
        window.location.href = '/Inventory/Invoice';
    }

    function resetTextBox()
    {
        $(".multipleSerialNo").each(function () {
            $(this).val('');
        });
    }

</script>
<style>
    .modal-lg {
        width: 60%;
    }
</style>
@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark {
            z-index: 0 !important;
            top: 5%;
        }

            .watermark span {
                -webkit-transform: rotate(228deg);
                -moz-transform: rotate(228deg);
                -o-transform: rotate(228deg);
                writing-mode: tb-rl;
            }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }

        .form-transparent input, .form-transparent select {
            background: transparent;
        }
    </style>
}
<input type="hidden" id="hdnUnitId" value="" />
<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        @if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
        {
            <div class="watermark">
                <span>TEST</span>
            </div>
        }

        <button class="btn-rounded btn-primary marginbottom10 pull-left" onclick="redirectToInvoice()"><i class="fa fa-arrow-left"></i> Back</button>
        <div class="col-md-12 col-sm-12 no-padding margintop20 form-transparent">
            <div class="col-md-3 no-padding margintop20">
                &nbsp;
            </div>
            <div class="col-md-6 no-padding margintop20">
                <div class="form-group clearfix">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Invoice Number <span class="required">*</span> </label>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <input type="text" name="txtInvoiceNumber" id="txtInvoiceNumber" value="@Model.InvoiceModel.InvoiceNumber" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        <br />
                        <span id="snpErrInvoiceNumber" style="color:red;display:none">Please enter the invoice number.</span>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Invoice Date <span class="required">*</span></label>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <input type="text" name="txtInvoice_Date" id="txtInvoice_Date" value="@Model.InvoiceModel.InvoiceDate.ToString("MM/dd/yyyy")" required="required" placeholder="MM/DD/YYYY" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        <br />
                        <span id="snpErrInvoice_Date" style="color:red;display:none">Please enter the invoice date.</span>
                    </div>
                </div>

                <div class="form-group clearfix">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Customer Type <span class="required">*</span> </label>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        @*@Html.DropDownList("ddlCustomer", (IEnumerable<SelectListItem>)ViewBag.CustomerList, new { id = "ddlCustomer", @class = "form-control col-md-7 col-xs-12" })*@
                        @Html.DropDownListFor(model => Model.InvoiceModel.CustomerId, (IEnumerable<SelectListItem>)ViewBag.CustomerList, new { id = "ddlCustomer", @class = "form-control col-md-7 col-xs-12" })
                        <br />
                        <span id="snpErrtxtCustomerName" style="color:red;display:none">Please enter the customer name.</span>
                    </div>
                </div>
                <div class="form-group clearfix">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Customer Name</label>
                    <div class="col-md-8 col-sm-6 col-xs-12">
                        <input type="text" name="txtCustomerName" id="txtCustomerName" value="@Model.InvoiceModel.CustomerName"  class="form-control col-md-7 col-xs-12" autocomplete="Off">
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" id="hdnInvoiceId" value="@Model.InvoiceModel.InvoiceId" />
        <div class="col-md-3 no-padding margintop20">
            &nbsp;
        </div>
        <div class="col-md-6 no-padding margintop20 form-transparent">
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for=""><b>Search by serial no.</b><span class="required">*</span> </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="text" name="txtSearch" id="txtSearch" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                    <br />
                    <span id="snpErrSearch" style="color:red;display:none">Please enter the unit serial number.</span>
                </div>
            </div>

            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for=""><b>Customer Zip File.</b><span class="required">*</span> </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="col-sm-2">
                        <input type="checkbox" id="chkSendEmail" class="form-control" onclick="funChkChange($(this))" style="height:20px;width:20px" />
                    </div>
                    <div class="col-sm-3">
                        <label class="control-label" for="">Email :</label>
                    </div>
                    <div class="col-sm-7">
                        <input type="text" name="txtEmail" id="txtEmail" disabled="disabled" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        <br />
                        <span id="snpErrEmail" style="color:red;display:none">Please enter the email id.</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 no-padding margintop20">
            <button class="btn-rounded btn-primary marginbottom10 pull-left" onclick="getUnitById()" style="margin-left:10px;"><i class="fa fa-plus-circle"></i> Add Unit</button>
            <button class="btn-rounded btn-primary marginbottom10 pull-left" onclick="resetTextBox()" style="margin-left:10px;" data-toggle="modal" data-target=".MultipleUnit-modal"><i class="fa fa-plus-circle"></i> Add Multiple Units</button>
        </div>
        <div class="col-md-12 col-sm-12 no-padding">
            <div id="divSales" style="margin-top:5px;padding-top:5px;">

                <span align="center" style="font-size:20px"><b>List of Units to be sold</b></span>
                @*<button class="btn-rounded btn-primary marginbottom10 pull-right" onclick="AddUnit();" style="margin-left:10px;" data-toggle="modal" data-target=".SaleUnit-modal"><i class="fa fa-plus-circle"></i> Add Units</button>*@
                <div id="divSalesUnitList">
                    @Html.Partial("_SalesUnitPartial", Model.UnitModelList)
                </div>
            </div>
            <div class="col-md-3 no-padding margintop20">
                &nbsp;
            </div>
            <div class="col-md-6 no-padding margintop20">
                <div class="form-group clearfix">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for=""></label>
                    <div class="col-md-8 col-sm-6 col-xs-12" id="divInvoicebtn"  >
                        <button type="button" id="btnUpdateInvoice" class="btn btn-primary ">Update</button>
                        <button type="button" id="btnCancel" class="btn btn-danger">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>




<div id="AddMultipleUnitModal" class="modal fade MultipleUnit-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add Multiple Units</h3>
            </div>
            <form id="formSalse" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group clearfix">
                        <div class="col-sm-12">
                            <label class="control-label col-sm-1"></label>
                            <label class="control-label col-sm-3" style="text-align:center">S/N</label>
                            <label class="control-label col-sm-1"></label>
                            <label class="control-label col-sm-3" style="text-align:center">S/N</label>
                            <label class="control-label col-sm-1"></label>
                            <label class="control-label col-sm-3" style="text-align:center">S/N</label>
                        </div>
                        @for (var i = 1; i < 11; i++)
                        {
                            <div class="col-sm-12">
                                <label class="control-label col-sm-1">@i</label>
                                <div class="col-sm-3">
                                    <input type="text" tabindex="@(i+100)" class="form-control col-sm-3 multipleSerialNo NumOnly" />
                                </div>
                                <label class="control-label col-sm-1">@(i + 10)</label>
                                <div class="col-sm-3">
                                    <input type="text" tabindex="@(i + 110)" class="form-control col-sm-3 multipleSerialNo NumOnly" />
                                </div>
                                <label class="control-label col-sm-1">@(i + 20)</label>
                                <div class="col-sm-3">
                                    <input type="text" tabindex="@(i + 120)" class="form-control col-sm-3 multipleSerialNo NumOnly" />
                                </div>

                            </div>
                        }
                        <div class="co"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnCloseMultipleUnits" class="btn btn-danger" data-dismiss="modal">Close</button>
                    <button type="button" id="btnAddMultipleUnits" class="btn btn-primary">Add Units</button>
                </div>
            </form>
        </div>
    </div>
</div>