﻿@model GA.DataTransfer.Classes_for_Web.EngineeringDocument
@using System.Configuration;
@using GA.Common;

@{
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;
    ViewBag.Title = "Customer";

}

@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style type="text/css">
        .watermark {
            z-index: 0 !important;
            top: 5%;
        }

            .watermark span {
                -webkit-transform: rotate(228deg);
                -moz-transform: rotate(228deg);
                -o-transform: rotate(228deg);
                writing-mode: tb-rl;
            }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }

        .form-transparent input, .form-transparent select {
            background: transparent;
        }
    </style>
}


<style type="text/css">
    table {
        border: 0 none !important;
    }

        table thead th {
            border-right: 0 none !important;
            border-left: 0 none !important;
        }

        table tfoot th {
            border-right: 0 none !important;
            border-left: 0 none !important;
        }

        table tbody td {
            border-right: 0 none !important;
            border-left: 0 none !important;
        }

      
</style>

@*<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>*@
@Scripts.Render("~/bundles/Inventory")


<link href="~/Content/jqtree.css" rel="stylesheet" />
<script src="~/Scripts/tree.jquery.js"></script>

<script type="text/javascript">
    var arrIds = [];

    function funChkClick(id, t) {
        if (parseInt($("input:checkbox[class=cbk]:checked").length) == 1) {
            $('#trRename').show();
            $('#trMoveFolder').show();
        }
        else if (parseInt($("input:checkbox[class=cbk]:checked").length) >= 1) {
            $('#trRename').hide();
            $('#trMoveFolder').show();
        }
        else {
            $('#trRename').hide();
            $('#trMoveFolder').hide();
        }
        if (t.is(':checked')) {
            arrIds.push(id);
        }
        else {
            arrIds = jQuery.grep(arrIds, function (value) {
                return value != id;
            });
            var id = $(t).attr('id');
            CancelRename(id.replace('chk_', ''));
        }
    }

    function DeleteDocument(id, isFolder) {
        var deleteMessage = 'Are you sure to delete this ' + (isFolder == 'True' ? 'folder ?' : 'file ?')
        bootbox.confirm(deleteMessage, function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Inventory/DeleteFileOrDirectory", {
                    id: id,
                    isFolder: isFolder == 'True' ? true : false
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $.post("/IMounts/Inventory/GetFolderList", {
                            partNo: '@ViewBag.PartNo'
                        }, function (datatree) { 
                            $('#tree1').tree('loadData', jQuery.parseJSON(datatree.response));
                        });

                        $.post("/IMounts/Inventory/GetAllEngineeringDocsById", {
                            engDocId: $('#hdnParentId').val()
                        }, function (docList) {
                            $('#divDocument').html('');
                            $('#divDocument').html(docList);
                            table = $('#datatable-fixed-header-EngDocs').DataTable({
                                "sort": true,
                                "searching": false,
                                "paging": false,
                                "order": [[1, "asc"]]

                            });
                            $('#myLoadingElement').hide();
                            $('#trRename').hide();
                            $('#trMoveFolder').hide();
                            bootbox.alert(data.response.ResponseMessage, function () {
                            });
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }

                });
            }
        });
    }

    function rename() {
        $("input:checkbox[class=cbk]:checked").each(function () {
            var id = $(this).attr('id').replace('chk_', '');
            $('#a_' + id).hide();
            $('#spn_' + id).show();
        });
    }

    function RenameFileOrFolder(imgId, id, docname) {
        if ($('#txtRename_' + imgId).val() == '') {
            bootbox.alert('Name cannot be left blank.', function () {
            });
        }
        else if ($('#txtRename_' + imgId).val() == docname) {
            bootbox.alert('Please insert the different name.', function () {
            });
        }
        else {
            $('#myLoadingElement').show();

            $.post("/IMounts/Inventory/RenameFileOrFolder", {
                id: id,
                name: $('#txtRename_' + imgId).val()
            }, function (data) {
                if (data.response.ResponseCode == 0) {
                    $.post("/IMounts/Inventory/GetFolderList", {
                        partNo: '@ViewBag.PartNo'
                    }, function (datatree) {
                        $('#tree1').tree('loadData', jQuery.parseJSON(datatree.response));
                    });


                    $.post("/IMounts/Inventory/GetAllEngineeringDocsById", {
                        engDocId: $('#hdnParentId').val()
                    }, function (docList) {
                        //$('#a_' + imgId).text($('#txtRename_' + imgId).val());
                        //$('#a_' + imgId).show();
                        //$('#spn_' + imgId).hide();
                        $('#trRename').hide();
                        $('#trMoveFolder').hide();
                        $('#divDocument').html('');
                        $('#divDocument').html(docList);
                        table = $('#datatable-fixed-header-EngDocs').DataTable({
                            "sort": true,
                            "searching": false,
                            "paging": false,
                            "order": [[1, "asc"]]
                        });

                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    });



                }
                else {
                    $('#myLoadingElement').hide();
                    bootbox.alert(data.response.ResponseMessage, function () {
                    });

                }
            });
        }
    }

    function CancelRename(id) {
        $('#txtRename_' + id).val($('#a_' + id).text());
        $('#a_' + id).show();
        $('#spn_' + id).hide();
    }

    function validate() {
        var isValid = true;
        if ($('#txtFolderName').val() == '') {
            $('#snpErrAddFolderName').show();
            isValid = false;
        }
        else {
            $('#snpErrAddFolderName').hide();
        }
        return isValid;
    }

    function reset() {
        $('#txtFolderName').val('');
        $('#snpErrAddFolderName').hide();
    }

    function moveFolder() {
        $('#btnCancelMOveFolder').click();
        $('#myLoadingElement').show();
        $.post("/IMounts/Inventory/MoveFileAndFolder", {
            destinationFolderId: $("#hdnNodeId").val(),
            strArrIds: (arrIds.toString()),
            partNo: '@ViewBag.PartNo'
        }, function (data) {
            if (data.response.ResponseCode == 0) {
                $('#tree1').tree('loadData', jQuery.parseJSON(data.folderList));

                $.post("/IMounts/Inventory/GetAllEngineeringDocsById", {
                    engDocId: $('#hdnParentId').val()
                }, function (docList) {

                    $('#divDocument').html('');
                    $('#divDocument').html(docList);
                    table = $('#datatable-fixed-header-EngDocs').DataTable({
                        "sort": true,
                        "searching": false,
                        "paging": false,
                        "order": [[1, "asc"]]
                    });
                    $('#myLoadingElement').hide();
                    arrIds = [];
                    $('#trRename').hide();
                    $('#trMoveFolder').hide();
                    bootbox.alert(data.response.ResponseMessage, function () {
                    });
                });
            }
            else {
                $('#myLoadingElement').hide();
                bootbox.alert(data.response.ResponseMessage, function () {
                });
            }

        });
    }

    var table;
    $(document).ready(function () {


        getAllEngineeringDocsById
        //  var data = [
        //{
        //    label: 'node1',
        //    id: 1,
        //    children: [
        //        { label: 'child1', id: 2, },
        //        { label: 'child2', id: 3, }
        //    ]
        //},
        //{
        //    label: 'node2',
        //    id: 4,
        //    children: [
        //        { label: 'child3', id: 5 }
        //    ]
        //}
        //  ];

        $.post("/IMounts/Inventory/GetFolderList", {
            partNo: '@ViewBag.PartNo'
        }, function (data) {

            $('#tree1').tree({
                data: jQuery.parseJSON(data.response),
                autoOpen: false,
                //dragAndDrop: true
            });
        });
        $('#tree1').bind(
             'tree.select',
             function (event) {
                 var node = event.node;
                 if (node != null) {
                     $("#btnMoveFolder").attr("disabled", false);
                     $("#hdnNodeId").val(node.id);
                 }
                 else {
                     $("#btnMoveFolder").attr("disabled", true);
                     $("#hdnNodeId").val('');
                 }
             });

        $('.current-page').removeAttr('class').addClass('navwidth');
        $('#liSideMenuPartNo').addClass('current-page');

        table = $('#datatable-fixed-header-EngDocs').DataTable({
            "sort": true,
            "searching": false,
            "paging": false,
            "order": [[1, "asc"]]
        });


        $('#txtFolderName').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                $('#btnAddFolder').trigger('click');

            }
        });

        $('#upload').bind('click', function () {
          
            $("#inputFiles").val(null);
            $('#inputFiles').trigger('click');
        });

        $('#inputFiles').on('change', function () {
            $('#myLoadingElement').show();
            var formData = new FormData();
            var files = $("#inputFiles").get(0).files;
            for (var i = 0; i < files.length; i++) {
                formData.append("files[" + i + "]", files[i]);
            }
            formData.append("ParentId", $('#hdnParentId').val());

            $.ajax({
                url: '@Url.Action("Upload", "Inventory")',
                type: "POST",
                contentType: "application/json, charset=utf-8",
                dataType: "json",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    if (data.response.ResponseCode == 0) {
                        $.post("/IMounts/Inventory/GetAllEngineeringDocsById", {
                            engDocId: $('#hdnParentId').val()
                        }, function (docList) {

                            $('#divDocument').html('');
                            $('#divDocument').html(docList);
                            table = $('#datatable-fixed-header-EngDocs').DataTable({
                                "sort": true,
                                "searching": false,
                                "paging": false,
                                "order": [[1, "asc"]]
                            });
                            $('#myLoadingElement').hide();
                            bootbox.alert(data.response.ResponseMessage, function () {
                            });
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                },
                error: function (er) {
                    bootbox.alert('Error occurs while uploading the file.', function () {
                    });
                }
            });
        });


        $('#btnAddFolder').bind('click', function () {
            if (validate()) {
                $('#myLoadingElement').show();
                $('#btnCancelAddFolder').click();
                $('#btnCancelAddFolder').click();
                $.post("/IMounts/Inventory/AddEngineeringDirectory", {
                    directoryName: $('#txtFolderName').val(),
                    parentId: $('#hdnParentId').val()
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $.post("/Inventory/GetFolderList", {
                            partNo: '@ViewBag.PartNo'
                        }, function (datatree) {
                            $('#tree1').tree('loadData', jQuery.parseJSON(datatree.response));
                        });

                        $.post("/IMounts/Inventory/GetAllEngineeringDocsById", {
                            engDocId: $('#hdnParentId').val()
                        }, function (docList) {

                            $('#divDocument').html('');
                            $('#divDocument').html(docList);
                            table = $('#datatable-fixed-header-EngDocs').DataTable({
                                "sort": true,
                                "searching": false,
                                "paging": false,
                                "order": [[1, "asc"]]
                            });
                            $('#myLoadingElement').hide();
                            bootbox.alert(data.response.ResponseMessage, function () {
                            });
                            $('#txtFolderName').val('');
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                        $('#txtFolderName').val('');
                    }
                });
            }
            event.preventDefault();
            return false;
        });

    });

    function getAllEngineeringDocsById(engDocId) {
        $('#myLoadingElement').show();
        $.post("/IMounts/Inventory/GetAllEngineeringDocsById", {
            engDocId: engDocId
        }, function (EngDocument) {

            $('#divDocument').html('');
            $('#divDocument').html(EngDocument);
            if ($("#divFolderLink a").length > 1) {
                $('#upload').show();
            }
            else {
                $('#upload').hide();
            }
            table = $('#datatable-fixed-header-EngDocs').DataTable({
                "sort": true,
                "searching": false,
                "paging": false,
                "order": [[1, "asc"]]
            });
            $('#myLoadingElement').hide();

        });
    }
</script>
<input type="hidden" id="hdnNodeId" value="" />
<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        @if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
        {
            <div class="watermark">
                <span>TEST</span>
            </div>
        }
        <div class="x_content">
            <div class="col-md-12 col-sm-12" style="text-align:center;color:red">@ViewBag.PartTitle <br />@ViewBag.PartSubTitle</div>
            @Html.ActionLink("Back to Part Number", "PartNo", "Inventory", new { partNo = ViewBag.PartNo }, new { })
            <div id="divDocument">
                @Html.Partial("_EngineeringDocs", Model)
            </div>
            <div class="col-md-2 col-sm-2">
                <table style="margin:auto">
                    <tbody>
                        <tr>
                            <td>
                                <button id="upload" style="display:none" class="btn-rounded btn-primary marginbottom10 pull-right"> Upload Files</button>
                                <input type="file" name="files" multiple style="opacity: 0;overflow: hidden;width:1px;height:1px" id="inputFiles">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <a id="ancNewFolder" href="javascript:void(0);" data-toggle="modal" onclick="reset();" data-target=".addFolder-modal"><i class="fa fa-folder-o" aria-hidden="true"></i> New folder</a>
                            </td>
                        </tr>
                        <tr id="trRename" style="display:none;">
                            <td style="padding-top:15px;">
                                <a href="javascript:void(0);" onclick="rename();"><i class="fa fa-edit" aria-hidden="true"></i> Rename</a>
                            </td>
                        </tr>
                        <tr id="trMoveFolder" style="display:none;">
                            <td style="padding-top:15px;">
                                <a href="javascript:void(0);" data-toggle="modal" data-target=".folderTree-modal"><i class="fa fa-mail-forward" aria-hidden="true"></i> Move</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div id="myModal" class="modal fade addFolder-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add New Folder</h3>
            </div>
            <form id="formAddVendor" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Folder Name <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtFolderName" id="txtFolderName" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAddFolderName" style="color:red;display:none">Folder name cannot be left blank.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelAddFolder" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnAddFolder" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="modalFoldertree" class="modal fade folderTree-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Select the destination directory</h3>
            </div>
            <form id="formAddVendor" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <div id="tree1"></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelMOveFolder" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnMoveFolder" onclick="moveFolder();" disabled class="btn btn-primary">Move</button>
                </div>
            </form>
        </div>
    </div>
</div>