﻿@model List<GA.DataTransfer.Classes_for_Web.PartNumberModel>
@using GA.Common;
@using System.Configuration;
@{
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;
    ViewBag.Title = "PartNo";

}
@Scripts.Render("~/bundles/Inventory")
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/datepicker.css" rel="stylesheet" />

<style>
    * {
        box-sizing: border-box;
    }


    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
    }



    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete-items div:hover {
                /*when hovering an item:*/
                background-color: #e9e9e9;
            }

    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>

<style>
    #datatable-fixed-header-PartNo tbody tr td {
        word-break: break-all;
    }
</style>

@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark {
            z-index: 0;
        }

            .watermark span {
                -webkit-transform: rotate(228deg);
                -moz-transform: rotate(228deg);
                -o-transform: rotate(228deg);
                writing-mode: tb-rl;
            }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }

        .form-transparent input, .form-transparent select {
            background: transparent;
        }
    </style>
}

<script type="text/javascript">
    function validate()
    {
        
        var isValid = true;

        if($("#txtPartNumber").val() == "")
        {
            $('#snpErrPartNumber').show();
            isValid = false;
        }
        else {
            $('#snpErrPartNumber').hide();
        }

        if($("#txtReductionDate").val() == "")
        {
            $('#snpErrReductionDate').show();
            isValid = false;
        }
        else {
            $('#snpErrReductionDate').hide();
        }

        if($("#ddlUsedBy").val() =="")
        {
            $('#snpErrUsedBy').show();
            isValid = false;
        }
        else {
            $('#snpErrUsedBy').hide();
        }

        if($("#txtQuantity").val() =="")
        {
            $('#snpErrQty').show();
            isValid = false;
        }
        else {
            if(parseInt($("#txtQuantity").val())<= 0)
            {
                $('#snpErrQty').show();
                isValid = false;
            }
            else{
                $('#snpErrQty').hide();
            }
            
        }

        return isValid;
    }

    function validateEdit() {
        var isValid = true;

        if ($("#txtEditReductionDate").val() == "") {
            $('#snpErrEditReductionDate').show();
            isValid = false;
        }
        else {
            $('#snpErrEditReductionDate').hide();
        }

        if ($("#ddlEditUsedBy").val() == "") {
            $('#snpErrEditUsedBy').show();
            isValid = false;
        }
        else {
            $('#snpErrEditUsedBy').hide();
        }

        if ($("#txtEditQuantity").val() == "") {
            $('#snpErrEditQty').show();
            isValid = false;
        }
        else {
            if (parseInt($("#txtEditQuantity").val()) <= 0) {
                $('#snpErrEditQty').show();
                isValid = false;
            }
            else {
                $('#snpErrEditQty').hide();
            }
        }
        return isValid;
    }

    function deleteInventoryReduction(id)
    {
        bootbox.confirm("Are you sure to delete this record?", function (result) {
            if (result) {
                $.post("/IMounts/Inventory/DeleteInventoryReduction", {
                    id: id,
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $('#myLoadingElement').hide();
                        bootbox.alert('Record deleted successfully.', function () {
                            $("#datatable-fixed-header-ReductionList").dataTable().fnDraw();
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
        });
    }

    function getInventoryReductionById(id)
    {
        $.post("/IMounts/Inventory/GetInventoryReductionById", {
            id: id,
        }, function (data) {
            if (data.generalResponse.ResponseCode == 0) {
                $('#myLoadingElement').hide();
                $("#txtEditPartNumber").val(data.response.PartNo);
                $("#txtEditReductionDate").val(data.response.UsedOn);
                $('select[id="ddlEditUsedBy"]').val(data.response.UsedById);
                $("#txtEditQuantity").val(data.response.Quantity);
                $("#txtEditComment").val(data.response.Comment);
                $(".editReduction-modal").modal();
                $("#hdnId").val(data.response.encId);
            }
            else {
                $('#myLoadingElement').hide();
                bootbox.alert(data.response.ResponseMessage, function () {
                });
            }
        });
    }

    var arrParts = [];

    $(document).ready(function () {
        var parts = @Html.Raw(ViewBag.PartList);
        $.each(parts, function(idx, obj){

            arrParts.push(obj.PartNumber);
        });

        $('#datatable-fixed-header-ReductionList').DataTable({
            processing: true,
            serverSide: true,
            searchable: true,
             sortable: true,
             "order": [[0, "desc"]],
            ajax: {
                url: '@Url.Action("GetInventoryReductionInChunk")',
                type: 'POST',
                dataSrc: 'data',

            },
            columns: [
                { data: "SNO", name: "SNO" },
                { data: "PartNo", name: "PartNo" },
                { data: "UsedBy", name: "UsedBy" },
                { data: "Quantity", name: "Quantity" },
                { data: "UsedOn", name: "UsedOn" },
                { data: "Comment", name: "Comment" },
                {
                    "render": function (data, type, full) {
                        return '<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="display:flex;">' +
                            '<span data-toggle="tooltip" data-placement="top" title="Edit">' +
                            '<a href="javascript:void(0);" onclick="getInventoryReductionById(\'' + full.encId + '\')" class="hi-icon fa fa-edit btn-primary"></a>' +
                            '</span>' +
                            '<a data-toggle="tooltip" data-placement="top" id="deleteInventoryReduction" title="Delete MedCertClass?" onclick="deleteInventoryReduction(\'' + full.encId + '\')" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>' +
                            '</div>';
                    }
                },
            ]
        });

        $(".NumOnly").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                return false;
            }
        });



        $('#btnUpdateInventoryReduction').bind('click', function () {
            if (validateEdit()) {
                $('#myLoadingElement').show();
                $('#btnCancelUpdateInventoryReduction').click();
                $('#btnCancelUpdateInventoryReduction').click();
                $.post("/IMounts/Inventory/UpdateInventoryReduction", {
                    PartNo: $('#txtEditPartNumber').val(),
                    UsedOn: $('#txtEditReductionDate').val(),
                    UsedById: $('#ddlEditUsedBy').val(),
                    Quantity: $('#txtEditQuantity').val(),
                    Comment: $('#txtEditComment').val(),
                    encId : $("#hdnId").val()
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $('#myLoadingElement').hide();
                        bootbox.alert('Record updated successfully.', function () {
                            $('#txtPartNumber').val('');
                            $('#txtReductionDate').val('');
                            $('#txtQuantity').val('');
                            $('#txtComment').val('');
                            $('select[id="ddlEditUsedBy"]').val('');
                            $("#hdnId").val('');
                            $("#datatable-fixed-header-ReductionList").dataTable().fnDraw();
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {

                        });
                         
                    }
                });
            }
            event.preventDefault();
            return false;
        });

        $('#btnAddInventoryReduction').bind('click', function () {
            if (validate()) {
                $('#myLoadingElement').show();
                $('#btnCancelInventoryReduction').click();
                $('#btnCancelInventoryReduction').click();
                $.post("/Inventory/AddInventoryReduction", {
                    PartNo: $('#txtPartNumber').val(),
                    UsedOn: $('#txtReductionDate').val(),
                    UsedById: $('#ddlUsedBy').val(),
                    Quantity: $('#txtQuantity').val(),
                    Comment: $('#txtComment').val()
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $('#myLoadingElement').hide();
                        bootbox.alert('Record inserted successfully.', function () {
                            $('#txtPartNumber').val('');
                            $('#txtReductionDate').val('');
                            $('#txtQuantity').val('');
                            $('#txtComment').val('');
                            $('#ddlUsedBy').val('');
                            $("#datatable-fixed-header-ReductionList").dataTable().fnDraw();
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {

                        });
                        $('#txtCustomerName').val('');
                    }
                });
            }
            event.preventDefault();
            return false;
        });

        $('.NumOnly').bind('copy paste cut', function (e) {
            e.preventDefault(); //disable cut,copy,paste
        });

        function boldString(result, querystr) {
            var reg = new RegExp(querystr, 'gi');
            return result.replace(reg, function (str) { return '<b>' + str + '</b>' });
        }

        function autocomplete(inp, arr) {
            //  inp = document.getElementById("txtPartNo");
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);

                var isRecordMatch = true;
                b = document.createElement("DIV");
                b.style.cssText = 'float:left;pointer-events: none;';
                b.className = 'col-sm-12';
                /*make the matching letters bold:*/

                b.innerHTML = '<span class="col-sm-11"><b>Master Part</b></span>';


                var isDataExist= false;
                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (arr[i].toUpperCase().indexOf(val.toUpperCase()) != -1) {
                        isDataExist = true;
                        if (isRecordMatch) {
                            a.appendChild(b);
                            isRecordMatch = false;
                        }

                        //if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        b.style.cssText = 'float:left;';
                        b.className = 'col-sm-12';

                        /*make the matching letters bold:*/
                        var formatStr = boldString(arr[i], val);
                        b.innerHTML = '<span class="col-sm-11">' + formatStr + '</span>';

                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            // inp.value = this.getElementsByTagName("input")[0].value;
                            var arrPartAndDesc = this.getElementsByTagName("input")[0].value;
                            $('#txtPartNumber').val(arrPartAndDesc);
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
        autocomplete(document.getElementById("txtPartNumber"), arrParts );

    });

    $(function () {

        $('#txtReductionDate, #txtEditReductionDate').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true,
        });

        $('.datepicker-days').on('click', 'td.day', function (e) {
            e.preventDefault();
            $('#txtReductionDate, #txtEditReductionDate').datepicker('hide');
        });

        $('#txtReductionDate, #txtEditReductionDate').keypress(function (e) {
            return false;
        });
    });

    function reset()
    {

    }
</script>

<input type="hidden" id="hdnId" value="" />
<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div class="x_content">
            <button class="btn-rounded btn-primary marginbottom10 pull-right" data-toggle="modal" onclick="reset();" data-target=".addReduction-modal"><i class="fa fa-plus-circle"></i> Add</button>
            <div id="divList">
                <table id="datatable-fixed-header-ReductionList" class="table table-striped table-bordered fold-table" style="width:100%;">
                    <thead>
                        <tr>
                            <th>SNO</th>
                            <th>PartNumber</th>
                            <th>Used By</th>
                            <th>Quantity</th>
                            <th>Date</th>
                            <th>Comments</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade addReduction-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Inventory Reduction</h3>
            </div>
            <form id="formAddVendor" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Part Number <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtPartNumber" id="txtPartNumber" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrPartNumber" style="color:red;display:none">Please enter the part number.</span>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Reduction Date <span class="required">*</span></label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtReductionDate" id="txtReductionDate" required="required" placeholder="MM/DD/YYYY" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrReductionDate" style="color:red;display:none">Please enter the date.</span>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Used By <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <select id="ddlUsedBy" class="form-control col-md-7 col-xs-12">
                                <option value="">Select </option>
                                <option value="1">Manufacturing Supplies</option>
                                <option value="2">Engineering and Marketing Samples</option>
                            </select>
                            <br />
                            <span id="snpErrUsedBy" style="color:red;display:none">Please select used by option.</span>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Quantity</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtQuantity" id="txtQuantity" class="form-control col-md-7 col-xs-12 NumOnly" autocomplete="Off">
                            <br />
                            <span id="snpErrQty" style="color:red;display:none">Please enter the quantity.</span>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Comment</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtComment" id="txtComment" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelInventoryReduction" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnAddInventoryReduction" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade editReduction-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit Inventory Reduction</h3>
            </div>
            <form id="formAddVendor" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Part Number <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditPartNumber" id="txtEditPartNumber" disabled="disabled" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Reduction Date <span class="required">*</span></label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditReductionDate" id="txtEditReductionDate" required="required" placeholder="MM/DD/YYYY" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrEditReductionDate" style="color:red;display:none">Please enter the date.</span>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Used By <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <select id="ddlEditUsedBy" class="form-control col-md-7 col-xs-12">
                                <option value="">Select </option>
                                <option value="1">Manufacturing Supplies</option>
                                <option value="2">Engineering and Marketing Samples</option>
                            </select>
                            <br />
                            <span id="snpErrEditUsedBy" style="color:red;display:none">Please select used by option.</span>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Quantity</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditQuantity" id="txtEditQuantity" class="form-control col-md-7 col-xs-12 NumOnly" autocomplete="Off">
                            <br />
                            <span id="snpErrEditQty" style="color:red;display:none">Please enter the quantity.</span>
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Comment</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditComment" id="txtEditComment" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelUpdateInventoryReduction" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnUpdateInventoryReduction" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>