﻿@model List<GA.DataTransfer.Classes_for_Web.InventoryCustomerModel>

@using GA.Common;
@using System.Configuration;

@{
    ViewBag.Title = "Customer";
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;

}


@Scripts.Render("~/bundles/Inventory")
@Scripts.Render("~/bundles/JqueryJs")
@*<script src="~/js/jquery.js"></script>*@
<script src="~/js/jquery.inputmask.js"></script>

@Scripts.Render("~/bundles/bootstrapJs")
@*< script src="~/vendors/bootstrap/dist/js/bootstrap.js"></script>*@
<script src="~/js/bootbox.js"></script>
<script src="~/js/Inventory.js"></script>

@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark {
            z-index: 0 !important;
            top: 5%;
        }

            .watermark span {
                -webkit-transform: rotate(228deg);
                -moz-transform: rotate(228deg);
                -o-transform: rotate(228deg);
                writing-mode: tb-rl;
            }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }

        .form-transparent input, .form-transparent select {
            background: transparent;
        }
    </style>
}

<script>
    function validate() {
        var isValid = true;

        if ($('#txtFirstName').val() == '') {
            $('#snpErrAddFirstName').show();
            isValid = false;
        }
        else {
            $('#snpErrAddFirstName').hide();
        }

        if ($('#txtLastName').val() == '') {
            $('#snpErrAddLastName').show();
            isValid = false;
        }
        else {
            $('#snpErrAddLastName').hide();
        }

        if ($('#txtEmail').val() != '') {
            //if (!ValidateEmail($('#txtEmail').val())) {
            //    $('#snpErrAddEmail').show();
            //    isValid = false;
            //}
            //else {
            //    $('#snpErrAddEmail').hide();
            //}
        }
        return isValid;
    }

    function validateEdit() {
        var isValid = true;
        if ($('#txtEditFirstName').val() == '') {
            $('#snpErrEditFirstName').show();
            isValid = false;
        }
        else {
            $('#snpErrEditFirstName').hide();
        }

        if ($('#txtEditLastName').val() == '') {
            $('#snpErrEditLastName').show();
            isValid = false;
        }
        else {
            $('#snpErrEditLastName').hide();
        }

        if ($('#txtEditEmail').val() != '') {
            //if (!ValidateEmail($('#txtEditEmail').val())) {
            //    $('#snpErrEditEmail').show();
            //    isValid = false;
            //}
            //else {
            //    $('#snpErrEditEmail').hide();
            //}
        }
        return isValid;
    }


    function reset() {
        $('select[name="ddlCustomerType"]').val("");

        $('#txtFirstName').val('');
        $('#txtLastName').val('');
        $('#txtEmail').val('');
        $('#txtPhone').val('');
        $('#txtCompanyName').val('');
        $('#snpErrAddEmail').hide();
        $('#snpErrAddLastName').hide();
        $('#snpErrAddFirstName').hide();
        $('#snpErrAddCustomer').hide();
        $('#snpErrAddCompanyName').hide();
    }

    function GetCustomerById(id) {
        $('#myLoadingElement').show();
        $.post("/IMounts/Inventory/GetInventoryCustomerById", {
            id: id
        }, function (data) {
            $('select[name="ddlEditCustomerType"]').val(data.response.CustomerTypeId);
            $('#txtEditFirstName').val(data.response.FirstName);
            $('#txtEditLastName').val(data.response.LastName);
            $('#txtEditEmail').val(data.response.Email);
            $('#txtEditPhone').val(data.response.PhoneNo);
            $('#txtEditCompanyName').val(data.response.CompanyName);
            $('#hdnCustomerId').val(data.response.EncryptId);
            $(".editCustomer-modal").modal();
            $('#myLoadingElement').hide();
        });
    }


    $(document).ready(function () {


        $('#datatable-fixed-header-Customer').DataTable({
            //processing: true,
            serverSide: true,
            searchable: true,
            sortable: true,
            "order": [[0, "desc"]],
            ajax: {
                url: '@Url.Action("GetInventoryCustomer")',
                type: 'POST',
                dataSrc: 'data',
               
            },
            columns: [
                { data: "SNO", name: "SNO" },
                { data: "FirstName", name: "FirstName" },
                { data: "LastName", name: "LastName" },
                { data: "Email", name: "Email" },
                { data: "PhoneNo", name: "PhoneNo" },
                { data: "CustomerType", name: "CustomerType" },
                { data: "CompanyName", name: "CompanyName" },
                {
                    "render": function (data, type, full) {
                        return '<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> <span data-toggle="tooltip" data-placement="top" title="Edit"><a href="javascript:void(0);" onclick="GetCustomerById(\'' + full.EncryptId + '\');" data-toggle="modal" data-target=".editCustomer-modal" data-placement="top" class="hi-icon fa fa-edit btn-primary"></a></span> <a data-toggle="tooltip" data-placement="top" id="btnDeleteCustomer" onclick="deleteCustomer(\'' + full.EncryptId + '\')" title="Delete RMA?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a> </div>';
                    }
                },
            ]
        });


        $('#txtPhone').mask('999-999-9999');
        $('#btnAddCustomer').bind('click', function () {

            if (validate()) {
                $('#myLoadingElement').show();
                var frmdata = new FormData();
                frmdata.append("CustomerTypeId", $('#ddlCustomerType').val());
                frmdata.append("FirstName", $('#txtFirstName').val());
                frmdata.append("LastName", $('#txtLastName').val());
                frmdata.append("Email", $('#txtEmail').val());
                frmdata.append("PhoneNo", $('#txtPhone').val());
                frmdata.append("CompanyName", $('#txtCompanyName').val());
                $.ajax({
                    url: '@Url.Action("/AddInventoryCustomer")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: frmdata,
                    success: function (data) {
                        if (data.response.ResponseCode == '0') {
                            $('#myLoadingElement').hide();
                            $('#btnCancelAddCustomer').click();
                            $('#btnCancelAddCustomer').click();
                            bootbox.alert('Customer inserted successfully.', function () {
                                $("#datatable-fixed-header-Customer").dataTable().fnDraw();
                            });
                        }
                        else {
                            $('#myLoadingElement').hide();
                            bootbox.alert(data.response.ResponseMessage, function () {
                            });
                        }
                    },
                    error: function (er) {
                    }
                });
            }

        });

        $('#btnEditCustomer').bind('click', function () {

            if (validateEdit()) {
                $('#myLoadingElement').show();
                var frmdata = new FormData();
                frmdata.append("CustomerTypeId", $('#ddlEditCustomerType').val());
                frmdata.append("FirstName", $('#txtEditFirstName').val());
                frmdata.append("LastName", $('#txtEditLastName').val());
                frmdata.append("Email", $('#txtEditEmail').val());
                frmdata.append("PhoneNo", $('#txtEditPhone').val());
                frmdata.append("CompanyName", $('#txtEditCompanyName').val());
                frmdata.append("CustomerId", $('#hdnCustomerId').val());
                $.ajax({
                    url: '@Url.Action("/EditInventoryCustomer")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: frmdata,
                    success: function (data) {
                        if (data.response.ResponseCode == '0') {
                            $('#myLoadingElement').hide();
                            $('#btnCancelEditCustomer').click();
                            $('#btnCancelEditCustomer').click();
                            bootbox.alert('Customer updated successfully.', function () {
                                $("#datatable-fixed-header-Customer").dataTable().fnDraw();
                            });
                        }
                        else {
                            $('#myLoadingElement').hide();
                            bootbox.alert(data.response.ResponseMessage, function () {
                            });
                        }
                    },
                    error: function (er) {
                    }
                });
            }

        });


    });

    function deleteCustomer(id) {
        bootbox.confirm("Are you sure to delete this customer?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Inventory/DeleteInventoryCustomer", {
                    id: id
                }, function (data) {
                    if (data.response.ResponseCode == '0') {
                        $('#myLoadingElement').hide();
                        bootbox.alert('Customer deleted successfully.', function () {
                            $("#datatable-fixed-header-Customer").dataTable().fnDraw();
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });


            }
        });
    }

</script>

<input type="hidden" id="hdnCustomerId" value="" />
<input type="hidden" id="hdnCustomerTypeId" value="" />
<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div class="x_content">
            @if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
            {
                <div class="watermark">

                    <span>TEST</span>
                </div>
            }
            <button class="btn-rounded btn-primary marginbottom10 pull-right" data-toggle="modal" onclick="reset();" data-target=".addCustomer-modal"><i class="fa fa-plus-circle"></i> Add</button>

            <div class="col-md-12 table-responsive">
                <div id="divCustomerList">

                    <table id="datatable-fixed-header-Customer" class="table table-striped table-bordered fold-table" style="width:100%;">
                        <thead>
                            <tr>
                                <th>SNO</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone Number</th>
                                <th>Customer Type</th>
                                <th>Company Name</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                    @*@Html.Partial("_InventoryCustomerList", Model)*@
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade addCustomer-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Customer</h3>
            </div>
            <form id="formAddRMA" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Company Name </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtCompanyName" id="txtCompanyName" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAddCompanyName" style="color:red;display:none">Company name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">First Name<span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtFirstName" id="txtFirstName" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAddFirstName" style="color:red;display:none">First name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Last Name <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtLastName" id="txtLastName" required="required" tabindex="3" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAddLastName" style="color:red;display:none">Last name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Email</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEmail" id="txtEmail" tabindex="4" required="required" class="form-control col-md-7 col-xs-12 NumOnly" autocomplete="Off">
                            <span id="snpErrAddEmail" style="color:red;display:none">Invalid email id.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Phone</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtPhone" id="txtPhone" tabindex="4" data-inputmask="'mask': '999-999-9999'" required="required" class="form-control col-md-7 col-xs-12 NumOnly" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Customer Type <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownList("ddlCustomerType", (IEnumerable<SelectListItem>)ViewBag.CustomerTypeList, new { id = "ddlCustomerType", @class = "form-control col-md-7 col-xs-12", tabindex = "1" })
                            <br />
                            <span id="snpErrAddCustomer" style="color:red;display:none">Please select the customer type.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelAddCustomer" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnAddCustomer" tabindex="9" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade editCustomer-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit Customer</h3>
            </div>
            <form id="formAddRMA" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Company Name </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditCompanyName" id="txtEditCompanyName" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrEditCompanyName" style="color:red;display:none">Company name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">First Name<span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditFirstName" id="txtEditFirstName" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrEditFirstName" style="color:red;display:none">First name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Last Name <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditLastName" id="txtEditLastName" required="required" tabindex="3" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrEditLastName" style="color:red;display:none">Last name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Email</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditEmail" id="txtEditEmail" tabindex="4" required="required" class="form-control col-md-7 col-xs-12 NumOnly" autocomplete="Off">
                            <span id="snpErrEditEmail" style="color:red;display:none">Invalid email id.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Phone</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditPhone" id="txtEditPhone" tabindex="4" data-inputmask="'mask': '999-999-9999'" required="required" class="form-control col-md-7 col-xs-12 NumOnly" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Customer Type <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownList("ddlEditCustomerType", (IEnumerable<SelectListItem>)ViewBag.CustomerTypeList, new { id = "ddlEditCustomerType", @class = "form-control col-md-7 col-xs-12", tabindex = "1" })
                            <br />
                            <span id="snpErrEditCustomer" style="color:red;display:none">Please select the customer type.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelEditCustomer" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnEditCustomer" tabindex="9" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
 