﻿@model GA.DataTransfer.Classes_for_Web.InvoiceDetailsModel
@using GA.Common;
@using System.Configuration;
@{
    ViewBag.Title = "InvoiceDetails";
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;
}
@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark {
            z-index: 0 !important;
            top: 5%;
        }

            .watermark span {
                -webkit-transform: rotate(228deg);
                -moz-transform: rotate(228deg);
                -o-transform: rotate(228deg);
                writing-mode: tb-rl;
            }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }

        .form-transparent input, .form-transparent select {
            background: transparent;
        }

      
    </style>
}
@Scripts.Render("~/bundles/Inventory")
<script type="text/javascript">
    $(document).ready(function () {
        var table;
        table = $('#datatable-fixed-header-Details').dataTable({
            paging: false
        });
    });
</script>


<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        @if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
        {
            <div class="watermark">
                <span>TEST</span>
            </div>
        }
        <div class="col-md-3 no-padding margintop20">
            <div class=""><a href="@Url.Action("Invoice",  "Inventory")"><i class="circle fa fa-list-ul" style="border: 1px solid #23527C; border-radius: 100%;  height: 30px; line-height: 29px;  text-align: center; width: 30px;"></i> Back To Invoice List list</a></div>
        </div>
        <div class="col-md-6 no-padding margintop20">
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Invoice Number </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <span class="control-label col-md-3 col-sm-3 col-xs-12" for="">@Model.InvoiceModel.InvoiceNumber</span>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Invoice Date </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <span class="control-label col-md-3 col-sm-3 col-xs-12" for="">@String.Format("{0:dd MMM yyyy}", Model.InvoiceModel.InvoiceDate)</span>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Customer Type </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <span class="control-label col-md-3 col-sm-3 col-xs-12" for="">@Model.InvoiceModel.CustomerType</span>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Customer Name </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <span class="control-label col-md-3 col-sm-3 col-xs-12" for="">@Model.InvoiceModel.CustomerName</span>
                </div>
            </div>

        </div>
        <div class="x_content" style="margin-top:20px;">
            <div>
                <table id="datatable-fixed-header-Details" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>PO Number</th>
                            <th>Part No</th>
                            <th>Product Name</th>
                            <th>Serial No.</th>
                            <th>Board Serial No</th>
                            <th>Status</th>
                            <th>Software Level</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.UnitModelList)
                        {
                            <tr>
                                <td>@item.PurchaseOrderNumber</td>
                                <td>@item.PartNumber</td>
                                <td>@item.Description</td>
                                <td>@item.SerialNumber</td>
                                <td>@item.BoardSerialNumber</td>
                                <td>
                                    @if (item.UnitStatus == Enumerations.UnitStatus.SalesReturn.GetStringValue())
                                    {
                                        <span data-toggle="tooltip"  data-html="true" title="<p style='font-weight:bold;font-size:15px;'>Reason For Return</p><p style=font-size:13px;'>@item.ReasonForSalesReturn</p>"><b>@item.UnitStatus</b></span>
                                    }
                                    else
                                    {
                                      @item.UnitStatus 
                                    }
                                </td>
                                <td>@item.SoftwareLevel</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>