﻿@model List<GA.DataTransfer.Classes_for_Web.InvoiceModel>

@using GA.Common;
@using System.Configuration;
@{
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    var userType = ViewBag.UserType;

    Layout = "~/Views/Shared/" + master;
    ViewBag.Title = "Invoice";

}

@Scripts.Render("~/bundles/Inventory")
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/datepicker.css" rel="stylesheet" />

@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark {
            z-index: 0 !important;
            top: 5%;
        }

            .watermark span {
                -webkit-transform: rotate(228deg);
                -moz-transform: rotate(228deg);
                -o-transform: rotate(228deg);
                writing-mode: tb-rl;
            }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }

        .form-transparent input, .form-transparent select {
            background: transparent;
        }
    </style>
}

<script type="text/javascript">
       onload = function () {
         var e = document.getElementById("reloaded");
         if (e.value == "no") e.value = "yes";
         else { e.value = "no"; location.reload(); }
       }
</script>

<script type="text/javascript">

    $(function () {

        $('#txtDate').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true,
        });

        $('.datepicker-days').on('click', 'td.day', function (e) {
            e.preventDefault();
            $('#txtDate').datepicker('hide');
        });

        $('#txtDate').keypress(function (e) {
            return false;
        });


    });

    function validate() {
        var isValid = true;

        if ($("#ddlSearchby").val() == "InvoiceDate") {
            if ($('#txtDate').val() == '') {
                isValid = false;
            }
            return isValid;
        }

        if ($("#ddlSearchby").val() != "All") {
            if ($('#txtSearch').val() == '') {
                isValid = false;
            }
        }
        return isValid;
    }

    $(document).ready(function () {
        $("#ddlSearchby").val("All");
        //$('#datatable-fixed-header-Invoice').dataTable();

        $('#datatable-fixed-header-Invoice').DataTable({
            processing: true,
            serverSide: true,
            searchable: true,
            sortable: true,
            "order": [[0, "desc"]],
            ajax: {
                url: '@Url.Action("GetInvoiceInChunk")',
                type: 'POST',
                dataSrc: 'data',

            },
            columns: [
                { data: "SNO", name: "SNO" },
                { data: "InvoiceNumber", name: "InvoiceNumber" },
                { data: "InvoiceCreatedOn", name: "InvoiceCreatedOn" },
                { data: "CustomerType", name: "CustomerType" },
                { data: "CustomerName", name: "CustomerName" },
                { data: "ItemCount", name: "ItemCount" },
                {
                    "render": function (data, type, full) {
                        return ' <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">'+
                        '<a data-toggle="tooltip" data-placement="top" href="/Inventory/InvoiceDetails?id='+ encodeURIComponent(full.InvoiceId)+'" title="view units" class="hi-icon fa fa-eye btn-primary" href="javascript:void(0);"></a>'+
                        '<span data-toggle="tooltip" data-placement="top" title="Edit">'+
                            '<a  href="/Inventory/EditSales?id='+ encodeURIComponent(full.InvoiceId) +'" data-toggle="tooltip" data-placement="top" class="hi-icon fa fa-edit btn-primary"></a>'+
                        '</span>'+
                        '<a data-toggle="tooltip" data-placement="top" id="deleteInvoice" onclick="deleteInvoice(\'' + full.InvoiceId + '\')" title="Delete Invoice?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>'+
                    '</div>';
                    }
                },
            ]
        });


        $("#btnSearch").bind('click', function () {
            if (validate()) {
                var value = "";
                if ($("#ddlSearchby").val() == "InvoiceDate") {
                    value = $("#txtDate").val();
                }
                else {
                    value = $("#txtSearch").val();
                }
                $('#myLoadingElement').show();
                $.post("/IMounts/Inventory/SearchInvoice", {
                    key: $("#ddlSearchby").val(),
                    value: value,
                }, function (unitList) {
                    $('#divInvoiceList').html(unitList);
                    $('#datatable-fixed-header-Invoice').dataTable();
                    $('#myLoadingElement').hide();
                });
            }
            else {
                bootbox.alert("Please insert the search value", function () {
                });
            }
        });

        $("#btnCreate").bind('click', function () {
            window.location.href = '/Inventory/Sales';
        });
    });

    function ddlChange() {
        if ($("#ddlSearchby").val() == "All") {
            $("#divSearch").hide();
        }
        else {
            $("#divSearch").show();
            if ($("#ddlSearchby").val() == "InvoiceDate") {
                $("#txtSearch").hide();
                $("#txtDate").show();
            }
            else {
                $("#txtSearch").show();
                $("#txtDate").hide();
            }
        }
        $("#txtSearch").val('');
    }

    function deleteInvoice(id)
    {
        bootbox.confirm("Are you sure to delete the Invoice?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Inventory/DeleteInvoice", {
                    id: id
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $.post("/IMounts/Inventory/GetInvoice", {

                        }, function (invoiceList) {

                            $('#divInvoiceList').html('');
                            $('#divInvoiceList').html(invoiceList);
                            $('#datatable-fixed-header-Invoice').dataTable();
                            $('#myLoadingElement').hide();
                            bootbox.alert('Invoice deleted successfully.', function () {
                            });
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
        });
    }

</script>



<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        @if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
        {
            <div class="watermark">
                <span>TEST</span>
            </div>
        }
        <div class="col-md-3 no-padding margintop20">
            &nbsp;
        </div>
        <div class="col-md-6 no-padding margintop20 form-transparent">
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Search By <span class="required">*</span> </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    @*@Html.DropDownList("ddlPartNumber", (IEnumerable<SelectListItem>)ViewBag.PartNumberList, new { id = "ddlPartNumber", @class = "form-control col-md-7 col-xs-12" })*@
                    <select id="ddlSearchby" onchange="ddlChange();" class="form-control col-md-7 col-xs-12">
                        <option value="All">All</option>
                        <option value="InvoiceNumber">Invoice Number</option>
                        <option value="InvoiceDate">Invoice Date</option>
                        <option value="CustomerName">Customer Name</option>
                    </select>
                </div>
            </div>
            <div id="divSearch" style="display:none" class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Search value <span class="required">*</span> </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="text" name="txtSearch" id="txtSearch" style="display:none" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                    <input type="text" name="txtDate" id="txtDate" style="display:none" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                </div>
            </div>

            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for=""></label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <button type="button" id="btnSearch" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
        @if (userType != Enumerations.UserType.InventoryProduction.ToString())
        {
            <div class="col-md-3 no-padding margintop20">
                <button id="btnCreate" class="btn-rounded btn-primary marginbottom10 pull-right"><i class="fa fa-plus-circle"></i> Create</button>
            </div>
        }
        <div class="x_content">
            <div id="divInvoiceList">
                @*@Html.Partial("_InvoicePartial", Model)*@

                <table id="datatable-fixed-header-Invoice" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>SNO</th>
                            <th>Invoice Number</th>
                            <th>Invoice Date</th>
                            <th>Customer Type</th>
                            <th>Customer Name</th>
                            <th>Units Sold</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                </table>

            </div>
        </div>
    </div>
</div>