﻿@model List<GA.DataTransfer.Classes_for_Web.KitAssemblyModel>
@using GA.Common;
@using System.Configuration;
@{
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;
    ViewBag.Title = "Customer";

}
<style>
    table {
        width: 100%;
    }

        table th {
            text-align: left;
            border-bottom: 1px solid #ccc;
        }

        table th, table td {
            padding: 0.4em;
        }

        table.fold-table > tbody > tr.view td, table.fold-table > tbody > tr.view th {
            cursor: pointer;
        }

            table.fold-table > tbody > tr.view td:first-child, table.fold-table > tbody > tr.view th:first-child {
                position: relative;
                padding-left: 20px;
            }

                table.fold-table > tbody > tr.view td:first-child:before, table.fold-table > tbody > tr.view th:first-child:before {
                    position: absolute;
                    top: 50%;
                    left: 5px;
                    width: 9px;
                    height: 16px;
                    margin-top: -8px;
                    font: 16px fontawesome;
                    color: #999;
                    content: "\f0d7";
                    transition: all 0.3s ease;
                }

        table.fold-table > tbody > tr.view:nth-child(4n-1) {
            background: #eee;
        }

        table.fold-table > tbody > tr.view:hover {
            background: #dde6f6;
        }

        table.fold-table > tbody > tr.view.open {
            background: #b0c9f7;
            color: black;
        }

            table.fold-table > tbody > tr.view.open td:first-child:before, table.fold-table > tbody > tr.view.open th:first-child:before {
                transform: rotate(-180deg);
                color: #333;
            }

        table.fold-table > tbody > tr.fold {
            display: none;
        }

            table.fold-table > tbody > tr.fold.open {
                display: table-row;
            }

    .fold-content {
        padding: 0.5em;
    }

        .fold-content h3 {
            margin-top: 0;
        }

        .fold-content > table {
            border: 2px solid #ccc;
        }

            .fold-content > table > tbody tr:nth-child(even) {
                background: #eee;
            }
</style>
@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark {
            z-index: 0 !important;
            top: 5%;
            opacity: 0.2;
        }

            .watermark span {
                -webkit-transform: rotate(228deg);
                -moz-transform: rotate(228deg);
                -o-transform: rotate(228deg);
                writing-mode: tb-rl;
            }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }

        .form-transparent input, .form-transparent select {
            background: transparent;
        }
    </style>
}
@Scripts.Render("~/bundles/Inventory")
 

<script src="~/js/Inventory.js"></script>
<script>
    $(function () {
        //$(".fold-table tr.view").on("click", function () {
        //    //$(this).toggleClass("open").next(".fold").toggleClass("open");
        //    $(this).toggleClass("open").next(".fold").toggle('fast', 'linear', function () {
        //        $(this).toggleClass('open');
        //    });
        //});
    });
</script>

<script type="text/javascript">

    var partList;
    var id = 1;
    var editKitItemsCount = 1;
    $(document).ready(function () {

        //$(".fold-table tr.view").on("click", function () {
        //    //$(this).toggleClass("open").next(".fold").toggleClass("open");
        //    $(this).toggleClass("open").next(".fold").toggle('fast', 'linear', function () {
        //        $(this).toggleClass('open');
        //    });
        //});

        $.post("/IMounts/Inventory/GetPartNumberListForAssemblyKit", {
        }, function (data) {
            partList = data.partList;
        });

        $('#btnAddPartNo').bind('click', function () {
            if (validateAll()) {
                $('#myLoadingElement').show();
                var frmdata = new FormData();
                var PartList = [];
                $('tr', $("#datatable-fixed-header-AddKitAssembly").find('tbody')).each(function () {
                    var rowId = this.id.toString().replace("tr", "");
                    PartList.push({
                        'Id': parseInt($("#ddl" + rowId).val()),
                        'Quantity': $("#txtQty" + rowId).val(),
                    });
                });

                if (document.getElementById('fileBtn').files.length > 0) {
                    console.log('AAAA');
                    if (document.getElementById('fileBtn').files[0].type.split('/')[0].toString() == 'image') {
                        var files = document.getElementById('fileBtn').files;
                        frmdata.append("HelpSectionImages", files[0]);
                    }
                }

                frmdata.append("PartList", JSON.stringify(PartList));
                frmdata.append("PartName", $("#txtPartNumber").val());
                frmdata.append("Description", $("#txtDescription").val());
                frmdata.append("SuggestedSalesPrice", $("#txtSuggestedSalesPrice").val());
                frmdata.append("Comment", $("#txtComment").val());
                $.ajax({
                    url: '@Url.Action("/SaveAssembly")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: frmdata,
                    success: function (data) {
                        if (data.response.ResponseCode == 0) {
                            GetPartList();
                            bootbox.alert('Kit Assembly added successfully.', function () {
                            });
                        }
                        else {
                            $('#myLoadingElement').hide();
                            bootbox.alert(data.response.ResponseMessage, function () {
                            });
                        }
                    },
                    error: function (er) {
                    }
                });
            }
        });


        $('#btnUpdateKitAssembly').bind('click', function () {
            if (validateAll_Edit()) {
                $('#myLoadingElement').show();
                var frmdata = new FormData();
                var PartList = [];
                $('tr', $("#datatable-fixed-header-EditKitAssembly").find('tbody')).each(function () {
                    var rowId = this.id.toString().replace("trEdit", "");
                    PartList.push({
                        'Id': parseInt($("#ddlEdit" + rowId).val()),
                        'Quantity': $("#txtEditQty" + rowId).val(),
                    });
                });

                if (document.getElementById('editfileBtn').files.length > 0) {
                    console.log('AAAA');
                    if (document.getElementById('editfileBtn').files[0].type.split('/')[0].toString() == 'image') {
                        var files = document.getElementById('editfileBtn').files;
                        frmdata.append("HelpSectionImages", files[0]);
                    }
                }
                frmdata.append("Id", $("#hdnId").val());
                frmdata.append("PartList", JSON.stringify(PartList));
                frmdata.append("PartName", $("#txtEditPartNumber").val());
                frmdata.append("Description", $("#txtEditDescription").val());
                frmdata.append("SuggestedSalesPrice", $("#txtEditSuggestedSalesPrice").val());
                frmdata.append("Comment", $("#txtEditComment").val());
                $.ajax({
                    url: '@Url.Action("/UpdateAssembly")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: frmdata,
                    success: function (data) {
                        if (data.response.ResponseCode == 0) {
                            GetPartList();
                            $('#btnEditCancelPartNo').click();
                            resetEdit();
                            bootbox.alert('Kit Assembly updated successfully.', function () {
                            });
                        }
                        else {
                            $('#myLoadingElement').hide();
                            bootbox.alert(data.response.ResponseMessage, function () {
                            });
                        }
                    },
                    error: function (er) {
                    }
                });
            }
        });

        $('#btnCancelPartNo').bind('click', function () {
            $("#datatable-fixed-header-AddKitAssembly  tfoot tr").remove();
            $("#datatable-fixed-header-AddKitAssembly  tbody tr").remove();
            $("#txtDescription").val('');
            $("#imgKit").attr('src', "../Images/NoImage.png");
            $("#ancKit").attr('href', "javascript:void(0);");
            id = 1;
        });

        $('#btnAddPartToAssembly').bind('click', function () {
            //if ($('tr', $("#datatable-fixed-header-AddKitAssembly").find('tbody')).length == 0)
            //{
            if (validatePartList()) {
                id = id + 1;
                var ddl = '<select class="form-control ddlChange" id="ddl' + id + '" onChange="ddlChange(' + id + ')" >';
                ddl = ddl + '<option value="">Select</option>';
                $.each(partList, function (key, value) {
                    if (!value.PartNumber.startsWith('100-')) {
                        ddl = ddl + '<option value="' + value.Id + '">' + value.PartNumber + '</option>';
                    }
                });
                ddl = ddl + '</select>';
                ddl = ddl + '<span id="snpErrDDL' + id + '" style="color:red;display:none">Required</span>';
                var image = '<a id="anc' + id + '"  href="javascript:void(0);" target="_blank"><img id="img' + id + '" src="../Images/NoImage.png" height="50" width="50" /></a>'
                var spnDescription = '<span id="spn' + id + '"></span>';
                var txtQuantity = '<input type="text" id="txtQty' + id + '" class="form-control NumOnly" value="" onkeypress="return isNumberKey(event)" onchange="onQtyChange(' + id + ')" />';
                txtQuantity = txtQuantity + '<span id="snpErrQty' + id + '" style="color:red;display:none">Required</span>';
                var actionDelete = ' <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="width:100%; display:flex;"><a data-toggle="tooltip" data-placement="top"  onclick="deletePartNumberFromAssembly(' + id + ')" title="Remove Part number?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a></div>'
                var costPrice = '<span id="spnCost' + id + '">0.00</span>';
                var salePrice = '<span id="spnSale' + id + '">0.00</span>';
                var extendedCostPrice = '<span id="spnExtendedCost' + id + '">0.00</span>';
                var extendedSalePrice = '<span id="spnExtendedSale' + id + '">0.00</span>';
                $("#datatable-fixed-header-AddKitAssembly tbody").append('<tr id="tr' + id + '"><td>' + image + '</td><td>' + ddl + '</td><td>' + txtQuantity + '</td><td>' + spnDescription + '</td><td>' + costPrice + '</td><td>' + salePrice + '</td><td>' + extendedCostPrice + '</td><td>' + extendedSalePrice + '</td> <td>' + actionDelete + '</td></tr>');


                if ($('tr', $("#datatable-fixed-header-AddKitAssembly").find('tfoot')).length == 0) {
                    var totalcostPrice = '<span id="spnTotalCost">0.00</span>';
                    var totalsalePrice = '<span id="spnTotalSale">0.00</span>';
                    var totalextendedCostPrice = '<span id="spnTotalExtendedCost">0.00</span>';
                    var totalextendedSalePrice = '<span id="spnTotalExtendedSale">0.00</span>';
                    $("#datatable-fixed-header-AddKitAssembly tfoot").append('<tr><td></td><td></td><td></td><td>Total</td><td>' + totalcostPrice + '</td><td>' + totalsalePrice + '</td><td>' + totalextendedCostPrice + '</td><td>' + totalextendedSalePrice + '</td><td></td></tr>');
                }

                $("#datatable-fixed-header-AddKitAssembly").show();
            }
            //}
        });

        $('#btnAddPartToAssemblyEdit').bind('click', function () {
            //if ($('tr', $("#datatable-fixed-header-AddKitAssembly").find('tbody')).length == 0)
            //{
            if (validateEditPartList()) {
                id = editKitItemsCount;
                id = id + 1;
                var ddl = '<select class="form-control ddlEditChange" id="ddlEdit' + id + '" onChange="ddlEditChange(' + id + ')" >';
                ddl = ddl + '<option value="">Select</option>';
                $.each(partList, function (key, value) {
                    ddl = ddl + '<option value="' + value.Id + '">' + value.PartNumber + '</option>';

                });
                ddl = ddl + '</select>';
                ddl = ddl + '<span id="snpEditErrDDL' + id + '" style="color:red;display:none">Required</span>';
                var image = '<a id="ancEdit' + id + '"  href="javascript:void(0);" target="_blank"><img id="imgEdit' + id + '" src="../Images/NoImage.png" height="50" width="50" /></a>'
                var spnDescription = '<span id="spnDescEdit' + id + '"></span>';
                var txtQuantity = '<input type="text" id="txtEditQty' + id + '" class="form-control NumOnly" value="" onkeypress="return isNumberKey(event)" onchange="onQtyChangeEdit(' + id + ')" />';
                txtQuantity = txtQuantity + '<span id="snpEditErrQty' + id + '" style="color:red;display:none">Required</span>';
                var actionDelete = ' <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="width:100%; display:flex;"><a data-toggle="tooltip" data-placement="top"  onclick="deletePartNumberFromAssemblyEdit(' + id + ')" title="Remove Part number?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a></div>'
                var costPrice = '<span id="spnEditCost' + id + '">0.0000</span>';
                var salePrice = '<span id="spnEditSale' + id + '">0.00</span>';
                var extendedCostPrice = '<span id="spnEditExtendedCost' + id + '">0.0000</span>';
                var extendedSalePrice = '<span id="spnEditExtendedSale' + id + '">0.00</span>';
                $("#datatable-fixed-header-EditKitAssembly tbody").append('<tr id="trEdit' + id + '"><td>' + image + '</td><td>' + ddl + '</td><td>' + txtQuantity + '</td><td>' + spnDescription + '</td><td>' + costPrice + '</td><td>' + salePrice + '</td><td>' + extendedCostPrice + '</td><td>' + extendedSalePrice + '</td> <td>' + actionDelete + '</td></tr>');


                if ($('tr', $("#datatable-fixed-header-EditKitAssembly").find('tfoot')).length == 0) {
                    var totalcostPrice = '<span id="spnEditTotalCost">0.00</span>';
                    var totalsalePrice = '<span id="spnEditTotalSale">0.00</span>';
                    var totalextendedCostPrice = '<span id="spnEditTotalExtendedCost">0.00</span>';
                    var totalextendedSalePrice = '<span id="spnEditTotalExtendedSale">0.00</span>';
                    $("#datatable-fixed-header-EditKitAssembly tfoot").append('<tr><td></td><td></td><td></td><td>Total</td><td>' + totalcostPrice + '</td><td>' + totalsalePrice + '</td><td>' + totalextendedCostPrice + '</td><td>' + totalextendedSalePrice + '</td><td></td></tr>');
                }

                $("#datatable-fixed-header-EditKitAssembly").show();
            }
            //}
        });
    });


    var GetPartList = function () {
        $.post("/IMounts/Inventory/GetKitAssembly", {
        }, function (data) {
            $('#divPartNoList').html('');
            $('#divPartNoList').html(data);
        });
        $('#btnCancelPartNo').click();
        $('#myLoadingElement').hide();

        $("#datatable-fixed-header-AddKitAssembly  tfoot tr").remove();
        $("#datatable-fixed-header-AddKitAssembly  tbody tr").remove();
        $('#txtPartNumber').val('');
        $('#txtDescription').val('');
        $('#txtSuggestedSalesPrice').val('');
        $('#txtComment').val('');
        $("#fileBtn").val(null);
        $("#imgKit").attr('src', "../Images/NoImage.png");
        $("#ancKit").attr('href', "javascript:void(0);");
        id = 1;
    };

    function onQtyChange(id) {

        var qty = parseInt($("#txtQty" + id).val());
        var costPrice = parseFloat($("#spnCost" + id).text());
        var salesPrice = parseFloat($("#spnSale" + id).text());
        $("#spnExtendedCost" + id).text((qty * costPrice).toFixed(2));
        $("#spnExtendedSale" + id).text((qty * salesPrice).toFixed(2));
        calculateTotal();
    }

    function deletePartNumberFromAssembly(id) {
        bootbox.confirm("Are you sure to delete this part number?", function (result) {
            if (result) {
                $('table#datatable-fixed-header-AddKitAssembly tr#tr' + id).remove();
                calculateTotal();
            }
        });
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function validatePartList() {
        var isValid = true;
        $('tr', $("#datatable-fixed-header-AddKitAssembly").find('tbody')).each(function () {
            var rowId = this.id.toString().replace("tr", "");
            if ($("#ddl" + rowId).val() == "") {
                $("#snpErrDDL" + rowId).show();
                isValid = false;
            }
            else {
                $("#snpErrDDL" + rowId).hide();
            }

            if ($("#txtQty" + rowId).val() == "") {
                $("#snpErrQty" + rowId).show();
                isValid = false;
            }
            else {
                $("#snpErrQty" + rowId).hide();
            }
        });
        return isValid;
    }

    function validateAll() {
        var isValid = true;
        $('tr', $("#datatable-fixed-header-AddKitAssembly").find('tbody')).each(function () {
            var rowId = this.id.toString().replace("tr", "");
            if ($("#txtQty" + rowId).val() == "" || parseInt($("#txtQty" + rowId).val()) == 0) {
                $("#snpErrQty" + rowId).show();
                isValid = false;
            }
            else {
                $("#snpErrQty" + rowId).hide();
            }
        });

        if ($("#txtPartNumber").val() == "") {
            $("#snpErrAddKitPartNo").show();
            isValid = false;
        }
        else {
            $("#snpErrAddKitPartNo").hide();
        }

        if ($("#txtDescription").val() == "") {
            $("#snpErrAddKitDescription").show();
            isValid = false;
        }
        else {
            $("#snpErrAddKitDescription").hide();
        }

        if ($("#txtSuggestedSalesPrice").val() == "") {
            $("#snpErrAddKitSuggestedSalesPrice").show();
            isValid = false;
        }
        else {
            $("#snpErrAddKitSuggestedSalesPrice").hide();
        }

        if ($("#datatable-fixed-header-AddKitAssembly  tbody tr").length == 0) {
            $("#snpErrAddKitItems").show();
            isValid = false;
        }
        else {
            $("#snpErrAddKitItems").hide();
        }
        return isValid;
    }

    function ddlChange(id) {
        var flag = 0;
        if ($("#ddl" + id).val() != "") {
            var ddlId = $("#ddl" + id).val();
            $("select").each(function () {
                if ($(this).val() == ddlId && $(this).attr('id') != ("ddl" + id)) {
                    bootbox.alert("Part Number " + $("#ddl" + id + " option:selected").text() + " already exist in the list.", function () {
                    });
                    $("#ddl" + id).val("");
                    $("#img" + id).attr('src', "../Images/NoImage.png");
                    $("#anc" + id).attr('href', "javascript:void(0);");
                    $("#spn" + id).text('');
                    $("#txtQty" + id).val('');
                    return false;
                }
            }).promise().done(function () {
                var partId = $("#ddl" + id).val();

                $.each(partList, function (key, value) {
                    if (partId == value.Id) {
                        $("#spnCost" + id).text(value.CostPrice.toFixed(2));
                        $("#spnSale" + id).text(value.SalesPrice.toFixed(2));
                        $("#spnExtendedCost" + id).text(value.CostPrice.toFixed(2));
                        $("#spnExtendedSale" + id).text(value.SalesPrice.toFixed(2));
                        $("#txtQty" + id).val(1);
                        $("#spn" + id).text(value.Description);
                        if (value.ImageName == "") {
                            $("#img" + id).attr('src', "../Images/NoImage.png");
                            $("#anc" + id).attr('href', "javascript:void(0);");
                        }
                        else {
                            $("#img" + id).attr('src', value.ImageName);
                            $("#anc" + id).attr('href', value.ImageName);
                        }
                    }
                });
                calculateTotal();
            });
        }
        else {
            $("#img" + id).attr('src', "../Images/NoImage.png");
            $("#anc" + id).attr('href', "javascript:void(0);");
            $("#spn" + id).text('');
            $("#txtQty" + id).val('');
            $("#spnCost" + id).text('0.00');
            $("#spnSale" + id).text('0.00');
            $("#spnExtendedCost" + id).text('0.00');
            $("#spnExtendedSale" + id).text('0.00');
            calculateTotal();
        }
    }

    function calculateTotal() {
        var totalCost = 0.00;
        var totalSales = 0.00;
        var totalExtendedCost = 0.00;
        var totalExtendedSales = 0.00;
        $('tr', $("#datatable-fixed-header-AddKitAssembly").find('tbody')).each(function () {
            var rowId = this.id.toString().replace("tr", "");
            totalCost = totalCost + parseFloat($("#spnCost" + rowId).text());
            totalSales = totalSales + parseFloat($("#spnSale" + rowId).text());
            totalExtendedCost = totalExtendedCost + parseFloat($("#spnExtendedCost" + rowId).text());
            totalExtendedSales = totalExtendedSales + parseFloat($("#spnExtendedSale" + rowId).text());
        });
        $("#spnTotalCost").text(totalCost.toFixed(2));
        $("#spnTotalSale").text(totalSales.toFixed(2));
        $("#spnTotalExtendedCost").text(totalExtendedCost.toFixed(2));
        $("#spnTotalExtendedSale").text(totalExtendedSales.toFixed(2));
    }

    function kitImageClick() {
        $("#fileBtn").trigger('click');
    }

    function ShowImage(inputFile) {
        if (inputFile.files && inputFile.files[0]) {
            if (inputFile.files[0].type.split('/')[0].toString() == 'image') {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#imgKit').attr('src', e.target.result);
                }
                reader.readAsDataURL(inputFile.files[0]);
            }
            else {
                alert('Invalid Image Fomat');
            }
        }
    }

    function reset() {
        id = 1;
        $('#txtPartNumber').val('');
        $('#txtDescription').val('');
        $('#txtSuggestedSalesPrice').val('');
        $('#txtComment').val('');
        $('#snpErrAddKitPartNo').hide();
        $('#snpErrAddKitDescription').hide();
        $('#snpErrAddKitSuggestedSalesPrice').hide();
        $('#snpErrAddKitItems').hide();

        $("#imgKit").attr('src', "../Images/NoImage.png");
        $("#datatable-fixed-header-AddKitAssembly  tfoot tr").remove();
        $("#datatable-fixed-header-AddKitAssembly  tbody tr").remove();
        $("#datatable-fixed-header-AddKitAssembly").hide();
    }

    function exportPDF() {

        $('#myLoadingElement').show();
        var url = '/IMounts/Inventory/KitAssemblyExportPDF';
        window.open(url, '_blank');
        $('#myLoadingElement').hide();
    }

    function exportExcel() {
        $('#myLoadingElement').show();
        var url = '/IMounts/Inventory/KitAssemblyExportExcel';
        window.open(url, '_blank');
        $('#myLoadingElement').hide();

    }

    function DeleteKitAssembly(kitAssemblyId) {
        bootbox.confirm("Are you sure to delete this kit assembly?", function (result) {
            if (result) {

                $.post("/IMounts/Inventory/DeleteKitAssembly", {
                    id: kitAssemblyId
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        GetPartList();
                        bootbox.alert("Kit Assembly deleted successfully.", function () {
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
        });
    }

    function BindKitAssembly(kitAssemblyId) {
        $('#myLoadingElement').show();
        resetEdit();
        $.post("/IMounts/Inventory/GetKitAssemblyById", {
            id: kitAssemblyId
        }, function (data) {
            if (data.kitAssemblyModel) {
                $('#hdnId').val(data.kitAssemblyModel.Id);
                $('#txtEditPartNumber').val(data.kitAssemblyModel.PartName);
                $('#txtEditDescription').val(data.kitAssemblyModel.Description);
                $('#txtEditComment').val(data.kitAssemblyModel.Comment);
                $('#txtEditSuggestedSalesPrice').val(data.kitAssemblyModel.SuggestedSalesPrice);
                if (data.kitAssemblyModel.ImageName == '' || data.kitAssemblyModel.ImageName == null) {
                    $("#editimgKit").attr('src', "../Images/NoImage.png");
                }
                else {
                    $("#editimgKit").attr('src', data.kitAssemblyModel.ImageName);
                }
                editKitItemsCount = 0;
                var totalCost = 0.0000;
                var totalSales = 0.00;
                var totalExtendedCost = 0.0000;
                var totalExtendedSales = 0.00;
                editKitItemsCount = 0;
                $.each(data.kitAssemblyModel.PartList, function (key, value) {



                    editKitItemsCount = editKitItemsCount + 1;
                    var ddl = '<select class="form-control ddlEditChange" id="ddlEdit' + editKitItemsCount + '" onChange="ddlEditChange(' + editKitItemsCount + ')" >';
                    ddl = ddl + '<option value="">Select</option>';
                    $.each(partList, function (partListkey, partListvalue) {
                        if (partListvalue.Id == value.PartNumberId) {
                            ddl = ddl + '<option selected="selected" value="' + partListvalue.Id + '">' + partListvalue.PartNumber + '</option>';
                        }
                        else {
                            ddl = ddl + '<option value="' + partListvalue.Id + '">' + partListvalue.PartNumber + '</option>';

                        }
                    });
                    ddl = ddl + '</select>';
                    ddl = ddl + '<span id="snpEditErrDDL' + editKitItemsCount + '" style="color:red;display:none">Required</span>';
                    var image = '<a id="ancEdit' + editKitItemsCount + '"  href="javascript:void(0);" target="_blank"><img id="imgEdit' + editKitItemsCount + '" src="' + value.ImageName + '" height="50" width="50" /></a>'
                    var spnDescription = '<span id="spnDescEdit' + editKitItemsCount + '">' + value.Description + '</span>';
                    var txtQuantity = '<input type="text" id="txtEditQty' + editKitItemsCount + '" class="form-control NumOnly" value="' + value.Quantity + '" onkeypress="return isNumberKey(event)" onchange="onQtyChangeEdit(' + editKitItemsCount + ')" />';
                    txtQuantity = txtQuantity + '<span id="snpEditErrQty' + editKitItemsCount + '" style="color:red;display:none">Required</span>';
                    var actionDelete = ' <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="width:100%; display:flex;"><a data-toggle="tooltip" data-placement="top"  onclick="deletePartNumberFromAssemblyEdit(' + editKitItemsCount + ')" title="Remove Part number?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a></div>'
                    var costPrice = '<span id="spnEditCost' + editKitItemsCount + '">' + value.CostPrice.toFixed(4) + '</span>';
                    var salePrice = '<span id="spnEditSale' + editKitItemsCount + '">' + value.SalesPrice.toFixed(2) + '</span>';
                    var extendedCostPrice = '<span id="spnEditExtendedCost' + editKitItemsCount + '">' + (value.Quantity * value.CostPrice).toFixed(4) + '</span>';
                    var extendedSalePrice = '<span id="spnEditExtendedSale' + editKitItemsCount + '">' + (value.Quantity * value.SalesPrice).toFixed(2) + '</span>';

                    totalCost = totalCost + parseFloat(value.CostPrice);
                    totalSales = totalSales + parseFloat(value.SalesPrice);
                    totalExtendedCost = totalExtendedCost + parseFloat(value.Quantity * value.CostPrice);
                    totalExtendedSales = totalExtendedSales + parseFloat(value.Quantity * value.SalesPrice);

                    $("#datatable-fixed-header-EditKitAssembly tbody").append('<tr id="trEdit' + editKitItemsCount + '"><td>' + image + '</td><td>' + ddl + '</td><td>' + txtQuantity + '</td><td>' + spnDescription + '</td><td>' + costPrice + '</td><td>' + salePrice + '</td><td>' + extendedCostPrice + '</td><td>' + extendedSalePrice + '</td> <td>' + actionDelete + '</td></tr>');

                });
                var totalcostPrice = '<span id="spnEditTotalCost">' + totalCost.toFixed(4) + '</span>';
                var totalsalePrice = '<span id="spnEditTotalSale">' + totalSales.toFixed(2) + '</span>';
                var totalextendedCostPrice = '<span id="spnEditTotalExtendedCost">' + totalExtendedCost.toFixed(4) + '</span>';
                var totalextendedSalePrice = '<span id="spnEditTotalExtendedSale">' + totalExtendedSales.toFixed(2) + '</span>';
                $("#datatable-fixed-header-EditKitAssembly tfoot").append('<tr><td></td><td></td><td></td><td>Total</td><td>' + totalcostPrice + '</td><td>' + totalsalePrice + '</td><td>' + totalextendedCostPrice + '</td><td>' + totalextendedSalePrice + '</td><td></td></tr>');
                $("#datatable-fixed-header-EditKitAssembly").show();
                $('.editKitAssebmly-modal').modal('show');
            }

            $('#myLoadingElement').hide();
        });

    }

    function resetEdit() {
        $('#txtEditPartNumber').val('');
        $('#txtEditDescription').val('');
        $('#txtEditSuggestedSalesPrice').val('');
        $('#txtEditComment').val('');
        $('#snpErrEditKitPartNo').hide();
        $('#snpErrEditKitDescription').hide();
        $('#snpErrEditKitSuggestedSalesPrice').hide();
        $("#editimgKit").attr('src', "../Images/NoImage.png");
        $("#datatable-fixed-header-EditKitAssembly  tfoot tr").remove();
        $("#datatable-fixed-header-EditKitAssembly  tbody tr").remove();
        editKitItemsCount = 0;
        $('#hdnId').val('');
    }

    function onQtyChangeEdit(id) {

        var qty = parseInt($("#txtEditQty" + id).val());
        var costPrice = parseFloat($("#spnEditCost" + id).text());
        var salesPrice = parseFloat($("#spnEditSale" + id).text());
        $("#spnEditExtendedCost" + id).text((qty * costPrice).toFixed(2));
        $("#spnEditExtendedSale" + id).text((qty * salesPrice).toFixed(2));
        calculateTotalEdit();
    }

    function deletePartNumberFromAssemblyEdit(id) {
        bootbox.confirm("Are you sure to delete this part number?", function (result) {
            if (result) {
                $('table#datatable-fixed-header-EditKitAssembly tr#trEdit' + id).remove();
                calculateTotalEdit();
            }
        });
    }

    function validateEditPartList() {
        var isValid = true;
        $('tr', $("#datatable-fixed-header-EditKitAssembly").find('tbody')).each(function () {
            var rowId = this.id.toString().replace("trEdit", "");
            if ($("#ddlEdit" + rowId).val() == "") {
                $("#snpEditErrDDL" + rowId).show();
                isValid = false;
            }
            else {
                $("#snpEditErrDDL" + rowId).hide();
            }

            if ($("#txtEditQty" + rowId).val() == "") {
                $("#snpEditErrQty" + rowId).show();
                isValid = false;
            }
            else {
                $("#snpEditErrQty" + rowId).hide();
            }
        });
        return isValid;
    }

    function ddlEditChange(id) {
        var flag = 0;
        if ($("#ddlEdit" + id).val() != "") {
            var ddlId = $("#ddlEdit" + id).val();
            $('select.ddlEditChange').each(function () {
                if ($(this).val() == ddlId && $(this).attr('id') != ("ddlEdit" + id)) {
                    bootbox.alert("Part Number " + $("#ddlEdit" + id + " option:selected").text() + " already exist in the list.", function () {
                    });
                    $("#ddlEdit" + id).val("");
                    $("#imgEdit" + id).attr('src', "../Images/NoImage.png");
                    $("#ancEdit" + id).attr('href', "javascript:void(0);");
                    $("#spnDescEdit" + id).text('');
                    $("#txtEditQty" + id).val('');
                    $("#spnEditCost" + id).text('0.0000');
                    $("#spnEditSale" + id).text('0.00');
                    $("#spnEditExtendedCost" + id).text('0.0000');
                    $("#spnEditExtendedSale" + id).text('0.00');
                    return false;
                }
            }).promise().done(function () {
                var partId = $("#ddlEdit" + id).val();

                $.each(partList, function (key, value) {
                    if (partId == value.Id) {
                        $("#spnEditCost" + id).text(value.CostPrice.toFixed(2));
                        $("#spnEditSale" + id).text(value.SalesPrice.toFixed(2));
                        $("#spnEditExtendedCost" + id).text(value.CostPrice.toFixed(2));
                        $("#spnEditExtendedSale" + id).text(value.SalesPrice.toFixed(2));
                        $("#txtEditQty" + id).val(1);
                        $("#spnDescEdit" + id).text(value.Description);
                        if (value.ImageName == "") {
                            $("#imgEdit" + id).attr('src', "../Images/NoImage.png");
                            $("#ancEdit" + id).attr('href', "javascript:void(0);");
                        }
                        else {
                            $("#imgEdit" + id).attr('src', value.ImageName);
                            $("#ancEdit" + id).attr('href', value.ImageName);
                        }
                    }
                });
                calculateTotalEdit();
            });
        }
        else {
            $("#imgEdit" + id).attr('src', "../Images/NoImage.png");
            $("#ancEdit" + id).attr('href', "javascript:void(0);");
            $("#spnDescEdit" + id).text('');
            $("#txtEditQty" + id).val('');
            $("#spnEditCost" + id).text('0.00');
            $("#spnEditSale" + id).text('0.00');
            $("#spnEditExtendedCost" + id).text('0.00');
            $("#spnEditExtendedSale" + id).text('0.00');
            calculateTotalEdit();
        }
    }

    function calculateTotalEdit() {
        var totalCost = 0.00;
        var totalSales = 0.00;
        var totalExtendedCost = 0.00;
        var totalExtendedSales = 0.00;
        $('tr', $("#datatable-fixed-header-EditKitAssembly").find('tbody')).each(function () {
            var rowId = this.id.toString().replace("trEdit", "");
            totalCost = totalCost + parseFloat($("#spnEditCost" + rowId).text());
            totalSales = totalSales + parseFloat($("#spnEditSale" + rowId).text());
            totalExtendedCost = totalExtendedCost + parseFloat($("#spnEditExtendedCost" + rowId).text());
            totalExtendedSales = totalExtendedSales + parseFloat($("#spnEditExtendedSale" + rowId).text());
        });
        $("#spnEditTotalCost").text(totalCost.toFixed(4));
        $("#spnEditTotalSale").text(totalSales.toFixed(2));
        $("#spnEditTotalExtendedCost").text(totalExtendedCost.toFixed(4));
        $("#spnEditTotalExtendedSale").text(totalExtendedSales.toFixed(2));
    }

    function editkitImageClick() {
        $("#editfileBtn").trigger('click');
    }

    function editShowImage(inputFile) {
        if (inputFile.files && inputFile.files[0]) {
            if (inputFile.files[0].type.split('/')[0].toString() == 'image') {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#editimgKit').attr('src', e.target.result);
                }
                reader.readAsDataURL(inputFile.files[0]);
            }
            else {
                alert('Invalid Image Fomat');
            }
        }
    }

    function validateAll_Edit() {
        var isValid = true;
        $('tr', $("#datatable-fixed-header-EditKitAssembly").find('tbody')).each(function () {
            var rowId = this.id.toString().replace("trEdit", "");
            if ($("#txtEditQty" + rowId).val() == "" || parseInt($("#txtEditQty" + rowId).val()) == 0) {
                $("#snpEditErrQty" + rowId).show();
                isValid = false;
            }
            else {
                $("#snpEditErrQty" + rowId).hide();
            }
        });

        if ($("#txtEditPartNumber").val() == "") {
            $("#snpErrEditKitPartNo").show();
            isValid = false;
        }
        else {
            $("#snpErrEditKitPartNo").hide();
        }

        if ($("#txtEditDescription").val() == "") {
            $("#snpErrEditKitDescription").show();
            isValid = false;
        }
        else {
            $("#snpErrEditKitDescription").hide();
        }

        if ($("#txtEditSuggestedSalesPrice").val() == "") {
            $("#snpErrEditKitSuggestedSalesPrice").show();
            isValid = false;
        }
        else {
            $("#snpErrEditKitSuggestedSalesPrice").hide();
        }

        if ($("#datatable-fixed-header-EditKitAssembly  tbody tr").length == 0) {
            $("#snpErrEditKitItems").show();
            isValid = false;
        }
        else {
            $("#snpErrEditKitItems").hide();
        }
        return isValid;
    }

    function search() {
        // Declare variables
        var input, filter, table, tr, td, i, j;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("datatable-fixed-header-Customer");
        tr = $("tbody>tr");

        // Loop through all table rows, and hide those who don't match the search query
        for (i = 0; i < tr.length; i++) {
            var flag = false;
            for (j = 0; j < tr[i].getElementsByTagName("td").length; j++) {
                td = tr[i].getElementsByTagName("td")[j];
                if (td) {
                    if (td.innerText.toUpperCase().indexOf(filter) > -1) {
                        flag = true;
                        // tr[i].style.display = "";
                    }
                    //else {
                    //    tr[i].style.display = "none";
                    //}
                }
            }
            if (flag == true) {
                tr[i].style.display = "";
            }
            else {
                tr[i].style.display = "none";
            }
        }
    }

</script>

<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        @if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
        {
            <div class="watermark">
                <span>TEST</span>
            </div>
        }
        <div class="x_content">
            <div class="col-sm-6" style="text-align:left">
                <button class="btn-rounded btn-primary marginbottom10 pull-left" onclick="exportPDF();"><i class="fa fa-file-pdf-o"></i> PDF</button>
                <button class="btn-rounded btn-primary marginbottom10 pull-left" onclick="exportExcel();" style="margin-left:10px"><i class="fa fa-file-excel-o"></i> Excel</button>
            </div>
            <div class="col-sm-6" style="text-align:right">
                <button class="btn-rounded btn-primary marginbottom10 pull-right" onclick="reset();" data-toggle="modal" data-target=".addKitAssebmly-modal"><i class="fa fa-plus-circle"></i> Add</button>
            </div>
            <div class="col-sm-12" style="text-align:right;padding:5px">
                <div class="col-sm-9"> </div>
                <div class="col-sm-1" style="text-align:right"> Search :  </div>
                <div class="col-sm-2">
                    <input type="text" id="myInput" onkeyup="search()" style="padding:5px">
                </div>
            </div>
            <div class="col-md-12 table-responsive">
                <div id="divPartNoList">
                    @Html.Partial("_KitAssemblyList", Model)
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" value="" id="hdnId" />
<div id="myModal" class="modal fade addKitAssebmly-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" style="width:70%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add Kit Assembly</h3>
            </div>
            <form id="formAddPurchaseOrder" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="col-sm-2" style="text-align:center">
                        <a id="ancKit" href="javascript:void(0);" target="_blank">
                            <img id="imgKit" onclick="kitImageClick()" style="cursor:pointer;height:100%;width:100%" src="~/Images/NoImage.png" alt="click to change the profile image.">
                            <input type="file" id="fileBtn" onchange="ShowImage(this)" style="display:none" />
                        </a>
                    </div>
                    <div class="col-sm-10">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Part Number </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" name="txtPartNumber" id="txtPartNumber" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <span id="snpErrAddKitPartNo" style="color:red;display:none">Kit assembly P/N cannot be left blank.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Description </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" name="txtDescription" id="txtDescription" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <span id="snpErrAddKitDescription" style="color:red;display:none">Description cannot be left blank.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Suggested Sales Price </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" name="txtSuggestedSalesPrice" id="txtSuggestedSalesPrice" required="required" class="form-control col-md-7 col-xs-12 decimalOnly" autocomplete="Off">
                                <span id="snpErrAddKitSuggestedSalesPrice" style="color:red;display:none">suggested sales price cannot be left blank.</span>

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Comment </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" name="txtComment" id="txtComment" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-12" style="text-align:center"><span id="snpErrAddKitItems" style="color:red;display:none">Please add the items for the kit assembly.</span></div>
                            <table id="datatable-fixed-header-AddKitAssembly" style="display:none;margin-top:25px" class="table table-striped table-bordered">
                                <thead style="background-color:#ededed">
                                    <tr>
                                        <th style="width:10%">Image</th>
                                        <th style="width:15%">Part Number</th>
                                        <th style="width:10%">Quantity</th>
                                        <th style="width:20%">Description</th>
                                        <th>Cost Price</th>
                                        <th>Sales Price</th>
                                        <th>Total Cost Price</th>
                                        <th>Total Sale Price</th>
                                        <th style="width:10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot style="background-color:#ededed">

                                </tfoot>
                            </table>
                            <div class="col-sm-12" style="padding-left:25px">
                                @*<button type="button"  class="btn pull-right" ><i class="fa fa-plus-circle"></i> Add new row</button>*@
                                <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                                    <span class="pull-right" data-toggle="tooltip" data-placement="top" title="">
                                        <a data-toggle="tooltip" data-placement="top" id="btnAddPartToAssembly" title="Add new part number" class="hi-icon fa fa-plus-circle btn-primary" href="javascript:void(0);"></a><b>Add Part</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" style="text-align:left">
                    <button type="button" id="btnCancelPartNo" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnAddPartNo" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade editKitAssebmly-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" style="width:70%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit Kit Assembly</h3>
            </div>
            <form id="formEditPurchaseOrder" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="col-sm-2" style="text-align:center">
                        <a id="ancKit" href="javascript:void(0);" target="_blank">
                            <img id="editimgKit" onclick="editkitImageClick()" style="cursor:pointer;height:100%;width:100%" src="~/Images/NoImage.png" alt="click to change the profile image.">
                            <input type="file" id="editfileBtn" onchange="editShowImage(this)" style="display:none" />
                        </a>
                    </div>
                    <div class="col-sm-10">

                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Part Number </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" name="txtEditPartNumber" id="txtEditPartNumber" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <span id="snpErrEditKitPartNo" style="color:red;display:none">Kit assembly P/N cannot be left blank.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Description </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" name="txtEditDescription" id="txtEditDescription" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <span id="snpErrEditKitDescription" style="color:red;display:none">Description cannot be left blank.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Suggested Sales Price </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" name="txtEditSuggestedSalesPrice" id="txtEditSuggestedSalesPrice" required="required" class="form-control col-md-7 col-xs-12 decimalOnly" autocomplete="Off">
                                <span id="snpErrEditKitSuggestedSalesPrice" style="color:red;display:none">suggested sales price cannot be left blank.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Comment </label>
                            <div class="col-md-4 col-sm-4 col-xs-12">
                                <input type="text" name="txtEditComment" id="txtEditComment" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group">
                            <div class="col-sm-12" style="text-align:center"><span id="snpErrEditKitItems" style="color:red;display:none">Please add the items for the kit assembly.</span></div>
                            <table id="datatable-fixed-header-EditKitAssembly" style="display:none;margin-top:25px" class="table table-striped table-bordered">
                                <thead style="background-color:#ededed">
                                    <tr>
                                        <th style="width:10%">Image</th>
                                        <th style="width:15%">Part Number</th>
                                        <th style="width:10%">Quantity</th>
                                        <th style="width:20%">Description</th>
                                        <th>Cost Price</th>
                                        <th>Sales Price</th>
                                        <th>Total Cost Price</th>
                                        <th>Total Sale Price</th>
                                        <th style="width:10%">Action</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                                <tfoot style="background-color:#ededed">

                                </tfoot>
                            </table>
                            <div class="col-sm-12" style="padding-left:25px">
                                @*<button type="button"  class="btn pull-right" ><i class="fa fa-plus-circle"></i> Add new row</button>*@
                                <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                                    <span class="pull-right" data-toggle="tooltip" data-placement="top" title="">
                                        <a data-toggle="tooltip" data-placement="top" id="btnAddPartToAssemblyEdit" title="Add new part number" class="hi-icon fa fa-plus-circle btn-primary" href="javascript:void(0);"></a><b>Add Part</b>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer" style="text-align:left">
                    <button type="button" id="btnEditCancelPartNo" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnUpdateKitAssembly" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>