﻿@model List<GA.DataTransfer.Classes_for_Web.PartNumberModel>
@using GA.Common;
@using System.Configuration;
@{
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;
    ViewBag.Title = "PartNo";

}
@Scripts.Render("~/bundles/Inventory")
<script src="~/js/Inventory.js"></script>

<style>
    * {
        box-sizing: border-box;
    }


    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
    }



    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete-items div:hover {
                /*when hovering an item:*/
                background-color: #e9e9e9;
            }

    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>

<style>
    #datatable-fixed-header-PartNo tbody tr td {
        word-break: break-all;
    }
</style>

@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark {
            z-index: 0;
        }

            .watermark span {
                -webkit-transform: rotate(228deg);
                -moz-transform: rotate(228deg);
                -o-transform: rotate(228deg);
                writing-mode: tb-rl;
            }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }

        .form-transparent input, .form-transparent select {
            background: transparent;
        }
    </style>
}
<style>
    .fa-green {
        color: green;
    }

    .fa-close {
        color: red;
    }

    .btn-purple {
        background-color: purple;
    }

        .btn-purple:hover, .btn-purple:focus, .btn-purple:active, .btn-purple.active, .open > .dropdown-toggle.btn-purple {
            background-color: purple;
            border-color: purple; /*set the color you want here*/
        }

    .btn-yellow {
        background-color: yellow;
    }

        .btn-yellow:hover, .btn-yellow:focus, .btn-yellow:active, .btn-yellow.active, .open > .dropdown-toggle.btn-yellow {
            background-color: yellow;
            border-color: yellow; /*set the color you want here*/
        }
</style>
<script type="text/javascript">

    function validate() {
        var costPrice = 0;
        var salesprice = 0;

        var isValid = true;
        if ($('#txtPartNo').val() == '') {
            $('#snpErrAdtxtPartNo').show();
            isValid = false;
        }
        else {
            $('#snpErrAdtxtPartNo').hide();
        }

        if($('#chkCanSold').is(":checked"))
        {

            if ($('#txtSalesPrice').val() == '') {
                $('#spnSalesPrice').show();
                isValid = false;
            }
            else {
                salesprice = parseFloat($('#txtSalesPrice').val());
                $('#spnSalesPrice').hide();
            }

            if (salesprice < costPrice) {
                $('#spnSalesPriceCompare').show();
                isValid = false;
            }
            else {
                $('#spnSalesPriceCompare').hide();
            }


        }

        if ($('#txtCostPrice').val() == '') {
            $('#spnCostPrice').show();
            isValid = false;
        }
        else {
            $('#spnCostPrice').hide();
            costPrice = parseFloat($('#txtCostPrice').val());
        }

        if ($('#txtRecommendQty').val() == '') {
            $('#spnRecommendQty').show();
            isValid = false;
        }
        else {
            $('#spnRecommendQty').hide();
        }



        return isValid;
    }

    function validateEdit() {
        var costPrice = 0;
        var salesprice = 0;
        var isValid = true;
        if ($('#txtEditPartNo').val() == '') {
            $('#snpErrEditPartNo').show();
            isValid = false;
        }
        else {
            $('#snpErrEditPartNo').hide();
        }

        if ($('#txtEditCostPrice').val() == '') {
            $('#spnEditCostPrice').show();
            isValid = false;
        }
        else {
            $('#spnEditCostPrice').hide();
            costPrice = parseFloat($('#txtEditCostPrice').val());
        }
        if($("#hdnEditCanSold").val() == true){
            if ($('#txtEditSalesPrice').val() == '') {
                $('#spnEditSalesPrice').show();
                isValid = false;
            }
            else {
                $('#spnEditSalesPrice').hide();
                salesprice = parseFloat($('#txtEditSalesPrice').val());

                if (salesprice < costPrice) {
                    $('#spnEditSalesPriceCompare').show();
                    isValid = false;

                }
                else {
                    $('#spnEditSalesPriceCompare').hide();
                }
            }

            if ($('#chkEditAlias').is(":checked")) {
                var arrMultipleUnits = [];
                $(".multipleSerialNo").each(function () {
                    if ($(this).val() != '') {
                        arrMultipleUnits.push($(this).val());
                    }
                });
                if (arrMultipleUnits.length == 0) {
                    $('#spnEditAlias').show();
                    isValid = false;
                }
                else {
                    $('#spnEditAlias').hide();
                }
            }
            else {
                $('#spnEditAlias').hide();
            }
        }

        if ($('#txtEditRecommendQty').val() == '') {
            $('#spnEditRecommendQty').show();
            isValid = false;
        }
        else {
            $('#spnEditRecommendQty').hide();
        }
        return isValid;
    }

    function reset() {
        $('#txtPartNo').val('');
        $('#txtDesctiption').val('');
        $("#chkIsSoftwareLevelApplicable").prop('checked', false);
        $('#txtRecommendQty').val('');
        $('#txtCostPrice').val('');
        $('#txtSalesPrice').val('');
        $('#txtComment').val('');
        $('select[name="ddlVendor"]').val('');
        $('#txtModelNo').val('');
        $('#snpErrAdtxtPartNo').hide();
        $('#spnSalesPrice').hide();
        $('#spnCostPrice').hide();
        $('#spnRecommendQty').hide();
        $("#chkIsInActive").prop('checked', false);

    }

    function copyAndCreateNewPartNo(partMaster) {
        $('#txtPartNo').val(partMaster.PartNumber);
        $('#txtModelNo').val(partMaster.ModelNumber);
        $('#txtDesctiption').val(partMaster.Description);
        $('#txtCostPrice').val(partMaster.CostPrice);
        $('#txtSalesPrice').val(partMaster.SalesPrice);
        $('#txtRecommendQty').val(partMaster.RecommendQuantity);
        $('select[name="ddlVendor"]').val(partMaster.VendorId);
        $('#txtComment').val(partMaster.Comment);
        if (partMaster.IsSoftwareLevelApplicable == true)
            $("#chkIsSoftwareLevelApplicable").prop('checked', true);
        else
            $("#chkIsSoftwareLevelApplicable").prop('checked', false);

        if (partMaster.IsSerialNumberRequired == true)
            $("#chkSerialNoRequired").prop('checked', true);
        else
            $("#chkSerialNoRequired").prop('checked', false);

        if (partMaster.IsInActive == true)
            $("#chkIsInActive").prop('checked', true);
        else
            $("#chkIsInActive").prop('checked', false);

        $('#myLoadingElement').hide();
        $(".addPartNo-modal").modal();
    }

    function ClonePartNo(id)
    {
        $('#myLoadingElement').show();
        $.post("/IMounts/Inventory/GetPartById", {
            id: id
        }, function (data) {
            copyAndCreateNewPartNo(data.response);
        });
    }

    function GetPartById(id)
    {
        $('#myLoadingElement').show();
        $.post("/IMounts/Inventory/GetPartById", {
            id: id
        }, function (data) {
            setEditPartNoText(data.response);
        });
    }

    function setEditPartNoText(partMaster) {
        $('#hdnPartNumberId').val(partMaster.PartNumberId);
        $('#txtEditPartNo').val(partMaster.PartNumber);
        $('#txtEditDescription').val(partMaster.Description);
        if (partMaster.IsSoftwareLevelApplicable == true)
            $("#chkIsSoftwareLevelApplicableEdit").prop('checked', true);
        else
            $("#chkIsSoftwareLevelApplicableEdit").prop('checked', false);

        if (partMaster.IsSerialNumberRequired == true)
            $("#chkSerialNoRequiredEdit").prop('checked', true);
        else
            $("#chkSerialNoRequiredEdit").prop('checked', false);

        if (partMaster.IsInActive == true){
            $("#chkEditIsInActive").prop('checked', true);
            $("#txtEditDescription").attr('disabled', 'disabled');
        }
        else{
            $("#chkEditIsInActive").prop('checked', false);
            $("#txtEditDescription").removeAttr('disabled');
        }

        $('#txtEditRecommendQty').val(partMaster.RecommendQuantity);
        $('#txtEditCostPrice').val(partMaster.CostPrice);
        $('#txtEditSalesPrice').val(partMaster.SalesPrice);
        $('#txtEditComment').val(partMaster.Comment);
        $('select[name="ddlEditVendor"]').val(partMaster.VendorId);
        $('#snpErrEditPartNo').hide();
        $('#spnEditSalesPrice').hide();
        $('#spnEditCostPrice').hide();
        $('#spnEditRecommendQty').hide();
        $('#txtEditModelNo').val(partMaster.ModelNumber);
        if (partMaster.IsAliasCreated == true) {
            $("#chkEditAlias").prop('checked', true);
            $("#ancShowAllAlias").show();
        }
        else {
            $("#chkEditAlias").prop('checked', false);
            $("#ancShowAllAlias").hide();
        }

        if (partMaster.IsMasterPart == true) {
            $("#chkEditAlias").show();
            if (partMaster.AliasList.length > 0) {
                var i = 101;
                $.each(partMaster.AliasList, function (index, value) {
                    $("#txt" + (index + i)).val(value);
                });
            }
            else {
                $(".multipleSerialNo ").val('');
            }
            $("#spnMasterPartNo").hide();
            $("#spnMasterPartNo").text("");

        }
        else {
            $("#spnMasterPartNo").show();
            $("#spnMasterPartNo").text("Master part number - " + partMaster.MasterPartNumber);
            $("#chkEditAlias").hide();
        }
        $("#hdnEditCanSold").val(partMaster.CanSold);
        $("#divEditSalesPrice").show();
        $("#divEditSerialNo").show();
        $("#divEditAlias").show();
        if(partMaster.CanSold == false)
        {
            $("#chkEditCanSold").prop('checked', false);
            $("#divEditSalesPrice").hide();
            $("#divEditSerialNo").hide();
            $("#divEditAlias").hide();
        }
        else{
            $("#chkEditCanSold").prop('checked', true);
        }


        $('#myLoadingElement').hide();
        $(".editPartNo-modal").modal();
    }

    function deletePartNumber(id) {
        bootbox.confirm("Are you sure to delete the part number?", function (result) {
            if (result) {
                $('#myLoadingElement').show();

                $.post("/IMounts/Inventory/DeletePartNo", {
                    id: id
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $('#myLoadingElement').hide();
                        bootbox.alert('PartNo deleted successfully.', function () {
                            $("#datatable-fixed-header-PartNo").dataTable().fnDraw();
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
        });
    }

    function AddRemoveDocs(partNo) {
        window.location.href = '/Inventory/EngineeringDocs?partNo=' + partNo;

    }

    function exportPDF() {

        $('#myLoadingElement').show();
        var url = '/IMounts/Inventory/PartNoExportPDF';
        window.open(url, '_blank');
        $('#myLoadingElement').hide();
    }

    function exportExcel() {
        $('#myLoadingElement').show();
        var url = '/IMounts/Inventory/PartNoExportExcel';
        window.open(url, '_blank');
        $('#myLoadingElement').hide();
    }

    var table;
    var lastSearch = '';
    var arrParts = [];
    $(document).ready(function () {

        var parts = @Html.Raw(ViewBag.MasterPartList);
        $.each(parts, function(idx, obj){

            arrParts.push(obj.PartNumber);
        });

        table =  $('#datatable-fixed-header-PartNo').DataTable({
            processing: true,
            serverSide: true,
            searchable: true,
            sortable: true,
            "order": [[0, "desc"]],
            ajax: {
                url: '@Url.Action("GetPartNumberInChunk")',
                type: 'POST',
                dataSrc: 'data',
                //data: {
                //    name : 'Atul'
                //}
            },
            columns: [
                { data: "SNO", name: "SNO" },
                {
                    "render": function (data, type, full) {
                        if (full.ImageName == "") {
                            return '<a href="javascript:void(0);"><img src="/Images/NoImage.png" height="50" width="50" /></a>';
                        }
                        else {
                            return '<a href="' + full.ImageName + '" target="_blank"><img src="' + full.ImageName + '" height="50" width="50" /></a>'
                        }
                    }
                },
                { data: "PartNumber", name: "PartNumber" },
                { data: "ModelNumber", name: "ModelNumber" },
                { data: "Description", name: "Description" },
                {
                    "render": function (data, type, full) {
                        if (full.CanSold == true) {
                            return '<span class="fa fa-check fa-green"></span>';
                        }
                        else {
                            return '<span class="fa fa fa-close"></span>';
                        }
                    }
                },
                {
                    "render": function (data, type, full) {
                        if (full.IsInActive == true) {
                            return '<span class="fa fa-check fa-green"></span>';
                        }
                        else {
                            return '<span class="fa fa fa-close"></span>';
                        }
                    }
                },
                {
                    "render": function (data, type, full) {
                        if (full.IsSoftwareLevelApplicable == true) {
                            return '<span class="fa fa-check fa-green"></span>';
                        }
                        else {
                            return '<span class="fa fa fa-close"></span>';
                        }
                    }
                },
                {
                    "render": function (data, type, full) {
                        if (full.IsSerialNumberRequired == true) {
                            return '<span class="fa fa-check fa-green"></span>';
                        }
                        else {
                            return '<span class="fa fa fa-close"></span>';
                        }
                    }
                },
                { data: "CostPrice", name: "CostPrice" },
                { data: "SalesPrice", name: "SalesPrice" },
                { data: "TotalUnitsAvailableForSale", name: "TotalUnitsAvailableForSale" },
                { data: "RecommendQuantity", name: "RecommendQuantity" },
                { data: "VendorName", name: "VendorName" },
                { data: "Comment", name: "Comment" },
                {
                    "render": function (data, type, full) {
                        var strclassYellow = '';
                        var style = "";
                        if( full.IsInActive == true )
                        {
                            strclassYellow = " btn-yellow";
                            style = 'style="color:black"';
                        }
                        else{
                            strclassYellow = "";
                            style = "";
                        }


                        var str = '<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="width:100%; display:flex;">'+
                            '<span data-toggle="tooltip" data-placement="top" title="Edit">'+
                                '<a href="javascript:void(0);" onclick="GetPartById(\'' + full.PartNumberId + '\')" '+style+'  class="hi-icon fa fa-edit btn-primary'+ strclassYellow +'"></a>' +
                            '</span>'+
                            '<a data-toggle="tooltip" data-placement="top" id="deleteMedCertClass" onclick="deletePartNumber(\'' +full.PartNumberId+'\')" title="Delete Part number?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>&nbsp;';
                        if (full.IsMasterPart)
                        {
                            if (full.IsAliasCreated)
                            {
                                str = str + '<a data-toggle="tooltip" data-placement="top" onclick="AddRemoveDocs(\''+full.PartNumber+'\')" title="Add/Remove engineering docs" class="hi-icon fa fa-folder-o btn-primary btn-purple" href="javascript:void(0);"></a>';
                            }
                            else
                            {
                                str = str + '<a data-toggle="tooltip" data-placement="top" onclick="AddRemoveDocs(\''+full.PartNumber+'\')" title="Add/Remove engineering docs" class="hi-icon fa fa-folder-o btn-primary" href="javascript:void(0);"></a>';
                            }
                        }
                        else
                        {
                            str = str + '<a data-toggle="tooltip" data-placement="top" onclick="AddRemoveDocs(\''+full.PartNumber+'\')" title="Master Folder'+ full.MasterPartNumber + '" class="hi-icon fa fa-folder-o btn-success" href="javascript:void(0);"></a>';
                        }
                        str = str + '<a data-placement="top" onclick="ClonePartNo(\'' + full.PartNumberId + '\')" title="Copy and create new part number" class="hi-icon fa fa-copy btn-primary"  ></a>';
                        str = str + '</div>';
                        return str;
                    }
                },
            ]
        });


        //table.on('search.dt', function (e) {
        //    var searchText = table.search();
        //    if (searchText && (searchText != lastSearch)) {
        //        lastSearch = searchText;
        //        currOrder = table.order();
        //        if ((currOrder[0][0] != 1) || (currOrder[0][1] != 'desc')) {
        //            table.order([2, 'asc']);
        //            table.draw();
        //        }
        //    }
        //});


        $('#btnAddPartNo').bind('click', function () {
            if (validate()) {
                $('#myLoadingElement').show();
                $('#btnCancelPartNo').click();
                $('#btnCancelPartNo').click();
                $.post("/IMounts/Inventory/AddPartNumber", {
                    PartNumber: $('#txtPartNo').val(),
                    Description: $('#txtDesctiption').val(),
                    IsSoftwareLevelApplicable: $('#chkIsSoftwareLevelApplicable').is(":checked"),
                    IsSerialNumberRequired: $('#chkSerialNoRequired').is(":checked"),
                    CostPrice: $('#txtCostPrice').val(),
                    SalesPrice: $('#txtSalesPrice').val(),
                    RecommendQuantity: $('#txtRecommendQty').val(),
                    Comment: $('#txtComment').val(),
                    VendorId: $('#ddlVendor').val(),
                    ModelNumber: $("#txtModelNo").val(),
                    IsInActive: $('#chkIsInActive').is(":checked"),
                    CanSold: $('#chkCanSold').is(":checked")
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $('#myLoadingElement').hide();
                        bootbox.alert('PartNo added successfully.', function () {
                            reset();
                            $("#datatable-fixed-header-PartNo").dataTable().fnDraw();
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
            event.preventDefault();
            return false;
        });

        $('#btnEditPartNo').bind('click', function () {
            if (validateEdit()) {
                $('#myLoadingElement').show();
                $('#snpErrEditPartNo').hide();
                $('#btnCancelEditPartNo').click();
                $('#btnCancelEditPartNo').click();
                var arrMultipleUnits = [];
                $(".multipleSerialNo").each(function () {
                    if ($(this).val() != '') {
                        arrMultipleUnits.push($(this).val());
                    }
                });

                $.post("/IMounts/Inventory/EditPartNo", {
                    PartNumber: $('#txtEditPartNo').val(),
                    PartNumberId: $('#hdnPartNumberId').val(),
                    Description: $('#txtEditDescription').val(),
                    IsSoftwareLevelApplicable: $('#chkIsSoftwareLevelApplicableEdit').is(":checked"),
                    IsSerialNumberRequired: $('#chkSerialNoRequiredEdit').is(":checked"),
                    CostPrice: $('#txtEditCostPrice').val(),
                    SalesPrice: $('#txtEditSalesPrice').val(),
                    RecommendQuantity: $('#txtEditRecommendQty').val(),
                    Comment: $('#txtEditComment').val(),
                    VendorId: $('#ddlEditVendor').val(),
                    ModelNumber: $('#txtEditModelNo').val(),
                    IsAliasCreated: $('#chkEditAlias').is(":checked"),
                    Alias: arrMultipleUnits.join(","),
                    IsInActive :  $('#chkEditIsInActive').is(":checked"),
                    CanSold: $('#chkEditCanSold').is(":checked")
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $('#myLoadingElement').hide();
                        bootbox.alert('PartNo updated successfully.', function () {
                            $('#txtEditPartNo').val('');
                            $('#txtEditDescription').val('');
                            $('#txtEditCostPrice').val('');
                            $('#txtEditSalesPrice').val('');
                            $('#txtEditRecommendQty').val('');
                            $('#txtEditComment').val('');
                            $('#txtEditModelNo').val('');
                            $("#chkSerialNoRequiredEdit").prop('checked', false);
                            $("#chkIsSoftwareLevelApplicableEdit").prop('checked', false);
                            $("#datatable-fixed-header-PartNo").dataTable().fnDraw();
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                            $(".editPartNo-modal").modal();
                        });
                    }
                });
            }
        });

        $('#chkEditAlias').change(function () {
            if ($(this).is(":checked")) {
                $("#btnCancelEditPartNo").click();
                $("#btnCancelEditPartNo").click();
                $("#spnPartAndDescription").text($("#txtEditPartNo").val() + ' ' + $("#txtEditDescription").val());
                $("#AddMultipleUnitModal").modal();
            }
        });

        $("#btnCancelMultipleUnits").bind('click', function () {

            $(".editPartNo-modal").modal();
        });

        $("#ancShowAllAlias").bind('click', function () {
            $("#btnCancelEditPartNo").click();
            $("#btnCancelEditPartNo").click();
            $("#AddMultipleUnitModal").modal();
        });

        $('#btnAddMultipleUnits').bind('click', function () {
            $("#btnCancelMultipleUnits").click();
            $("#btnCancelMultipleUnits").click();
            $("#ancShowAllAlias").show();
            $(".editPartNo-modal").modal();
        });


        $("#btnMasterSearch").bind('click', function () {
            if($("#txtMasterPartSearch").val() == '')
            {
                bootbox.alert("Search field cannot be left blank", function () {
                });
            }
            else{
                $('#myLoadingElement').show();
                table.ajax.url( "/IMounts/Inventory/GetPartsAndAliasByPartNumber?partNo=" + $('#txtMasterPartSearch').val() ).load();
                $('#myLoadingElement').hide();
            }
        });

        $('#chkCanSold').click(function () {
            var thisCheck = $(this);
            if (thisCheck.is(':checked')) {
                $("#divSerialNoRequired").show();
                $("#divSalesPrice").show();
            }
            else
            {
                $("#divSerialNoRequired").hide();
                $("#divSalesPrice").hide();
            }
        });

        $('#chkEditCanSold').click(function () {
            var thisCheck = $(this);
            if (thisCheck.is(':checked')) {
                $("#divEditSerialNo").show();
                $("#divEditSalesPrice").show();
            }
            else
            {
                $("#divEditSerialNo").hide();
                $("#divEditSalesPrice").hide();
            }
        });


        $("#btnResetMasterSearch").bind('click', function () {
            $('#myLoadingElement').show();
            table.ajax.url( "/IMounts/Inventory/GetPartNumberInChunk").load();

            $('#myLoadingElement').hide();
        });

        function boldString(result, querystr) {
            var reg = new RegExp(querystr, 'gi');
            return result.replace(reg, function (str) { return '<b>' + str + '</b>' });
        }

        function autocomplete(inp, arr) {
            //  inp = document.getElementById("txtPartNo");
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);

                var isRecordMatch = true;
                b = document.createElement("DIV");
                b.style.cssText = 'float:left;pointer-events: none;';
                b.className = 'col-sm-12';
                /*make the matching letters bold:*/

                b.innerHTML = '<span class="col-sm-11"><b>Master Part</b></span>';


                var isDataExist= false;
                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (arr[i].toUpperCase().indexOf(val.toUpperCase()) != -1) {
                        isDataExist = true;
                        if (isRecordMatch) {
                            a.appendChild(b);
                            isRecordMatch = false;
                        }

                        //if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        b.style.cssText = 'float:left;';
                        b.className = 'col-sm-12';

                        /*make the matching letters bold:*/
                        var formatStr = boldString(arr[i], val);
                        b.innerHTML = '<span class="col-sm-11">' + formatStr + '</span>';

                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            // inp.value = this.getElementsByTagName("input")[0].value;
                            var arrPartAndDesc = this.getElementsByTagName("input")[0].value;
                            $('#txtMasterPartSearch').val(arrPartAndDesc);
                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
        autocomplete(document.getElementById("txtMasterPartSearch"), arrParts );
    });
</script>
<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">

        <div class="x_content">
            @if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
            {
                <div class="watermark">

                    <span>TEST</span>
                </div>
            }
            <div class="col-sm-6" style="text-align:left">
                <button class="btn-rounded btn-primary marginbottom10 pull-left" onclick="exportPDF();"><i class="fa fa-file-pdf-o"></i> PDF</button>
                <button class="btn-rounded btn-primary marginbottom10 pull-left" onclick="exportExcel();" style="margin-left:10px"><i class="fa fa-file-excel-o"></i> Excel</button>
            </div>
            <div class="col-sm-6" style="text-align:right">
                <button class="btn-rounded btn-primary marginbottom10 pull-right" onclick="reset();" data-toggle="modal" data-target=".addPartNo-modal"><i class="fa fa-plus-circle"></i> Add</button>
            </div>
            <div class="col-md-12 col-sm-12" style="margin-bottom:10px">
                <div class="col-md-5 col-sm-5" style="text-align:right"><b>Master Part Search :</b></div>
                <div class="col-md-2 col-sm-2"><input type="text" name="txtMasterPartSearch" id="txtMasterPartSearch" class="form-control" autocomplete="Off"></div>
                <div class="col-md-5 col-sm-5" style="text-align:left">
                    <button id="btnMasterSearch" class="btn-rounded btn-primary">Search</button>
                    &nbsp;
                    <button id="btnResetMasterSearch" class="btn-rounded btn-primary">Reset</button>
                </div>
            </div>
            <div class="col-md-12 table-responsive">
                <div id="divPartNoList">
                    @*@Html.Partial("_PartNoList", Model)*@
                    <table id="datatable-fixed-header-PartNo" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>SNO</th>
                                <th>Image</th>
                                <th>Part No</th>
                                <th>Model No</th>
                                <th>Description</th>
                                <th>Can Sold?</th>
                                <th>InActive?</th>
                                <th>If s/w level applicable</th>
                                <th>Is S/N Required?</th>
                                <th>Cost Price</th>
                                <th>Sales Price</th>
                                <th>Available for sale</th>
                                <th>Recommended Qty on shelf</th>
                                <th>Vendor</th>
                                <th>Comment</th>
                                <th class="noExport">Action</th>
                            </tr>
                        </thead>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade addPartNo-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add Part Number</h3>
            </div>
            <form id="formAddPurchaseOrder" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Part No <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtPartNo" id="txtPartNo" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAdtxtPartNo" style="color:red;display:none">Part number cannot be left blank.</span>
                            <input type="hidden" id="hdnPartNumberId" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Model No </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtModelNo" id="txtModelNo" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Description </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtDesctiption" id="txtDesctiption" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Can Sold? </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="checkbox" name="chkCanSold" id="chkCanSold"  checked="checked"  autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group" id="divSalesPrice">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Sales Price <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtSalesPrice" id="txtSalesPrice" required="required" class="form-control col-md-7 col-xs-12 decimalOnly" autocomplete="Off">
                            <span id="spnSalesPrice" style="color:red;display:none">Sales price cannot be left blank.</span>
                            <span id="spnSalesPriceCompare" style="color:red;display:none">Sales price cannot be less then cost price.</span>
                        </div>
                    </div>
                    <div class="form-group" id="divCostPrice">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Cost Price <span class="required">*</span></label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtCostPrice" id="txtCostPrice" required="required" class="form-control col-md-7 col-xs-12 decimalOnly" autocomplete="Off">
                            <span id="spnCostPrice" style="color:red;display:none">Cost price cannot be left blank.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Recommended Qty on shelf <span class="required">*</span></label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtRecommendQty" id="txtRecommendQty" required="required" class="form-control col-md-7 col-xs-12 digitsOnly" autocomplete="Off">
                            <span id="spnRecommendQty" style="color:red;display:none">Recommended quantity price cannot be left blank.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Vendor </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownList("ddlVendor", (IEnumerable<SelectListItem>)ViewBag.vendorList, new { id = "ddlVendor", @class = "form-control col-md-7 col-xs-12" })
                            <br />
                            <span id="snpErrAddVendor" style="color:red;display:none">Please select the vendor name.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Comment </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtComment" id="txtComment" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">If S/W level applicable </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="checkbox" name="chkIsSoftwareLevelApplicable" id="chkIsSoftwareLevelApplicable" required="required" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group" id="divSerialNoRequired" >
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Serial Number Required? </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="checkbox" name="chkSerialNoRequired" id="chkSerialNoRequired" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">IsInActive </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="checkbox" name="chkIsInActive" id="chkIsInActive" autocomplete="Off">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelPartNo" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnAddPartNo" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
<input type="hidden" id="hdnEditCanSold" />
<div id="myModal" class="modal fade editPartNo-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit Part Number</h3>
            </div>
            <form id="formAddPurchaseOrder" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Part No <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditPartNo" id="txtEditPartNo" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrEditPartNo" style="color:red;display:none">Part number cannot be left blank.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Model No </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditModelNo" id="txtEditModelNo" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Description  </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditDescription" id="txtEditDescription" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Can Sold? </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="checkbox" name="chkEditCanSold" id="chkEditCanSold" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group" id="divEditSalesPrice">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Sales Price <span class="required">*</span></label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditSalesPrice" id="txtEditSalesPrice" required="required" class="form-control col-md-7 col-xs-12 decimalOnly" autocomplete="Off">
                            <span id="spnEditSalesPrice" style="color:red;display:none">Sales price cannot be left blank.</span>
                            <span id="spnEditSalesPriceCompare" style="color:red;display:none">Sales price cannot be less then cost price.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Cost Price <span class="required">*</span></label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditCostPrice" id="txtEditCostPrice" required="required" class="form-control col-md-7 col-xs-12 decimalOnly" autocomplete="Off">
                            <span id="spnEditCostPrice" style="color:red;display:none">Cost price cannot be left blank.</span>

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Recommended Qty on shelf <span class="required">*</span></label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditRecommendQty" id="txtEditRecommendQty" required="required" class="form-control col-md-7 col-xs-12 digitsOnly" autocomplete="Off">
                            <span id="spnEditRecommendQty" style="color:red;display:none">Recommended quantity price cannot be left blank.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Vendor </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @*<input type="text" name="txtEditVendor" id="txtEditVendor" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">*@
                            @Html.DropDownList("ddlEditVendor", (IEnumerable<SelectListItem>)ViewBag.vendorList, new { id = "ddlEditVendor", @class = "form-control col-md-7 col-xs-12" })
                            <br />
                            <span id="snpErrEditVendor" style="color:red;display:none">Vendor cannot be left blank.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Comment </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditComment" id="txtEditComment" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">If S/W level applicable </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="checkbox" name="chkIsSoftwareLevelApplicableEdit" id="chkIsSoftwareLevelApplicableEdit" required="required" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group" id="divEditSerialNo">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Serial Number Required? </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="checkbox" name="chkSerialNoRequiredEdit" id="chkSerialNoRequiredEdit" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">IsInActive </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="checkbox" name="chkEditIsInActive" id="chkEditIsInActive" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group" id="divEditAlias">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Create Alias </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <span style="display:none" id="spnMasterPartNo"></span>  <input type="checkbox" name="chkEditAlias" id="chkEditAlias" autocomplete="Off">  &nbsp;&nbsp;&nbsp;&nbsp;<a id="ancShowAllAlias" href="javascript:void(0);">Show all alias</a>
                            <br />
                            <span id="spnEditAlias" style="color:red;display:none">Alias list cannot be left blank.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelEditPartNo" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnEditPartNo" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="AddMultipleUnitModal" class="modal fade MultipleUnit-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add Alias</h3>
            </div>
            <form id="formSalse" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group clearfix">
                        <div class="col-sm-12" style="font-weight:bold">
                            <div class="col-sm-2"></div>
                            <div class="col-sm-10">
                                Master PN : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span id="spnPartAndDescription"></span>
                            </div>

                        </div>
                        <div class="col-sm-12" style="margin-top:20px;">
                            <label style="width:5%;float:left;"></label>
                            <label style="width:15%;float:left;text-align:center">Part Number</label>
                            <label style="width:5%;float:left;"></label>
                            <label style="width:15%;float:left;text-align:center">Part Number</label>
                            <label style="width:5%;float:left;"></label>
                            <label style="width:15%;float:left;text-align:center">Part Number</label>
                            <label style="width:5%;float:left;"></label>
                            <label style="width:15%;float:left;text-align:center">Part Number</label>
                            <label style="width:5%;float:left;"></label>
                            <label style="width:15%;float:left;text-align:center">Part Number</label>
                        </div>


                        @for (var i = 1; i < 11; i++)
                        {
                            <div class="col-sm-12">
                                <label class="control-label" style="width:5%;float:left;text-align:center">@i</label>
                                <div style="width:15%;float:left;">
                                    <input type="text" id="txt@(i+100)" tabindex="@(i+100)" class="form-control multipleSerialNo NumOnly" />
                                </div>
                                <label class="control-label" style="width:5%;float:left;text-align:center">@(i + 10)</label>
                                <div style="width:15%;float:left;">
                                    <input type="text" id="txt@(i + 110)" tabindex="@(i + 110)" class="form-control multipleSerialNo NumOnly" />
                                </div>
                                <label class="control-label" style="width:5%;float:left;text-align:center">@(i + 20)</label>
                                <div style="width:15%;float:left;">
                                    <input type="text" id="txt@(i + 120)" tabindex="@(i + 120)" class="form-control multipleSerialNo NumOnly" />
                                </div>
                                <label class="control-label" style="width:5%;float:left;text-align:center">@(i + 30)</label>
                                <div style="width:15%;float:left;">
                                    <input type="text" id="txt@(i + 130)" tabindex="@(i + 130)" class="form-control multipleSerialNo NumOnly" />
                                </div>
                                <label class="control-label" style="width:5%;float:left;text-align:center">@(i + 40)</label>
                                <div style="width:15%;float:left;">
                                    <input type="text" id="txt@(i + 140)" tabindex="@(i + 140)" class="form-control multipleSerialNo NumOnly" />
                                </div>

                            </div>
                        }
                        <div class="co"></div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" id="btnCancelMultipleUnits" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnAddMultipleUnits" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

