﻿@using GA.Common;
@using System.Configuration;

@{
    ViewBag.Title = "Customer";
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;

}


@Scripts.Render("~/bundles/Inventory")
@Scripts.Render("~/bundles/JqueryJs")
@*<script src="~/js/jquery.js"></script>*@
<script src="~/js/jquery.inputmask.js"></script>

@Scripts.Render("~/bundles/bootstrapJs")
@*< script src="~/vendors/bootstrap/dist/js/bootstrap.js"></script>*@
<script src="~/js/bootbox.js"></script>
<script src="~/js/Inventory.js"></script>

@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark {
            z-index: 0;
        }

            .watermark span {
                -webkit-transform: rotate(228deg);
                -moz-transform: rotate(228deg);
                -o-transform: rotate(228deg);
                writing-mode: tb-rl;
            }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }

        .form-transparent input, .form-transparent select {
            background: transparent;
        }
    </style>
}

<script type="text/javascript">
    function reset()
    {
        $("#txtIndex").val('');
        $("#txtDescription").val('');
    }

    function validate()
    {
        $('#snpErrInvalidIndex').hide();
        $('#snpErrAddIndex').hide();
        var isValid = true;

        if ($('#txtIndex').val() == '') {
            $('#snpErrAddIndex').show();
            isValid = false;
        }
        else {
            $('#snpErrAddIndex').hide();

            var pattern = /[0-9]+-$/;

            if(!pattern.test($("#txtIndex").val()))
            {
                $('#snpErrInvalidIndex').show();
                isValid = false;
            }
            else {
                $('#snpErrInvalidIndex').hide();
            }
        }
        return isValid;
    }

    function validateEdit()
    {
        var isValid = true;

        if ($('#txtEditIndex').val() == '') {
            $('#snpErrEditIndex').show();
            isValid = false;
        }
        else {
            $('#snpErrEditIndex').hide();
            var pattern = /[0-9]+-$/;

            if (!pattern.test($("#txtEditIndex").val())) {
                $('#snpErrEditInvalidIndex').show();
                isValid = false;
            }
            else {
                $('#snpErrEditInvalidIndex').hide();
            }
        }
        return isValid;
    }

    function getPartIndexById(id)
    {
        $.post("/IMounts/Inventory/GetPartIndexById", {
            id: id,
        }, function (data) {
            
                $('#myLoadingElement').hide();
                console.log('A');
                SetPartIndexEdit(data.response.Id, data.response.PartIndex, data.response.Description);
            
        });
    }

    function SetPartIndexEdit(id, index, desc)
    {
        console.log('B');
        $("#hdnPartId").val(id);
        $("#txtEditIndex").val(index);
        $("#txtEditDescription").val(desc);
        $(".editPartIndex-modal").modal();
    }

    function DeletePartIndex(id)
    {
        bootbox.confirm("Are you sure to delete the part index?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Inventory/DeletePartIndex", {
                    id: id,
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                            $("#datatable-fixed-header-PartIndex").dataTable().fnDraw();
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });

                    }
                });
            }
        });
    }

    $(document).ready(function () {
        $('#datatable-fixed-header-PartIndex').DataTable({
            //processing: true,
            serverSide: true,
            searchable: true,
            //  sortable: true,
            // "order": [[0, "desc"]],
            ajax: {
                url: '@Url.Action("GetPartIndexInChunk")',
                type: 'POST',
                dataSrc: 'data',

            },
            columns: [
                { data: "SNO", name: "SNO" },
                { data: "PartIndex", name: "PartIndex" },
                { data: "Description", name: "Description" },
                 { data: "LastAddedPartNumber", name: "LastAddedPartNumber" },
                {
                    "render": function (data, type, full) {
                        return '<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> <span data-toggle="tooltip" data-placement="top" title="Edit"><a href="javascript:void(0);" onclick="getPartIndexById(\'' + full.Id + '\');"   data-placement="top" class="hi-icon fa fa-edit btn-primary"></a></span> <a data-toggle="tooltip" data-placement="top" id="btnDeleteCustomer" onclick="DeletePartIndex(\'' + full.Id + '\')" title="Delete RMA?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a> </div>';
                    }
                },
            ]
        });

        $('#btnAddPartIndex').bind('click', function () {
            if (validate()) {
                $('#myLoadingElement').show();
                $('#btnCancelAddPartIndex').click();
                $('#btnCancelAddPartIndex').click();
                $.post("/IMounts/Inventory/AddPartIndex", {
                    index: $('#txtIndex').val(),
                    description: $('#txtDescription').val(),
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                            $("#datatable-fixed-header-PartIndex").dataTable().fnDraw();
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });

                    }
                });
            }

        });

        $('#btnEditPartIndex').bind('click', function () {
            if (validateEdit()) {
                $('#myLoadingElement').show();
                $('#btnCancelEditPartIndex').click();
                $('#btnCancelEditPartIndex').click();
                $.post("/IMounts/Inventory/EditPartIndex", {
                    index: $('#txtEditIndex').val(),
                    description: $('#txtEditDescription').val(),
                    id: $('#hdnPartId').val(),
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                            $("#datatable-fixed-header-PartIndex").dataTable().fnDraw();
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });

                    }
                });
            }

        });
    });

</script>

<input type="hidden" id="hdnPartId" value="" />
<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div class="x_content">
            @if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
            {
                <div class="watermark">

                    <span>TEST</span>
                </div>
            }
            <button class="btn-rounded btn-primary marginbottom10 pull-right" data-toggle="modal" onclick="reset();" data-target=".addPartIndex-modal"><i class="fa fa-plus-circle"></i> Add</button>

            <div class="col-md-12 table-responsive">
                <div id="divCustomerList">

                    <table id="datatable-fixed-header-PartIndex" class="table table-striped table-bordered fold-table" style="width:100%;">
                        <thead>
                            <tr>
                                <th>SNO</th>
                                <th>PartNumber</th>
                                <th>Description</th>
                                <th>Last Added Part Number</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade addPartIndex-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Part Index</h3>
            </div>
            <form id="formAddRMA" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Index </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtIndex" id="txtIndex" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAddIndex" style="color:red;display:none">Index number is required.</span>
                            <span id="snpErrInvalidIndex" style="color:red;display:none">Invalid Index number.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Description </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtDescription" id="txtDescription" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelAddPartIndex" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnAddPartIndex" tabindex="9" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>



<div id="myModal" class="modal fade editPartIndex-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit Part Index</h3>
            </div>
            <form id="formAddRMA" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Index </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditIndex" id="txtEditIndex" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrEditIndex" style="color:red;display:none">Index number is required.</span>
                            <span id="snpErrEditInvalidIndex" style="color:red;display:none">Invalid Index number.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Description </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditDescription" id="txtEditDescription" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelEditPartIndex" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnEditPartIndex" tabindex="9" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>