﻿@model List<GA.DataTransfer.Classes_for_Web.PurchaseOrderModel>
@*@model GA.DataTransfer.Classes_for_Web.PurchaseOrderListModel*@
@using GA.Common;
@using System.Configuration;
@{
    ViewBag.Title = "PurchaseOrder";
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;
}


@Scripts.Render("~/bundles/Inventory")

<script type="text/javascript">

</script>

<script type="text/javascript">

    function validate() {
        var isValid = true;
        if ($('#txtPurchaseOrderNo').val() == '') {
            $('#snpErrAdPurchaseOrderNo').show();
            isValid = false;
        }
        else {
            $('#snpErrAdPurchaseOrderNo').hide();
        }

        if ($('#txtPartNo').val() == '') {
            $('#snpErrAddPartNo').show();
            isValid = false;
        }
        else {
            $('#snpErrAddPartNo').hide();
        }

        if ($('#ddlVendor').val() == '') {
            $('#snpErrAddVendor').show();
            isValid = false;
        }
        else {
            $('#snpErrAddVendor').hide();
        }

        if ($('#ddlReceiver').val() == '') {
            $('#snpErrAddReceivedBy').show();
            isValid = false;
        }
        else {
            $('#snpErrAddReceivedBy').hide();
        }


        if ($('#txtQuantity').val() == '') {
            $('#snpErrAddQuantity').show();
            isValid = false;
        }
        else {
            if(parseInt($('#txtQuantity').val()) == 0)
            {
                $('#snpErrAddZeroQuantity').show();
                isValid = false;
            }
            else{
                $('#snpErrAddZeroQuantity').hide();
            }
            $('#snpErrAddQuantity').hide();
        }


        if ($('#txtSerialNo').val() == '') {
            $('#snpErrAddSerialNo').show();
            isValid = false;
        }
        else {
            $('#snpErrAddSerialNo').hide();
        }

        if ($('#hdnIsSoftwareLevelApplicable').val() == 'true') {
            if ($('#txtSoftwareLevel').val() == '') {
                $('#snpErrAddSoftwareLevel').show();
                isValid = false;
            }
            else {
                $('#snpErrAddSoftwareLevel').hide();
            }

            if ($("#txtStartingBoardNo").val() == '') {
                $('#snpErrAddStartingBoardNo').show();
                isValid = false;
            }
            else {
                $('#snpErrAddStartingBoardNo').hide();
            }
        }

        return isValid;
    }


    function validateEdit() {
        var isValid = true;

        if ($('#ddlEditPartNo').val() == '') {
            $('#snpErrEditPartNo').show();
            isValid = false;
        }
        else {
            $('#snpErrEditPartNo').hide();
        }

        if ($('#ddlEditVendor').val() == '') {
            $('#snpErrEditVendor').show();
            isValid = false;
        }
        else {
            $('#snpErrEditVendor').hide();
        }

        if ($('#ddlEditReceiver').val() == '') {
            $('#snpErrEditReceivedBy').show();
            isValid = false;
        }
        else {
            $('#snpErrEditReceivedBy').hide();
        }
        return isValid;
    }

    function reset() {
        $('#txtPurchaseOrderNo').val('');
        $('#txtPartNo').val('');
        $('#txtDescription').val('');
        $('#txtVendor').val('');
        $('#txtReceivedBy').val('');
        $('#txtQuantity').val('');
        $('#txtSerialNo').val('');
        $('#ddlVendor').val('');
        $('#ddlReceiver').val('');
        $('#snpErrAdPurchaseOrderNo').hide();
        $('#snpErrAddPartNo').hide();
        $('#snpErrAddVendor').hide();
        $('#snpErrAddReceivedBy').hide();
        $('#snpErrAddQuantity').hide();
        $("#snpErrAddSerialNo").hide();
        $("#snpErrAddSoftwareLevel").hide();
        $("#snpErrAddStartingBoardNo").hide();
        $("#divSoftwareLevel").hide();
        $("#tblBoardSerialList > tbody").html("");
        $('#chkEditBoardSNatReceive').prop('checked', false);
        GetMaxSerialNumber();
    }


    function resetEdit() {
        $('#txtEditPurchaseOrderNo').val('');
        $('#ddlEditPartNo').val('');
        $('#txtEditDescription').val('');
        $('#txtEditVendor').val('');
        $('#txtEditReceivedBy').val('');
        $('#txtEditQuantity').val('');
        $('#txtEditSerialNo').val('');
        $('#txtEditReceiver').val('');
        $('#snpErrEditPartNo').hide();
        $('#snpErrEditVendor').hide();
        $('#snpErrEditReceivedBy').hide();
    }

    function getPurchaseOrderById(id) {
        $('#myLoadingElement').show();
        resetEdit();
        $.post("/IMounts/Inventory/GetPurchaseOrderById", {
            id: id
        }, function (data) {

            $('#txtEditPurchaseOrderNo').val(data.response.PurchaseOrderNumber);
            //$('select[name="ddlEditPartNo"]').val(data.response.PartNumberId);
            $('#txtEditPartNo').val(data.response.PartNo);
            $('select[name="ddlEditVendor"]').val(data.response.VendorId);
            $('select[name="ddlEditReceiver"]').val(data.response.ReceiverId);
            $('#txtEditDescription').val(data.response.Description);
            $('#txtEditReceivedBy').val(data.response.ReceivedBy);
            $('#txtEditQuantity').val(data.response.Quantity);
            $('#txtEditSerialNo').val(data.response.StartSerialNo);
            $('#hdnEditPurchaseOrderId').val(data.response.PurchaseOrderId);
            $('#myLoadingElement').hide();
            $('#myEditModal').modal('toggle');
        });
    }


    function deletePurchaseOrder(id) {
        bootbox.confirm("Are you sure to delete purchase order?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Inventory/DeletePurchaseOrder", {
                    id: id
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $('#myLoadingElement').hide();
                        bootbox.alert('Purchase order deleted successfully.', function () {
                            $("#datatable-fixed-header-table").dataTable().fnDraw();
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
        });
    }

    function GetMaxSerialNumber() {
        $.post("/IMounts/Inventory/GetMaxSerialNumber", {
        }, function (data) {
            $('#txtSerialNo').val(data);
        });
    }

    function isNumberKey(evt) {
        var charCode = (evt.which) ? evt.which : event.keyCode
        if (charCode > 31 && (charCode < 48 || charCode > 57))
            return false;

        return true;
    }

    function GetPartDetailsbyPartNo (partNo) {
        $('#myLoadingElement').show();
        $.post("/IMounts/Inventory/GetPartDetailsbyPartNo", {
            partNo:  partNo
        }, function (data) {
            $("#txtSoftwareLevel").val('');
            $('select[name="ddlVendor"]').val(data.VendorId);
            if (data.IsSoftwareLevelApplicable != null) {
                if (data.IsSoftwareLevelApplicable) {
                    $("#divSoftwareLevel").show();
                    $("#hdnIsSoftwareLevelApplicable").val('true');
                    $("#txtStartingBoardNo").val(data.BoardSerialNumber);
                }
                else {
                    $("#divSoftwareLevel").hide();
                    $("#hdnIsSoftwareLevelApplicable").val('false');
                    $("#txtStartingBoardNo").val(null);
                }

                if(data.IsSerialNumberRequired)
                {
                    $("#divSerialNo").show();
                }
                else{
                    $("#divSerialNo").hide();
                }
            }
            $('#txtDescription').val(data.Description);
            $('#myLoadingElement').hide();
        });

    }

    function exportPDF()
    {

        $('#myLoadingElement').show();
        var url = '/IMounts/Inventory/PurchaseOrderExportPDF';
        window.open(url, '_blank');
        $('#myLoadingElement').hide();
    }

    function exportExcel()
    {
        $('#myLoadingElement').show();
        var url = '/IMounts/Inventory/PurchaseOrderExportExcel';
        window.open(url, '_blank');
        $('#myLoadingElement').hide();
    }

    var table;

    $(document).ready(function () {
        $('#datatable-fixed-header-table').DataTable({
            processing: true,
            serverSide: true,
            searchable: true,
            sortable: true,
            "order": [[0, "desc"]],
            ajax: {
                url: '@Url.Action("GetPurchaseOrderInChunk")',
                type: 'POST',
                dataSrc: 'data',

            },
            columns: [
                { data: "SNO", name: "SNO" },
                { data: "CreatedOn", name: "CreatedOn" },
                { data: "PurchaseOrderNumber", name: "PurchaseOrderNumber" },
                { data: "PartNo", name: "PartNo" },
                { data: "Description", name: "Description" },
                {
                    "render": function (data, type, full) {
                        if(full.IsSoftwareLevelApplicable)
                        {
                            return '<span class="fa fa-check fa-green"></span>';
                        }
                        else{
                            return '<span class="fa fa-close"></span>';
                        }
                    }
                },

                { data: "SoftwareLevel", name: "SoftwareLevel" },
                { data: "VendorName", name: "VendorName" },
                { data: "ReceivedBy", name: "ReceivedBy" },
                { data: "Quantity", name: "Quantity" },

                  {
                      "render": function (data, type, full) {
                          if(full.IsSerialNumberRequired)
                          {
                              return  full.StartSerialNo;
                          }
                          else{
                              return '';
                          }
                      }
                  },
                   {
                       "render": function (data, type, full) {
                           if(full.IsSerialNumberRequired)
                           {
                               return  parseInt(full.StartSerialNo) + parseInt(full.Quantity) - 1;
                           }
                           else{
                               return '';
                           }
                       }
                   },
                    {
                        "render": function (data, type, full) {
                            if(full.IsSerialNumberRequired)
                            {
                                return full.StartingBoardSerialNo;
                            }
                            else{
                                return '';
                            }
                        }
                    },
                    {
                        "render": function (data, type, full) {
                            if(full.IsSerialNumberRequired)
                            {
                                if((full.StartingBoardSerialNo) == null)
                                    return '';
                                else
                                    return parseInt(full.StartingBoardSerialNo) + parseInt(full.Quantity) - 1;
                            }
                            else{
                                return '';
                            }
                        }
                    },
                {
                    "render": function (data, type, full) {
                        return '<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a" style="display:flex;">'+
                        '<span data-toggle="tooltip" data-placement="top" title="Edit">'+
                            '<a href="javascript:void(0);" onclick="getPurchaseOrderById(\''+ full.PurchaseOrderId +'\')" class="hi-icon fa fa-edit btn-primary"></a>'+
                        '</span>'+
                        '<a data-toggle="tooltip" data-placement="top" id="deleteMedCertClass" title="Delete MedCertClass?" onclick="deletePurchaseOrder(\'' + full.PurchaseOrderId +'\')" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>'+
                        '<a data-toggle="tooltip" data-placement="top" href="/IMounts/Inventory/Units?key=PurchaseOrderId&value='+ encodeURIComponent(full.PurchaseOrderId)+'" id="" title="view units" class="hi-icon fa fa-eye btn-primary" href="javascript:void(0);"></a>'+
                    '</div>';
                    }
                },
            ]
        });


        var statesAvailable = @Html.Raw(ViewBag.PartNumberListTemp);

        var countries = [];
        $.each(statesAvailable, function(idx, obj){

            countries.push(obj.Text + '    ' + obj.Value);
        });

        $('#txtPartNo, #ddlVendor, #ddlReceiver').on('focus', function () {
            $(this).addClass('highlight').find('option').css('color', '#000');
        }).on('blur', function () {
            $(this).removeClass('highlight');

        });





        $('#btnAddPurchaseOrder').bind('click', function () {
            if (validate()) {
                $('#myLoadingElement').show();


                $.post("/IMounts/Inventory/ValidatePurchaseOrder", {
                    StartSerialNo: $('#txtSerialNo').val(),
                    Quantity: $('#txtQuantity').val(),
                    StartingBoardSerialNo: $('#txtStartingBoardNo').val(),
                    PONumber: $('#txtPurchaseOrderNo').val(),
                    PartNo : $('#txtPartNo').val(),
                }, function (validateData) {
                    if (validateData.response.ResponseCode == '0') {
                        var frmdata = new FormData();
                        var BoardNoList = [];
                        var isListValid = true;
                        $('tr', $("#tblBoardSerialList").find('tbody')).each(function () {
                            var rowId = this.id.toString().replace("tr", "");
                            if($("#txtBSNList" + rowId).val() == '' || $("#txtSWLevelList" + rowId).val() == ''){
                                isListValid = false;
                                return false;
                            }
                            BoardNoList.push({
                                'BoardSerialNo': parseInt($("#txtBSNList" + rowId).val()),
                                'SWLevel': $("#txtSWLevelList" + rowId).val(),
                            });
                        });
                        if(isListValid){
                            $('#snpErrAddBoardSerialNoList').hide();
                            if ($('input[name="chkEditBoardSNatReceive"]').is(':checked')) {
                                frmdata.append("BoardNoList", JSON.stringify(BoardNoList));
                            }

                            frmdata.append("PurchaseOrderNumber", $('#txtPurchaseOrderNo').val());
                            frmdata.append("PartNo", $('#txtPartNo').val());
                            frmdata.append("VendorId", $('#ddlVendor').val());
                            frmdata.append("ReceiverId", $("#ddlReceiver").val());
                            frmdata.append("Quantity", $("#txtQuantity").val());
                            frmdata.append("StartSerialNo", $("#txtSerialNo").val());
                            frmdata.append("SoftwareLevel", $("#txtSoftwareLevel").val());
                            frmdata.append("StartingBoardSerialNo", $("#txtStartingBoardNo").val());
                            frmdata.append("IsEditBoardSerialNoAtReceive", $('input[name="chkEditBoardSNatReceive"]').is(':checked'));

                            $.ajax({
                                url: '@Url.Action("/AddPurchaseOrder")',
                                type: "POST",
                                processData: false,
                                contentType: false,
                                data: frmdata,
                                success: function (data) {
                                    if (data.response.ResponseCode == '0') {
                                        $('#myLoadingElement').hide();
                                        $('#btnCancelPurchaseOrder').click();
                                        $('#btnCancelPurchaseOrder').click();
                                        bootbox.alert('Purchase order inserted successfully.', function () {
                                            $("#datatable-fixed-header-table").dataTable().fnDraw();
                                        });
                                    }
                                    else {
                                        $('#myLoadingElement').hide();
                                        bootbox.alert(data.response.ResponseMessage, function () {
                                        });
                                    }
                                },
                                error: function (er) {
                                }
                            });

                        }
                        else{
                            $('#snpErrAddBoardSerialNoList').show();
                            $('#myLoadingElement').hide();
                        }
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(validateData.response.ResponseMessage, function () {
                        });
                    }

                });
            }
            event.preventDefault();
            return false;
        });


        $('#btnEditPurchaseOrder').bind('click', function () {
            if (validateEdit()) {
                $('#myLoadingElement').show();
                $('#btnCancelEditPurchaseOrder').click();
                $('#btnCancelEditPurchaseOrder').click();
                $.post("/IMounts/Inventory/EditPurchaseOrder", {
                    PartNo : $('#txtEditPartNo').val(),
                    VendorId: $('#ddlEditVendor').val(),
                    ReceiverId: $('#ddlEditReceiver').val(),
                    PurchaseOrderId: $('#hdnEditPurchaseOrderId').val(),
                    PurchaseOrderNumber: $('#txtEditPurchaseOrderNo').val()
                }, function (data) {
                    if (data.response.ResponseCode == 0) {

                        $('#myLoadingElement').hide();
                        $('#btnCancelPurchaseOrder').click();
                        $('#btnCancelPurchaseOrder').click();
                        bootbox.alert('Purchase order updated successfully.', function () {
                            resetEdit();
                            $("#datatable-fixed-header-table").dataTable().fnDraw();
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
            event.preventDefault();
            return false;
        });

        $(".NumOnly").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                return false;
            }
        });

        $('#chkEditBoardSNatReceive').click(function () {
            var thisCheck = $(this);
            if (thisCheck.is(':checked')) {
                if (validate()) {
                    var startBoardSN = parseInt($("#txtStartingBoardNo").val());
                    var swLevel = $("#txtSoftwareLevel").val();
                    var qty = parseInt($("#txtQuantity").val());
                    var startSerialNo = parseInt($("#txtSerialNo").val());
                    var tblStr = '';
                    var sno = 1;
                    var mamSerialNo = startBoardSN + qty;
                    for (var i = startBoardSN; i < mamSerialNo ; i++) {
                        tblStr = tblStr + '<tr id="tr' + sno + '">' +
                                  '<td><input type="text" value="'+startSerialNo+'" disabled="disabled"  class="form-control col-sm-3"></td>'+
                                  '<td><input id="txtBSNList' + sno + '" onkeypress="return isNumberKey(event)" type="text" value="' + startBoardSN + '" class="form-control col-sm-3 NumOnly"></td>' +
                                  '<td><input id="txtSWLevelList' + sno + '" type="text" value="' + swLevel + '"  class="form-control col-sm-3 NumOnly"></td>' +
                                  '</tr>';
                        sno = sno + 1;
                        startBoardSN = startBoardSN + 1;
                        startSerialNo = startSerialNo + 1;
                    }
                    $("#tblBoardSerialList tbody").append(tblStr);
                    $("#divBoardSerialNoList").show();
                }
                else {
                    $('#chkEditBoardSNatReceive').prop('checked', false);
                }
            }
            else {

                $("#tblBoardSerialList > tbody").html("");
                $("#divBoardSerialNoList").hide();
            }
        });

        function boldString(result, querystr){

            var reg = new RegExp(querystr, 'gi');
            return result.replace(reg, function(str) {return '<b>'+str+'</b>'});
        }


        function autocomplete(inp, arr, inputId) {

            //  inp = document.getElementById("txtPartNo");
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);

                var isRecordMatch = true;
                b = document.createElement("DIV");
                b.style.cssText = 'float:left;pointer-events: none;';
                b.className = 'col-sm-12';
                /*make the matching letters bold:*/
                b.innerHTML = '<span class="col-sm-4"><b>Part No</b></span><span class="col-sm-7"><b>Decsciption</b></span>';
                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if(arr[i].toUpperCase().indexOf(val.toUpperCase()) != -1){

                        if(isRecordMatch){
                            a.appendChild(b);
                            isRecordMatch = false;
                        }

                        //if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        b.style.cssText = 'float:left;';
                        b.className = 'col-sm-12';

                        /*make the matching letters bold:*/
                        var formatStr = boldString(arr[i],val );
                        b.innerHTML = '<span class="col-sm-4">'+formatStr.split('    ')[0]+'</span><span class="col-sm-7">'+formatStr.split('    ')[1]+'</span>';

                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            // inp.value = this.getElementsByTagName("input")[0].value;
                            var arrPartAndDesc = this.getElementsByTagName("input")[0].value.split('    ');
                            if(inputId =='txtPartNo'){
                                $('#txtPartNo').val(arrPartAndDesc[0]);
                                $('#txtDescription').val(arrPartAndDesc[1]);
                                closeAllLists();
                                GetPartDetailsbyPartNo(arrPartAndDesc[0]);
                            }
                            else{
                                $('#txtEditPartNo').val(arrPartAndDesc[0]);
                                $('#txtEditDescription').val(arrPartAndDesc[1]);
                                closeAllLists();
                            }
                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/


                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        /*An array containing all the country names in the world:*/
        //  var countries = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Anguilla", "Antigua & Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia & Herzegovina", "Botswana", "Brazil", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central Arfrican Republic", "Chad", "Chile", "China", "Colombia", "Congo", "Cook Islands", "Costa Rica", "Cote D Ivoire", "Croatia", "Cuba", "Curacao", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands", "Faroe Islands", "Fiji", "Finland", "France", "French Polynesia", "French West Indies", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Isle of Man", "Israel", "Italy", "Jamaica", "Japan", "Jersey", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kosovo", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Monaco", "Mongolia", "Montenegro", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauro", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Korea", "Norway", "Oman", "Pakistan", "Palau", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russia", "Rwanda", "Saint Pierre & Miquelon", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Korea", "South Sudan", "Spain", "Sri Lanka", "St Kitts & Nevis", "St Lucia", "St Vincent", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Timor L'Este", "Togo", "Tonga", "Trinidad & Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks & Caicos", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States of America", "Uruguay", "Uzbekistan", "Vanuatu", "Vatican City", "Venezuela", "Vietnam", "Virgin Islands (US)", "Yemen", "Zambia", "Zimbabwe"];

        /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
        autocomplete(document.getElementById("txtPartNo"), countries, 'txtPartNo');
        autocomplete(document.getElementById("txtEditPartNo"), countries,'txtEditPartNo' );
    });
</script>

<style>
    .required {
        color: red;
    }

    .highlight {
        border: 5px solid black;
        color: black;
        font-weight: bold;
    }

    .fa-green {
        color: green;
    }

    .fa-close {
        color: red;
    }
</style>
<style>
    * {
        box-sizing: border-box;
    }


    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
    }



    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete-items div:hover {
                /*when hovering an item:*/
                background-color: #e9e9e9;
            }

    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>
@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark span {
            -webkit-transform: rotate(228deg);
            -moz-transform: rotate(228deg);
            -o-transform: rotate(228deg);
            writing-mode: tb-rl;
        }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }
    </style>
}

<input type="hidden" value="" id="hdnIsSoftwareLevelApplicable" />
<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div class="x_content">
            @if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
            {
                <div class="watermark">
                    <span>TEST</span>
                </div>
            }
            <div class="col-sm-6" style="text-align:left">
                <button class="btn-rounded btn-primary marginbottom10 pull-left" onclick="exportPDF();"><i class="fa fa-file-pdf-o"></i> PDF</button>
                <button class="btn-rounded btn-primary marginbottom10 pull-left" onclick="exportExcel();" style="margin-left:10px"><i class="fa fa-file-excel-o"></i> Excel</button>
            </div>
            <div class="col-sm-6" style="text-align:right">
                <button class="btn-rounded btn-primary marginbottom10 pull-right" data-toggle="modal" onclick="reset()" data-target=".addPurchaseOrder-modal"><i class="fa fa-plus-circle"></i> Create</button>
            </div>

            <div class="col-md-12 table-responsive">
                <div id="divPurchaseOrderList">
                    @*@Html.Partial("_PurchaseOrderList", Model)*@
                    <table id="datatable-fixed-header-table" class="table table-striped table-bordered display">
                        <thead>
                            <tr>
                                <th>Receive Order</th>
                                <th>Create Date</th>
                                <th>PO Number</th>
                                <th>Part No</th>
                                <th>Description</th>
                                <th>Is SW Applicable?</th>
                                <th>SW level</th>
                                <th>Vendor</th>
                                <th>Received By</th>
                                <th>Quantity</th>
                                <th>Start Serial No.</th>
                                <th>End Serial No.</th>
                                <th>Starting Board S/N No.</th>
                                <th>End Board S/N No.</th>
                                <th class="noExport">Action</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade addPurchaseOrder-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add Receive Order</h3>
            </div>
            <form id="formAddPurchaseOrder" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Purchase Order No. <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtPurchaseOrderNo" id="txtPurchaseOrderNo" tabindex="1" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAdPurchaseOrderNo" style="color:red;display:none">Purchase order number cannot be left blank.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Part No. <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtPartNo" id="txtPartNo" required="required" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            @*@Html.DropDownList("ddlPartNo", (IEnumerable<SelectListItem>)ViewBag.PartNumberList, new { id = "ddlPartNo", @class = "form-control col-md-7 col-xs-12", tabindex = "2" })*@
                            <br />
                            <span id="snpErrAddPartNo" style="color:red;display:none">Please select the part number.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Description </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtDescription" id="txtDescription" tabindex="3" readonly="readonly" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            @*<span id="snpErrAddProductName" style="color:red;display:none">Product name cannot be left blank.</span>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Vendor <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownList("ddlVendor", (IEnumerable<SelectListItem>)ViewBag.vendorList, new { id = "ddlVendor", @class = "form-control col-md-7 col-xs-12", tabindex = "4" })
                            <br />
                            <span id="snpErrAddVendor" style="color:red;display:none">Please select the vendor name.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Received By <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @*<input type="text" name="txtReceivedBy" id="txtReceivedBy" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">*@
                            @Html.DropDownList("ddlReceiver", (IEnumerable<SelectListItem>)ViewBag.ReceiverList, new { id = "ddlReceiver", @class = "form-control col-md-7 col-xs-12", tabindex = "5" })
                            <br />
                            <span id="snpErrAddReceivedBy" style="color:red;display:none">Please select the receiver name.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Quantity <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="number" name="txtQuantity" id="txtQuantity" tabindex="6" required="required" class="form-control col-md-7 col-xs-12 NumOnly" autocomplete="Off">
                            <br />
                            <span id="snpErrAddQuantity" style="color:red;display:none">Quantity cannot be left blank.</span>
                            <span id="snpErrAddZeroQuantity" style="color:red;display:none">Quantity cannot be 0.</span>
                        </div>
                    </div>
                    <div id="divSerialNo">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Start Serial No. <span class="required">*</span> </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input type="number" name="txtSerialNo" id="txtSerialNo" tabindex="7" required="required" class="form-control col-md-7 col-xs-12 NumOnly" autocomplete="Off">
                                <br />
                                <span id="snpErrAddSerialNo" style="color:red;display:none">Start serial no cannot be left blank.</span>
                            </div>
                        </div>
                    </div>
                    <div id="divSoftwareLevel" style="display:none">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Software Level <span class="required">*</span> </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input type="text" name="txtSoftwareLevel" id="txtSoftwareLevel" tabindex="8" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrAddSoftwareLevel" style="color:red;display:none">Software level cannot be left blank.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Starting Board S/N <span class="required">*</span> </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input type="number" name="txtStartingBoardNo" id="txtStartingBoardNo" tabindex="9" required="required" class="form-control col-md-7 col-xs-12 NumOnly" autocomplete="Off">
                                <br />
                                <span id="snpErrAddStartingBoardNo" style="color:red;display:none">Starting Board S/N cannot be left blank.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Edit Board S/N at Receiving</label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input type="checkbox" name="chkEditBoardSNatReceive" id="chkEditBoardSNatReceive" tabindex="10" autocomplete="Off">
                            </div>
                        </div>
                        <div id="divBoardSerialNoList" class="form-group" style="display:none">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Board Serial No List</label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <table id="tblBoardSerialList" cellspacing="5">
                                    <thead style="text-align:center;font-weight:bold">
                                        <tr>
                                            <td>Serial No</td>
                                            <td>Board Serial No</td>
                                            <td>S/W Level</td>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                                <span id="snpErrAddBoardSerialNoList" style="color:red;display:none">Board serial no and s/w level cannot be empty</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelPurchaseOrder" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnAddPurchaseOrder" tabindex="10" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="myEditModal" class="modal fade editPurchaseOrder-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit Receive Order</h3>
            </div>
            <form id="formAddPurchaseOrder" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Purchase Order No. <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditPurchaseOrderNo" id="txtEditPurchaseOrderNo" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <input type="hidden" id="hdnEditPurchaseOrderId" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Part No. <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @*@Html.DropDownList("ddlEditPartNo", (IEnumerable<SelectListItem>)ViewBag.PartNumberList, new { id = "ddlEditPartNo", @class = "form-control col-md-7 col-xs-12", tabindex = "1" })*@
                            <input type="text" name="txtEditPartNo" id="txtEditPartNo" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrEditPartNo" style="color:red;display:none">Please select the part number.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Description </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditDescription" id="txtEditDescription" readonly="readonly" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Vendor <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @*<input type="text" name="txtEditVendor" id="txtEditVendor" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">*@
                            @Html.DropDownList("ddlEditVendor", (IEnumerable<SelectListItem>)ViewBag.vendorList, new { id = "ddlEditVendor", @class = "form-control col-md-7 col-xs-12", tabindex = "2" })
                            <br />
                            <span id="snpErrEditVendor" style="color:red;display:none">Vendor cannot be left blank.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Received By <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @*<input type="text" name="txtEditReceivedBy" id="txtEditReceivedBy" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">*@
                            @Html.DropDownList("ddlEditReceiver", (IEnumerable<SelectListItem>)ViewBag.ReceiverList, new { id = "ddlEditReceiver", @class = "form-control col-md-7 col-xs-12", tabindex = "3" })
                            <br />
                            <span id="snpErrEditReceivedBy" style="color:red;display:none">Receiver cannot be left blank.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Quantity <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="number" name="txtEditQuantity" disabled="disabled" id="txtEditQuantity" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Start Serial No. <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="number" name="txtEditSerialNo" disabled="disabled" id="txtEditSerialNo" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelEditPurchaseOrder" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnEditPurchaseOrder" tabindex="4" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>