﻿@model List<GA.DataTransfer.Classes_for_Web.UnitDetailedSheetModel>
@using GA.Common;
@using System.Configuration;
@{
    ViewBag.Title = "Reports";
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;
}

@Scripts.Render("~/bundles/Inventory")
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/datepicker.css" rel="stylesheet" />

<script type="text/javascript">
    var table;
    var tableSummary;
    $(document).ready(function () {
        table = $('#datatable-fixed-header-Details').dataTable();
        tableSummary = $('#datatable-fixed-header-Summary').dataTable();

        $('#tbDetails').hide();
        $('#tbSummary').hide();

        $('#btnSearch').bind('click', function () {
            $('#myLoadingElement').show();
            var flag = false;
            if ($("#ddlReportType").val() == 'DetailedReport')
            {
                flag = true;
            }
            $.post("/IMounts/Inventory/GetReport", {
                partId: $("#ddlPartNumber").val(),
                partNumber : $("#ddlPartNumber option:selected").text(),
                serialNumber: $("#txtSerialNo").val(),
                status: $("#ddlStatus").val(),
                isDetailedSheet : flag,
                startDate : $('#txtStartDate').val(),
                endDate : $('#txtEndDate').val()
            }, function (unitList) {
                if(flag == true)
                {

                    $('#divReport').html(unitList);
                    table = $('#datatable-fixed-header-Details').DataTable({
                        destroy: true,
                        paging: false
                    });
                    $('#tbDetails').show();
                    $('#tbSummary').hide();
                    if (parseInt($("#datatable-fixed-header-Details").attr('count')) > 0)
                    {
                        $('#DownloadPDF').show();
                    }
                    else{
                        $('#DownloadPDF').hide();
                    }
                }
                else{

                    $('#divReport').html(unitList);
                    tableSummary = $('#datatable-fixed-header-Summary').DataTable({
                        destroy: true,
                        paging: false
                    });
                    $('#tbDetails').hide();
                    $('#tbSummary').show();
                    if (parseInt($("#datatable-fixed-header-Summary").attr('count')) > 0)
                    {
                        $('#DownloadPDF').show();
                    }
                    else{
                        $('#DownloadPDF').hide();
                    }
                }
                $('#myLoadingElement').hide();
            });
        });

        $("#ddlStatus").change(function() {
            if( $('option:selected', this).val() == '0' )
                $("#divDate").hide();
            else
                $("#divDate").show();
        });

        $('#DownloadPDF').bind('click', function () {
            $('#myLoadingElement').show();
            var flag = false;
            if ($("#ddlReportType").val() == 'DetailedReport') {
                flag = true;
            }
            var url = '/IMounts/Inventory/DownloadPDF?partId=' + $("#ddlPartNumber").val() + '&partNumber=' + $("#ddlPartNumber option:selected").text() + '&serialNumber=' + $("#txtSerialNo").val() + '&status=' + $("#ddlStatus").val() + '&isDetailedSheet=' +flag + '&startDate=' + $('#txtStartDate').val() + '&endDate=' + $('#txtEndDate').val();

            window.open(url, '_blank');
            $('#myLoadingElement').hide();
        });

        $('#DownloadAvailableForSalePDF').bind('click', function () {
            $('#myLoadingElement').show();
            var flag = false;

            var url = '/IMounts/Inventory/GetAvailableForSaleReport?statusId=' + @((int)Enumerations.UnitStatus.AvailableForSale);

            window.open(url, '_blank');
            $('#myLoadingElement').hide();
        });
    });

    $(function () {
        $('#txtStartDate, #txtEndDate').datepicker({
            format: 'mm-dd-yyyy',
            autoclose: true,
        });

        $('.datepicker-days').on('click', 'td.day', function (e) {
            e.preventDefault();
            $('#txtStartDate,#txtEndDate').datepicker('hide');
        });

        $('#txtStartDate,#txtEndDate').keypress(function (e) {
            return false;
        });
    });
</script>
@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark {
            z-index: 0 !important;
            top: 5%;
            opacity: 0.2;
        }

            .watermark span {
                -webkit-transform: rotate(228deg);
                -moz-transform: rotate(228deg);
                -o-transform: rotate(228deg);
                writing-mode: tb-rl;
            }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }

        .form-transparent input, .form-transparent select {
            background: transparent;
        }
    </style>
}
<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        @if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
        {
            <div class="watermark">
                <span>TEST</span>
            </div>
        }
        <div class="col-md-3 no-padding margintop20">
            &nbsp;
        </div>
        <div class="col-md-6 no-padding margintop20 form-transparent">
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Select Part Number </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    @Html.DropDownList("ddlPartNumber", (IEnumerable<SelectListItem>)ViewBag.PartNumberList, new { id = "ddlPartNumber", @class = "form-control col-md-7 col-xs-12" })
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Serial Number </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="text" name="txtSerialNo" id="txtSerialNo" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Status </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    @Html.DropDownList("ddlStatus", (IEnumerable<SelectListItem>)ViewBag.AllStatus, new { id = "ddlStatus", @class = "form-control col-md-7 col-xs-12" })
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Report Type </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <select id="ddlReportType" class="form-control col-md-7 col-xs-12">
                        <option value="DetailedReport">Detailed Report</option>
                        <option value="SummaryReport">Summary Report</option>
                    </select>
                </div>
            </div>
            <div class="form-group clearfix" id="divDate" style="display:none">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Start Date </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <div class="col-sm-4">
                        <input type="text" name="txtStartDate" id="txtStartDate" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                    </div>
                    <div class="col-sm-4" style="text-align:right"><label class="control-label" for="">End Date : </label></div>
                    <div class="col-sm-4">
                        <input type="text" name="txtEndDate" id="txtEndDate" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                    </div>

                </div>
            </div>
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for=""></label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <button type="button" id="btnSearch" class="btn btn-primary">Search</button>
                    <button type="button" id="DownloadPDF" style="display:none;" class="btn btn-primary">DownloadPDF</button>
                    <button type="button" id="DownloadAvailableForSalePDF" class="btn btn-primary">New Report</button>
                </div>
            </div>
        </div>
        <div class="x_content" style="margin-top:20px;">
            <div id="divReport">
                @Html.Partial("_ReportPartial", Model)
            </div>
        </div>
    </div>
</div>
 