﻿@model List<GA.DataTransfer.Classes_for_Web.ResolutionModel>
@using GA.Common;
@using System.Configuration;
@{
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;
    ViewBag.Title = "Resolution";

}

@Scripts.Render("~/bundles/Inventory")

@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark span {
            -webkit-transform: rotate(228deg);
            -moz-transform: rotate(228deg);
            -o-transform: rotate(228deg);
            writing-mode: tb-rl;
        }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }
    </style>
}

<script type="text/javascript">

    function validate() {
        var isValid = true;
        if ($('#txtResolution').val() == '') {
            $('#snpErrAddResolution').show();
            isValid = false;
        }
        else {
            $('#snpErrAddResolution').hide();
        }
        return isValid;
    }

    function reset() {
        $('#txtResolution').val('');
        $('#snpErrAddResolution').hide();
    }

    function setEditResolution(obj) {
        $('#hdnResolutionId').val(obj.EncryptId);
        $('#txtEditResolution').val(obj.ResolutionDetail);
        $('#snpErrEditResolution').hide();

    }

    function deleteResolution(id) {
        bootbox.confirm("Are you sure to delete the Resolution?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Inventory/DeleteResolution", {
                    id: id
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $.post("/IMounts/Inventory/GetResolution", {

                        }, function (ResolutionList) {

                            $('#divResolutionList').html('');
                            $('#divResolutionList').html(ResolutionList);
                            table = $('#datatable-fixed-header-Resolution').DataTable({
                                "order": [[0, "desc"]]
                            });
                            $('#myLoadingElement').hide();
                            bootbox.alert('Record deleted successfully.', function () {
                            });
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
        });
    }


    var table;
    $(document).ready(function () {

        table = $('#datatable-fixed-header-Resolution').DataTable({
            "order": [[0, "desc"]]
        });

        $('#btnAddResolution').bind('click', function () {
        if (validate()) {
            $('#myLoadingElement').show();
            $('#btnCancelAddResolution').click();
            $('#btnCancelAddResolution').click();
            $.post("/IMounts/Inventory/AddResolution", {
                resolutionDetail: $('#txtResolution').val()
            }, function (data) {
                if (data.response.ResponseCode == 0) {
                    $.post("/IMounts/Inventory/GetResolution", {

                    }, function (ResolutionList) {

                        $('#divResolutionList').html('');
                        $('#divResolutionList').html(ResolutionList);
                        table = $('#datatable-fixed-header-Resolution').DataTable({
                            "order": [[0, "desc"]]
                        });
                        $('#myLoadingElement').hide();
                        bootbox.alert('Record added successfully.', function () {
                            reset();
                        });
                    });
                }
                else {
                    $('#myLoadingElement').hide();
                    bootbox.alert(data.response.ResponseMessage, function () {
                    });
                    $('#txtResolution').val('');
                }
            });
        }
        event.preventDefault();
        return false;
    });

        $('#btnEditResolution').bind('click', function () {
            if ($('#txtEditResolution').val() != '') {
            $('#myLoadingElement').show();
            $('#snpErrEditResolution').hide();
            $('#btnCancelEditResolution').click();
            $('#btnCancelEditResolution').click();
                $.post("/IMounts/Inventory/EditResolution", {
                ResolutionDetail: $('#txtEditResolution').val(),
                id: $('#hdnResolutionId').val()
            }, function (data) {
                if (data.response.ResponseCode == 0) {
                    $.post("/IMounts/Inventory/GetResolution", {

                    }, function (ResolutionList) {

                        $('#divResolutionList').html('');
                        $('#divResolutionList').html(ResolutionList);
                        table = $('#datatable-fixed-header-Resolution').DataTable({
                            "order": [[0, "desc"]]
                        });
                        $('#myLoadingElement').hide();
                        bootbox.alert('Record updated successfully.', function () {
                            $('#txtEditResolution').val('');
                        });
                    });
                }
                else {
                    $('#myLoadingElement').hide();
                    bootbox.alert(data.response.ResponseMessage, function () {
                    });
                }
            });
        }
        else {
            $('#myLoadingElement').hide();
            $('#snpErrEditResolution').show();
        }
    });
    });
</script>
<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div class="x_content">
            @if (ViewBag.UserType != Enumerations.UserType.InventorySales.ToString())
            {
                <button class="btn-rounded btn-primary marginbottom10 pull-right" data-toggle="modal" onclick="reset();" data-target=".addResolution-modal"><i class="fa fa-plus-circle"></i> Add</button>
            }
            <div id="divResolutionList">
                @Html.Partial("_ResolutionList", Model)
            </div>
        </div>
    </div>
</div>



<div id="myModal" class="modal fade addResolution-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add Resolution</h3>
            </div>
            <form id="formAddVendor" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Resolution <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtResolution" id="txtResolution" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAddResolution" style="color:red;display:none">Resolution cannot be left blank.</span>
                            <input type="hidden" id="hdnResolutionId" value="" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelAddResolution" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnAddResolution" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade editResolution-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit Resolution</h3>
            </div>
            <form id="" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Resolution <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditResolution" id="txtEditResolution" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrEditResolution" style="color:red;display:none">Resolution cannot be left blank.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelEditResolution" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnEditResolution" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>


