﻿
@model List<GA.DataTransfer.Classes_for_Web.RMAModel>

@using GA.Common;
@using System.Configuration;

@{
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    var userType = ViewBag.UserType;

    Layout = "~/Views/Shared/" + master;
    ViewBag.Title = "Invoice";

}


@Scripts.Render("~/bundles/Inventory")
<script src="~/js/jquery.inputmask.js"></script>
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/datepicker.css" rel="stylesheet" />
<script src="~/js/Inventory.js"></script>
<style>
    * {
        box-sizing: border-box;
    }


    .autocomplete {
        /*the container must be positioned relative:*/
        position: relative;
        display: inline-block;
    }



    .autocomplete-items {
        position: absolute;
        border: 1px solid #d4d4d4;
        border-bottom: none;
        border-top: none;
        z-index: 99;
        /*position the autocomplete items to be the same width as the container:*/
        top: 100%;
        left: 0;
        right: 0;
    }

        .autocomplete-items div {
            padding: 10px;
            cursor: pointer;
            background-color: #fff;
            border-bottom: 1px solid #d4d4d4;
        }

            .autocomplete-items div:hover {
                /*when hovering an item:*/
                background-color: #e9e9e9;
            }

    .autocomplete-active {
        /*when navigating through the items using the arrow keys:*/
        background-color: DodgerBlue !important;
        color: #ffffff;
    }
</style>

@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark {
            z-index: 0 !important;
            top: 5%;
        }

            .watermark span {
                -webkit-transform: rotate(228deg);
                -moz-transform: rotate(228deg);
                -o-transform: rotate(228deg);
                writing-mode: tb-rl;
            }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }

        .form-transparent input, .form-transparent select {
            background: transparent;
        }
    </style>
}

<script>
    function validate() {
        var isValid = true;

        if ($('#hdnCustomerId').val() == '') {
            $('#snpErrAddCustomer').show();
            isValid = false;
        }
        else {
            $('#snpErrAddCustomer').hide();
        }



        if ($('#ddlStatus').val() == '') {
            $('#snpErrAddStatus').show();
            isValid = false;
        }
        else {
            $('#snpErrAddStatus').hide();
        }

        if ($('#ddlReceiver').val() == '') {
            $('#snpErrAddReceiver').show();
            isValid = false;
        }
        else {
            $('#snpErrAddReceiver').hide();
        }



        return isValid;
    }

    function validateEdit() {
        var isValid = true;

        if ($('#hdnCustomerId').val() == '') {
            $('#snpErrEditCustomer').show();
            isValid = false;
        }
        else {
            $('#snpErrEditCustomer').hide();
        }

        if ($('#ddlEditStatus').val() == '') {
            $('#snpErrEditStatus').show();
            isValid = false;
        }
        else {
            $('#snpErrEditStatus').hide();
        }

        if ($('#ddlEditReceiver').val() == '') {
            $('#snpErrEditReceiver').show();
            isValid = false;
        }
        else {
            $('#snpErrEditReceiver').hide();
        }



        return isValid;
    }

    function resetEdit() {
        $('#txtEditCustomerName').val();
        $('#txtEditSerialNo').val('');
        $('#txtEditModelNo').val('');
        $('#txtEditDiscrepancy').val('');
        $('select[name="ddlEditReceiver"]').val("");
        $('select[name="ddlStatus"]').val("");
        $('#txtEditResoultion').val('');
        $('#txtEditTrackingNo').val('');
        $('#hdnCustomerId').val('');
    }

    function reset() {
        $("#spnRMANo").text(parseInt($("#datatable-fixed-header-RMA").attr("recordCount")));
        $('#txtSerialNo').val('');
        $('#txtModelNo').val('');
        $('#txtDiscrepancy').val('');
        $('select[name="ddlReceiver"]').val("");
        $('select[name="ddlStatus"]').val("");
        $('#txtResoultion').val('');
        $('#txtTrackingNo').val('');
        $('#hdnCustomerId').val('');
        $('#txtCustomerName').val('');
        $('#txtRMACompanyName').val('');
    }

    function getRMADetails(id) {
        $('#myLoadingElement').show();
        $.post("/IMounts/Inventory/GetRMADetailsById", {
            id: id
        }, function (data) {
            $('#txtEditCustomerName').val(data.response.CustomerName);
            $('#txtRMAEditCompanyName').val(data.response.CompanyName);
            $('#hdnCustomerId').val(data.response.CustomerId);
            $('#txtEditPartDescription').val(data.response.Description);
            $('#txtEditSerialNo').val(data.response.SerialNo);
            $('#txtEditModelNo').val(data.response.ModelNo);
            $('select[name="ddlEditDiscrepancy"]').val(data.response.DiscrepancyId);
            $('select[name="ddlEditReceiver"]').val(data.response.ReceiverId);
            $('#txtEditResoultion').val(data.response.ResolutionId);
            $('select[name="ddlEditResolution"]').val(data.response.ResolutionId);
            $('#txtEditTrackingNo').val(data.response.TrackingNo);
            $("#spneditRMANo").text(data.response.Id);
            var flag = false;
            $('#ddlEditStatus').empty();
            $("#btnEditCustomer").hide();
            $.each(data.statusList, function (key, value) {
                $("#ddlEditStatus").append('<option  value="' + value.Value + '"> ' + value.Text + ' </option>');
            });
            $('select[name="ddlEditStatus"]').val(data.response.StatusId);
            $("#hdnRMAId").val(data.response.tId);
            $("#txtRMAEditPhone").val(data.response.PhoneNo);
            $("#txtRMAEditEmail").val(data.response.EmailId);
            $('.editRMA-modal').modal();
            $('#myLoadingElement').hide();
        });
    }

    function GetStatusHistoryByRMAId(id, serialNo, rid) {
        $('#myLoadingElement').show();
        $.post("/IMounts/Inventory/GetStatusHistoryByRMAId", {
            id: id
        }, function (data) {
            var str = '';
            $.each(data.statusHistoryList, function (key, value) {
                str = str + '<tr><td>' + value.Status + '</td><td>' + value.Date + '</td><td>' + value.Receiver + '</td></tr>'
            });
            $("#spnHistoryHeader").text("Status History for S/N - " + serialNo);
            $("#tblRMAHistory > tbody").html("");
            $('#tblRMAHistory tbody').append(str);
            $('#spnhistoryRMANo').text(rid);
            $('#myLoadingElement').hide();
        });
    }

    function deleteRMA(id) {
        bootbox.confirm("Are you sure to delete the RMA record?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Inventory/deleteRMA", {
                    id: id
                }, function (data) {
                    if (data.response.ResponseCode == '0') {
                        $('#myLoadingElement').hide();
                        bootbox.alert('RMA record deleted successfully.', function () {
                            $("#datatable-fixed-header-RMA").dataTable().fnDraw();
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
        });
    }

    function resetCustomer(activityType) {
        $("#hdnActivityType").val(activityType);
        $("#txtEditCustomerName").val('');
        $("#txtCustomerName").val('');
        $('select[name="ddlCustomerType"]').val("");
        $('#txtFirstName').val($('#txtCustomerName').val());
        $('#txtLastName').val('');
        $('#txtEmail').val('');
        $('#txtPhone').val('');
        $('#txtCompanyName').val('');
        $('#snpErrAddEmail').hide();
        $('#snpErrAddLastName').hide();
        $('#snpErrAddFirstName').hide();
        $('#snpErrAddCustomer').hide();

        $('#btnCancelRMA').click();
        $('#btnCancelRMA').click();
        $('#btnEditCancelRMA').click();
        $('#btnEditCancelRMA').click();

    }

    function btnAddRMAClick()
    {
        window.location = '/IMounts/Inventory/AddReturnManufactureAuth';
    }

    function btnEditRMAClick(id)
    {
        window.location = '/IMounts/Inventory/AddReturnManufactureAuth?rmaId=' + encodeURIComponent(id);
    }

    function validateCustomer() {
        var isValid = true;


        if ($('#txtFirstName').val() == '') {
            $('#snpErrAddFirstName').show();
            isValid = false;
        }
        else {
            $('#snpErrAddFirstName').hide();
        }
        if ($('#txtLastName').val() == '') {
            $('#snpErrAddLastName').show();
            isValid = false;
        }
        else {
            $('#snpErrAddLastName').hide();
        }



        if ($('#txtEmail').val() != '') {
            //if (!ValidateEmail($('#txtEmail').val())) {
            //    $('#snpErrAddEmail').show();
            //    isValid = false;
            //}
            //else {
            //    $('#snpErrAddEmail').hide();
            //}
        }
        return isValid;
    }
    var arrParts = [];
    var arrCustomers = [];
    $(document).ready(function () {

        $('#txtPhone').mask('999-999-9999');

        $('#datatable-fixed-header-RMA').DataTable({
            processing: true,
            serverSide: true,
            searchable: true,
            sortable: true,
            "order": [[0, "desc"]],
            ajax: {
                url: '@Url.Action("GetRMAInChunk")',
                type: 'POST',
                dataSrc: function (json) {
                    $("#datatable-fixed-header-RMA").attr("recordCount", json.maxRMANo);
                    return json.data;
                }
            },
            columns: [
                { data: "Id", name: "Id" },
                { data: "CreatedDate", name: "CreatedDate" },
                { data: "CustomerName", name: "CustomerName" },
                { data: "EmailId", name: "EmailId" },
                { data: "PhoneNo", name: "PhoneNo" },
              
                { data: "Discrepancy", name: "Discrepancy" },
              
                { data: "Receiver", name: "Receiver" },
                { data: "Resolution", name: "Resolution" },
                { data: "TrackingNo", name: "TrackingNo" },
                { data: "UnitCount", name: "UnitCount" },
                { data: "Comments", name: "Comments" },
                {
                    "render": function (data, type, full) {
                        return ' <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">' +
                        '<span data-toggle="tooltip" data-placement="top" title="Edit">' +
                            '<a href="javascript:void(0);" onclick="btnEditRMAClick(\'' + full.tId + '\');" data-placement="top" class="hi-icon fa fa-edit btn-primary"></a>' +
                        '</span>' +
                        '<a data-toggle="modal" data-placement="top" data-target=".history-modal" onclick="GetStatusHistoryByRMAId(\'' + full.tId + '\', \'' + full.SerialNo + '\', \'' + full.Id + '\')" title="View Status History" class="hi-icon fa fa-eye btn-primary" href="javascript:void(0);"></a>' +
                        '<a data-toggle="tooltip" data-placement="top" id="deleteCustomer" onclick="deleteRMA(\'' + full.tId + '\')" title="Delete RMA?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>' +
                    '</div>';
                    }
                },
            ]
        });

        $('#btnCustomer').bind('click', function () {
            if (validateCustomer()) {
                $('#btnCancelAddCustomer').click();
                $('#btnCancelAddCustomer').click();
                $('#myLoadingElement').show();
                var frmdata = new FormData();
                frmdata.append("CustomerTypeId", $('#ddlCustomerType').val());
                frmdata.append("FirstName", $('#txtFirstName').val());
                frmdata.append("LastName", $('#txtLastName').val());
                frmdata.append("Email", $('#txtEmail').val());
                frmdata.append("PhoneNo", $('#txtPhone').val());
                frmdata.append("CompanyName", $('#txtCompanyName').val());
                $.ajax({
                    url: '@Url.Action("/AddInventoryCustomer")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: frmdata,
                    success: function (data) {
                        if (data.response.ResponseCode == '0') {
                            $('#myLoadingElement').hide();

                            $('#txtCustomerName').val('');
                            $('#btnAddCustomer').hide();
                            bootbox.alert('Customer inserted successfully.', function () {
                                if ($("#hdnActivityType").val() == 'Add') {
                                    $('.addRMA-modal').modal();
                                }
                                else {
                                    $('.editRMA-modal').modal();
                                }
                                $("#hdnActivityType").val('');
                            });
                        }
                        else {
                            $('#myLoadingElement').hide();
                            bootbox.alert(data.response.ResponseMessage, function () {
                            });
                        }
                    },
                    error: function (er) {
                    }
                });
            }
        });

        $('#btnAddRMA').bind('click', function () {

            $('#myLoadingElement').show();
            if (validate()) {
                var frmdata = new FormData();
                frmdata.append("CustomerId", $('#hdnCustomerId').val());
                frmdata.append("SerialNo", $('#txtSerialNo').val());
                frmdata.append("ModelNo", $('#txtModelNo').val());
                frmdata.append("PartDescription", $('#txtPartDescription').val());
                frmdata.append("DiscrepancyId", $('#ddlDiscrepancy').val());
                frmdata.append("StatusId", $('#ddlStatus').val());
                frmdata.append("ReceiverId", $('#ddlReceiver').val());
                frmdata.append("ResoultionId", $('#ddlResoultion').val());
                frmdata.append("TrackingNo", $('#txtTrackingNo').val());
                $.ajax({
                    url: '@Url.Action("/AddRMA")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: frmdata,
                    success: function (data) {
                        if (data.response.ResponseCode == '0') {
                            $('#myLoadingElement').hide();
                            $('#btnCancelRMA').click();
                            $('#btnCancelRMA').click();
                            bootbox.alert('RMA inserted successfully.', function () {
                                $("#datatable-fixed-header-RMA").dataTable().fnDraw();
                            });
                        }
                        else {
                            $('#myLoadingElement').hide();
                            bootbox.alert(data.response.ResponseMessage, function () {
                            });
                        }
                    },
                    error: function (er) {
                    }
                });
            }
            else {
                $('#myLoadingElement').hide();
            }
        });



        $('#btnEditRMA').bind('click', function () {
            $('#myLoadingElement').show();
            if (validateEdit()) {
                var frmdata = new FormData();
                frmdata.append("CustomerId", $('#hdnCustomerId').val());
                frmdata.append("SerialNo", $('#txtEditSerialNo').val());
                frmdata.append("ModelNo", $('#txtEditModelNo').val());
                frmdata.append("PartDescription", $('#txtEditPartDescription').val());
                frmdata.append("DiscrepancyId", $('#ddlEditDiscrepancy').val());
                frmdata.append("StatusId", $('#ddlEditStatus').val());
                frmdata.append("ReceiverId", $('#ddlEditReceiver').val());
                frmdata.append("ResoultionId", $('#ddlEditResolution').val());
                frmdata.append("TrackingNo", $('#txtEditTrackingNo').val());
                frmdata.append("RMAId", $('#hdnRMAId').val());
                $.ajax({
                    url: '@Url.Action("/EditRMA")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: frmdata,
                    success: function (data) {
                        if (data.response.ResponseCode == '0') {
                            $('#btnEditCancelRMA').click();
                            $('#btnEditCancelRMA').click();
                            $('#myLoadingElement').hide();
                            bootbox.alert('Record updated successfully.', function () {
                                $("#datatable-fixed-header-RMA").dataTable().fnDraw();
                            });
                        }
                        else {
                            $('#myLoadingElement').hide();
                            bootbox.alert(data.response.ResponseMessage, function () {
                            });
                        }
                    },
                    error: function (er) {
                    }
                });
            }
            else {
                $('#myLoadingElement').hide();
            }
        });

        function boldString(result, querystr) {
            var reg = new RegExp(querystr, 'gi');
            return result.replace(reg, function (str) { return '<b>' + str + '</b>' });
        }

        function getCustomer(value) {
            $.post("/IMounts/Inventory/SearchInventoryCustomer", {
                value: value
            }, function (data) {
                return data.invCustomerList;
            });
        }

        function autocomplete(inp, arr, inputId) {
            arr = [];
            //  inp = document.getElementById("txtPartNo");
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                var id = this.id;
                var thiss = this;
                var actionName = "";
                if (this.value.length >= 2) {
                    if (inputId == "txtSerialNo" || inputId == "txtEditSerialNo") {
                        actionName = "SearchSerialNo";
                    }
                    else {
                        actionName = "SearchInventoryCustomer";
                    }
                    $.post("/IMounts/Inventory/" + actionName, {
                        value: this.value
                    }, function (data) {
                        arr = [];

                        if (actionName == "SearchSerialNo" || actionName == "txtEditSerialNo") {
                            $.each(data.serialNoList, function (idx, obj) {
                                arr.push(obj.SerialNumber + "~" + obj.ModelNo + "~" + obj.Description);
                            });
                        }
                        else {
                            $.each(data.invCustomerList, function (idx, obj) {
                                arr.push(obj.FirstName + "~" + obj.LastName + "~" + obj.CompanyName + "~" + obj.EncryptId + "~" + obj.Email + "~" + obj.PhoneNo + "~" + obj.FirstName + " " + obj.LastName);
                            });
                        }

                        /*close any already open lists of autocompleted values*/
                        closeAllLists();
                        if (!val) { return false; }
                        currentFocus = -1;
                        /*create a DIV element that will contain the items (values):*/
                        a = document.createElement("DIV");
                        a.setAttribute("id", id + "autocomplete-list");
                        a.setAttribute("class", "autocomplete-items");
                        /*append the DIV element as a child of the autocomplete container:*/
                        thiss.parentNode.appendChild(a);

                        var isRecordMatch = true;
                        b = document.createElement("DIV");
                        b.style.cssText = 'float:left;pointer-events: none;';
                        b.className = 'col-sm-12';
                        /*make the matching letters bold:*/
                        if (inputId == 'txtCustomerName' || inputId == 'txtEditCustomerName') {
                            b.innerHTML = '<span class="col-sm-6"><b>Name</b></span><span class="col-sm-5"><b>CompanyName</b></span>';
                        }
                        else {
                            b.innerHTML = '<span class="col-sm-4"><b>Serial No.</b></span><span class="col-sm-7"><b>Model No.</b></span>';
                        }

                        var isDataExist = false;
                        /*for each item in the array...*/
                        for (i = 0; i < arr.length; i++) {
                            /*check if the item starts with the same letters as the text field value:*/
                            if (arr[i].toUpperCase().indexOf(val.toUpperCase()) != -1) {
                                isDataExist = true;
                                if (isRecordMatch) {
                                    a.appendChild(b);
                                    isRecordMatch = false;
                                }

                                //if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                                /*create a DIV element for each matching element:*/
                                b = document.createElement("DIV");
                                b.style.cssText = 'float:left;';
                                b.className = 'col-sm-12';

                                /*make the matching letters bold:*/
                                var formatStr = boldString(arr[i], val);

                                if (inputId == 'txtCustomerName' || inputId == 'txtEditCustomerName') {
                                    b.innerHTML = '<span class="col-sm-6">' + formatStr.split('~')[0] + ' ' + formatStr.split('~')[1] + '</span><span class="col-sm-5">' + formatStr.split('~')[2] + '</span>';
                                }
                                else {
                                    b.innerHTML = '<span class="col-sm-4">' + formatStr.split('~')[0] + '</span><span class="col-sm-7">' + formatStr.split('~')[1] + '</span>';
                                }

                                
                                /*insert a input field that will hold the current array item's value:*/
                                b.innerHTML += '<input type="hidden" value="' + arr[i] + '">';
                                /*execute a function when someone clicks on the item value (DIV element):*/
                                b.addEventListener("click", function (e) {
                                    /*insert the value for the autocomplete text field:*/
                                    // inp.value = this.getElementsByTagName("input")[0].value;
                                    var arrPartAndDesc = this.getElementsByTagName("input")[0].value.split('~');
                                    if (inputId == 'txtSerialNo') {
                                        $('#txtSerialNo').val(arrPartAndDesc[0]);
                                        $('#txtModelNo').val(arrPartAndDesc[1]);
                                        $('#txtPartDescription').val(arrPartAndDesc[2]);

                                        //GetPartDetailsbyPartNo(arrPartAndDesc[0]);
                                    }
                                    else if (inputId == 'txtEditSerialNo') {
                                        $('#txtEditSerialNo').val(arrPartAndDesc[0]);
                                        $('#txtEditModelNo').val(arrPartAndDesc[1]);
                                        $('#txtEditPartDescription').val(arrPartAndDesc[2]);
                                        closeAllLists();
                                    }
                                    else if (inputId == 'txtCustomerName') {
                                        $('#txtCustomerName').val(arrPartAndDesc[0] + ' ' + arrPartAndDesc[1]);
                                        $('#txtRMACompanyName').val(arrPartAndDesc[2]);
                                        $('#hdnCustomerId').val(arrPartAndDesc[3]);
                                        $('#txtRMAEmail').val(arrPartAndDesc[4]);
                                        $('#txtRMAPhone').val(arrPartAndDesc[5])

                                        closeAllLists();
                                    }
                                    else if (inputId == 'txtEditCustomerName') {
                                        $('#txtEditCustomerName').val(arrPartAndDesc[0] + ' ' + arrPartAndDesc[1]);
                                        $('#txtRMAEditCompanyName').val(arrPartAndDesc[2]);
                                        $('#hdnCustomerId').val(arrPartAndDesc[3])
                                        $('#txtRMAEditEmail').val(arrPartAndDesc[4]);
                                        $('#txtRMAEditPhone').val(arrPartAndDesc[5])
                                        closeAllLists();
                                    }
                                });
                                a.appendChild(b);
                            }
                        }
                        if (isDataExist) {
                            $("#btnAddCustomer, #btnEditCustomer").hide();
                        }
                        else {
                            $("#btnAddCustomer, #btnEditCustomer").show();
                        }
                    });
                }



            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }
        autocomplete(document.getElementById("txtSerialNo"), arrParts, 'txtSerialNo');
        autocomplete(document.getElementById("txtEditSerialNo"), arrParts, 'txtEditSerialNo');
        autocomplete(document.getElementById("txtCustomerName"), arrCustomers, 'txtCustomerName');
        autocomplete(document.getElementById("txtEditCustomerName"), arrCustomers, 'txtEditCustomerName');
    });

</script>


@*<script type="text/javascript">
        $(function () {
            $('#txtDate').datepicker({
                format: 'mm/dd/yyyy',
                autoclose: true,
            });

            $('.datepicker-days').on('click', 'td.day', function (e) {
                e.preventDefault();
                $('#txtDate').datepicker('hide');
            });

            $('#txtDate').keypress(function (e) {
                return false;
            });
        });
    </script>*@

<input type="hidden" id="hdnRMAId" value="" />
<input type="hidden" id="hdnCustomerId" value="" />
<input type="hidden" id="hdnActivityType" value="" />
<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        @if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
        {
            <div class="watermark">
                @*<img src="~/Images/watermark.png" />*@
                <span>TEST</span>
            </div>
        }
        <div class="x_content">
            <button class="btn-rounded btn-primary marginbottom10 pull-right" onclick="btnAddRMAClick()" ><i class="fa fa-plus-circle"></i> Add</button>

            <div class="col-md-12 table-responsive">
                <div id="divRMAList">
                    @*@Html.Partial("_RMAList", Model)*@
                    <table id="datatable-fixed-header-RMA" recordCount="0" class="table table-striped table-bordered fold-table">
                        <thead>
                            <tr>
                                <th>RMA Number</th>
                                <th>Date</th>
                                <th>Customer Name</th>
                                <th>Email Id</th>
                                <th>PhoneNo</th>
                                <th>Discrepency</th>
                                <th>Completed By</th>
                                <th>Resolution</th>
                                <th>Tracking No</th>
                                <th>Unit Count</th>
                                <th>Comment</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade addRMA-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Return Manufacturing Authorization</h3>
                <h5>RMA <b><span style="color:red" id="spnRMANo"></span></b></h5>
            </div>
            <form id="formAddRMA" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Customer Name. </label>
                        <div class="col-xs-6">
                            <input type="text" name="txtCustomerName" id="txtCustomerName" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <span id="snpErrAddCustomer" style="color:red;display:none">Invalid Customer</span>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" id="btnAddCustomer" style="display:none" data-toggle="modal" onclick="resetCustomer('Add');" data-target=".addCustomer-modal" class="btn btn-primary btn-block">Add</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Company Name </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtRMACompanyName" id="txtRMACompanyName" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Email </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtRMAEmail" id="txtRMAEmail" disabled="disabled" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Phone No </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtRMAPhone" id="txtRMAPhone" disabled="disabled" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Serial No. </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtSerialNo" id="txtSerialNo" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAddSerialNo" style="color:red;display:none">Serial No. is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Model No. </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtModelNo" id="txtModelNo" required="required" tabindex="3" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAddModelNo" style="color:red;display:none">Model No. is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Part Description </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtPartDescription" id="txtPartDescription" required="required" tabindex="3" class="form-control col-md-7 col-xs-12" autocomplete="Off">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Discrepancy </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownList("ddlDiscrepancy", (IEnumerable<SelectListItem>)ViewBag.DiscrepencyList, new { id = "ddlDiscrepancy", @class = "form-control col-md-7 col-xs-12", tabindex = "5" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Current Status <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownList("ddlStatus", (IEnumerable<SelectListItem>)ViewBag.StatusList, new { id = "ddlStatus", @class = "form-control col-md-7 col-xs-12", tabindex = "5" })
                            <br />
                            <span id="snpErrAddStatus" style="color:red;display:none">Please select the status.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Employee <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownList("ddlReceiver", (IEnumerable<SelectListItem>)ViewBag.ReceiverList, new { id = "ddlReceiver", @class = "form-control col-md-7 col-xs-12", tabindex = "6" })
                            <br />
                            <span id="snpErrAddReceiver" style="color:red;display:none">Please select the employee.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Resoultion </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownList("ddlResoultion", (IEnumerable<SelectListItem>)ViewBag.ResolutionList, new { id = "ddlResoultion", @class = "form-control col-md-7 col-xs-12", tabindex = "6" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Comments/Invoice</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtTrackingNo" id="txtTrackingNo" tabindex="8" required="required" class="form-control col-md-7 col-xs-12 NumOnly" autocomplete="Off">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelRMA" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnAddRMA" tabindex="9" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade editRMA-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit Return Manufacturing Authorization</h3>
                <h5>RMA <b><span style="color:red" id="spneditRMANo"></span></b></h5>
            </div>
            <form id="formAddRMA" autocomplete="off" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Customer Name. </label>
                        <div class="col-xs-6">
                            <input type="text" name="txtEditCustomerName" id="txtEditCustomerName" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <span id="snpErrEditCustomer" style="color:red;display:none">Invalid Customer</span>
                        </div>
                        <div class="col-xs-2">
                            <button type="button" id="btnEditCustomer" style="display:none" data-toggle="modal" onclick="resetCustomer('Edit');" data-target=".addCustomer-modal" class="btn btn-primary btn-block">Add</button>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Company Name </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtRMAEditCompanyName" id="txtRMAEditCompanyName" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Email </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtRMAEditEmail" id="txtRMAEditEmail" disabled="disabled" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Phone No </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtRMAEditPhone" id="txtRMAEditPhone" disabled="disabled" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Serial No. </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditSerialNo" id="txtEditSerialNo" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrEditSerialNo" style="color:red;display:none">Serial No. is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Model No. </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditModelNo" id="txtEditModelNo" required="required" tabindex="3" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAddModelNo" style="color:red;display:none">Model No. is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Part Description </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditPartDescription" id="txtEditPartDescription" required="required" tabindex="3" class="form-control col-md-7 col-xs-12" autocomplete="Off">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Discrepancy </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownList("ddlEditDiscrepancy", (IEnumerable<SelectListItem>)ViewBag.DiscrepencyList, new { id = "ddlEditDiscrepancy", @class = "form-control col-md-7 col-xs-12", tabindex = "5" })

                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Current Status <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownList("ddlEditStatus", (IEnumerable<SelectListItem>)ViewBag.StatusList, new { id = "ddlEditStatus", @class = "form-control col-md-7 col-xs-12", tabindex = "5" })
                            <br />
                            <span id="snpErrEditStatus" style="color:red;display:none">Please select the status.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Employee <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownList("ddlEditReceiver", (IEnumerable<SelectListItem>)ViewBag.ReceiverList, new { id = "ddlEditReceiver", @class = "form-control col-md-7 col-xs-12", tabindex = "6" })
                            <br />
                            <span id="snpErrEditReceiver" style="color:red;display:none">Please select the employee.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Resolution </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownList("ddlEditResolution", (IEnumerable<SelectListItem>)ViewBag.ResolutionList, new { id = "ddlEditResolution", @class = "form-control col-md-7 col-xs-12", tabindex = "5" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Comments/Invoice</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditTrackingNo" id="txtEditTrackingNo" tabindex="8" required="required" class="form-control col-md-7 col-xs-12 NumOnly" autocomplete="Off">
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnEditCancelRMA" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnEditRMA" tabindex="9" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade history-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2"><span id="spnHistoryHeader"></span></h3>
                <h5>RMA <b><span style="color:red" id="spnhistoryRMANo"></span></b></h5>
            </div>
            <form id="formAddRMA" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">

                    <div class="col-md-12 table-responsive">
                        <div id="divRMAList">
                            <table id="tblRMAHistory" class="table table-striped table-bordered fold-table">
                                <thead>
                                    <tr>
                                        <td>Status</td>
                                        <td>Date</td>
                                        <td>Receiver</td>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCloseHistory" class="btn btn-danger" data-dismiss="modal">Close</button>

                </div>
            </form>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade addCustomer-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Customer</h3>
            </div>
            <form id="formAddRMA" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Company Name</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtCompanyName" id="txtCompanyName" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">First Name<span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtFirstName" id="txtFirstName" tabindex="2" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAddFirstName" style="color:red;display:none">First name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Last Name <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtLastName" id="txtLastName" required="required" tabindex="3" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAddLastName" style="color:red;display:none">Last name is required.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Email</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEmail" id="txtEmail" tabindex="4" required="required" class="form-control col-md-7 col-xs-12 NumOnly" autocomplete="Off">
                            <span id="snpErrAddEmail" style="color:red;display:none">Invalid email id.</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Phone</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtPhone" id="txtPhone" tabindex="4" data-inputmask="'mask': '999-999-9999'" required="required" class="form-control col-md-7 col-xs-12 NumOnly" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Customer Type <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownList("ddlCustomerType", (IEnumerable<SelectListItem>)ViewBag.CustomerTypeList, new { id = "ddlCustomerType", @class = "form-control col-md-7 col-xs-12", tabindex = "1" })
                            <br />
                            <span id="snpErrAddCustomer" style="color:red;display:none">Please select the customer type.</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelAddCustomer" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnCustomer" tabindex="9" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>
