﻿@model List<GA.DataTransfer.Classes_for_Web.RMAStatusMOdel>
@using GA.Common;
@using System.Configuration;
@{
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;
    ViewBag.Title = "RMA Status";

}

@Scripts.Render("~/bundles/Inventory")

@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark span {
            -webkit-transform: rotate(228deg);
            -moz-transform: rotate(228deg);
            -o-transform: rotate(228deg);
            writing-mode: tb-rl;
        }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }
    </style>
}

<script type="text/javascript">

    function validate() {
        var isValid = true;
        if ($('#txtRMAStatus').val() == '') {
            $('#snpErrAddRMAStatus').show();
            isValid = false;
        }
        else {
            $('#snpErrAddRMAStatus').hide();
        }
        return isValid;
    }

    function reset() {
        $('#txtRMAStatus').val('');
        $('#snpErrAddRMAStatus').hide();
    }

    function setEditRMAStatus(obj) {
        $('#hdnRMAStatusId').val(obj.EncryptId);
        $('#txtEditRMAStatus').val(obj.Status);
        $('select[name="ddlEditUnitStatus"]').val(obj.UnitStatusId);
        $('#snpErrEditRMAStatus').hide();

    }

    function deleteRMAStatus(id) {
        bootbox.confirm("Are you sure to delete the RMA Status?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Inventory/DeleteRMAStatus", {
                    id: id
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $.post("/IMounts/Inventory/GetRMAStatus", {

                        }, function (RMAStatusList) {

                            $('#divRMAStatusList').html('');
                            $('#divRMAStatusList').html(RMAStatusList);
                            table = $('#datatable-fixed-header-RMAStatus').DataTable({
                                "order": [[0, "desc"]]
                            });
                            $('#myLoadingElement').hide();
                            bootbox.alert('Record deleted successfully.', function () {
                            });
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
        });
    }


    var table;
    $(document).ready(function () {

        table = $('#datatable-fixed-header-RMAStatus').DataTable({
            "order": [[0, "desc"]]
        });

        $('#btnAddRMAStatus').bind('click', function () {
        if (validate()) {
            $('#myLoadingElement').show();
            $('#btnCancelAddRMAStatus').click();
            $('#btnCancelAddRMAStatus').click();
            $.post("/IMounts/Inventory/AddRMAStatus", {
                Status: $('#txtRMAStatus').val(),
                UnitStatusId: $('#ddlUnitStatus').val()
            }, function (data) {
                if (data.response.ResponseCode == 0) {
                    $.post("/IMounts/Inventory/GetRMAStatus", {

                    }, function (RMAStatusList) {

                        $('#divRMAStatusList').html('');
                        $('#divRMAStatusList').html(RMAStatusList);
                        table = $('#datatable-fixed-header-RMAStatus').DataTable({
                            "order": [[0, "desc"]]
                        });
                        $('#myLoadingElement').hide();
                        bootbox.alert('Record added successfully.', function () {
                            reset();
                        });
                    });
                }
                else {
                    $('#myLoadingElement').hide();
                    bootbox.alert(data.response.ResponseMessage, function () {
                    });
                    $('#txtRMAStatus').val('');
                }
            });
        }
        event.preventDefault();
        return false;
    });

        $('#btnEditRMAStatus').bind('click', function () {
            if ($('#txtEditRMAStatus').val() != '') {
            $('#myLoadingElement').show();
            $('#snpErrEditRMAStatus').hide();
            $('#btnCancelEditRMAStatus').click();
            $('#btnCancelEditRMAStatus').click();
                $.post("/IMounts/Inventory/EditRMAStatus", {
                status: $('#txtEditRMAStatus').val(),
                id: $('#hdnRMAStatusId').val(),
                UnitStatusId: $('#ddlEditUnitStatus').val()
            }, function (data) {
                if (data.response.ResponseCode == 0) {
                    $.post("/IMounts/Inventory/GetRMAStatus", {

                    }, function (RMAStatusList) {

                        $('#divRMAStatusList').html('');
                        $('#divRMAStatusList').html(RMAStatusList);
                        table = $('#datatable-fixed-header-RMAStatus').DataTable({
                            "order": [[0, "desc"]]
                        });
                        $('#myLoadingElement').hide();
                        bootbox.alert('Record updated successfully.', function () {
                            $('#txtEditRMAStatus').val('');
                        });
                    });
                }
                else {
                    $('#myLoadingElement').hide();
                    bootbox.alert(data.response.ResponseMessage, function () {
                    });
                }
            });
        }
        else {
            $('#myLoadingElement').hide();
            $('#snpErrEditRMAStatus').show();
        }
    });
    });
</script>
<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div class="x_content">
            @if (ViewBag.UserType != Enumerations.UserType.InventorySales.ToString())
            {
                <button class="btn-rounded btn-primary marginbottom10 pull-right" data-toggle="modal" onclick="reset();" data-target=".addRMAStatus-modal"><i class="fa fa-plus-circle"></i> Add</button>
            }
            <div id="divRMAStatusList">
                @Html.Partial("_RMAStatusList", Model)
            </div>
        </div>
    </div>
</div>



<div id="myModal" class="modal fade addRMAStatus-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add RMA Status</h3>
            </div>
            <form id="formAddVendor" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">RMA Status <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtRMAStatus" id="txtRMAStatus" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAddRMAStatus" style="color:red;display:none">RMA Status cannot be left blank.</span>
                            <input type="hidden" id="hdnRMAStatusId" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Unit Status </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownList("ddlUnitStatus", (IEnumerable<SelectListItem>)ViewBag.UnitStatusList, new { id = "ddlUnitStatus", @class = "form-control col-md-7 col-xs-12" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelAddRMAStatus" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnAddRMAStatus" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade editRMAStatus-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit RMA Status</h3>
            </div>
            <form id="" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">RMA Status <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtEditRMAStatus" id="txtEditRMAStatus" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrEditRMAStatus" style="color:red;display:none">RMA Status cannot be left blank.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Unit Statue </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @Html.DropDownList("ddlEditUnitStatus", (IEnumerable<SelectListItem>)ViewBag.UnitStatusList, new { id = "ddlEditUnitStatus", @class = "form-control col-md-7 col-xs-12" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelEditRMAStatus" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnEditRMAStatus" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>


