﻿@model List<GA.DataTransfer.Classes_for_Web.UnitModel>
@using GA.Common;
@using System.Configuration;
@{
    ViewBag.Title = "Units";
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;
}

@Scripts.Render("~/bundles/Inventory")
@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark {
            z-index: 0 !important;
            top: 5%;
        }

            .watermark span {
                -webkit-transform: rotate(228deg);
                -moz-transform: rotate(228deg);
                -o-transform: rotate(228deg);
                writing-mode: tb-rl;
            }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        div#divBulkUpdate {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        #ddlBulkEditStatus {
            background-color: transparent !important;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }

        .form-transparent input, .form-transparent select {
            background: transparent;
        }
    </style>
    <style>
        * {
            box-sizing: border-box;
        }


        .autocomplete {
            /*the container must be positioned relative:*/
            position: relative;
            display: inline-block;
        }



        .autocomplete-items {
            position: absolute;
            border: 1px solid #d4d4d4;
            border-bottom: none;
            border-top: none;
            z-index: 99;
            /*position the autocomplete items to be the same width as the container:*/
            top: 100%;
            left: -75px;
            right: 0;
        }

            .autocomplete-items div {
                padding: 10px;
                cursor: pointer;
                background-color: #fff;
                border-bottom: 1px solid #d4d4d4;
            }

                .autocomplete-items div:hover {
                    /*when hovering an item:*/
                    background-color: #e9e9e9;
                }

        .autocomplete-active {
            /*when navigating through the items using the arrow keys:*/
            background-color: DodgerBlue !important;
            color: #ffffff;
        }
    </style>
}
<script type="text/javascript">
    var table;
    function chkEditAllOnChange() {
        if ($("#chkEditAll").prop('checked') == true) {
            $('.chkEdit').prop('checked', true);
        }
        else {
            $('.chkEdit').prop('checked', false);
        }
    }

    function getUnitById(id) {
        $.post("/IMounts/Inventory/GetUnitById", {
            unitId: id,
        }, function (data) {
            $('#myLoadingElement').hide();
            $("#hdnUnitId").val(id);
            $("#hdnPurchaseOrderId").val(data.unitModel.PurchaseOrderId);
            $('#ddlStatus').empty();

            $.each(data.statusList, function (key, value) {
                $("#ddlStatus").append('<option  value="' + value.Value + '"> ' + value.Text + ' </option>');
            });
            $("#txtPartNo").val(data.unitModel.PartNumber);
            $("#txtNewPartNo").val(data.unitModel.NewPartNumberAssigned);
            $("#txtModelNo").val(data.unitModel.ModelNo);
            $("#txtNewModelNo").val(data.unitModel.NewModelNumberAssigned);
            $("#txtVendor").val(data.unitModel.Vendor);
            $("#txtReceivedBy").val(data.unitModel.ReceivedBy);
            $("#txtSoftwareLevel").val(data.unitModel.SoftwareLevel);
            $("#txtSerialNo").val(data.unitModel.SerialNumber);
            $("#txtBoardSerialNo").val(data.unitModel.BoardSerialNumber);
            $('select[name="ddlStatus"]').val(data.unitModel.StatusId);
            if (data.unitModel.StatusId == '@((int)Enumerations.UnitStatus.AvailableForSale)') {
                $("#txtNewPartNo").removeAttr("disabled");
                $("#txtNewModelNo").removeAttr("disabled");
            }
            else {
                $("#txtNewPartNo").attr("disabled", "disabled");
                $("#txtNewModelNo").attr("disabled", "disabled");

            }
            $("#hdnUnitCurrentStatusId").val(data.unitModel.StatusId);
            if (data.unitModel.IsSoftwareLevelApplicable == false) {
                $("#divSoftwareLevel").hide();
                $("#divBoardSerialNo").hide();
            }
            else {
                $("#divSoftwareLevel").show();
                $("#divBoardSerialNo").show();
            }
            $('#unitEditModal').modal('toggle');
        });

    }

    function deleteUnit(id) {
        bootbox.confirm("Are you sure to delete this unit?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Inventory/DeleteUnit", {
                    id: id,
                }, function (data) {
                    if (data.response.ResponseCode == "0") {
                        $.post("/IMounts/Inventory/GetUnits", {
                            key: 'PurchaseOrderNumber',
                            value: $("#txtSearchPoNumber").val(),
                            statusId: $("#ddlSearchStatus").val(),
                        }, function (unitList) {

                            $('#divUnitList').html(unitList);
                            table = $('#datatable-fixed-header-unit').dataTable();

                            $('#myLoadingElement').hide();
                            bootbox.alert('Unit deleted successfully.', function () {
                            });
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
        });
    }

    function updateUnit()
    {

    }


    $(document).ready(function () {
        var partNumberList = @Html.Raw(ViewBag.PartNumberList);

        var arrParts = [];
        $.each(partNumberList, function(idx, obj){

            arrParts.push(obj.Text + '    ' + obj.Value);
        });

        $("#txtSearchPoNumber").val('@ViewBag.PoNumber');
        table = $('#datatable-fixed-header-unit').dataTable();

        $('#btnUpdateUnit').bind('click', function () {


            if (parseInt($("#hdnUnitCurrentStatusId").val()) == '@((int)Enumerations.UnitStatus.Sold)') {
                bootbox.confirm('Are you sure to change the unit status from "sold" to "Available for Sale".', function (result) {
                    if (result) {
                        $('#myLoadingElement').show();
                        $('#btnCancelUpdateUnit').click();
                        $('#btnCancelUpdateUnit').click();
                        $.post("/IMounts/Inventory/UpdateUnit", {
                            SerialNumber: $('#txtSerialNo').val(),
                            StatusId: $('#ddlStatus').val(),
                            UnitId: $("#hdnUnitId").val(),
                            BoardSerialNumber: $("#txtBoardSerialNo").val(),
                            SoftwareLevel: $("#txtSoftwareLevel").val(),
                            ReasonForSalesReturn: $("#txtReason").val(),
                            NewPartNumberAssigned: $("#txtNewPartNo").val(),
                            NewModelNumberAssigned: $("#txtNewModelNo").val(),
                        }, function (data) {
                            if (data.response.ResponseCode == "0") {
                                $("#hdnUnitCurrentStatusId").val('');
                                $('#btnSearch').trigger('click');
                                $("#txtReason").val('');
                                $("#divReason").hide();
                                $('#myLoadingElement').hide();
                                bootbox.alert('Unit updated successfully.', function () {
                                });
                            }
                            else {
                                $('#myLoadingElement').hide();
                                bootbox.alert(data.response.ResponseMessage, function () {
                                });
                            }
                        });

                    }
                });
            }
            else {
                $('#myLoadingElement').show();
                $('#btnCancelUpdateUnit').click();
                $('#btnCancelUpdateUnit').click();
                $.post("/IMounts/Inventory/UpdateUnit", {
                    SerialNumber: $('#txtSerialNo').val(),
                    StatusId: $('#ddlStatus').val(),
                    UnitId: $("#hdnUnitId").val(),
                    BoardSerialNumber: $("#txtBoardSerialNo").val(),
                    SoftwareLevel: $("#txtSoftwareLevel").val(),
                    NewPartNumberAssigned: $("#txtNewPartNo").val(),
                    NewModelNumberAssigned: $("#txtNewModelNo").val(),
                }, function (data) {
                    if (data.response.ResponseCode == "0") {
                        $("#hdnUnitCurrentStatusId").val('');
                        $('#btnSearch').trigger('click');
                        $("#txtReason").val('');
                        $("#divReason").hide();
                        $('#myLoadingElement').hide();
                        bootbox.alert('Unit updated successfully.', function () {
                            $('#btnSearch').trigger('click');
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });

            }
        });

        $("#ddlStatus").change(function () {
            if (parseInt(jQuery("#ddlStatus").val()) == '@((int)Enumerations.UnitStatus.AvailableForSale)') {
                $("#divReason").show();
            }
            else {
                $("#divReason").hide();
            }

        });

        $('#btnSearch').bind('click', function () {
            //$("#ddlSearchStatus").change(function () {
            //if (jQuery("#ddlSearchStatus option:selected").text() == 'All') {
            //    $('#btnEditAll').hide();
            //}
            //else {
            //    $('#btnEditAll').show();
            //}
            $('#myLoadingElement').show();
            $.post("/IMounts/Inventory/GetUnitsByMultipleKey", {
                purchaseOrderNumber: $("#txtSearchPoNumber").val(),
                serialNo: $("#txtSearchSerialNumber").val(),
                boardSerialNo: $("#txtSearchBoardSerialNumber").val(),
                statusId: $("#ddlSearchStatus").val(),
            }, function (unitList) {

                $('#divUnitList').html(unitList);
                table = $('#datatable-fixed-header-unit').dataTable();

                if ($("#ddlSearchStatus").val() == "0" || parseInt($("#datatable-fixed-header-unit").attr('unitcount')) == 0) {
                    $("#btnEditAll").hide();
                }
                else {
                    $("#btnEditAll").show();
                }
                $("#hdnSearchStatus").val($("#ddlSearchStatus").val());
                $("#divBulkUpdate").hide();
                $('#myLoadingElement').hide();
            });
        });

        $('#btnBulkUpdate').bind('click', function () {
            var arr = [];

            $(".chkEdit").each(function () {
                if (this.checked) {
                    arr.push(this.id);
                }
            });

            if (arr.length > 0) {
                $('#myLoadingElement').show();
                $.ajax({
                    url: "/IMounts/Inventory/UpdateMultipleUnits",
                    type: "GET",
                    data: {
                        values: JSON.stringify(arr),
                        statusId: $("#ddlBulkEditStatus").val()
                    },
                    cache: false,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data.ResponseCode == "0") {
                            $.post("/IMounts/Inventory/GetUnits", {
                                key: 'PurchaseOrderNumber',
                                value: $("#txtSearchPoNumber").val(),
                                statusId: $("#ddlBulkEditStatus").val(),
                            }, function (unitList) {
                                $("#ddlSearchStatus").val($("#ddlBulkEditStatus").val());
                                $('#divUnitList').html(unitList);
                                table = $('#datatable-fixed-header-unit').dataTable();

                                $('#myLoadingElement').hide();
                                $("#divBulkUpdate").hide();
                            });
                        }
                        else {
                            $('#myLoadingElement').hide();
                            bootbox.alert(data.ResponseMessage, function () {
                            });
                        }
                    }
                });
            }
            else {
                bootbox.alert("Please select the record to update.", function () {
                });
            }
        });

        $('#btnEditAll').bind('click', function () {
            if ($("#ddlSearchStatus option:selected").text() != "All") {
                $.post("/IMounts/Inventory/GetStatusByStatusId", {
                    statusId: $("#hdnSearchStatus").val(),
                }, function (unitList) {
                    $('#ddlBulkEditStatus').empty();
                    $.each(unitList, function (key, value) {
                        $("#ddlBulkEditStatus").append('<option  value="' + value.Value + '"> ' + value.Text + ' </option>');
                    });
                });


                table = $('#datatable-fixed-header-unit').DataTable({
                    destroy: true,
                    paging: false
                });

                $(".chkEdit").show();
                $("#chkEditAll").show();
                $(".ancEdit, .ancDelete").hide();
                $('#myLoadingElement').hide();
                $("#divBulkUpdate").show();

            }
            else {
                bootbox.alert("Please select the unit status.", function () {
                });
            }
        });

        $("#btnCancelBulkUpdate").bind('click', function () {
            $('.chkEdit').prop('checked', false);
            $('#chkEditAll').prop('checked', false);
            table = $('#datatable-fixed-header-unit').DataTable({
                destroy: true,
                paging: true
            });

            $(".chkEdit").hide();
            $("#chkEditAll").hide();
            $(".ancEdit, .ancDelete").show();
            $("#divBulkUpdate").hide();


        });

        function boldString(result, querystr) {

            var reg = new RegExp(querystr, 'gi');
            return result.replace(reg, function (str) { return '<b>' + str + '</b>' });
        }


        function autocomplete(inp, arr, inputId) {

            //  inp = document.getElementById("txtPartNo");
            /*the autocomplete function takes two arguments,
            the text field element and an array of possible autocompleted values:*/
            var currentFocus;
            /*execute a function when someone writes in the text field:*/
            inp.addEventListener("input", function (e) {
                var a, b, i, val = this.value;
                /*close any already open lists of autocompleted values*/
                closeAllLists();
                if (!val) { return false; }
                currentFocus = -1;
                /*create a DIV element that will contain the items (values):*/
                a = document.createElement("DIV");
                a.setAttribute("id", this.id + "autocomplete-list");
                a.setAttribute("class", "autocomplete-items");
                /*append the DIV element as a child of the autocomplete container:*/
                this.parentNode.appendChild(a);

                var isRecordMatch = true;
                b = document.createElement("DIV");
                b.style.cssText = 'float:left;pointer-events: none;';
                b.className = 'col-sm-12';
                /*make the matching letters bold:*/
                b.innerHTML = '<span class="col-sm-4"><b>Part No</b></span><span class="col-sm-7"><b>Model No.</b></span>';
                /*for each item in the array...*/
                for (i = 0; i < arr.length; i++) {
                    /*check if the item starts with the same letters as the text field value:*/
                    if (arr[i].toUpperCase().indexOf(val.toUpperCase()) != -1) {

                        if (isRecordMatch) {
                            a.appendChild(b);
                            isRecordMatch = false;
                        }

                        //if (arr[i].substr(0, val.length).toUpperCase() == val.toUpperCase()) {
                        /*create a DIV element for each matching element:*/
                        b = document.createElement("DIV");
                        b.style.cssText = 'float:left;';
                        b.className = 'col-sm-12';

                        /*make the matching letters bold:*/
                        var formatStr = boldString(arr[i], val);
                        b.innerHTML = '<span class="col-sm-4">' + formatStr.split('    ')[0] + '</span><span class="col-sm-7">' + formatStr.split('    ')[1] + '</span>';

                        /*insert a input field that will hold the current array item's value:*/
                        b.innerHTML += "<input type='hidden' value='" + arr[i] + "'>";
                        /*execute a function when someone clicks on the item value (DIV element):*/
                        b.addEventListener("click", function (e) {
                            /*insert the value for the autocomplete text field:*/
                            // inp.value = this.getElementsByTagName("input")[0].value;
                            var arrPartAndDesc = this.getElementsByTagName("input")[0].value.split('    ');

                            $('#txtNewPartNo').val(arrPartAndDesc[0]);
                            $('#txtNewModelNo').val(arrPartAndDesc[1]);
                                closeAllLists();

                            /*close the list of autocompleted values,
                            (or any other open lists of autocompleted values:*/


                        });
                        a.appendChild(b);
                    }
                }
            });
            /*execute a function presses a key on the keyboard:*/
            inp.addEventListener("keydown", function (e) {
                var x = document.getElementById(this.id + "autocomplete-list");
                if (x) x = x.getElementsByTagName("div");
                if (e.keyCode == 40) {
                    /*If the arrow DOWN key is pressed,
                    increase the currentFocus variable:*/
                    currentFocus++;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 38) { //up
                    /*If the arrow UP key is pressed,
                    decrease the currentFocus variable:*/
                    currentFocus--;
                    /*and and make the current item more visible:*/
                    addActive(x);
                } else if (e.keyCode == 13) {
                    /*If the ENTER key is pressed, prevent the form from being submitted,*/
                    e.preventDefault();
                    if (currentFocus > -1) {
                        /*and simulate a click on the "active" item:*/
                        if (x) x[currentFocus].click();
                    }
                }
            });
            function addActive(x) {
                /*a function to classify an item as "active":*/
                if (!x) return false;
                /*start by removing the "active" class on all items:*/
                removeActive(x);
                if (currentFocus >= x.length) currentFocus = 0;
                if (currentFocus < 0) currentFocus = (x.length - 1);
                /*add class "autocomplete-active":*/
                x[currentFocus].classList.add("autocomplete-active");
            }
            function removeActive(x) {
                /*a function to remove the "active" class from all autocomplete items:*/
                for (var i = 0; i < x.length; i++) {
                    x[i].classList.remove("autocomplete-active");
                }
            }
            function closeAllLists(elmnt) {
                /*close all autocomplete lists in the document,
                except the one passed as an argument:*/
                var x = document.getElementsByClassName("autocomplete-items");
                for (var i = 0; i < x.length; i++) {
                    if (elmnt != x[i] && elmnt != inp) {
                        x[i].parentNode.removeChild(x[i]);
                    }
                }
            }
            /*execute a function when someone clicks in the document:*/
            document.addEventListener("click", function (e) {
                closeAllLists(e.target);
            });
        }

        /*An array containing all the country names in the world:*/
        //  var countries = ["Afghanistan", "Albania", "Algeria", "Andorra", "Angola", "Anguilla", "Antigua & Barbuda", "Argentina", "Armenia", "Aruba", "Australia", "Austria", "Azerbaijan", "Bahamas", "Bahrain", "Bangladesh", "Barbados", "Belarus", "Belgium", "Belize", "Benin", "Bermuda", "Bhutan", "Bolivia", "Bosnia & Herzegovina", "Botswana", "Brazil", "British Virgin Islands", "Brunei", "Bulgaria", "Burkina Faso", "Burundi", "Cambodia", "Cameroon", "Canada", "Cape Verde", "Cayman Islands", "Central Arfrican Republic", "Chad", "Chile", "China", "Colombia", "Congo", "Cook Islands", "Costa Rica", "Cote D Ivoire", "Croatia", "Cuba", "Curacao", "Cyprus", "Czech Republic", "Denmark", "Djibouti", "Dominica", "Dominican Republic", "Ecuador", "Egypt", "El Salvador", "Equatorial Guinea", "Eritrea", "Estonia", "Ethiopia", "Falkland Islands", "Faroe Islands", "Fiji", "Finland", "France", "French Polynesia", "French West Indies", "Gabon", "Gambia", "Georgia", "Germany", "Ghana", "Gibraltar", "Greece", "Greenland", "Grenada", "Guam", "Guatemala", "Guernsey", "Guinea", "Guinea Bissau", "Guyana", "Haiti", "Honduras", "Hong Kong", "Hungary", "Iceland", "India", "Indonesia", "Iran", "Iraq", "Ireland", "Isle of Man", "Israel", "Italy", "Jamaica", "Japan", "Jersey", "Jordan", "Kazakhstan", "Kenya", "Kiribati", "Kosovo", "Kuwait", "Kyrgyzstan", "Laos", "Latvia", "Lebanon", "Lesotho", "Liberia", "Libya", "Liechtenstein", "Lithuania", "Luxembourg", "Macau", "Macedonia", "Madagascar", "Malawi", "Malaysia", "Maldives", "Mali", "Malta", "Marshall Islands", "Mauritania", "Mauritius", "Mexico", "Micronesia", "Moldova", "Monaco", "Mongolia", "Montenegro", "Montserrat", "Morocco", "Mozambique", "Myanmar", "Namibia", "Nauro", "Nepal", "Netherlands", "Netherlands Antilles", "New Caledonia", "New Zealand", "Nicaragua", "Niger", "Nigeria", "North Korea", "Norway", "Oman", "Pakistan", "Palau", "Palestine", "Panama", "Papua New Guinea", "Paraguay", "Peru", "Philippines", "Poland", "Portugal", "Puerto Rico", "Qatar", "Reunion", "Romania", "Russia", "Rwanda", "Saint Pierre & Miquelon", "Samoa", "San Marino", "Sao Tome and Principe", "Saudi Arabia", "Senegal", "Serbia", "Seychelles", "Sierra Leone", "Singapore", "Slovakia", "Slovenia", "Solomon Islands", "Somalia", "South Africa", "South Korea", "South Sudan", "Spain", "Sri Lanka", "St Kitts & Nevis", "St Lucia", "St Vincent", "Sudan", "Suriname", "Swaziland", "Sweden", "Switzerland", "Syria", "Taiwan", "Tajikistan", "Tanzania", "Thailand", "Timor L'Este", "Togo", "Tonga", "Trinidad & Tobago", "Tunisia", "Turkey", "Turkmenistan", "Turks & Caicos", "Tuvalu", "Uganda", "Ukraine", "United Arab Emirates", "United Kingdom", "United States of America", "Uruguay", "Uzbekistan", "Vanuatu", "Vatican City", "Venezuela", "Vietnam", "Virgin Islands (US)", "Yemen", "Zambia", "Zimbabwe"];

        /*initiate the autocomplete function on the "myInput" element, and pass along the countries array as possible autocomplete values:*/
        autocomplete(document.getElementById("txtNewPartNo"), arrParts, 'txtNewPartNo');
    });
</script>
<input type="hidden" id="hdnSearchStatus" value="" />
<input type="hidden" id="hdnUnitCurrentStatusId" value="" />

<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        @if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
        {
            <div class="watermark">
                <span>TEST</span>
            </div>
        }
        <div class="col-md-3 no-padding margintop20">
            &nbsp;
        </div>
        <div class="col-md-6 no-padding margintop20 form-transparent">
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Purchase Order Number </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="text" name="txtSearchPoNumber" id="txtSearchPoNumber" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Serial Number </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="text" name="txtSearchSerialNumber" id="txtSearchSerialNumber" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Board Serial Number </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="text" name="txtSearchBoardSerialNumber" id="txtSearchBoardSerialNumber" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Status </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    @Html.DropDownList("ddlSearchStatus", (IEnumerable<SelectListItem>)ViewBag.AllStatus, new { id = "ddlSearchStatus", @class = "form-control col-md-7 col-xs-12" })
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for=""></label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <button type="button" id="btnSearch" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
        <div class="x_content">

            <button id="btnEditAll" class="btn-rounded btn-primary marginbottom10 pull-right" style="display:none">Edit All</button>
            <div id="divUnitList">
                @Html.Partial("_UnitList", Model)
            </div>

        </div>
        <div class="col-md-3 no-padding margintop20">
            &nbsp;
        </div>
        <div id="divBulkUpdate" style="display:none" class="col-md-6 no-padding margintop20">
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Unit Status </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    @Html.DropDownList("ddlBulkEditStatus", (IEnumerable<SelectListItem>)ViewBag.StatusList, new { id = "ddlBulkEditStatus", @class = "form-control col-md-7 col-xs-12" })
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for=""></label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <button type="button" id="btnBulkUpdate" class="btn btn-primary">Update</button>
                    <button type="button" id="btnCancelBulkUpdate" class="btn btn-danger">Cancel</button>
                </div>
            </div>
        </div>

    </div>
</div>
<input type="hidden" id="hdnUnitId" value="" />
<input type="hidden" id="hdnPurchaseOrderId" value="" />
<div id="unitEditModal" class="modal fade editUnit-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit Unit</h3>
            </div>
            <form id="formAddPurchaseOrder" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Part Number <span class="required">*</span> </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <input type="text" name="txtPartNo" id="txtPartNo" disabled="disabled" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 text-center" for="">New P/N </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <input type="text" name="txtNewPartNo" id="txtNewPartNo" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Model Number <span class="required">*</span> </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <input type="text" name="txtModelNo" id="txtModelNo" disabled="disabled" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                        <label class="control-label col-md-3 col-sm-3 col-xs-12 text-center" for="">New Model No. </label>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <input type="text" name="txtNewModelNo" id="txtNewModelNo" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Vendor </label>
                        <div class="col-md-9 col-sm-6 col-xs-12">
                            <input type="text" name="txtVendor" id="txtVendor" disabled="disabled" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Received By <span class="required">*</span> </label>
                        <div class="col-md-9 col-sm-6 col-xs-12">
                            <input type="text" name="txtReceivedBy" id="txtReceivedBy" disabled="disabled" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group" id="divSoftwareLevel">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Software Level <span class="required">*</span> </label>
                        <div class="col-md-9 col-sm-6 col-xs-12">
                            <input type="number" name="txtSoftwareLevel" id="txtSoftwareLevel" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group" id="divBoardSerialNo">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Board Serial No. <span class="required">*</span> </label>
                        <div class="col-md-9 col-sm-6 col-xs-12">
                            <input type="number" name="txtBoardSerialNo" id="txtBoardSerialNo" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Serial No. <span class="required">*</span> </label>
                        <div class="col-md-9 col-sm-6 col-xs-12">
                            <input type="number" name="txtSerialNo" id="txtSerialNo" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Status <span class="required">*</span> </label>
                        <div class="col-md-9 col-sm-6 col-xs-12">
                            @Html.DropDownList("ddlStatus", (IEnumerable<SelectListItem>)ViewBag.StatusList, new { id = "ddlStatus", @class = "form-control col-md-7 col-xs-12" })
                        </div>
                    </div>
                    <div class="form-group" id="divReason" style="display:none">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Reason for return <span class="required">*</span> </label>
                        <div class="col-md-9 col-sm-6 col-xs-12">
                            <input type="tel" name="txtReason" id="txtReason" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelUpdateUnit" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnUpdateUnit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
