﻿@model List<GA.DataTransfer.Classes_for_Web.VendorModel>
@using GA.Common;
@using System.Configuration;
@{
    ViewBag.Title = "Vendor";
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;
}

<style type="text/css">
    .formCntrl {
        height: 34px;
        padding: 6px 12px;
        font-size: 14px;
        line-height: 1.42857143;
        color: #555;
        background-color: #fff;
        border: 1px solid #ccc !important;
        -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
        -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
        -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
        transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    }

    .linkHyper select {
        height: 34px;
        padding: 6px 0px;
        font-size: 14px;
        line-height: 1.42857143;
        background-color: #fff;
        border: 1px solid #ccc !important;
        border-right: none;
        position: absolute;
        left: 10px;
        z-index: 1;
    }

    .form-group.linkHyper input {
        padding-left: 80px;
    }
</style>
@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark span {
            -webkit-transform: rotate(228deg);
            -moz-transform: rotate(228deg);
            -o-transform: rotate(228deg);
            writing-mode: tb-rl;
        }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }
    </style>
}
@Scripts.Render("~/bundles/JqueryJs")
@*<script src="~/js/jquery.js"></script>*@
<script src="~/js/jquery.inputmask.js"></script>

@Scripts.Render("~/bundles/bootstrapJs")
@*< script src="~/vendors/bootstrap/dist/js/bootstrap.js"></script>*@
<script src="~/js/bootbox.js"></script>
<script src="~/js/Inventory.js"></script>

<script type="text/javascript">
    //$(function () {
    //    //Define your mask (using 9 to denote any digit)
    //
    //});

    function validate() {
        var isValid = true;
        if ($('#txtVendorName').val().trim()== '') {
            $('#snpErrAddVendorName').show();
            isValid = false;
        }
        else {
            $('#snpErrAddVendorName').hide();
        }
 
        if ($('#txtEmail').val() != '') {
            if (!ValidateEmail($('#txtEmail').val())) {
                $('#snpErrAddEmail').show();
                isValid = false;
            }
            else {
                $('#snpErrAddEmail').hide();
            }
        }

        if ($("#txtWebsite").val() != '') {
            if (!isUrlValid($("#ddlHttp").val() + $("#txtWebsite").val())) {
                $('#snpErrWebURL').show();
                isValid = false;
            }
            else {
                $('#snpErrWebURL').hide();
            }
        }

        return isValid;
    }

    function validateEdit() {
        var isValid = true;
        if ($('#txtEditVendorName').val() == '') {
            $('#snpErrEditVendorName').show();
            isValid = false;
        }
        else {
            $('#snpErrEditVendorName').hide();
        }

        

        if ($('#txtEditEmail').val() != '') {
            if (!ValidateEmail($('#txtEditEmail').val())) {
                $('#snpErrEditEmail').show();
                isValid = false;
            }
            else {
                $('#snpErrEditEmail').hide();
            }
        }
        if ($("#txtEditWebsite").val() != '') {
            if (!isUrlValid($("#ddlEditHttp").val() + $("#txtEditWebsite").val())) {
                $('#snpErrEditWebURL').show();
                isValid = false;
            }
            else {
                $('#snpErrEditWebURL').hide();
            }
        }

        return isValid;
    }



    function reset() {
        $('#txtVendorName').val('');
        $('#txtContactFName').val('');
        $('#txtEmail').val('');
        $('#txtPhoneNumber').val('');
        $('#txtComment').val('');
        $('select[name="ddlHttp"]').val("http://");
        $('#txtContactLName').val('');
        $('#txtWebsite').val('');
        $('#snpErrAddVendorName').hide();
        $('#snpErrAddEmail').hide();
        $('#txtVendorName').focus();

    }

    function setEditVendor(vendor) {
        $('#hdnVendorId').val(vendor.EncryptId);
        $('#txtEditVendorName').val(vendor.Name);
        $('#txtEditContactFName').val(vendor.ContactName);
        $('#txtEditEmail').val(vendor.Email);
        $('#txtEditPhoneNumber').val(vendor.PhoneNumber);
        $('#txtEditComment').val(vendor.Comments);
        $('#txtEditWebsite').val(vendor.Website);
        $('select[name="ddlEditHttp"]').val(vendor.WebUrlPrefix);
        $('#txtEditContactLName').val(vendor.ContactLastName);

        $('#snpErrEditVendorName').hide();
        $('#snpErrEditEmail').hide();
    }

    function deleteVendor(id) {
        bootbox.confirm("Are you sure to delete the vendor?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Inventory/DeleteVendor", {
                    id: id
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $.post("/IMounts/Inventory/GetVendor", {
                        }, function (partNoList) {
                            $('#divVendorList').html('');
                            $('#divVendorList').html(partNoList);
                            table = $('#datatable-fixed-header-table').dataTable({
                                destroy: true,
                                "order": [[0, "desc"]]
                            });
                            $('#myLoadingElement').hide();
                            bootbox.alert('Vendor deleted successfully.', function () {
                            });
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
        });
    }

    function LinkFormatter(value, row, index) {
        return "<a href='" + value + "'>" + value + "</a>";
    }

    function exportPDF() {

        $('#myLoadingElement').show();
        var url = '/IMounts/Inventory/VendorExportPDF';
        window.open(url, '_blank');
        $('#myLoadingElement').hide();
    }

    function exportExcel() {
        $('#myLoadingElement').show();
        var url = '/IMounts/Inventory/VendorExportExcel';
        window.open(url, '_blank');
        $('#myLoadingElement').hide();
    }

    var table;
    $(document).ready(function () {
        $('#txtPhoneNumber, #txtEditPhoneNumber').mask('999-999-9999');
        table = $('#datatable-fixed-header-table').DataTable({
            "paging": true,
            "searching": true,
            "order": [[0, "desc"]]
        });

        $('#btnAddVendor').bind('click', function () {
            if (validate()) {
                $('#myLoadingElement').show();
                $('#btnCancelAddVendor').click();
                $('#btnCancelAddVendor').click();
                $.post("/IMounts/Inventory/AddVendor", {
                    Name: $('#txtVendorName').val(),
                    ContactName: $('#txtContactFName').val(),
                    ContactLastName: $('#txtContactLName').val(),
                    Email: $('#txtEmail').val(),
                    PhoneNumber: $('#txtPhoneNumber').val(),
                    Comments: $('#txtComment').val(),
                    Website: $('#txtWebsite').val(),
                    WebUrlPrefix: $('#ddlHttp').val(),
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $.post("/IMounts/Inventory/GetVendor", {

                        }, function (vendorList) {

                            $('#divVendorList').html('');
                            $('#divVendorList').html(vendorList);
                            table = $('#datatable-fixed-header-table').dataTable({
                                destroy: true,
                                "order": [[0, "desc"]]
                            });
                            $('#myLoadingElement').hide();
                            bootbox.alert('Vendor added successfully.', function () {
                                reset();
                            });
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
            event.preventDefault();
            return false;
        });

        $('#btnEditVendor').bind('click', function () {

            if (validateEdit()) {
                $('#myLoadingElement').show();
                $('#snpErrEditVendorName').hide();
                $('#btnCancelEditVendor').click();
                $('#btnCancelEditVendor').click();
                $.post("/IMounts/Inventory/EditVendor", {
                    Name: $('#txtEditVendorName').val(),
                    EncryptId: $('#hdnVendorId').val(),
                    ContactName: $('#txtEditContactFName').val(),
                    ContactLastName: $('#txtEditContactLName').val(),
                    Email: $('#txtEditEmail').val(),
                    PhoneNumber: $('#txtEditPhoneNumber').val(),
                    Comments: $('#txtEditComment').val(),
                    Website: $('#txtEditWebsite').val(),
                    WebUrlPrefix: $('#ddlEditHttp').val()
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $.post("/IMounts/Inventory/GetVendor", {
                        }, function (vendorList) {
                            $('#divVendorList').html('');
                            $('#divVendorList').html(vendorList);
                            table = $('#datatable-fixed-header-table').dataTable({
                                destroy: true,
                                "order": [[0, "desc"]]
                            });
                            $('#myLoadingElement').hide();
                            bootbox.alert('vendor updated successfully.', function () {
                                $('#txtEditVendorName').val('');
                                $('#txtEditContactName').val('');
                                $('#txtEditEmail').val('');
                                $('#txtEditPhoneNumber').val('');
                                $('#txtEditComment').val('');
                            });
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
            else {
                $('#myLoadingElement').hide();

            }
        });

    });
</script>
<div class="col-md-12 col-sm-12 table-responsive no-padding margintop20">
    <div class="x_panel clearfix">
        <div class="x_content">
            <div class="col-sm-6" style="text-align:left">
                <button class="btn-rounded btn-primary marginbottom10 pull-left" onclick="exportPDF();"><i class="fa fa-file-pdf-o"></i> PDF</button>
                <button class="btn-rounded btn-primary marginbottom10 pull-left" onclick="exportExcel();" style="margin-left:10px"><i class="fa fa-file-excel-o"></i> Excel</button>
            </div>
            <div class="col-sm-6" style="text-align:right">
                <button class="btn-rounded btn-primary marginbottom10 pull-right" onclick="reset()" data-toggle="modal" data-target=".addVendor-modal"><i class="fa fa-plus-circle"></i> Add</button>
            </div>


            <div id="divVendorList">
                @Html.Partial("_VendorList", Model)
            </div>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade addVendor-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add Vendor</h3>
            </div>
            <form id="formAddVendor" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Vendor Name <span class="required">*</span> </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="txtVendorName" id="txtVendorName" required="required" tabindex="1" class="form-control col-md-7 col-xs-12">
                            <br />
                            <span id="snpErrAddVendorName" style="color:red;display:none">Vendor name cannot be left blank.</span>
                            <input type="hidden" id="hdnVendorId" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Contact Name </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="txtContactFName" id="txtContactFName" required="required" tabindex="2" class="formCntrl col-sm-5 col-xs-12" autocomplete="Off" placeholder="First name">

                            <input type="text" name="txtContactLName" id="txtContactLName" required="required" tabindex="3" class="formCntrl col-sm-5 col-xs-12 pull-right" autocomplete="Off" placeholder="Last name">
                            @*<span id="snpErrAddContactName" style="color:red;display:none">Contact name cannot be left blank.</span>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Phone Number </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="txtPhoneNumber" data-inputmask="'mask': '999-999-9999'" tabindex="4" id="txtPhoneNumber" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Email </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="txtEmail" id="txtEmail" required="required" tabindex="5" class="form-control col-md-7 col-xs-12 NumOnly" autocomplete="Off">
                            <br />
                            <span id="snpErrAddEmail" style="color:red;display:none">Invalid email id.</span>
                        </div>
                    </div>
                    <div class="form-group linkHyper">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Website </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select id="ddlHttp" class="">
                                <option selected="selected" value="http://">http://</option>
                                <option value="https://">https://</option>
                            </select>
                            <input type="text" name="txtWebsite" id="txtWebsite" tabindex="6" required="required" class="formCntrl col-sm-12 col-md-12 col-xs-12 prefix" autocomplete="Off">
                            <br />
                            <span id="snpErrWebURL" style="color:red;display:none">Invalid web url</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Comment </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @*<input type="textarea" name="txtComment" id="txtComment" tabindex="7" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">*@
                            <textarea   rows="2" name="txtComment" id="txtComment" tabindex="7" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off"></textarea>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelAddVendor" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnAddVendor" class="btn btn-primary">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="myModal" class="modal fade editVendor-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit Vendor</h3>
            </div>
            <form id="formAddVendor" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Vendor Name <span class="required">*</span> </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="txtEditVendorName" id="txtEditVendorName" tabindex="1" required="required" autofocus="autofocus" class="form-control col-md-7 col-xs-12">
                            <br />
                            <span id="snpErrEditVendorName" style="color:red;display:none">Vendor name cannot be left blank.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Contact Name </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="txtEditContactFName" id="txtEditContactFName" tabindex="2" required="required" class="formCntrl col-sm-5 col-xs-12" autocomplete="Off" placeholder="First name">

                            <input type="text" name="txtEditContactLName" id="txtEditContactLName" tabindex="3" required="required" class="formCntrl col-sm-5 col-xs-12 pull-right" autocomplete="Off" placeholder="Last name">
                            @*<span id="snpErrAddContactName" style="color:red;display:none">Contact name cannot be left blank.</span>*@
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Phone Number </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="txtEditPhoneNumber" id="txtEditPhoneNumber" tabindex="4" data-inputmask="'mask': '999-999-9999'" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Email </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input type="text" name="txtEditEmail" id="txtEditEmail" required="required" tabindex="5" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrEditEmail" style="color:red;display:none">Invalid email id.</span>
                        </div>
                    </div>
                    <div class="form-group linkHyper">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Website </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select id="ddlEditHttp" class="">
                                <option selected="selected" value="http://">http://</option>
                                <option value="https://">https://</option>
                            </select>
                            <input type="text" name="txtEditWebsite" id="txtEditWebsite" tabindex="6" required="required" class="formCntrl col-sm-12 col-md-12 col-xs-12 prefix" autocomplete="Off">
                            <br />
                            <span id="snpErrEditWebURL" style="color:red;display:none">Invalid web url</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Comment </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            @*<input type="text" name="txtEditComment" id="txtEditComment" tabindex="7" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">*@
                            <textarea name="txtEditComment" id="txtEditComment" tabindex="7" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off"></textarea>
                            <br />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnCancelEditVendor" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <button type="button" id="btnEditVendor" tabindex="8" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>



