﻿@{
    Layout = null;
    ViewBag.Title = "Privacy Policy";
}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>@ViewBag.Title - Guardian Avionics</title>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/Style.css")

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/ui1.10.4jquery-ui.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @*<link href="~/Content/jquery-ui.css" rel="stylesheet" />*@
    <link href="~/Content/jquery-ui-for-mobile.css" rel="stylesheet" />

    <script src="~/Scripts/timepicker/jquery.timepicker.js"></script>
    <link href="~/Content/timepicker/jquery.timepicker.css" rel="stylesheet" />

    <style type="text/css">
        .inner_header {
            width: 98%;
        }

        .main_con {
            width: 98%;
        }

        .nav ul {
            width: 98%;
        }

        .footer_inner {
            width: 98%;
        }

        .footer_link ul {
            width: 55%;
        }

        h1 {
            color: #226d98;
            font: bold 26px TradeGothicCondensed, Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            margin: 0px;
            padding: 9px 0px 0px;
        }
    </style>


</head>


<body>
    <div>

        <div class="header">
            <div class="inner_header">
                <div class="logo">
                    <a href="javascript:void(0);">
                        <img src="../Images/logo_smartCloudw_nl.png" height="61" width="173">
                    </a>
                </div>
            </div>
        </div>

        <div id="body">



            <div id="wraper">
                <div class="main_con">
                    <div class="inn_con pp_wrap">
                        
                        
                        <h1>Privacy Policy</h1>
                        <br />
                        <p>This privacy policy governs your use of the software application EFB Connect ("Application") for mobile devices that was created by CO Guardian LLC dba Guardian Avionics. The Application is designed to aid the pilot during and after their flight. It is not designed to replace the aircraft's primary instruments. Inflight data is streamed from some of the aircraft's instruments to your mobile device.</p>

                        <h2>User Provided Information</h2>
                        <p>The Application obtains the information you provide when you download and register the Application. Registration with us is optional. However, please keep in mind that you may not be able to use some of the features offered by the Application unless you register with us.</p>
                        <p>When you register with us and use the Application, you generally provide (a) your name, email address, age, user name, password and other registration information; (b) transaction-related information, such as when you make purchases, respond to any offers, or download or use applications from us; (c) information you provide us when you contact us for help; (d) credit card information for purchase and use of the Application, and; (e) information you enter into our system when using the Application, such as contact information and flight data or engine data information.</p>
                        <p>We may also use the information you provided us to contact your from time to time to provide you with important information, required notices and marketing promotions.</p>

                        <h2>Automatically Collected Information</h2>
                        <p>The user may elect to allow the Application to collect precise real time location information of the device while in flight. The data is automatically stored on the user's mobile device during flight. The user has the option to upload the information to their EFB Connect account. </p>

                        <h2>The Application collection of precise real time location information</h2>
                        <p>When you visit the mobile application, we may use GPS technology (or other similar technology) to determine your current location in order to determine the city you are located within and display a location map. We will not share your current location with other users or partners.</p>
                        <p>If you do not want us to use your location for the purposes set forth above, you should turn off the location services for the mobile application located in your account settings or in your mobile phone settings and/or within the mobile application.</p>

                        <h2>Third party access to information obtained by the Application</h2>
                        <p>Only aggregated, anonymized data is periodically transmitted to external services to help us improve the Application and our service. We will share your information with third parties only in the ways that are described in this privacy statement.</p>
                        <p>We may disclose User Provided and Automatically Collected Information:</p>
                        <ul>
                            <li>
                                <p>As required by law, such as to comply with a subpoena, or similar legal process.</p>
                            </li>

                            <li>
                                <p>When we believe in good faith that disclosure is necessary to protect our rights, protect your safety or the safety of others, investigate fraud, or respond to a government request.</p>
                            </li>

                            <li>
                                <p>With our trusted services providers who work on our behalf, do not have an independent use of the information we disclose to them, and have agreed to adhere to the rules set forth in this privacy statement.</p>
                            </li>

                            <li>
                                <p>If CO Guardian dba Guardian Avionics is involved in a merger, acquisition, or sale of all or a portion of its assets, you will be notified via email and/or a prominent notice on our Web site of any change in ownership or uses of this information, as well as any choices you may have regarding this information.</p>
                            </li>
                        </ul>

                        <h2>What are my opt-out rights?</h2>
                        <p>You can stop all collection of information by the Application easily by uninstalling the Application. You may use the standard uninstall processes as may be available as part of your mobile device or via the mobile application marketplace or network. You can also request to opt-out via email, at privacy@guardianavionics.com.</p>

                        <h2>Data Retention Policy, Managing Your Information</h2>
                        <p>We will retain User Provided data for as long as you use the Application and for a reasonable time thereafter. We will retain Automatically Collected information for up to 24 months and thereafter may store it in aggregate. If you'd like us to delete User Provided Data that you have provided via the Application, please contact us at privacy@guardianavionics.com and we will respond in a reasonable time. Please note that some or all of the User Provided Data may be required in order for the Application to function properly.</p>

                        <h2>Children</h2>
                        <p>We do not use the Application to knowingly solicit data from or market to children under the age of 13. If a parent or guardian becomes aware that his or her child has provided us with information without their consent, he or she should contact us at privacy@guardianavionics.com . We will delete such information from our files within a reasonable time.</p>

                        <h2>Security</h2>
                        <p>We are concerned about safeguarding the confidentiality of your information. We provide physical, electronic, and procedural safeguards to protect information we process and maintain. For example, we limit access to this information to authorized employees and contractors who need to know that information in order to operate, develop or improve our Application. Please be aware that, although we endeavor provide reasonable security for information we process and maintain, no security system can prevent all potential security breaches.</p>

                        <h2>Changes</h2>
                        <p>This Privacy Policy may be updated from time to time for any reason. We will notify you of any changes to our Privacy Policy by posting the new Privacy Policy here and informing you via email or text message. You are advised to consult this Privacy Policy regularly for any changes, as continued use is deemed approval of all changes. You can check the history of this policy by iInsert the link of the version history on <a href="http://GuardianAvionics.com/">www.GuardianAvionics.com</a>, available under Privacy Policy .</p>

                        <h2>Your Consent</h2>
                        <p>By using the Application, you are consenting to our processing of your information as set forth in this Privacy Policy now and as amended by us. "Processing," means using cookies on a computer/hand held device or using or touching information in any way, including, but not limited to, collecting, storing, deleting, using, combining and disclosing information, all of which activities will take place in the United States. If you reside outside the United States your information will be transferred, processed and stored there under United States privacy standards. </p>

                        <h2>Contact us</h2>
                        <p>If you have any questions regarding privacy while using the Application, or have questions about our practices, please contact us via email at privacy@guardianavionics.com .</p>

                        <h2>Date</h2>
                        <p>Privacy Policy as of: October 20, 2014</p>

                    </div>
                </div>
            </div>



        </div>

        <div class="footer">
            <div class="footer_inner">
                <div class="footer_link">
                    <span class="pull_rit pulltop10">Copyright CO Guardian 2014</span>
                </div>
            </div>
        </div>

    </div>




</body>

</html>