﻿@{
    Layout = null;
    ViewBag.Title = "Terms and Condition";
}

<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8" http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>@ViewBag.Title - TermsConditions</title>
    <meta name="viewport" content="width=device-width" />

    @Styles.Render("~/Content/Style.css")

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/ui1.10.4jquery-ui.js"></script>

    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/jquery.validate-vsdoc.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    @*<link href="~/Content/jquery-ui.css" rel="stylesheet" />*@
    <link href="~/Content/jquery-ui-for-mobile.css" rel="stylesheet" />

    <script src="~/Scripts/timepicker/jquery.timepicker.js"></script>
    <link href="~/Content/timepicker/jquery.timepicker.css" rel="stylesheet" />

    <style type="text/css">
        .inner_header {
            width: 98%;
        }

        .main_con {
            width: 98%;
        }

        .nav ul {
            width: 98%;
        }

        .footer_inner {
            width: 98%;
        }

        .footer_link ul {
            width: 55%;
        }

        h1 {
            color: #226d98;
            font: bold 26px TradeGothicCondensed, Arial, Helvetica, sans-serif;
            text-transform: uppercase;
            margin: 0px;
            padding: 9px 0px 0px;
        }
    </style>


</head>


<body>
    <div>

        <div class="header">
            <div class="inner_header">
                <div class="logo">
                    <a href="javascript:void(0);">
                        <img src="../Images/logo_smartCloudw_nl.png" height="61" width="173">
                    </a>
                </div>
            </div>
        </div>

        <div id="body">



            <div id="wraper">
                <div class="main_con">
                    <div class="inn_con pp_wrap">

                        <h1>Terms and Conditions</h1>
                        <h2>GENERAL</h2>
                        <p>By installing the Application (as defined below), you agree to be bound by these terms of use (“appterms”). Please review them carefully before installation and/or acceptance.</p>

                        <h2>DEFINITIONS </h2>
                        <p>The “Application” shall mean the software provided by EFB Connect to offer services related to EFB Connect, EFB Connect's services and its partners’ services, to be used on Apple iOS and any upgrades from time to time and any other software or documentation which enables the use of the Application.</p>

                        <h2>DATA PROTECTION</h2>
                        <p>Any personal information you supply to EFB Connect when using the Application will be used by EFB Connect in accordance with its <a href="https://guardianavionicsdata.com/Device/PrivacyPolicy" >Privacy Policy </a>.</p>

                        <h2>Guardianavionicsdata.com</h2>
                        <p>The Application allows you to access certain functionality available on the EFB guardianavionicsdata.com website. Such access will be governed by the EFB Connect Website Terms of Use.</p>

                        <h2>PROPRIETARY RIGHTS AND LICENCE</h2>
                        <p>All trade marks, copyright, database rights and other intellectual property rights of any nature in the Application together with the underlying software code are owned either directly by EFB Connect or by EFB Connect's licensors.</p>

                        <h2>CONDITIONS OF USE</h2>
                        <p>You will not, nor allow third parties on your behalf to (i) make and distribute copies of the Application (ii) attempt to copy, reproduce, alter, modify, reverse engineer, disassemble, decompile, transfer, exchange or translate the Application; or (iii) create derivative works of the Application of any kind whatsoever. </p>
                        <p>The Application is currently made available to you free of charge for your use. EFB Connect reserves the right to amend or withdraw the Application, or charge for the application or service provided to you in accordance with these appterms, at any time and for any reason.</p>
                        <p>Acknowledge that the terms of agreement with your respective mobile network provider (‘Mobile Provider’) will continue to apply when using the Application. As a result, you may be charged by the Mobile Provider for access to network connection services for the duration of the connection while accessing the Application or any such third party charges as may arise. You accept responsibility for any such charges that arise. </p>

                        <h2>AVAILABILITY</h2>
                        <p>This Application is available to mobile devices running Apple iOS Systems. EFB Connect will use reasonable efforts to make the Application available at all times. However you acknowledge the Application is provided over the internet and mobile networks and so the quality and availability of the Application may be affected by factors outside EFB Connect's reasonable control.</p>
                        <p>EFB Connect do not accept any responsibility whatsoever for unavailability of the Application, or any difficulty or inability to download or access content or any other communication system failure which may result in the Application being unavailable. EFB Connect will not be responsible for any support or maintenance for the Application.</p>

                        <h2>SYSTEM REQUIREMENTS</h2>
                        <p>In order to use the Application, you are required to have a compatible mobile telephone or handheld device, internet access, and the necessary minimum specifications ('Software Requirements'). </p>
                        <p>The version of the Application software may be upgraded from time to time to add support for new functions and services.</p>

                        <h2>TERMINATION</h2>
                        <p>EFB Connect may terminate use of the Application at any time by giving notice of termination to you. </p>
                        <p>Upon any termination, (a) the rights and licenses granted to you herein shall terminate; (b) you must cease all use of the Software;</p>

                        <h2>LIMITATION OF LIABILITY </h2>
                        <p>In no event will EFB Connect be liable for any direct, indirect, special, punitive, exemplary or consequential losses or damages of whatsoever kind arising out of your use or access to the Application, including loss of profit or the like whether or not in the contemplation of the parties, whether based on breach of contract, tort (including negligence), product liability or otherwise. 11.2. EFB Connect is not liable to you for any damage or alteration to your equipment including but not limited to computer equipment, handheld device or mobile telephones as a result of the installation or use of the Application. </p>
                        <p>Nothing in these Appterms shall exclude or limit EFB Connect's liability for death or personal injury caused by negligence or for fraud or fraudulent misrepresentation or any other liability which cannot be excluded or limited under applicable law.</p>

                        <h2>DISCLAIMER OF WARRANTIES</h2>
                        <p>The Application and software are provided "as is" and "as available" without warranty of any kind.</p>

                    </div>
                </div>
            </div>



        </div>

        <div class="footer">
            <div class="footer_inner">
                <div class="footer_link">
                    <span class="pull_rit pulltop10">Copyright CO Guardian 2014</span>
                </div>
            </div>
        </div>

    </div>




</body>

</html>

