﻿@model List<GA.DataTransfer.Classes_for_Web.UserInfo>

    <table id="datatable-fixed-header" class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Email ID</th>
                <th>User</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.EmailId</td>
                    <td>@item.FirstName @item.LastName</td>
                    <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><a data-toggle="tooltip" data-placement="top" title="View this profile" class="hi-icon icon-view btn-danger" href="@Url.Action("LoginAsUser", "Admin", new { profileId = @item.TId })"></a><a data-toggle="tooltip" data-placement="top" title="Block User" class="hi-icon fa fa-lock btn-warning" onclick="blockUser('@item.TId')"></a> </div></td>
                </tr>
            }
            @if (Model.Count == 0)
            {
                <tr>
                    <td colspan="4" align="center">
                        No records found.
                    </td>
                </tr>
            }
        </tbody>
    </table>
 