﻿@model List<GA.DataTransfer.ListItems>


<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.text</td>
                <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> <span data-toggle="tooltip" data-placement="top" title="Edit this entry" ><a id="editAircraftManufacturer_@item.value" onclick="editAircraftManufacturer('@item.text','@item.value')" class="hi-icon fa fa-edit btn-primary" data-toggle="modal" data-target=".editpropeller-modal"></a></span> <a data-toggle="tooltip" data-placement="top" title="Delete this entry" class="hi-icon fa fa-trash btn-danger" id="deleteAircraftManufacturer_@item.value" onclick="deleteAircraftManufacturer('@item.value')"></a> </div></td>
                <td><a href="@Url.Action("AircraftModel", "Admin", new { manufacturerId = @item.value, aircraftManufacturerName = @item.text })" class="orangelink">Show Model</a></td>
            </tr>
        }
    </tbody>
</table>