﻿@model List<GA.DataTransfer.ListItems>


<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.text</td>
                <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> <span data-toggle="tooltip" data-placement="top" title="Edit this entry"><a id="editAircraftModel_@item.value" onclick="editAircraftModel('@item.text','@item.value')" class="hi-icon fa fa-edit btn-primary" data-toggle="modal" data-target=".editpropeller-modal"></a></span> <a data-toggle="tooltip" data-placement="top" title="Delete this entry" class="hi-icon fa fa-trash btn-danger" id="deleteAircraftModel_@item.value" onclick="deleteAircraftModel('@item.value')"></a> </div></td>
            </tr>
        }
    </tbody>
</table>