﻿@model List<GA.DataTransfer.Classes_for_Web.AircraftSummary>



<table id="datatable-fixed-header-AircraftList" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="display:none">S.No.</th>
            <th>Tail Number</th>
            <th>Unit Serial Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td style="display:none">@item.SNO</td>
                <td>@item.aircraftNNumber</td>
                <td>@item.UnitSerialNo</td>
                <td><a class="btn btn-primary btn-xs" href="@Url.Action("AircraftDetails", "Aircraft", new { aid = @item.TId, flag = 1 })"><i class="fa fa-search-plus"></i> View Details</a></td>
            </tr>
        }
    </tbody>
</table>