﻿@model List<GA.DataTransfer.Classes_for_Web.ComponentManufacturerAndUser>




<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>User EmailId</th>
            <th>Actions</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    @if (@item.EmailId == "")
                    {
                        <a onclick="CreateManufacturerUser(@item.Id)" class="btn btn-primary btn-xs"><i class="fa fa-plus-circle"></i> Add User</a>
                    }
                    else
                    {
                        @item.EmailId
                        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a pull-right"><a class="hi-icon fa fa-trash btn-danger" onclick="deleteUser('@item.EmailId')" title="" data-placement="top" data-toggle="tooltip" onclick="" data-original-title="Delete User?"></a> </div>
                    }
                </td>

                <td>
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> <span data-toggle="tooltip" data-placement="top" title="Edit Manufacturer"><a onclick="editComponentManufacturer('@item.Name','@item.Id')" class="hi-icon fa fa-edit btn-primary" data-toggle="modal" data-target=".editmanufacturer-modal"></a></span> <a onclick="deleteComponentManufacturer('@item.Id')" data-toggle="tooltip" data-placement="top" title="Delete Manufacturer" class="hi-icon fa fa-trash btn-danger"></a> </div>
                </td>
                <td><a href="@Url.Action("ComponentModel", "Admin", new { id = @item.Id, name = @item.Name})"><i class="fa fa-cube"></i> Show Model</a></td>
            </tr>
        }

    </tbody>
</table>
