﻿@model List<GA.DataTransfer.Classes_for_Web.ComponentModel_ConfigSetting>


<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Component</th>
            <th>Manufacturer</th>
            <th>File Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.ModelName</td>
                <td>@item.componentName</td>
                <td>@item.ManufacturerName</td>
                <td>@item.FileName</td>
                <td>
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> <span data-toggle="tooltip" data-placement="top" title="Edit Model"><a onclick="editComponentModel('@item.ModelName','@item.componentName','@item.Id','@item.FileName','@item.ComponentManufacturerId')" class="hi-icon fa fa-edit btn-primary" data-toggle="modal" data-target=".editModel-modal"></a></span> <a onclick="deleteComponentModel('@item.Id','@item.ComponentManufacturerId')" data-toggle="tooltip" data-placement="top" title="Delete Manufacturer" class="hi-icon fa fa-trash btn-danger"></a> </div>
                </td>
               
            </tr>
        }

    </tbody>
</table>
