﻿@model List<GA.DataTransfer.Classes_for_Services.ErrorLogModel>

<table id="datatable-fixed-header-ErrorLogs" class="table table-striped table-bordered display" width="100%">
    <thead>
        <tr>
            <th>Id</th>
            @*<th style="width:20%">EncryptRequest</th>
                <th style="width:20%">JsonRequest</th>*@
            <th>RequestId</th>
            <th>Response</th>
            @*<th width="20%">EncryptedResponse</th>
                <th width="20%">JsonResponse</th>*@
            <th>Module</th>
            <th>MethodName</th>
            <th>Date</th>
            <th>IsResolved</th>
            <th>Remark</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="@item.Response">
                <td>
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                        <a data-toggle="tooltip" data-placement="top" onclick="getErrorLogById(@item.Id)" title="view Details" class="hi-icon fa fa-eye btn-primary" href="javascript:void(0);"></a> 
                    </div>
                </td>
                <td>@item.RequestId</td>
                <td>@item.Response</td>
                <td>@item.Module</td>
                <td>@item.MethodName</td>
                <td>@String.Format("{0:MM/dd/yyyy}", item.Date)</td>
                <td>@item.IsResolved</td>
                <td>@item.Remark</td>
            </tr>
        }
    </tbody>
</table>