﻿@model List<GA.DataTransfer.Classes_for_Web.DocumentModelWeb>

<table id="datatable-fixed-headerFlightBag" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>SNO</th>
            <th style="width:35%">Title</th>
            <th>Name</th>
            <th>File Size (KB)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
               <td>@item.SNO</td>
                <td>@item.Title</td>
                <td> 
                    <p> <img src="@item.IconUrl" />&nbsp; <a href="@item.Url" target="_blank" style="color:black">@item.Name</a> </p> </td>@*<span id="spnDocument_@item.Id">@item.Name</span>*@
                <td>@item.FileSize</td>
                <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><a data-toggle="tooltip" data-placement="top" title="Delete this entry" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);" id="deleteDocument" onclick="deleteDocument('@item.Id')"></a> </div></td>
            </tr>
        }
    </tbody>
</table>