﻿@model List<GA.DataTransfer.HardwareFirmwareUpdateModel>
 

@{
    int sno = 1;
}
<table id="datatable-fixed-header-Firmware" class="table table-striped table-bordered fold-table">
    <thead>
        <tr>
            <th>SNO</th>
            <th>FileName</th>
            <th>Version</th>
            <th>Version Summary</th>
            <th>IsLatest</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@sno</td>
                <td>@item.FileName</td>
                <td>@item.Version</td>
                <td>@item.VersionSummary</td>
                <td><span class="@(item.IsLatest == true ? "fa fa-check fa-green" : "fa fa-close")"></span></td>
                <td>
                    
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                        <span data-toggle="tooltip" data-placement="top" title="Edit">
                            <a href="javascript:void(0);" onclick="setEditFirmware(@Html.Raw(Json.Encode(item)).ToString())" data-toggle="modal" data-target=".editFirmwareFile-modal" class="hi-icon fa fa-edit btn-primary"></a>
                      </span>
                        <a data-toggle="tooltip" data-placement="top" onclick="deleteFirmwareFile('@item.Id')" title="Delete record?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a>  
                    </div>
                </td>
            </tr>
            sno = sno + 1;
        }
    </tbody>
</table>