﻿@model GA.DataTransfer.Classes_for_Web.IPassengerMediaDetails

<script type="text/javascript">


    function AddInstruction() {
        if ($('#txtAddIPInstructionTitle').val() == '') {
            $("#snpErrAddIPInstructionTitle").attr("style", "display:block;color:red");
        }
        else {
            $("#snpErrAddIPInstructionTitle").attr("style", "display:none;color:red");
            $('#btnCancelAddIPInstruction').click();
            $('#btnCancelAddIPInstruction').click();
            $('#myLoadingElement').show();

            $.post("/Admin/AddIPassengerInstruction", {
                title: $('#txtAddIPInstructionTitle').val(),
            },
            function (data) {
                $('#divIPassengerInstructionPartial').html(data);
                $('#datatable-fixed-headerIPInstruction').dataTable();
                //$('#btnCancelAddIPInstruction').click();
                //$('#btnCancelAddIPInstruction').click();
                $('#myLoadingElement').hide();
                bootbox.alert('Instruction added successfully.', function () {
                });
            });
        }
    }

    function editInstruction(id, title) {
        $("#hdnIPInstructionId").val(id);
        $("#txtEditIPInstructionTitle").val(title);
        $("#snpErrEditIPInstructionTitle").attr("style", "display:none;color:red");
    }

    function UpdateInstruction() {
        if ($('#txtEditIPInstructionTitle').val() == '') {
            $("#snpErrEditIPInstructionTitle").attr("style", "display:block;color:red");
        }
        else {
            $("#snpErrEditIPInstructionTitle").attr("style", "display:none;color:red");
            $('#btnCancelEditIPInstruction').click();
            $('#btnCancelEditIPInstruction').click();
            $('#myLoadingElement').show();

            $.post("/Admin/UpdateDeleteIPassengerInstruction", {
                title: $('#txtEditIPInstructionTitle').val(),
                id: $("#hdnIPInstructionId").val(),
                isUpdate: true
            },
            function (data) {
                //check for session
                $('#divIPassengerInstructionPartial').html(data);
                $('#datatable-fixed-headerIPInstruction').dataTable();
                //$('#btnCancelEditIPInstruction').click();
                //$('#btnCancelEditIPInstruction').click();
                $('#myLoadingElement').hide();
                bootbox.alert('Instruction updated successfully.', function () {
                });
            });
        }
    }

    function deleteInstruction(id) {
        bootbox.confirm("Are you sure to delete Instruction?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/Admin/UpdateDeleteIPassengerInstruction", {
                    title: '',
                    id: id,
                    isUpdate: false
                },
                function (data) {
                    //check for session
                    $('#divIPassengerInstructionPartial').html(data);
                    $('#datatable-fixed-headerIPInstruction').dataTable();
                    $('#myLoadingElement').hide();
                    bootbox.alert('Instruction deleted successfully.', function () {
                    });
                });
            }
        });
    }

</script>
<input type="hidden" id="hdnIPInstructionId" value="" />
<table id="datatable-fixed-headerIPInstruction" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Instruction</th>
                <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.InstructionList)
        {
            <tr>
                <td>@item.Title</td>
                    <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> <span data-toggle="tooltip" data-placement="top" title="Edit Details"><a href="javascript:void(0);" onclick='editInstruction("@item.TId","@item.Title")' data-toggle="modal" data-target=".editinstruction-modal" class="hi-icon fa fa-edit btn-primary"></a></span><a data-toggle="tooltip" data-placement="top" id="" onclick="deleteInstruction('@item.TId')" title="Delete warning?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a></div></td>
            </tr>
        }
    </tbody>
</table>