﻿@model GA.DataTransfer.Classes_for_Web.IPassengerMediaDetails



<script type="text/javascript">

    function UploadIPVideo() {
        var data = new FormData();
        var files = $("#uploadBtnIPVideo").get(0).files;

        if ($("#txtAddIPVideoTitle").val() == '' || files.length == 0) {
            if ($("#txtAddIPVideoTitle").val() == '') {
                $("#snpErrAddIPVideoTitle").attr("style", "display:block;color:red");
            }
            else {
                $("#snpErrAddIPVideoTitle").attr("style", "display:none;color:red");
            }

            if (files.length == 0) {
                $("#snpErrAddIPVideoFile").attr("style", "display:block;color:red");
            }
            else {
                $("#snpErrAddIPVideoFile").attr("style", "display:none;color:red");
            }
        }
        else {
            $('#btnAddCancelIPVideo').click();
            $('#btnAddCancelIPVideo').click();
            $('#myLoadingElement').show();
            $("#snpErrAddIPVideoTitle").attr("style", "display:none;color:red");
            $("#snpErrAddIPVideoFile").attr("style", "display:none;color:red");
            var random = epicRandomString(10);
            var arrFileName = files[0].name.toLowerCase().split('.');
            var fileExtension = arrFileName[arrFileName.length - 1];
            var uniqueName = random + "." + fileExtension;
            //var uniqueName = random + "." + files[0].name.split('.')[1];
            data.append("HelpSectionImages", files[0]);
            data.append("VideoTitle", $("#txtAddIPVideoTitle").val());
            data.append("fileUniqueName", uniqueName);
            $.ajax({
                url: '@Url.Action("/UploadIPassengerVideoFile")',
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    //code after success
                    $('#divIPassengerVideoePartial').html(response);
                    $('#datatable-fixed-headerIpassengerVideo').dataTable();
                    $("#uploadBtnIPVideo").val('').clone(true);
                    //$('#btnAddCancelIPVideo').click();
                    //$('#btnAddCancelIPVideo').click();
                    $('#myLoadingElement').hide();
                    bootbox.alert('Video uploaded successfully.', function () {
                    });
                },
                error: function (er) {
                    $('#myLoadingElement').hide();
                    console.log(er);
                    bootbox.alert('Error occurs while uploading the video file.', function () {
                    });
                }

            });
        }
    }


    function UpdateVideoTitle() {

        if ($("#txtEditIPVideoTitle").val() == '') {
            $("#snpErrEditIPVideoTitle").attr("style", "display:block;color:red");
        }
        else {
            $("#snpErrEditIPVideoTitle").attr("style", "display:none;color:red");
            $('#btnCancelEditIPVideo').click();
            $('#btnCancelEditIPVideo').click();
            $('#myLoadingElement').show();
            $.post("/Admin/UpdateDeleteIPassengerVideo", {
                title: $('#txtEditIPVideoTitle').val(),
                id: $("#hdnIPVideoId").val(),
                isUpdate: true
            },
            function (data) {
                $('#divIPassengerVideoePartial').html(data);
                $('#datatable-fixed-headerIpassengerVideo').dataTable();
                $('#myLoadingElement').hide();
                //$('#btnCancelEditIPVideo').click();
                //$('#btnCancelEditIPVideo').click();
                bootbox.alert('Title updated successfully.', function () {
                });
            });
        }
    }


    function setValuesEditIPVideo(id, title) {
        $("#hdnIPVideoId").val(id);
        $("#txtEditIPVideoTitle").val(title);
        $("#snpErrEditIPVideoTitle").attr("style", "display:none;color:red");
    }

    function deleteVideo(id) {

        bootbox.confirm("Are you sure to delete video?", function (result) {

            if (result) {
                $('#myLoadingElement').show();
                $.post("/Admin/UpdateDeleteIPassengerVideo", {
                    title: '',
                    id: id,
                    isUpdate: false,
                },
                  function (data) {
                      $('#divIPassengerVideoePartial').html(data);
                      $('#datatable-fixed-headerIpassengerVideo').dataTable();
                      $('#myLoadingElement').hide();
                      bootbox.alert('Video deleted successfully.', function () {
                      });
                  });
            }
        });

    }


    function funLoadVideo(filePath) {
        document.getElementById("VideoSrc").src = filePath;
        document.getElementById("videoId").load();
    }

</script>


<input type="hidden" id="hdnIPVideoId" value="" />
<table id="datatable-fixed-headerIpassengerVideo" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Video</th>
            <th>Title</th>
                <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.VideoList)
        {
            <tr>
                <td><a data-toggle="modal" data-target=".Showvideo-modal" onclick="funLoadVideo('@item.FilePath')"> <img title="click here to play video" data-toggle="tooltip" data-placement="top" style="cursor:pointer" src="@item.ThumbnailImagePath" width="40" height="40" /></a></td>
                <td>@item.Title</td>
                    <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> <span data-toggle="tooltip" data-placement="top" title="Edit Details"><a href="javascript:void(0);" onclick='setValuesEditIPVideo("@item.TId","@item.Title")' data-toggle="modal" data-target=".editvideo-modal" class="hi-icon fa fa-edit btn-primary"></a></span><a data-toggle="tooltip" data-placement="top" onclick="deleteVideo('@item.TId')" title="Delete Details" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a> </div></td>
            </tr>
        }
    </tbody>
</table>