﻿@model GA.DataTransfer.Classes_for_Web.IPassengerMediaDetails



<script type="text/javascript">

    function UploadIPImage() {
        var data = new FormData();
        var files = $("#uploadBtnIPImage").get(0).files;
        if ($("#txtAddIPImageTitle").val() == '' || files.length == 0) {
            if ($("#txtAddIPImageTitle").val() == '') {
                $("#snpErrAddIPImageTitle").attr("style", "display:block;color:red");
            }
            else {
                $("#snpErrAddIPImageTitle").attr("style", "display:none;color:red");
            }

            if (files.length == 0) {
                $("#snpErrAddIPImageFile").attr("style", "display:block;color:red");
            }
            else {
                $("#snpErrAddIPImageFile").attr("style", "display:none;color:red");
            }
        }
        else {
            $("#snpErrAddIPImageTitle").attr("style", "display:none;color:red");
            $("#snpErrAddIPImageFile").attr("style", "display:none;color:red");
            $('#btnCancelAddIPImage').click();
            $('#btnCancelAddIPImage').click();
            $('#myLoadingElement').show();
            var random = epicRandomString(10);
            var arrFileName = files[0].name.toLowerCase().split('.');
            var fileExtension = arrFileName[arrFileName.length - 1];
            var uniqueName = random + "." + fileExtension;
            //var uniqueName = random + "." + files[0].name.split('.')[1];
            data.append("HelpSectionImages", files[0]);
            data.append("ImageTitle", $("#txtAddIPImageTitle").val());
            data.append("fileUniqueName", uniqueName);
            $.ajax({
                url: '@Url.Action("/UploadIPassengerImageFile")',
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    //code after success
                    $('#divIPassengerImagePartial').html(response);
                    $('#datatable-fixed-headerIPImage').dataTable();
                    $("#uploadBtnIPImage").val('').clone(true);
                    //$('#btnCancelAddIPImage').click();
                    //$('#btnCancelAddIPImage').click();
                    $('#myLoadingElement').hide();
                    bootbox.alert("@GA.Common.ResourcrFiles.AircraftProfile.Messages.UploadImageSuccess.ToString()", function () {
                    });
                },
                error: function (er) {
                    bootbox.alert("@GA.Common.ResourcrFiles.AircraftProfile.Messages.UploadImageError.ToString()", function () {
                    });
                }
            });
        }
    }

    function UpdateImageTitle() {
        if ($("#txtEditIPImageTitle").val() == '') {
            $("#snpErrEditIPImageTitle").attr("style", "display:block;color:red");
        }
        else {
            $("#snpErrEditIPImageTitle").attr("style", "display:none;color:red");
            $('#btnCancelEditIPImage').click();
            $('#btnCancelEditIPImage').click();
            $('#myLoadingElement').show();

            $.post("/Admin/UpdateDeleteIPassengerImage", {
                title: $('#txtEditIPImageTitle').val(),
                id: $("#hdnIPImageId").val(),
                isUpdate: true
            },
            function (data) {
                $('#divIPassengerImagePartial').html(data);
                $('#datatable-fixed-headerIPImage').dataTable();
                $('#myLoadingElement').hide();
                //$('#btnCancelEditIPImage').click();
                //$('#btnCancelEditIPImage').click();
                bootbox.alert('Title updated successfully.', function () {
                });
            });
        }
    }


    function setValuesEditIPImage(id, title) {
        $("#hdnIPImageId").val(id);
        $("#txtEditIPImageTitle").val(title);
        $("#snpErrEditIPImageTitle").attr("style", "display:none;color:red");
    }


    function deleteImage(id) {
        bootbox.confirm("Are you sure to delete image?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/Admin/UpdateDeleteIPassengerImage", {
                    title: '',
                    id: id,
                    isUpdate: false

                },
                function (data) {
                    $('#divIPassengerImagePartial').html(data);
                    $('#datatable-fixed-headerIPImage').dataTable();
                    $('#myLoadingElement').hide();
                    bootbox.alert("@GA.Common.ResourcrFiles.AircraftProfile.Messages.DeleteImageSuccess.ToString()", function () {
                    });
                });
            }
        });
    }

    function funLoadImage(filePath) {
        document.getElementById("imgIpassenger").src = filePath;
    }


</script>

<input type="hidden" id="hdnIPImageId" value="" />
<table id="datatable-fixed-headerIPImage" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Image</th>
            <th>Title</th>
                <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model.ImageList)
        {
            <tr>
                <td> <a data-toggle="modal" style="cursor:pointer" data-target=".ShowImage-modal" onclick="funLoadImage('@item.FilePath')">  <img src="@item.ThumbnailImagePath" width="40" height="40" /> </a> </td>
                <td>@item.Title</td>
                    <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> <span data-toggle="tooltip" data-placement="top" title="Edit Details"><a href="javascript:void(0);" onclick='setValuesEditIPImage("@item.TId","@item.Title")' data-toggle="modal" data-target=".editimage-modal" class="hi-icon fa fa-edit btn-primary"></a></span><a data-toggle="tooltip" data-placement="top" id="" onclick="deleteImage('@item.TId')" title="Delete Details" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a> </div></td>
            </tr>
        }
    </tbody>
</table>