﻿@model List<GA.DataTransfer.LinkedAeroUnit>


 


<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Unit Serial Number</th>
            <th>Aircraft Tail Number</th>
            <th>Aircraft Serial Number</th>
            <th>Installation Date</th>
            <th>Block</th>
            <th>Replace</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>@item.AeroUnitNumber</td>
            <td>@item.AircraftTelNumber</td>
            <td>@item.AircraftSerialNo</td>
            <td>@item.DateCreated</td>
            <td>
                <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><a data-toggle="tooltip" data-placement="top" title="Block this unit" class="hi-icon fa fa-lock btn-danger" onclick="blockAeroUnit('@item.AeroUnitNumber','@item.Id')"></a> </div>
            </td>
            <td>
                <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><a data-toggle="tooltip" data-placement="top" title="Replace AeroUnit" class="hi-icon fa fa-pencil btn-danger" onclick="changeAeroUnit('@item.AeroUnitNumber','@item.Id')"></a> </div>
            </td>
        </tr>
        }
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="5" align="center">
                    No record found.
                </td>
            </tr>
        }
    </tbody>
</table>
<div id="modalChangeAeroUnit" class="modal fade addModel-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h4 class="modal-title" id="myModalLabel2">Change Aero Unit</h4>
            </div>
            <div class="modal-body clearfix">
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Old Unit Serial Number</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtOldName" readonly="readonly" id="txtOldSrNo" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">New Unit Serial Number <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtModelName" id="txtNewSrNo" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <input type="hidden" id="hdnAeroUnitId" value="" />
                            <span id="snpErrtxtModel" style="color:red;display:none">Model name cannot be left blank.</span>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 no-padding">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Reason <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            @*<select id="ddlReason">
                                <option value="Unit Replacement">Unit Replacement</option>
                            </select>*@
                            @*@Html.DropDownList("ddlComponentAdd", new SelectList( {value= "dsfsd"}, "value", "text"), new { @class = "form-control" })*@
                            @Html.DropDownList("ddlReason", new SelectList(ViewBag.ReasonList, "value", "text"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Comment</label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" id="txtComment" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                    <div style="color:red">Note: Please make sure you have already assigned new serial number to the unit</div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelModel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="changeAeroUnitAction();" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>