﻿@model List<GA.DataTransfer.Classes_for_Web.UserInfo>

@*data-target=".add-manufacturer-modal"*@
<button class="btn-rounded marginbottom10 btn-primary pull-right" onclick="redirectToRegister()" data-toggle="modal" ><i class="fa fa-plus-circle"></i> Add Manufacturer</button>

<!----------modal popup for add manufacturer starts---------->
@*<div class="modal fade add-manufacturer-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Name</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Manufacturer Name <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtAddManufacturerName" id="txtAddManufacturerName" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="btnAddmanuUser();" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>*@
<!----------modal popup for add manufacturer ends---------->
<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>EmailID</th>
            <th>User Name</th>
            <th>Manufacturer</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.EmailId</td>
                <td>@item.FirstName @item.LastName</td>
                <td>@item.ComponentManufacturer</td>
                <td>
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><a onclick="deleteManufacturerUser('@item.ProfileId')" data-toggle="tooltip" data-placement="top" title="Delete user" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a> </div>
                </td>
            </tr>
        }
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="5" align="center">
                    No record found.
                </td>
            </tr>
        }
    </tbody>
</table>