﻿@model List<GA.DataTransfer.ListItems>


<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.text</td>
                <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> <span data-toggle="tooltip" data-placement="top" title="Edit this entry"><a href="javascript:void(0);" onclick="SetModelText('@item.text','@item.value')" data-toggle="modal" data-target=".editMedCertClass-modal" class="hi-icon fa fa-edit btn-primary"></a></span> <a data-toggle="tooltip" data-placement="top" id="deleteMedCertClass" onclick="deleteMedCertClass('@item.value')" title="Delete MedCertClass?" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a> </div></td>
            </tr>
        }
    </tbody>
</table>