﻿@model List<GA.DataTransfer.PassengerProMapFileModel>



<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Title</th>
            <th>Region</th>
            <th>FileSizeInMB</th>
            <th>ZoomLevel</th>
            <th>Delete</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Title</td>
                <td>@item.Region</td>
                <td>@item.FileSizeInMB</td>
                <td>@item.ZoomLevel</td>
                <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><a id="btnDeletePasssengerMapFile" onclick="deletePassengerProMapFile(@item.Id)" data-toggle="tooltip" data-placement="top" title="Delete file" class="hi-icon fa fa-trash btn-danger"></a> </div></td>
            </tr>
        }

    </tbody>
</table>