﻿@model List<GA.DataTransfer.LinkedAeroUnit>
<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Unit Serial Number</th>
            <th>Aircraft Tail Number</th>
            <th>Installation Date</th>
            
            <th>UnBlock</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>@item.AeroUnitNumber</td>
                <td>@item.AircraftTelNumber</td>
                <td>@item.DateCreated</td>
                <td>
                <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                	<a class="icon_tooltip hi-icon fa fa-unlock btn-danger" data-toggle="tooltip" data-placement="top" onclick="UnBlockedAeroUnit('@item.AeroUnitNumber')" title=" Unblock unit"></a>
                </div></td>
            </tr>
        }
        @if (Model.Count == 0)
        { 
            <tr>
                <td colspan="4" align="center">
                    No record found.
                </td>
            </tr>
        }
    </tbody>
</table>