﻿@model List<GA.DataTransfer.UnlinkedAreoUnit>


<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Unit Serial Number</th>
            <th>Date Modified</th>
            <th>Delete?</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.UnitSerialNumber</td>
                <td>@item.Date</td>
                <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><a onclick="deleteAeroUnit('@item.UnitSerialNumber')" data-toggle="tooltip" data-placement="top" title="Delete unit" class="hi-icon fa fa-trash btn-danger" href="javascript:void(0);"></a> </div></td>
            </tr>
        }
        @if (Model.Count == 0)
        {
            <tr>
                <td colspan="3" align="center">
                    No record found.
                </td>
            </tr>
        }
    </tbody>
</table>