﻿@model  GA.DataTransfer.Classes_for_Web.AdminHome


<div id="myTabContent" class="tab-content">
    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
        <button class="btn-rounded marginbottom10 btn-primary pull-right" data-toggle="modal" data-target=".push-notification-modal"><i class="fa  fa-send"></i> Push Notification</button>

        <!----------modal popup for push notification starts---------->
        <!----------modal popup for push notification ends---------->
        <div id="divPartialUserList">
            <table id="datatable-fixed-header" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Email ID</th>
                        <th>User</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.UserList)
                    {
                        <tr>
                            <td>@item.EmailId</td>
                            <td>@item.FirstName @item.LastName</td>
                            <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><a data-toggle="tooltip" data-placement="top" title="Block User" class="hi-icon fa fa-lock btn-warning" href=""></a>
                                <a data-toggle="tooltip" data-placement="top" title="View this profile" class="hi-icon icon-view btn-danger" onclick="blockUser('@item.ProfileId')"></a> </div></td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
        <div id="divPartialInActiveUserList">
            <table id="datatable-fixed-header" class="table table-striped table-bordered tbInActive">
                <thead>
                    <tr>
                        <th>Email ID</th>
                        <th>User</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.InActiveUserList)
                    {
                        <tr>
                            <td>@item.EmailId</td>
                            <td>@item.FirstName @item.LastName</td>
                            <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><a data-toggle="tooltip" data-placement="top" title="View this profile" class="hi-icon fa fa-lock btn-warning1" href=""></a><a data-toggle="tooltip" data-placement="top" title="Block User" class="hi-icon icon-view btn-danger1" onclick="UnblockUser('@item.ProfileId')"></a> </div></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>