﻿@model GA.DataTransfer.Classes_for_Web.AddSubscriptionViewModel
@using GA.Common;


@{
    ViewBag.Title = "AddSubscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/jquery.js"></script>


<script type="text/javascript">



    $(document).ready(function () {

        var $RIGHT_COL = $('.right_col'),
             $BODY = $('body'),
              $LEFT_COL = $('.left_col'),
   $RIGHT_COL = $('.right_col'),
     $NAV_MENU = $('.nav_menu'),
   $FOOTER = $('footer');
        $RIGHT_COL.css('min-height', $(window).height());

        var bodyHeight = $BODY.height(),
            leftColHeight = $LEFT_COL.eq(1).height() + $SIDEBAR_FOOTER.height(),
            contentHeight = bodyHeight < leftColHeight ? leftColHeight : bodyHeight;

        // normalize content
        contentHeight -= $NAV_MENU.height() + $FOOTER.height();

        $RIGHT_COL.css('min-height', contentHeight);


        $('#datatable-fixed-headerSubscription').DataTable({
            "paging": false,
            "ordering": false,
            "searching": false,

        });
    });

    function Showmessage(data) {
        $('#notID').html('Successfully Submitted');
    }


    function addFeature() {
        if ($('input:checkbox:checked.abcd').length != 0) {
            $(".ulMFD").empty();
            $(".ulCloud").empty();

            //$('input:checkbox:checked.abcd')
            $('input:checkbox.abcd').each(function () {
                //alert($(this).attr('FeatureName'));
                var liClass = "";
                if ($(this).is(':checked')) {
                    liClass = 'tick';
                }
                else {
                    liClass = 'cross';
                }


                var groupName = $(this).attr('FeatureGroup');
                //alert(groupName);
                if (groupName == 'MFD' || groupName == 'MFD&Cloud') {
                    $(".ulMFD").append('<li class="' + liClass + '">' + $(this).attr('FeatureName') + '</li>');
                }
                if (groupName == 'Cloud' || groupName == 'MFD&Cloud') {
                    $(".ulCloud").append('<li class="' + liClass + '">' + $(this).attr('FeatureName') + '</li>');
                }
            });

            $("#divFeature").show();
            $("#btnCancelAddManufacturer").click();
        }

    }

</script>

<style type="text/css">
    .ulMFD, .ulMFD ul {
        margin-top: 0;
        padding-left: 2em;
        list-style-type: none;
    }


        .ulMFD li:before {
            position: absolute;
            margin-left: -1.3em;
            font-weight: bold;
        }

        .ulMFD li.tick:before {
            content: "\2713";
            color: darkgreen;
        }

        .ulMFD li.cross:before {
            content: "\2717";
            color: crimson;
        }

    .ulCloud, .ulCloud ul {
        margin-top: 0;
        padding-left: 2em;
        list-style-type: none;
    }


        .ulCloud li:before {
            position: absolute;
            margin-left: -1.3em;
            font-weight: bold;
        }

        .ulCloud li.tick:before {
            content: "\2713";
            color: darkgreen;
        }

        .ulCloud li.cross:before {
            content: "\2717";
            color: crimson;
        }
</style>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<div id="notID">

</div>
@using (@Html.BeginForm("AddSubscription", "Admin", FormMethod.Post, new  {   }))
{
        <div class="x_panel clearfix"  >

            <div class="x_content">
              
                <div id="">
                        <div class="register-form form-horizontal form-label-left form-reg-field">
                            <div class="clearfix"> <span class="section">User information:</span> </div>
                            <div class="item form-group ">
                                @Html.ValidationSummary(false, "", new { @class = "Red" })
                                <label class="control-label col-md-4 col-sm-3 col-xs-12 " for="first-name">Name <span class="required">*</span> </label>
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                    @Html.TextBoxFor(m => m.Name, null, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", placeholder = "Enter First Name" })
                                    <span aria-hidden="true" class="fa fa-user form-control-feedback left"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Description <span class="required">*</span> </label>
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                    @Html.TextBoxFor(m => m.Details, null, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", placeholder = "Enter Last Name" })
                                    <span aria-hidden="true" class="fa fa-user form-control-feedback left"></span>
                                </div>
                            </div>
                            <table id="datatable-fixed-headerSubscription" class="table table-striped table-bordered" style="margin-top:50px;margin-bottom:30px">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Amount</th>
                                        <th>PayPal ItemId</th>
                                        <th>PayPal ButtonId</th>
                                        <th>Inapp ProductId</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Monthly</td>
                                        <td>
                                            <select id="AmountMonthly" name="AmountMonthly" class="select_group form-control">
                                                <option value="9.99">9.99</option>
                                                <option value="14.99">14.99</option>
                                                <option value="19.99">19.99</option>
                                                <option value="24.95">24.99</option>
                                                <option value="24.95">24.99</option>
                                                <option value="29.95">29.99</option>
                                                <option value="99.00">99.99</option>
                                                <option value="149.00">149.99</option>
                                                <option value="199.00">199.99</option>
                                                <option value="249.00">249.99</option>
                                                <option value="299.00">299.99</option>
                                            </select>
                                        </td>
                                        <td>@Html.TextBoxFor(m => m.PaypalItemIdMonthly, null, new { @class = "form-control", placeholder = "Paypal item id" })</td>
                                        <td>
                                            @Html.TextBoxFor(m => m.PaypalButtonIdMonthly, null, new { @class = "form-control", placeholder = "Paypal button id" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.InappProductIdMonthly, null, new { @class = "form-control", placeholder = "Inapp product id" })
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Yearly</td>
                                        <td>
                                            <select id="AmountYearly" name="AmountYearly" class="select_group form-control">
                                                <option value="9.99">9.99</option>
                                                <option value="14.99">14.99</option>
                                                <option value="19.99">19.99</option>
                                                <option value="24.95">24.99</option>
                                                <option value="24.95">24.99</option>
                                                <option value="29.95">29.99</option>
                                                <option value="99.00">99.99</option>
                                                <option value="149.00">149.99</option>
                                                <option value="199.00">199.99</option>
                                                <option value="249.00">249.99</option>
                                                <option value="299.00">299.99</option>
                                            </select>
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.PaypalItemIdYearly, null, new { @class = "form-control", placeholder = "paypal item id" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.PaypalButtonIdYearly, null, new { @class = "form-control", placeholder = "Paypal button id" })
                                        </td>
                                        <td>
                                            @Html.TextBoxFor(m => m.InappProductIdYearly, null, new { @class = "form-control", placeholder = "Inapp product id" })
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="clearfix">
                                <span class="section">
                                    Features: <span style="float:right">
                                        <input type="button" style="float:right" value="Add Features" id="btnAddCompManufacturer" data-target=".add-manufacturer-modal" data-toggle="modal" class="btn btn-primary" />
                                    </span>
                                </span>
                            </div>
                            <div id="divFeature" style="display:none">
                                <div class="item form-group MFD">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Enabled feature for MFD </label>
                                    <div class="col-md-4 col-sm-7 col-xs-12">

                                    </div>
                                </div>
                                <div class="item form-group MFDFeatures">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12"></label>
                                    <div class="col-md-4 col-sm-7 col-xs-12">
                                        <ul class="ulMFD"></ul>
                                    </div>
                                </div>
                                <div class="item form-group Cloud">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Enabled feature for Cloud </label>
                                    <div class="col-md-4 col-sm-7 col-xs-12">

                                    </div>
                                </div>
                                <div class="item form-group CloudFeatures">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12"></label>
                                    <div class="col-md-4 col-sm-7 col-xs-12">
                                        <ul class="ulCloud"></ul>
                                    </div>
                                </div>
                                <div class="item form-group CloudFeatures">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12"></label>
                                    <div class="col-md-4 col-sm-7 col-xs-12">
                                        <input type="submit" value="Submit" class="btn btn-primary" />
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade add-manufacturer-modal" style="margin-top:5%" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-md">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                                            <h3 class="modal-title" id="myModalLabel2">Feature List</h3>
                                        </div>
                                        <div class="modal-body clearfix">
                                            <div clasfs="clearfix">
                                                @Html.EditorFor(model => model.FeatureList)
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-danger" id="btnCancelAddManufacturer" data-dismiss="modal">Cancel</button>
                                            <button type="button" onclick="addFeature();" class="btn btn-primary">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
      </div>
}

 