﻿@model List<GA.DataTransfer.Classes_for_Web.AircraftSummary>

@{
    ViewBag.Title = "AircraftList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/Inventory")
@*<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/jquery.js"></script>
<script src="~/js/bootbox.js"></script>*@

<script type="text/javascript">
    $(document).ready(function (e) {
        $("#hdnProfileId").val(@ViewBag.ProfileId)
        $("#txtSearch").bind("keyup", function (e) {
            var str = this.value;
            if (str == '') {
                $('.col-md-55').each(function (index, value) {
                    $(this).show();
                });
            }
            else {
                $('.col-md-55').each(function (index, value) {

                    if ($(this).attr('id').indexOf(str) != -1) {
                        $(this).show();
                    }
                    else {
                        $(this).hide();
                    }
                });
            }
        });

        $('input[type=radio][name=rbtnView]').change(function () {
            if (this.value == 'Image') {
                $('#divAircraftImageView').show();
                $('#divAircraftTableView').hide();
            }
            else {
                $('#divAircraftImageView').hide();
                $('#divAircraftTableView').show();
            }
        });
        //var table = $('#datatable-fixed-header, #datatable-fixed-header1').DataTable({
        //    fixedHeader: true
        //});
        var table = $('#datatable-fixed-header-AircraftList').DataTable();

    });



</script>


<input id="hdnProfileId" type="hidden" value="" />

<div id="divRadioOption" class="col-md-12 col-sm-12 no-padding margintop20" style="text-align:center">
    <input type="radio" value="Image" name="rbtnView" checked /> &nbsp;<b> Image View </b>&nbsp;&nbsp;&nbsp;
    <input type="radio" value="Table" name="rbtnView" />&nbsp;<b> List View </b>
</div>
<div id="divAircraftTableView" class="col-md-12 col-sm-12 no-padding margintop20" style="display:none">
    <div class="x_panel clearfix">
        <div id="divAircraftList">
            @Html.Partial("_AircraftList", Model)
        </div>
    </div>
</div>

<div id="divAircraftImageView" class="col-md-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div class="x_title clearfix">
            <div class="col-sm-6"></div><div class="col-sm-6 form-inline text-right">Search : <input type="text" class="form-control input-sm" id="txtSearch" /></div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                @foreach (var aircraft in Model.OrderBy(o => o.SNO))
                {
                    <div class="col-md-55" id='@aircraft.aircraftNNumber'>
                        <div class="thumbnail">
                            <div class="image view view-first">

                                <a href='@Url.Action("AircraftDetails", "Aircraft", new { aid = aircraft.TId, flag =1 })'>  <img style="width: 100%; display: block;" src='@aircraft.aircraftImage' alt="image" /></a>

                            </div>
                            <div class="caption">
                                <p class="textellipsis"><strong>Aircraft Tail No.</strong> : <span class="textellipsis">@aircraft.aircraftNNumber</span></p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>