﻿@model  List<GA.DataTransfer.Classes_for_Web.ChartListByStateModel>


@{
    ViewBag.Title = "ChartFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
 <script src="~/js/bootbox.js"></script>

@{

    var id = 0;
    var hid = "";
    var pid = "";
    var phref = "";
}

<script type="text/javascript">

    var flag;

    $(document).ready(function (e) {
        $('.accordion').accordion({});
        flag = false;

    });

    function resetPopupText() {

        $('#ChartFileVersion').val('');
        $('#ChartFilePassword').val('');

    }

    function deleteChartFile(chartid) {
        bootbox.confirm("Are you sure to Delete chartFile?", function (result) {

            if (result) {
                $.post("/IMounts/Admin/DeleteChartFile", { id: chartid }, function (data) {
                    $("#FMSChartFileList").html(data);
                    $('.accordion').accordion({});
                });
            }
        });
    }

    var xhr = [];
    var arrTimer = [];
    function uploadAllCharts() {


        if ($("#ChartFilePassword").val() == '' && $("#ChartFileVersion").val() == '') {
            alert('Version and Password cannot be left blank.');
        }
        else if ($("#ChartFileVersion").val() == '') {
            alert('Version cannot be left blank.');
        }
        else if ($("#ChartFilePassword").val() == '') {
            alert('Password cannot be left blank.');
        }
        else if ($("#ChartFileVersion").val().length < 4) {
            alert('Version must be of 4 characters');
        }
        else if ($("#ChartFilePassword").val().length < 6) {
            alert('Password must be of 6 characters');
        }
        else {
            ga('send', 'event', 'Button', 'Click', 'UploadAllCharts');
            var password = $("#ChartFilePassword").val();
            var version = $("#ChartFileVersion").val();
            var dictkey = epicRandomString(10);
            varxhrIndex = 0;
            xhr[varxhrIndex] = new XMLHttpRequest();
            var data = new FormData();


            data.append("Password", password);
            data.append("Version", version);
            data.append("RandomKey", dictkey);

            arrTimer[varxhrIndex] = window.setInterval(function () {
                //if ($("#progressbar").progressbar("value") != 100) {
                $.post("/IMounts/Admin/GetChartFileProgressBarValue", { key: dictkey }, function (data) {
                    var arr = data.split('^');
                    //$("#progressbar").progressbar("value", parseInt(arr[0]));
                    if (arr[1] != '') {
                        $("#divFileStatus").show();
                        $("#txtChartProcess").focus()
                        $("#txtChartProcess").append(arr[1] + ' ');
                    }

                    if (parseInt(arr[0]) == 100) {
                        clearInterval(arrTimer[varxhrIndex]);
                        bootbox.alert('Charts downloaded successfully', function () {
                            window.location.href = '/Admin/ChartFile';
                        });
                      

                    }

                });
                //}
            }, 10000);
           
            if (!flag) {
                console.log("uploadAllCharts Calls");
                xhr[varxhrIndex].open("POST", "/UploadCharts.ashx");
                //xhr[varxhrIndex].open("POST", "Admin/UploadHandler.ashx");
                xhr[varxhrIndex].send(data);
            }


            //$("#progressbar").progressbar({
            //    max: 100,
            //    change: function (evt, ui) {
            //        $("#progresslabel").text($("#progressbar").progressbar("value") + "%");
            //    },
            //    complete: function (evt, ui) {
            //        $("#progresslabel").text("File uploaded successfully");
            //    }
            //});
        }
    }


    function epicRandomString(b) { for (var a = (Math.random() * eval("1e" + ~~(50 * Math.random() + 50))).toString(36).split(""), c = 3; c < a.length; c++) c == ~~(Math.random() * c) + 1 && a[c].match(/[a-z]/) && (a[c] = a[c].toUpperCase()); a = a.join(""); a = a.substr(~~(Math.random() * ~~(a.length / 3)), ~~(Math.random() * (a.length - ~~(a.length / 3 * 2) + 1)) + ~~(a.length / 3 * 2)); if (24 > b) return b ? a.substr(a, b) : a; a = a.substr(a, b); if (a.length == b) return a; for (; a.length < b;) a += epicRandomString(); return a.substr(0, b) };

</script>

<div class="clearfix">
    <button data-target=".uploadchartfiles-modal" data-toggle="modal" onclick="resetPopupText();" class="btn-rounded marginbottom10 pull-right btn-primary"><i class="fa fa-upload"></i> Upload Chart Files</button>
</div>
<!----------modal popup for push notification starts---------->
<div class="modal fade uploadchartfiles-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h4 class="modal-title" id="myModalLabel2">Upload Chart Files</h4>
            </div>
            <div class="modal-body clearfix">
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Version Number<span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" id="ChartFileVersion" name="ChartFileVersion" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Password <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" id="ChartFilePassword" name="ChartFilePassword" required="required" class="form-control col-md-7 col-xs-12">
                        </div>
                    </div>
                    <div id="divProgress" style="display:none" class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Progress <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <span id="spnChartFileErrorMsg" style="font-size: 9px; color: red; float: left"></span>  <div id="progressbar" class="progressbar">
                                <div id="progresslabel" class="progressbarlabel"></div>
                            </div>
                        </div>
                    </div>
                    <div id="divFileStatus" style="display:none" class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">File Status <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">

                            <textarea rows="5" id="txtChartProcess" style="white-space:pre-line;font-size:12px;width:100%"></textarea>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="uploadAllCharts()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
<!----------modal popup for push notification ends---------->
<div class="x_panel clearfix">
    <div class="x_content">
        <!-- start accordion -->
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
            @foreach (var items in Model)
            {
                id = id + 1;
                hid = "H" + id.ToString();
                pid = "C" + id.ToString();
                phref = "#C" + id.ToString();

                if (id == 1)
                {

                    <div class="panel">
                        <a class="panel-heading" role="tab" id="@hid" data-toggle="collapse" data-parent="#accordion" href="@phref" aria-expanded="true" aria-controls="@pid">
                            <div class="clearfix">
                                <h4 class="panel-title col-xs-11">Alabama</h4>
                                <i class="fa arrow col-xs-1 text-right no-padding pull-right"></i>
                            </div>
                        </a>
                        <div id="@pid" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="@hid">
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>CreateDate</th>
                                            <th>ExpDate</th>
                                            <th>size</th>
                                            <th>MaxZoom</th>
                                            <th>MinZoom</th>
                                            <th>Description</th>
                                            <th>Type</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itemDetails in items.ChartDetailModelList)
                                        {
                                            <tr>
                                                <td>@itemDetails.Name</td>
                                                <td>@itemDetails.CreateDate</td>
                                                <td>@itemDetails.ExpDate</td>
                                                <td>@itemDetails.FileSize</td>
                                                <td>@itemDetails.MaxZoom</td>
                                                <td>@itemDetails.MinZoom</td>
                                                <td>@itemDetails.Description</td>
                                                <td>@itemDetails.Type</td>
                                                <td>
                                                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                                                        <a class="icon_tooltip hi-icon fa fa-trash btn-danger" href="javascript:void(0);" onclick="deleteChartFile(@itemDetails.Id)" data-toggle="tooltip" data-placement="top" title="Delete"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }
                else
                {
                    <div class="panel">
                        <a class="panel-heading" role="tab" id="@hid" data-toggle="collapse" data-parent="#accordion" href="@phref" aria-expanded="false" aria-controls="@pid">
                            <div class="clearfix">
                                <h4 class="panel-title col-xs-11">@items.StateName</h4>
                                <i class="fa arrow col-xs-1 text-right no-padding pull-right"></i>
                            </div>
                        </a>
                        <div id="@pid" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@hid">
                            <div class="panel-body">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>CreateDate</th>
                                            <th>ExpDate</th>
                                            <th>size</th>
                                            <th>MaxZoom</th>
                                            <th>MinZoom</th>
                                            <th>Description</th>
                                            <th>Type</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var itemDetails in items.ChartDetailModelList)
                                        {
                                            <tr>
                                                <td>@itemDetails.Name</td>
                                                <td>@itemDetails.CreateDate</td>
                                                <td>@itemDetails.ExpDate</td>
                                                <td>@itemDetails.FileSize</td>
                                                <td>@itemDetails.MaxZoom</td>
                                                <td>@itemDetails.MinZoom</td>
                                                <td>@itemDetails.Description</td>
                                                <td>@itemDetails.Type</td>
                                                <td>
                                                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                                                        <a class="icon_tooltip hi-icon fa fa-trash btn-danger" href="javascript:void(0);" onclick="deleteChartFile(@itemDetails.Id)" data-toggle="tooltip" data-placement="top" title="Delete"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                }

            }
        </div>
        <!-- end of accordion -->
    </div>
</div>
