﻿@model GA.DataTransfer.Classes_for_Web.DashboardModel
@using GA.Common;


@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
    Misc mic = new Misc();
}

<script src="~/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
@*<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/bootbox.js"></script>*@
<!-- top tiles -->
<div class="row">
    <div class=" clearfix tile_count user-detail-div">
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Total Users</span>
                <div class="count">@Model.TotalUserRegistered</div>
                <div class="count_bot">
                    <span class="count_bottom"> Last User Register</span>
                    <div class="col-md-12 no-padding">
                        <span>Name : </span>
                        <span>@Model.LastRegisterUserName</span>
                    </div>
                    <div class="col-md-12 no-padding">
                        <span>Eamil : </span>
                        <span>@Model.LastRegisterUserEmailId</span>
                    </div>
                    <div class="col-md-12 no-padding">
                        <span>
                            Company :
                        </span>
                        <span>@Model.LastRegisterUserCompanyName</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Total Aircrft</span>
                <div class="count">@Model.TotalAircraftRegistered</div>
                <div class="count_bot">
                    <span class="count_bottom"> Last Aircraft Register</span>
                    <div class="col-md-12 no-padding">
                        <span>Tail Number : </span>
                        <span>@Model.LastRegisterAircraftTailNo</span>
                    </div>
                    <div class="col-md-12 no-padding">
                        <span>Make : </span>
                        <span>@Model.LastRegisterAircraftMake</span>
                    </div>
                    <div class="col-md-12 no-padding">
                        <span>Model : </span>
                        <span>@Model.LastRegisterAircraftModel</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6 ">
            <div class="tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Total Flights</span>
                <div class="count">@Model.TotalFlights</div>
                <div class="count_bot">
                    <span class="count_bottom"> Last Flight By</span>
                    <div class="col-md-12 no-padding">
                        <span>Name : </span>
                        <span>@Model.LastFlightByAircraft</span>
                    </div>
                    <div class="col-md-12 no-padding">
                        <span>Pilot : </span>
                        <span>@Model.LastFlightByPilot</span>
                    </div>
                    <div class="col-md-12 no-padding">
                        <span>Duration : </span>
                        <span>@Model.LastFlightDuration</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-6">
            <div class="tile_stats_count">
                <span class="count_top"><i class="fa fa-user"></i> Total Units</span>
                <div class="count">@Model.TotalUnits</div>
                <div class="count_bot">
                    <p>Last Unit Registered </p>
                    <div class="col-md-12 no-padding">
                        <span>Linked : </span>
                        <span>@Model.TotalLinkedUnit</span>
                    </div>
                    <div class="col-md-12 no-padding">
                        <span>UnLinked : </span>
                        <span>@Model.TotalUnLinkedUnit</span>
                    </div>
                    <div class="col-md-12 no-padding">
                        <span>Last Unit : </span>
                        <span>@Model.LastUnitLinked</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /top tiles -->
<div class="row">
    <div class="clearfix" style="padding: 15px 0 15px;">
        <div class="col-md-4 col-sm-12 col-xs-12 clearfix">
            <div class="x_panel min-height-last">
                <div class="x_title">
                    <h2>Last Five User Register</h2>
                    <div class="clearfix"></div>
                </div>
                <ul class="list-unstyled top_profiles">

                    @foreach (var item in @Model.TopRegisterUserList)
                    {
                        string uid = mic.Encrypt(@item.ProfileId.ToString());
                        <li class="media event">
                            <a href="@Url.Action("LoginAsUser", "Admin", new { profileId =  uid})">
                                <div class="pull-left border-aero thumb-img">
                                    <img src="@item.ImagePath" class="rounded">
                                </div>

                                <div class="media-body">
                                    <p>
                                        <span>Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp; &nbsp;:</span>

                                        <span>@item.Name</span>
                                    </p>
                                    <p>
                                        <span>Company &nbsp;     :</span>

                                        <span>@item.CompanyName</span>
                                    </p>
                                    <p>
                                        <span>Email &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;     &nbsp;&nbsp;&nbsp;&nbsp;:</span>

                                        <span>@item.EmailId</span>
                                    </p>

                                </div>
                            </a>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12 ">
            <div class="x_panel min-height-last">
                <div class="x_title">
                    <h2>Last Five Aircraft Register</h2>
                    <div class="clearfix"></div>
                </div>
                <ul class="list-unstyled top_profiles">
                    @foreach (var item in @Model.TopRegisterAircraftList)
                    {
                        string aid = mic.Encrypt(item.AircraftId.ToString());
                        <li class="media event">
                            <a class="pull-left border-aero thumb-img" href="@Url.Action("DashBoardAircraftDetails", "Aircraft", new { aid =  aid})">
                                <img src="@item.ImagePath" class="rounded">
                            </a>
                            <div class="media-body">
                                <p>
                                    <span>Tail No.  &nbsp;&nbsp;&nbsp;&nbsp;:</span>

                                    <span>@item.TailNo</span>
                                </p>
                                <p>
                                    <span>Serial No. :</span>

                                    <span>@item.SerialNo</span>
                                </p>
                                <p>
                                    <span>Owner  &nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;:</span>

                                    <span>@item.OwnerName</span>
                                </p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="x_panel min-height-last">
                <div class="x_title">
                    <h2>Last 100 Flight Logs</h2>
                    <div class="clearfix"></div>
                </div>
                <ul class="list-unstyled top_profiles" style="overflow: auto;height: 350px;">
                    @foreach (var item in @Model.LastFlightsList)
                    {
                        string fid = mic.Encrypt(item.LogId.ToString());
                        <li class="media event">
                            <a class="pull-left border-aero thumb-img" href="@Url.Action("DashBoardIndex", "Data", new { Pilotlogid =  fid})">

                                <img src="@item.ImagePath">
                            </a>
                            <div class="media-body">
                                <p>
                                    <span>Tail No.  &nbsp;&nbsp;&nbsp;&nbsp;:</span>

                                    <span>@item.AircraftTailNo</span>
                                </p>
                                <p>
                                    <span>Pilot  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp; :</span>

                                    <span>@item.PilotName</span>
                                </p>
                                <p>
                                    <span>Duration &nbsp;&nbsp;:</span>

                                    <span>@item.Duration</span>
                                </p>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320" style="margin: 0 auto 20px;">
            <div class="x_title">
                <h2>App Versions</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="widget_summary">
                    <div class="w_left w_25"> <span>0.1.5.2</span> </div>
                    <div class="w_center w_55">
                        <div class="progress">
                            <div style="width: 66%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar bg-green"> <span class="sr-only">60% Complete</span> </div>
                        </div>
                    </div>
                    <div class="w_right w_20"> <span>123k</span> </div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget_summary">
                    <div class="w_left w_25"> <span>0.1.5.3</span> </div>
                    <div class="w_center w_55">
                        <div class="progress">
                            <div style="width: 45%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar bg-green"> <span class="sr-only">60% Complete</span> </div>
                        </div>
                    </div>
                    <div class="w_right w_20"> <span>53k</span> </div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget_summary">
                    <div class="w_left w_25"> <span>0.1.5.4</span> </div>
                    <div class="w_center w_55">
                        <div class="progress">
                            <div style="width: 25%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar bg-green"> <span class="sr-only">60% Complete</span> </div>
                        </div>
                    </div>
                    <div class="w_right w_20"> <span>23k</span> </div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget_summary">
                    <div class="w_left w_25"> <span>0.1.5.5</span> </div>
                    <div class="w_center w_55">
                        <div class="progress">
                            <div style="width: 5%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar bg-green"> <span class="sr-only">60% Complete</span> </div>
                        </div>
                    </div>
                    <div class="w_right w_20"> <span>3k</span> </div>
                    <div class="clearfix"></div>
                </div>
                <div class="widget_summary">
                    <div class="w_left w_25"> <span>0.1.5.6</span> </div>
                    <div class="w_center w_55">
                        <div class="progress">
                            <div style="width: 2%;" aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" role="progressbar" class="progress-bar bg-green"> <span class="sr-only">60% Complete</span> </div>
                        </div>
                    </div>
                    <div class="w_right w_20"> <span>1k</span> </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="x_panel tile fixed_height_320" style="margin: 0 auto 20px;">
            <div class="x_title">
                <h2>Current </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="widget_summary">
                    <div class="col-md-12  no-padding">
                        <div class="currnet-div clearfix">
                            <div class="col-md-6 ">Pilot App</div>
                            <div class="col-md-6 text-right">1.6.3</div>
                        </div>
                    </div>
                </div>
                <div class="widget_summary">
                    <div class="col-md-12  no-padding">
                        <div class="currnet-div clearfix">
                            <div class="col-md-6 ">Passenger</div>
                            <div class="col-md-6 text-right">1.6.4</div>
                        </div>
                    </div>
                </div>

                <div class="widget_summary">
                    <div class="col-md-12  no-padding">
                        <div class="currnet-div clearfix">
                            <div class="col-md-6 ">Passenger Pro</div>
                            <div class="col-md-6 text-right">1.6.4</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
