﻿@model List<GA.DataTransfer.ListItems>

@{
    ViewBag.Title = "Engine";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/Inventory")
@*<script src="~/js/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/bootbox.js"></script>*@

<script>
    //$(window).load(function () {
    //    alert('Load Complete');
    //});

    function resetPopupText() {
        $('#txtUpdateEngine').val('');
        $('#txtAddEngine').val('');
    }

    $(document).ready(function (e) {

        $('#btnAddEngine').click(function () {
            if ($('#txtAddEngine').val() == '') {
                $("#snpErrAddEngine").attr("style", "display:block;color:red");
                return false;
            }
            else {
                $("#snpErrAddEngine").attr("style", "display:none;color:red");
                var isDuplicate = true;
                $.post("/IMounts/Admin/IsEngineExist", {
                    engineName: $('#txtAddEngine').val().trim(),
                    id:0
                },
                function (data) {
                    isDuplicate = data.response;
                    $('#btnCancelEngine').click();
                    $('#btnCancelEngine').click();
                    $('#myLoadingElement').show();
                    if (isDuplicate == false) {
                        $.post("/IMounts/Admin/AddEngineName", {
                            name: $('#txtAddEngine').val().trim()
                        },
                        function (data) {

                            $('#divEnginePartial').html('');
                            $('#divEnginePartial').html(data);
                            $('#txtAddEngine').val("");
                            $('#datatable-fixed-header').dataTable();
                            $('#myLoadingElement').hide();
                            bootbox.alert('Engine added successfully.', function () {
                            });
                            ga('send', 'event', 'Button', 'Click', 'AddEngine');
                            //$('#btnCancelEngine').click();
                            //$('#btnCancelEngine').click();

                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert('Engine name - "' + $('#txtAddEngine').val().trim() + '" is already exists.', function () {
                        });
                        $('#txtAddEngine').val("");
                    }
                });
            }
        });

       
        $('#myModal').on('shown.bs.modal', function () {
            $('#txtAddEngine').focus();
        })

        $('#modelEditEngine').on('shown.bs.modal', function () {
            //$('#txtUpdateEngine').focus();
            moveCursorToEnd($('#txtUpdateEngine'));
        })
    });

    function moveCursorToEnd(input) {
        var originalValue = input.val();
        input.val('');
        input.blur().focus().val(originalValue);
    }

    function UpdateEngine() {
        if ($('#txtUpdateEngine').val() == '') {
            $("#snpErrUpdateEngine").attr("style", "display:block;color:red");
            return false;
        } else {
            $("#snpErrUpdateEngine").attr("style", "display:none;color:red");
            var isDuplicate = true;
            $('#btnUpdationCancel').click();
            $('#btnUpdationCancel').click();
            $('#myLoadingElement').show();

            $.post("/IMounts/Admin/IsEngineExist", {
                engineName: $('#txtUpdateEngine').val().trim(),
                id: $('#hdnEngineId').val()
            },
             function (data) {
                 isDuplicate = data.response;

                 if (isDuplicate == false) {
                     $.post("/IMounts/Admin/UpdateDeleteEngine", {
                         name: $('#txtUpdateEngine').val(),
                         id: $('#hdnEngineId').val(),
                         isUpdate: true
                     },
                    function (data) {
                        $('#divEnginePartial').html(data);
                        $('#datatable-fixed-header').dataTable();
                        $('#txtUpdateEngine').val('');
                        $('#myLoadingElement').hide();
                        bootbox.alert('Engine updated successfully.', function () {
                        });
                        ga('send', 'event', 'Button', 'Click', 'UpdateEngine');
                    });
                 }
                 else {
                     $('#myLoadingElement').hide();
                     bootbox.alert('Engine name - "' + $('#txtUpdateEngine').val().trim() + '" is already exists.', function () {
                     });
                     $('#txtUpdateEngine').val('');
                 }
             });
        }
    }


    function deleteEngine(id) {
        bootbox.confirm("Are you sure to to delete engine?", function (result) {

            if (result) {
                $.post("/IMounts/Admin/UpdateDeleteEngine", {
                    id: id,
                    isUpdate: false
                },
                  function (data) {
                      bootbox.alert('Engine deleted successfully.', function () {

                      });
                      //check for session
                      $('#divEnginePartial').html(data);
                      $('#datatable-fixed-header').dataTable();
                      ga('send', 'event', 'Button', 'Click', 'DeleteEngine');
                  });
            }
        });
    }


    function SetModelText(engineName, id) {
        $('#txtUpdateEngine').val(engineName);
        $('#hdnEngineId').val(id);
    }

</script>

<div class="x_panel clearfix">
    <div class="x_content">
        <button class="btn-rounded btn-primary marginbottom10 pull-right" onclick="resetPopupText();" data-toggle="modal" data-target=".addengine-modal"><i class="fa fa-plus-circle"></i> Create</button>

        <!----------modal popup for add map file starts---------->
        <!----------modal popup for add map file ends---------->
        <!----------modal popup for edit engine starts---------->

        <div id="modelEditEngine" class="modal fade editengine-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h3 class="modal-title" id="myModalLabel2">Edit Engine</h3>
                    </div>
                    <div class="modal-body clearfix">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group col-lg-12 no-padding">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Engine Name <span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" required="required" id="txtUpdateEngine" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                    <input type="hidden" id="hdnEngineId" value="" />
                                    <br />
                                    <span id="snpErrUpdateEngine" style="color:red;display:none">Engine name cannot be left blank.</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnUpdationCancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" id="btnUpdateEngine" onclick="UpdateEngine()" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>

        <!----------modal popup for edit engine ends---------->

        <div id="divEnginePartial">
            @Html.Partial("_EnginePartial", Model)
        </div>
    </div>
</div>



<div id="myModal" class="modal fade addengine-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add Engine</h3>
            </div>
            <div class="modal-body clearfix">
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Engine Name <span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtAddEngine" id="txtAddEngine" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <br />
                            <span id="snpErrAddEngine" style="color:red;display:none">Engine name cannot be left blank.</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelEngine" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" id="btnAddEngine" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
