﻿@model List<GA.DataTransfer.Classes_for_Services.ErrorLogModel>
@{
    ViewBag.Title = "ErrorLogs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<script src="~/js/jquery.js"></script>
<script src="https://code.jquery.com/jquery-2.1.1.min.js" type="text/javascript"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/bootbox.js"></script>

<style>
    table td {
        word-wrap: break-word;
        max-width: 400px;
    }

    #example td {
        white-space: inherit;
    }

    .Exception {
        color: red;
    }
</style>
<style>
    .frmSearch {
        border: 1px solid #a8d4b1;
        background-color: #c6f7d0;
        margin: 2px 0px;
        padding: 40px;
        border-radius: 4px;
    }

    #country-list {
        float: left;
        list-style: none;
        margin-top: -3px;
        padding: 0;
        width: 190px;
        position: absolute;
    }

        #country-list li {
            padding: 10px;
            background: #f0f0f0;
            border-bottom: #bbb9b9 1px solid;
        }

            #country-list li:hover {
                background: #ece3d2;
                cursor: pointer;
            }

    #search-box {
        padding: 5px;
        border: grey 1px solid;
        border-radius: 4px;
    }

    #txtStartDate, #txtEndDate {
        padding: 5px;
        border: grey 1px solid;
        border-radius: 4px;
    }
</style>



<script>
    var table;
    $(document).ready(function () {
        table = $('#datatable-fixed-header-ErrorLogs').DataTable({
            "order": [[0, "desc"]]
        });
        $("#search-box").keyup(function () {
            $.ajax({
                type: "POST",
                url: "/IMounts/Admin/GetData",
                data: {
                    "query": $(this).val(),
                },
                beforeSend: function () {
                    $("#search-box").css("background", "#FFF url(LoaderIcon.gif) no-repeat 165px");
                },
                success: function (data) {
                    $("#suggesstion-box").show();


                    var asas = '<ul style="z-index:1" id="country-list">';
                    $.each(data, function (key, value) {
                        asas += '<li onClick="selectCountry(\'' + value + '\')">' + value + '</li>'
                    });
                    asas += '</ul>'
                    $("#suggesstion-box").html(asas);
                    $("#search-box").css("background", "#FFF");
                }
            });
        });

        $('#btnSearch').bind('click', function () {
            $('#myLoadingElement').show();
            $.post("/IMounts/Admin/SearchErrorLog", {
                emailId: $('#search-box').val(),
                startDate: $('#txtStartDate').val(),
                endDate: $('#txtEndDate').val(),
                status: $('#ddlStatus').val()
            }, function (partNoList) {

                $('#divErrorList').html('');
                $('#divErrorList').html(partNoList);
                table = $('#datatable-fixed-header-ErrorLogs').DataTable({
                    "order": [[0, "desc"]]
                });
                $('#myLoadingElement').hide();
            });
        });
    });

    function selectCountry(val) {
        $("#search-box").val(val);
        $("#suggesstion-box").hide();
    }

    function getErrorLogById(id) {
        $('#myLoadingElement').show();
        $.post("/IMounts/Admin/GetErrorLogById", {
            id: id,
        }, function (data) {
            $('.errorLog-modal').modal('show');
            $('#divEncryptRequest').text(data.EncryptRequest);
            $('#divRequestJson').text(data.JsonRequest);
            $('#divEncryptResponse').text(data.EncryptedResponse);
            //$('#divResponseJson').text(JSON.stringify(data.JsonResponse));
            document.getElementById("RequestJson").innerHTML = JSON.stringify(jQuery.parseJSON(data.JsonRequest), undefined, 2);
            document.getElementById("ResponseJson").innerHTML = JSON.stringify(jQuery.parseJSON(data.JsonResponse), undefined, 2);
            $('#myLoadingElement').hide();
        });
    }


</script>


<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div class="col-md-3 no-padding margintop20">
            &nbsp;
        </div>
        <div class="col-md-6 no-padding margintop20">
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Select Part Number </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="text" id="search-box" placeholder="User Email Id" />
                    <div id="suggesstion-box"></div>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Serial Number </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <input type="text" name="txtStartDate" id="txtStartDate" placeholder="Start date">
                    <input type="text" name="txtEndDate" id="txtEndDate" placeholder="End date">
                </div>
            </div>

            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Status </label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <select id="ddlStatus" class="form-control col-md-7 col-xs-12">
                        <option value="All">All</option>
                        <option value="Success">Success</option>
                        <option value="Exception">Exception</option>
                    </select>
                </div>
            </div>
            <div class="form-group clearfix">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for=""></label>
                <div class="col-md-8 col-sm-6 col-xs-12">
                    <button type="button" id="btnSearch" class="btn btn-primary">Search</button>

                </div>
            </div>
        </div>
        <div class="x_content">
            <div id="divErrorList">
                @Html.Partial("_ErrorLogs", Model)
            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal fade errorLog-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md" style="width:70%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Error log Request and Response</h3>
            </div>
            <form id="formAddPurchaseOrder" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix" style="height:500px;overflow-y:auto">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Encrypt Request</label>
                        <div id="divEncryptRequest" class="col-md-8 col-sm-6 col-xs-12" style="word-wrap: break-word;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Request Json</label>
                        <pre id="RequestJson"></pre>

                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Encrypt Response</label>
                        <div id="divEncryptResponse" class="col-md-8 col-sm-6 col-xs-12" style="word-wrap: break-word;">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Response Json</label>
                        <pre id="ResponseJson"></pre>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="btnClose" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>