﻿@model List<GA.DataTransfer.Classes_for_Web.DocumentModelWeb>

@{
    ViewBag.Title = "FlightBag";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/Inventory")

<script>

   
    $(document).ready(function (e) {
        
         $('#datatable-fixed-headerFlightBag').DataTable({
            //fixedHeader: true,
            //"order": [[0, "desc"]]
        });
    });

    function deleteDocument(id) {
        bootbox.confirm("Are you sure to delete this document?", function (result) {
            if (result) {
                $.post("/IMounts/Admin/DeleteDocumentForAll", {
                    id: id
                },
                function (data) {
                    //check for session
                    $('#divDocumentPartial').html(data);
                    $('#datatable-fixed-headerFlightBag').DataTable({
                        //fixedHeader: true,
                        //"order": [[0, "desc"]]
                    });
                    bootbox.alert('Document deleted successfully.', function () {
                    });
                    ga('send', 'event', 'Button', 'Click', 'DeleteFlightBagDoc');
                });
            }
        });
    }

    function UploadDocument() {

        if ($('#txtTitle').val() == '' || $("#uploadBtn").get(0).files.length == 0) {
            if ($('#txtTitle').val() == '') {
                $('#snpErrtxtTitle').attr('style', 'color:red;display:block');
            }
            else {
                $('#snpErrtxtTitle').attr('style', 'color:red;display:none');
            }
            if ($("#uploadBtn").get(0).files.length == 0) {
                $('#snpErrDocument').attr('style', 'color:red;display:block');
            }
            else {
                $('#snpErrDocument').attr('style', 'color:red;display:none');
            }
        }
        else {
            $('#snpErrtxtTitle').attr('style', 'color:red;display:none');
            $('#snpErrDocument').attr('style', 'color:red;display:none');

            var data = new FormData();
            var files = $("#uploadBtn").get(0).files;
            var random = epicRandomString(10);
            var arrFileName = files[0].name.toLowerCase().split('.');
            var fileExtension = arrFileName[arrFileName.length - 1];
            var uniqueName = random + "." + fileExtension;

            var title = $('#txtTitle').val();
            $('#btnCancel').click();
            $('#btnCancel').click();
            $('#myLoadingElement').show();
            data.append("HelpSectionImages", files[0]);
            data.append("Title", title);
            data.append("UniqueName", uniqueName);
            $('#snpErrDocument').attr('style', "color:red;display:none");
            $.ajax({
                url: '@Url.Action("/SaveDocument")',
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (response) {
                    //code after success
                    $('#divDocumentPartial').html(response);
                    $('#datatable-fixed-headerFlightBag').DataTable({
                        //fixedHeader: true,
                        //"order": [[0, "desc"]]
                    });
                    $("#uploadBtn").val('').clone(true);
                    //$('#btnCancel').click();
                    //$('#btnCancel').click();
                    $('#myLoadingElement').hide();
                    bootbox.alert('Document uploaded successfully.', function () {
                    });
                    ga('send', 'event', 'Button', 'Click', 'UploadFlightBagDoc');
                },
                error: function (er) {
                    $('#myLoadingElement').hide();
                    bootbox.alert('Error occurs while uploaded the document', function () {
                    });
                }
            });
        }
    }

    function resetModel()
    {
        $('#txtTitle').val('');
        $('#snpErrtxtTitle').attr('style', 'color:red;display:none');
        $('#snpErrDocument').attr('style', 'color:red;display:none');
        $("#uploadBtn").clone(true);
        $("#uploadBtn").val('');
        $("#uploadFile").val('');

    }

    function epicRandomString(b) { for (var a = (Math.random() * eval("1e" + ~~(50 * Math.random() + 50))).toString(36).split(""), c = 3; c < a.length; c++) c == ~~(Math.random() * c) + 1 && a[c].match(/[a-z]/) && (a[c] = a[c].toUpperCase()); a = a.join(""); a = a.substr(~~(Math.random() * ~~(a.length / 3)), ~~(Math.random() * (a.length - ~~(a.length / 3 * 2) + 1)) + ~~(a.length / 3 * 2)); if (24 > b) return b ? a.substr(a, b) : a; a = a.substr(a, b); if (a.length == b) return a; for (; a.length < b;) a += epicRandomString(); return a.substr(0, b) };


</script>

<div class="x_panel clearfix">
    <div class="x_content">
        <button class="btn-rounded btn-primary marginbottom10 pull-right" data-toggle="modal" onclick="resetModel()" data-target=".addpropeller-modal"><i class="fa fa-plus-circle"></i> Add Flight Bag Documents</button>

        <!----------modal popup for add flight bag documents starts---------->
        <div class="modal fade addpropeller-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h3 class="modal-title" id="myModalLabel2">Add Flight Bag Document</h3>
                    </div>
                    <div class="modal-body clearfix">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Title<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" name="txtTitle" id="txtTitle" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                    <span id="snpErrtxtTitle" style="color:red;display:none">Title cannot be left blank.</span>
                                </div>
                            </div>
                            <div class="form-group col-lg-12 no-padding">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Upload File<span class="required">*</span></label>
                                <div class="col-md-8 col-sm-6 col-xs-12 clearfix">
                                    <div class="col-md-9 no-padding">
                                        <input id="uploadFile" class="form-control col-md-7 col-xs-12" placeholder="Choose File" disabled="disabled" />
                                        <br />
                                        <span id="snpErrDocument" style="color:red;display:none">Please select the file.</span>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="fileUpload btn btn-primary btn-block">
                                            <span>Upload</span>
                                            <input id="uploadBtn" type="file" class="upload" />
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="UploadDocument()" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <!----------modal popup for add flight bag documents ends---------->
        <div id="divDocumentPartial">
            @Html.Partial("_FlightBagPartial", Model)
        </div>
    </div>
</div>

<!--script for upload file button ui-->
<script>
    document.getElementById("uploadBtn").onchange = function () {
        document.getElementById("uploadFile").value = this.value;
    };
</script>
<!--script for upload file button ui-->