﻿@model List<GA.DataTransfer.HardwareFirmwareUpdateModel>

@{
    ViewBag.Title = "Hardware Firmware";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/Inventory")

<style>
    .fa-green {
        color: green;
    }

    .fa-close {
        color: red;
    }
</style>

<script>
 

    function deleteDocument(id) {
        bootbox.confirm("Are you sure to delete this document?", function (result) {
            if (result) {
                $.post("/IMounts/Admin/DeleteDocumentForAll", {
                    id: id
                },
                function (data) {
                    //check for session
                    $('#divDocumentPartial').html(data);
                    $('#datatable-fixed-headerFlightBag').DataTable({
                        //fixedHeader: true,
                        //"order": [[0, "desc"]]
                    });
                    bootbox.alert('Document deleted successfully.', function () {
                    });
                    ga('send', 'event', 'Button', 'Click', 'DeleteFlightBagDoc');
                });
            }
        });
    }

    function validate() {
        var isValid = true;
        if ($('#txtVersion').val() == '') {
            $('#snpErrVersion').show();
            isValid = false;
        }
        else {
            $('#snpErrVersion').hide();
        }

        if ($('#txtVersionSummary').val() == '') {
            $('#snpErrVersionSummary').show();
            isValid = false;
        }
        else {
            $('#snpErrVersionSummary').hide();
        }

        var data = new FormData();
        var files = $("#uploadBtn").get(0).files;
        if (files.length == 0) {
            $('#snpErrDocument').show();
        }
        else {
            $('#snpErrDocument').hide();
        }
        return isValid;
    }

    function validateEdit() {
        var isValid = true;
        if ($('#txtEditVersion').val() == '') {
            $('#snpErrEditVersion').show();
            isValid = false;
        }
        else {
            $('#snpErrEditVersion').hide();
        }

        if ($('#txtEditVersionSummary').val() == '') {
            $('#snpErrEditVersionSummary').show();
            isValid = false;
        }
        else {
            $('#snpErrEditVersionSummary').hide();
        }
        return isValid;
    }

    function UploadDocument() {
        if (validate()) {
            var data = new FormData();
            var files = $("#uploadBtn").get(0).files;
            var filename = files[0].name;
            $('#btnCancel').click();
            $('#btnCancel').click();
            $('#myLoadingElement').show();
            data.append("HelpSectionImages", files[0]);
            data.append("version", $('#txtVersion').val());
            data.append("versionSummary", $('#txtVersionSummary').val());
            data.append("filename", filename);
            $('#snpErrDocument').attr('style', "color:red;display:none");
            $.ajax({
                url: '@Url.Action("/UploadHardwareFirmwareFile")',
                type: "POST",
                processData: false,
                contentType: false,
                data: data,
                success: function (data) {
                    //code after success
                    if (data.response.ResponseCode == "0")
                    {
                        $.post("/Admin/GetHardwareFirmWareFiles", {

                        }, function (HardwareFirmwareFileList) {

                            $('#divHardwareFirmware').html('');
                            $('#divHardwareFirmware').html(HardwareFirmwareFileList);
                            $('#datatable-fixed-header-Firmware').DataTable({
                                //fixedHeader: true,
                                //"order": [[0, "desc"]]
                            });
                            $("#uploadBtn").val('').clone(true);
                            $('#myLoadingElement').hide();
                            bootbox.alert('Record inserted successfully.', function () {
                            });
                        });
                    }
                    else{
                        bootbox.alert('Exception occurs while inserting the record.', function () {
                        });
                        $('#myLoadingElement').hide();
                    }
                },
                error: function (er) {
                    $('#myLoadingElement').hide();
                    bootbox.alert('Error occurs while inserting the record', function () {
                    });
                }
            });
        }
    }

    function resetModel()
    {
        $('#txtVersion').val('');
        $('#txtVersionSummary').val('');
        $('#snpErrVersion').attr('style', 'color:red;display:none');
        $('#snpErrVersionSummary').attr('style', 'color:red;display:none');
        $("#uploadBtn").clone(true);
        $("#uploadBtn").val('');
        $("#uploadFile").val('');
    }

    function setEditFirmware(data) {
        $('#txtEditVersion').val(data.Version);
        $('#txtEditVersionSummary').val(data.VersionSummary);
        $('#hdnId').val(data.Id);
        if (data.IsLatest == true)
            $("#chkIsLatestVersion").prop('checked', true);
        else
            $("#chkIsLatestVersion").prop('checked', false);
    }

    function EditHardwareFirmware()
    {
        if (validateEdit())
        {
            $('#btnEditCancel').click();
            $('#btnEditCancel').click();
            $.post("/IMounts/Admin/UpdateHardwareFirmwareFile", {
                Version: $('#txtEditVersion').val(),
                VersionSummary: $('#txtEditVersionSummary').val(),
                IsLatest: $('#chkIsLatestVersion').is(":checked"),
                Id: $('#hdnId').val()
            }, function (data) {
                if (data.response.ResponseCode == 0) {
                    $.post("/IMounts/Admin/GetHardwareFirmWareFiles", {
                    }, function (HardwareFirmwareFileList) {
                        $('#divHardwareFirmware').html('');
                        $('#divHardwareFirmware').html(HardwareFirmwareFileList);
                        $('#datatable-fixed-header-Firmware').DataTable({                
                        });
                        
                        $('#myLoadingElement').hide();
                        bootbox.alert('Record updated successfully.', function () {
                        });
                    });
                }
                else {
                    $('#myLoadingElement').hide();
                    bootbox.alert(data.response.ResponseMessage, function () {
                    });
                }
            });
        }
    }

    function deleteFirmwareFile(id) {
        bootbox.confirm("Are you sure to delete this version?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Admin/DeleteFirmwareFile", {
                    id: id
                }, function (data) {
                    if (data.response.ResponseCode == 0) {
                        $.post("/IMounts/Admin/GetHardwareFirmWareFiles", {
                        }, function (HardwareFirmwareFileList) {
                            $('#divHardwareFirmware').html('');
                            $('#divHardwareFirmware').html(HardwareFirmwareFileList);
                            $('#datatable-fixed-header-Firmware').DataTable({
                            });

                            $('#myLoadingElement').hide();
                            bootbox.alert('Record deleted successfully.', function () {
                            });
                        });
                    }
                    else {
                        $('#myLoadingElement').hide();
                        bootbox.alert(data.response.ResponseMessage, function () {
                        });
                    }
                });
            }
        });
    }

    function epicRandomString(b) { for (var a = (Math.random() * eval("1e" + ~~(50 * Math.random() + 50))).toString(36).split(""), c = 3; c < a.length; c++) c == ~~(Math.random() * c) + 1 && a[c].match(/[a-z]/) && (a[c] = a[c].toUpperCase()); a = a.join(""); a = a.substr(~~(Math.random() * ~~(a.length / 3)), ~~(Math.random() * (a.length - ~~(a.length / 3 * 2) + 1)) + ~~(a.length / 3 * 2)); if (24 > b) return b ? a.substr(a, b) : a; a = a.substr(a, b); if (a.length == b) return a; for (; a.length < b;) a += epicRandomString(); return a.substr(0, b) };

</script>
<input type="hidden" id="hdnId" value="" />
<div class="x_panel clearfix">
    <div class="x_content">
        <button class="btn-rounded btn-primary marginbottom10 pull-right" data-toggle="modal" onclick="resetModel()" data-target=".addFirmwareFile-modal"><i class="fa fa-plus-circle"></i> Add </button>

        <!----------modal popup for add flight bag documents starts---------->
        <div class="modal fade addFirmwareFile-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h3 class="modal-title" id="myModalLabel2">Add Hardware Firmware file</h3>
                    </div>
                    <div class="modal-body clearfix">
                        <form   data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Version<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" name="txtVersion" id="txtVersion" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                    <span id="snpErrVersion" style="color:red;display:none">Version cannot be left blank.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Version Summary<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" name="txtVersionSummary" id="txtVersionSummary" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                    <span id="snpErrVersionSummary" style="color:red;display:none">Version summary cannot be left blank.</span>
                                </div>
                            </div>
                            <div class="form-group col-lg-12 no-padding">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Upload File<span class="required">*</span></label>
                                <div class="col-md-8 col-sm-6 col-xs-12 clearfix">
                                    <div class="col-md-9 no-padding">
                                        <input id="uploadFile" class="form-control col-md-7 col-xs-12" placeholder="Choose File" disabled="disabled" />
                                        <br />
                                        <span id="snpErrDocument" style="color:red;display:none">Please select the file.</span>
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="fileUpload btn btn-primary btn-block">
                                            <span>Upload</span>
                                            <input id="uploadBtn" type="file" class="upload" />
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="UploadDocument()" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade editFirmwareFile-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h3 class="modal-title" id="myModalLabel2">Add Hardware Firmware file</h3>
                    </div>
                    <div class="modal-body clearfix">
                        <form data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Version<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" name="txtEditVersion" id="txtEditVersion" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                    <span id="snpErrEditVersion" style="color:red;display:none">Version cannot be left blank.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Version Summary<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" name="txtEditVersionSummary" id="txtEditVersionSummary" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                    <span id="snpErrEditVersionSummary" style="color:red;display:none">Version summary cannot be left blank.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Is Latest Version </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="checkbox" name="chkIsLatestVersion" id="chkIsLatestVersion" required="required" autocomplete="Off">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnEditCancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="EditHardwareFirmware()" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <!----------modal popup for add flight bag documents ends---------->
        <div id="divHardwareFirmware">
            @Html.Partial("_HardwareFirmwareFile", Model)
        </div>
    </div>
</div>

<!--script for upload file button ui-->
<script>
    document.getElementById("uploadBtn").onchange = function () {
        document.getElementById("uploadFile").value = this.value;
    };
</script>
<!--script for upload file button ui-->