﻿@model  GA.DataTransfer.Classes_for_Web.AdminHome

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/Inventory")
@*<script src="~/js/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/bootbox.js"></script>*@


<script>

    $(document).ready(function () {

        if ('@ViewBag.UserType' == 'Active') {
            $('#liActiveUser').removeClass().addClass('active');
            $('#liInActiveUser').removeClass().addClass('');;
        }
        else {
            $('#liActiveUser').removeClass().addClass('');;
            $('#liInActiveUser').removeClass().addClass('active');
        }
    });

    function SendNotification() {
        if ($('#rbtnAllUser').attr('class') == 'iradio_flat-green checked') {
            sendNotificationToAllUser();
        }
        else {
            GetLi();
        }
    }

    function sendNotificationToAllUser() {
        if ($("#txtPushMessage").val() == "") {
            bootbox.alert("Message cannot be left blank", function () {

            });
        }
        else {
            $("#txtPushMessage").val('');
            $('#btnClosePopup').click();
            $('#btnClosePopup').click();
            $("#myLoadingElement").show();
            var url = '@Url.Action("SendPushNotificationToAllUser", "Admin")';
            $.ajax({
                url: url,
                data: {
                    "message": $("#txtPushMessage").val()
                },
                success: function (data) {
                    $("#myLoadingElement").hide();
                    bootbox.alert("Push notification send successfully", function () {
                    });
                }
            });
        }
    }

    function GetLi() {


        var liIds = $('.select2-selection__rendered li').map(function (i, n) {
            return $(n).attr('title');
        }).get().join(',');

        if (liIds == "") {
            bootbox.alert("Please select the user", function () {
            });
        }
        else {
            if ($("#txtPushMessage").val() == "") {
                bootbox.alert("Message cannot be left blank", function () {
                });
            }
            else {
                 
                $('#btnClosePopup').click();
                $('#btnClosePopup').click();
                $("#myLoadingElement").show();
                var url = '@Url.Action("SendPushNotificationToUsers", "Admin")';
                $.ajax({
                    url: url,
                    data: {
                        "usernames": liIds,
                        "message": $("#txtPushMessage").val()
                    },
                    success: function (data) {
                        $("#myLoadingElement").hide();
                        bootbox.alert("Push notification send successfully", function () {
                        });
                    }
                });
            }
        }
    }

    function blockUser(profileId) {
        bootbox.confirm("Are you sure to block this user?", function (result) {
            if (result) {
                var url = '@Url.Action("BlockUser", "Admin")';
                $.ajax({
                    url: url,
                    data: {
                        "profileId": profileId,
                        "isBlocked": "true"
                    },
                    success: function (data) {
                        $('#divPartialUserList').html(data);
                        $("#htnIsUpdate").val('1');
                        $('#datatable-fixed-header').dataTable();
                        bootbox.alert("User blocked successfully", function () {
                        });
                        ga('send', 'event', 'Button', 'Click', 'BlockUser');
                    }
                });
            }
        });
    }

    function UnblockUser(profileId) {
        bootbox.confirm("Are you sure to unblock this user?", function (result) {
            if (result) {
                var url = '@Url.Action("UnBlockUser", "Admin")';
                $.ajax({
                    url: url,
                    data: {
                        "profileId": profileId,
                        "isBlocked": "false"
                    },
                    success: function (data) {
                        $('#divPartialInActiveUserList').html(data);
                        $(".tbInActive").dataTable();
                        $("#htnIsUpdate").val('1');
                        bootbox.alert("User unblocked successfully", function () {
                        });
                        ga('send', 'event', 'Button', 'Click', 'UnBlockUser');
                    }
                });
            }
        });
    }

    function GetInActiveUser() {
        if ($("#htnIsUpdate").val() == "1") {
            var url = '@Url.Action("GetInActiveUser", "Admin")';
            $.ajax({
                url: url,
                data: {
                },
                success: function (data) {
                    $('#divPartialInActiveUserList').html(data);
                    $(".tbInActive").dataTable();
                    $("#htnIsUpdate").val('0');
                }
            });
        }
    }

    function GetActiveUser() {
        if ($("#htnIsUpdate").val() == "1") {
            var url = '@Url.Action("GetActiveUser", "Admin")';
            $.ajax({
                url: url,
                data: {
                },
                success: function (data) {
                    $('#divPartialUserList').html(data);
                    $('#datatable-fixed-header').dataTable();
                    $("#htnIsUpdate").val('0');
                }
            });
        }
    }

</script>

<input type="hidden" id="htnIsUpdate" value="0" />
<div class="x_content tabs-bg">
    <div class="" role="tabpanel" data-example-id="togglable-tabs">
        <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
            <li id="liActiveUser" onclick="GetActiveUser();" role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Active Users</a> </li>
            <li onclick="GetInActiveUser();" id="liInActiveUser" role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Blocked Users</a> </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                <button class="btn-rounded marginbottom10 btn-primary pull-right" data-toggle="modal" data-target=".push-notification-modal"><i class="fa  fa-send"></i> Push Notification</button>

                <!----------modal popup for push notification starts---------->
                <div class="modal fade push-notification-modal" tabindex="-1" role="dialog" aria-hidden="true">
                    <div class="modal-dialog modal-md">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                                <h3 class="modal-title" id="myModalLabel2">Push Notifications</h3>
                            </div>
                            <div class="modal-body clearfix">
                                <div class="clearfix">
                                    <div class="col-xs-3">
                                        <span id="hides">
                                            <input id="rbtnAllUser" type="button" name="icheck" class="iradio_flat-green checked" value="All Users">
                                            All Users
                                        </span>
                                    </div>
                                    <div class="col-xs-6">
                                        <span id="shows">
                                            <input id="rbtnSelectedUser" type="button" name="icheck" class="iradio_flat-green" value="Selected Users">
                                            Selected Users
                                        </span>
                                    </div>
                                </div>
                                <div class="alert alert-info fade in selectusers" role="alert">
                                    <div class="form-group select_multiple clearfix">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Multiple</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12 no-padding mselectbox">
                                            <select class="select2_multiple form-control" multiple="multiple">
                                                @foreach (var ddlItems in Model.UserList)
                                                {
                                                    <option>@ddlItems.FirstName @ddlItems.LastName</option>
                                                }
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <h4>Your message here</h4>
                                <textarea id="txtPushMessage" required class="form-control" name="message" data-parsley-trigger="keyup" data-parsley-minlength="20" data-parsley-maxlength="100" data-parsley-minlength-message="Come on! You need to enter at least a 20 caracters long comment.."
                                          data-parsley-validation-threshold="10"></textarea>
                            </div>
                            <div class="modal-footer">
                                <button type="button" id="btnClosePopup" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="button" onclick="SendNotification();" class="btn btn-primary">Send Notification</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!----------modal popup for push notification ends---------->
                <div id="divPartialUserList">
                    @Html.Partial("_ActiveUserPartial", Model.UserList)
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                <div id="divPartialInActiveUserList">
                    @Html.Partial("_InActiveUserPartial", Model.InActiveUserList)
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#hides").click(function () {
            $(".selectusers").hide();
            $("#rbtnAllUser").addClass('checked');
            $("#rbtnSelectedUser").removeClass('checked');
        });
        $("#shows").click(function () {
            $(".selectusers").show();
            $("#rbtnSelectedUser").addClass('checked');
            $("#rbtnAllUser").removeClass('checked');
        });


    });
</script>

<script>
    $(document).ready(function () {
        $(".select2_single").select2({
            placeholder: "Select a state",
            allowClear: true
        });
        $(".select2_group").select2({});
        $(".select2_multiple").select2({
            maximumSelectionLength: 44,
            placeholder: "Select multiple users",
            allowClear: true
        });
    });
</script>