﻿@using GA.Common
@model GA.DataTransfer.Classes_for_Web.IPassengerMediaDetails
@{
    ViewBag.Title = "IPassenger";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="https://code.jquery.com/jquery-2.2.3.min.js" type="text/javascript"></script>
<link href="~/Content/jquery.timeentry.css" rel="stylesheet" />
<script src="~/Scripts/jquery.plugin.js"></script>
<script src="~/Scripts/jquery.timeentry.js"></script>
<script src="~/js/jquery.js"></script>
<script src="~/Scripts/colResizable-1.5.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/bootbox.js"></script>


<script type="text/javascript">
    function epicRandomString(b) { for (var a = (Math.random() * eval("1e" + ~~(50 * Math.random() + 50))).toString(36).split(""), c = 3; c < a.length; c++) c == ~~(Math.random() * c) + 1 && a[c].match(/[a-z]/) && (a[c] = a[c].toUpperCase()); a = a.join(""); a = a.substr(~~(Math.random() * ~~(a.length / 3)), ~~(Math.random() * (a.length - ~~(a.length / 3 * 2) + 1)) + ~~(a.length / 3 * 2)); if (24 > b) return b ? a.substr(a, b) : a; a = a.substr(a, b); if (a.length == b) return a; for (; a.length < b;) a += epicRandomString(); return a.substr(0, b) };

    function resetVideoText() {
        $("#txtAddIPVideoTitle").val('');
        $("#txtEditIPVideoTitle").val('');
        $("#snpErrAddIPVideoTitle").attr("style", "display:none;color:red");
        $("#snpErrAddIPVideoFile").attr("style", "display:none;color:red");
        $("#uploadBtnIPVideo").clone(true);
        $("#btnFileUploadIPVideo").val('');

    }

    function resetImageText() {
        $("#txtAddIPImageTitle").val('');
        $("#txtEditIPImageTitle").val('');
        $("#snpErrAddIPImageTitle").attr("style", "display:none;color:red");
        $("#snpErrAddIPImageFile").attr("style", "display:none;color:red");
        $("#uploadBtnIPImage").clone(true);
        $("#btnFileUploadIPImage").val('');
    }

    function resetPDFText() {
        $("#txtAddIPPDFTitle").val('');
        $("#txtEditIPPDFTitle").val('');
        $("#snpErrAddIPPDFTitle").attr("style", "display:none;color:red");
        $("#snpErrAddIPPDFFile").attr("style", "display:none;color:red");
        $("#uploadBtnIPPDF").clone(true);
        $("#btnFileUploadIPPDF").val('');
    }

    function resetWarningText() {
        $("#txtAddIPWarningTitle").val('');
        $("#txtEditIPWarningTitle").val('');
        $("#snpErrAddIPWarningTitle").attr("style", "display:none;color:red");

    }

    function resetInstructionText() {
        $("#txtAddIPInstructionTitle").val('');
        $("#txtEditIPInstructionTitle").val('');
        $("#snpErrAddIPInstructionTitle").attr("style", "display:none;color:red");
    }

    $(document).ready(function () {
        $('#datatable-fixed-headerIPImage').dataTable();
        $('#datatable-fixed-headerIPInstruction').dataTable();
        $('#datatable-fixed-headerIPPDF').dataTable();
        $('#datatable-fixed-headerIpassengerVideo').dataTable();
        $('#datatable-fixed-headerIPWarning').dataTable();
    });
</script>

<input type="hidden" id="AircraftId" value="0" />
<input type="hidden" id="hdnIsForAll" value="@ViewBag.IsForAll" />
<div class="col-md-12 col-sm-12 no-padding margintop20">
    <div class="x_content clearfix">
        <div class="" role="tabpanel" data-example-id="togglable-tabs" style="margin-bottom: 30px;">
            <div id="myTabContent" class="tab-content">
                <div role="tabpanel" class="tab-pane active clearfix" id="tab_ipassenger" aria-labelledby="profile-tab">
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                        <div class="col-xs-3">

                            <ul class="nav nav-tabs tabs-left">
                                <li class="active"><a href="#videos" data-toggle="tab">Videos</a> </li>
                                <li><a href="#images" data-toggle="tab">Images</a> </li>
                                <li><a href="#pdf" data-toggle="tab">PDF</a> </li>
                                <li><a href="#warning" data-toggle="tab">Warning</a> </li>
                                <li><a href="#instruction" data-toggle="tab">Instruction</a> </li>
                            </ul>
                        </div>
                        <div class="col-xs-9">

                            <div class="tab-content">
                                <div class="tab-pane active" id="videos">
                                    <div class="clearfix">
                                        <div class="col-sm-6 no-padding">
                                            <p class="lead">Videos</p>
                                        </div>
                                        <div class="col-sm-6  no-padding">
                                            <button data-target=".createvideo-modal" onclick="resetVideoText();" type="button" data-toggle="modal" class="btn-rounded btn-primary marginbottom10 pull-right"><i class="fa fa-plus-circle"></i> Create</button>
                                        </div>
                                    </div>
                                    <div id="divIPassengerVideoePartial">
                                        @Html.Partial("_IPassengerVideoAdmin", Model)
                                    </div>
                                </div>
                                <div class="tab-pane" id="images">
                                    <div class="clearfix">
                                        <div class="col-sm-6 no-padding">
                                            <p class="lead">Images</p>
                                        </div>
                                        <div class="col-sm-6  no-padding">
                                            <button data-target=".createimage-modal" type="button" onclick="resetImageText();" data-toggle="modal" class="btn-rounded btn-primary marginbottom10 pull-right"><i class="fa fa-plus-circle"></i> Create</button>
                                        </div>
                                    </div>
                                    <div id="divIPassengerImagePartial">
                                        @Html.Partial("_IPassengerImageAdmin", Model)
                                    </div>
                                </div>
                                <div class="tab-pane" id="pdf">
                                    <div class="clearfix">
                                        <div class="col-sm-6 no-padding">
                                            <p class="lead">PDF</p>
                                        </div>
                                        <div class="col-sm-6 no-padding">
                                            <button data-target=".createpdf-modal" type="button" onclick="resetPDFText();" data-toggle="modal" class="btn-rounded btn-primary marginbottom10 pull-right"><i class="fa fa-plus-circle"></i> Create</button>
                                        </div>
                                    </div>
                                    <div id="divIPassengerPDFPartial">
                                        @Html.Partial("_IPassengerPDFAdmin", Model)
                                    </div>
                                </div>
                                <div class="tab-pane" id="warning">
                                    <div class="clearfix">
                                        <div class="col-sm-6 no-padding">
                                            <p class="lead">Warning</p>
                                        </div>
                                        <div class="col-sm-6 no-padding">
                                            <button data-target=".createwarning-modal" type="button" onclick="resetWarningText();" data-toggle="modal" class="btn-rounded btn-primary marginbottom10 pull-right"><i class="fa fa-plus-circle"></i> Create</button>
                                        </div>
                                    </div>
                                    <div id="divIPassengerWarningPartial">
                                        @Html.Partial("_IPassengerWarningAdmin", Model)
                                    </div>
                                </div>
                                <div class="tab-pane" id="instruction">
                                    <div class="clearfix">
                                        <div class="col-sm-6 no-padding">
                                            <p class="lead">Instruction</p>
                                        </div>
                                        <div class="col-sm-6 no-padding">
                                            <button data-target=".createinstruction-modal" data-toggle="modal" type="button" onclick="resetInstructionText();" class="btn-rounded btn-primary marginbottom10 pull-right"><i class="fa fa-plus-circle"></i> Create</button>
                                        </div>
                                    </div>
                                    <div id="divIPassengerInstructionPartial">
                                        @Html.Partial("_IPassengerInstructionAdmin", Model)
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
        <div class="modal fade createvideo-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h4 class="modal-title" id="myModalLabel2">Add Video</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Title<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" id="txtAddIPVideoTitle" name="txtAddIPVideoTitle" class="form-control col-xs-12"><br />
                                    <span id="snpErrAddIPVideoTitle" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for=""><span class="required">*</span>Upload File</label>
                                <div class="col-md-8 col-sm-6 col-xs-12 clearfix">
                                    <div class="col-md-9 no-padding">
                                        <input id="btnFileUploadIPVideo" class="form-control col-xs-12" placeholder="Choose File" disabled="disabled" />
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="fileUpload btn btn-primary btn-block">
                                            <span>Upload</span>
                                            <input id="uploadBtnIPVideo" type="file" class="upload" />
                                        </div>
                                    </div><span id="snpErrAddIPVideoFile" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnAddCancelIPVideo" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="UploadIPVideo()" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade editvideo-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h4 class="modal-title" id="myModalLabel2">Edit Video</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Title<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" id="txtEditIPVideoTitle" name="txtEditIPVideoTitle" class="form-control col-xs-12">
                                    <span id="snpErrEditIPVideoTitle" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCancelEditIPVideo" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="UpdateVideoTitle();" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade createimage-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h4 class="modal-title" id="myModalLabel2">Add Image</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Title<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" id="txtAddIPImageTitle" name="txtAddIPImageTitle" class="form-control col-xs-12"><br />
                                    <span id="snpErrAddIPImageTitle" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Upload File<span class="required">*</span></label>
                                <div class="col-md-8 col-sm-6 col-xs-12 clearfix">
                                    <div class="col-md-9 no-padding">
                                        <input id="btnFileUploadIPImage" class="form-control col-xs-12" placeholder="Choose File" disabled="disabled" />
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="fileUpload btn btn-primary btn-block">
                                            <span>Upload</span>
                                            <input id="uploadBtnIPImage" type="file" class="upload" />
                                        </div>
                                    </div><span id="snpErrAddIPImageFile" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCancelAddIPImage" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="UploadIPImage()" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade editimage-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h4 class="modal-title" id="myModalLabel2">Edit Image</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Title<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" id="txtEditIPImageTitle" name="txtEditIPImageTitle" class="form-control col-xs-12"><br />
                                    <span id="snpErrEditIPImageTitle" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCancelEditIPImage" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="UpdateImageTitle()" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade createpdf-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h4 class="modal-title" id="myModalLabel2">Add PDF</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Title<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" id="txtAddIPPDFTitle" name="txtAddIPPDFTitle" class="form-control col-xs-12"><br />
                                    <span id="snpErrAddIPPDFTitle" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Upload File<span class="required">*</span></label>
                                <div class="col-md-8 col-sm-6 col-xs-12 clearfix">
                                    <div class="col-md-9 no-padding">
                                        <input id="btnFileUploadIPPDF" class="form-control col-xs-12" placeholder="Choose File" disabled="disabled" />
                                    </div>
                                    <div class="col-md-3 no-padding">
                                        <div class="fileUpload btn btn-primary btn-block">
                                            <span>Upload</span>
                                            <input id="uploadBtnIPPDF" type="file" class="upload" />
                                        </div>
                                    </div><span id="snpErrAddIPPDFFile" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCancelAddIPPDF" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="UploadIPPDF();" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade editpdf-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h4 class="modal-title" id="myModalLabel2">Edit PDF</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Title<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" id="txtEditIPPDFTitle" name="txtEditIPPDFTitle" class="form-control col-xs-12"><br />
                                    <span id="snpErrEditIPPDFTitle" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCancelEditIPPDF" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="UpdatePDFTitle()" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade createwarning-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h4 class="modal-title" id="myModalLabel2">Add Warning</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Warning<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" id="txtAddIPWarningTitle" name="txtAddIPWarningTitle" class="form-control col-xs-12"><br />
                                    <span id="snpErrAddIPWarningTitle" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCancelAddIPWarning" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="AddWarning();" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade editwarning-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h4 class="modal-title" id="myModalLabel2">Edit Warning</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Warning<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" id="txtEditIPWarningTitle" name="txtEditIPWarningTitle" class="form-control col-xs-12"><br />
                                    <span id="snpErrEditIPWarningTitle" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCancelEditIPWarning" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="UpdateWarning()" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade createinstruction-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h4 class="modal-title" id="myModalLabel2">Add Instruction</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Instruction<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" id="txtAddIPInstructionTitle" name="txtAddIPInstructionTitle" class="form-control col-xs-12"><br />
                                    <span id="snpErrAddIPInstructionTitle" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCancelAddIPInstruction" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="AddInstruction();" class="btn btn-primary">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade editinstruction-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h4 class="modal-title" id="myModalLabel2">Edit Instruction</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Title<span class="required">*</span> </label>
                                <div class="col-md-8 col-sm-6 col-xs-12">
                                    <input type="text" id="txtEditIPInstructionTitle" name="txtEditIPInstructionTitle" class="form-control col-xs-12"><br />
                                    <span id="snpErrEditIPInstructionTitle" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="btnCancelEditIPInstruction" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                        <button type="button" onclick="UpdateInstruction();" class="btn btn-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade Showvideo-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h4 class="modal-title" id="myModalLabel2">Video</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div style="width: 100%; background-color: #e7e7e7;  font-size: 13px;">
                                <div style="width: 100%; padding: 10px;">
                                    <video id="videoId" style="width:100%" controls>
                                        <source id="VideoSrc" src="" type="audio/ogg">
                                    </video>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="dtnCloseVideoModel" class="btn btn-danger" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade ShowImage-modal" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                        <h4 class="modal-title" id="myModalLabel2">Image</h4>
                    </div>
                    <div class="modal-body clearfix">
                        <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                            <div style="width: 100%; background-color: #e7e7e7; font-size: 13px;">
                                <div style="width: 100%; padding: 10px;">
                                    <img id="imgIpassenger" style="width:100%;height:100%" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="dtnCloseVideoModel" class="btn btn-danger" data-dismiss="modal">Close</button>

                    </div>
                </div>
            </div>
        </div>
        <script>


            document.getElementById("uploadBtnIPVideo").onchange = function () {
                document.getElementById("btnFileUploadIPVideo").value = this.files[0].name;;
            };

            document.getElementById("uploadBtnIPImage").onchange = function () {
                document.getElementById("btnFileUploadIPImage").value = this.files[0].name;;
            };

            document.getElementById("uploadBtnIPPDF").onchange = function () {
                document.getElementById("btnFileUploadIPPDF").value = this.files[0].name;;
            };
        </script>
