﻿@model List<GA.DataTransfer.LinkedAeroUnit>

@{
    ViewBag.Title = "LinkedUnit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/Inventory")
@*<script src="~/js/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/bootbox.js"></script>*@

<script>


        function blockAeroUnit(aerounitSerialNo, id) {

         
            bootbox.confirm("Are you sure to block the aero unit?", function (result) {
              
                if (result ) {
                    bootbox.prompt("Please enter the reason to block the aero unit?", function (result1) {
                        
                        if (result1 === null) {

                        } else {
                            if (result1 == '') {

                                bootbox.confirm("Reason cannot be left blank.", function (result) {});
                            }
                            else {
                                var url = '@Url.Action("BlockAeroUnit", "Admin")';
                                $.ajax({
                                    url: url,
                                    data: {
                                        "aeroUnitId": id,
                                        "reason": result1
                                    },
                                    success: function (data) {
                                        $('#linkedAeroUnits').html(data);
                                        $('#datatable-fixed-header').dataTable();
                                        bootbox.alert("Aero unit blocked successfully", function () {
                                           
                                        });
                                        ga('send', 'event', 'Button', 'Click', 'BlockAeroUnit');
                                    }
                                });
                            }
                        }
                    });
                }
            });
        }

    function changeAeroUnit(aerounitSerialNo, id) {
        $('#modalChangeAeroUnit').modal('show');
        $("#txtOldSrNo").val(aerounitSerialNo);
        $("#hdnAeroUnitId").val(id);
    }
    function changeAeroUnitAction() {
        
         var url = '@Url.Action("ChangeAeroUnit", "Admin")';
                                $.ajax({
                                    url: url,
                                    data: {
                                        "aeroUnitId": $("#hdnAeroUnitId").val(),
                                        "reason": $("#ddlReason").val(),
                                        "newSrNo": $("#txtNewSrNo").val(),
                                        "comment": $("#txtComment").val()
                                    },
                                    success: function (data) {
                                        if (data.status) {
                                            bootbox.alert("Aero unit changed successfully.", function () {

                                            });
                                            window.location.reload();
                                        } else {
                                            bootbox.alert("Aero unit not changed. "+data.message, function () {

                                        });
                                        }

                                        //$('#modalChangeAeroUnit').modal('hide');
                                        //$('#linkedAeroUnits').html(data);
                                        //$('#datatable-fixed-header').dataTable();
                                        //bootbox.alert("Aero unit changed successfully", function () {
                                           
                                        //});
                                        //ga('send', 'event', 'Button', 'Click', 'BlockAeroUnit');
                                    }
                                });
    }
</script>

<div class="x_panel clearfix">
    <div class="x_content">
        <div id="linkedAeroUnits">
            @Html.Partial("_LinkedUnitPartial", Model)
        </div>
    </div>
</div>
