﻿@model List<GA.DataTransfer.Classes_for_Web.UserInfo>

@{
    ViewBag.Title = "ManufacturerUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/Inventory")
@*<script src="~/js/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/bootbox.js"></script>*@
<script>

    function redirectToRegister() {
        window.location.href = '/Home/Register?flag=1';
    }

    function deleteManufacturerUser(id) {
        bootbox.confirm("Are you sure to delete this user?", function (result) {

            if (result) {
                $.post("/IMounts/Admin/DeleteManufactureruser", {
                    id: id,
                },
                  function (data) {
                      //check for session
                      $('#divPartialManufactruerUserList').html(data);
                      $('#datatable-fixed-header').dataTable();
                      bootbox.alert("User deleted successfully", function () {
                      });
                      ga('send', 'event', 'Button', 'Click', 'DeleteManufacturerUser');
                  });
            }
        });
    }
</script>


<div class="x_panel clearfix">
    <div class="x_content">
        <div id="divPartialManufactruerUserList">
            @Html.Partial("_ManufacturerUserPartial", Model)
        </div>
    </div>
</div>
