﻿@model List<GA.DataTransfer.PassengerProMapFileModel>

@{
    ViewBag.Title = "PassengerMapFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/jquery-1.8.2.js"></script>

<script type="text/javascript">

    $(document).ready(function (e) {

        


        $('#btnUploadPassengerPro').click(function (e) {

            
            var formdata = new FormData(); //FormData object
            var fileInput = document.getElementById('btnFilePassengerPro');
            var uniqueName = "@DateTime.Now.Ticks" + ".zip";
            $("#UniqueFileName").val(fileInput.files[0].name.split('.')[0] + '.zip');
            $("#FileSize").val(fileInput.files[0].size);
            //add file in form data
            if (fileInput.files.length > 0) {
                formdata.append(fileInput.files[0].name, fileInput.files[0]);
                //Creating an XMLHttpRequest and sending
                var xhr = new XMLHttpRequest();
                xhr.open('POST', '/Admin/UploadFMSAndPassengerProMapFile/' + fileInput.files[0].name.split('.')[0] + '.zip');
                xhr.send(formdata);
            }

            $.ajax({
                type: "POST",
                url: '/IMounts/Admin/SavePassengerProMapFile',
                data: $("#PassengerProMapFileForm").serialize(),
                cache: false,
                success: function (data) {
                    $("#PassengerProMapFileList").html(data);
                    $('#MapFileTitle').val('');
                    $('#ZoomLevel').val('');
                    $('#btnCancelUploadPassengerPro').trigger('click');
                  
                }
            });


        });

    });


    function deletePassengerProMapFile(id) {
        if (confirm("Do you what to delete this File ?") == true) {
            $('#divLoader').show();
            $.post("/IMounts/Admin/DeletePassengerProMapFile", { mapFileId: id }, function (data) {

                $('#PassengerProMapFileList').html(data);
               
            });
        }
    }


</script>




<div class="x_panel clearfix">
    <div class="x_content">
        <button class="btn-rounded btn-primary marginbottom10 pull-right" data-toggle="modal" data-target=".addmapfile-modal"><i class="fa fa-globe"></i> Add Map File</button>

        @using (@Html.BeginForm("SavePassengerProMapFile", "Admin", FormMethod.Post, new { id = "PassengerProMapFileForm", enctype = "multipart/form-data" }))
        {
        <!----------modal popup for add map file starts---------->
            <div class="modal fade addmapfile-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                            <h4 class="modal-title" id="myModalLabel2">Add Map File</h4>
                        </div>
                        <div class="modal-body clearfix">
                            <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                                <div class="form-group clearfix">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Title <span class="required">*</span> </label>
                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                        <input type="text" id="MapFileTitle" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Zoom Level <span class="required">*</span> </label>
                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                        <input type="text" id="ZoomLevel" name="" required="required" class="form-control col-md-7 col-xs-12">
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Region <span class="required">*</span> </label>
                                    <div class="col-md-8 col-sm-6 col-xs-12">
                                        @*<input type="text" id="" name="" required="required" class="form-control col-md-7 col-xs-12">*@
                                        @Html.DropDownList("RegionId", new SelectList((List<GA.DataTransfer.ListItems>)ViewBag.RegionList, "Value", "Text"), new { @class = "select2_group form-control" })</div>
                                </div>
                                <div class="form-group clearfix">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Upload File</label>
                                    <div class="col-md-8 col-sm-6 col-xs-12 clearfix">
                                        <div class="col-md-9 no-padding">
                                            <input id="btnFilePassengerPro" class="form-control col-md-7 col-xs-12" placeholder="Choose File" disabled="disabled" />
                                        </div>
                                        <div class="col-md-3 no-padding">
                                            <div class="fileUpload btn btn-primary col-xs-12">
                                                <span>Upload</span>
                                                <input id="uploadBtn" type="file" class="upload" />
                                                @Html.Hidden("UniqueFileName")
                                                @Html.Hidden("FileSize")
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal" aria-label="Close">Cancel</button>
                            <button type="submit" id="btnUploadPassengerPro" class="btn btn-primary">Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        }
        <!----------modal popup for add map file ends---------->
        <div id="PassengerProMapFileList">
            @Html.Partial("_PassengerProMapFileList", Model)
        </div>
    </div>
</div>
<!--script for upload file button ui-->
<script>
    document.getElementById("btnFilePassengerPro").onchange = function () {
        document.getElementById("btnFilePassengerPro").value = this.value;
    };
</script>
<!--script for upload file button ui-->


<script>
    $(document).ready(function () {
        $(".select2_single").select2({
            placeholder: "Select a state",
            allowClear: true
        });
        $(".select2_group").select2({});
        $(".select2_multiple").select2({
            maximumSelectionLength: 4,
            placeholder: "With Max Selection limit 4",
            allowClear: true
        });
    });
</script>