﻿@model List<GA.DataTransfer.LinkedAeroUnit>

@{
    ViewBag.Title = "PreLinkedUnit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/Inventory")
@*<script src="~/js/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/bootbox.js"></script>*@


<script>

    function UnBlockedAeroUnit(aeroUnitNo) {

        bootbox.confirm("Are you sure to unblock the aero unit?", function (result) {

            if (result) {
                var url = '@Url.Action("UnBlockedAeroUnit", "Admin")';
                $.ajax({
                    url: url,
                    data: {
                        "aeroUnitNo": aeroUnitNo
                    },
                    success: function (data) {
                        $('#previouslyLinkedAeroUnits').html(data);
                        $('#datatable-fixed-header').dataTable();
                        bootbox.alert("Aero unit Unblock successfully", function () {

                        });
                        ga('send', 'event', 'Button', 'Click', 'UnBlockAeroUnit');
                    }
                });
            }
        });
    }
</script>

<div class="x_panel clearfix">
    <div class="x_content">
        <div id="previouslyLinkedAeroUnits">
            @Html.Partial("_PreLinkedUnitPartial", Model)
        </div>
    </div>
</div>

 