﻿@model List<GA.DataTransfer.UnlinkedAreoUnit>
@{
    ViewBag.Title = "ProductionUnit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Scripts.Render("~/bundles/Inventory")
@*<script src="~/js/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/bootbox.js"></script>*@

<script>
    function deleteAeroUnit(aeroUnitNo) {
        bootbox.confirm("Are you sure to delete the aero unit?", function (result) {
            if (result) {
                var url = '@Url.Action("DeleteAeroUnits", "Admin")';
                $.ajax({
                    url: url,
                    data: {
                        "aeroUnitNo": aeroUnitNo
                    },
                    success: function (data) {
                        $('#PrelinkedAeroUnits').html(data);
                        $('#datatable-fixed-header').dataTable();
                        bootbox.alert("Aero unit deleted successfully", function () {
                        });

                        ga('send', 'event', 'Button', 'Click', 'DeleteProductionUnit');
                    }
                });
            }
        });
    }
</script>

<div class="x_panel clearfix">
    <div class="x_content">
        <div id="PrelinkedAeroUnits">
            @Html.Partial("_ProductionUnitPartial", Model)
        </div>
    </div>
</div>
