﻿@model List<GA.DataTransfer.Classes_for_Web.SubscriptionViewModel>
@using GA.Common;
@{
    ViewBag.Title = "ReceiptList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/bootbox.js"></script>

@Html.Partial("_SubscriptionHistory", Model)