﻿@model List<GA.DataTransfer.LinkedAeroUnit>

@{
    ViewBag.Title = "ReplacedUnit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="x_panel clearfix">
    <div class="x_content">
        <div id="previouslyLinkedAeroUnits">
            <table id="datatable-fixed-header" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Aircraft Tail Number</th>
                        <th>Old Unit Serial Number</th>
                        <th>New Unit Serial Number</th>
                        <th>Reason</th>
                        <th>Comment</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                    <tr>
                        <td>@item.AircraftTelNumber</td>
                        <td>@item.AeroUnitNumber</td>
                        <td>@item.ReplacedWithUnitNumber</td>
                        <td>@item.ReplacedReason</td>
                        <td>@item.Comment</td>
                        <td>@item.ReplacedDate</td>
                    </tr>
                    }
                    @if (Model.Count == 0)
                    {
                        <tr>
                            <td colspan="6" align="center">
                                No record found.
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>