﻿@model GA.DataTransfer.Classes_for_Web.SubTableModel

@{
    ViewBag.Title = "Subscription";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/jquery.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#btnAddSubscription").click(function(){
            window.location = '/Admin/AddSubscription';
        });
    });
</script>
<style>
    .fontBold {
        font-weight: bold;
        font-size: 15px;
    }

    .fa-green {
        color: green;
    }
</style>
<div class="col-md-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div class="col-sm-12" style="text-align:center;">
            <h1>Aeronautical data subscription plans <span style="float:right">
                  <button type="button" id="btnAddSubscription" style="font-size:14px" class="btn-rounded marginbottom10 btn-primary">Add Subscription</button>
                </span> </h1>
        </div>
        @Html.Partial("_SubscriptionMetrix", Model)
    </div>
</div>