﻿@model List<GA.DataTransfer.Classes_for_Web.UserSubscription>

@{
    ViewBag.Title = "UserSubscriptionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Scripts.Render("~/bundles/Inventory")
<div class="x_panel clearfix">
    <div class="x_content">
        <div >

         
            <table id="datatable-fixed-header" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Sno</th>
                        <th>User Name</th>
                        <th>User Email</th>
                        <th>Subscription</th>
                        <th>Details</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.SNO</td>
                            <td>@item.UserName</td>
                            <td>@item.emailId</td>
                            <td>@item.SubscriptionName</td>
                            <td>@item.SubscriptionDetails</td>
                            <td>@item.Status</td>
                            <td>
                                <a class="btn btn-primary btn-xs" href="@Url.Action("ReceiptList", "Admin", new { profileId = @item.ProfileId })"><i class="fa fa-search-plus"></i> View Details</a>
                            </td>
                        </tr>
                    }
                 
                </tbody>
            </table>

        </div>
    </div>
</div>
