<table align="center" cellpadding="0" cellspacing="0" border="0" width="100%"bgcolor="#f0f0f0">
        <tr>
        <td style="padding: 30px 30px 20px 30px;">
            <table cellpadding="0" cellspacing="0" border="0" width="100%" bgcolor="#ffffff" style="max-width: 600px; margin: auto;">
            <tr>
                <td colspan="2" align="center" style="background-color: #225489; padding: 30px;">
                    <a href="http://test.guardianavionicsdata.com/" target="_blank"><img src="http://test.guardianavionicsdata.com/Images/guardian.png" border="0" style="height: 100px;"/></a>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center" style="padding: 50px 50px 0px 50px;">
                    <h2 style="padding-right: 0em; margin: 0; line-height: 40px; font-weight:300; font-family: 'Nunito Sans', Arial, Verdana, Helvetica, sans-serif; color: #666; text-align: left; padding-bottom: 1em;">
                        Email from <b>Guardian Avionics</b>
                    </h2>
                </td>
            </tr>
            <tr>
                <td style="text-align: left; padding: 0px 50px;" valign="top">
                    <p style="font-size: 18px; margin: 0; line-height: 24px; font-family: 'Nunito Sans', Arial, Verdana, Helvetica, sans-serif; color: #666; text-align: left; padding-bottom: 3%;">
                        Hi <b>{username}</b>,
                    </p>
                    <p style="font-size: 18px; margin: 0; line-height: 24px; font-family: 'Nunito Sans', Arial, Verdana, Helvetica, sans-serif; color: #666; text-align: left; padding-bottom: 3%;">
                        Please use this one time password <b>{OTPCode}</b> to verify your guardian account .To keep your account safe , never share your OTP with anyone.
                    </p>
                </td>
            </tr>
            <tr>
                <td style="text-align: left; padding: 30px 50px 50px 50px" valign="top">
                    <p style="font-size: 18px; margin: 0; line-height: 24px; font-family: 'Nunito Sans', Arial, Verdana, Helvetica, sans-serif; color: #505050; text-align: left;">
                        Thanks,<br/>
                    </p>
                </td>
            </tr>
         
            </table>
        </td>
    </tr>
</table>