﻿@using GA.Common
@{
    ViewBag.Title = "CheckList";
    Layout = "~/Views/Shared/" + ViewBag.Master;


}

@{
    var a = Session["IsOwner"].ToString();
    var sPageURL = Request.QueryString["aId"];
    var aId = new Misc().Decrypt(sPageURL);
    var id = 0;
    if (((IEnumerable<dynamic>)ViewBag.CatogaryList).Count() > 0)
    {
        id = @ViewBag.CatogaryList[0].Id;
    }

}
<script src="https://code.jquery.com/jquery-2.2.3.min.js" type="text/javascript"></script>
<link href="~/Content/jquery.timeentry.css" rel="stylesheet" />
<script src="~/Scripts/jquery.plugin.js"></script>
<script src="~/Scripts/jquery.timeentry.js"></script>
<script src="~/js/jquery.js"></script>
<script src="~/Scripts/colResizable-1.5.min.js"></script>
<script src="~/js/bootbox.js"></script>


<style>
    .tooltipe {
        position: relative;
        display: inline-block;
        cursor: pointer;
    }

        .tooltipe .tooltiptext {
            font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
            font-size: .8em;
            visibility: hidden;
            width: 120px;
            background-color: #fff;
            color: #000;
            text-align: center;
            border: 1px solid;
            padding: 3px 0;
            box-shadow: 4px 4px 4px rgba(0,0,0,0.3); /* Position the tooltip */
            position: absolute;
            z-index: 1;
        }

        .tooltipe:hover .tooltiptext {
            visibility: visible;
            margin-top: -30px;
            margin-left: -50px;
        }
</style>


<div class="" role="tabpanel" data-example-id="togglable-tabs" style="margin-bottom: 30px;">
    <ul id="Categorylist" class="nav nav-tabs ubar_tabs" role="tablist">
        @foreach (var item in @ViewBag.CatogaryList)
        {
            <li id="List_@item.Id" role="presentation">
                @if (item.TabColor == null)
                {
                    <a href="#Category_@item.Id" data-toggle="tab" ondblclick="editcat(@item.Id)" onclick="CatItemList('@item.Id')">
                        @item.CategoryName
                        @if (a == "False")
                        {

                        }
                        else
                        {
                            <span style="color: red;" onclick="DeleteCat('@item.Id')">x</span>
                        }

                    </a>
                }
                else
                {
                    <a href="#Category_@item.Id" data-toggle="tab" style="background:#@item.TabColor !important;" ondblclick="editcat(@item.Id)" onclick="CatItemList('@item.Id')">
                        @item.CategoryName
                        @if (item.TabColor == "d9534f")
                        {
                            if (a == "False")
                            {

                            }
                            else
                            {
                                <span style="color: white;" onclick="DeleteCat('@item.Id')">x</span>
                            }

                        }
                        else
                        {
                            if (a == "False")
                            {

                            }
                            else
                            {
                                <span style="color: red;" onclick="DeleteCat('@item.Id')">x</span>
                            }
                        }
                    </a>
                }
            </li>
        }
        <li role="presentation" class="active">
            <a href="#" class="add-contact hide_button hideforOther" data-toggle="tab" onclick="showpop()">+ Add Checklist</a>
        </li>
    </ul>
    <div>
        <button class="btn-rounded btn-primary marginbottom10 pull-right hideforOther" id="additemval" data-toggle="modal" data-target=".addCategoryItem-modal" style="margin-top: -14px;"><i class="fa fa-plus-circle"></i>Add Item</button>
    </div>
    <div id="Userpage" style="margin-top: 40px;">
        @*@Html.Partial("_CategoryItems", Model)*@
        <div class="table-responsive" id="itemtable">
            <table id="datatable-fixed-header " class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Item Name</th>
                        <th>Condition</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody id="AddItemList"></tbody>
            </table>
        </div>
    </div>

</div>


<div class="addCategory-modal fade modal" id="myModal" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add Checklist</h3>
            </div>
            <form id="formAddUser" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Checklist Name<span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="CategoryName" id="CategoryName" required="required" class="form-control col-md-7 col-xs-12" maxlength="100" autocomplete="Off">
                            <span id="snpAddCategoryName" style="color:red;display:none">Checklist Name required</span>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Priority<span class="required">*</span> </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input type="text" name="Priority" id="Priority" onkeypress="return isNumber(event)" required="required" class="form-control col-md-7 col-xs-12" maxlength="100" autocomplete="Off">
                                <span id="snpAddPriority" style="color:red;display:none">Priority required</span>
                            </div>
                        </div>*@
                    @*<div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Tab color<span class="required"></span></label>
                            <div class="col-md-8 col-sm-6 col-xs-12" name="setColor" id="setColor" required="required">
                                <select class="form-control col-md-7 col-xs-12">
                                    <option value="">Select color</option>
                                    @*<option value="A7226E">Pink</option>
                                    <option value="d9534f">Red</option>
                                    <option value="F26B38">Orange</option>
                                    <option value="F7DB4F">Yellow</option>
                                    <option value="22ab54">Green</option>
                                </select>
                                @*<span id="snpAddColor" style="color:red;display:none"> required</span>
                            </div>
                        </div>*@
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Category<span class="required"></span></label>
                        <div class="col-md-8 col-sm-6 col-xs-12" name="setCategoryDiv"  required="required">
                            <select class="form-control col-md-7 col-xs-12" id="setCategory">
                                <option value="">Select category</option>
                                <option value="1">Normal</option>
                                <option value="2">Emergency</option>
                            </select>
                            @*<span id="snpAddCategoryType" style="color:red;display:none"> required</span>*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btnCancelPartNo" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary btnAddCategory hideforOther">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="EditCategory-modal fade modal" id="EditmyModal" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit Category</h3>
            </div>
            <form id="formAddUser" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Category Name<span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="hidden" name="EditCategoryId" id="EditCategoryId">
                            <input type="text" name="EditCategoryName" id="EditCategoryName" required="required" class="form-control col-md-7 col-xs-12" maxlength="100" autocomplete="Off">
                            <span id="snpEditCategoryName" style="color:red;display:none">Category Name required</span>
                        </div>
                    </div>
                    @*<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Priority<span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="EditPriority" id="EditPriority" required="required" onkeypress="return isNumber(event)" class="form-control col-md-7 col-xs-12" maxlength="100" autocomplete="Off">
                            <span id="snpEditPriority" style="color:red;display:none">Priority required</span>
                        </div>
                    </div>*@
                    @*<div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Tab color<span class="required"></span></label>
                        <div class="col-md-8 col-sm-6 col-xs-12" name="setColor" required="required">
                            <select class="form-control col-md-7 col-xs-12" id="EditsetColor">
                                <option value="">Select color</option>
                                @*<option value="A7226E">Pink</option>
                                <option value="d9534f">Red</option>
                                <option value="F26B38">Orange</option>
                                <option value="F7DB4F">Yellow</option>
                                <option value="22ab54">Green</option>
                            </select>
                            @*<span id="snpAddColor" style="color:red;display:none"> required</span>
                        </div>
                    </div>*@
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Category<span class="required"></span></label>
                        <div class="col-md-8 col-sm-6 col-xs-12" name="setEditCategoryDiv"  required="required">
                            <select class="form-control col-md-7 col-xs-12" id="setEditCategory">
                                <option value="">Select category</option>
                                <option value="1">Normal</option>
                                <option value="2">Emergency</option>
                            </select>
                            @*<span id="snpEditCategoryType" style="color:red;display:none"> required</span>*@
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btnCancelPartNo" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary btnEditCategory hideforOther" onclick="btnEditCategory()">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="addCategoryItem-modal fade modal" id="myModalItem" aria-hidden="true" role="dialog">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add Item</h3>
            </div>
            <form id="formAddUser" data-parsley-validate class="form-horizontal form-label-left">
                <div class="modal-body clearfix">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Item Name<span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="ItemName" id="ItemNamebtn" required="required" class="form-control col-md-7 col-xs-12" maxlength="100" autocomplete="Off">
                            <span id="snpAddItemName" style="color:red;display:none">Item Name required</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Condition<span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="ItemName" id="Conditionbtn" required="required" class="form-control col-md-7 col-xs-12" maxlength="100" autocomplete="Off">
                            <span id="snpAddItemName" style="color:red;display:none">Condition required</span>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btnCancelPartNo" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary btnAddItem">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

@*<div class="editItem-modal fade modal" id="EditModalItem" aria-hidden="true" role="dialog">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                    <h3 class="modal-title" id="myModalLabel2">Edit Item</h3>
                </div>
                <form id="formAddUser" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="modal-body clearfix">
                        <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Item Name<span class="required">*</span> </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input type="hidden" name="EditItemId" id="EditItemId">
                                <input type="text" name="EditItemName" id="EditItemName" required="required" class="form-control col-md-7 col-xs-12" maxlength="100" autocomplete="Off">
                                <span id="snpEditItemName" style="color:red;display:none">Item Name required</span>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger btnCancelPartNo" data-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary btnEditItem">Add</button>
                    </div>
                </form>
            </div>
        </div>
    </div>*@



<script type="text/javascript">
    localStorage.tabId=@id;
    $("#itemtable").show();
    $("#additemval").show();
    if ("@a" == "False") {
        $(".hideforOther").hide();
    }
    else {
        $(".hideforOther").show();
    }
    if (@id== 0) {
        $("#itemtable").show();
        $("#additemval").hide();
    }
    else if (localStorage.tabId == undefined) {
        $("#List_" +@id).first().addClass("active");
        $("#Category_" +@id).first().addClass("active in");
        CatItemList(localStorage.tabId);
    }
    else {
        $("#List_" + localStorage.tabId).first().addClass("active");
        $("#Category_" + localStorage.tabId).first().addClass("active in");
        CatItemList(localStorage.tabId);
    }
   function reset() {
       $("#CategoryName").val('');
       $("#Priority").val('');
       $("#setCategory").val("");
       $("#snpAddCategoryName").hide();
    }
    function resetItem() {
        $("#ItemNamebtn").val('');
        $("#snpAddItemName").hide();
    }

    $("#additemval").click(function (event) {
        $("#ItemName").val('');
       $("#snpAddItemName").hide();
        event.preventDefault();
    });


   function btnEditCategory() {
     if (EditValidate()) {
         $.post("/IMounts/Category/AddupdateCategory", {
             CategoryName: $("#EditCategoryName").val(),
             Id: $("#EditCategoryId").val(),
             //TabColor: $("#EditsetColor option:selected").val(),
             //Priority: $("#EditPriority").val(),
             CategoryType: $("#setEditCategory option:selected").val()
         }, function (data) {
             $('#myLoadingElement').hide();
             $("#EditmyModal").modal('hide');
             localStorage.tabId = $("#EditCategoryId").val();
             bootbox.alert('Category updated successfully.', function () {
                 location.reload();
             });
         });
     }
    }

    $('.btnAddCategory').bind('click', function () {
        if (Validate()) {
            var id = 0;
            $.post("/IMounts/Category/AddupdateCategory", {
                CategoryName: $("#CategoryName").val(),
                AircraftId:@aId,
                //TabColor: $("#setColor option:selected").val(),
                //Priority: $("#Priority").val(),
                CategoryType: $("#setCategory option:selected").val(),
                Id: 0
            }, function (data) {
                id = data.Id;
                $('#myLoadingElement').hide();
                var tabcolor = "";
                var name = $("#CategoryName").val();
                if ($("#setCategory option:selected").val() == 2) {
                    tabcolor = "d9534f";
                }
                $("a.add-contact").closest('li').before('<li role="presentation"><a href="#category_' + id + '" style="background:#' + tabcolor +' !important;" data-toggle="tab" ondblclick="editcat(' + id + ')"  onclick="CatItemList(' + id + ')">' + name + '<span style="color: red;" onclick="DeleteCat(' + id + ')">x</span></a></li>'); //$("#setColor option:selected").val()
                $('.tab-content').append('<div class="tab-pane" id="category_' + id + '"></div>');
                $("#myModal").modal('hide');
                localStorage.catId = data.Id;
                bootbox.alert('Category added successfully.', function () {
                    reset();
                    //location.reload();
                });
            });


        }
    });

    function Validate() {
        var isValid = true;
        if ($("#CategoryName").val().trim() == "") {
            $("#snpAddCategoryName").show();
            isValid = false;
        }
        //if ($("#Priority").val().trim() == "") {
        //    $("#snpAddPriority").show();
        //    isValid = false;
        //}
        //if ($("#CategoryName").val().trim() == "") {
        //    $("#snpAddCategoryName").show();
        //    isValid = false;
        //}
        //if ($("#setCategory").val().trim() == "") {
        //    $("#snpAddCategoryType").show();
        //    isValid = false;
        //}
        
        return isValid;
    }
    function EditValidate() {
        var isValid = true;
        if ($("#EditCategoryName").val().trim() == "") {
            $("#snpEditCategoryName").show();
            isValid = false;
        }
        //if ($("#EditPriority").val().trim() == "") {
        //    $("#snpEditPriority").show();
        //    isValid = false;
        //}
         //if ($("#setEditCategory").val().trim() == "") {
        //    $("#snpEditCategoryType").show();
        //    isValid = false;
        //}
        return isValid;
    }
    function DeleteCat(id) {
        bootbox.confirm("Are you sure to delete the category?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Category/DeletedCategory", {
                    id: id
                }, function (data) {
                    $('#myLoadingElement').hide();
                    bootbox.alert('Category deleted successfully.', function () {
                        location.reload();
                    });
                });
            }
        });
    }
    function DeletedItem(id) {
        bootbox.confirm("Are you sure to delete the category item?", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Category/DeletedItem", {
                    id: id
                }, function (data) {
                    $('#myLoadingElement').hide();
                    bootbox.alert('Item deleted successfully.', function () {
                        //location.reload();
                        CatItemList(localStorage.tabId);
                    });
                });
            }
        });
    }
    function ItemValidate() {
        var isValid = true;
        if ($("#ItemNamebtn").val().trim() == "") {
            $("#snpAddItemName").show();
            isValid = false;
        }
        return isValid;
    }
    function EditItemValidate() {
        var isValid = true;
        if ($("#EditItemName").val().trim() == "") {
            $("#snpEditItemName").show();
            isValid = false;
        }
        return isValid;
    }

	$('.btnAddItem').bind('click', function () {
        if (ItemValidate()) {
        $('#myLoadingElement').show();
            var catId = localStorage.catId;//$("#Categorylist li.active").attr('id').split('_')[1];
            $.post("/IMounts/Category/AddupdateCategoryItem", {
                CategoryItemName: $("#ItemNamebtn").val(),
                Condition:$("#Conditionbtn").val(),
                CategoryId: catId,
                Id: 0
            }, function (data) {
                $('#myLoadingElement').hide();
                bootbox.alert('Item added successfully.', function () {
                    //location.reload();
                    CatItemList(data.CatId);
                });
            });
            $("#myModalItem").modal('hide');
			resetItem();
        }
    });



    function addItems() {
    //$('.btnAddItem').bind('click', function () {
        if ($("#ItemName").val().trim()!="") {
        $('#myLoadingElement').show();
            var catId = localStorage.catId;//$("#Categorylist li.active").attr('id').split('_')[1];
            $.post("/IMounts/Category/AddupdateCategoryItem", {
                CategoryItemName: $("#ItemName").val(),
                Condition: $("#Condition").val(),
                CategoryId: catId,
                Id: 0
            }, function (data) {
                $('#myLoadingElement').hide();
                bootbox.alert('Item added successfully.', function () {
                    //location.reload();
                    CatItemList(data.CatId);
                });
            });
            $("#myModalItem").modal('hide');
        }
    }
    function editItem(id) {
    //$('.btnEditItem').bind('click', function () {
        if ($("#EditItemName"+id).val().trim()!="") {
            //$("#EditModalItem").modal('hide');
            $('#myLoadingElement').show();
            //var catId = $("#Categorylist li.active").attr('id').split('_')[1];
            $.post("/IMounts/Category/AddupdateCategoryItem", {
                CategoryItemName: $("#EditItemName" + id).val(),
                Condition: $("#EditCondition" + id).val(),
                //CategoryId: catId,
                Id: id//$("#EditItemId").val()
            }, function (data) {
                $('#myLoadingElement').hide();
                bootbox.alert('Item updated successfully.', function () {
                    CatItemList(data.CatId);
                });
            });

        }
    };

    function CatItemList(id) {
        var userid="@a";
        $("#CategoryName").val('');
        $("#snpAddCategoryName").hide();
        if (userid == "False") {
            $(".hideforOther").hide();
        }
        else {
            if (id == 0) {
                $("#additemval").hide();
                $("#itemtable").hide();
            }
        }
        //else {
            localStorage.catId = id;
            localStorage.tabId = id;
            $.post("/Category/CatItemList", {
                Id: id
            }, function (data) {
                console.log(data.CatogaryItemList);
                //$('#Userpage').html(data.CatogaryItemList);
                //$('#datatable-fixed-header').dataTable();
                $("#AddItemList").empty();
                var j = 1;
                for (var i = 0; i < data.CatogaryItemList.length; i++) {
                    data.CatogaryItemList[i].Condition=data.CatogaryItemList[i].Condition == null ? '' : data.CatogaryItemList[i].Condition;
                    $("#AddItemList").append('<tr class="form-grid-view-header" id="' + data.CatogaryItemList[i].Id + '"><td>' + j + '</td><td><a id="ItemnameId' + data.CatogaryItemList[i].RowIndex + '">' + data.CatogaryItemList[i].CategoryItemName + '</a>'+
                        '<span id="spn_' + data.CatogaryItemList[i].RowIndex + '" style="display:none"> <input id="EditItemName' + data.CatogaryItemList[i].Id + '" value="' + data.CatogaryItemList[i].CategoryItemName + '" type="text" style="padding-left:10px">  </span>' +
                        '</td><td><a id="Condition' + data.CatogaryItemList[i].RowIndex + '">' + data.CatogaryItemList[i].Condition + '</a>' +
                        '<span id="spnc_' + data.CatogaryItemList[i].RowIndex + '" style="display:none"> <input id="EditCondition' + data.CatogaryItemList[i].Id + '" value="' + data.CatogaryItemList[i].Condition + '" type="text" style="padding-left:10px"> &nbsp; <img src="/Images/if_tick_12514.png" width="20" height="20" style="cursor:pointer" onclick="editItem(' + data.CatogaryItemList[i].Id + ')"> &nbsp;&nbsp; <img style="cursor:pointer" src="/Images/if_cross_11746.png" width="20" height="20" onclick="CancelRenamefun(' + data.CatogaryItemList[i].RowIndex + ')"> </span>' +
                        '</td><td> <div class="tooltipe"><a class="btn btn-primary btn-xs hideforOther" href="#" onclick="ViewItem(' + data.CatogaryItemList[i].RowIndex + ')"><i class="fa fa-pencil"></i></a><span class="tooltiptext">Edit this step</span></div>' + // data-toggle="modal" data-target=".editItem-modal"
                        '<div class="tooltipe"><a class="btn btn-primary btn-xs hideforOther" href="#" onclick="DeletedItem(' + data.CatogaryItemList[i].Id + ')"><i class="fa fa-trash"></i></a><span class="tooltiptext">Delete this step</span></div>' +
                        '<div class="tooltipe"><a class="btn btn-primary btn-xs hideforOther" id="upkey' + data.CatogaryItemList[i].RowIndex + '" href="#" onclick="upkey(' + data.CatogaryItemList[i].RowIndex +')"><i class="fa fa-caret-up" style="font-size: 17px;"></i></a><span class="tooltiptext">Move this step up</span></div>' +
                        '<div class="tooltipe"><a class="btn btn-primary btn-xs hideforOther" id="downkey' + data.CatogaryItemList[i].RowIndex + '" href="#" onclick="downkey(' + data.CatogaryItemList[i].RowIndex + ')" ><i class="fa fa-caret-down" style="font-size: 17px;"></i></a><span class="tooltiptext">Move this step down</span></div>' +
                        '<div class="tooltipe"><a class="btn btn-primary btn-xs hideforOther" href="#" onclick="InsertNewRow()">Insert</a><span class="tooltiptext">Insert step above</span></div>' +
                        '</td></tr>');
                    j = j + 1;
                }
                if (userid == "False") {
                    $(".hideforOther").hide();
                }
                else if (id == 0) {
                    $("#additemval").hide();
                    $("#itemtable").hide();
                }
                else {
                    $("#additemval").show();
                    $("#itemtable").show();
                }
            });
        //}
    }

    function InsertNewRow() {
        $('<tr class="form-grid-view-header" id="NewItem0"><td>0</td><td> <input type="text" class="col-md-6" id="ItemName"/></td><td> <input type="text" class="col-md-6" id="Condition"/></td><td><img src="/Images/if_tick_12514.png" onclick="addItems()" width="20" height="20" style="cursor:pointer">&nbsp;&nbsp; <img style="cursor:pointer" src="/Images/if_cross_11746.png" width="20" height="20" onclick="CancelRename()"> </span> </td><td></td></tr>')
            .prependTo('#AddItemList')
    }
    function CancelRename() {
        $('#NewItem0').remove();
    }
    function CancelRenamefun(Item) {
        $('#ItemnameId' + Item).show();
        $('#Condition' + Item).show();
        $('#spn_' + Item).hide();
        $('#spnc_' + Item).hide();
    }


    function ViewItem(Item) {
        $('#ItemnameId' + Item).hide();
        $('#Condition' + Item).hide();
        $('#spn_' + Item).show();
        $('#spnc_' + Item).show();
        //$("#snpEditItemName").hide();
        //$('#myLoadingElement').show();
        //$.post("/Category/GetItemdetail", {
            //id: Item
        //}, function (data) {
            //$('#myLoadingElement').hide();
            //$("#EditItemId").val(data.catItem.Id);
            //$("#EditItemName").val(data.catItem.CategoryItemName);
        //});
    }

    function upkey(Index) {
        var row = $("#upkey" + Index).parents("tr:first");
        var Id = row.closest('tr').attr('id');
        var previewId = row.prev().closest('tr').attr('id')
        row.insertBefore(row.prev());
		 if(previewId!=undefined){
		 $('#myLoadingElement').show();
		 }
        $.post("/IMounts/Category/UpdateIndex", {
            OldIndex: Index,
            NewIndex: Index - 1,
            SetNewIndexInthisIdId: Id,
            ChangeIndexofThisId: previewId
        }, function (data) {
		 $('#myLoadingElement').hide();
		 CatItemList(localStorage.catId)
		});
    }
    function downkey(Index) {
        var row = $("#downkey" + Index).parents("tr:first");
        var Id = row.closest('tr').attr('id');
        var previewId = row.next().closest('tr').attr('id')
        row.insertAfter(row.next());
		if(previewId!=undefined){
		 $('#myLoadingElement').show();
		 }
        $.post("/IMounts/Category/UpdateIndex", {
            OldIndex: Index,
            NewIndex: Index + 1,
            SetNewIndexInthisIdId: Id,
            ChangeIndexofThisId: previewId
        }, function (data) {
		 $('#myLoadingElement').hide();
		 CatItemList(localStorage.catId)
		});
    }

    function editcat(cat) {
        $("#snpEditCategoryName").hide();
        $("#EditmyModal").modal('show');
        $('#myLoadingElement').show();
        $.post("/IMounts/Category/Getdetail", {
            id: cat
        }, function (data) {
            $('#myLoadingElement').hide();
            $("#EditCategoryId").val(data.cat.Id);
            $("#EditCategoryName").val(data.cat.CategoryName);
            $("#setEditCategory").val(data.cat.CategoryType);
            //$("#EditPriority").val(data.cat.Priority);
            //$("#EditsetColor").val(data.cat.TabColor);
        });
    }

    function isNumber(evt) {
        evt = (evt) ? evt : window.event;
        var charCode = (evt.which) ? evt.which : evt.keyCode;
        if (charCode > 31 && (charCode < 48 || charCode > 57)) {
            return false;
        }
        return true;
    }
    $('#Priority').bind('paste', function (e) {
        e.preventDefault(); //disable cut,copy,paste
    });
    $('#EditPriority').bind('paste', function (e) {
        e.preventDefault(); //disable cut,copy,paste
    });

    function showpop(){
        $("#myModal").modal('show');
    }

    $(".nav-tabs").on("click", "a", function (e) {
        e.preventDefault();
        $(this).tab('show');
    })

</script>