﻿@model GA.DataTransfer.Classes_for_Web.GraphModel

<table id="datatable-fixed-header24" class="table table-striped table-bordered">
    <thead>
        <tr>
            
            <th>Flight Name</th>
            <th>View Details</th>
        </tr>
    </thead>
    <tbody>
        @if (Model.flightList.Any())
        {
            foreach (var flight in Model.flightList)
            {
                <tr>
                    
                    <td>@flight.Text</td>
                    <td>
                        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                            <span>

                                <a title="View Datalog" class="hi-icon fa fa-th-list btn-warning" href="@Url.Action("FlightDataLog","Home", new { pid = @flight.TId, flag = 1, aId = ViewBag.AID })"></a>
                            </span>
                            <span id="spnShowGraphModel" data-toggle="modal" data-target=".viewgraph-modal">
                                <a data-toggle="tooltip" data-placement="top" onclick="ShowGraph('@flight.TId')" title="View Graph" class="hi-icon icon-line-chart btn-success" href="javascript:void(0);"> </a>
                            </span>
                            <span data-toggle="modal" data-target=".viewmap-modal">
                                <a data-toggle="tooltip" data-placement="top" onclick="ShowMap('@flight.TId')" title="View Map" class="hi-icon fa fa-map btn-warning" href="javascript:void(0);"></a>
                            </span>
                            <span>
                                <a data-toggle="tooltip" data-placement="top" onclick="DownloadKml('@flight.TId')" title="View on Google Earth" class="hi-icon icon-google-earth btn-info" href="javascript:void(0);"></a>
                            </span>
                            <span>
                                <a data-toggle="tooltip" data-placement="top" onclick="DownloadFdr('@flight.TId')" title="View on X-plane" class="hi-icon icon-google-earth btn-info" href="javascript:void(0);"></a>
                            </span>
                        </div>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
