﻿

<style>
    .black {
        color: black;
    }

    .red {
        background-color: red;
    }

    .yellow {
        background-color: yellow;
    }
</style>
<script>

    function StartScrolling(event, delta) {

        this.scrollLeft -= (delta * 30);
        event.preventDefault();
    }

    $(document).ready(function (e) {

        $("#DataDiv").mousewheel(function (event, delta) {
            this.scrollLeft -= (delta * 30);
            event.preventDefault();
        });

        

    });

</script>


<div class="wraper_table" id="DataDiv">

    @*div for jpi data*@
    <div id="divJpi">
        @{
            string a = Html.ViewBag.LabelText;
            int profileId = Convert.ToInt32(ViewBag.ProfileId);
            string MethodName = ViewBag.ActionMethod;
            string IsCallFromPilot = ViewBag.VBIsCallFromPilotPage;

        }

        @Html.Label("Header", a ?? String.Empty, new { id = "lblHeader" })
        <br />
        <table class="table-striped table-bordered nowrap0" style="width: 100%; overflow: scroll" id="tblJpi">
            <thead></thead>
            <tbody></tbody>


        </table>
    </div>
</div>