﻿@model GA.DataTransfer.Classes_for_Web.GraphModel

@{
    ViewBag.Title = "FlightLogDemo";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

 
<script src="~/js/jquery.js"></script>


<script src="~/Scripts/HighStock.js"></script>
<script src="~/Scripts/HighStockExport.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyBKZ7qjEccZNVtJXkfZrkwg__3Yp0r_ZjM"
        type="text/javascript"></script>
<script src="~/js/bootbox.js"></script>

<style>
    .gmap_graph {
        height: 400px;
        margin-top: 10px;
        border: 1px solid #c8c8c8;
    }
</style>
<script>


    $(document).ready(function () {
        $('.current-page').removeAttr('class').addClass('navwidth');

        $('#liSideMenuSummary').addClass('current-page');


        $('#datatable-fixed-header').dataTable({
            "order": [],
            columnDefs: [{
                targets: "_all",
                orderable: false
            }]
        });

    });

    var showGraphList = [];
    var kmlFileList = [];

    function IsInArray(value, array) {

        return array.indexOf(value) > -1;
    }

    function DeleteArray() {
        showGraphList = [];
    }

    function GetIdForGraphSelection(data) {
        var array = data.split("graph");
        return array[1];
    }

    function DeleteArrayKmlDownload() {
        kmlFileList = [];
    }

    function GetIdForKmlDownloadSelection(data) {
        var array = data.split("kml");
        return array[1];
    }

    function ShowGoogleMaps(data) {

        $('#divFlightList input[type=checkbox]').each(function (index, element) {

            if (element.id.indexOf("maps") >= 0) {
                $("#" + element.id).prop('checked', false);
            }
        });

        $("#" + data).prop('checked', true);

        data = GetIdForGoogleMap(data);
        //alert(data);

    }

    function GetIdForGoogleMap(data) {
        var array = data.split("maps");
        return array[1];
    }

    function HideBtnSelectFlight() {
        $('#btnSelectFlight').hide();
    }

    function ShowBtnSelectFlight() {
        $('#btnSelectFlight').show();
    }

    function HideMapsDiv() {
        $('#map_canvas').hide();
    }

    function ShowMapsDiv() {
        $('#map_canvas').show();
    }

    function HideBtnShowGraph() {
        $('#btnShowGraph').hide();
    }

    function ShowBtnShowGraph() {
        $('#btnShowGraph').show();
    }

    function ShowBtnDwnloadKml() {
        $('#btnDwnloadKml').show();
    }

    function HideBtnDwnloadKml() {
        $('#btnDwnloadKml').hide();
    }

    function HideBtnShowMaps() {
        $('#btnShowMaps').hide();
    }

    function ShowBtnShowMaps() {
        $('#btnShowMaps').show();
    }

    function ShowGraphdiv() {

        $('#divGraphs').show();
    }

    function HideGraph() {

        $('#divGraphs').hide();
        //showGraphList = [];
    }

    function HideFlightListingDiv() {
        // hide flight listing div
        $('#divFlightList').hide();
    }

    function ShowFlightListingDiv() {
        // hide flight listing div
        $('#divFlightList').show();
    }


    var charts = [],
          options, series;

    function syncTooltip(container, p) {
        var i = 0;

        for (; i < charts.length; i++) {
            if (container.id != charts[i].container.id) {
                if (charts[i].tooltip.shared) {
                    var ser = [];
                    for (var n = 0; n < 18; n++) {
                        if (charts[i].series[n].visible) {
                            ser.push(charts[i].series[n].data[p]);
                        } else {
                        }
                    }

                    charts[i].tooltip.refresh(ser);
                    //charts[i].tooltip.refresh([charts[i].series[0].data[p], charts[i].series[1].data[p], charts[i].series[2].data[p], charts[i].series[3].data[p], charts[i].series[4].data[p], charts[i].series[5].data[p]]);
                }
                else {
                    charts[i].tooltip.refresh(
                                charts[i].series[0].data[p],
                                charts[i].series[1].data[p],
                                charts[i].series[2].data[p],
                                charts[i].series[3].data[p],
                                charts[i].series[4].data[p],
                                charts[i].series[5].data[p],
                                charts[i].series[6].data[p],
                                charts[i].series[7].data[p],
                                charts[i].series[8].data[p],
                                charts[i].series[9].data[p],
                                charts[i].series[10].data[p],
                                charts[i].series[11].data[p],
                                charts[i].series[12].data[p],
                                charts[i].series[13].data[p],
                                charts[i].series[14].data[p],
                                charts[i].series[15].data[p],
                                charts[i].series[16].data[p],
                                charts[i].series[17].data[p]);
                }
            }
        }
    }

    function toggleLegend(element) {
        if ($("#chk-" + $(element).attr("id")).prop('checked') == true) {
            $("#chk-" + $(element).attr("id")).prop('checked', false);
        }
        else {
            $("#chk-" + $(element).attr("id")).prop('checked', true);
        }
    }

    function getYValue(chartObj, seriesIndex, xValue) {
        var yValue = null;
        var points = chartObj.series[seriesIndex].points;
        for (var i = 0; i < points.length; i++) {
            if (points[i].x >= xValue) break;
            yValue = points[i].y;
        }
        return yValue;
    }


    function ShowGraph() {
      
        $('#myLoadingElement').show();
      
        $.post("/IMounts/Data/GetGraph", {
            flightId: 0,
        }, function (data) {

            if (data == 'Invalid Request') {
                $('#myLoadingElement').hide();
                window.location = '/IMounts/Home/Login?id=1';
            }
            else {
                ShowGraphdiv();
                options = {
                    plotOptions: {
                        series: {
                            point: {
                                events: {
                                    click: function (e) {
                                        var dateAtGraphPoint = (Highcharts.dateFormat('%Y,%m,%d,%H,%M,%S', this.x));
                                        //Here we store the graph point datetime as some of the points are overlap and the click event call for more than once.
                                        // So here if the hdn field vale is same as the current point then we will not fetch the data again.
                                        if (dateAtGraphPoint != $('#hdnPreviouslyRetriveDataAtPoint').val()) {
                                            $.post("/IMounts/Data/GetDataLogForGraph", {
                                                flightIdList: flightid,
                                                "datetime": dateAtGraphPoint
                                            }, function (data) {
                                                if (data == 'Invalid Request') {
                                                    window.location = '/Home/Login?id=1';
                                                }
                                                else{
                                                    $('#divPilotLogData').html(data);
                                                    $('#divPilotLogData').show();
                                                    window.location.hash = '#divPilotLogData';
                                                }
                                            });
                                        }
                                    }
                                }
                            }
                        }
                    },
                    xAxis: {
                        type: 'datetime',
                    },
                    legend: {
                        useHTML: true,
                    }
                };

                series = {
                    series:
                 [
                    {
                        name: 'CHT1',
                        data: data[0]
                    }, {
                        name: 'CHT2',
                        data: data[1]
                    }, {
                        name: 'CHT3',
                        data: data[2]
                    }, {
                        name: 'CHT4',
                        data: data[3]
                    }, {
                        name: 'CHT5',
                        data: data[4]
                    }, {
                        name: 'CHT6',
                        data: data[5]
                    }, {
                        name: 'EGT1',
                        data: data[6]
                    }, {
                        name: 'EGT2',
                        data: data[7]
                    }, {
                        name: 'EGT3',
                        data: data[8]
                    }, {
                        name: 'EGT4',
                        data: data[9]
                    }, {
                        name: 'EGT5',
                        data: data[10]
                    }, {
                        name: 'EGT6',
                        data: data[11]
                    }, {
                        name: 'TIT',
                        data: data[12]
                    }, {
                        name: 'RPM',
                        data: data[13]
                    }, {
                        name: 'FF',
                        data: data[14]
                    }, {
                        name: 'CLD',
                        data: data[15]
                    }, {
                        name: 'Speed',
                        data: data[16]
                    },
                    {
                        name: 'MAP',
                        data: data[17]
                    }
                 ]
                };

                charts[0] = new Highcharts.StockChart($.extend(true, {}, options, series, {
                    chart: {
                        //zoomType: 'x',
                        renderTo: 'container1'
                    },
                    tooltip: {
                        shared: true,
                        crosshairs: true
                    },
                }));

                charts[1] = new Highcharts.StockChart($.extend(true, {}, options, series, {
                    chart: {
                        //zoomType: 'x',
                        renderTo: 'container2'
                    },
                    tooltip: {
                        shared: true,
                        crosshairs: true
                    },
                }));

                //var chart1 = $('#container1').highcharts();

                for (var p = 0; p < 6; p++) {
                    charts[0].series[p].setVisible(true, false);
                }
                for (var q = 6; q < 18; q++) {
                    charts[0].series[q].setVisible(false, false);
                }

                //var chart2 = $('#container2').highcharts();

                for (var r = 0; r < 6; r++) {
                    charts[1].series[r].setVisible(false, false);
                }
                for (var s = 6; s < 13; s++) {
                    charts[1].series[s].setVisible(true, false);
                }
                for (var t = 13; t < 18; t++) {
                    charts[1].series[t].setVisible(false, false);
                }

                $('#myLoadingElement').hide();
            }
        }); 



    } // ShowGraph

    function ShowMap() {

        $("#myLoadingElement").show();
        $.post("/IMounts/Data/GetGoogleMapsForFlight", {
            flightIdList: 0,
        }, function (data) {
            if (data == 'Invalid Request') {
                bootbox.alert('Invalid Request', function () {
                });
            }
            else {
                ShowMapsDiv();
                LoadMap(data.filePath, data.latitude, data.longitude);
                ga('send', 'event', 'Button', 'Click', 'ShowGoogleMap');
            }
        });
    }

    var map;

    function LoadMap(fileName, latitude, longitude) {
        //Initializes the map and calls the function that creates polylines.
        map = new google.maps.Map(document.getElementById('map_canvas'),
        {
            center: new google.maps.LatLng(parseFloat(latitude), parseFloat(longitude)),
            zoom: 8,
            mapTypeId: google.maps.MapTypeId.TERRAIN,

        });

        loadKmlLayer(fileName, map);


    }

    function loadKmlLayer(src, map) {
        var kmlLayer = new google.maps.KmlLayer(src,
        {
            suppressInfoWindows: true,
            preserveViewport: false,
            map: map
        });

        google.maps.event.addListener(kmlLayer, 'click', function (event) {
            var content = event.
                featureData.infoWindowHtml;
            var testimonial = document.getElementById('capture');
            testimonial.innerHTML = content;
        });

        $("#myLoadingElement").hide();

    }

    function DownloadKml() {
        $('#myLoadingElement').show();
       
        $.ajax({
            url: '@Url.Action("DownloadKmlFileForFlight", "Data")',
            data: {
                "flightIdList": 0,
            },
            success: function (data) {
                if (data == 'Invalid Request')
                {
                    $('#myLoadingElement').hide();
                    bootbox.alert('Invalid Request', function () {
                    });
                }
                else if (data == 'Error') {
                    bootbox.alert('Oops!  Error occurs while processing the request.', function () {
                    });
                }
                else {
                    $('#myLoadingElement').hide();
                    window.open(data.url, '_blank');
                }
            }
        });
        //HideLoader();
    }

    function UnCheckedAllCheckbok() {
        kmlFileList = [];
        showGraphList = [];
        $('#divFlightList input[type=checkbox]').each(function (index, element) {

            if (element.id.indexOf("maps") >= 0) {
                $("#" + element.id).prop('checked', false);
            }
        });
    }

    function showHideGraphSeries(ddl, containerId) {
        var selectedText = $("#" + ddl + " option:selected").text().toUpperCase();
        //var chart = $('#' + containerId).highcharts();

        var chart = new Highcharts.StockChart($.extend(true, {}, options, series, {
            chart: {
                zoomType: 'x',
                renderTo: containerId
            },
            tooltip: {
                shared: true,
                crosshairs: true
            },
        }));



        switch (selectedText) {
            case 'CHT':
                for (var p = 0; p < 6; p++) {
                    chart.series[p].setVisible(true, false);
                }
                for (var q = 6; q < 18; q++) {
                    chart.series[q].setVisible(false, false);
                }
                chart.redraw();
                break;

            case 'EGT':
                for (var p = 0; p < 6; p++) {
                    chart.series[p].setVisible(false, false);
                }
                for (var q = 6; q < 13; q++) {
                    chart.series[q].setVisible(true, false);
                }
                for (var r = 13; r < 18; r++) {
                    chart.series[r].setVisible(false, false);
                }
                chart.redraw();
                break;

            case 'CLD':
                for (var p = 0; p < 15; p++) {
                    chart.series[p].setVisible(false, false);
                }
                chart.series[15].setVisible(true, false);
                chart.series[16].setVisible(false, false);
                chart.series[17].setVisible(false, false);
                chart.redraw();
                break;

            case 'FF':
                for (var p = 0; p < 14; p++) {
                    chart.series[p].setVisible(false, false);
                }
                chart.series[14].setVisible(true, false);
                for (var q = 15; q < 18; q++) {
                    chart.series[q].setVisible(false, false);
                }
                chart.redraw();
                break;

            case 'RPM':
                for (var p = 0; p < 13; p++) {
                    chart.series[p].setVisible(false, false);
                }
                chart.series[13].setVisible(true, false);
                for (var q = 14; q < 18; q++) {
                    chart.series[q].setVisible(false, false);
                }
                chart.redraw();
                break;

            case 'SPEED':
                for (var p = 0; p < 16; p++) {
                    chart.series[p].setVisible(false, false);
                }
                chart.series[16].setVisible(true, false);
                chart.series[17].setVisible(false, false);
                chart.redraw();
                break;

            case 'MAP':
                for (var p = 0; p < 17; p++) {
                    chart.series[p].setVisible(false, false);
                }
                chart.series[17].setVisible(true, false);
                chart.redraw();
                break;
        }
    }
    function ddlChange() {
        var aid = $("#AircraftId").val();

        $('#divPilotLogData').hide();
        $('#divPilotLogData').html('');
        var aircraftId = $(this).find('option:selected').val();
        // if default option is selected then dont perform any action
        if (aid != "0") {
            //ShowLoader();
            $('#myLoadingElement').show();
            $.post("/IMounts/Data/GetFlightListForGraph",
            {
                aircraftId: aid,
                pageNo: 1,
            }, function (data) {
                $('#divGraphPartial').html(data);
                $('#myLoadingElement').hide();
                //$('#datatable-fixed-header').dataTable();
                $('#datatable-fixed-header').dataTable({
                    "order": [],
                    columnDefs: [{
                        targets: "_all",
                        orderable: false
                    }]
                });
            });
        } else {
            HideFlightListingDiv();
            HideBtnShowMaps();
            HideBtnShowGraph();
        }
    }



</script>


<input type="hidden" id="hdnSelectedFlightIdForGraph" name="hdnSelectedFlightIdForGraph" value="" />
<input type="hidden" id="hdnPreviouslyRetriveDataAtPoint" name="hdnPreviouslyRetriveDataAtPoint" value="" />

<div class="col-md-12 col-sm-12 margintop20">
    <div class="x_panel clearfix">

       
        <div class="clearfix"></div>
        <div class="ln_solid"></div>
        <div class="x_content">
            <div id="divGraphPartial">
                <table id="datatable-fixed-header" class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Flight Name</th>
                            <th>View Details</th>
                        </tr>
                    </thead>
                    <tbody>
                                <tr>
                                    <td>Demo Flight</td>
                                    <td>
                                        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                                            <span>

                                                <a title="View Datalog" class="hi-icon fa fa-th-list btn-warning" href="@Url.Action("FlightDataLogDemo","Home")"></a>
                                            </span>
                                            <span id="spnShowGraphModel" data-toggle="modal" data-target=".viewgraph-modal">
                                                <a data-toggle="tooltip" data-placement="top" onclick="ShowGraph()" title="View Graph" class="hi-icon icon-line-chart btn-success" href="javascript:void(0);"> </a>
                                            </span>
                                            <span data-toggle="modal" data-target=".viewmap-modal">
                                                <a data-toggle="tooltip" data-placement="top" onclick="ShowMap()" title="View Map" class="hi-icon fa fa-map btn-warning" href="javascript:void(0);"></a>
                                            </span>
                                            <span>
                                                <a data-toggle="tooltip" data-placement="top" onclick="DownloadKml()" title="View on Google Earth" class="hi-icon icon-google-earth btn-info" href="javascript:void(0);"></a>
                                            </span>
                                        </div>
                                    </td>
                                </tr>
                           
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!----------modal popup for view graph starts---------->
<div id="divModelGraph" class="modal fade viewgraph-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Graph</h3>
            </div>
            <div class="modal-body clearfix">
                <div id="divGraphs" style="width: auto; height: auto; margin: 100px; margin-top: 0px; display: none;">
                    <div style="width: auto; height: auto; border: dashed;">
                        <br />
                        <select id="ddlGraph1" style="margin-left: 15px;" onchange="showHideGraphSeries(this.id,'container1')">
                            <option selected="selected" value="0">CHT</option>
                            <option value="1">EGT</option>
                            <option value="2">CLD</option>
                            <option value="3">FF</option>
                            <option value="4">RPM</option>
                            <option value="5">Speed</option>
                            <option value="6">MAP</option>
                        </select>
                        <div id="container1" style="height: 300px; width:auto"></div>
                    </div>
                    <br />
                    <br />
                    <div style="width: auto; height: auto; border: dashed;">
                        <br />
                        <select id="ddlGraph2" style="margin-left: 15px;" onchange="showHideGraphSeries(this.id,'container2')">
                            <option value="0">CHT</option>
                            <option selected="selected" value="1">EGT</option>
                            <option value="2">CLD</option>
                            <option value="3">FF</option>
                            <option value="4">RPM</option>
                            <option value="5">Speed</option>
                            <option value="6">MAP</option>
                        </select>
                        <br />
                        <div id="container2" style="height: 300px; width:auto"></div>
                    </div>
                </div>

                <div style="width:100%;clear:both;margin-top:20px;display:none" id="divPilotLogData">
                    @*@{Html.RenderPartial("_JPIDataPartialGraph", @Model.dataLogList);}*@
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade googleearthpath-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">View on Google Earth</h3>
            </div>
            <div class="modal-body clearfix">

            </div>
        </div>
    </div>
</div>


<div id="modalDivMap" class="modal fade viewmap-modal" style="width:100%;height:100%" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">View Map</h3>
            </div>
            <div class="modal-body clearfix">

                <div style="height: 400px; width: 100%;">
                    <div id="map_canvas" class="gmap_graph" style="display: none;">
                    </div>
                </div>
                <div style="width:100%;clear:both;margin-top:20px;display:none" id="divPilotLogDataMap">
                    @*@{Html.RenderPartial("_JPIDataPartialGraph", @Model.dataLogList);}*@
                </div>
            </div>
        </div>
    </div>
</div>


