﻿@model GA.DataTransfer.Classes_for_Web.GraphModel



@{
    ViewBag.Title = "IndexTemp";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h2>IndexTemp</h2>


<script src="~/Scripts/Graphs_and_charts/highcharts.js"></script>
<script src="~/Scripts/Graphs_and_charts/exporting.js"></script>
<script src="https://maps.googleapis.com/maps/api/js"></script>
@*<script src="https://maps.googleapis.com/maps/api/js?v=3"></script>*@



<style>
    .gmap_graph {
        height: 400px;
        margin-top: 10px;
        border: 1px solid #c8c8c8;
    }
</style>
<script>

    var showGraphList = [];
    var kmlFileList = [];

    function IsInArray(value, array) {

        return array.indexOf(value) > -1;
    }

    function DeleteArray() {
        showGraphList = [];
    }

    function GetIdForGraphSelection(data) {
        var array = data.split("graph");
        return array[1];
    }

    function DeleteArrayKmlDownload() {
        kmlFileList = [];
    }

    function GetIdForKmlDownloadSelection(data) {
        var array = data.split("kml");
        return array[1];
    }

    function ShowGoogleMaps(data) {

        $('#divFlightList input[type=checkbox]').each(function (index, element) {

            if (element.id.indexOf("maps") >= 0) {
                $("#" + element.id).prop('checked', false);
            }
        });

        $("#" + data).prop('checked', true);

        data = GetIdForGoogleMap(data);
        //alert(data);

    }

    function GetIdForGoogleMap(data) {
        var array = data.split("maps");
        return array[1];
    }

    function HideBtnSelectFlight() {
        $('#btnSelectFlight').hide();
    }

    function ShowBtnSelectFlight() {
        $('#btnSelectFlight').show();
    }

    function HideMapsDiv() {
        $('#map_canvas').hide();
    }

    function ShowMapsDiv() {
        $('#map_canvas').show();
    }

    function HideBtnShowGraph() {
        $('#btnShowGraph').hide();
    }

    function ShowBtnShowGraph() {
        $('#btnShowGraph').show();
    }

    function ShowBtnDwnloadKml() {
        $('#btnDwnloadKml').show();
    }

    function HideBtnDwnloadKml() {
        $('#btnDwnloadKml').hide();
    }

    function HideBtnShowMaps() {
        $('#btnShowMaps').hide();
    }

    function ShowBtnShowMaps() {
        $('#btnShowMaps').show();
    }

    function ShowGraphdiv() {

        $('#divGraphs').show();
    }

    function HideGraph() {

        $('#divGraphs').hide();
        //showGraphList = [];
    }

    function HideFlightListingDiv() {
        // hide flight listing div
        $('#divFlightList').hide();
    }

    function ShowFlightListingDiv() {
        // hide flight listing div
        $('#divFlightList').show();
    }


    var charts = [],
          options, series;

    function syncTooltip(container, p) {
        var i = 0;

        for (; i < charts.length; i++) {
            if (container.id != charts[i].container.id) {
                if (charts[i].tooltip.shared) {
                    var ser = [];
                    for (var n = 0; n < 18; n++) {
                        if (charts[i].series[n].visible) {
                            ser.push(charts[i].series[n].data[p]);
                        } else {
                        }
                    }

                    charts[i].tooltip.refresh(ser);
                    //charts[i].tooltip.refresh([charts[i].series[0].data[p], charts[i].series[1].data[p], charts[i].series[2].data[p], charts[i].series[3].data[p], charts[i].series[4].data[p], charts[i].series[5].data[p]]);
                }
                else {
                    charts[i].tooltip.refresh(
                                charts[i].series[0].data[p],
                                charts[i].series[1].data[p],
                                charts[i].series[2].data[p],
                                charts[i].series[3].data[p],
                                charts[i].series[4].data[p],
                                charts[i].series[5].data[p],
                                charts[i].series[6].data[p],
                                charts[i].series[7].data[p],
                                charts[i].series[8].data[p],
                                charts[i].series[9].data[p],
                                charts[i].series[10].data[p],
                                charts[i].series[11].data[p],
                                charts[i].series[12].data[p],
                                charts[i].series[13].data[p],
                                charts[i].series[14].data[p],
                                charts[i].series[15].data[p],
                                charts[i].series[16].data[p],
                                charts[i].series[17].data[p]);
                }
            }
        }
    }

    function toggleLegend(element) {
        if ($("#chk-" + $(element).attr("id")).prop('checked') == true) {
            $("#chk-" + $(element).attr("id")).prop('checked', false);
        }
        else {
            $("#chk-" + $(element).attr("id")).prop('checked', true);
        }
    }

    function getYValue(chartObj, seriesIndex, xValue) {
        var yValue = null;
        var points = chartObj.series[seriesIndex].points;
        for (var i = 0; i < points.length; i++) {
            if (points[i].x >= xValue) break;
            yValue = points[i].y;
        }
        return yValue;
    }


    function ShowGraph(flightid) {
        $('#hdnSelectedFlightIdForGraph').val(flightid);

        $.post("/IMounts/Data/GetGraph", {
            flightId: flightid,
        }, function (data) {
            ShowGraphdiv();
            //var datatemp = $.parseJSON('[{"name": "CHT1","data":[[1423558783000,405],[1423558784000,405],[1423558785000,405],[1423558786000,405],[1423558788000,405],[1423558789000,405],[1423558790000,405],[1423558791000,405],[1423558793000,405],[1423558794000,405],[1423558795000,405],[1423558796000,405],[1423558798000,405],[1423558799000,405],[1423558801000,405],[1423558801000,405],[1423558803000,405],[1423558804000,405],[1423558805000,405],[1423558806000,405],[1423558808000,405],[1423558809000,405],[1423558810000,405],[1423558811000,405],[1423558813000,405],[1423558814000,405],[1423558815000,405],[1423558816000,405],[1423558818000,405],[1423558819000,405],[1423558820000,405],[1423558821000,405],[1423558823000,405],[1423558824000,405],[1423558825000,405],[1423558826000,405],[1423558828000,405],[1423558829000,405],[1423558830000,405],[1423558831000,405],[1423558833000,405],[1423558834000,405],[1423558835000,405],[1423558836000,405],[1423558840000,405],[1423558841000,405],[1423558853000,405],[1423558871000,405],[1423558907000,405],[1423558908000,405],[1423558909000,405],[1423558910000,405],[1423558911000,405],[1423558913000,405],[1423558914000,405],[1423558915000,405],[1423558916000,405],[1423558918000,405],[1423558919000,405],[1423558921000,405],[1423558921000,405],[1423558923000,405],[1423558924000,405],[1423558925000,405],[1423558926000,405],[1423558928000,405],[1423558929000,405],[1423558930000,405],[1423558931000,405],[1423558933000,405],[1423558934000,405],[1423558935000,405],[1423558936000,405],[1423558938000,405],[1423558939000,405]]},{"name": "CHT2","data":[[1423558783000,402],[1423558784000,402],[1423558785000,402],[1423558786000,402],[1423558788000,402],[1423558789000,402],[1423558790000,402],[1423558791000,402],[1423558793000,402],[1423558794000,402],[1423558795000,402],[1423558796000,402],[1423558798000,402],[1423558799000,402],[1423558801000,402],[1423558801000,402],[1423558803000,402],[1423558804000,402],[1423558805000,402],[1423558806000,402],[1423558808000,402],[1423558809000,402],[1423558810000,402],[1423558811000,402],[1423558813000,402],[1423558814000,402],[1423558815000,402],[1423558816000,402],[1423558818000,402],[1423558819000,402],[1423558820000,402],[1423558821000,402],[1423558823000,402],[1423558824000,402],[1423558825000,402],[1423558826000,402],[1423558828000,402],[1423558829000,402],[1423558830000,402],[1423558831000,402],[1423558833000,402],[1423558834000,402],[1423558835000,402],[1423558836000,402],[1423558840000,402],[1423558841000,402],[1423558853000,402],[1423558871000,402],[1423558907000,402],[1423558908000,402],[1423558909000,402],[1423558910000,402],[1423558911000,402],[1423558913000,402],[1423558914000,402],[1423558915000,402],[1423558916000,402],[1423558918000,402],[1423558919000,402],[1423558921000,402],[1423558921000,402],[1423558923000,402],[1423558924000,402],[1423558925000,402],[1423558926000,402],[1423558928000,402],[1423558929000,402],[1423558930000,402],[1423558931000,402],[1423558933000,402],[1423558934000,402],[1423558935000,402],[1423558936000,402],[1423558938000,402],[1423558939000,402]]},{"name": "CHT3","data":[[1423558783000,301],[1423558784000,301],[1423558785000,301],[1423558786000,301],[1423558788000,301],[1423558789000,301],[1423558790000,301],[1423558791000,301],[1423558793000,301],[1423558794000,301],[1423558795000,301],[1423558796000,301],[1423558798000,301],[1423558799000,301],[1423558801000,301],[1423558801000,301],[1423558803000,301],[1423558804000,301],[1423558805000,301],[1423558806000,301],[1423558808000,301],[1423558809000,301],[1423558810000,301],[1423558811000,301],[1423558813000,301],[1423558814000,301],[1423558815000,301],[1423558816000,301],[1423558818000,301],[1423558819000,301],[1423558820000,301],[1423558821000,301],[1423558823000,301],[1423558824000,301],[1423558825000,301],[1423558826000,301],[1423558828000,301],[1423558829000,301],[1423558830000,301],[1423558831000,301],[1423558833000,301],[1423558834000,301],[1423558835000,301],[1423558836000,301],[1423558840000,301],[1423558841000,301],[1423558853000,301],[1423558871000,301],[1423558907000,301],[1423558908000,301],[1423558909000,301],[1423558910000,301],[1423558911000,301],[1423558913000,301],[1423558914000,301],[1423558915000,301],[1423558916000,301],[1423558918000,301],[1423558919000,301],[1423558921000,301],[1423558921000,301],[1423558923000,301],[1423558924000,301],[1423558925000,301],[1423558926000,301],[1423558928000,301],[1423558929000,301],[1423558930000,301],[1423558931000,301],[1423558933000,301],[1423558934000,301],[1423558935000,301],[1423558936000,301],[1423558938000,301],[1423558939000,301]]},{"name": "CHT4","data":[[1423558783000,403],[1423558784000,403],[1423558785000,403],[1423558786000,403],[1423558788000,403],[1423558789000,403],[1423558790000,403],[1423558791000,403],[1423558793000,403],[1423558794000,403],[1423558795000,403],[1423558796000,403],[1423558798000,403],[1423558799000,403],[1423558801000,403],[1423558801000,403],[1423558803000,403],[1423558804000,403],[1423558805000,403],[1423558806000,403],[1423558808000,403],[1423558809000,403],[1423558810000,403],[1423558811000,403],[1423558813000,403],[1423558814000,403],[1423558815000,403],[1423558816000,403],[1423558818000,403],[1423558819000,403],[1423558820000,403],[1423558821000,403],[1423558823000,403],[1423558824000,403],[1423558825000,403],[1423558826000,403],[1423558828000,403],[1423558829000,403],[1423558830000,403],[1423558831000,403],[1423558833000,403],[1423558834000,403],[1423558835000,403],[1423558836000,403],[1423558840000,403],[1423558841000,403],[1423558853000,403],[1423558871000,403],[1423558907000,403],[1423558908000,403],[1423558909000,403],[1423558910000,403],[1423558911000,403],[1423558913000,403],[1423558914000,403],[1423558915000,403],[1423558916000,403],[1423558918000,403],[1423558919000,403],[1423558921000,403],[1423558921000,403],[1423558923000,403],[1423558924000,403],[1423558925000,403],[1423558926000,403],[1423558928000,403],[1423558929000,403],[1423558930000,403],[1423558931000,403],[1423558933000,403],[1423558934000,403],[1423558935000,403],[1423558936000,403],[1423558938000,403],[1423558939000,403]]},{"name": "CHT5","data":[[1423558783000,305],[1423558784000,305],[1423558785000,305],[1423558786000,305],[1423558788000,305],[1423558789000,305],[1423558790000,305],[1423558791000,305],[1423558793000,305],[1423558794000,305],[1423558795000,305],[1423558796000,305],[1423558798000,305],[1423558799000,305],[1423558801000,305],[1423558801000,305],[1423558803000,305],[1423558804000,305],[1423558805000,305],[1423558806000,305],[1423558808000,305],[1423558809000,305],[1423558810000,305],[1423558811000,305],[1423558813000,305],[1423558814000,305],[1423558815000,305],[1423558816000,305],[1423558818000,305],[1423558819000,305],[1423558820000,305],[1423558821000,305],[1423558823000,305],[1423558824000,305],[1423558825000,305],[1423558826000,305],[1423558828000,305],[1423558829000,305],[1423558830000,305],[1423558831000,305],[1423558833000,305],[1423558834000,305],[1423558835000,305],[1423558836000,305],[1423558840000,305],[1423558841000,305],[1423558853000,305],[1423558871000,305],[1423558907000,305],[1423558908000,305],[1423558909000,305],[1423558910000,305],[1423558911000,305],[1423558913000,305],[1423558914000,305],[1423558915000,305],[1423558916000,305],[1423558918000,305],[1423558919000,305],[1423558921000,305],[1423558921000,305],[1423558923000,305],[1423558924000,305],[1423558925000,305],[1423558926000,305],[1423558928000,305],[1423558929000,305],[1423558930000,305],[1423558931000,305],[1423558933000,305],[1423558934000,305],[1423558935000,305],[1423558936000,305],[1423558938000,305],[1423558939000,305]]},{"name": "CHT6","data":[[1423558783000,302],[1423558784000,302],[1423558785000,302],[1423558786000,302],[1423558788000,302],[1423558789000,302],[1423558790000,302],[1423558791000,302],[1423558793000,302],[1423558794000,302],[1423558795000,302],[1423558796000,302],[1423558798000,302],[1423558799000,302],[1423558801000,302],[1423558801000,302],[1423558803000,302],[1423558804000,302],[1423558805000,302],[1423558806000,302],[1423558808000,302],[1423558809000,302],[1423558810000,302],[1423558811000,302],[1423558813000,302],[1423558814000,302],[1423558815000,302],[1423558816000,302],[1423558818000,302],[1423558819000,302],[1423558820000,302],[1423558821000,302],[1423558823000,302],[1423558824000,302],[1423558825000,302],[1423558826000,302],[1423558828000,302],[1423558829000,302],[1423558830000,302],[1423558831000,302],[1423558833000,302],[1423558834000,302],[1423558835000,302],[1423558836000,302],[1423558840000,302],[1423558841000,302],[1423558853000,302],[1423558871000,302],[1423558907000,302],[1423558908000,302],[1423558909000,302],[1423558910000,302],[1423558911000,302],[1423558913000,302],[1423558914000,302],[1423558915000,302],[1423558916000,302],[1423558918000,302],[1423558919000,302],[1423558921000,302],[1423558921000,302],[1423558923000,302],[1423558924000,302],[1423558925000,302],[1423558926000,302],[1423558928000,302],[1423558929000,302],[1423558930000,302],[1423558931000,302],[1423558933000,302],[1423558934000,302],[1423558935000,302],[1423558936000,302],[1423558938000,302],[1423558939000,302]]},{"name": "EGT1","data":[[1423558783000,1411],[1423558784000,1411],[1423558785000,1411],[1423558786000,1411],[1423558788000,1411],[1423558789000,1411],[1423558790000,1411],[1423558791000,1411],[1423558793000,1411],[1423558794000,1411],[1423558795000,1411],[1423558796000,1411],[1423558798000,1411],[1423558799000,1411],[1423558801000,1411],[1423558801000,1411],[1423558803000,1411],[1423558804000,1411],[1423558805000,1411],[1423558806000,1411],[1423558808000,1411],[1423558809000,1411],[1423558810000,1411],[1423558811000,1411],[1423558813000,1411],[1423558814000,1411],[1423558815000,1411],[1423558816000,1411],[1423558818000,1411],[1423558819000,1411],[1423558820000,1411],[1423558821000,1411],[1423558823000,1411],[1423558824000,1411],[1423558825000,1411],[1423558826000,1411],[1423558828000,1411],[1423558829000,1411],[1423558830000,1411],[1423558831000,1411],[1423558833000,1411],[1423558834000,1411],[1423558835000,1411],[1423558836000,1411],[1423558840000,1411],[1423558841000,1411],[1423558853000,1411],[1423558871000,1411],[1423558907000,1411],[1423558908000,1411],[1423558909000,1411],[1423558910000,1411],[1423558911000,1411],[1423558913000,1411],[1423558914000,1411],[1423558915000,1411],[1423558916000,1411],[1423558918000,1411],[1423558919000,1411],[1423558921000,1411],[1423558921000,1411],[1423558923000,1411],[1423558924000,1411],[1423558925000,1411],[1423558926000,1411],[1423558928000,1411],[1423558929000,1411],[1423558930000,1411],[1423558931000,1411],[1423558933000,1411],[1423558934000,1411],[1423558935000,1411],[1423558936000,1411],[1423558938000,1411],[1423558939000,1411]]},{"name": "EGT2","data":[[1423558783000,1411],[1423558784000,1411],[1423558785000,1411],[1423558786000,1411],[1423558788000,1411],[1423558789000,1411],[1423558790000,1411],[1423558791000,1411],[1423558793000,1411],[1423558794000,1411],[1423558795000,1411],[1423558796000,1411],[1423558798000,1411],[1423558799000,1411],[1423558801000,1411],[1423558801000,1411],[1423558803000,1411],[1423558804000,1411],[1423558805000,1411],[1423558806000,1411],[1423558808000,1411],[1423558809000,1411],[1423558810000,1411],[1423558811000,1411],[1423558813000,1411],[1423558814000,1411],[1423558815000,1411],[1423558816000,1411],[1423558818000,1411],[1423558819000,1411],[1423558820000,1411],[1423558821000,1411],[1423558823000,1411],[1423558824000,1411],[1423558825000,1411],[1423558826000,1411],[1423558828000,1411],[1423558829000,1411],[1423558830000,1411],[1423558831000,1411],[1423558833000,1411],[1423558834000,1411],[1423558835000,1411],[1423558836000,1411],[1423558840000,1411],[1423558841000,1411],[1423558853000,1411],[1423558871000,1411],[1423558907000,1411],[1423558908000,1411],[1423558909000,1411],[1423558910000,1411],[1423558911000,1411],[1423558913000,1411],[1423558914000,1411],[1423558915000,1411],[1423558916000,1411],[1423558918000,1411],[1423558919000,1411],[1423558921000,1411],[1423558921000,1411],[1423558923000,1411],[1423558924000,1411],[1423558925000,1411],[1423558926000,1411],[1423558928000,1411],[1423558929000,1411],[1423558930000,1411],[1423558931000,1411],[1423558933000,1411],[1423558934000,1411],[1423558935000,1411],[1423558936000,1411],[1423558938000,1411],[1423558939000,1411]]},{"name": "EGT3","data":[[1423558783000,1391],[1423558784000,1391],[1423558785000,1391],[1423558786000,1391],[1423558788000,1391],[1423558789000,1391],[1423558790000,1391],[1423558791000,1391],[1423558793000,1391],[1423558794000,1391],[1423558795000,1391],[1423558796000,1391],[1423558798000,1391],[1423558799000,1391],[1423558801000,1391],[1423558801000,1391],[1423558803000,1391],[1423558804000,1391],[1423558805000,1391],[1423558806000,1391],[1423558808000,1391],[1423558809000,1391],[1423558810000,1391],[1423558811000,1391],[1423558813000,1391],[1423558814000,1391],[1423558815000,1391],[1423558816000,1391],[1423558818000,1391],[1423558819000,1391],[1423558820000,1391],[1423558821000,1391],[1423558823000,1391],[1423558824000,1391],[1423558825000,1391],[1423558826000,1391],[1423558828000,1391],[1423558829000,1391],[1423558830000,1391],[1423558831000,1391],[1423558833000,1391],[1423558834000,1391],[1423558835000,1391],[1423558836000,1391],[1423558840000,1391],[1423558841000,1391],[1423558853000,1391],[1423558871000,1391],[1423558907000,1391],[1423558908000,1391],[1423558909000,1391],[1423558910000,1391],[1423558911000,1391],[1423558913000,1391],[1423558914000,1391],[1423558915000,1391],[1423558916000,1391],[1423558918000,1391],[1423558919000,1391],[1423558921000,1391],[1423558921000,1391],[1423558923000,1391],[1423558924000,1391],[1423558925000,1391],[1423558926000,1391],[1423558928000,1391],[1423558929000,1391],[1423558930000,1391],[1423558931000,1391],[1423558933000,1391],[1423558934000,1391],[1423558935000,1391],[1423558936000,1391],[1423558938000,1391],[1423558939000,1391]]},{"name": "EGT4","data":[[1423558783000,1365],[1423558784000,1365],[1423558785000,1365],[1423558786000,1365],[1423558788000,1365],[1423558789000,1365],[1423558790000,1365],[1423558791000,1365],[1423558793000,1365],[1423558794000,1365],[1423558795000,1365],[1423558796000,1365],[1423558798000,1365],[1423558799000,1365],[1423558801000,1365],[1423558801000,1365],[1423558803000,1365],[1423558804000,1365],[1423558805000,1365],[1423558806000,1365],[1423558808000,1365],[1423558809000,1365],[1423558810000,1365],[1423558811000,1365],[1423558813000,1365],[1423558814000,1365],[1423558815000,1365],[1423558816000,1365],[1423558818000,1365],[1423558819000,1365],[1423558820000,1365],[1423558821000,1365],[1423558823000,1365],[1423558824000,1365],[1423558825000,1365],[1423558826000,1365],[1423558828000,1365],[1423558829000,1365],[1423558830000,1365],[1423558831000,1365],[1423558833000,1365],[1423558834000,1365],[1423558835000,1365],[1423558836000,1365],[1423558840000,1365],[1423558841000,1365],[1423558853000,1365],[1423558871000,1365],[1423558907000,1365],[1423558908000,1365],[1423558909000,1365],[1423558910000,1365],[1423558911000,1365],[1423558913000,1365],[1423558914000,1365],[1423558915000,1365],[1423558916000,1365],[1423558918000,1365],[1423558919000,1365],[1423558921000,1365],[1423558921000,1365],[1423558923000,1365],[1423558924000,1365],[1423558925000,1365],[1423558926000,1365],[1423558928000,1365],[1423558929000,1365],[1423558930000,1365],[1423558931000,1365],[1423558933000,1365],[1423558934000,1365],[1423558935000,1365],[1423558936000,1365],[1423558938000,1365],[1423558939000,1365]]},{"name": "EGT5","data":[[1423558783000,1398],[1423558784000,1398],[1423558785000,1398],[1423558786000,1398],[1423558788000,1398],[1423558789000,1398],[1423558790000,1398],[1423558791000,1398],[1423558793000,1398],[1423558794000,1398],[1423558795000,1398],[1423558796000,1398],[1423558798000,1398],[1423558799000,1398],[1423558801000,1398],[1423558801000,1398],[1423558803000,1398],[1423558804000,1398],[1423558805000,1398],[1423558806000,1398],[1423558808000,1398],[1423558809000,1398],[1423558810000,1398],[1423558811000,1398],[1423558813000,1398],[1423558814000,1398],[1423558815000,1398],[1423558816000,1398],[1423558818000,1398],[1423558819000,1398],[1423558820000,1398],[1423558821000,1398],[1423558823000,1398],[1423558824000,1398],[1423558825000,1398],[1423558826000,1398],[1423558828000,1398],[1423558829000,1398],[1423558830000,1398],[1423558831000,1398],[1423558833000,1398],[1423558834000,1398],[1423558835000,1398],[1423558836000,1398],[1423558840000,1398],[1423558841000,1398],[1423558853000,1398],[1423558871000,1398],[1423558907000,1398],[1423558908000,1398],[1423558909000,1398],[1423558910000,1398],[1423558911000,1398],[1423558913000,1398],[1423558914000,1398],[1423558915000,1398],[1423558916000,1398],[1423558918000,1398],[1423558919000,1398],[1423558921000,1398],[1423558921000,1398],[1423558923000,1398],[1423558924000,1398],[1423558925000,1398],[1423558926000,1398],[1423558928000,1398],[1423558929000,1398],[1423558930000,1398],[1423558931000,1398],[1423558933000,1398],[1423558934000,1398],[1423558935000,1398],[1423558936000,1398],[1423558938000,1398],[1423558939000,1398]]},{"name": "EGT6","data":[[1423558783000,1394],[1423558784000,1394],[1423558785000,1394],[1423558786000,1394],[1423558788000,1394],[1423558789000,1394],[1423558790000,1394],[1423558791000,1394],[1423558793000,1394],[1423558794000,1394],[1423558795000,1394],[1423558796000,1394],[1423558798000,1394],[1423558799000,1394],[1423558801000,1394],[1423558801000,1394],[1423558803000,1394],[1423558804000,1394],[1423558805000,1394],[1423558806000,1394],[1423558808000,1394],[1423558809000,1394],[1423558810000,1394],[1423558811000,1394],[1423558813000,1394],[1423558814000,1394],[1423558815000,1394],[1423558816000,1394],[1423558818000,1394],[1423558819000,1394],[1423558820000,1394],[1423558821000,1394],[1423558823000,1394],[1423558824000,1394],[1423558825000,1394],[1423558826000,1394],[1423558828000,1394],[1423558829000,1394],[1423558830000,1394],[1423558831000,1394],[1423558833000,1394],[1423558834000,1394],[1423558835000,1394],[1423558836000,1394],[1423558840000,1394],[1423558841000,1394],[1423558853000,1394],[1423558871000,1394],[1423558907000,1394],[1423558908000,1394],[1423558909000,1394],[1423558910000,1394],[1423558911000,1394],[1423558913000,1394],[1423558914000,1394],[1423558915000,1394],[1423558916000,1394],[1423558918000,1394],[1423558919000,1394],[1423558921000,1394],[1423558921000,1394],[1423558923000,1394],[1423558924000,1394],[1423558925000,1394],[1423558926000,1394],[1423558928000,1394],[1423558929000,1394],[1423558930000,1394],[1423558931000,1394],[1423558933000,1394],[1423558934000,1394],[1423558935000,1394],[1423558936000,1394],[1423558938000,1394],[1423558939000,1394]]},{"name": "TIT1","data":[[1423558783000,1490],[1423558784000,1490],[1423558785000,1490],[1423558786000,1490],[1423558788000,1490],[1423558789000,1490],[1423558790000,1490],[1423558791000,1490],[1423558793000,1490],[1423558794000,1490],[1423558795000,1490],[1423558796000,1490],[1423558798000,1490],[1423558799000,1490],[1423558801000,1490],[1423558801000,1490],[1423558803000,1490],[1423558804000,1490],[1423558805000,1490],[1423558806000,1490],[1423558808000,1490],[1423558809000,1490],[1423558810000,1490],[1423558811000,1490],[1423558813000,1490],[1423558814000,1490],[1423558815000,1490],[1423558816000,1490],[1423558818000,1490],[1423558819000,1490],[1423558820000,1490],[1423558821000,1490],[1423558823000,1490],[1423558824000,1490],[1423558825000,1490],[1423558826000,1490],[1423558828000,1490],[1423558829000,1490],[1423558830000,1490],[1423558831000,1490],[1423558833000,1490],[1423558834000,1490],[1423558835000,1490],[1423558836000,1490],[1423558840000,1490],[1423558841000,1490],[1423558853000,1490],[1423558871000,1490],[1423558907000,1490],[1423558908000,1490],[1423558909000,1490],[1423558910000,1490],[1423558911000,1490],[1423558913000,1490],[1423558914000,1490],[1423558915000,1490],[1423558916000,1490],[1423558918000,1490],[1423558919000,1490],[1423558921000,1490],[1423558921000,1490],[1423558923000,1490],[1423558924000,1490],[1423558925000,1490],[1423558926000,1490],[1423558928000,1490],[1423558929000,1490],[1423558930000,1490],[1423558931000,1490],[1423558933000,1490],[1423558934000,1490],[1423558935000,1490],[1423558936000,1490],[1423558938000,1490],[1423558939000,1490]]},{"name": "RPM","data":[[1423558783000,2437],[1423558784000,2437],[1423558785000,2437],[1423558786000,2437],[1423558788000,2437],[1423558789000,2437],[1423558790000,2437],[1423558791000,2437],[1423558793000,2437],[1423558794000,2437],[1423558795000,2437],[1423558796000,2437],[1423558798000,2437],[1423558799000,2437],[1423558801000,2437],[1423558801000,2437],[1423558803000,2437],[1423558804000,2437],[1423558805000,2437],[1423558806000,2437],[1423558808000,2437],[1423558809000,2437],[1423558810000,2437],[1423558811000,2437],[1423558813000,2437],[1423558814000,2437],[1423558815000,2437],[1423558816000,2437],[1423558818000,2437],[1423558819000,2437],[1423558820000,2437],[1423558821000,2437],[1423558823000,2437],[1423558824000,2437],[1423558825000,2437],[1423558826000,2437],[1423558828000,2437],[1423558829000,2437],[1423558830000,2437],[1423558831000,2437],[1423558833000,2437],[1423558834000,2437],[1423558835000,2437],[1423558836000,2437],[1423558840000,2437],[1423558841000,2437],[1423558853000,2437],[1423558871000,2437],[1423558907000,2437],[1423558908000,2437],[1423558909000,2437],[1423558910000,2437],[1423558911000,2437],[1423558913000,2437],[1423558914000,2437],[1423558915000,2437],[1423558916000,2437],[1423558918000,2437],[1423558919000,2437],[1423558921000,2437],[1423558921000,2437],[1423558923000,2437],[1423558924000,2437],[1423558925000,2437],[1423558926000,2437],[1423558928000,2437],[1423558929000,2437],[1423558930000,2437],[1423558931000,2437],[1423558933000,2437],[1423558934000,2437],[1423558935000,2437],[1423558936000,2437],[1423558938000,2437],[1423558939000,2437]]},{"name": "FF","data":[[1423558783000,14],[1423558784000,14],[1423558785000,14],[1423558786000,14],[1423558788000,14],[1423558789000,14],[1423558790000,14],[1423558791000,14],[1423558793000,14],[1423558794000,14],[1423558795000,14],[1423558796000,14],[1423558798000,14],[1423558799000,14],[1423558801000,14],[1423558801000,14],[1423558803000,14],[1423558804000,14],[1423558805000,14],[1423558806000,14],[1423558808000,14],[1423558809000,14],[1423558810000,14],[1423558811000,14],[1423558813000,14],[1423558814000,14],[1423558815000,14],[1423558816000,14],[1423558818000,14],[1423558819000,14],[1423558820000,14],[1423558821000,14],[1423558823000,14],[1423558824000,14],[1423558825000,14],[1423558826000,14],[1423558828000,14],[1423558829000,14],[1423558830000,14],[1423558831000,14],[1423558833000,14],[1423558834000,14],[1423558835000,14],[1423558836000,14],[1423558840000,14],[1423558841000,14],[1423558853000,14],[1423558871000,14],[1423558907000,14],[1423558908000,14],[1423558909000,14],[1423558910000,14],[1423558911000,14],[1423558913000,14],[1423558914000,14],[1423558915000,14],[1423558916000,14],[1423558918000,14],[1423558919000,14],[1423558921000,14],[1423558921000,14],[1423558923000,14],[1423558924000,14],[1423558925000,14],[1423558926000,14],[1423558928000,14],[1423558929000,14],[1423558930000,14],[1423558931000,14],[1423558933000,14],[1423558934000,14],[1423558935000,14],[1423558936000,14],[1423558938000,14],[1423558939000,14]]},{"name": "CLD","data":[[1423558783000,21],[1423558784000,21],[1423558785000,21],[1423558786000,21],[1423558788000,21],[1423558789000,21],[1423558790000,21],[1423558791000,21],[1423558793000,21],[1423558794000,21],[1423558795000,21],[1423558796000,21],[1423558798000,21],[1423558799000,21],[1423558801000,21],[1423558801000,21],[1423558803000,21],[1423558804000,21],[1423558805000,21],[1423558806000,21],[1423558808000,21],[1423558809000,21],[1423558810000,21],[1423558811000,21],[1423558813000,21],[1423558814000,21],[1423558815000,21],[1423558816000,21],[1423558818000,21],[1423558819000,21],[1423558820000,21],[1423558821000,21],[1423558823000,21],[1423558824000,21],[1423558825000,21],[1423558826000,21],[1423558828000,21],[1423558829000,21],[1423558830000,21],[1423558831000,21],[1423558833000,21],[1423558834000,21],[1423558835000,21],[1423558836000,21],[1423558840000,21],[1423558841000,21],[1423558853000,21],[1423558871000,21],[1423558907000,21],[1423558908000,21],[1423558909000,21],[1423558910000,21],[1423558911000,21],[1423558913000,21],[1423558914000,21],[1423558915000,21],[1423558916000,21],[1423558918000,21],[1423558919000,21],[1423558921000,21],[1423558921000,21],[1423558923000,21],[1423558924000,21],[1423558925000,21],[1423558926000,21],[1423558928000,21],[1423558929000,21],[1423558930000,21],[1423558931000,21],[1423558933000,21],[1423558934000,21],[1423558935000,21],[1423558936000,21],[1423558938000,21],[1423558939000,21]]},{"name": "Gnd Speed","data":[[1423558783000,0],[1423558784000,50],[1423558785000,50],[1423558786000,50],[1423558788000,50],[1423558789000,50],[1423558790000,50],[1423558791000,50],[1423558793000,50],[1423558794000,50],[1423558795000,50],[1423558796000,50],[1423558798000,50],[1423558799000,50],[1423558801000,50],[1423558801000,50],[1423558803000,50],[1423558804000,50],[1423558805000,50],[1423558806000,50],[1423558808000,50],[1423558809000,50],[1423558810000,50],[1423558811000,50],[1423558813000,50],[1423558814000,50],[1423558815000,50],[1423558816000,50],[1423558818000,50],[1423558819000,50],[1423558820000,50],[1423558821000,50],[1423558823000,50],[1423558824000,50],[1423558825000,50],[1423558826000,50],[1423558828000,50],[1423558829000,50],[1423558830000,50],[1423558831000,50],[1423558833000,50],[1423558834000,50],[1423558835000,50],[1423558836000,50],[1423558840000,50],[1423558841000,50],[1423558853000,50],[1423558871000,50],[1423558907000,50],[1423558908000,50],[1423558909000,50],[1423558910000,50],[1423558911000,50],[1423558913000,50],[1423558914000,50],[1423558915000,50],[1423558916000,50],[1423558918000,50],[1423558919000,50],[1423558921000,50],[1423558921000,50],[1423558923000,50],[1423558924000,50],[1423558925000,50],[1423558926000,50],[1423558928000,50],[1423558929000,50],[1423558930000,50],[1423558931000,50],[1423558933000,50],[1423558934000,50],[1423558935000,50],[1423558936000,50],[1423558938000,50],[1423558939000,50]]}]');
            options = {
                plotOptions: {
                    series: {
                        point: {
                            events: {
                                //mouseOver: function (evt) {
                                //    //  alert(charts[0].series[0].data.length - 1);
                                //    // alert(this.series.data.length - 1);
                                //    syncTooltip(this.series.chart.container, this.series.xData.indexOf(this.x));
                                //},
                                click: function (e) {
                                    //ShowLoader();
                                    var dateAtGraphPoint = (Highcharts.dateFormat('%Y,%m,%d,%H,%M,%S', this.x));
                                    //Here we store the graph point datetime as some of the points are overlap and the click event call for more than once.
                                    // So here if the hdn field vale is same as the current point then we will not fetch the data again.
                                    if (dateAtGraphPoint != $('#hdnPreviouslyRetriveDataAtPoint').val()) {
                                        $.post("/IMounts/Data/GetDataLogForGraph", {
                                            flightIdList: flightid,
                                            "datetime": dateAtGraphPoint
                                        }, function (data) {
                                            $('#divPilotLogData').html(data);
                                            $('#divPilotLogData').show();
                                            window.location.hash = '#divPilotLogData';
                                            //HideLoader();
                                        });
                                    }
                                }
                            }
                        }
                    }
                },
                xAxis: {
                    type: 'datetime'
                },
                legend: {
                    useHTML: true,
                    //labelFormatter: function () {
                    //    return "<input id='chk-" + this.name.replace(' ', '-') + "' type='checkbox' checked='checked' /><label id='" + this.name.replace(' ', '-') + "' class='legendLabel' onclick='toggleLegend(this);'>" + this.name + "</label>";
                    //}
                }
            };

            series = {
                series:
             [
                {
                    name: 'CHT1',
                    data: data[0]
                }, {
                    name: 'CHT2',
                    data: data[1]
                }, {
                    name: 'CHT3',
                    data: data[2]
                }, {
                    name: 'CHT4',
                    data: data[3]
                }, {
                    name: 'CHT5',
                    data: data[4]
                }, {
                    name: 'CHT6',
                    data: data[5]
                }, {
                    name: 'EGT1',
                    data: data[6]
                }, {
                    name: 'EGT2',
                    data: data[7]
                }, {
                    name: 'EGT3',
                    data: data[8]
                }, {
                    name: 'EGT4',
                    data: data[9]
                }, {
                    name: 'EGT5',
                    data: data[10]
                }, {
                    name: 'EGT6',
                    data: data[11]
                }, {
                    name: 'TIT',
                    data: data[12]
                }, {
                    name: 'RPM',
                    data: data[13]
                }, {
                    name: 'FF',
                    data: data[14]
                }, {
                    name: 'CLD',
                    data: data[15]
                }, {
                    name: 'Speed',
                    data: data[16]
                },
                {
                    name: 'MAP',
                    data: data[17]
                }
             ]
            };

            //$("#spnShowGraphModel").attr("data-toggle", "modal");
            //$("#spnShowGraphModel").attr("data-target", ".viewgraph-modal");
            //$("#spnShowGraphModel").trigger("click");
            charts[0] = new Highcharts.Chart($.extend(true, {}, options, series, {
                chart: {
                    zoomType: 'x',
                    renderTo: 'container1'
                },
                tooltip: {
                    shared: true,
                    crosshairs: true
                },
            }));

            charts[1] = new Highcharts.Chart($.extend(true, {}, options, series, {
                chart: {
                    zoomType: 'x',
                    renderTo: 'container2'
                },
                tooltip: {
                    shared: true,
                    crosshairs: true
                },

            }));

            //var chart1 = $('#container1').highcharts();

            for (var p = 0; p < 6; p++) {
                charts[0].series[p].setVisible(true, false);
            }
            for (var q = 6; q < 18; q++) {
                charts[0].series[q].setVisible(false, false);
            }

            //var chart2 = $('#container2').highcharts();

            for (var r = 0; r < 6; r++) {
                charts[1].series[r].setVisible(false, false);
            }
            for (var s = 6; s < 13; s++) {
                charts[1].series[s].setVisible(true, false);
            }
            for (var t = 13; t < 18; t++) {
                charts[1].series[t].setVisible(false, false);
            }


            //HideLoader();

        }); //  response of $.post("/Data/GetGraph" function (data) {



    } // ShowGraph

    function ShowMap(id) {


        $.post("/IMounts/Data/GetGoogleMapsForFlight", {
                flightIdList: id,
            }, function (data) {
                ShowMapsDiv();
                LoadMap(data.filePath, data.latitude, data.longitude);
                //HideLoader();
            }); //  response of $.post("/Data/GetGraph" function (data) {
    } //ShowMap()

    var map;

    function LoadMap(fileName, latitude, longitude) {
        //Initializes the map and calls the function that creates polylines.
        map = new google.maps.Map(document.getElementById('map_canvas'),
        {
            center: new google.maps.LatLng(parseFloat(latitude), parseFloat(longitude)),
            zoom: 2,
            mapTypeId: google.maps.MapTypeId.TERRAIN,

        });

        loadKmlLayer(fileName, map);
    }

    function loadKmlLayer(src, map) {
        var kmlLayer = new google.maps.KmlLayer(src,
        {
            suppressInfoWindows: true,
            preserveViewport: false,
            map: map
        });

        google.maps.event.addListener(kmlLayer, 'click', function (event) {
            var content = event.
                featureData.infoWindowHtml;
            var testimonial = document.getElementById('capture');
            testimonial.innerHTML = content;
        });

        google.maps.event.trigger(map, "resize");
    }

    function DownloadKml(flightId) {
        var stringIds = flightId;
            $.ajax({
                url: '@Url.Action("DownloadKmlFileForFlight", "Data")',
                data: {
                    "flightIdList": stringIds,
                },
                success: function (data) {
                    window.open(data.url, '_blank');
                }
            });
            //HideLoader();
    }

    function UnCheckedAllCheckbok() {
        kmlFileList = [];
        showGraphList = [];
        $('#divFlightList input[type=checkbox]').each(function (index, element) {

            if (element.id.indexOf("maps") >= 0) {
                $("#" + element.id).prop('checked', false);
            }
        });
    }

    function showHideGraphSeries(ddl, containerId) {
        var selectedText = $("#" + ddl + " option:selected").text().toUpperCase();
        //var chart = $('#' + containerId).highcharts();

        var chart = new Highcharts.Chart($.extend(true, {}, options, series, {
            chart: {
                zoomType: 'x',
                renderTo: containerId
            },
            tooltip: {
                shared: true,
                crosshairs: true
            },
        }));



        switch (selectedText) {
            case 'CHT':
                for (var p = 0; p < 6; p++) {
                    chart.series[p].setVisible(true, false);
                }
                for (var q = 6; q < 18; q++) {
                    chart.series[q].setVisible(false, false);
                }
                chart.redraw();
                break;

            case 'EGT':
                for (var p = 0; p < 6; p++) {
                    chart.series[p].setVisible(false, false);
                }
                for (var q = 6; q < 13; q++) {
                    chart.series[q].setVisible(true, false);
                }
                for (var r = 13; r < 18; r++) {
                    chart.series[r].setVisible(false, false);
                }
                chart.redraw();
                break;

            case 'CLD':
                for (var p = 0; p < 15; p++) {
                    chart.series[p].setVisible(false, false);
                }
                chart.series[15].setVisible(true, false);
                chart.series[16].setVisible(false, false);
                chart.series[17].setVisible(false, false);
                chart.redraw();
                break;

            case 'FF':
                for (var p = 0; p < 14; p++) {
                    chart.series[p].setVisible(false, false);
                }
                chart.series[14].setVisible(true, false);
                for (var q = 15; q < 18; q++) {
                    chart.series[q].setVisible(false, false);
                }
                chart.redraw();
                break;

            case 'RPM':
                for (var p = 0; p < 13; p++) {
                    chart.series[p].setVisible(false, false);
                }
                chart.series[13].setVisible(true, false);
                for (var q = 14; q < 18; q++) {
                    chart.series[q].setVisible(false, false);
                }
                chart.redraw();
                break;

            case 'SPEED':
                for (var p = 0; p < 16; p++) {
                    chart.series[p].setVisible(false, false);
                }
                chart.series[16].setVisible(true, false);
                chart.series[17].setVisible(false, false);
                chart.redraw();
                break;

            case 'MAP':
                for (var p = 0; p < 17; p++) {
                    chart.series[p].setVisible(false, false);
                }
                chart.series[17].setVisible(true, false);
                chart.redraw();
                break;
        }
    }
    function ddlChange()
    {
        var aid = $("#AircraftId").val();

        $('#divPilotLogData').hide();
        $('#divPilotLogData').html('');
        var aircraftId = $(this).find('option:selected').val();
        // if default option is selected then dont perform any action
        if (aid != "0") {
            //ShowLoader();
            $.post("/IMounts/Data/GetFlightListForGraph",
            {
                aircraftId: aid,
                pageNo: 1,
            }, function (data) {
                $('#divGraphPartial').html(data);
                //ShowFlightListingDiv();
                //ShowBtnShowGraph();
                //HideBtnSelectFlight();
                //ShowBtnShowMaps();
                //ShowBtnDwnloadKml();
                //HideLoader();
            });
        } else {
            HideFlightListingDiv();
            HideBtnShowMaps();
            HideBtnShowGraph();
        }
    }
    //function ResizeMap() {
    //    google.maps.event.trigger(map, "resize");
    //}

    //$(document).ready(function () {

    //    $("#modalDivMap").on('shown', function () {
    //        ResizeMap();
    //    });

    //});

    @*$(document).ready(function () {
        //HideLoader();
        $('#AircraftId').on('change', function () {
            HideGraph();
            $('#divPilotLogData').hide();
            $('#divPilotLogData').html('');
            var aircraftId = $(this).find('option:selected').val();
            // if default option is selected then dont perform any action
            if (aircraftId != "0") {
                //ShowLoader();
                $.post("/Data/GetFlightListForGraph",
                {
                    aircraftId: aircraftId,
                    pageNo: 1,
                }, function (data) {
                    $('#divGraphPartial').html(data);
                    //ShowFlightListingDiv();
                    //ShowBtnShowGraph();
                    //HideBtnSelectFlight();
                    //ShowBtnShowMaps();
                    //ShowBtnDwnloadKml();
                    //HideLoader();
                });
            } else {
                HideFlightListingDiv();
                HideBtnShowMaps();
                HideBtnShowGraph();
            }
        });

        if ('@ViewBag.IsSingleAircraft' == '@Boolean.TrueString') {
            //trigger on change event
            $('#AircraftId').trigger('change');
        }

        $('#btnSelectFlight').on('click', function () {
            HideBtnSelectFlight();
            HideGraph();
            ShowFlightListingDiv();
            UncheckAllCheckboxInFlighListDiv();
            ShowBtnShowGraph();
            ShowBtnShowMaps();
            ShowBtnDwnloadKml();
            HideMapsDiv();
            DeleteArray();
            $('#divPilotLogData').hide();
            $('#divPilotLogData').html('');
        });

        $('#btnDwnloadKml').click(function (e) {

        });
    });*@
</script>


<input type="hidden" id="hdnSelectedFlightIdForGraph" name="hdnSelectedFlightIdForGraph" value="" />
<input type="hidden" id="hdnPreviouslyRetriveDataAtPoint" name="hdnPreviouslyRetriveDataAtPoint" value="" />

<form>
    <div style="height:400px;width:100%">
        <div style="position: relative; background-color: rgb(229, 227, 223); overflow: hidden;" class="gmap_graph" id="map_canvas"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0;" class="gm-style"><div style="position: absolute; left: 0px; top: 0px; overflow: hidden; width: 100%; height: 100%; z-index: 0; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 100; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;" aria-hidden="true"><div style="width: 256px; height: 256px; position: absolute; left: 377px; top: -32px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 377px; top: 224px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 121px; top: -32px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 121px; top: 224px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 633px; top: -32px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 633px; top: 224px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -135px; top: -32px;"></div><div style="width: 256px; height: 256px; position: absolute; left: -135px; top: 224px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 889px; top: -32px;"></div><div style="width: 256px; height: 256px; position: absolute; left: 889px; top: 224px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 101; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 20;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;" aria-hidden="true"><div style="position: absolute; left: 377px; top: -32px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px;" src="https://mts1.googleapis.com/mapslt?hl=en-US&amp;lyrs=kml%3AcXOw0bjKUSjhWgysGL0TWywGUzGdXszQ9mUosq2XzE1NbULwjAQ%7Capi%3A3%7Cclient%3A2%7Cks%3A%3Bdc%3Atj%3Bts%3A48964029%7Ckv%3A3&amp;x=1428&amp;y=3303&amp;z=13&amp;w=256&amp;h=256&amp;source=apiv3&amp;token=48627" draggable="false"></div><div style="position: absolute; left: 377px; top: 224px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px;" src="https://mts0.googleapis.com/mapslt?hl=en-US&amp;lyrs=kml%3AcXOw0bjKUSjhWgysGL0TWywGUzGdXszQ9mUosq2XzE1NbULwjAQ%7Capi%3A3%7Cclient%3A2%7Cks%3A%3Bdc%3Atj%3Bts%3A48964029%7Ckv%3A3&amp;x=1428&amp;y=3304&amp;z=13&amp;w=256&amp;h=256&amp;source=apiv3&amp;token=7883" draggable="false"></div><div style="position: absolute; left: 121px; top: -32px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px;" src="https://mts0.googleapis.com/mapslt?hl=en-US&amp;lyrs=kml%3AcXOw0bjKUSjhWgysGL0TWywGUzGdXszQ9mUosq2XzE1NbULwjAQ%7Capi%3A3%7Cclient%3A2%7Cks%3A%3Bdc%3Atj%3Bts%3A48964029%7Ckv%3A3&amp;x=1427&amp;y=3303&amp;z=13&amp;w=256&amp;h=256&amp;source=apiv3&amp;token=100879" draggable="false"></div><div style="position: absolute; left: 121px; top: 224px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px;" src="https://mts1.googleapis.com/mapslt?hl=en-US&amp;lyrs=kml%3AcXOw0bjKUSjhWgysGL0TWywGUzGdXszQ9mUosq2XzE1NbULwjAQ%7Capi%3A3%7Cclient%3A2%7Cks%3A%3Bdc%3Atj%3Bts%3A48964029%7Ckv%3A3&amp;x=1427&amp;y=3304&amp;z=13&amp;w=256&amp;h=256&amp;source=apiv3&amp;token=60135" draggable="false"></div><div style="position: absolute; left: 633px; top: -32px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px;" src="https://mts0.googleapis.com/mapslt?hl=en-US&amp;lyrs=kml%3AcXOw0bjKUSjhWgysGL0TWywGUzGdXszQ9mUosq2XzE1NbULwjAQ%7Capi%3A3%7Cclient%3A2%7Cks%3A%3Bdc%3Atj%3Bts%3A48964029%7Ckv%3A3&amp;x=1429&amp;y=3303&amp;z=13&amp;w=256&amp;h=256&amp;source=apiv3&amp;token=127446" draggable="false"></div><div style="position: absolute; left: 633px; top: 224px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px;" src="https://mts1.googleapis.com/mapslt?hl=en-US&amp;lyrs=kml%3AcXOw0bjKUSjhWgysGL0TWywGUzGdXszQ9mUosq2XzE1NbULwjAQ%7Capi%3A3%7Cclient%3A2%7Cks%3A%3Bdc%3Atj%3Bts%3A48964029%7Ckv%3A3&amp;x=1429&amp;y=3304&amp;z=13&amp;w=256&amp;h=256&amp;source=apiv3&amp;token=86702" draggable="false"></div><div style="position: absolute; left: -135px; top: -32px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px;" src="https://mts1.googleapis.com/mapslt?hl=en-US&amp;lyrs=kml%3AcXOw0bjKUSjhWgysGL0TWywGUzGdXszQ9mUosq2XzE1NbULwjAQ%7Capi%3A3%7Cclient%3A2%7Cks%3A%3Bdc%3Atj%3Bts%3A48964029%7Ckv%3A3&amp;x=1426&amp;y=3303&amp;z=13&amp;w=256&amp;h=256&amp;source=apiv3&amp;token=22060" draggable="false"></div><div style="position: absolute; left: -135px; top: 224px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px;" src="https://mts0.googleapis.com/mapslt?hl=en-US&amp;lyrs=kml%3AcXOw0bjKUSjhWgysGL0TWywGUzGdXszQ9mUosq2XzE1NbULwjAQ%7Capi%3A3%7Cclient%3A2%7Cks%3A%3Bdc%3Atj%3Bts%3A48964029%7Ckv%3A3&amp;x=1426&amp;y=3304&amp;z=13&amp;w=256&amp;h=256&amp;source=apiv3&amp;token=112387" draggable="false"></div><div style="position: absolute; left: 889px; top: -32px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px;" src="https://mts1.googleapis.com/mapslt?hl=en-US&amp;lyrs=kml%3AcXOw0bjKUSjhWgysGL0TWywGUzGdXszQ9mUosq2XzE1NbULwjAQ%7Capi%3A3%7Cclient%3A2%7Cks%3A%3Bdc%3Atj%3Bts%3A48964029%7Ckv%3A3&amp;x=1430&amp;y=3303&amp;z=13&amp;w=256&amp;h=256&amp;source=apiv3&amp;token=37641" draggable="false"></div><div style="position: absolute; left: 889px; top: 224px;"><img style="width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px;" src="https://mts0.googleapis.com/mapslt?hl=en-US&amp;lyrs=kml%3AcXOw0bjKUSjhWgysGL0TWywGUzGdXszQ9mUosq2XzE1NbULwjAQ%7Capi%3A3%7Cclient%3A2%7Cks%3A%3Bdc%3Atj%3Bts%3A48964029%7Ckv%3A3&amp;x=1430&amp;y=3304&amp;z=13&amp;w=256&amp;h=256&amp;source=apiv3&amp;token=127968" draggable="false"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 102; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 103; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: -1;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;" aria-hidden="true"><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 377px; top: -32px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 377px; top: 224px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 121px; top: -32px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 121px; top: 224px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 633px; top: -32px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 633px; top: 224px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -135px; top: -32px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: -135px; top: 224px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 889px; top: -32px;"></div><div style="width: 256px; height: 256px; overflow: hidden; position: absolute; left: 889px; top: 224px;"></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 0;"><div style="position: absolute; left: 0px; top: 0px; z-index: 1; visibility: inherit;" aria-hidden="true"><div style="position: absolute; left: 377px; top: -32px; transition: opacity 200ms ease-out 0s;"><img style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1428!3i3303!4i256!2m3!1e4!2st!3i355!2m3!1e0!2sr!3i355026821!3m9!2sen-US!3sUS!5e18!12m1!1e63!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=54709" draggable="false" alt=""></div><div style="position: absolute; left: 377px; top: 224px; transition: opacity 200ms ease-out 0s;"><img style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1428!3i3304!4i256!2m3!1e4!2st!3i355!2m3!1e0!2sr!3i355026845!3m9!2sen-US!3sUS!5e18!12m1!1e63!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=55251" draggable="false" alt=""></div><div style="position: absolute; left: 121px; top: -32px; transition: opacity 200ms ease-out 0s;"><img style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1427!3i3303!4i256!2m3!1e4!2st!3i355!2m3!1e0!2sr!3i355026821!3m9!2sen-US!3sUS!5e18!12m1!1e63!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=42794" draggable="false" alt=""></div><div style="position: absolute; left: 121px; top: 224px; transition: opacity 200ms ease-out 0s;"><img style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1427!3i3304!4i256!2m3!1e4!2st!3i355!2m3!1e0!2sr!3i355026845!3m9!2sen-US!3sUS!5e18!12m1!1e63!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=43336" draggable="false" alt=""></div><div style="position: absolute; left: 633px; top: -32px; transition: opacity 200ms ease-out 0s;"><img style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1429!3i3303!4i256!2m3!1e4!2st!3i355!2m3!1e0!2sr!3i355026821!3m9!2sen-US!3sUS!5e18!12m1!1e63!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=66624" draggable="false" alt=""></div><div style="position: absolute; left: 633px; top: 224px; transition: opacity 200ms ease-out 0s;"><img style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1429!3i3304!4i256!2m3!1e4!2st!3i355!2m3!1e0!2sr!3i355026821!3m9!2sen-US!3sUS!5e18!12m1!1e63!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=44459" draggable="false" alt=""></div><div style="position: absolute; left: -135px; top: -32px; transition: opacity 200ms ease-out 0s;"><img style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1426!3i3303!4i256!2m3!1e4!2st!3i355!2m3!1e0!2sr!3i355026821!3m9!2sen-US!3sUS!5e18!12m1!1e63!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=30879" draggable="false" alt=""></div><div style="position: absolute; left: -135px; top: 224px; transition: opacity 200ms ease-out 0s;"><img style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1426!3i3304!4i256!2m3!1e4!2st!3i355!2m3!1e0!2sr!3i355026845!3m9!2sen-US!3sUS!5e18!12m1!1e63!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=31421" draggable="false" alt=""></div><div style="position: absolute; left: 889px; top: -32px; transition: opacity 200ms ease-out 0s;"><img style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1430!3i3303!4i256!2m3!1e4!2st!3i355!2m3!1e0!2sr!3i355026821!3m9!2sen-US!3sUS!5e18!12m1!1e63!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=113348" draggable="false" alt=""></div><div style="position: absolute; left: 889px; top: 224px; transition: opacity 200ms ease-out 0s;"><img style="position: absolute; left: 0px; top: 0px; width: 256px; height: 256px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" src="https://maps.googleapis.com/maps/vt?pb=!1m5!1m4!1i13!2i1430!3i3304!4i256!2m3!1e4!2st!3i355!2m3!1e0!2sr!3i355026821!3m9!2sen-US!3sUS!5e18!12m1!1e63!12m3!1e37!2m1!1ssmartmaps!4e0&amp;token=91183" draggable="false" alt=""></div></div></div></div><div style="position: absolute; left: 0px; top: 0px; z-index: 2; width: 100%; height: 100%; transition-duration: 0.3s; opacity: 0; display: none;" class="gm-style-pbc"><p class="gm-style-pbt">Use two fingers to move the map</p></div><div style="position: absolute; left: 0px; top: 0px; z-index: 3; width: 100%; height: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 4; width: 100%;"><div style="position: absolute; left: 0px; top: 0px; z-index: 104; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 105; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 106; width: 100%;"></div><div style="position: absolute; left: 0px; top: 0px; z-index: 107; width: 100%;"></div></div></div><div style="margin-left: 5px; margin-right: 5px; z-index: 1000000; position: absolute; left: 0px; bottom: 0px;"><a style="position: static; overflow: visible; float: none; display: inline;" target="_blank" href="https://maps.google.com/maps?ll=32.846169,-117.221416&amp;z=13&amp;t=p&amp;hl=en-US&amp;gl=US&amp;mapclient=apiv3" title="Click to see this area on Google Maps"><div style="width: 66px; height: 26px; cursor: pointer;"><img style="position: absolute; left: 0px; top: 0px; width: 66px; height: 26px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px;" src="https://maps.gstatic.com/mapfiles/api-3/images/google4.png" draggable="false"></div></a></div><div style="background-color: white; padding: 15px 21px; border: 1px solid rgb(171, 171, 171); font-family: Roboto,Arial,sans-serif; color: rgb(34, 34, 34); box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2); z-index: 10000002; display: none; width: 256px; height: 148px; position: absolute; left: 371px; top: 110px;"><div style="padding: 0px 0px 10px; font-size: 16px;">Map Data</div><div style="font-size: 13px;">Map data &copy;2016 Google</div><div style="width: 13px; height: 13px; overflow: hidden; position: absolute; opacity: 0.7; right: 12px; top: 12px; z-index: 10000; cursor: pointer;"><img style="position: absolute; left: -2px; top: -336px; width: 59px; height: 492px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" src="https://maps.gstatic.com/mapfiles/api-3/images/mapcnt6.png" draggable="false"></div></div><div class="gmnoprint" style="z-index: 1000001; position: absolute; right: 161px; bottom: 0px; width: 121px;"><div draggable="false" style="-moz-user-select: none; height: 14px; line-height: 14px;" class="gm-style-cc"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto,Arial,sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="color: rgb(68, 68, 68); text-decoration: none; cursor: pointer; display: none;">Map Data</a><span style="">Map data &copy;2016 Google</span></div></div></div><div class="gmnoscreen" style="position: absolute; right: 0px; bottom: 0px;"><div style="font-family: Roboto,Arial,sans-serif; font-size: 11px; color: rgb(68, 68, 68); direction: ltr; text-align: right; background-color: rgb(245, 245, 245);">Map data &copy;2016 Google</div></div><div class="gmnoprint gm-style-cc" style="z-index: 1000001; -moz-user-select: none; height: 14px; line-height: 14px; position: absolute; right: 92px; bottom: 0px;" draggable="false"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto,Arial,sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a style="text-decoration: none; cursor: pointer; color: rgb(68, 68, 68);" href="https://www.google.com/intl/en-US_US/help/terms_maps.html" target="_blank">Terms of Use</a></div></div><div style="width: 25px; height: 25px; overflow: hidden; display: none; margin: 10px 14px; position: absolute; top: 0px; right: 0px;"><img style="position: absolute; left: -52px; top: -86px; width: 164px; height: 112px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px;" src="https://maps.gstatic.com/mapfiles/api-3/images/sv5.png" draggable="false" class="gm-fullscreen-control"></div><div draggable="false" style="-moz-user-select: none; height: 14px; line-height: 14px; position: absolute; right: 0px; bottom: 0px;" class="gm-style-cc"><div style="opacity: 0.7; width: 100%; height: 100%; position: absolute;"><div style="width: 1px;"></div><div style="background-color: rgb(245, 245, 245); width: auto; height: 100%; margin-left: 1px;"></div></div><div style="position: relative; padding-right: 6px; padding-left: 6px; font-family: Roboto,Arial,sans-serif; font-size: 10px; color: rgb(68, 68, 68); white-space: nowrap; direction: ltr; text-align: right; vertical-align: middle; display: inline-block;"><a target="_new" title="Report errors in the road map or imagery to Google" style="font-family: Roboto,Arial,sans-serif; font-size: 10px; color: rgb(68, 68, 68); text-decoration: none; position: relative;" href="https://www.google.com/maps/@32.8461691,-117.2214165,13z/data=!5m1!1e4!10m1!1e1!12b1?source=apiv3&amp;rapsrc=apiv3">Report a map error</a></div></div><div class="gmnoprint gm-bundled-control gm-bundled-control-on-bottom" style="margin: 10px; -moz-user-select: none; position: absolute; bottom: 107px; right: 28px;" draggable="false" controlwidth="28" controlheight="93"><div class="gmnoprint" style="position: absolute; left: 0px; top: 38px;" controlwidth="28" controlheight="55"><div draggable="false" style="-moz-user-select: none; box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); border-radius: 2px; cursor: pointer; background-color: rgb(255, 255, 255); width: 28px; height: 55px;"><div title="Zoom in" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img style="position: absolute; left: 0px; top: 0px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false"></div></div><div style="position: relative; overflow: hidden; width: 67%; height: 1px; left: 16%; background-color: rgb(230, 230, 230); top: 0px;"></div><div title="Zoom out" style="position: relative; width: 28px; height: 27px; left: 0px; top: 0px;"><div style="overflow: hidden; position: absolute; width: 15px; height: 15px; left: 7px; top: 6px;"><img style="position: absolute; left: 0px; top: -15px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none; width: 120px; height: 54px;" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl.png" draggable="false"></div></div></div></div><div class="gm-svpc" style="background-color: rgb(255, 255, 255); box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); border-radius: 2px; width: 28px; height: 28px; cursor: url(&quot;https://maps.gstatic.com/mapfiles/openhand_8_8.cur&quot;), default; position: absolute; left: 0px; top: 0px;" controlwidth="28" controlheight="28"><div style="position: absolute; left: 1px; top: 1px;"></div><div style="position: absolute; left: 1px; top: 1px;"><div style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px;" aria-label="Street View Pegman Control"><img style="position: absolute; left: -147px; top: -26px; width: 215px; height: 835px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false"></div><div style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;" aria-label="Pegman is on top of the Map"><img style="position: absolute; left: -147px; top: -52px; width: 215px; height: 835px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false"></div><div style="width: 26px; height: 26px; overflow: hidden; position: absolute; left: 0px; top: 0px; visibility: hidden;" aria-label="Street View Pegman Control"><img style="position: absolute; left: -147px; top: -78px; width: 215px; height: 835px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" src="https://maps.gstatic.com/mapfiles/api-3/images/cb_scout5.png" draggable="false"></div></div></div><div class="gmnoprint" controlwidth="28" controlheight="0" style="display: none; position: absolute;"><div style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); cursor: pointer; background-color: rgb(255, 255, 255); display: none;" title="Rotate map 90 degrees"><img style="position: absolute; left: -141px; top: 6px; width: 170px; height: 54px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false"></div><div style="width: 28px; height: 28px; overflow: hidden; position: absolute; border-radius: 2px; box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); top: 0px; cursor: pointer; background-color: rgb(255, 255, 255);" class="gm-tilt"><img style="position: absolute; left: -141px; top: -13px; width: 170px; height: 54px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none;" src="https://maps.gstatic.com/mapfiles/api-3/images/tmapctrl4.png" draggable="false"></div></div></div><div class="gmnoprint" style="margin: 10px; z-index: 0; position: absolute; cursor: pointer; left: 0px; top: 0px;"><div style="float: left;" class="gm-style-mtc"><div style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(0, 0, 0); font-family: Roboto,Arial,sans-serif; -moz-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-left-radius: 2px; border-top-left-radius: 2px; background-clip: padding-box; box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); min-width: 20px; font-weight: 500;" draggable="false" title="Show street map">Map</div><div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); position: absolute; left: 0px; top: 29px; text-align: left; display: none;"><div style="color: rgb(0, 0, 0); font-family: Roboto,Arial,sans-serif; -moz-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;" draggable="false" title="Show street map with terrain"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;"><img style="position: absolute; left: -52px; top: -44px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;" src="https://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false"></div></span><label style="vertical-align: middle; cursor: pointer;">Terrain</label></div></div></div><div style="float: left;" class="gm-style-mtc"><div style="direction: ltr; overflow: hidden; text-align: center; position: relative; color: rgb(86, 86, 86); font-family: Roboto,Arial,sans-serif; -moz-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 8px; border-bottom-right-radius: 2px; border-top-right-radius: 2px; background-clip: padding-box; box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); border-left: 0px none; min-width: 37px;" draggable="false" title="Show satellite imagery">Satellite</div><div style="background-color: white; z-index: -1; padding: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px; box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.3); position: absolute; right: 0px; top: 29px; text-align: left; display: none;"><div style="color: rgb(0, 0, 0); font-family: Roboto,Arial,sans-serif; -moz-user-select: none; font-size: 11px; background-color: rgb(255, 255, 255); padding: 6px 8px 6px 6px; direction: ltr; text-align: left; white-space: nowrap;" draggable="false" title="Show imagery with street names"><span role="checkbox" style="box-sizing: border-box; position: relative; line-height: 0; font-size: 0px; margin: 0px 5px 0px 0px; display: inline-block; background-color: rgb(255, 255, 255); border: 1px solid rgb(198, 198, 198); border-radius: 1px; width: 13px; height: 13px; vertical-align: middle;"><div style="position: absolute; left: 1px; top: -2px; width: 13px; height: 11px; overflow: hidden;"><img style="position: absolute; left: -52px; top: -44px; -moz-user-select: none; border: 0px none; padding: 0px; margin: 0px; max-width: none; width: 68px; height: 67px;" src="https://maps.gstatic.com/mapfiles/mv/imgs8.png" draggable="false"></div></span><label style="vertical-align: middle; cursor: pointer;">Labels</label></div></div></div></div></div></div>
    </div>
</form>