﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Maps</title>
 
    <script src="~/Scripts/Graphs_and_charts/highcharts.js"></script>
    <script src="~/Scripts/Graphs_and_charts/exporting.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyBKZ7qjEccZNVtJXkfZrkwg__3Yp0r_ZjM"
            type="text/javascript"></script>

    @*<script src="https://maps.googleapis.com/maps/api/js?v=3"></script>*@

    <script src="~/Scripts/jquery-1.11.1.js"></script>

    <style>
        .gmap_graph {
            height: 400px;
            margin-top: 10px;
            border: 1px solid #c8c8c8;
        }
    </style>
    <script>

        function initMap() {
            var map = new google.maps.Map(document.getElementById('map_canvas'), {
                zoom: 3,
                center: { lat: 0, lng: -180 },
                mapTypeId: google.maps.MapTypeId.TERRAIN
            });

            var flightPlanCoordinates = [
              { lat: 37.772, lng: -122.214 },
              { lat: 21.291, lng: -157.821 },
              { lat: -18.142, lng: 178.431 },
              { lat: -27.467, lng: 153.027 }
            ];
            var flightPath = new google.maps.Polyline({
                path: flightPlanCoordinates,
                geodesic: true,
                strokeColor: '#FF0000',
                strokeOpacity: 1.0,
                strokeWeight: 2
            });

            flightPath.setMap(map);
        }

        $(document).ready(function () {

         initMap();
        });
    </script>



</head>
<body>
    <input type="hidden" id="hdnSelectedFlightIdForGraph" name="hdnSelectedFlightIdForGraph" value="" />
    <input type="hidden" id="hdnPreviouslyRetriveDataAtPoint" name="hdnPreviouslyRetriveDataAtPoint" value="" />



    <div style="height: 400px; width: 50%;">
        <div id="map_canvas" class="gmap_graph" style="display: none;">
        </div>
    </div>


</body>
</html>
