﻿@model GA.DataTransfer.AircraftComponentMakeAndModelWeb

@{


    var disableUserMannualCheckBox = new Dictionary<string, object> { { "disabled", "disabled" } };
    var enableUserMannualCheckBox = new Dictionary<string, object> { };
    var componentManufacturerList = (List<GA.DataTransfer.AircraftComponentManufacturerModel>)ViewBag.AircraftComponentManufacturerList;
    var componentModelList = (List<GA.DataLayer.AircraftComponentModel>)ViewBag.ComponentModelList;
    //var txtFreeTextEnable = new Dictionary<string, object> { { "class", "form-control" }, { "size", "20" }, { "value", Model.ComponentModelId }, { "autoComplete", "Off" }, { "style", "width:95%;" } };
    //var txtFreetextDisable = new Dictionary<string, object> { { "class", "form-control" }, { "size", "20" }, { "value", Model.ComponentModelId }, { "autoComplete", "Off" }, { "readonly", true }, { "style", "background-color:#DEDEDE;width:95%;" } };
    var txtFreeTextEnable = new Dictionary<string, object> { { "class", "form-control" }, { "size", "20" }, { "value", Model.ComponentModelId }, { "autoComplete", "Off" } };
    var txtFreetextDisable = new Dictionary<string, object> { { "class", "form-control" }, { "size", "20" }, { "value", Model.ComponentModelId }, { "autoComplete", "Off" }, { "readonly", true }, { "style", "background-color:#DEDEDE;" } };
}
<div class="col-sm-12 col-xs-12">
    <div class="item form-group clearfix tablewrap">

        <label class="control-label col-sm-2 col-xs-2">
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.AircraftId)
            @Html.HiddenFor(model => model.AircraftComponentId)
            @Html.HiddenFor(model => model.ComponentModelFileName)
            @Html.Hidden("hdnOldComponentModelFileName", Model.ComponentModelFileName)

            @Html.DisplayFor(model => model.AircraftComponentName)
        </label>
        <span class="pull-left">@Html.CheckBoxFor(model => model.IsVisibleOnMFDScreen) &nbsp;</span>
        <div class="col-sm-3 col-xs-3">
            @Html.DropDownListFor(model => model.ComponentManufacturerId, new SelectList(componentManufacturerList.Where(cm => cm.AircraftComponentId == Model.AircraftComponentId).ToList(), "AircraftComponentManufacturerId", "AircraftComponentManufacturerName", Model.ComponentManufacturerId), "Select", new { @class = "form-control componentManufacturer", componentid = Model.AircraftComponentId })
        </div>
        <div class="col-sm-3 col-xs-3">
            <div>@Html.DropDownListFor(model => model.ComponentModelId, new SelectList(componentModelList.Where(cm => cm.AircraftComponentManufacturerId == Model.ComponentManufacturerId && cm.AircraftComponentId == Model.AircraftComponentId), "Id", "Name", Model.ComponentModelId), "Select", new { @class = "form-control componentModel", componentid = Model.AircraftComponentId }) </div>
        </div>
        @*<div class="col-sm-1"> @Html.CheckBoxFor(model => model.IsShowInFlightBag, (string.IsNullOrEmpty(Model.ComponentModelFileName) ? disableUserMannualCheckBox : enableUserMannualCheckBox)) </div>*@
        <div class="col-sm-2 col-xs-2"> @Html.TextBoxFor(model => model.ModelFreetext, (Model.ComponentModelId != null ? txtFreeTextEnable : txtFreetextDisable)) </div>
    </div>
</div>
