﻿@model GA.DataTransfer.Classes_for_Services.FeatureMasterModel
<div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">@Model.Name</label>
    <div class="col-md-8 col-sm-6 col-xs-12">
        @Html.CheckBoxFor(model => model.IsEnable, new { @class = "form-control abcd", @FeatureName = @Model.Name, @FeatureGroup = Model.GroupType   })
        @Html.HiddenFor(model=>model.Id)
        @Html.HiddenFor(model => model.GroupType)
    </div>
</div>