﻿@model GA.DataTransfer.Classes_for_Web.TestKTModel

@{
    ViewBag.Title = "AddTestKT";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}

<h2>AddTestKT</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

<fieldset>
    <legend>TestKTModel</legend>

    <div class="editor-label">
        @Html.LabelFor(model => model.Name)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Name)
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="editor-label">
        @Html.LabelFor(model => model.Description)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Description)
        @Html.ValidationMessageFor(model => model.Description)
    </div>

    <p>
        <input type="submit" value="Create" />
    </p>
</fieldset>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
