﻿@model GA.DataTransfer.Classes_for_Web.TestKTModel

@{
    ViewBag.Title = "DeleteTestKT";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}

<h2>DeleteTestKT</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>TestKTModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
