﻿@model GA.DataTransfer.Classes_for_Web.TestKTModel

@{
    ViewBag.Title = "DetailTestKT";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}

<h2>DetailTestKT</h2>

<fieldset>
    <legend>TestKTModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
