﻿@model IEnumerable<GA.DataTransfer.Classes_for_Web.TestKTModel>

@{
    ViewBag.Title = "ListTestKT";
    Layout = "~/Views/Shared/_InventoryLayout.cshtml";
}

<h2>ListTestKT</h2>

<p>
    @Html.ActionLink("Create New", "AddTestKT")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.ActionLink("Edit", "EditTestKT", new { id=item.Id }) |
            @Html.ActionLink("Details", "DetailTestKT", new { id=item.Id }) |
            @Html.ActionLink("Delete", "DeleteTestKT", new { id=item.Id })
        </td>
    </tr>
}

</table>
