@media (min-width: 1550px) and (max-width: 1920px) {
	.login-content .form-control-feedback.left {
    border-right: 1px solid #ccc;
    left: 62px;
}

.login-inner .form-control {
    padding: 6px 10px 6px 48px;
}
	
	 }


@media (min-width: 1024px) and (max-width: 1200px) {


}

@media (max-width: 1023px) {
	
	 div.dataTables_wrapper {
        width: 100%;
        margin: 0 auto;
    }
	#tblJpi_wrapper .col-sm-12 { width:100%;}

}
@media (max-width: 767px) {
	
	
	
	 .navbar-nav > li {
    border-left: none;
	border-bottom:1px solid #fff;
    float: none;
    height: 30px;
    margin: 23px 1px 0 0;
    padding: 0;
}

.nav {padding-left: 10px;

}
.navbar-nav > li:last-child {border-bottom:none;}
.login-inner {  padding: 10px 0 20px;}
.login-page .centered {
    display: block;
    margin: 0 6%;
    width: 91%;
}
.login-page .form-control-feedback {margin-left: -36px;}
.login-content .form-control {width:100%;}
.login-inner {
    background: rgba(23, 45, 68, 0.24) none repeat scroll 0 0;
    box-shadow: 0 0 1px #ffffff;

    left: 0;
    /*margin: 0 auto;*/
    padding: 0!important;
    position: relative  ;
    right: 0;
/*    width: 90%;*/
}
.login-page .login-content {position:relative; padding:0 20px !important;}
 
 .login-page .login-content {margin: 270px 0 0;}
.profile-img-card { display:none;
}
.header-content-inner h1 {font-size:30px;}
.main-landing-page .header-content { margin: 194px 0 0;}

}
	