html, body {
	height: 100%;
	width: 100%;
	color:#3F556C;
}
a {
    color: #139af8;
}
a:hover{
	color:#0076E2;
}
/*----------common padding-margin elements----------*/
.no-paddingleft{
	padding-left:0;
}
.no-paddingright{
	padding-right:0;
}
.marginbottom10{
	margin-bottom:10px;
}
.margintop5{
	margin-top:5px;
}
.margintop20{
	margin-top:20px;
}
.marginleft15{
	margin-left:15px;
}
.marginright15{
	margin-right:15px;
}
.padtop10{
	padding-top:10px;
}
/*----------navigation css starts----------*/
.navbar-brand {
	height: auto;
	padding: 9px;
}
.navbar-default {
	background: rgba(41, 71, 126, 0.88) none repeat scroll 0 0 !important;
	border-color: #29487e !important;
}
.nav.navbar-nav > li > a {
	color: #fff !important;
	font-size: 15px;
	font-weight: bold;
	line-height: normal;
	padding: 0px 20px;
	transition: all 0.35s ease 0s;
}
.navbar-nav > li {
	border-left: 1px solid #4a6ba7;
	float: left;
	height: 30px;
	margin: 23px 1px 0 0;
	padding: 0;
}
.nav.navbar-nav > li > a:hover {
	color: #B5C6D6 !important;
}
.navbar-nav > li:first-child {
	border-left: none;
}
.navbar-brand, .navbar-nav > li > a {
	font-weight: 600;
}
.top_nav .navbar-nav > li {
	border-left: 1px solid #4a6ba7;
	height: 43px;
	margin: 0 1px 0 0;
	padding: 0;
}
.top_nav .nav.navbar-nav > li > a {
	padding: 13px 20px;
	color:#515356 !important;
}
.top_nav .navbar-brand, .navbar-nav > li > a {
	color: #ecf0f1 !important;
	font-weight: 500;
	line-height: 32px !important;
	margin-left: 0 !important;
}
.top_nav .navbar-right li {
	border-left: medium none;
	position: relative;
}
.top_nav .title-full{
	padding-top:5px;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    background-color: #fff !important;
    border-color: #d0d0d0 #d0d0d0 transparent;
    border-image: none;
    border-style: solid;
    border-width: 1px;
    color: #3F556C;
	font-weight:bold;
    cursor: default;
}
.top_nav .nav_menu {
    height: 58px; background:#fff;
	margin-bottom:0;
}
.top_nav .navbar-right{
	width:inherit;
}
.nav-tabs > li > a {    border-radius: 0 !important;}
.page-title{
	padding-top:0;
}
/*----------navigation css ends----------*/

/*----------main structural elements starts----------*/
.wrapper {
	/*min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -45px;*/
}
.bg-grey {
	background: #EDEDED !important;
}
body .container.body .right_col {
    background: #EDEDED none repeat scroll 0 0;
}
.main-landing-page {
	background: url(../../Images/header.jpg) no-repeat center center;
	background-position: center center;
	background-size: cover;
	color: #fff !important;
	min-height: auto;
	position: relative;
	text-align: center;
	width: 100%;
}
.main-landing-page {
	min-height: 100% !important;
}
.main-landing-page .header-content {
	padding: 0 50px !important;
	position: absolute !important;
	top: 50% !important;
	transform: translateY(-50%);
	right: 0;
	left: 0;
}
.main-landing-page .header-content {
	padding: 100px 15px;
	position: relative;
	text-align: right;
	width: 100%;
	margin: 244px 0 0;
}
.main-landing-page .header-content .header-content-inner {
	margin-left: auto;
	margin-right: auto;/*    max-width: 1000px;*/
}
section {
	padding: 40px 0 10px 0;
}
/*----------main structural elements ends----------*/
footer {
	height: 45px;
	padding:0;
	line-height:45px;
}

.login-page {
	/*background: url(../../Images/login.jpg) no-repeat center center;
	background-position: center center;
	background-size: cover;*/
	color: #fff !important;
	min-height: auto;
	position: relative;
	text-align: center;
	width: 100%;
}
.full-screen-background-image {
	z-index: -999;
	min-height: 100%;
	min-width: 1024px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
}
.login-page {
/*min-height: 100%;*/
}
.login-page .login-content {
	/*padding: 100px 15px;
	position: relative;
	width: 100%;
	margin: 360px 0 0 0;*/
	/*	text-align: right;*/
	
}
.login-page .login-content {
	/*padding: 0 50px !important;
	position: absolute !important;
	transform: translateY(-50%);
	right: 0;
	left: 0;*/
	/*top: 50% !important;*/
}
.login-inner .form-group {
	margin-bottom: 5px !important;
}
.container .credit {
	margin: 10px 0;
	line-height: 25px;
}
.bg-redlight {
	background-color: #172D44;
	color: #fff;
}


#contact i {
	font-size: 45px;
	color: #42C0FB;
}
#contact p {
	font-size: 15px;
}
.header-content-inner h1 {
	color: #fff;
	font-size: 50px;
	font-weight: bold;
	text-shadow: 1px 0 8px #000;
}
.login-inner {
	background: rgba(23, 45, 68, 0.24) none repeat scroll 0 0;
	box-shadow: 0 0 1px #ffffff;
	padding: 10px 20px 20px;
}
.form-group {
	position: relative;
}
.form-group i {
	color: #bebebe;
	font-size: 18px;
	padding:0;
}
.login-inner .form-control {
	padding: 6px 10px 6px 48px;
}
/* hover style just for information */
label:hover:before {
	border: 1px solid #4778d9!important;
}
.form-horizontal .checkbox, .form-horizontal .checkbox-inline, .form-horizontal .radio, .form-horizontal .radio-inline {
	padding-top: 0PX;
}
.form-horizontal .checkbox, .form-horizontal .radio {
	min-height: inherit;
}
.form-control {
	border-bottom: none;
}
.login-inner h1 {
	color: #fff;
	font-size: 20px;
	margin: 10px 0;
	padding: 0;
	text-align: center;
}
.profile-img-card {
	border-radius: 50%;
	display: block;
	height: 96px;
	margin: -50px auto 10px;
	width: 96px;
}
.img-circle.profile_img{
	width:57px;
	height:57px;
}
.btn-social {
	overflow: hidden;
	padding-left: 44px;
	position: relative;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-bottom: 10px;
}
.btn-social > *:first-child {
	border-right: 1px solid rgba(0, 0, 0, 0.2);
	bottom: 0;
	font-size: 1.6em;
	left: 0;
	line-height: 34px;
	position: absolute;
	text-align: center;
	top: 0;
	width: 32px;
}
.btn-facebook {
	background-color: #3b5998;
	color: #fff;
}
.btn-google {
	background-color: #dd4b39;
	color: #fff;
}
.btn-facebook:hover {
	background-color: #2d4373;
	color: #fff;
}
.btn-google:hover {
	background-color: #c23321;
	color: #fff;
}
.btn-linkedin:hover {
	background-color: #005983;
	color: #fff;
}
.btn-twitter:hover {
	background-color: #2795e9;
	color: #fff;
}
.btn-twitter {
	background-color: #55acee;
	color: #fff;
}
.btn-linkedin {
	background-color: #007bb6;
	color: #fff;
}
.login-content .form-control {
	border-radius: 0;
	width: 85%;
	margin: 0 auto;
}
.form-control::-moz-placeholder {
 color: #999;
 opacity: 1;
 font-family: "Helvetica Neue", Roboto, Arial, "Droid Sans", sans-serif;
}
.login-content .form-control-feedback.left {
	border-right: 1px solid #ccc;
	left: 43px;
}
.centered {
	display: block;
	margin: 0 20%;
	width: 60%;
}
.kepp-sing {
	margin: 0;
	color:#fff;
}
.reset_pass {
	color: #fff !important;
	margin-top: 0 !important;
}
.reset_pass:hover {
	color: #77B7EA !important;
}
.form-reg {
	margin-top: 100px;
}
.form-control {
	border: 1px solid #ccc !important;
}
.footer-inner {
	background: #172D44 none repeat scroll 0 0;
	border-bottom: 1px solid #c8c8c8;
	bottom: 0;
	left: 0;
	padding: 0;
	position: absolute;
	width: 100%;
}
.footer_link {
	color: #fff;
	padding-top: 11px;
	text-align: center;
}
.maincontainer {
	margin: 0 auto;
	padding-bottom: 80px;
	width: 100%;
}
.select2-container--default .select2-selection--single {
	background-color: #fff;
	border: 1px solid #ccc;
	border-radius: 0 !important;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-selection--multiple {
	min-height: 35px !important;
}
.form-control-feedback {
	color: #bbb;
	font-size: 15px;
	height: 22px;
	line-height: 24px;
	margin-left: -8px;
	margin-top: 5px;
}
.daterangepicker.picker_1 table.table-condensed thead tr:first-child {
	background: #337ab7 none repeat scroll 0 0;
}
.xdisplay_inputx {
	margin: 0 !important;
}
.btn-social {
	margin-top: 20px;
}
.form-reg-field .form-control-feedback.left {
	border-right: 1px solid #ccc;
	left: 18px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #bbb !important;
	line-height: 28px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
	color: #73879c;
	padding-top: 2px;
}
.register-form .select2-container .select2-selection--single .select2-selection__rendered {
	padding-left: 50px !important;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	background-color: #fff;
}
.nav-md .container.body .col-md-3.left_col {
	background: #172D44 none repeat scroll 0 0;
}
.scroll-view {
	background: #172D44 none repeat scroll 0 0;
}
.toggle a i {
	font-size: 26px;
	color: #172D44;
}
.nav.side-menu > li.current-page, .nav.side-menu > li.active,
.nav-sm .nav.child_menu li.active, .nav-sm .nav.side-menu li.active-sm {
	border-right: 5px solid #58ABF7;
}
.site_title {
	font-size: 20px;
}

.top_search .form-control {
	border: 1px solid rgba(221, 226, 232, 0.49) !important;
}
.nav-landing-page .navbar-nav > li > a {
	line-height: normal !important;
}
.site_title {
	font-size: 19px !important;
}
.form-reg-field span.section {
	margin: 10px auto 20px;
	color: #73879c;
}
.title_left h3 {
	color: #003E80!important;
}
.x_panel {
	border: 1px solid #d0d0d0 !important;
	display: block;
	margin: 0 auto;
}


.admin-body {  background: #172D44 none repeat scroll 0 0;}


ul.bar_tabs > li.active {
    border-right:none !important; 
    border-top: 0 none;
    margin-top: -15px;
}
ul.bar_tabs {background:inherit !important; margin-top:30px !important; border-bottom: 1px solid #d0d0d0  !important; }

/*ul.bar_tabs > li {background:#172D44 !important;}*/
ul.bar_tabs > li a {
    background: #3F556C none repeat scroll 0 0 !important;
	color:#fff;
	font-weight:bold;
	 }
ul.bar_tabs > li a:hover {
	background-color:#172D44 !important;
}


    ul.bar_tabs > li.active {
        border-right: none !important;
        border-top: 0 none;
        margin-top: -15px;
    }

    ul.ubar_tabs > li.active {
        border-right: none !important;
        border-top: 0 none;
        margin-top: 0px;
    }
ul.ubar_tabs {
    background: inherit !important;
    margin-top: 30px !important;
    border-bottom: 1px solid #d0d0d0 !important;
}

    /*ul.bar_tabs > li {background:#172D44 !important;}*/
    ul.ubar_tabs > li a {
        background: #3F556C none repeat scroll 0 0 !important;
        color: #fff;
        font-weight: bold;
    }

        ul.ubar_tabs > li a:hover {
            background-color: #172D44 !important;
        }

ul.ubar_tabs > li.active {
    border-right: none !important;
    border-top: 0 none;
    margin-top: 0px;
}



.table { width:100% !important;}
.viwe-field a {color:#92A1B2;}

.title-full h3 {
    color: #003e80 !important;
    padding-bottom: 8px;} 

.tabs-bg {  margin-bottom:40px; padding:0 !important; margin-top:-15px !important;}

.tab-content {
    background: #fff none repeat scroll 0 0;
    margin: -15px 0 0;
	min-height: 600px;
    padding: 20px 20px; border-left:1px solid #d0d0d0 ; border-right:1px solid #d0d0d0 ; border:1px solid #d0d0d0;
}
.tab-content .tab-content {
	border:0;
}
.tab-content .tabs-left  li  a{
	background-color:#d6d6d6;
	color:#415B76;
}
.tab-content .tabs-left  li.active  a{
	border:0;
	background-color:#5bc0de !important;
	color:#fff;
}
.tablewrap{
	display:table;
	table-layout:fixed;
	height:100%;
	width:100%;
}
.tablewrap_fixwidth{
	display:table;
	table-layout:fixed;
	min-height:100%;
}
.tablecell{
	display:table-cell;
	height:100%;
	float:none;
}
.valignmiddle{
	vertical-align:middle;
}
.valigntop{
	vertical-align:top;
}
.form-table label{
	padding-top:0;
}
button.btn-rounded{
	border-radius:8px;
	padding:5px 10px;
	border:0;
	color:#fff;
	margin-right:0;
}
a.myIcon{
	color:#337ab7;
	font-size:18px;
	border: 1px solid;
    border-radius: 100%;
    display: inline-block;
    height: 30px;
    text-align: center;
    width: 30px;
	-webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover.myIcon{
	box-shadow:2px 2px 3px #000;
}
.form-inline .modal-body .form-control{
	width:100%;
}
i.circle{
	width:30px;
	height:30px;
	border-radius:100%;
	border:1px solid #5a738e;
	text-align:center;
	line-height:29px;
}







.radio + .radio{
	margin-top:10px;
}
.iradio_flat-green{
	width:21px;
	background-size:177px 22px;
}
.select_multiple span.select2, .select_multiple input, .select2-search, .select2{
	width:100% !important;
}
.select2-container--default.select2-container--focus .select2-selection--multiple{
	max-height:200px;
	overflow-y: scroll;
}
.select2-container--default .select2-selection--multiple .select2-selection__clear{
	margin:0;
	padding:0;
	display:none;
}
.select2-selection__clear{
	display:none;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice{
	padding-left:4px;
	padding-right:4px;
	width:82px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.selectusers{
	display:none;
	position:relative;
	margin-top:10px;
	background-color:#3f556c;
	padding:20px;
}
.selectusers label{
	margin-top:7px;
}
.push-notification-modal .alert-info{
	padding-right:24px;
}
.push-notification-modal .alert-info .close, .push-notification-modal .alert-info .close{
	position:absolute;
	top:0;
	right:0;
}
.alert{
	padding-top:4px;
	padding-bottom:4px;
}
.alert-danger, .alert-error{
	color:#fff;
}
.push-notification-modal .form-group{
	margin-top:10px;
}
.push-notification-modal .iradio_flat-green{
	font-size:0;
}
.modal-lg{
	width:80%;
}
.mselectbox{
	color:#000;
}
.buttons, button, .btn{
	margin-bottom:0;
}
.custom-btn-sm{
	font-size:12px;
	line-height:10px;
	border-radius:3px;
}
#hides, #shows{
	cursor:default;
}
a.icon_tooltip{
	cursor:pointer;
}
.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
#hides1, #shows1{
	font-size:0;
}
.accordion .panel-heading{
	background-color:#e7e8e9;
}
.dataTables_filter{
	width:auto;
}
div.dataTables_wrapper div.dataTables_filter input{
	width:200px;
}
.font11{
	font-size:11px;
}
.font16{
	font-size:16px;
}

.nav-md .container.body .col-md-3.left_col .navwidth i,
.nav-md .container.body .col-md-3.left_col .navwidth .navlabel{
	float:left;
	width:14%;
}
.nav-md .container.body .col-md-3.left_col .navwidth .navlabel{
	width:69%;
}
.nav-sm .container.body .col-md-3.left_col .navwidth i,
.nav-sm .container.body .col-md-3.left_col .navwidth .navlabel{
	float: none;
	width: auto;
}
.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover{
	color:#777;
	text-decoration:underline;
}
.pilotprofile ul.widget_profile_box li{
	float:none;
	width:auto;
}
.pilotprofile ul.count2{
	padding:5px 0;
	margin-bottom:5px;
}
.pilotprofile ul.count2 li{
	width:auto;
	list-style-type:none;
	text-align:left;
}
.pilotprofile ul.widget_profile_box li .profile_img{
	width:120px;
	height:120px;
	margin-top:-53px;
}
.pilotprofile i{
	border:1px solid #3f556c;
	width:40px;
	height:40px;
	font-size:24px;
	border-radius:100%;
	line-height:37px;
	margin-right:10px;
	text-align:center;
}
.col-md-55{
	width:25%;
}
.orangelink{
	color:#FF6D00;
}
.orangelink:hover{
	color:#FEAB6E;
}
.loaderwrap{
	position: fixed;
	width:100%;
	height:100%;
	background:url(../../Images/trans.png) repeat;
	z-index:9999;
	padding:0;
	margin:0;
	display:table;
	text-align:center;
}
.loaderdiv{
	display:table-cell;
	vertical-align:middle;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5em solid rgba(255, 255, 255, 1);
  border-right: 0.5em solid rgba(255, 255, 255, 1);
  border-bottom: 0.5em solid rgba(255, 255, 255, 1);
  border-left: 0.5em solid #337ab7;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.textellipsis{
	text-overflow:ellipsis;
	overflow:hidden;
	white-space:nowrap;
}
.input-group{
	margin-bottom:0;
}
.timeline .block{
	margin-left:20px;
}
#crop-avatar img{
	margin-left:auto;
	margin-right:auto;
}
.jqx-validator-hint{
	z-index:0 !important;
}
.selectwrap {
	position: relative;
	border: 4px solid #c2e1f5;
}
.tab-content .tabs-left li.active:after, .tab-content .tabs-left li.active:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.tab-content .tabs-left li.active:after {
	border-color: rgba(240, 0, 0, 0);
	border-left-color: #5bc0de;
	border-width: 8px;
	margin-top: -8px;
}
.tab-content .tabs-left li.active:before {
	border-color: rgba(194, 225, 245, 0);
	border-left-color: #5bc0de ;
	border-width: 9px;
	margin-top: -9px;
}
.selectwrap{
	overflow:hidden;
	border:1px solid #cccccc;
	position: relative;
}
.selectwrap select{
	width:106%;
	border:0 !important;
}
.selectwrap:after, .selectwrap:before {
	top: 15px;
	right:7px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.selectwrap:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color: #9F9F9F;
	border-width: 2px;
	margin-left: -2px;
}
.selectwrap:before {
	border-color: rgba(194, 225, 245, 0);
	border-top-color: #9F9F9F;
	border-width: 4px;
	margin-left: -4px;
}
.timeEntry-control{
	display:none !important;
}
.form-horizontal .control-label{
	padding-top:0;
}
.dropdown-menu{
	z-index:1051;
}
.filghtdatalog .fht-tbody{
	/*height:auto !important;*/
	height:auto;
}
.user_info .form-control-feedback.left{
    left: 18px;
}
.user_info .form-control-feedback{
    font-size: 15px;
    height: 23px;
    line-height: 24px;
    margin-top: 8px;
}
.topspace{
	padding:100px 0;
}
#divJpi .fht-tbody{
	overflow-y: scroll;
	
}
@media (min-width:768px) {
.containerFixwidth {
	width: 750px
}
}

@media (min-width:992px) {
.containerFixwidth {
	width: 970px
}
}

@media (min-width:1200px) {
.containerFixwidth {
	width: 1170px
}
}
@media  (max-width:1366px) {
	.navbar_login{
		margin-bottom:60px ;
	}
}
@media (max-width:1299px) {
	.col-md-55{
		width:33%;
	}
}
@media (max-width:992px) {
	.text-center-sm{
		text-align:center;
	}
	.valigntop-sm{
		vertical-align:top;
	}
	
}
@media (max-width:767px) {
    .h1, h1 {
        font-size: 30px;
    }

    footer {
        line-height: 14px;
        padding-top: 8px;
    }

    ul.bar_tabs > li {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    ul.bar_tabs {
        padding: 0;
    }

        ul.bar_tabs > li.active {
            margin-top: 0;
        }

        ul.ubar_tabs > li {
            width: 100%;
            padding: 0;
            margin: 0;
        }

    ul.ubar_tabs {
        padding: 0;
    }

        ul.ubar_tabs > li.active {
            margin-top: 0;
        }


    .col-md-55 {
        width: 50%;
    }

    .marginbottom5-xs {
        margin-bottom: 5px;
    }

    .tablecell, .tablewrap, .tablewrap_fixwidth {
        display: block;
    }

    .nopadding-xs {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    @media (max-width:500px) {
        .col-md-55 {
            width: 100%;
        }
    }

    .tile_count .tile_stats_count:before {
        content: "";
        position: absolute;
        left: 0;
        height: 135px;
        border-left: 2px solid #ADB2B5;
        margin-top: 10px;
    }

    .user-detail-div .col-md-2 {
        width: 19.667%;
    }

    .bar_tabs {
        margin-bottom: 40px;
    }


    