﻿@using GA.Common;
@using System.Configuration;
@{
    ViewBag.Title = "Dashboard";
    var master = "_InventoryLayout.cshtml";
    if (ViewBag.UserType == Enumerations.UserType.Admin.ToString())
    {
        master = "_Layout.cshtml";
    }
    Layout = "~/Views/Shared/" + master;
}
@if (ConfigurationManager.AppSettings["ServerName"].ToString().ToUpper() == "TEST")
{
    <style>
        .watermark {
            z-index: 0 !important;
            top: 5%;
        }

            .watermark span {
                -webkit-transform: rotate(228deg);
                -moz-transform: rotate(228deg);
                -o-transform: rotate(228deg);
                writing-mode: tb-rl;
            }

        div.dataTables_wrapper {
            width: 100% !important;
            margin: 0 auto;
            z-index: 2;
        }

        .table-striped > tbody > tr:nth-of-type(odd) {
            background-color: transparent !important;
        }

        .form-transparent input, .form-transparent select {
            background: transparent;
        }
    </style>
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script> 


