﻿@model List<GA.DataTransfer.Classes_for_Web.AircraftSummary>

<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th style="display:none">Sno</th>
            <th>Aircraft Listing</th>
            <th>Details</th>
            @if (ViewBag.UserType == "Admin" || ViewBag.UserType == "User")
            {
                <th>Action</th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td style="display:none">@item.SNO</td>
                <td>@item.aircraftNNumber</td>
                @if (item.TId == null)
                {
                    <td><a class="btn btn-primary btn-xs" onclick="subMsg();" style="background-color:#86accc"><i class="fa fa-search-plus"></i> View Details</a></td>
                    if (ViewBag.UserType == "Admin" || ViewBag.UserType == "User")
                    {
                        <td></td>
                    }
                }
                else
                {
                <td><a class="btn btn-primary btn-xs" href="@Url.Action("Index", "Data", new { aircraftId = @item.TId })"><i class="fa fa-search-plus"></i> View Details</a></td>
                if (ViewBag.UserType == "Admin" || ViewBag.UserType == "User")
                {
                    <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><span><a data-toggle="tooltip" data-placement="top" title="Delete aircraft?" class="hi-icon fa fa-trash btn-danger" onclick="DeleteAircraft('@item.TId')"></a></span></div></td>
                }
                }
            </tr>
        }
    </tbody>
</table>