﻿@model List<GA.DataTransfer.DataLogListing>


@{

    int profileId = Convert.ToInt32(ViewBag.ProfileId);
}




<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Registartion No</th>
            <th>Serial Number</th>
            <th>Model Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Text</td>
                <td>@item.AircraftSerialNo</td>
                <td>@item.AircraftModelNo</td>
                <td><a class="btn btn-primary btn-xs" href="@Url.Action("FlightListMobile", "Home", new { aircraftId = @item.pilotLogId, profileId = profileId })"><i class="fa fa-search-plus"></i> View Flights</a></td>
            </tr>
        }
    </tbody>
</table>