﻿@model List<GA.DataTransfer.Classes_for_Web.DocumentModelWeb>


<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>S.No.</th>
            <th style="width:30%">Title</th>
            <th>File Name</th>
            <th>Size</th>
            <th>Date Added</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.SNO</td>
                <td>@item.Title</td>
                <td><p><img src="@item.IconUrl" />&nbsp; <a href="@item.Url" target="_blank" style="color:black" >@item.Name</a>  </p> </td>
                <td>  @item.FileSize</td>
                <td>@item.LastUpdateDate</td>

                @*@if (item.CanDeleteDocument)
                {*@
                    <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"><span data-toggle="modal" data-target=".deleteflightbagdocument-modal"><a data-toggle="tooltip" data-placement="top" title="Delete this entry" class="hi-icon fa fa-trash btn-danger" id="@item.TId" onclick="DeleteDocument('@item.TId')"></a></span></div></td>
                @*}
                else
                {
                    <td></td>
                }*@

            </tr>
        }
    </tbody>
</table>