﻿@model List<GA.DataTransfer.DataLogListing>



 
<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Flight</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Text</td>
                <td><a class="btn btn-primary btn-xs" href="@Url.Action("FlightDataLogMobile", "Home", new { pilotLogId = @item.pilotLogId, aircraftId = @ViewBag.AircraftId, ProfileId = @ViewBag.ProfileId })"><i class="fa fa-search-plus"></i> View Datalog</a></td>
            </tr>
        }
    </tbody>
</table>