﻿@model List<GA.DataTransfer.DataLogListing>

<div class="col-sm-12 col-xs-12 table-responsive">

<table id="datatable-fixed-header" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Flight</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Text</td>
                <td><a class="btn btn-primary btn-xs" href="@Url.Action("FlightDataLog", "Home", new { pid = @item.TId, flag = 1, aid = @ViewBag.AircraftId })"><i class="fa fa-search-plus"></i> View Datalog</a></td>
            </tr>
        }
    </tbody>
</table>
</div>