﻿
<style>
    .black {
        color: black;
    }
	
    .red {
        background-color: red;
    }

    .yellow {
        background-color: yellow;
    }
	@media (max-width: 1023px) { 
	
 
	
	}
	
</style>
<script>

    function StartScrolling(event, delta) {
        this.scrollLeft -= (delta * 30);
        event.preventDefault();
    }

    $(document).ready(function (e) {
        $("#DataDiv").mousewheel(function (event, delta) {
            this.scrollLeft -= (delta * 30);
            event.preventDefault();
        });
    });

</script>

<div id="wraper">
    <div class="main_con">
        <div class="inn_con">
            @{
                string a = Html.ViewBag.LabelText;
                int profileId = Convert.ToInt32(ViewBag.ProfileId);
                string MethodName = ViewBag.ActionMethod;
                string IsCallFromPilot = ViewBag.VBIsCallFromPilotPage;
            }

            @Html.Label("Header", a ?? String.Empty, new { id = "lblHeader" })
            <br />

            <div class="wraper_table" id="DataDiv">
                @*<link href="~/content/css/960.css" rel="stylesheet" media="screen" />
                <link href="~/content/css/defaultTheme.css" rel="stylesheet" media="screen" />
                <link href="~/content/css/myTheme.css" rel="stylesheet" media="screen" />
                <script src="../vendors/new/jquery.fixedheadertable.js"></script>
                <script src="../vendors/new/demo.js"></script>*@
                <div class="container_12">
				
                    <div class="grid_4 filghtdatalog" id="divJpi">
					<div class="col-sm-12 col-xs-12 table-responsive">
                        @*<table class="fancyTable table table-striped table-bordered jambo_table" id="tblJpi">
                            <thead></thead>
                            <tbody></tbody>
                        </table>*@
                        <div class="outerbox">
                            <div class="innerbox">
                                <table class="bluetable" id="tblJpi" cellpadding="0" cellspacing="0">
                                    <thead>

                                    </thead>

                                    <tbody></tbody>
                                </table>
                            </div><!-- innerbox -->
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <br />
        </div>
		</div>
    </div>
</div>
