﻿@model List<GA.DataTransfer.Classes_for_Web.LicensesModelWeb>
@using GA.Common;
<table id="datatable-fixed-headerLicense" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Type</th>
            <th>BFR Valid Until </th>
            <th>Reference Number</th>
            <th>Rating</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.Type</td>
                <td>@item.ValidUntil</td>
                <td>@item.ReferenceNumber</td>
                <td>
                    <button data-target=".addrating-modal" data-toggle="modal" onclick="setLicenseId('@item.TId')" class="btn-rounded btn-warning custom-btn-sm marginbottom10 marginleft15"><i class="fa fa-star"></i> Add Rating</button>
                    <ul class="list-unstyled timeline">
                        @foreach (var rItem in @item.Ratingslist)
                        {
                            <li>
                                <div class="block">
                                    <div class="block_content clearfix">
                                        <div class="col-sm-9 col-md-9 no-padding">
                                            <h2 class="title">@rItem.Type</h2>
                                            <p class="excerpt"> @GA.Common.Misc.dateToMMDDYYYY(rItem.ValidUntil)  </p>
                                        </div>
                                        <div class="col-sm-3 col-md-3 no-padding valignmiddle valigntop-sm text-right">
                                            <span data-toggle="tooltip" data-placement="top" title="Edit Rating">
                                                <a href="javascript:void(0);" onclick="setLicenseAndRatingId('@item.TId','@rItem.TId','@rItem.Type',' @GA.Common.Misc.dateToMMDDYYYY(rItem.ValidUntil)');" data-toggle="modal" data-target=".editrating-modal" class="fa fa-edit font16"></a>
                                            </span>
                                            <span data-toggle="tooltip" data-placement="top" title="Delete Rating">
                                                <a href="javascript:void(0);" onclick="deleteRating('@rItem.TId');" class="fa fa-trash font16"></a>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }

                    </ul>
                </td>
                <td>
                    @if (Session["UserType"] as string != Enumerations.UserType.DemoUser.ToString())
                    {
                        <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">
                            <span data-toggle="tooltip" data-placement="top" title="Edit License?">
                                <a href="javascript:void(0);" onclick="editLicense('@item.Type','@item.ValidUntil','@item.ReferenceNumber','@item.TId')" data-toggle="modal" data-target=".editlicenseandrating-modal_2" class="hi-icon fa fa-edit btn-primary"></a>
                            </span>
                            <span data-toggle="tooltip" data-placement="top" title="Delete License?">
                                <a href="javascript:void(0);" onclick="deleteLicense('@item.TId')" class="fa fa-trash hi-icon btn-danger"></a>
                            </span>
                        </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>