﻿@model List<GA.DataTransfer.Classes_for_Web.MedicalCertificateModelWeb>
@using GA.Common;



<table id="datatable-fixed-headerMed" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Class</th>
            <th>Valid Until</th>
            <th>Reference Number</th>
            <th>Other</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td id="tdMedClass">@item.ClassName</td>
                <td id="tdMedValidUntil">@item.ValidUntil</td>
                <td>@item.ReferenceNumber</td>
                <td>@item.Type</td>
                <td>
                    @if (Session["UserType"] as string != Enumerations.UserType.DemoUser.ToString())
                    {
                    <div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">

                        <span data-toggle="tooltip" data-placement="top" title="Edit Medical Certificate"><a href="javascript:void(0);" onclick="setMedicalCertificateValues('@item.ClassId','@item.ValidUntil','@item.ReferenceNumber','@item.Type','@item.TId')" data-toggle="modal" data-target=".editmedicalcertificate-modal" class="hi-icon fa fa-edit btn-primary"></a></span>
                        <span data-toggle="tooltip" data-placement="top" title="Delete Medical Certificate?"><a href="javascript:void(0);" onclick="deleteMedCertificate('@item.TId')" class="fa fa-trash hi-icon btn-danger"></a></span>
                    </div>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>