﻿@model List<GA.DataTransfer.ListItems>


<table id="datatable-fixed-headerRestore" class="table jambo_table table-striped table-bordered">
    <thead>
        <tr>
            <th>Aircraft Name</th>
            <th>Restore Aircraft</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr id="tr_@item.value">
                <td>
                   @item.text
                </td>
                <td>

                    @Html.CheckBox("c", false, new { id = item.value })
                </td>
            </tr>
        }
    </tbody>
</table>