﻿@model List<GA.DataTransfer.Classes_for_Web.UserEmailWeb>


@{
    var isEmailEnable = 0;
}

<table id="datatable-fixed-headerEmailList" class="table jambo_table table-striped table-bordered">
    <thead>
        <tr>
            <th>Email Id</th>
            <th>Enabled</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>@item.EmailId </td>
                @if(@item.IsEnabled)
                {
                <td>
                @*<input type="checkbox" checked="checked" value="">*@
                    True
                </td>
                    isEmailEnable = 1;
                }
                else{
                <td>
                @*<input type="checkbox" value="">*@
                    False
                </td>
                    isEmailEnable = 0;
                }  

                
                <td><div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a"> 
                    <span data-toggle="tooltip" data-placement="top" title="Edit this entry"><a href="javascript:void(0);" onclick="SetEmailText('@item.EmailId', @isEmailEnable,'@item.TempId')" data-toggle="modal" data-target=".editemail-modal" class="hi-icon fa fa-edit btn-primary"></a></span>
                        <a data-toggle="tooltip" data-placement="top" title="Delete this user" class="hi-icon fa fa-trash btn-danger" onclick="DeleteEmail('@item.TempId')"></a> </div></td>
            </tr>
        }
        
    </tbody>
</table>

<script type="text/javascript">

    
    $(document).ready(function () {
        if(@Model.Count() == 5)
        {
            $('#btnAddEmail').attr('disabled', 'disabled');
        }
        else{
            $('#btnAddEmail').removeAttr( "disabled" );
        }
    });
    
</script>