﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Guardian Avionics</title>
    <link rel="stylesheet" href="~/content/quote_novated" type="text/css">
    <!-- Bootstrap -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/content/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/content/css/custom.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
    <link href="~/content/css/responsive.css" rel="stylesheet">
    <link href="~/content/css/creative1.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', '@GA.Common.ConfigurationReader.GoogleAnalyticsId', 'auto');
        ga('send', 'pageview');

    </script>
    <style>
        .wrapper {
            min-height: 100%;
            position: relative;
        }

         /* footer {
          position: absolute;
            bottom: 0;
            width: 100%;
        }*/
		
		
		
		

footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   background:#172D44;
	color: #fff;
	  color: #fff;
    font-size: 15px;
    line-height: 45px;
	height: 45px;
}

/* IE 6 */
* html #footer {
   position:absolute;
   top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}


		
	
    </style>
</head>
<body id="page-top">


    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand page-scroll" href="#page-top"> <img src="../Images/logo_smartCloudw_nl.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right nav-landing-page">
                    <li> <a class="page-scroll" href="@Url.Action("", "Home")">Home</a> </li>
                    <li> <a class="page-scroll" href="@Url.Action("AboutUs", "Home")">About Us</a> </li>
                    <!--<li> <a class="page-scroll" href="#services">Services</a> </li>-->
                    <li> <a class="page-scroll" href="@Url.Action("ContactUs", "Home")">Contact Us</a> </li>
                    <li> <a class="page-scroll" href="@Url.Action("Login", "Home")">Login</a> </li>
                    <li> <a class="page-scroll" href="@Url.Action("Register", "Home")">Sign Up</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    
    <section id="about" class="topspace container-fluid">
        <div class="container containerFixwidth">
            <div class="col-sm-12 col-xs-12">
                <h1>About Guardian Avionics</h1>

                <p>Established in 1999, Guardian Avionics (CO Guardian LLC) is a leading provider of Carbon Monoxide detectors and connected cockpit solutions for General Aviation. With products serving both the experimental & homebuilt aircraft market and the FAA certified aircraft market with TSO Certified products, Guardian Avionics offers a range of panel mounted, remote mounted, and portable CO detection units. Guardian Avionics products are featured as standard safety equipment for new aircraft from OEMs including Cessna Aircraft, Cirrus Aircraft, Piper Aircraft, Diamond Aircraft Industries, and Beechcraft Corporation.</p>

                <p>Guardian Avionics also produces the iFDR line of flush mounted cockpit instrument panel mounts for iPad and iPhone products as a growing portfolio of iFDR products to connect aircraft GPS and engine monitors to iOS applications, providing greater functionality of iPad and iPhone units as tools in the cockpit.</p>

                <p>Guardian Avionics is based in Tucson, Arizona with its headquarters at Tucson International Airport (KTUS). We are a proud member of the Aircraft Electronics Association (AEA), Aircraft Owners and Pilots Association (AOPA), Experimental Aircraft Association (EAA), National Business Aviation Association (NBAA), and the Arizona Business Aviation Association (AZBAA).</p>

                <p>Sales and Support staff are available Monday through Friday from 8:00 am to 5:00 pm Mountain Standard Time.</p>
                <h1>Our Mission</h1>

                <p>Our primary focus is to provide the best protection and detection carbon monoxide hazards in aircraft and vehicles and to develop solutions to effectively combat these hazards. We additionally strive to innovate and enhance situational awareness in aircraft by providing products that integrate personal tablet and phone products into the flight deck – enabling easier use of industry-leading applications by flight crews.</p>

                <p>We are committed to using the best components and testing methods through all phases of design and manufacturing, creating a superior product for the industry. We believe in recruiting and retaining the best team to provide outstanding products, customer service, and support before, during and after all sales.</p>

                <p>Guardian Avionics is dedicated to keeping it small, simple, and affordable for our customers! </p>
            </div>
        </div>
    </section>
    


    <footer class="container-fluid" style="margin-left: 0;">
        <div class="text-center"> GuardianAvionics.com © 2017 | All Rights Reserved </div>
    </footer>
    <!-- jQuery -->
    <script src="~/js/jquery.js"></script>



    <!-- Bootstrap Core JavaScript -->


    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/creative.js"></script>
</body>
</html>
