﻿@model List<GA.DataTransfer.DataLogListing>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Guardian Avionics</title>
    <script src="~/js/jquery.js"></script>
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/content/css/dataTables.bootstrap.min.css" rel="stylesheet">


    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="~/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Datatables -->
    <script>
        $(document).ready(function () {
            $('#datatable-fixed-header').dataTable();

            $('.current-page').removeAttr('class').addClass('navwidth');
            if ('@ViewBag.CallFrom' == 'PilotLog') {
                $('#liSideMenuPilotLogList').addClass('current-page');
            }
            else {
                $('#liSideMenuDataLog').addClass('current-page');
            }
        });
    </script>

</head>
<body>
@*<div class="container-fluid" style=" background: rgba(41, 71, 126, 0.88) none repeat scroll 0 0 !important;
    border-color: #29487e !important; padding:10px">

 <a href="#page-top"> <img src="../Images/logo.png"></a>

</div>*@
</br>
    <div class="container">
       

        <div class="col-md-12 col-xs-12 no-padding margintop20">
            <div class="x_panel clearfix">
                <div id="divAircraftList">
                    @Html.Partial("_AircraftListDataLogMobile", Model)
                </div>
            </div>
        </div>
        
    </div>
</body>
</html>
