﻿@model List<GA.DataTransfer.DataLogListing>

@{
    ViewBag.Title = "AircraftList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<script src="~/js/jquery.js"></script>
 

<div class="col-md-12 col-xs-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div id="divAircraftList">
            @Html.Partial("_AircraftListDatalog", Model)
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var table = $('#datatable-fixed-header, #datatable-fixed-header1').DataTable({
            fixedHeader: true
        });
    });
</script>