﻿@model GA.DataTransfer.LoginOTPModel
@{
    ViewBag.Title = "AuthenticationCode";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Guardian Avionics</title>
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/content/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/content/css/custom.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
    <link href="~/content/css/responsive.css" rel="stylesheet">
    <link href="~/content/css/green.css" rel="stylesheet">
    <script src="~/js/validator.min.js"></script>
    @*<script src="~/Scripts/jquery-1.8.2.js"></script>*@
    <script src="~/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/custom.js"></script>
    <!-- iCheck -->
    <script src="~/js/flogin.js"></script>
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <script src="~/Scripts/icheck.js"></script>
    <style>
        .validation-summary-errors {
            font-size: 14px;
            color: red;
        }

        .wrapper {
            position: relative;
            min-height: 100%;
            width: 100%;
        }

        .login-page {
            padding: 10px;
            padding-bottom: 45px;
            /*Height of the footer;*/
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 45px; /* Height of the footer */
        }

        .navbar_login {
            position: static;
            margin-bottom: 80px;
        }

        h5 {
            color: orangered;
        }
    </style>
</head>
<body id="page-top">
    <img class="full-screen-background-image" src="../Images/login.jpg" />
    <div class="wrapper">
        <nav id="mainNav" class="navbar navbar_login navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand page-scroll" href="#page-top"> <img src="../Images/logo_smartCloudw_nl.png"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-landing-page" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a class="page-scroll" href="@Url.Action("", "Home")">Home</a> </li>
                        <li> <a class="page-scroll" href="@Url.Action("AboutUs", "Home")">About Us</a> </li>
                        <!--<li> <a class="page-scroll" href="Index.cshtml">Services</a> </li>-->
                        <li> <a class="page-scroll" href="@Url.Action("ContactUs", "Home")">Contact Us</a> </li>
                        <li> <a class="page-scroll" href="@Url.Action("Login", "Home")">Login</a> </li>
                        <li> <a class="page-scroll" href="@Url.Action("Register", "Home")">Sign Up</a> </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="container" style="width:100%; min-height: 100%;">
            <div class="login-inner col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 col-xs-10 col-xs-offset-1" style="min-height: 100%;">
                <img src="../Images/avatar_2x.png" class="profile-img-card" id="profile-img">

                <div class="form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6"><h1>Welcome to Guardian Avionics</h1></div>
                    <div class="col-sm-12"><h5>Two factor authentication , Please enter OTP code sent on your registered phone number and email id </h5></div>
                </div>

                @using (@Html.BeginForm("AuthenticationCode", "Home", new { }, FormMethod.Post, new { @class = "form-horizontal container" })) // , new { }
                {

                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback no-padding">
                            @Html.TextBoxFor(Model => Model.OTP, new { @class = "form-control has-feedback-left", placeholder = "Enter OTP ", id = "tbxOTP" }) <span aria-hidden="true" class="fa fa-key form-control-feedback left"></span> @Html.ValidationMessageFor(Model => Model.OTP, string.Empty, new { id = "ValOTPId", @style = "color:red" })
                        </div>
                    </div>
                    @Html.ValidationSummary(true)
                    <div class="row  ">
                        <div class="form-group">
                            <div class="col-md-7 centered">
                                <input type="submit" value="Validate" class="btn btn-primary col-md-12 col-xs-12" id="btnLogin" />
                            </div>
                        </div>
                    </div>
                }

                <div class="row  ">
                    <div class="form-group">
                        <div class="col-md-7 centered">
                            <a class="btn btn-primary col-md-12 col-xs-12" id="resend" onclick="ResendOTP();">Resend OTP</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer class="container-fluid" style="margin-left: 0;">
            <div class="text-center"> GuardianAvionics.com © 2017 | All Rights Reserved </div>
        </footer>
    </div>

    <!-- jQuery -->
</body>
</html>
<script type="text/javascript">
    function ResendOTP() {
        $.post("/IMounts/Home/GenerateOTPForAuthentication", {
            Phonenumber: "",
            emailId:""
        }, function (data) {

        });
    }
</script>
