﻿@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
}



<script type="text/javascript">

    $(document).ready(function () {
        $('#divLoader').hide();
        var mesage = '@ViewBag.message';
        if (mesage.indexOf("Success") >= 0) {
            var arr = mesage.split(',');
            $('#hdnEmail').val(arr[1]);
        } else {
            bootbox.alert(mesage, function () {
                window.location.href = '/Home/login';
            });
            
        }

        $('#txtNewPassword, #txtRetypePassword').keypress(function (e) {
            if (e.which == 8 || e.which == 0) {
                return true;
            }
            else {
                var regex = new RegExp("^[a-zA-Z0-9]+$");
                var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (regex.test(str)) {
                    return true;
                }
            }

            e.preventDefault();
            return false;
        });

        $('#btnEmailOrSerQueSubmit').click(function () {
            $("#snpErrNewPasswordReq").attr("style", "display:none;color:red");
            $("#snpErrConfirmPasswordReq").attr("style", "display:none;color:red");
            if ($('#txtNewPassword').val() == '' || $('#txtRetypePassword').val() == '')
            {
                if ($('#txtNewPassword').val() == '') {
                    $("#snpErrNewPasswordReq").html('@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()');
                    $("#snpErrNewPasswordReq").attr("style", "display:block;color:red");
                }

                if ($('#txtRetypePassword').val() == '') {
                    $("#snpErrConfirmPasswordReq").html('@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()');
                    $("#snpErrConfirmPasswordReq").attr("style", "display:block;color:red");
                }
            }
           
            else if ($('#txtNewPassword').val().length < 6 || $('#txtNewPassword').val().length > 20) {
                $("#snpErrNewPasswordReq").html('@GA.Common.ResourcrFiles.UserProfile.Messages.PasswordLimit.ToString()');
                $("#snpErrNewPasswordReq").attr("style", "display:block;color:red");
            }
            else if ($('#txtRetypePassword').val().length < 6 || $('#txtRetypePassword').val().length > 20) {
                $("#snpErrConfirmPasswordReq").html('@GA.Common.ResourcrFiles.UserProfile.Messages.PasswordLimit.ToString()');
                $("#snpErrConfirmPasswordReq").attr("style", "display:block;color:red");
            }
            else if ($('#txtNewPassword').val().trim() == '') {
                $("#snpErrNewPasswordReq").html('Invalid password');
                $("#snpErrNewPasswordReq").attr("style", "display:block;color:red");
            }
            else if ($('#txtRetypePassword').val().trim() == '') {
                $("#snpErrConfirmPasswordReq").html('Invalid password');
                $("#snpErrConfirmPasswordReq").attr("style", "display:block;color:red");
            }
            else if ($('#txtNewPassword').val() != $('#txtRetypePassword').val()) {
                $("#snpErrConfirmPasswordReq").html('@GA.Common.ResourcrFiles.UserProfile.Messages.ConfirmPasswordNotMatch.ToString()');
                $("#snpErrConfirmPasswordReq").attr("style", "display:block;color:red");
            }
            else {
                $.ajax({
                    url: '@Url.Action("ChangePasswordByEmail", "Home")',
                    data: {
                        "email": $('#hdnEmail').val(),
                        "newPassword": $('#txtNewPassword').val(),
                        "UniqueCode": '@ViewBag.UniqueCode'
                    },
                    success: function (data) {
                        if (data.message != 'Success') {
                            bootbox.alert('@GA.Common.ResourcrFiles.Common.Messages.ErrorWhileProcessing.ToString()', function () {
                            });
                        } else {
                            bootbox.alert('@GA.Common.ResourcrFiles.Common.Messages.UpdateRecord.ToString()', function () {
                                window.location.href = '/Home/login';
                            });
                          
                        }
                    }
                });
            }
        });

        $('#btnCancel').click(function () {
            window.location.href = '/Home/login';
        });
    });
</script>


<div class="container containerFixwidth">
    <div class="col-xs-12">
        <h3>Change Password</h3>
        <input type="hidden" id="hdnEmail" value="1" />

        <div class="form-horizontal form-table form-label-left form-reg-field clearfix">
            <div class="col-sm-6 col-xs-12 nopadding-xs">
                <div class="item form-group clearfix tablewrap">
                    <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle">New Password <span class="required">*</span>:</label>
                    <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
                        <input type="password" id="txtNewPassword" class="form-control" maxlength="20" />
                        <span id="snpErrNewPasswordReq" style="color:red;display:none">Password cannot be left blank.</span>
                      
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6 col-xs-12 nopadding-xs">
                <div class="item form-group clearfix tablewrap">
                    <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle">Confirm Password <span class="required">*</span>:</label>
                    <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
                        <input type="password" id="txtRetypePassword" class="form-control" maxlength="20" />
                        <span id="snpErrConfirmPasswordReq" style="color:red;display:none">Confirm password cannot be left blank.</span>
                      
                    </div>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="margintop20 btn_set">
            <input type="button" id="btnEmailOrSerQueSubmit" value="Submit" class="btn btn-primary" />
            <input type="button" id="btnCancel" value="Cancel" class="btn btn-danger" />

        </div>


    </div>
</div>