﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Guardian Avionics</title>
    <link rel="stylesheet" href="~/content/quote_novated" type="text/css">
    <!-- Bootstrap -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/content/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/content/css/custom.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
    <link href="~/content/css/responsive.css" rel="stylesheet">
    <link href="~/content/css/creative1.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        <style>
		.wrapper{
			min-height:100%;
			position:relative;
		}
		footer{
			position:absolute;
			bottom:0;
			width:100%;
		}
		</style>
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', '@GA.Common.ConfigurationReader.GoogleAnalyticsId', 'auto');
        ga('send', 'pageview');

    </script>
</head>
<body id="page-top">

<div class="wrapper">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                <a class="navbar-brand page-scroll" href="#page-top"> <img src="../Images/logo_smartCloudw_nl.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right nav-landing-page">
                    <li> <a class="page-scroll" href="@Url.Action("", "Home")">Home</a> </li>
                    <li> <a class="page-scroll" href="@Url.Action("AboutUs", "Home")">About Us</a> </li>
                    <!--<li> <a class="page-scroll" href="#services">Services</a> </li>-->
                    <li> <a class="page-scroll" href="@Url.Action("ContactUs", "Home")">Contact Us</a> </li>
                    <li> <a class="page-scroll" href="@Url.Action("Login", "Home")">Login</a> </li>
                    <li> <a class="page-scroll" href="@Url.Action("Register", "Home")">Sign Up</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <section id="contact" class="topspace container-fluid">
        <div class="container containerFixwidth">
        <div class="col-sm-12">
                <div class="col-lg-8 col-lg-offset-2 col-xs-12 text-center">
                    <h1 class="section-heading">Let's Get In Touch!</h1>
                    <hr class="primary">
                </div>
                <div class="col-lg-4 col-lg-offset-4 col-xs-12 text-center">
                    <p>
                        1951 East Airport Drive<br />
                        Tucson, AZ. 85756<br />
                        US<br /><br />
                        <strong>Phone:</strong> (520) 889-1177<br />
                        <strong>Hours:</strong> Mon - Fri 8:00 am to 5:00 pm MST
                    </p>
                </div>
                </div>
        </div>
    </section>


    <footer class="container-fluid" style="margin-left: 0;">
        <div class="text-center"> GuardianAvionics.com © 2017 | All Rights Reserved </div>
    </footer>
    </div>
    <!-- jQuery -->
    <script src="~/js/jquery.js"></script>



    <!-- Bootstrap Core JavaScript -->


    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/creative.js"></script>
</body>
</html>
