﻿@model List<GA.DataTransfer.Classes_for_Web.DocumentModelWeb>


<script src="~/js/jquery.js"></script>


<script src="~/js/bootbox.js"></script>
@{
    ViewBag.Title = "Document";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<script type="text/javascript">
    var table;
    $(document).ready(function (e) {
          table = $('#datatable-fixed-header, #datatable-fixed-header1').DataTable({
            //fixedHeader: true,
            //"order": [[0, "desc"]]
        });
    });

    function UploadDocument() {
        if ($('#txtTitle').val() == '' || $("#uploadBtn").get(0).files.length == 0) {
            if ($('#txtTitle').val() == '') {
                $('#snpErrtxtTitle').attr('style', 'color:red;display:block');
            }
            else {
                $('#snpErrtxtTitle').attr('style', 'color:red;display:none');
            }
            console.log('file count = ' + $("#uploadBtn").get(0).files.length);
            if ($("#uploadBtn").get(0).files.length == 0) {
                $('#snpErrDocument').attr('style', 'color:red;display:block');
            }
            else {
                $('#snpErrDocument').attr('style', 'color:red;display:none');
            }
        }
        else if ($("#uploadBtn").get(0).files[0].size != 0) {

            $('#snpErrtxtTitle').attr('style', 'color:red;display:none');
            $('#snpErrDocument').attr('style', 'color:red;display:none');

            var frmdata = new FormData();
            var files = $("#uploadBtn").get(0).files;
            var random = epicRandomString(10);
            var arrFileName = files[0].name.toLowerCase().split('.');
            var fileExtension = arrFileName[arrFileName.length - 1];
            var uniqueName = random + "." + fileExtension;
            var title = $('#txtTitle').val();

            $('#btnCancel').click();
            $('#btnCancel').click();

            var validExtensions = ['pdf', 'xls', 'xlsx', 'doc', 'docx', 'ppt', '.pptx', 'rtf', 'key', 'number', 'pages', 'jpg', 'jpeg', 'png', 'txt','gif','tif','tiff','bmp','wav','aac','mp3', 'csv'];
            //var fileExtension = files[0].name.toLowerCase().split('.').pop();
            var arrFileName = files[0].name.toLowerCase().split('.');
            var fileExtension = arrFileName[arrFileName.length - 1];
            if ($.inArray(fileExtension, validExtensions) == -1) {
                // invalid extention
                bootbox.alert('Invalid file type.', function () {
                });
                return;
            }
            else {
                var isduplicate = false;
                $('#myLoadingElement').show();
                $.post('@Url.Action("CheckDocumentExist", "Data")', { docName: files[0].name }, function result(data) {
                    // if duplicate
                    if (data.msg) {
                        $('#myLoadingElement').hide();
                        bootbox.confirm("File with same name exist. Do you want to replace it.", function (result) {
                            if (result) {
                                $('#myLoadingElement').show();
                                isduplicate = true;
                                frmdata.append("HelpSectionImages", files[0]);
                                frmdata.append("Title", title);
                                frmdata.append("UniqueName", uniqueName);
                                frmdata.append("isDuplicate", isduplicate);
                                frmdata.append("docId", data.docId);
                                $.ajax({
                                    url: '@Url.Action("/SaveDocument")',
                                    type: "POST",
                                    processData: false,
                                    contentType: false,
                                    data: frmdata,
                                    success: function (response) {
                                        if (response == 'Session Expire') {
                                            window.location = '/Home/Login?id=1';
                                        }
                                        else {
                                            //code after success
                                            $('#divDocumentPartial').html(response);
                                            $('#datatable-fixed-header').dataTable({
                                                //fixedHeader: true,
                                                //"order": [[0, "desc"]]
                                            });
                                            $('.fixedHeader-floating').remove();
                                            $("#uploadBtn").val('').clone(true);
                                            $("#uploadFile").val('');
                                            //$('#btnCancel').click();
                                            //$('#btnCancel').click();
                                            $('#myLoadingElement').hide();
                                            bootbox.alert('Document uploaded successfully.', function () {
                                            });
                                            ga('send', 'event', 'Button', 'Click', 'AddFlightBagDocByUser');
                                        }
                                    },
                                    error: function (er) {
                                        alert(er);
                                    }
                                });
                            }
                        });
                    }
                    else {
                        frmdata.append("HelpSectionImages", files[0]);
                        frmdata.append("isDuplicate", isduplicate);
                        frmdata.append("Title", title);
                        frmdata.append("UniqueName", uniqueName);
                        frmdata.append("docId", 0);
                        $.ajax({
                            url: '@Url.Action("/SaveDocument")',
                            type: "POST",
                            processData: false,
                            contentType: false,
                            data: frmdata,
                            success: function (response) {
                                if (response == 'Session Expire') {
                                    window.location = '/Home/Login?id=1';
                                }
                                else {
                                    //code after success
                                    $('#divDocumentPartial').html(response);
                                    $('#datatable-fixed-header').dataTable({
                                        //fixedHeader: true,
                                        //"order": [[0, "desc"]]
                                    });
                                    $('.fixedHeader-floating').remove();
                                    $("#uploadBtn").val('').clone(true);
                                    //$('#btnCancel').click();
                                    //$('#btnCancel').click();
                                    $('#myLoadingElement').hide();
                                    bootbox.alert('Document uploaded successfully.', function () {
                                    });
                                    ga('send', 'event', 'Button', 'Click', 'UpdateFlightBagDocByUser');
                                }
                            },
                            error: function (er) {
                                alert(er);
                            }
                        });
                    }
                });
            }
        }
        else {
            bootbox.alert('File size cannot be 0 bytes.', function () {
            });
        }
    }

    function epicRandomString(b) { for (var a = (Math.random() * eval("1e" + ~~(50 * Math.random() + 50))).toString(36).split(""), c = 3; c < a.length; c++) c == ~~(Math.random() * c) + 1 && a[c].match(/[a-z]/) && (a[c] = a[c].toUpperCase()); a = a.join(""); a = a.substr(~~(Math.random() * ~~(a.length / 3)), ~~(Math.random() * (a.length - ~~(a.length / 3 * 2) + 1)) + ~~(a.length / 3 * 2)); if (24 > b) return b ? a.substr(a, b) : a; a = a.substr(a, b); if (a.length == b) return a; for (; a.length < b;) a += epicRandomString(); return a.substr(0, b) };


    function DeleteDocument(id) {

        bootbox.confirm("Are you sure to delete the document?", function (result) {
            if (result) {
                $.post("/IMounts/Home/DeleteDocument", { documentId: id }, function (data) {
                    if (data == 'Session Expire')
                    {
                        window.location = '/Home/Login?id=1';
                    }
                    else if (data == 'Invalid Request') {
                        bootbox.alert('Invalid Request.', function () {
                        });
                    }
                    else {
                        $('#divDocumentPartial').html(data);
                        $('#datatable-fixed-header').dataTable({
                            //fixedHeader: true,
                            //"order": [[0, "desc"]]
                        });
                        bootbox.alert('Document deleted successfully.', function () {
                        });
                        ga('send', 'event', 'Button', 'Click', 'DeleteFlightBagDocByUser');
                    }
                });
            }
        });

    }

    function resetModel() {
        $('#txtTitle').val('');
        $('#snpErrtxtTitle').attr('style', 'color:red;display:none');
        $('#snpErrDocument').attr('style', 'color:red;display:none');
        $("#uploadBtn").clone(true);
        $("#uploadBtn").val('');
        $("#uploadFile").val('');

    }

</script>


<div class="x_panel clearfix">
    <div class="x_content">
        <button class="btn-rounded btn-primary marginbottom10 pull-right" onclick="resetModel()" data-toggle="modal" data-target=".addflightbagdocument-modal"><i class="fa fa-plus-circle"></i> Add Document</button>
        <div id="divDocumentPartial">
            @Html.Partial("_DocumentPartial", Model)
        </div>
    </div>
</div>

<!--script for upload file button ui-->
<!--script for upload file button ui-->
<!----------modal popup for add flight bag documents starts---------->
<div class="modal fade addflightbagdocument-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add Flight Bag Document</h3>
            </div>
            <div class="modal-body clearfix">
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Title<span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <input type="text" name="txtTitle" id="txtTitle" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            <span id="snpErrtxtTitle" style="color:red;display:none">Title cannot be left blank.</span>
                        </div>
                    </div>
                    <div class="form-group col-lg-12 col-sm-12 col-xs-12 no-padding">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Upload File<span class="required">*</span></label>
                        <div class="col-md-8 col-sm-6 col-xs-12 clearfix">
                            <div class="col-md-9 no-padding">
                                <input id="uploadFile" class="form-control col-md-7 col-xs-12" placeholder="Choose File" disabled="disabled" />
                                <br />
                                <span id="snpErrDocument" style="color:red;display:none">Please select the file.</span>
                            </div>
                            <div class="col-md-3 no-padding">
                                <div class="fileUpload btn btn-primary btn-block">
                                    <span>Upload</span>
                                    <input id="uploadBtn" type="file" class="upload" />
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="UploadDocument()" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.getElementById("uploadBtn").onchange = function () {
        document.getElementById("uploadFile").value = this.value;
    };
</script> 