﻿@model List<GA.DataTransfer.DataLogListing>

@{
    ViewBag.Title = "FlightList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<script src="~/js/jquery.js"></script>

    <script type="text/javascript">
 
        $(document).ready(function (e) {
            $('.current-page').removeAttr('class').addClass('navwidth');
            if ('@ViewBag.CallFrom' == 'PilotLog') {
                $('#liSideMenuPilotLogList').addClass('current-page');
            }
            else {
                $('#liSideMenuDataLog').addClass('current-page');
            }

            var table = $('#datatable-fixed-header, #datatable-fixed-header1').DataTable({
                fixedHeader: true
            });
        });
    </script>

<div class="col-md-12 col-xs-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div class="clearfix" style="margin-bottom:15px;">
            <div class="col-sm-6 no-padding"><a href="@Url.Action("AircraftList", "Home")"><i class="circle fa fa-list-ul"></i> Back to aircraft list</a></div>
            <div class="col-sm-6 no-padding">

            </div>
        </div>

        <div id="divFlightList">
            @Html.Partial("_FlightListDatalog", Model)
        </div>
    </div>
</div>