﻿@model List<GA.DataTransfer.DataLogListing>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Guardian Avionics</title>
    <script src="~/js/jquery.js"></script>
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
	<link href="~/content/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/content/css/dataTables.bootstrap.min.css" rel="stylesheet">


    <!-- Datatables -->
    <script src="~/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/vendors/datatables.net-buttons-bs/js/buttons.bootstrap.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.flash.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.html5.min.js"></script>
    <script src="~/vendors/datatables.net-buttons/js/buttons.print.min.js"></script>
    <script src="~/vendors/datatables.net-fixedheader/js/dataTables.fixedHeader.min.js"></script>
    <script src="~/vendors/datatables.net-keytable/js/dataTables.keyTable.min.js"></script>
    <script src="~/vendors/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/vendors/datatables.net-responsive-bs/js/responsive.bootstrap.js"></script>
    <script src="~/vendors/datatables.net-scroller/js/datatables.scroller.min.js"></script>
    <script src="~/vendors/jszip/dist/jszip.min.js"></script>
    <script src="~/vendors/pdfmake/build/pdfmake.min.js"></script>
    <script src="~/vendors/pdfmake/build/vfs_fonts.js"></script>

    <!-- Datatables -->
    <script>
        $(document).ready(function () {
            $('#datatable-fixed-header').dataTable();
        });
    </script>
</head>
<body>
@*<div class="container-fluid" style=" background: rgba(41, 71, 126, 0.88) none repeat scroll 0 0 !important;
    border-color: #29487e !important; padding:10px">

 <a href="#page-top"> <img src="../Images/logo.png"></a>

</div>*@
</br>
    @{
        
        int profileId = Convert.ToInt32(ViewBag.ProfileId);
    }
<div class="container">
    <div class="col-md-12 col-xs-12 no-padding margintop20">
        <div class="x_panel clearfix">
            <div class="clearfix" style="margin-bottom:15px;">
                <div class=""><a href="@Url.Action("AircraftListMobile",  "Home", new { profileId = profileId })"><i class="circle fa fa-list-ul" style="border: 1px solid #23527C; border-radius: 100%;  height: 30px; line-height: 29px;  text-align: center; width: 30px;"></i> Back to aircraft list</a></div>
                <div class="col-sm-6 nopadding nogutter">

                </div>
            </div>

            <div id="divFlightList">
                @Html.Partial("_FlightListDatalogMobile", Model)
            </div>
        </div>
    </div>
</div>	
</body>
</html>
