﻿@{
    ViewBag.Title = "FlightDatalogDemo";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<link href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/fixedcolumns/3.2.2/css/fixedColumns.dataTables.min.css" rel="stylesheet" />

<style>
    /* Ensure that the demo table scrolls */
    th, td {
        white-space: nowrap;
    }

    div.dataTables_wrapper {
        width: 800px;
        margin: 0 auto;
    }

    .img-right-air {
        margin-bottom: 15px;
    }

        .img-right-air div {
            text-align: center;
        }

        .img-right-air img {
            width: 100% height:100px;
        }

        .img-right-air img {
            width: 100%;
            height: 90px;
        }
</style>

<script src="~/js/jquery.js"></script>
<script src="~/Scripts/jquery-1.11.1.js"></script>

<script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.2/js/dataTables.fixedColumns.min.js"></script>




<script>

    var table;
    //$(document).ready(function () {
    //    $('#tblJpi').fixedHeaderTable({
    //        altClass: 'odd',
    //        footer: true,
    //        fixedColumns: 3
    //    });
    //});


    function InitializeTableForDatalogWithoutUnit() {
        var rowData = "<tr>";
        rowData += '<th>Time Interval</th>';

        rowData += '<th>Date</th>';
        rowData += '<th>Time</th>';
        rowData += '<th>Latitude</th>';
        rowData += '<th>Longitude</th>';
        rowData += '<th>Speed</th>';
        rowData += '<th>Altitude</th>';
        rowData += '<th>Yaw</th>';
        rowData += '<th>Roll</th>';
        rowData += '<th>Pitch</th>';
        rowData += '</tr>';
        $('#tblJpi > thead:first').append(rowData);
        rowData = '<tr class="bottomheading">';
        rowData += '<th>&nbsp;</th>';

        rowData += '<th>mm-dd-yyyy</th>';
        rowData += '<th>hh:mm:ss</th>';
        rowData += '<th>degrees</th>';
        rowData += '<th>degrees</th>';
        rowData += '<th>Knots</th>';
        rowData += '<th>degrees</th>';
        rowData += '<th>&nbsp;</th>';
        rowData += '<th>&nbsp;</th>';
        rowData += '<th>&nbsp;</th>';
        rowData += '</tr>';
        $('#tblJpi > thead:last').append(rowData);
    }


    function InitializeJPITable(IsJPI, IsGarmin, IsULP) {
        var rowData = "<tr>";
        rowData += '<th>Time Interval</th>';

        rowData += '<th>Date</th>';
        rowData += '<th>Time</th>';
        rowData += '<th>Latitude</th>';
        rowData += '<th>Longitude</th>';
        rowData += '<th>Speed</th>';
        rowData += '<th>OAT-C</th>';
        rowData += '<th>FQtyL</th>';
        rowData += '<th>FQR</th>';
        rowData += '<th>FUEL-F</th>';
        rowData += '<th>E1 MAP</th>';
        rowData += '<th>E1 RPM</th>';
        rowData += '<th>CHT1</th>';
        rowData += '<th>CHT2</th>';
        rowData += '<th>CHT3</th>';
        rowData += '<th>CHT4</th>';
        rowData += '<th>CHT5</th>';
        rowData += '<th>CHT6</th>';
        rowData += '<th>EGT1</th>';
        rowData += '<th>EGT2</th>';
        rowData += '<th>EGT3</th>';
        rowData += '<th>EGT4</th>';
        rowData += '<th>EGT5</th>';
        rowData += '<th>EGT6</th>';
        rowData += '<th>E1 TIT</th>';
        rowData += '<th>TIT-L</th>';
        rowData += '<th>TIT-R</th>';
        rowData += '<th>AMP</th>';
        rowData += '<th>VOLTS</th>';
        rowData += '<th>VOLTS2</th>';
        rowData += '<th>Oil-T</th>';
        rowData += '<th>OIL-P</th>';
        rowData += '<th>FP</th>';

        if (IsJPI) {

            rowData += '<th>Roll</th>';
            rowData += '<th>Pitch</th>';
            rowData += '<th>Yaw</th>';
            rowData += '<th>CDT</th>';
            rowData += '<th>CLD</th>';
            rowData += '<th>END</th>';
            rowData += '<th>HP</th>';
            rowData += '<th>IAT</th>';
            rowData += '<th>MPG</th>';
            rowData += '<th>WP REM</th>';
            rowData += '<th>WP REQ</th>';
            rowData += '<th>RES</th>';
            rowData += '<th>USD</th>';
            rowData += '<th>H:M</th>';
            rowData += '<th>Altitude</th>';
            rowData += '<th>OP</th>';
            rowData += '<th>OT</th>';
            rowData += '<th>FUEL-F</th>';
            rowData += '<th>GPH</th>';
            rowData += '<th>ECON</th>';
        }

        if (IsGarmin) {
            rowData += '<th>CalculatedFuelRemaining</th>';
            rowData += '<th>TotalAircraftTime</th>';
            rowData += '<th>EngineTime</th>';
            rowData += '<th>ElevatorTrimPosition</th>';
            rowData += '<th>UnitsIndicator</th>';
            rowData += '<th>FlapPosition</th>';
            rowData += '<th>UnitsIndicator2</th>';
            rowData += '<th>CarbTemp</th>';
            rowData += '<th>UnitsIndicator3</th>';
            rowData += '<th>CoolantPressure</th>';
            rowData += '<th>UnitsIndicator4</th>';
            rowData += '<th>CoolantTemperature</th>';
            rowData += '<th>UnitsIndicator5</th>';
            rowData += '<th>AMP2</th>';
            rowData += '<th>UnitsIndicator6</th>';
            rowData += '<th>AileronTrimPosition</th>';
            rowData += '<th>UnitsIndicator7</th>';
            rowData += '<th>RubberTrimPosition</th>';
            rowData += '<th>UnitsIndicator8</th>';
            rowData += '<th>FuelQty3</th>';
            rowData += '<th>UnitsIndicator9</th>';

            rowData += '<th>FuelQty4</th>';
            rowData += '<th>UnitsIndicator10</th>';
            rowData += '<th>DiscreteInput1</th>';
            rowData += '<th>DiscreteInput2</th>';
            rowData += '<th>DiscreteInput3</th>';
            rowData += '<th>DiscreteInput4</th>';
        }
        if (IsULP) {
            rowData += '<th>IgnStatus</th>';
            rowData += '<th>SensorStatus</th>';
            rowData += '<th>ThrottlePosition</th>';
            rowData += '<th>Baro</th>';
            rowData += '<th>Airtemp</th>';
            rowData += '<th>EcuTemp</th>';
            rowData += '<th>Batteryvoltage</th>';
            rowData += '<th>Sen1</th>';
            rowData += '<th>Sen2</th>';
            rowData += '<th>Sen3</th>';
            rowData += '<th>Sen4</th>';
            rowData += '<th>Sen5</th>';
        }
        rowData += '</tr>';
        $('#tblJpi > thead:first').append(rowData);
        rowData = '<tr class="bottomheading">';
        rowData += '<th>&nbsp;</th>';

        rowData += '<th>mm-dd-yyyy</th>';
        rowData += '<th>hh:mm:ss</th>';
        rowData += '<th>degrees</th>';
        rowData += '<th>degrees</th>';
        rowData += '<th>Knots</th>';
        rowData += '<th>deg C</th>';
        rowData += '<th>gals</th>';
        rowData += '<th>gals</th>';
        rowData += '<th>gph</th>';
        rowData += '<th>Hg</th>';
        rowData += '<th>rpm</th>';
        rowData += '<th>deg F</th>';
        rowData += '<th>deg F</th>';
        rowData += '<th>deg F</th>';
        rowData += '<th>deg F</th>';
        rowData += '<th>deg F</th>';
        rowData += '<th>deg F</th>';
        rowData += '<th>deg F</th>';
        rowData += '<th>deg F</th>';
        rowData += '<th>deg F</th>';
        rowData += '<th>deg F</th>';
        rowData += '<th>deg F</th>';
        rowData += '<th>deg F</th>';
        rowData += '<th>deg F</th>';
        rowData += '<th>deg C</th>';
        rowData += '<th>deg C</th>';
        rowData += '<th>A</th>';
        rowData += '<th>V</th>';
        rowData += '<th>V</th>';
        rowData += '<th>deg C</th>';
        rowData += '<th>PSI</th>';
        rowData += '<th>PSI</th>';
        if (IsJPI) {
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
        }
        if (IsGarmin) {
            rowData += '<th>gallon</th>';
            rowData += '<th>hours</th>';
            rowData += '<th>hours</th>';
            rowData += '<th>1 % of Travel</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>degree</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>deg C</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>PSI</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>deg C</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>A</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>1 % of Travel</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>1 % of Travel</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>gallon</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>gallon</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
        }
        if (IsULP) {
            rowData += '    <th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
        }
        rowData += '</tr>';
        $('#tblJpi > thead:last').append(rowData);
    }


    function getInnerData(rowId) {
        var index = $('#' + rowId).index() + 1;
        var level = parseInt($('table#tblJpi tbody tr:nth-child(' + index + ')').attr('level'));

        if ($('#hdnJpiDataTimeInterval').val() == 1)
        {
            level = 2;
        }
        //  if ($('table#tblJpi tbody tr:nth-child(' + index + ')').attr('IsDataFetched') == "0") {
        $('#myLoadingElement').show();
        $.ajax({
            url: '@Url.Action("ListJpiPilotDemo", "Data")',
            data: {
                "pageNo": 1,
                "IsCallFromPilotPage": "false",
                "totalRecordFetch": $('#hdnTotalRecordFetch').val(),
                "timeInterval": $('#hdnJpiDataTimeInterval').val(),
                "StartDate": $('table#tblJpi tbody tr:nth-child(' + index + ') td:nth-child(2)').text() + " " + $('table#tblJpi tbody tr:nth-child(' + index + ') td:nth-child(3)').text(),
                "requestDataForLevel": level
            },
            success: function (data) {
                table.destroy();
                var tempClass = $('table#tblJpi tbody tr:nth-child(' + index + ')').attr('class');

                if (tempClass.split(' ')[0] == 'tbHeader') {

                    $('table tr.tbHeader2').remove();
                    $('table tr.tbHeader3').remove();
                }
                else {

                    $('table tr.tbHeader3').remove();
                }

                index = $('#' + rowId).index() + 1;
                $('table#tblJpi tbody tr:nth-child(' + index + ')').attr('IsDataFetched', '1');
                if (level == 1 || $('#hdnJpiDataTimeInterval').val()== 1) {
                    $('#tblJpi tbody tr.tbHeader td:nth-child(1)').html($('#hdnJpiDataTimeInterval').val() + ' min <i class=\"fa fa-caret-right\" aria-hidden=\"true\"></i>');
                    $('#tblJpi tbody tr.tbHeader').attr('style', 'height:37px;background-color: white;color:black')
                    $('#tblJpi tbody tr:nth-child(' + index + ')').attr('style', 'height:37px;background-color: #172D44;color:white')
                    $('#tblJpi tbody tr:nth-child(' + index + ') td:nth-child(1)').html($('#hdnJpiDataTimeInterval').val() + ' min <i class=\"fa fa-caret-down\" aria-hidden=\"true\"></i>');

                }
                else {
                    $('#tblJpi tbody tr.tbHeader2').attr('style', 'height:37px;background-color: #CBCBCB;color:black');
                    $('#tblJpi tbody tr.tbHeader2 td:nth-child(1)').html('1 min <i class=\"fa fa-caret-right\" aria-hidden=\"true\"></i>');

                    $('#tblJpi tbody tr:nth-child(' + index + ')').attr('style', 'height:37px;background-color: #2E4A67;color:white');
                    $('#tblJpi tbody tr:nth-child(' + index + ') td:nth-child(1)').html('1 min <i class=\"fa fa-caret-down\" aria-hidden=\"true\"></i>');
                }

                $('#hdnTotalRecordFetch').val(data.totalRecordFetch);
                //$('#hdnIsDataAvailable').val(data.IsDataAvailable);

                if (data.isAircraftWithoutUnit == true) {

                    addDataToJPITableForDatalogWithoutUnit(data, index, level);
                }
                else {
                    addDataToJPITable(data, index, level);
                }


                $('html, body').animate({
                    scrollTop: $('#' + rowId).offset().top
                }, 2000);
                $('#myLoadingElement').hide();


                //$("#tblJpi").dataTable().fnDestroy();
                table = $('#tblJpi').DataTable({
                    scrollY: "300px",
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    ordering: false,
                    fixedColumns: {
                        leftColumns: 3

                    }
                });

            }
        });
        // }
    }


    function addDataToJPITableForDatalogWithoutUnit(data, InsertAtIndex, groupedlevel) {
        var rowData = "";
        var timeInterval = "";
        var rowid = $('#tblJpi tbody tr').length;

        var className = "tbHeader3";
        if (InsertAtIndex != 0) {
            groupedlevel = groupedlevel + 1;
        }



        $.each(data.jpiData, function (i, item) {
            rowid = rowid + 1
            var strStyle = "";
            var addMethod = "";
            if (groupedlevel == 1) {
                className = "tbHeader";
                //strStyle = "style=\"background-color:#F1F1F1;\"";
                strStyle = "style=\"background-color:white;\"";
                addMethod = "onclick=\"getInnerData('trr" + rowid + "')\"";
                timeInterval = $('#hdnJpiDataTimeInterval').val() + " min <i class=\"fa fa-caret-right\" aria-hidden=\"true\"></i>";
            }
            else if (groupedlevel == 2) {
                className = "tbHeader2";
                strStyle = "style=\"background-color:#CBCBCB;\"";
                //strStyle = "style=\"background-color:white;\"";
                addMethod = "onclick=\"getInnerData('trr" + rowid + "')\"";
                timeInterval = "1 min  <i class=\"fa fa-caret-right\" aria-hidden=\"true\"></i>";
            }
            else {
                strStyle = "style=\"background-color:white;\"";
                timeInterval = "1 sec";
            }

            rowData += "<tr level=\"" + groupedlevel + "\" class=\"" + className + "\" id=\"trr" + rowid + "\"  " + addMethod + "   " + strStyle + " IsDataFetched=\"0\"  ><td>" + timeInterval + "</td>";

            rowData += '<td>' + item.DateString + '</td>';
            rowData += '<td>' + item.Time + '</td>';

            if (item.Latitude == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td>' + parseFloat(item.Latitude).toFixed(6) + '</td>';
            }

            if (item.Longitude == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td>' + parseFloat(item.Longitude).toFixed(6) + '</td>';
            }

            if (item.Speed == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td >' + item.Speed + '</td>';
            }

            if (item.Altitude == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td>' + item.Altitude + '</td>';
            }


            if (item.Yaw == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td>' + item.Yaw + '</td>';
            }

            if (item.Roll == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td >' + item.Roll + '</td>';
            }

            if (item.Pitch == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td >' + item.Pitch + '</td>';
            }
            rowData += '</tr>';

            if (InsertAtIndex == 0) {
                $('#tblJpi > tbody:last').append(rowData);
            }
            else {

                $('#tblJpi > tbody > tr').eq(InsertAtIndex - 1).after(rowData);
                InsertAtIndex = InsertAtIndex + 1;

            }
            rowData = '';
        })

    }


    function addDataToJPITable(data, InsertAtIndex, groupedlevel) {

        var rowData = "";
        var timeInterval = "";
        var rowid = $('#tblJpi tbody tr').length;

        var className = "tbHeader3";
        if (InsertAtIndex != 0) {
            groupedlevel = groupedlevel + 1;
        }



        $.each(data.jpiData, function (i, item) {
            rowid = rowid + 1
            var strStyle = "";
            var addMethod = "";
            if (groupedlevel == 1) {
                className = "tbHeader";
                //strStyle = "style=\"background-color:#F1F1F1;\"";
                strStyle = "style=\"background-color:white;\"";
                addMethod = "onclick=\"getInnerData('trr" + rowid + "')\"";
                timeInterval = $('#hdnJpiDataTimeInterval').val() + " min <i class=\"fa fa-caret-right\" aria-hidden=\"true\"></i>";
            }
            else if (groupedlevel == 2) {
                className = "tbHeader2";
                strStyle = "style=\"background-color:#CBCBCB;\"";
                //strStyle = "style=\"background-color:white;\"";
                addMethod = "onclick=\"getInnerData('trr" + rowid + "')\"";
                timeInterval = "1 min  <i class=\"fa fa-caret-right\" aria-hidden=\"true\"></i>";
            }
            else {
                strStyle = "style=\"background-color:white;\"";
                timeInterval = "1 sec";
            }

            rowData += "<tr level=\"" + groupedlevel + "\" class=\"" + className + "\" id=\"trr" + rowid + "\"  " + addMethod + "   " + strStyle + " IsDataFetched=\"0\"  ><td>" + timeInterval + "</td>";

            rowData += '<td>' + item.Date + '</td>';
            rowData += '<td>' + item.Time + '</td>';

            if (item.Latitude == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td>' + parseFloat(item.Latitude).toFixed(6) + '</td>';
            }

            if (item.Latitude == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td>' + parseFloat(item.Latitude).toFixed(6) + '</td>';
            }

            if (item.Speed == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td class="' + item.SpeedColor + '">' + item.Speed + '</td>';
            }

            if (item.Oat == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.OatColor + '">' + item.Oat + '</td>';
            }


            if (item.FQL == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.FQLColor + '">' + item.FQL + '</td>';
            }

            if (item.FQR == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.FQRColor + '">' + item.FQR + '</td>';
            }

            if (item.FF == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.FFColor + '">' + item.FF + '</td>';
            }

            if (item.MAP == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.MAPColor + '">' + item.MAP + '</td>';
            }

            if (item.RPM == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.RPMColor + '">' + item.RPM + '</td>';
            }

            if (item.Cht1 == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.Cht1Color + '">' + item.Cht1 + '</td>';
            }

            if (item.Cht2 == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.Cht2Color + '">' + item.Cht2 + '</td>';
            }

            if (item.Cht3 == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.Cht3Color + '">' + item.Cht3 + '</td>';
            }

            if (item.Cht4 == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.Cht4Color + '">' + item.Cht4 + '</td>';
            }

            if (item.Cht5 == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.Cht5Color + '">' + item.Cht5 + '</td>';
            }

            if (item.Cht6 == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.Cht6Color + '">' + item.Cht6 + '</td>';
            }

            if (item.Egt1 == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.Egt1Color + '">' + item.Egt1 + '</td>';
            }

            if (item.Egt2 == null) {
                rowData += '<td ></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.Egt2Color + '">' + item.Egt2 + '</td>';
            }

            if (item.Egt3 == null) {
                rowData += '<td ></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.Egt3Color + '">' + item.Egt3 + '</td>';
            }

            if (item.Egt4 == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.Egt4Color + '">' + item.Egt4 + '</td>';
            }

            if (item.Egt5 == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.Egt5Color + '">' + item.Egt5 + '</td>';
            }

            if (item.Egt6 == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.Egt6Color + '">' + item.Egt6 + '</td>';
            }

            if (item.Tit == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.TitColor + '">' + item.Tit + '</td>';
            }

            if (item.TIT1 == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.TIT1Color + '">' + item.TIT1 + '</td>';
            }

            if (item.TIT2 == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.TIT2Color + '">' + item.TIT2 + '</td>';




            }

            if (item.AMP == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.AMPColor + '">' + item.AMP + '</td>';
            }

            if (item.VOLTS == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.VOLTSColor + '">' + item.VOLTS + '</td>';
            }

            if (item.VOLTS2 == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.VOLTS2Color + '">' + item.VOLTS2 + '</td>';
            }

            if (item.OILT == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.OILTColor + '">' + item.OILT + '</td>';
            }

            if (item.OILP == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.OILPColor + '">' + item.OILP + '</td>';
            }

            if (item.FP == null) {
                rowData += '<td></td>';
            }
            else {
                rowData += '<td style="background-color:' + item.FPColor + '">' + item.FP + '</td>';
            }


            if (data.IsJPI) {
                if (item.Roll == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.RollColor + '">' + item.Roll + '</td>';
                }

                if (item.Pitch == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.PitchColor + '">' + item.Pitch + '</td>';
                }

                if (item.Yaw == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.YawColor + '">' + item.Yaw + '</td>';
                }

                if (item.CDT == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.CDTColor + '">' + item.CDT + '</td>';
                }

                if (item.CLD == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.CLDColor + '">' + item.CLD + '</td>';
                }

                if (item.END == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.ENDColor + '">' + item.END + '</td>';
                }

                if (item.HP == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.HPColor + '">' + item.HP + '</td>';
                }

                if (item.IAT == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.IATColor + '">' + item.IAT + '</td>';
                }

                if (item.MPG == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.MPGColor + '">' + item.MPG + '</td>';
                }

                if (item.REM == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.REMColor + '">' + item.REM + '</td>';
                }

                if (item.REQ == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.REQColor + '">' + item.REQ + '</td>';
                }

                if (item.RES == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.RESColor + '">' + item.RES + '</td>';
                }

                if (item.USD == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.USDColor + '">' + item.USD + '</td>';
                }

                if (item.HM == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.HMColor + '">' + item.HM + '</td>';
                }

                if (item.Altitude == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.Altitude + '</td>';
                }

                if (item.OP == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.OPColor + '">' + item.OP + '</td>';
                }

                if (item.OT == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.OTColor + '">' + item.OT + '</td>';
                }

                if (item.FUELF == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td >' + item.FUELF + '</td>';
                }

                //if (item.LAT == null) {
                //    rowData += '<td></td>';
                //}
                //else {
                //    rowData += '<td>' + item.LAT + '</td>';
                //}

                //if (item.LNG == null) {
                //    rowData += '<td></td>';
                //}
                //else {
                //    rowData += '<td>' + item.LNG + '</td>';
                //}

                //if (item.ALT == null) {
                //    rowData += '<td></td>';
                //}
                //else {
                //    rowData += '<td>' + item.ALT + '</td>';
                //}

                //if (item.SPD == null) {
                //    rowData += '<td></td>';
                //}
                //else {
                //    rowData += '<td>' + item.SPD + '</td>';
                //}

                if (item.GPH == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.GPH + '</td>';
                }

                if (item.ECON == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.ECON + '</td>';
                }


            }

            if (data.IsGarmin) {
                if (item.CalculatedFuelRemaining == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.CalculatedFuelRemaining + '</td>';
                }

                if (item.TotalAircraftTime == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.TotalAircraftTime + '</td>';
                }

                if (item.EngineTime == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.EngineTime + '</td>';
                }

                if (item.ElevatorTrimPosition == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.ElevatorTrimPosition + '</td>';
                }

                if (item.UnitsIndicator == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.UnitsIndicator + '</td>';
                }

                if (item.FlapPosition == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.FlapPosition + '</td>';
                }

                if (item.UnitsIndicator2 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.UnitsIndicator2 + '</td>';
                }

                if (item.CarbTemp == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.CarbTempColor + '">' + item.CarbTemp + '</td>';
                }

                if (item.UnitsIndicator3 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.UnitsIndicator3 + '</td>';
                }

                if (item.CoolantPressure == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.CoolantPressure + '</td>';
                }

                if (item.UnitsIndicator4 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.UnitsIndicator4 + '</td>';
                }

                if (item.CoolantTemperature == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.CoolantTemperatureColor + '">' + item.CoolantTemperature + '</td>';
                }

                if (item.UnitsIndicator5 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.UnitsIndicator5 + '</td>';
                }

                if (item.AMP2 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.AMP2Color + '">' + item.AMP2 + '</td>';
                }

                if (item.UnitsIndicator6 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.UnitsIndicator6 + '</td>';
                }

                if (item.AileronTrimPosition == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.AileronTrimPosition + '</td>';
                }

                if (item.UnitsIndicator7 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.UnitsIndicator7 + '</td>';
                }

                if (item.RubberTrimPosition == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.RubberTrimPositionColor + '">' + item.RubberTrimPosition + '</td>';
                }

                if (item.UnitsIndicator8 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.UnitsIndicator8 + '</td>';
                }

                if (item.FuelQty3 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.FuelQty3Color + '">' + item.FuelQty3 + '</td>';
                }

                if (item.UnitsIndicator9 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.UnitsIndicator9 + '</td>';
                }

                if (item.FuelQty4 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td  style="background-color:' + item.FuelQty4Color + '">' + item.FuelQty4 + '</td>';
                }

                if (item.UnitsIndicator10 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.UnitsIndicator10 + '</td>';
                }

                if (item.DiscreteInput1 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.DiscreteInput1 + '</td>';
                }

                if (item.DiscreteInput2 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.DiscreteInput2 + '</td>';
                }

                if (item.DiscreteInput3 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.DiscreteInput3 + '</td>';
                }

                if (item.DiscreteInput4 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.DiscreteInput4 + '</td>';
                }

            }
            if (data.IsULP) {
                if (item.IgnStatus == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.IgnStatus + '</td>';
                }

                if (item.SensorStatus == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.SensorStatus + '</td>';
                }

                if (item.ThrottlePosition == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.ThrottlePosition + '</td>';
                }

                if (item.Baro == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.Baro + '</td>';
                }

                if (item.Airtemp == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.AirtempColor + '">' + item.Airtemp + '</td>';
                }

                if (item.EcuTemp == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.EcuTemp + '</td>';
                }

                if (item.Batteryvoltage == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.BatteryvoltageColor + '">' + item.Batteryvoltage + '</td>';
                }

                if (item.Sen1 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.Sen1 + '</td>';
                }

                if (item.Sen2 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.Sen2 + '</td>';
                }

                if (item.Sen3 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.Sen3 + '</td>';
                }

                if (item.Sen4 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.Sen4 + '</td>';
                }

                if (item.Sen5 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + item.Sen5 + '</td>';
                }

            }
            rowData += '</tr>';

            if (InsertAtIndex == 0) {
                $('#tblJpi > tbody:last').append(rowData);
            }
            else {

                $('#tblJpi > tbody > tr').eq(InsertAtIndex - 1).after(rowData);
                InsertAtIndex = InsertAtIndex + 1;

            }
            rowData = '';
        })


    }


    function btnViewMore() {
        $('#divLoaderImage').show();
        // show loader
        $.ajax({
            url: '@Url.Action("ListJpiPilotDemo", "Data")',
            data: {
                "pageNo": 1,
                "IsCallFromPilotPage": "false",
                "totalRecordFetch": $('#hdnTotalRecordFetch').val(),
                "StartDate": '',
                "timeInterval": $('#hdnJpiDataTimeInterval').val(),
                "requestDataForLevel": 0

            },
            success: function (data) {

                $('#hdnTotalRecordFetch').val(data.totalRecordFetch);
                $('#hdnIsDataAvailable').val(data.IsDataAvailable);

                addDataToJPITable(data, 0, 1);
                $('#divLoaderImage').hide();
            }
        });
    }

    function funTimeInterval(id, timeInterval) {
        $('#myLoadingElement').show();
        $('#btn1min').attr('class', 'btn btn-default');
        $('#btn2min').attr('class', 'btn btn-default');
        $('#btn5min').attr('class', 'btn btn-default');
        $('#btn10min').attr('class', 'btn btn-default');

        $('#' + id).attr('class', 'btn btn-primary');

        $('#hdnJpiDataTimeInterval').val(timeInterval);

        pagingFlight(0);

    }




    function pagingFlight(page) {

        $.ajax({
            url: '@Url.Action("ListJpiPilotDemo", "Data")',
            data: {
                "pageNo": page,
                "pid": $('#Id').val(),
                "profileId": '0',
                "IsCallFromPilotPage": "true",
                "totalRecordFetch": 0,
                "timeInterval": $('#hdnJpiDataTimeInterval').val(),
                "StartDate": '',
                "requestDataForLevel": 0
            },
            success: function (data) {

                table.destroy();
                $('#divJpiData').show();
                $('#hdnTotalRecordFetch').val(data.totalRecordFetch);
                $('#hdnIsDataAvailable').val(data.IsDataAvailable);
                $("#tblJpi").empty();
                $('#tblJpi').append('<thead></thead><tbody></tbody>');

                if (data.isAircraftWithoutUnit == true) {
                    InitializeTableForDatalogWithoutUnit();
                    addDataToJPITableForDatalogWithoutUnit(data, 0, 1);
                }
                else {
                    InitializeJPITable(data.IsJPI, data.IsGarmin, data.IsULP);
                    addDataToJPITable(data, 0, 1);
                }
                if ($("#divJpiData tr").length == 2)
                { $('#myLoadingElement').hide(); }
                $("#spnHeadFlightNo").text(data.FlightNo);
                $("#spnHeadAircraftNNumber").text(data.AircraftNNumber);
                $('#divTimeIntervalButtons').show();
                $('#myLoadingElement').hide();
                table = $('#tblJpi').DataTable({
                    scrollY: "300px",
                    scrollX: true,
                    scrollCollapse: true,
                    paging: false,
                    ordering: false,
                    fixedColumns: {
                        leftColumns: 3

                    }
                });
            }
        });
    }

    function ExportData() {

        $('#myLoadingElement').show();
        var pid = $('#ProfileId').val();
        var plid = $('#Id').val();
        var url = '/IMounts/Data/ExportDatalog?profileId=' + pid + '&pilotlogId=' + plid;
        $('#myLoadingElement').hide();
        window.open(url, '_blank');
    }
    $(document).ready(function (e) {

        $('.current-page').removeAttr('class').addClass('navwidth');

        if ('@ViewBag.CallFrom' == 'PilotLog') {
            $('#liSideMenuPilotLogList').addClass('current-page');
        }
        else {
            $('#liSideMenuDataLog').addClass('current-page');
        }

        if ('@ViewBag.IsPageLoad' == 'true') {
            $('#myLoadingElement').show();
           
            $.ajax({
                url: '@Url.Action("ListJpiDataDemo", "Data")',
                data: {
                    "pageNo": 1,
                    "IsCallFromPilotPage": "true",
                    "totalRecordFetch": 0,
                    "timeInterval": $('#hdnJpiDataTimeInterval').val(),
                    "StartDate": '',
                    "requestDataForLevel": 0
                },
                success: function (data) {
                    var groupLevel = 1;
                    $("#spnPilotName").text(data.pilotName);
                    $("#imgPilotImage").attr("src", data.pilotImageURL);
                    $("#imgAircraftImage").attr("src", data.aircraftImageURL);
                    $("#divAircraftAndPilotImg").show();
                    $('#divJpiData').show();
                    $('#hdnTotalRecordFetch').val(data.totalRecordFetch);
                    $('#hdnIsDataAvailable').val(data.IsDataAvailable);
                    $("#tblJpi").empty();
                    $('#tblJpi').append('<thead></thead><tbody></tbody>');
                    $('#hdnJpiDataTimeInterval').val(data.flightTimeInterval);

                    if (data.flightTimeInterval == 10)
                    {
                        $("#btn10min").attr('class', "btn btn-primary");
                        $("#btn5min").attr('class', "btn btn-default");
                        $("#btn2min").attr('class', "btn btn-default");
                        $("#btn1min").attr('class', "btn btn-default");

                    }
                    else if (data.flightTimeInterval == 5)
                    {
                        $("#btn10min").prop('disabled', true);
                        $("#btn10min").attr('class', "btn btn-default");
                        $("#btn5min").attr('class', "btn btn-primary");
                        $("#btn2min").attr('class', "btn btn-default");
                        $("#btn1min").attr('class', "btn btn-default");
                    }
                    else if (data.flightTimeInterval == 2)
                    {
                        $("#btn10min").prop('disabled', true);
                        $("#btn5min").prop('disabled', true);

                        $("#btn10min").attr('class', "btn btn-default");
                        $("#btn5min").attr('class', "btn btn-default");
                        $("#btn2min").attr('class', "btn btn-primary");
                        $("#btn1min").attr('class', "btn btn-default");
                    }
                    else if (data.flightTimeInterval == 1) {
                        $("#btn10min").prop('disabled', true);
                        $("#btn5min").prop('disabled', true);
                        $("#btn2min").prop('disabled', true);

                        $("#btn10min").attr('class', "btn btn-default");
                        $("#btn5min").attr('class', "btn btn-default");
                        $("#btn2min").attr('class', "btn btn-default");
                        $("#btn1min").attr('class', "btn btn-primary");
                    }
                    else {
                        $("#btn10min").prop('disabled', true);
                        $("#btn5min").prop('disabled', true);
                        $("#btn2min").prop('disabled', true);
                        $("#btn1min").prop('disabled', true);
                        $("#btn10min").attr('class', "btn btn-default");
                        $("#btn5min").attr('class', "btn btn-default");
                        $("#btn2min").attr('class', "btn btn-default");
                        $("#btn1min").attr('class', "btn btn-default");
                        groupLevel = 3;
                    }

                    if (data.isAircraftWithoutUnit == true) {
                        InitializeTableForDatalogWithoutUnit();
                        addDataToJPITableForDatalogWithoutUnit(data, 0, groupLevel);
                    }
                    else {
                        InitializeJPITable(data.IsJPI, data.IsGarmin, data.IsULP);
                        addDataToJPITable(data, 0, groupLevel);
                    }


                    if ($("#divJpiData tr").length == 2)
                    { $('#myLoadingElement').hide(); }
                    $("#spnHeadFlightNo").text(data.FlightNo);
                    $("#spnHeadAircraftNNumber").text(data.AircraftNNumber);
                    $("#spnTailNo").text(data.AircraftNNumber);
                    $('#divTimeIntervalButtons').show();
                    $('#myLoadingElement').hide();
                    table = $('#tblJpi').DataTable({
                        scrollY: "300px",
                        scrollX: true,
                        scrollCollapse: true,
                        paging: false,
                        ordering: false,
                        fixedColumns: {
                            leftColumns: 3

                        }
                    });
                }
            });
        }
    });
</script>

<style>
    tr.tbHeader {
        font-size: 14px;
        cursor: pointer;
        padding-bottom: 5px;
    }

    tr.tbHeader2 {
        padding-bottom: 5px;
        font-size: 14px;
        cursor: pointer;
    }

    tr.tbHeader3 {
        padding-bottom: 5px;
        font-size: 14px;
    }

    .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n +1) > th {
        background-color: transparent;
    }

    .table-striped > tbody > tr:nth-child(2n +1) > td {
        background-color: transparent;
    }
</style>

<style>
    .black {
        color: black;
    }

    .red {
        background-color: red;
    }



    .yellow {
        background-color: yellow;
    }
</style>

@{
    string flag = "true";
}

@Html.Hidden("TotalRecordFetch", 0, new { id = "hdnTotalRecordFetch" })
@Html.Hidden("IsDataAvailable", true, new { id = "hdnIsDataAvailable" })
@Html.Hidden("JpiDataTimeInterval", 10, new { id = "hdnJpiDataTimeInterval" })





<div class="col-md-12 col-xs-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div class="clearfix" style="margin-bottom:15px;">
            @if (ViewBag.CallFrom == "PilotLog")
            {
                <div class="col-sm-6 no-padding"><a href="@Url.Action("PilotLogList", "Home")"><i class="circle fa fa-list-ul"></i> PilotLog</a>&nbsp;>&nbsp;Datalog</div>
            }
            else
            {
                <div class="col-sm-6 no-padding"><a href="@Url.Action("PilotSummary", "Home")"><i class="circle fa fa-list-ul"></i> Flight Logs</a> &nbsp;>&nbsp; <a href="@Url.Action("Index", "Data", new { aircraftId = ViewBag.AircraftId })"> <span id="spnTailNo"></span></a>&nbsp;>&nbsp;Datalog</div>
            }

            <div class="col-sm-6 no-padding">
                <button id="btnExport" onclick="ExportData();" style="display:none" class="btn-rounded btn-primary marginbottom10 pull-right"> <i class="fa fa-plus-circle"></i> Export</button>
            </div>
        </div>

        <div class="wraper_table table_inneer" id="divJpiData" style="display: none">
            <input type="hidden" value="" id="Id" />
            <input type="hidden" value="" id="ProfileId" />
            <div class="col-md-4 col-sm-4 clearfix" style="padding: 6px 0 0;">
                <p class="col-md-12 col-xs-12">
                    <label class="col-md-6">FlightNumber</label>
                    <span class="col-md-1">:</span>
                    <span id="spnHeadFlightNo" class="col-md-4"></span>
                </p>
                <p class="col-md-12">
                    <label class="col-md-6">AircraftNNumber</label>
                    <span class="col-md-1">:</span>
                    <span id="spnHeadAircraftNNumber" class="col-md-4"></span>
                </p>
                <p class="col-md-12">
                    <label class="col-md-6">Pilot Name</label>
                    <span class="col-md-1">:</span>
                    <span id="spnPilotName" class="col-md-4"></span>
                </p>

            </div>
            <div id="divTimeIntervalButtons" class="col-md-4 col-sm-4" style="text-align: center; display: none">
                <p>Select Time Interval :</p>
                <div class="btn-group">
                    <button type="button" id="btn1min" class="btn btn-default" onclick="funTimeInterval('btn1min', 1)">1 mins</button>
                    <button id="btn2min" type="button" class="btn btn-default" onclick="funTimeInterval('btn2min', 2)">2 mins</button>
                    <button id="btn5min" type="button" class="btn btn-primary" onclick="funTimeInterval('btn5min', 5)">5 mins</button>
                    <button id="btn10min" type="button" class="btn btn-default" onclick="funTimeInterval('btn10min', 10)">10 mins</button>
                </div>
            </div>

            <div id="divAircraftAndPilotImg" style="display:none" class="col-md-3 col-sm-4 img-right-air clearfix">
                <div class="col-md-6 col-sm-6">
                    <img id="imgAircraftImage" src=""><br>
                    <span><b>Aircraft Image</b></span>
                </div>
                <div class="col-md-6 col-sm-6">
                    <img id="imgPilotImage" src=""><br>
                    <span id="spnPilotName"><b>Pilot Image</b></span>
                </div>


            </div>


            <table id="tblJpi" class="stripe row-border order-column cell-border" cellspacing="0" width="100%">
                <thead></thead>
                <tbody></tbody>
            </table>
            <div id="divLoaderImage" style="width: 100%; text-align: center; display: none">
                <img src="~/Image/GA/ajax_loader3.gif" style="margin-left: auto; margin-right: auto; height: 25px; width: 25px;" />
                &nbsp;&nbsp;&nbsp;Loading Data..........
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function (e) {
        var window_height = $(window).height();
        var new_height = window_height - 280;
        $("#divJpi .fht-tbody").height(new_height).css("overflow", "scroll");

    });
</script>
