﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Guardian Avionics</title>
    <link rel="stylesheet" href="~/content/quote_novated" type="text/css">
    <!-- Bootstrap -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/content/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/content/css/custom.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
    <link href="~/content/css/responsive.css" rel="stylesheet">
    <link href="~/content/css/creative1.css" rel="stylesheet">
    <script src="~/js/jquery.js"></script>
    <script src="~/js/bootbox.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script>

        function showHide(divToShow, divHide1, divHide2) {
            $('#' + divToShow).show();
            $('#' + divHide1).hide();
            $('#' + divHide2).hide();
        }

        $(document).ready(function () {
            $("#txtEmail").focus();
            $('#btnBack').hide();
            showHide('divForgotPassword1', 'divForgotPassword2', 'divForgotPassword3');
            // hide loader
            $('#divLoader').hide();

            $('#btnEmailOrSerQueSubmit').click(function () {
                if ($('#hdnDivId').val() == 1) {

                    if ($('#txtEmail').val() == '') {
                        bootbox.alert('@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()', function () {
                        });
                        return;
                    }
                    if ($("input:radio[name='rbtnForgotPassword']:checked").val() == 'Email') {
                        $('#myLoadingElement').show();
                        $.ajax({
                            url: '@Url.Action("SemdMailForResetPassword", "Home")',
                            data: {
                                "userEmail": $('#txtEmail').val(),
                            },
                            success: function (data) {
                                $('#myLoadingElement').hide();
                                bootbox.alert(data.message, function () {
                                    window.location.href = '/Home/login';
                                });
                            }
                        });
                    } else {


                        $.ajax({
                            url: '@Url.Action("SelectQuestionByEmailid", "Home")',
                            data: {
                                "userEmail": $('#txtEmail').val(),
                            },
                            success: function (data) {

                                if (data.message == '@GA.Common.ResourcrFiles.UserProfile.Messages.EmailIdNotExist.ToString()') {
                                    
                                    bootbox.alert(data.message, function () {
                                    });
                                } else {
                                    $("#spnQuestion").html(data.message);
                                    $('#hdnDivId').val(2);
                                    $('#btnBack').show();
                                    showHide('divForgotPassword2', 'divForgotPassword1', 'divForgotPassword3');
                                    $("#divForgotPassword1").attr("style", "display:none");
                                    $("#txtSecurityAnswer").focus();
                                }
                            }
                        });
                    }
                    return;
                }

                if ($('#hdnDivId').val() == 2) {
                    $.ajax({
                        url: '@Url.Action("ValidateSecurityAnswer", "Home")',
                        data: {
                            "email": $('#txtEmail').val(),
                            "securityAnswer": $('#txtSecurityAnswer').val(),
                        },
                        success: function (data) {
                            if (!data.result) {
                                bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.IncorrectSecurityAnswer.ToString()', function () {
                                });
                            } else {
                                showHide('divForgotPassword3', 'divForgotPassword1', 'divForgotPassword2');
                                $('#hdnDivId').val(3);
                                $('#txtNewPassword').focus();
                            }

                        }
                    });
                    return;
                }

                if ($('#hdnDivId').val() == 3) {

                    if ($('#txtNewPassword').val() == '' || $('#txtRetypePassword').val() == '') {
                        bootbox.alert('@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()', function () {
                        });
                        return;
                    }
                    if ($('#txtNewPassword').val() != $('#txtRetypePassword').val()) {
                        bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.ConfirmPasswordNotMatch.ToString()', function () {
                        });
                        return;
                    }

                    $.ajax({
                        url: '@Url.Action("ChangePasswordByEmail", "Home")',
                        data: {
                            "email": $('#txtEmail').val(),
                            "newPassword": $('#txtNewPassword').val(),
                            "UniqueCode": ''
                        },
                        success: function (data) {
                            if (data.message != 'Success') {
                                bootbox.alert('@GA.Common.ResourcrFiles.Common.Messages.ErrorWhileProcessing.ToString()', function () {
                                });
                            } else {
                                bootbox.alert('@GA.Common.ResourcrFiles.Common.Messages.UpdateRecord.ToString()', function () {
                                    window.location.href = '/Home/login';
                                });
                                
                            }

                        }
                    });
                }
            });

            $('#btnCancel').click(function () {
                window.location.href = '/Home/login';
            });

            $('#btnBack').click(function () {
                if ($('#hdnDivId').val() == 3) {
                    $('#hdnDivId').val(2);
                    showHide('divForgotPassword2', 'divForgotPassword1', 'divForgotPassword3');
                } else {
                    $('#hdnDivId').val(1);
                    showHide('divForgotPassword1', 'divForgotPassword2', 'divForgotPassword3');
                    $('#btnBack').hide();
                }
            });

            $('#txtNewPassword, #txtRetypePassword').keypress(function (e) {
                if (e.which == 8 || e.which == 0) {
                    return true;
                }
                else {
                    var regex = new RegExp("^[a-zA-Z0-9]+$");
                    var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                    if (regex.test(str)) {
                        return true;
                    }
                }

                e.preventDefault();
                return false;
            });


        });
    </script>
    <style>
        .wrapper {
            min-height: 100%;
            position: relative;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>
<body id="page-top">
    <div class="loaderwrap" id="myLoadingElement" style="display:none"><div class="loaderdiv"><div class="loader">Loading...</div></div></div>
    @*<div class="wrapper">*@
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand page-scroll" href="#page-top"> <img src="../Images/logo_smartCloudw_nl.png"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right nav-landing-page">
                        <li> <a class="page-scroll" href="@Url.Action("", "Home")">Home</a> </li>
                        <li> <a class="page-scroll" href="@Url.Action("AboutUs", "Home")">About Us</a> </li>
                        <!--<li> <a class="page-scroll" href="#services">Services</a> </li>-->
                        <li> <a class="page-scroll" href="@Url.Action("ContactUs", "Home")">Contact Us</a> </li>
                        <li> <a class="page-scroll" href="@Url.Action("Login", "Home")">Login</a> </li>
                        <li> <a class="page-scroll" href="@Url.Action("Register", "Home")">Sign Up</a> </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <section class="container-fluid topspace">
            <div class="container containerFixwidth">
                <div class="col-xs-12">
                    <h3>Forgot Password</h3>
                    @*
                        <div class="registration_header"> Forgot Password <a href="#" class="pull_rit pullti10"> <img src="image/GA/close_btn.png" class="close-reveal-modal" width="20" height="20"> </a> </div>
                    *@
                    <input type="hidden" id="hdnDivId" value="1" />
                    <div>
                        <div>
                            <div id="divForgotPassword1">
                                <div class="form-horizontal form-table form-label-left form-reg-field clearfix">
                                    <div class="col-sm-6 col-xs-12 nopadding-xs">
                                        <div id="divForgotPassword" class="item form-group clearfix tablewrap">
                                            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle">Enter Email Id <span class="required">*</span> :</label>
                                            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
                                                <input type="text" id="txtEmail" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ln_solid"></div>

                                <div class="clearfix radio">
                                    <label>
                                        <input type="radio" value="Email" checked="checked" name="rbtnForgotPassword" />
                                        <b>Email authentication</b>: To access your information, we will send an email to the address(es) on file for you.
                                    </label>
                                </div>
                                <div class="clearfix margintop20 radio">
                                    <label>
                                        <input type="radio" value="SecurityQue" name="rbtnForgotPassword" />
                                        <b>Answer security questions</b>: To access your information, you will need to answer the security question(s) provided when you originally created your Guardian Avionics ID.
                                    </label>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div id="divForgotPassword2">
                                <h4>Please verify security answer to continue</h4>
                                <div class="form-horizontal form-table form-label-left form-reg-field clearfix">
                                    <div class="col-sm-6 col-xs-12 nopadding-xs">
                                        <div class="item form-group clearfix tablewrap">
                                            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle">Security Question :</label>
                                            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm"><span id="spnQuestion"></span></div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-6 col-xs-12 nopadding-xs">
                                        <div class="item form-group clearfix tablewrap">
                                            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle">Security Answer :</label>
                                            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
                                                <input type="text" class="form-control" id="txtSecurityAnswer" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="divForgotPassword3">
                                <h4>Please insert details to continue</h4>
                                <div class="form-horizontal form-table form-label-left form-reg-field clearfix">
                                    <div class="col-sm-6 col-xs-12 nopadding-xs">
                                        <div class="item form-group clearfix tablewrap">
                                            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle">New Password :</label>
                                            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
                                                <input type="password" id="txtNewPassword" class="form-control"  maxlength="20"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="clearfix"></div>
                                    <div class="col-sm-6 col-xs-12 nopadding-xs">
                                        <div class="item form-group clearfix tablewrap">
                                            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle">Confirm Password :</label>
                                            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
                                                <input type="password" id="txtRetypePassword" class="form-control" maxlength="20" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="margintop20 btn_set">
                                <input type="button" id="btnEmailOrSerQueSubmit" value="Submit" class="btn btn-primary" />
                                <input type="button" id="btnCancel" value="Cancel" class="btn btn-danger" />
                                <input type="button" id="btnBack" value="Back" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="container-fluid" style="margin-left: 0;">
            <div class="text-center"> GuardianAvionics.com © 2017 | All Rights Reserved </div>
        </footer>
    @*</div>*@
    <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->
    >
    <script src="~/js/jquery.easing.min.js"></script>
    @*<script src="~/js/creative.js"></script>*@
</body>
</html>
