﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Index</title>
 
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/content/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/content/css/custom.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
	<link href="~/content/css/responsive.css" rel="stylesheet">
    <link href="~/content/css/green.css" rel="stylesheet">
    <script src="~/js/validator.min.js"></script>
    @*<script src="~/Scripts/jquery-1.8.2.js"></script>*@
    <script src="~/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
	  <script src="~/js/custom.js"></script>
    <!-- iCheck -->



    <script src="~/Scripts/icheck.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="page-top">
<img class="full-screen-background-image" src="../Images/login.jpg" />
<div class="wrapper">
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"> <img src="../Images/logo.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse nav-landing-page" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li> <a class="page-scroll" href="Home/Index.cshtml">About</a> </li>
        <li> <a class="page-scroll" href="Index.cshtml">Services</a> </li>
        <li> <a class="page-scroll" href="Index.cshtml">Contact</a> </li>
        <li> <a class="page-scroll" href="log2.cshtml">Login</a> </li>
        <li> <a class="page-scroll" href="Register.cshtml">Sign Up</a> </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <div class="login-page">
        <div class="login-content">
            <div class="container">
                <div class="row">
                    <div class="login-inner col-md-5 col-xs-12 col-sm-6 col-md-offset-3 col-sm-offset-3 col-lg-4 col-lg-offset-4">
                        <img src="../Images/avatar_2x.png" class="profile-img-card" id="profile-img">
                        <h1>Welcome to Guardian Avionics</h1>
                        <form class="form-horizontal container" role="form">
						<div class="form-group ">
						 <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
                       <input type="text" placeholder="Enter Email Id " required="required" id="inputSuccess1" class="form-control has-feedback-left">
                        <span aria-hidden="true" class="fa fa-user form-control-feedback left"></span>
                      </div>
					  </div>
					  <div class="form-group ">
					  	 <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
               <input type="text" placeholder="Enter Password " required="required" id="inputSuccess2" class="form-control has-feedback-left">
                        <span aria-hidden="true" class="fa fa-lock form-control-feedback left"></span>
                      </div>
						</div>
                           
                           
                            <div class="form-group ">
                             <div class="checkbox text-left kepp-sing">
                            <label>
                              <input type="checkbox" class="flat" checked="checked"> Keep me sign in 
                            </label>
                          </div>
                            </div>




                            <div class="row  ">
                                <div class="form-group ">
                                    <div class="col-md-7 centered">
                                        <button type="submit" class="btn btn-primary col-md-12 col-xs-12">Login</button>
                                    </div>
                                    <div class="col-md-7  centered social-buttons clearfix">

                                        <a onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-google']);" class="btn btn-block btn-social btn-google">
                                            <span class="fa fa-google"></span> Sign in with Google
                                        </a>
                                        <a onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-facebook']);" class="btn btn-block btn-social btn-facebook">
                                            <span class="fa fa-facebook"></span> Sign in with Facebook
                                        </a>


                                        <a onclick="_gaq.push(['_trackEvent', 'btn-social', 'click', 'btn-twitter']);" class="btn btn-block btn-social btn-twitter">
                                            <span class="fa fa-twitter"></span> Sign in with Twitter
                                        </a>
                                    </div>
                                </div>
                            </div>
							<div>
   							 <a href="#" class="reset_pass"><i class="fa fa-question-circle" aria-hidden="true"></i> Lost your password?</a>
           				   </div>

                        </form>
                    </div>

                   




                </div>
            </div>
        </div>
    </div>
    
    <div class="push"></div>
    </div>





   <footer class="container-fluid" style="margin-left: 0;">
          <div class="text-center">
           GuardianAvionics.com © 2017 | All Rights Reserved
          </div>

        </footer>
    <!-- jQuery -->

    <script>
        // initialize the validator function
        validator.message.date = 'not a real date';

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('form')
          .on('blur', 'input[required], input.optional, select.required', validator.checkField)
          .on('change', 'select.required', validator.checkField)
          .on('keypress', 'input[required][pattern]', validator.keypress);

        $('.multi.required').on('keyup blur', 'input', function () {
            validator.checkField.apply($(this).siblings().last()[0]);
        });

        $('form').submit(function (e) {
            e.preventDefault();
            var submit = true;

            // evaluate the form using generic validaing
            if (!validator.checkAll($(this))) {
                submit = false;
            }

            if (submit)
                this.submit();

            return false;
        });
    </script> 



</body>
</html>
