﻿@{
    ViewBag.Title = "LoggedInUserChangedPassword";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script src="~/js/jquery.js"></script>
<script src="~/js/bootbox.js"></script>
<style>
    .container {
        min-height: 100%;
        position: relative;
    }

    footer {
        position: absolute;
        bottom: 0;
        width: 100%;
    }

    .field-validation-error {
        color: red;
    }

    .x_panel {
    
    padding-top:80px;
    }
</style>

<script>


    $(document).ready(function (e) {

        var $RIGHT_COL = $('.right_col'),
              $BODY = $('body'),
               $LEFT_COL = $('.left_col'),
    $RIGHT_COL = $('.right_col'),
      $NAV_MENU = $('.nav_menu'),
    $FOOTER = $('footer');
        $RIGHT_COL.css('min-height', $(window).height());

        var bodyHeight = $BODY.height(),
            leftColHeight = $LEFT_COL.eq(1).height() + $SIDEBAR_FOOTER.height(),
            contentHeight = bodyHeight < leftColHeight ? leftColHeight : bodyHeight;

        // normalize content
        contentHeight -= $NAV_MENU.height() + $FOOTER.height();

        $RIGHT_COL.css('min-height', contentHeight);

        $(".NumOnly").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                return false;
            }
        });


        $('#txtNewPassword, #txtConfirmNewPassword').keypress(function (e) {

            if (e.which == 8 || e.which == 0) {
                return true;
            }
            else {
                var regex = new RegExp("^[a-zA-Z0-9]+$");
                var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (regex.test(str)) {
                    return true;
                }
            }

            e.preventDefault();
            return false;
        });


        $("#btnChangePassword").click(function () {

            $("#snpErrReqOldPassword").attr("style", "display:none;color:red");
            $("#snpErrReqNewPassword").attr("style", "display:none;color:red");
            $("#snpErrNewPasswordLength").attr("style", "display:none;color:red");
            $("#snpErrConfNewPasswordNotMatch").attr("style", "display:none;color:red");
            $("#snpErrReqConfirmPassword").attr("style", "display:none;color:red");

            if ($("#txtOldPassword").val() == "" || $("#txtNewPassword").val() == "" || $("#txtConfirmNewPassword").val() == "") {
                if ($("#txtOldPassword").val() == "") {
                    $("#snpErrReqOldPassword").attr("style", "display:block;color:red");
                }
                if ($("#txtNewPassword").val() == "") {
                    $("#snpErrReqNewPassword").attr("style", "display:block;color:red");
                }
                if ($("#txtConfirmNewPassword").val() == "") {
                    $("#snpErrReqConfirmPassword").attr("style", "display:block;color:red");
                }
            }
            else if (($("#txtNewPassword").val().length > 50 || $("#txtNewPassword").val().length < 6)) {
                $("#snpErrNewPasswordLength").attr("style", "display:block;color:red");
            }
            else if ($("#txtNewPassword").val().trim() == '' || $("#txtConfirmNewPassword").val().trim() == '') {

            }
            else if ($("#txtNewPassword").val() != $("#txtConfirmNewPassword").val()) {
                $("#snpErrConfNewPasswordNotMatch").attr("style", "display:block;color:red");
            }
            else {

                $("#snpErrReqOldPassword").attr("style", "display:none;color:red");
                $("#snpErrReqNewPassword").attr("style", "display:none;color:red");
                $("#snpErrNewPasswordLength").attr("style", "display:none;color:red");
                $("#snpErrConfNewPasswordNotMatch").attr("style", "display:none;color:red");
                $("#snpErrReqConfirmPassword").attr("style", "display:none;color:red");
                $.post("/IMounts/Home/SetNewPassword", {
                    Password: $('#txtConfirmNewPassword').val(),
                    OldPasword: $('#txtOldPassword').val()
                }, function (data) {
                    if (data == '@GA.Common.ResourcrFiles.UserProfile.Messages.PasswordUpdateSuccess.ToString()') {
                        bootbox.alert(data, function () {
                        });
                        $('#txtOldPassword').val('');
                        $('#txtNewPassword').val('');
                        $('#txtConfirmNewPassword').val('');

                    } else {
                        bootbox.alert(data, function () {
                        });
                    }
                });
            }
        });

    });
</script>

<div class="margintop20 clearfix">
    <h3>Change Password</h3>
    <div class="col-xs-12 x_panel clearfix">

        <div class="form-horizontal form-table form-label-left form-reg-field">
            <div class="clearfix col-sm-6 col-xs-12">
                <div class="item form-group clearfix tablewrap col-sm-6">
                    <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle valigntop-sm">Old Password <span class="required">*</span></label>
                    <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
                        <input type="password" id="txtOldPassword" class="form-control col-md-7">
                        <br />
                        <span id="snpErrReqOldPassword" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                    </div>
                </div>
                <div class="item form-group clearfix tablewrap col-sm-6">
                    <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle valigntop-sm">New Password <span class="required">*</span></label>
                    <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
                        <input type="password" id="txtNewPassword" class="form-control col-md-7" maxlength="50">
                        <br />
                        <span id="snpErrReqNewPassword" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                        <span id="snpErrNewPasswordLength" style="color:red;display:none">Password must be between 6 to 50 characters.</span>
                        <span id="snpErrNewPasswordInvalid" style="color:red;display:none">Invalid password.</span>
                    </div>
                </div>
                <div class="item form-group clearfix tablewrap col-sm-6">
                    <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle valigntop-sm">Confirm Password <span class="required">*</span></label>
                    <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
                        <input type="password" id="txtConfirmNewPassword" class="form-control col-md-7" maxlength="50">
                        <br />
                        <span id="snpErrReqConfirmPassword" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                        <span id="snpErrConfNewPasswordNotMatch" style="color:red;display:none">@GA.Common.ResourcrFiles.UserProfile.Messages.ConfirmPasswordNotMatch.ToString()</span>
                        <span id="snpErrConfNewPasswordInvalid" style="color:red;display:none">Invalid password.</span>
                    </div>
                </div>
                <div class="item form-group clearfix tablewrap col-sm-6">
                    
                    <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
                        <button id="btnChangePassword" class="btn-rounded marginbottom10 btn-primary pull-right"><i class="fa fa-key"></i> Save Password</button>            
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            
        </div>
    </div>
</div>
