﻿@model GA.DataTransfer.LoginModel

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>I-Mounts</title>
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/content/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/content/css/custom.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
    <link href="~/content/css/responsive.css" rel="stylesheet">
    <link href="~/content/css/green.css" rel="stylesheet"> 
    <script src="~/js/validator.min.js"></script>
    @*<script src="~/Scripts/jquery-1.8.2.js"></script>*@
    <script src="~/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/custom.js"></script>
    <!-- iCheck -->
    <script src="~/js/flogin.js"></script>
    <script src="https://apis.google.com/js/client:platform.js" async defer></script>
    <script src="~/Scripts/icheck.js"></script>
     
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>


        <![endif]-->

    <script>
        function funGoogleLogin() {
            window.location.href = "/Home/GoogleLogin";
        }


        //$('#btnGmailLogin').on("click", function (e) {
        //    window.location.href = "/Home/GoogleLogin";
        //});


        $('#authorizebutton').on("click", function (e) {
            $.post("/Home/GoogleLogin", {
            },
          function (data) {

              if (data == "Admin") {
                  window.location.href = '/Admin/AdminHome';
              }
              else if (data == "User") {
                  window.location.href = '/Home/PilotSummaryDetails';
              }
              else if (data == "UserBlocked") {
                  HideLoader();
                  alert('@GA.Common.ResourcrFiles.UserProfile.Messages.BlockedUser.ToString()');
                  FB.logout(function (response) {
                      // user is now logged out
                  });
              }
              else if (data == "AlreadyRegisterWithGuardian") {
                  HideLoader();
                  alert('@GA.Common.ResourcrFiles.UserProfile.Messages.AccountAlreadyRegisterWithGuardian.ToString()');

              }
              else if (data == "Access denied") {
                  HideLoader();
                  alert("Access denied");
              }
          })
        });
    </script>
    @*<script type='text/javascript'>



            //$(function () {
            //    $('.btn-facebook').facebook_login({
            //        appId: '311339469073356',

            //        onSuccess: function (data) {

            //        },
            //        onError: function (data) { },
            //        permissions: 'read_stream'
            //    });
            //});

        // Load the SDK asynchronously
        function statusChangeCallback(response) {
            console.log('statusChangeCallback');
            console.log(response);
            // The response object is returned with a status field that lets the
            // app know the current login status of the person.
            // Full docs on the response object can be found in the documentation
            // for FB.getLoginStatus().
            if (response.status === 'connected') {
                // Logged into your app and Facebook.
                ShowLoader();
                testAPI();


            } else if (response.status === 'not_authorized') {
                // The person is logged into Facebook, but not your app.

                //document.getElementById('status').innerHTML = 'Please log ' +
                //  'into this app.';
            } else {
                // The person is not logged into Facebook, so we're not sure if
                // they are logged into this app or not.

                //document.getElementById('status').innerHTML = 'Please log ' +
                //  'into Facebook.';
            }
        }

        // This function is called when someone finishes with the Login
        // Button.  See the onlogin handler attached to it in the sample
        // code below.
        function checkLoginState() {
            FB.login(function (response) {

                if (response.authResponse) {
                    console.log('Welcome!  Fetching your information.... ');
                    //console.log(response); // dump complete info
                    access_token = response.authResponse.accessToken; //get access token
                    user_id = response.authResponse.userID; //get FB UID

                    testAPI();

                } else {
                    //user hit cancel button
                    console.log('User cancelled login or did not fully authorize.');

                }
            }, {
                scope: 'public_profile,email'
            });

            //FB.getLoginStatus(function (response) {
            //    statusChangeCallback(response);
            //});
        }

        window.fbAsyncInit = function () {


            FB.init({
                appId: '@GA.Common.ConfigurationReader.FacebookAppId',
                cookie: true,  // enable cookies to allow the server to access
                // the session
                status: true,
                xfbml: true,  // parse social plugins on this page
                version: 'v2.1' // use version 2.1
            });


            // Now that we've initialized the JavaScript SDK, we call
            // FB.getLoginStatus().  This function gets the state of the
            // person visiting this page and can return one of three states to
            // the callback you provide.  They can be:
            //
            // 1. Logged into your app ('connected')
            // 2. Logged into Facebook, but not your app ('not_authorized')
            // 3. Not logged into Facebook and can't tell if they are logged into
            //    your app or not.
            //
            // These three cases are handled in the callback function.

            FB.getLoginStatus(function (response) {
                if (response && response.status === 'connected') {
                    FB.logout(function (response) {
                        document.location.reload();
                    });
                }
            });

        };

        // Load the SDK asynchronously
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.3";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));


        function testAPI()
            {
                FB.api('/me', function (response) {
                    console.log('Successful login for: ' + response.name);
                    //document.getElementById('status').innerHTML =
                    //  'Thanks for logging in, ' + response.name + '!';
                    $.post("/Home/verifyFBLogin", {
                        Email: response.email,
                        FirstName: response.first_name,
                        LastName: response.last_name,
                        Id: response.id,
                        ThirdPartyAccountType: 1
                    },
                    function (data) {

                        if (data == "Admin") {
                            window.location.href = '/Admin/AdminHome';
                        }
                        else if (data == "User") {
                            window.location.href = '/Home/PilotSummary';
                        }
                        else if (data == "UserBlocked") {
                            //HideLoader();
                            alert('User is blocked. Please contact administrator');
                            FB.logout(function (response) {
                                // user is now logged out
                            });
                        }
                        else if (data == "AlreadyRegisterWithGuardian") {
                            //HideLoader();
                            alert('Please login by Guardian Avionics account. Your Id is already registered in Guardian Avionics.');
                            FB.logout(function (response) {
                                // user is now logged out
                            });
                        }
                        else if (data == "AlreadyRegisterWithGmailAccount") {
                            //HideLoader();
                            alert('Please login by Google account. Your Id is already registered with google login.');
                            FB.logout(function (response) {
                                // user is now logged out
                            });
                        }
                    })
                });
            }


        </script>*@


    <script type='text/javascript'>


        $(document).ready(function () {

            $("#tbxEmail").focus();

            $.ajaxSetup({ cache: true });
            $.getScript('//connect.facebook.net/en_US/all.js', function () {
                FB.init({
                    appId: '@GA.Common.ConfigurationReader.FacebookAppId',
                    cookie: true,
                    oauth: true
                });

                $('#fbLogin').on('click', function () {

                    FB.getLoginStatus(function (response) {
                        if (response && response.status === 'connected') {
                            FB.logout(function (response) {
                                document.location.reload();
                            });

                        }
                    });

                    FB.login(function (response) {
                        if (response.authResponse) {
                            FB.api('/me?fields=email,first_name,last_name', function (responseFromFB) {
                                $.post("/IMounts/Home/verifyFBLogin", {
                                    Email: responseFromFB.email,
                                    FirstName: responseFromFB.first_name,
                                    LastName: responseFromFB.last_name,
                                    Id: responseFromFB.id,
                                    ThirdPartyAccountType: 1
                                },
                                function (data) {

                                    if (data == "Admin") {
                                        window.location.href = '/Admin/AdminHome';
                                    }
                                    else if (data == "User") {
                                        window.location.href = '/Aircraft/AircraftList';
                                    }
                                    else if (data == "UserBlocked") {
                                        //HideLoader();
                                        alert('@GA.Common.ResourcrFiles.UserProfile.Messages.BlockedUser.ToString()');
                                        FB.logout(function (response) {
                                            // user is now logged out
                                        });
                                    }
                                    else if (data == "AlreadyRegisterWithGuardian") {
                                        //HideLoader();
                                        alert('@GA.Common.ResourcrFiles.UserProfile.Messages.AccountAlreadyRegisterWithGuardian.ToString()');
                                        FB.logout(function (response) {
                                            // user is now logged out
                                        });
                                    }
                                    else if (data == "AlreadyRegisterWithGmailAccount") {
                                        //HideLoader();
                                        alert('@GA.Common.ResourcrFiles.UserProfile.Messages.AccountAlreadyRegisterWithGoogle.ToString()');
                                        FB.logout(function (response) {
                                            // user is now logged out
                                        });
                                    }
                                })


                            });
                        }
                        else {
                            console.log('The login failed because they were already logged in');
                        }
                    }, { scope: 'email,public_profile' });
                });
            });

            $('#btnRegister').on("click", function (e) {
                window.location.href = '/Home/Register';
            });

        });

    </script>

    <style>
        .validation-summary-errors {
            font-size: 14px;
            color: red;
        }

        .wrapper {
            position: relative;
            min-height: 100%;
            width: 100%;
        }

        .login-page {
            padding: 10px;
            padding-bottom: 45px;
            /*Height of the footer;*/
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 45px; /* Height of the footer */
        }

        .navbar_login {
            position: static;
            margin-bottom: 80px;
        }
    </style>
</head>
<body id="page-top">
    <img class="full-screen-background-image" src="../Images/login.jpg" />
    <div class="wrapper">
        <nav id="mainNav" class="navbar navbar_login navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand page-scroll" href="#page-top"> <img src="../Images/black-logo.png" style="width:100px;height:50px;"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-landing-page" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a class="page-scroll" href="@Url.Action("", "Home")">Home</a> </li>
                        <li> <a class="page-scroll" href="@Url.Action("AboutUs", "Home")">About Us</a> </li>
                        <!--<li> <a class="page-scroll" href="Index.cshtml">Services</a> </li>-->
                        <li> <a class="page-scroll" href="@Url.Action("ContactUs", "Home")">Contact Us</a> </li>
                        <li> <a class="page-scroll" href="@Url.Action("Login", "Home")">Login</a> </li>
                        <li> <a class="page-scroll" href="@Url.Action("Register", "Home")">Sign Up</a> </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="container" style="width:100%; min-height: 100%;">
            <div class="login-inner col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4 col-xs-10 col-xs-offset-1" style="min-height: 100%;">
                <img src="../Images/avatar_2x.png" class="profile-img-card" id="profile-img">
                @using (@Html.BeginForm("Demo", "Home", new { }, FormMethod.Post, new { @class = "" })) // , new { }
                {
                    <div class="form-group">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6"><h1>Welcome to I-Mounts</h1></div>
                        <div class="col-sm-3">
                            <input type="submit" class="btn btn-danger" value="Demo Mode" />
                        </div>
                    </div>
                }
                @Html.ValidationSummary(true)
                @using (@Html.BeginForm("Login", "Home", new { }, FormMethod.Post, new { @class = "form-horizontal container" })) // , new { }
                {
                     
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback no-padding">
                            @Html.TextBoxFor(Model => Model.EmailId, new { @class = "form-control has-feedback-left", placeholder = "Enter Email Id ", id = "tbxEmail", @autocomplete = "false" }) <span aria-hidden="true" class="fa fa-user form-control-feedback left"></span> @Html.ValidationMessageFor(Model => Model.EmailId, string.Empty, new { id = "ValEmailId", @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback no-padding">
                            @Html.PasswordFor(Model => Model.Password, new { @class = "form-control has-feedback-left", placeholder = "Enter Password ", id = "tbxPass", @autocomplete = "false" }) <span aria-hidden="true" class="fa fa-lock form-control-feedback left"></span> @Html.ValidationMessageFor(Model => Model.Password, string.Empty, new { id = "ValPassword", @style = "color:red" })
                        </div>
                    </div>
                    <div class="form-group clearfix">
                        <div class="checkbox text-left kepp-sing col-sm-6 no-padding">
                            <label style="padding:0;">
                                @Html.CheckBox("isKeepMeSignIn", false, new { @class = "flat" })
                                Keep me sign in
                            </label>
                        </div>
                        <div class="col-sm-6 no-padding text-right"> <a href="@Url.Action("ForgotPassword","Home")" class="reset_pass"><i class="fa fa-question-circle" aria-hidden="true"></i> Forgot password?</a> </div>
                    </div>
                    <div class="row  ">
                        <div class="form-group">
                            <div class="col-md-7 centered">
                                <input type="submit" value="Login" class="btn btn-primary col-md-12 col-xs-12" id="btnLogin" />
                            </div>
                            <div class="col-md-7 centered">
                                <br />
                                <input type="button" value="Register" class="btn btn-primary col-md-12 col-xs-12" id="btnRegister" />
                            </div>
                            <div class="col-md-7  centered social-buttons clearfix">
                                <a class="btn btn-block btn-social btn-google" id="btnGmailLogin" onclick="funGoogleLogin()"> <span class="fa fa-google"></span> Sign in with Google </a>
                                <a class="btn btn-block btn-social btn-facebook" id="fbLogin" onclick="checkLoginState();"> <span class="fa fa-facebook"></span> Sign in with Facebook </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
        <footer class="container-fluid" style="margin-left: 0;">
            <div class="text-center"> GuardianAvionics.com © 2017 | All Rights Reserved </div>
        </footer>
    </div>

    <!-- jQuery -->

    <script>
        // initialize the validator function
        validator.message.date = 'not a real date';

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('form')
          .on('blur', 'input[required], input.optional, select.required', validator.checkField)
          .on('change', 'select.required', validator.checkField)
          .on('keypress', 'input[required][pattern]', validator.keypress);

        $('.multi.required').on('keyup blur', 'input', function () {
            validator.checkField.apply($(this).siblings().last()[0]);
        });

        $('form').submit(function (e) {
            e.preventDefault();
            var submit = true;

            // evaluate the form using generic validaing
            if (!validator.checkAll($(this))) {
                submit = false;
            }

            if (submit)
                this.submit();

            return false;
        });
    </script>
</body>
</html>
