﻿@model GA.DataTransfer.Classes_for_Web.PaypalResponse

@{
    ViewBag.Title = "PayPalReceipt";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

 <script src="Scripts/jquery-1.10.2.js"></script>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.flash.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.html5.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.2/js/buttons.print.min.js"></script>

<link href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="https://cdn.datatables.net/buttons/1.4.2/css/buttons.dataTables.min.css" rel="stylesheet" />
<script type="text/javascript">

    $(document).ready(function() {
        $('#example').DataTable({
            "paging": false,
            "ordering": false,
            "searching": false,
    dom: 'Bfrtip',
    buttons: [
   {
       message: '__MESSAGE__',
       extend: 'pdfHtml5',
       title: 'Receipt',
       header: true,
       customize: function (doc) {
           doc.content.forEach(function (content) {
               if (content.style == 'message') {
                   content.text = 'Subscription Receipt'
               }
           })
       }
   }, {
       message: 'Subscription Receipt',
       extend: 'print',
       title: 'Receipt',
       header: false
   } ,
    ]
    } );
    } );
</script>
     
<table id="example" class="display nowrap" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th></th>
            <th></th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="2">Receipt</td>
        </tr>
        <tr>
            <td>Receipt Id</td>
            <td>@Model.ReceiptId</td>
        </tr>
        <tr>
            <td>Transaction Id</td>
            <td>@Model.TransactionId</td>
        </tr>
        <tr>
            <td>Subscribe Id</td>
            <td>@Model.SubProfileId</td>
        </tr>
        <tr>
            <td>Payment Date</td>
            <td>@Model.PaymentDate</td>
        </tr>
        <tr>
            <td>Payment Status</td>
            <td>@Model.PaymentStatus</td>
        </tr>
        <tr>
            <td>Subscription Name</td>
            <td>@Model.ItemName</td>
        </tr>
        <tr>
            <td>Payer Name</td>
            <td>@Model.PayerFirstName @Model.PayerLastName</td>
        </tr>
        <tr>
            <td>Payer Email Id</td>
            <td>@Model.PayerEmail</td>
        </tr>
        <tr>
            <td>Receiver Email</td>
            <td>@Model.RecieverEmail</td>
        </tr>
        <tr>
            <td>Payment Amount</td>
            <td>$ @string.Format("{0:N2}", @Model.GrossTotal)</td>
        </tr>
        <tr>
            <td>Currency</td>
            <td>@Model.Currency</td>
        </tr>
       
    </tbody>
</table>