﻿@model GA.DataTransfer.LogBookModelWeb


@{
    ViewBag.Title = "PilotLogDetail";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script src="~/Scripts/jquery-1.11.1.js"></script>
<script src="~/Scripts/jquery.mousewheel.min.js"></script>
<link href="~/Content/jquery.timeentry.css" rel="stylesheet" />
<script src="~/Scripts/jquery.plugin.js"></script>
<script src="~/Scripts/jquery.timeentry.js"></script>
<script src="~/Scripts/PilotLogs.js"></script>
<script src="~/Scripts/jquery-ui-1.8.24.min.js"></script>
<script src="~/Scripts/bootstrap-datepicker.js"></script>
<link href="~/Content/datepicker.css" rel="stylesheet" />

<!-- Bootstrap Core JavaScript -->
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/js/bootbox.js"></script>
<script>
    $(function () {
        $('#Time').timeEntry({
            tabToExit: true, useMouseWheel: true
        });
    });

    $(document).ready(function (e) {
        $("#Route").focus();
        $('.current-page').removeAttr('class').addClass('navwidth');
        $('#liSideMenuPilotLogList').addClass('current-page');

        if ('@ViewBag.Message' != "") {
            bootbox.alert('@ViewBag.Message', function () {
            });

        }

        $("#DayPIC, #NightPIC, #CrossCountry, #Actual, #Hood, #Sim").change(function () {
            var VAL = $(this).val();
            var timeFormate = new RegExp('^[0-9]+(\.[0-9])?$');

            if (!timeFormate.test(VAL)) {
                bootbox.alert('Invalid time for ' + (this).id, function () {

                });
            }
        });


        $(".NumOnly").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                return false;
            }
        });
    });
</script>
<style>
    .field-validation-error {
        color: red;
    }
</style>
<div class="col-md-12 no-padding margintop20">
    <div class="x_panel clearfix">
        @using (@Html.BeginForm("PilotLogDetail", "Home", FormMethod.Post, new { @class = "form-horizontal form-label-left input_mask" }))
        {
        @*
            <form class="form-horizontal form-label-left input_mask">
        *@
        <div class="col-sm-12 no-padding marginbottom10"><a href="@Url.Action("PilotLogList", "Home")"><i class="circle fa fa-list-ul"></i> PilotLog</a>&nbsp;>&nbsp;Details</div>
        <div class="form-group tablewrap clearfix">
            <div class="col-sm-6 col-xs-12">
                <div class="clearfix">
                    <label class="control-label col-lg-3 col-md-3 col-sm-3 col-xs-12">Date</label>
                    <div class="col-lg-4 col-md-9 col-sm-9 col-xs-12 no-paddingleft">
                        <div class="col-xs-12 no-paddingright xdisplay_inputx form-group">
                            @Html.HiddenFor(model => model.ProfileId)
                            @Html.HiddenFor(model => model.Id)
                            @*
                                <input type="text" class="form-control " placeholder="Date" aria-describedby="inputSuccess2Status">
                            *@
                            @Html.TextBoxFor(m => m.Date, null, new { @readonly = "readonly", @class = "form-control has-feedback-left", placeholder = "Date" }) <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span> <span id="inputSuccess2Status" class="sr-only">(success)</span>
                        </div>
                    </div>
                    <label class="col-lg-1 control-label col-md-3 col-sm-3 col-xs-12">Time</label>
                    <div class="col-lg-4 col-md-9 col-sm-9 col-xs-12 no-padding">
                        <div class="col-md-12 xdisplay_inputx form-group tablewrap has-feedback">
                            @*
                                <input type="text" class="form-control" placeholder="Time">
                            *@
                            @Html.TextBoxFor(m => m.Time, null, new { @readonly = "readonly", @class = "form-control", placeholder = "Time" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12 tablewrap_fixwidth">
                <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valigntop">IFR Appchs</label>
                <div class="col-md-9 col-sm-9 col-xs-12 tablecell valigntop">
                    <div>
                        @*@{var a = (List
              <GA.DataTransfer.ListItems>
              )ViewBag.flighList;}*@
                        @*@Html.DropDownListFor(model => model.IfrAppchs1, new SelectList(a, "Value", "Text"), new { @class = "select2_single1 form-control", id = "ddl", @tabindex = "-1" })*@
                        @Html.TextBoxFor(m => m.IfrAppchs1, null, new { @class = "form-control NumOnly", placeholder = "IFR Appchs", @maxlength = "3" })
                     </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group tablewrap">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valigntop">Aircraft Model</label>
                    <div class="col-md-9 col-sm-9 col-xs-12 tablecell valigntop">
                        @*
                            <input type="text" class="form-control" placeholder="Aircraft Model">
                        *@
                        @Html.TextBoxFor(m => m.AircraftModel, null, new { @readonly = "readonly", @class = "form-control", placeholder = "Aircraft Model" })
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group tablewrap">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valigntop">Tail Number</label>
                    <div class="col-md-9 col-sm-9 col-xs-12 tablecell valigntop">
                        @*
                            <input type="text" class="form-control" placeholder="Tail Number">
                        *@
                        @Html.TextBoxFor(m => m.AircraftRegistration, null, new { @readonly = "readonly", @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group tablewrap">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valigntop">Route</label>
                    <div class="col-md-9 col-sm-9 col-xs-12 tablecell valigntop">
                        @*
                            <input type="text" class="form-control" placeholder="Route">
                        *@
                        @Html.TextBoxFor(m => m.Route, null, new { @class = "form-control", placeholder = "Enter Route." })
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group tablewrap">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valigntop"> </label>
                    <div class="col-md-9 col-sm-9 col-xs-12 tablecell valigntop">
                        
                      
                    </div>
                </div>
            </div>
        </div>
        
        <div class="clearfix">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group tablewrap">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valigntop">Pilot Email Id</label>
                    <div class="col-md-9 col-sm-9 col-xs-12 tablecell valigntop">
                        @*
                            <input type="text" class="form-control" placeholder="PilotEmailId">
                        *@
                        @Html.TextBoxFor(m => m.PilotEmailId, null, new { @class = "form-control", placeholder = "Enter Pilot Email Id." })

                        @Html.ValidationMessageFor(model => model.PilotEmailId)
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group tablewrap">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valigntop">CoPilot Email Id</label>
                    <div class="col-md-9 col-sm-9 col-xs-12 tablecell valigntop">
                        @*
                            <input type="text" class="form-control" placeholder="CoPilotEmailId">
                        *@
                        @Html.TextBoxFor(m => m.CoPilotEmailId, null, new { @class = "form-control", placeholder = "Enter CoPilot Email Id." })
                        @Html.ValidationMessageFor(model => model.CoPilotEmailId)
                        @Html.HiddenFor(m => m.CoPilotId)
                    </div>
                </div>
            </div>
        </div>
        
        <div class="clearfix">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group tablewrap">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valigntop">Day</label>
                    <div class="col-md-9 col-sm-9 col-xs-12 tablecell valigntop">
                        @*
                            <input type="text" class="form-control" placeholder="Day">
                        *@
                        @Html.TextBoxFor(m => m.DayPIC, null, new { @class = "form-control", id = "DayPIC", placeholder = "Enter Day (000:00:00)." }) <span class="help_txt_pilotlog">(time in 1/10 of an hour. (eg 1.5 = 90 min))</span><br />
                        @Html.ValidationMessageFor(model => model.DayPIC)
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group tablewrap">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valigntop">Night</label>
                    <div class="col-md-9 col-sm-9 col-xs-12 tablecell valigntop">
                        @*
                            <input type="text" class="form-control" placeholder="Night">
                        *@
                        @Html.TextBoxFor(m => m.NightPIC, null, new { @class = "form-control", id = "NightPIC", placeholder = "Enter Night" }) <span class="help_txt_pilotlog">(time in 1/10 of an hour. (eg 1.5 = 90 min))</span><br />
                        @Html.ValidationMessageFor(model => model.NightPIC)
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group tablewrap">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valigntop">Cross Country</label>
                    <div class="col-md-9 col-sm-9 col-xs-12 tablecell valigntop">
                        @*
                            <input type="text" class="form-control" placeholder="Cross Country">
                        *@
                        @Html.TextBoxFor(m => m.CrossCountry, null, new { @class = "form-control", id = "CrossCountry", placeholder = "Enter Cross country." }) <span class="help_txt_pilotlog">(time in 1/10 of an hour. (eg 1.5 = 90 min))</span><br />
                        @Html.ValidationMessageFor(model => model.CrossCountry)
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group tablewrap">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valigntop">Actual</label>
                    <div class="col-md-9 col-sm-9 col-xs-12 tablecell valigntop">
                        @*
                            <input type="text" class="form-control" placeholder="Actual">
                        *@
                        @Html.TextBoxFor(m => m.Actual, null, new { @class = "form-control", id = "Actual", placeholder = "Enter Actual." }) <span class="help_txt_pilotlog">(time in 1/10 of an hour. (eg 1.5 = 90 min))</span><br />
                        @Html.ValidationMessageFor(model => model.Actual)
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group tablewrap">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valigntop">Hood</label>
                    <div class="col-md-9 col-sm-9 col-xs-12 tablecell valigntop">
                        @*
                            <input type="text" class="form-control" placeholder="Hood">
                        *@
                        @Html.TextBoxFor(m => m.Hood, null, new { @class = "form-control", id = "Hood", placeholder = "Enter Hood." })
                        @Html.ValidationMessageFor(model => model.Hood) <span class="help_txt_pilotlog">(time in 1/10 of an hour. (eg 1.5 = 90 min))</span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group tablewrap">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valigntop">Sim</label>
                    <div class="col-md-9 col-sm-9 col-xs-12 tablecell valigntop">
                        @*
                            <input type="text" class="form-control" placeholder="Sim">
                        *@
                        @Html.TextBoxFor(m => m.Sim, null, new { @class = "form-control", id = "Sim", placeholder = "Enter Sim." }) <span class="help_txt_pilotlog">(time in 1/10 of an hour. (eg 1.5 = 90 min))</span><br />
                        @Html.ValidationMessageFor(model => model.Sim)
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix">
            <div class="col-sm-6 col-xs-12">
                <div class="form-group tablewrap">
                    <label style="padding-top:0;" class="tablecell valigntop control-label col-md-3 col-sm-3 col-xs-12">Audio File</label>
                    <div class="tablecell valigntop col-md-9 col-sm-9 col-xs-12">
                        @if (Model.AudioFileName != "")
                            {
                            <div id="divAudio" style="width: 100%; clear: both; padding-top:25px;">
                                @*
                                        <audio id="audioPlay" controls preload="none" style="width:100%">
                                      <source id="audSrc" type="audio/ogg">
                                    </audio>
                                *@
                                <script src="~/audiojs/audio.min.js"></script>
                                <script>
                                        audiojs.events.ready(function () {
                                            audiojs.createAll();
                                        });
                                </script>
                                <audio id="audSrc" preload="auto" src="@Model.AudioFileName" style="width: 100%"></audio>
                            </div>
                            }
                            else
                            {
                            <div id="divAudioMsg" style="font-weight:bold">File Not Available</div>
                            }
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-xs-12">
                <div class="form-group tablewrap">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valigntop">Remark</label>
                    <div class="col-md-9 col-sm-9 col-xs-12 tablecell valigntop">
                       
                        @Html.TextAreaFor(m => m.Remark,new { @class = "form-control", placeholder = "Enter Remark.", @rows = 5 })
                        @Html.ValidationMessageFor(model => model.Remark)
                    </div>
                </div>
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5 col-xs-12">
                <input id="btnSavePilotLogs" type="submit" value="Save" class="btn btn-block btn-primary" />
            </div>
        </div>
        @*
            </form>
        *@
        }
    </div>
</div>


 

@*
    <div class="col-md-12 no-padding margintop20">
      <div class="x_panel clearfix">
        <table id="datatable-fixed-header" class="table table-striped table-bordered jambo_table">
          <thead>
            <tr>
              <th>FlightNumber</th>
              <th>AircraftNNumber</th>
              <th>Date</th>
              <th>Time</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Speed</th>
              <th>OAT-C</th>
              <th>FQtyL</th>
              <th>FQR</th>
              <th>FUEL-F</th>
              <th>E1 MAP</th>
              <th>E1 RPM</th>
              <th>CHT1</th>
              <th>CHT2</th>
              <th>CHT3</th>
              <th>CHT4</th>
              <th>CHT5</th>
              <th>CHT6</th>
              <th>EGT1</th>
              <th>EGT2</th>
              <th>EGT3</th>
              <th>EGT4</th>
              <th>EGT5</th>
              <th>EGT6</th>
              <th>E1 TIT</th>
              <th>TIT-L</th>
              <th>EGT9</th>
              <th>TIT-R</th>
              <th>AMP</th>
              <th>VOLTS</th>
              <th>VOLTS2</th>
              <th>Oil-T</th>
              <th>OIL-P</th>
              <th>FP</th>
              <th>CalculatedFuelRemaining</th>
              <th>TotalAircraftTime</th>
              <th>EngineTime</th>
              <th>ElevatorTrimPosition</th>
              <th>UnitsIndicator</th>
              <th>FlapPosition</th>
              <th>UnitsIndicator2</th>
              <th>CarbTemp</th>
              <th>UnitsIndicator3</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
*@ 