﻿@model List<GA.DataTransfer.LogBookModelWeb>
@using GA.Common;

@{
    ViewBag.Title = "PilotLogList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var userType = string.Empty;
    userType = Session["UserType"] as string;
}
<script src="~/js/bootbox.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="~/js/jquery.js"></script>

<script type="text/javascript">
    function subMsg() {
        bootbox.alert('To view aircraft details, you have to purchase subscription plan 5', function () {
        });
    }
</script>

<div class="col-md-12 no-padding margintop20">
    <div class="x_panel clearfix">
        @if (userType == Enumerations.UserType.DemoUser.ToString())
        {
            <table id="datatable-fixed-header" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th aria-sort="descending">Flight No.</th>
                        <th>Date</th>
                        <th>Tail No.</th>
                        <th>Duration</th>
                        <th>FlightData</th>
                        <th>View Flight Summary</th>
                        <th>View Raw Data</th>
                    </tr>
                </thead>
                <tbody>
                    <tr  class="">
                        <td>1</td>
                        <td>@DateTime.Now.ToString("MM/dd/yyyy")</td>
                        <td>Demo</td>
                        <td>0.1</td>
                        <td>StoredData</td>
                        <td><a class="btn btn-primary btn-xs" href="@Url.Action("PilotLogDetail", "Home", new  {tid=0})"><i class="fa fa-search-plus"></i> View Flight Summary</a></td>
                        <td><a class="btn btn-info btn-xs" href="@Url.Action("FlightDataLogDemo", "Home")"><i class="fa fa-clipboard"></i> View Raw Data</a></td>
                    </tr>
                </tbody>
            </table>
        }
        else
        {
            <table id="datatable-fixed-header" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th aria-sort="descending">Flight No.</th>
                        @*<th>Flight Id</th>*@
                        <th>Date</th>
                        <th>Tail No.</th>
                        <th>Duration</th>
                        <th>FlightData</th>
                        <th>View Flight Summary</th>
                        <th>View Raw Data</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model.Select((value, index) => new { Value = value, Index = index }))
                {
                        <tr id="@item.Value.Id" class="@item.Value.FlightDataType">
                            <td>@item.Value.SNO</td>
                            <td>@item.Value.Date</td>
                            <td>@item.Value.AircraftRegistration</td>

                            @if (item.Value.FlightDataType == GA.Common.Enumerations.FlightDataType.LiveData.ToString() && item.Value.Finished == false)
                            {
                                

                                <td id="td_@item.Value.AircraftId-@item.Value.UniqeId-PLD" flightSNO="@item.Value.SNO" class="tdFlightTime">@item.Value.TotalFlightDuration</td>
                                <td>@item.Value.FlightDataType &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img id="imgLiveIcon_@item.Value.AircraftId-@item.Value.UniqeId-PLD" src="~/Images/record-button.gif" style="width:20px;height:20px" /> </td>
                                if (item.Value.TId == null)
                                {
                                    <td><a class="btn btn-primary btn-xs" onclick="subMsg();" style="cursor:pointer;background-color:#79a0c2"><i class="fa fa-search-plus"></i> View Flight Summary</a></td>
                                    <td><a class="btn btn-info btn-xs" onclick="subMsg();" style="cursor:pointer;background-color:#a5e9fd"><i class="fa fa-clipboard"></i> View Raw Data</a></td>
                                }
                                else
                                {
                                    <td><a class="btn btn-primary btn-xs" href="@Url.Action("PilotLogDetail", "Home", new { tid = @item.Value.TId })"><i class="fa fa-search-plus"></i> View Flight Summary</a></td>
                                    <td><a class="btn btn-info btn-xs" href="@Url.Action("FlightDataLogLive", "Home", new { pid = @item.Value.TId, flag = -1, aircraftId = @item.Value.AircraftId, uniqueId = @item.Value.UniqeId })"><i class="fa fa-clipboard"></i> View Raw Data</a></td>
                                }
                            }
                            else
                            {
                                <td id="td_@item.Value.AircraftId-@item.Value.UniqeId-PLD">@item.Value.TotalFlightDuration</td>
                                <td>@item.Value.FlightDataType</td>
                                if (item.Value.TId == null)
                                {
                                    <td><a class="btn btn-primary btn-xs" onclick="subMsg();" style="cursor:pointer;background-color:#79a0c2"><i class="fa fa-search-plus"></i> View Flight Summary</a></td>
                                    <td><a class="btn btn-info btn-xs" onclick="subMsg();" style="cursor:pointer;background-color:#a5e9fd"><i class="fa fa-clipboard"></i> View Raw Data</a></td>
                                }
                                else
                                {
                                    <td><a class="btn btn-primary btn-xs" href="@Url.Action("PilotLogDetail", "Home", new  {tid=@item.Value.TId })"><i class="fa fa-search-plus"></i> View Flight Summary</a></td>
                                    <td><a class="btn btn-info btn-xs" href="@Url.Action("FlightDataLog", "Home", new { pid = @item.Value.TId })"><i class="fa fa-clipboard"></i> View Raw Data</a></td>
                                }

                            }
                        </tr>
                    }
                </tbody>
            </table>
        }

    </div>
</div>
<script>

    var arr = [];
    var ws = [];
    var wsNewLog;
    $(document).ready(function () {

        var table = $('#datatable-fixed-header, #datatable-fixed-header1').DataTable({

            "order": [[0, "desc"]]
        });
        //$('#datatable-fixed-header').destroy();
        //$('#datatable-fixed-header').DataTable({
        //    "order": [[0, "desc"]]
        //});

        $('.tdFlightTime').each(function (index) {
            ws.push('ws' + index);
            CreateSocConn(this.id, index, $('#' + this.id).attr("flightSNO"));
            //arr.push(this.id);
        }).promise().done(function () {
            wsNewLog = new WebSocket('@GA.Common.ConfigurationReader.WebSocketURL' + "/LiveDataHandler.ashx?name=" + '@ViewBag.ProfileId' + '-NewLog');

            wsNewLog.onopen = function () {
                console.log("Conectopn open");
            };

            wsNewLog.onmessage = function (evt) {

                var sno = parseInt($("#datatable-fixed-header > tbody > tr:first > td:first").text()) + 1;
                var data = jQuery.parseJSON(evt.data);
                if (data.IsNewLog == 'true') {
                    var strTr = '<tr id="' + data.Id + '" class="' + data.FlightDataType + '">';
                    strTr += '<td>' + sno + '</td>';
                    strTr += '<td>' + data.Date + '</td>';
                    strTr += '<td>' + data.AircraftRegistration + '</td>';
                    strTr += '<td id="td_' + data.AircraftId + '-' + data.UniqeId + '-PLD" flightSNO="' + sno + '" class="tdFlightTime">' + data.TotalFlightDuration + '</td>';
                    strTr += '<td>' + data.FlightDataType + '&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img id="imgLiveIcon_' + data.AircraftId + '-' + data.UniqeId + '-PLD" src="/Images/record-button.gif" style="width:20px;height:20px" /> </td>';
                    //strTr += '<td><a class="btn btn-primary btn-xs" href="/Home/PilotLogDetail?id=' + data.Id + '"><i class=" fa fa-search-plus"></i> View Flight Summary</a></td>';
                    //strTr += '<td><a class="btn btn-info btn-xs" href="/Home/FlightDataLogLive?pilotLogId=' + data.Id + '&flag=-1&aircraftId=' + data.AircraftId + '&uniqueId=' + data.UniqeId + '"><i class="fa fa-clipboard"></i> View Raw Data</a></td>';
                    strTr += '<td><a class="btn btn-primary btn-xs" href="/Home/PilotLogDetail?tid=' + data.TID + '"><i class=" fa fa-search-plus"></i> View Flight Summary</a></td>';
                    strTr += '<td><a class="btn btn-info btn-xs" href="/Home/FlightDataLogLive?pid=' + data.TID + '&flag=-1&aircraftId=' + data.AircraftId + '&uniqueId=' + data.UniqeId + '"><i class="fa fa-clipboard"></i> View Raw Data</a></td>';
                    strTr += '</tr>';
                    $(strTr).prependTo("#datatable-fixed-header > tbody");
                    ws.push('ws' + ws.length);
                    CreateSocConn(data.AircraftId + '-' + data.UniqeId + '-PLD', ws.length, sno);
                }
                else {
                    ws.push('ws' + ws.length);
                    CreateSocConn(data.AircraftId + '-' + data.UniqeId + '-PLD', ws.length, $('#td_' + data.AircraftId + '-' + data.UniqeId + '-PLD').attr("flightSNO"));
                }
            };
            wsNewLog.onerror = function (evt) {

            };
            wsNewLog.onclose = function () {

            };
        });
    });


    function CreateSocConn(name, index, flightSNO) {
        name = name.replace("td_", "");
        console.log("Connection Request for " + name);

        ws[index] = new WebSocket('@GA.Common.ConfigurationReader.WebSocketURL' + "/LiveDataHandler.ashx?name=" + name);

        ws[index].onopen = function () {
            console.log("Connection Created for " + name);
        };
        ws[index].onmessage = function (evt) {

            if (evt.data == 'Flight End') {
                alert('Flight with serial No - ' + flightSNO + ' has been completed.');
                var imgid = 'imgLiveIcon_' + name;
                $("#" + imgid).hide();
                $("#Imageshow").hide();
            }
            else {
                $("#td_" + this.id).text(evt.data);
                var imgid = 'imgLiveIcon_' + name;
                $('#' + imgid).prop('src', '/Images/record-button.gif');
                $("#" + imgid).show();
                $("#Imageshow").show();
            }
        };
        ws[index].onerror = function (evt) {

        };
        ws[index].onclose = function () {

        };

        ws[index].id = name;
        ws[index].flightSNO = flightSNO;
    }

    @*if ('@ViewBag.SocConnName' != '') {
        ws = new WebSocket("ws://test.guardianavionicsdata.com/LiveDataHandler.ashx?name=" + '@ViewBag.SocConnName');

        ws.onopen = function () {
            console.log("Conectopn open");
        };
        ws.onmessage = function (evt) {
            console.log('Message rec');
            $('.tdFlightTime').text(evt.data);
        };
        ws.onerror = function (evt) {
            //$("#spanStatus").text(evt.message);
        };
        ws.onclose = function () {
            //$("#spanStatus").text("disconnected");
        };
    }*@

    // window.setInterval(event, 5000);
    function event() {

        $.post("/IMounts/Data/GetLiveDataFlightDuration", {
            flightIds: arr.join(',')
        },
        function (data) {
            var isdeleted = false;
            $.each(data, function (i, item) {
                if (item.IsFinished == 'False' || item.IsFinished == 'false' || item.IsFinished == false) {
                    $("#td_" + item.logId).css({ "background-color": "#ed4e4e", "color": "white" });
                    setTimeout(function () {
                        $("#td_" + item.logId).css({ "background-color": "white", "color": "grey" }).effect("highlight", {}, 1000);
                    }, 1000);
                    $("#td_" + item.logId).text(item.Duration);
                }
                else {
                    $("#imgLiveIcon_" + item.logId).hide();
                }
            });
        });
    }

</script>