﻿@model GA.DataTransfer.PreferenceModelWeb

@{
    ViewBag.Title = "Preferences";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<script src="~/js/jquery.js"></script>

<script src="~/js/bootbox.js"></script>

<script>

    $(document).ready(function () {


        $('#datatable-fixed-headerRestore').dataTable();


        // check if new password and confirm password match
        $('#txtConfirmPasswrod').change(function () {

            if ($('#txtConfirmPasswrod').val() != $('#txtNewPasswrod').val()) {
                alert("@GA.Common.ResourcrFiles.UserProfile.Messages.ConfirmPasswordNotMatch.ToString()");
            }
        })

        // save new password
        $('#btnSavePassword').on('click', function () {

            // check if old password , new password and confirm password is entered
            if ($('#txtOldPasswrod').val() == "" || $('#txtConfirmPasswrod').val() == "" || $('#txtNewPasswrod').val() == "") {
                alert("@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()");
                return;
            }
            $.post("/Home/SetNewPassword", {

                Password: $('#txtConfirmPasswrod').val(),
                OldPasword: $('#txtOldPasswrod').val()
            }, function (data) {
                if (data == '@GA.Common.ResourcrFiles.UserProfile.Messages.PasswordUpdateSuccess.ToString()') {
                    alert(data);
                    $('#txtOldPasswrod').val('');
                    $('#txtConfirmPasswrod').val('');
                    $('#txtNewPasswrod').val('');
                    ga('send', 'event', 'Button', 'Click', 'ChangePasswordFromPreference');
                } else {
                    alert(data);
                }

            });
        });

        // hide loader


        // hide or show dropbox login/logout button
        if ('@ViewBag.IsDropBoxSync' == '@Boolean.TrueString') {
            $('#dropboxLogout').show();
            $('#dropboxLogin').hide();
        } else {
            $('#dropboxLogout').hide();
            $('#dropboxLogin').show();
        }

        // calculate and show pilot flying summary total.
        $('#txtLastHood ,#txtLastActual ,#txtLastSim ,#txtLastCross ,#txtLastDay ,#txtLastNight').on("focusout", function (e) {

            var cntrl = e.currentTarget.id.split("txtLast")

            switch (cntrl[1]) {
                case "Sim":
                    {
                        if (validateTime('txtLastSim')) {
                            $('#lblTotalSim').text(AddTimeFlyingSummary($('#txtLastSim').val(), $('#lblOldSim').text()));
                            $("#spnErrSim").attr("style", "display:none;color:red");
                        }
                        else {
                            $("#spnErrSim").attr("style", "display:block;color:red");
                        }
                    }
                    break;
                case "Hood":
                    {
                        //var newVal = $('#txtLastHood').val();
                        //var oldVal = $('#lblOldHood').text();
                        //var update = AddTimeFlyingSummary(newVal, oldVal);
                        //$('#lblTotalHood').text(update);

                        if (validateTime('txtLastHood')) {
                            $('#lblTotalHood').text(AddTimeFlyingSummary($('#txtLastHood').val(), $('#lblOldHood').text()));
                            $("#spnErrHood").attr("style", "display:none;color:red");
                        }
                        else {
                            $("#spnErrHood").attr("style", "display:block;color:red");
                        }

                    }
                    break;
                case "Actual":
                    {
                        if (validateTime('txtLastActual')) {
                            $('#lblTotalActual').text(AddTimeFlyingSummary($('#txtLastActual').val(), $('#lblOldActual').text()));
                            $("#spnErrActual").attr("style", "display:none;color:red");
                        }
                        else {
                            $("#spnErrActual").attr("style", "display:block;color:red");
                        }
                    }
                    break;
                case "Cross":
                    {
                        if (validateTime('txtLastCross')) {
                            $('#lblTotalCross').text(AddTimeFlyingSummary($('#txtLastCross').val(), $('#lblOldCross').text()));
                            $("#spnErrCross").attr("style", "display:none;color:red");
                        }
                        else {
                            $("#spnErrCross").attr("style", "display:block;color:red");
                        }
                    }
                    break;
                case "Day":
                    {
                        if (validateTime('txtLastDay')) {
                            $('#lblTotalDay').text(AddTimeFlyingSummary($('#txtLastDay').val(), $('#lblOldDay').text()));
                            $("#spnErrDay").attr("style", "display:none;color:red");
                        }
                        else {
                            $("#spnErrDay").attr("style", "display:block;color:red");
                        }
                    }
                    break;
                case "Night":
                    {
                        if (validateTime('txtLastNight')) {
                            $('#lblTotalNight').text(AddTimeFlyingSummary($('#txtLastNight').val(), $('#lblOldNight').text()));
                            $("#spnErrNight").attr("style", "display:none;color:red");
                        }
                        else {
                            $("#spnErrNight").attr("style", "display:block;color:red");
                        }
                    }
                    break;
                default:
                    {

                    }
            }
        });

        // save last pilot log
        $('#tbxSaveLastPilotLog').click(function () {

            if (validateTime('txtLastSim') && validateTime('txtLastHood') && validateTime('txtLastActual') && validateTime('txtLastCross') && validateTime('txtLastDay') && validateTime('txtLastNight')) {
                var obj = {
                    Night: $('#txtLastNight').val(),
                    Day: $('#txtLastDay').val(),
                    CrossCountry: $('#txtLastCross').val(),
                    Actual: $('#txtLastActual').val(),
                    Sim: $('#txtLastSim').val(),
                    Hood: $('#txtLastHood').val(),
                    ProfileId: $('#ProfileId').val(),
                    Id: $('#lastPilotLogId').val(),
                };

                var json = JSON.stringify(obj);
                $.ajax({
                    type: "POST",
                    url: "/IMounts/Home/SaveLastPilotLogInFlyingSummary",
                    data: json,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        //alert('In Ajax');
                        bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.FlyingSummaryUpdate.ToString()', function () {
                        });
                        ga('send', 'event', 'Button', 'Click', 'UpdateFlightSummaryAtPreference');
                    }
                });
            }
            else {
                bootbox.alert('@GA.Common.ResourcrFiles.AircraftProfile.Messages.InvalidTimeFormat.ToString()', function () {
                });

            }
        });

    });

    function DropBoxClick() {
        ga('send', 'event', 'Button', 'Click', 'LoginToDropBox');
        window.location = '/Home/DropnetUrl';
    }


    function DropBoxLogoutClick() {
        ga('send', 'event', 'Button', 'Click', 'LogoutFromDropBox');
        var url = '@Url.Action("DropBoxSync", "Home")';
        $.ajax({
            url: url,
            data: {

            },
            success: function (data) {

                $('#dropboxLogout').hide()
                $('#dropboxLogin').show()
            }
        });
    }


    function validateTime(id) {
        var timeFormate = new RegExp('^[0-9]+(\.[0-9])?$');

        if (!timeFormate.test($("#" + id).val())) {
            return false;
        }
        else {
            return true;
        }
    }

    function DropboxSuccessLogout(data) {

        //check for session
        $('#dropboxLogout').hide()
        $('#dropboxLogin').show()

        if (data == true) {
            //alert("Logged in to dropbox");
        }
    }

    function pop_init(id, name) {
        alert('pop');
    }
    var timer = false;
    window.reportChildActivity = function () {
        if (timer !== false) {
            clearTimeout(timer);
        }
        SESSION_ALIVE = true;
        timer = window.setTimeout(pop_init, 1000);
    }

    function DropboxSuccessLogin(data) {
        var w = window.open(data.Uri, "_blank", '');
        $('#dropboxLogout').show();
        $('#dropboxLogin').hide();
    }

    function Complete(data) {
        //alert("Complete");
    }

    function Onfailure(data) {

       // alert(data);
        bootbox.alert('Unable to Sync with Dropbox', function () {
        });
        
    }




    function PasswordChanged(data) {
        //alert(data);
        bootbox.alert(data, function () {
        });
    }

    function AddTimeFlyingSummary(newVal, oldVal) {

        var additon = "";
        var hrs = 0, min = 0;

        var newValArray = newVal.split('.');
        var oldValArray = oldVal.split('.');

        if ((parseInt(oldValArray[1]) + parseInt(newValArray[1])) >= 10) {
            min = (parseInt(oldValArray[1]) + parseInt(newValArray[1])) - 10;
            hrs = 1 + (parseInt(oldValArray[0]) + parseInt(newValArray[0]));
        }
        else {

            min = (parseInt(oldValArray[1]) + parseInt(newValArray[1]));
            hrs = (parseInt(oldValArray[0]) + parseInt(newValArray[0]));
        }
        return hrs.toString() + "." + min.toString();
    }

    function AddEmailId() {

        if ($("#txtAddEmailId").val() == "") {
            $("#snpErrAddEmail").attr("style", "display:block;color:red");
        }
        else {
            $("#snpErrAddEmail").attr("style", "display:none;color:red");
            var isEnabled = false;
            isEnabled = $("#cbkIsEnabled").prop("checked");
            var ProfileId = $("#ProfileId").val();
            var EmailId = $("#txtAddEmailId").val();

            $.post("/IMounts/Home/SaveRecord", {
                emailId: EmailId, profileId: ProfileId, isEnabled: isEnabled
            },
            function (data) {
                if (data.msg == "Record Save Successfully") {
                    $.post("/IMounts/Home/GetUserEmailList", {
                        profileId: ProfileId
                    },
                      function (dataList) {
                          $('#divEmailListPartial').html(dataList);
                          $('#datatable-fixed-headerEmailList').dataTable();
                          $('#btnCancelAddEmail').click();
                          $('#btnCancelAddEmail').click();
                          bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.AddEmail.ToString()', function () {
                          });
                          if ($('#datatable-fixed-headerEmailList tr').length == 6)
                          {
                              $('#datatable-fixed-headerEmailList').prop('disabled', true);
                          }


                          ga('send', 'event', 'Button', 'Click', 'AddNewEmail');
                      });
                }
                else {
                    bootbox.alert(data.msg, function () {
                    });
                }
            });
        }
    }


    function DeleteEmail(id) {
        bootbox.confirm("@GA.Common.ResourcrFiles.UserProfile.Messages.ComfirmDeleteEmail.ToString()", function (result) {
            if (result) {
                var ProfileId = $("#ProfileId").val();
                $.ajax({
                    type: "GET",
                    contentType: "application/json; charset=utf-8",
                    url: '@Url.Action("DeleteRecord", "Home")',
                    data: {
                        "id": id,
                        "profileId" : ProfileId
                    },
                    dataType: "json",
                    beforeSend: function () { },
                    success: function (data) {
                        if (data.result == true) {
                            $.post("/IMounts/Home/GetUserEmailList", {
                                profileId: ProfileId
                            },
                              function (dataList) {
                                  if (dataList == 'Session Expire')
                                  {
                                      window.location = '/Home/Login?id=1';
                                  }
                                  else if (dataList == 'Invalid Request') {
                                      bootbox.alert(dataList, function () {
                                      });
                                  }
                                  else {
                                      $('#divEmailListPartial').html(dataList);
                                      $('#datatable-fixed-headerEmailList').dataTable();
                                      $('#btnCancelEditEmail').click();
                                      $('#btnCancelEditEmail').click();
                                      bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.DeleteEmail.ToString()', function () {
                                      });
                                      if ($('#datatable-fixed-headerEmailList tr').length < 6) {
                                          $('#datatable-fixed-headerEmailList').prop('disabled', false);
                                      }
                                      ga('send', 'event', 'Button', 'Click', 'DeleteEmailId');
                                  }
                              });
                        }
                        else {
                            bootbox.alert('@GA.Common.ResourcrFiles.Common.Messages.ErrorWhileProcessing.ToString()', function () {
                            });
                        }
                    }
                });
            }
        });
    }

    function resetEmail() {

        $("#txtAddEmailId").val('');
        $("#cbkIsEnabled").prop('checked', false);
        $("#snpErrAddEmail").attr("style", "display:none;color:red");
    }

    function SetEmailText(email, isenabled, id) {
        var isEmailEnable = true;
        if (isenabled == 1) {
            isEmailEnable = true;
        }
        else {
            isEmailEnable = false;
        }
        $("#hdnEmailId").val(id);
        $("#txtEditEmailId").val(email);
        $("#cbkEditIsEnabled").prop('checked', isEmailEnable);
    }


    function editEmail() {

    }

    function UpdateEmail() {
        if ($("#txtEditEmailId").val() == "") {
            $("#snpErrEditEmail").attr("style", "display:block;color:red");
        }
        else {
            $("#snpErrEditEmail").attr("style", "display:none;color:red");
            var isEnabled = false;
            isEnabled = $("#cbkEditIsEnabled").prop("checked");
            var ProfileId = $("#ProfileId").val();
            var EmailId = $("#txtEditEmailId").val();
            var id = $("#hdnEmailId").val();
            $.post("/IMounts/Home/UpdateRecord", {
                id: id, emailId: EmailId, profileId: ProfileId, isEnabled: isEnabled
            },
            function (data) {

                if (data.msg == '@GA.Common.ResourcrFiles.Common.Messages.UpdateRecord.ToString()') {
                    $.post("/IMounts/Home/GetUserEmailList", {
                        profileId: ProfileId
                    },
                      function (dataList) {
                          if (dataList == 'Session Expire')
                          {
                              window.location = '/Home/Login?id=1';
                          }
                          else if (dataList == 'Invalid Request') {
                              bootbox.alert(dataList, function () {
                              });
                          }
                          else {
                              $('#divEmailListPartial').html(dataList);
                              $('#datatable-fixed-headerEmailList').dataTable();
                              $('#btnCancelEditEmail').click();
                              $('#btnCancelEditEmail').click();
                              bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.UpdateEmail.ToString()', function () {
                              });
                              ga('send', 'event', 'Button', 'Click', 'UpdateEmailFromPreferences');
                          }
                      });
                }
                else if (data.msg == 'Session Expire') {
                    window.location = '/Home/Login?id=1';
                }
                else{
                    bootbox.alert(data.msg, function () {
                    });
                }
            });
        }
    }


    function RestoreAircraftClick() {
        var showGraphList = [];
        var arrRowIsd = [];
        $('#divRestoreAircraftListPartial input[type=checkbox]').each(function (index, element) {
            if (element.id != "checkBoxAll") {
                if ($("#" + element.id).prop('checked') == true) {
                    showGraphList.push(parseInt(element.id))
                    arrRowIsd.push("#tr_" + element.id);
                }
            }
        });
        if (showGraphList.length == 0) {
            alert('Please select the Flight');
            return;
        }
        var stringIds = showGraphList.join(", ");
        var ProfileId = parseInt($("#ProfileId").val());
        $.ajax({
            url: '@Url.Action("RestoreAircraft")',
            data: {
                "aircraftIds": stringIds,
                "profileId": ProfileId
            },
            success: function (data) {
                if (data.response == '@GA.Common.ResourcrFiles.Common.Messages.UpdateRecord.ToString()') {
                    $.post("/IMounts/Home/GetAircraftListToRestore", {
                        profileId: ProfileId
                    },
                     function (aircraftList) {
                         $('#divRestoreAircraftListPartial').html(aircraftList);
                         $('#datatable-fixed-headerRestore').dataTable();
                         bootbox.alert("@GA.Common.ResourcrFiles.AircraftProfile.Messages.RestoreAircraft.ToString()", function () {
                         });
                         ga('send', 'event', 'Button', 'Click', 'RestoreAircraft');
                     });
                }
                else if (data.response == 'Session Expired') {
                    window.location = '/Home/Login?id=1';
                }
                else {
                    bootbox.alert(data.response, function () {
                    });
                }
            }
        });
    }

    function FlightClicked(txt) {
    }

</script>
@Html.HiddenFor(model => model.ProfileId)
<input type="hidden" value="" id="hdnEmailId" />
@Html.HiddenFor(h => h.FlyingSummaryNew.Id, new { id = "lastPilotLogId" })
<div class="col-md-12 no-padding margintop20">
    <div class="x_panel clearfix">
        @using (@Html.BeginForm("Preferences", "Home", FormMethod.Post))
        {
            @*<h3>Default Airport</h3>
            <div class="form-horizontal form-table form-label-left form-reg-field">
                <div class="clearfix">
                    <div class="col-sm-6 col-xs-12 nopadding-xs">
                        <div class="item form-group clearfix tablewrap">
                            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle valigntop-sm">Identifier</label>
                            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
                                @Html.TextBoxFor(model => model.DefaultAirportIdentifier, new { @class = "form-control", @value = Model.DefaultAirportIdentifier ?? string.Empty, @autocomplete = "Off" })
                                @Html.HiddenFor(model => model.DefaultAirportIdentifier)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="ln_solid"></div>*@
            @Html.HiddenFor(m=>m.ShowPitch)
            @Html.HiddenFor(m=>m.ShowCabin)
            @Html.HiddenFor(m=>m.SwitchToEnginForAlarm)
            @Html.HiddenFor(m=>m.DisplayAltitude)
            @Html.HiddenFor(m=>m.AudioRecording)

            @*<h3>Formats And Units</h3>
            <p>Updating these values doesn’t change existing aircraft profiles</p>
            <div class="form-horizontal form-table form-label-left form-reg-field">
                <div class="clearfix">
                    <div class="col-sm-6 col-xs-12 nopadding-xs">
                        <div class="item form-group clearfix tablewrap">
                            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle valigntop-sm">Distance</label>
                            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">

                                @Html.DropDownListFor(model => model.DistanceUnitId, new SelectList(Model.Distance, "Value", "Text"), new { @class = "form-control" })
                                @Html.HiddenFor(model => model.DistanceUnitId)
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 nopadding-xs">
                        <div class="item form-group clearfix tablewrap">
                            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle valigntop-sm">Speed</label>
                            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">

                                @Html.DropDownListFor(model => model.SpeedUnitId, new SelectList(Model.Speed, "Value", "Text"), new { @class = "form-control" })
                                @Html.HiddenFor(model => model.SpeedUnitId)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-6 col-xs-12 nopadding-xs">
                        <div class="item form-group clearfix tablewrap">
                            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle valigntop-sm">Vertical Speed</label>
                            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">

                                @Html.DropDownListFor(model => model.VerticalSpeedUnitId, new SelectList(Model.VerticalSpeed, "Value", "Text"), new { @class = "form-control" })
                                @Html.HiddenFor(model => model.VerticalSpeedUnitId)
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-xs-12 nopadding-xs">
                        <div class="item form-group clearfix tablewrap">
                            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle valigntop-sm">Fuel</label>
                            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">

                                @Html.DropDownListFor(model => model.FuelUnitId, new SelectList(Model.Fuel, "Value", "Text"), new { @class = "form-control" })
                                @Html.HiddenFor(model => model.FuelUnitId)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix">
                    <div class="col-sm-6 col-xs-12 nopadding-xs">
                        <div class="item form-group clearfix tablewrap">
                            <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle valigntop-sm">Weight</label>
                            <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
                                @Html.DropDownListFor(model => model.WeightUnitId, new SelectList(Model.Weight, "Value", "Text"), new { @class = "form-control" })
                                @Html.HiddenFor(model => model.WeightUnitId)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group clearfix margintop20">
                <div class="col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5 col-xs-12">

                    <input id="btnPreference" type="submit" value="Save" class="btn btn-block btn-primary" />
                </div>
            </div>*@
        }

        <div class="clearfix"></div>
        <div class="ln_solid"></div>
        <h3>Upload data to dropbox</h3>
        <div class="form-horizontal form-table form-label-left form-reg-field">
            <div class="clearfix">
                    <button id="dropboxLogin" onclick="DropBoxClick();" value="Login to Dropbox" style="display:none" class="btn btn-primary"><i class="fa fa-dropbox font16"></i> Login to Dropbox</button>
                    <button id="dropboxLogout" onclick="DropBoxLogoutClick();" value="Logout" style="display:none" class="btn btn-primary"><i class="fa fa-dropbox font16"></i> Logout</button>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="ln_solid"></div>
        <div class="clearfix">
            <div class="col-xs-6"><h3>Send email to</h3>
                <p>Additional email id's can be added to get the end of flight email notification. Maximum 5 email can be added </p>
            </div>
            @if (Model.userEmail.Count() >= 5)
            {
                <div class="col-xs-6"><button id="btnAddEmail" disabled="disabled" data-target=".addemail-modal" onclick="resetEmail();" data-toggle="modal" class="btn-rounded marginbottom10 btn-primary pull-right"><i class="fa fa-plus"></i> Add Email</button></div>
            }
            else { 
            <div class="col-xs-6"><button id="btnAddEmail" data-target=".addemail-modal" onclick="resetEmail();" data-toggle="modal" class="btn-rounded marginbottom10 btn-primary pull-right"><i class="fa fa-plus"></i> Add Email</button></div>
            }
        </div>
        <div id="divEmailListPartial">
            @Html.Partial("_UserEmailListPreference", Model.userEmail)
        </div>

        <div class="clearfix"></div>
        <div class="ln_solid"></div>

        <h3>Restore Aircrafts</h3>
        <div id="divRestoreAircraftListPartial">
            @Html.Partial("_RestoreAircraftListPartial", Model.aircraftList)
        </div>
        <div class="clearfix"></div>
        <div class="form-group">
            <div class="col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5 col-xs-12">
                <input id="btnRestoreAircraft" type="button" onclick="RestoreAircraftClick()" value="Restore" class="btn btn-block btn-primary" />
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="ln_solid"></div>

        @*<h3>Pilot Flying Summary</h3>
    <table class="table jambo_table table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>Hood</th>
                <th>Actual</th>
                <th>Sim</th>
                <th>Cross Country</th>
                <th>Day</th>
                <th>Night</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><strong>Old</strong></td>
                <td>@Html.Label("", Model.FlyingSummaryOld.Hood, new { id = "lblOldHood" })</td>
                <td>@Html.Label("", Model.FlyingSummaryOld.Actual, new { id = "lblOldActual" })</td>
                <td>@Html.Label("", Model.FlyingSummaryOld.Sim, new { id = "lblOldSim" })</td>
                <td>@Html.Label("", Model.FlyingSummaryOld.CrossCountry, new { id = "lblOldCross" })</td>
                <td>@Html.Label("", Model.FlyingSummaryOld.Day, new { id = "lblOldDay" })</td>
                <td>@Html.Label("", Model.FlyingSummaryOld.Night, new { id = "lblOldNight" })</td>
            </tr>
            <tr>
                <td><strong>Last Flight</strong></td>
                <td>@Html.TextBoxFor(t => t.FlyingSummaryNew.Hood, new { id = "txtLastHood", @class = "form-control" }) <span id="spnErrHood" style="color:red;display:none">Invalid time format</span> </td>
                <td>@Html.TextBoxFor(t => t.FlyingSummaryNew.Actual, new { id = "txtLastActual", @class = "form-control" }) <span id="spnErrActual" style="color:red;display:none">Invalid time format</span> </td>
                <td>@Html.TextBoxFor(t => t.FlyingSummaryNew.Sim, new { id = "txtLastSim", @class = "form-control", }) <span id="spnErrSim" style="color:red;display:none">Invalid time format</span></td>
                <td>@Html.TextBoxFor(t => t.FlyingSummaryNew.CrossCountry, new { id = "txtLastCross", @class = "form-control" }) <span id="spnErrCross" style="color:red;display:none">Invalid time format</span> </td>
                <td>@Html.TextBoxFor(t => t.FlyingSummaryNew.Day, new { id = "txtLastDay", @class = "form-control" }) <span id="spnErrDay" style="color:red;display:none">Invalid time format</span> </td>
                <td>
                    @Html.TextBoxFor(t => t.FlyingSummaryNew.Night, new { id = "txtLastNight", @class = "form-control" }) <span id="spnErrNight" style="color:red;display:none">Invalid time format</span>
                </td>
            </tr>
        </tbody>
    </table>
    <div class="clearfix"></div>
    <div class="form-group">
        <div class="col-sm-2 col-sm-offset-5 col-md-2 col-md-offset-5 col-xs-12">
            <input id="tbxSaveLastPilotLog" type="button" value="Save" class="btn btn-block btn-primary" />
        </div>
    </div>*@
    </div>
</div>

<div class="modal fade addemail-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add Email Address</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="clearfix">
                    <form class="form-horizontal form-table form-label-left" data-parsley-validate="" id="demo-form2" novalidate>

                        <div class="form-group col-lg-12 no-padding">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Enter email <span class="required">*</span> </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input type="text" required="required" id="txtAddEmailId" class="form-control col-md-7 col-xs-12" autocomplete="Off">

                                <br />
                                <span id="snpErrAddEmail" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 no-padding">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Enabled <span class="required">*</span> </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input id="cbkIsEnabled" type="checkbox">
                            </div>
                        </div>

                    </form>
                </div>
            </div>
            <div class="modal-footer">

                <button type="button" id="btnCancelAddEmail" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="AddEmailId()" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>



<div class="modal fade editemail-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit Email Address</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="clearfix">
                    <form class="form-horizontal form-table form-label-left" data-parsley-validate="" id="demo-form2" novalidate>
                        <div class="form-group col-lg-12 no-padding">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Enter email <span class="required">*</span> </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input type="text" required="required" id="txtEditEmailId" class="form-control col-md-7 col-xs-12" autocomplete="Off">

                                <br />
                                <span id="snpErrEditEmail" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                        <div class="form-group col-lg-12 no-padding">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Enabled <span class="required">*</span> </label>
                            <div class="col-md-8 col-sm-6 col-xs-12">
                                <input id="cbkEditIsEnabled" type="checkbox">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnMedCertId" value="" />
                <button type="button" id="btnCancelEditEmail" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="UpdateEmail()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>