﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Index</title>
    @*
        <link rel="stylesheet" href="~/content/quote_novated" type="text/css">
    *@
    <!-- Bootstrap -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/content/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/content/css/custom.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
    <link href="~/content/css/responsive.css" rel="stylesheet">
    <link href="~/content/css/green.css" rel="stylesheet">
    <link href="~/content/css/select2.min.css" rel="stylesheet">
    @*<script src="~/Scripts/jquery-1.8.2.js"></script>*@
    <script src="~/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/validator.min.js"></script>
    <script src="~/js/parsley.min.js"></script>
    <script src="~/js/select2.full.min.js"></script>
    <!-- iCheck -->
    <script src="~/js/moment.min.js"></script>
    <script src="~/js/daterangepicker.js"></script>
    <script src="~/js/Scripts/icheck.js"></script>
    <script src="~/js/bootbox.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

</head>

<body class="bg-grey">
    <div class="wrapper">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand page-scroll" href="#page-top"> <img src="../Images/logo.png"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-landing-page" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a class="page-scroll" href="Index.cshtml">About</a> </li>
                        <li> <a class="page-scroll" href="Index.cshtml">Services</a> </li>
                        <li> <a class="page-scroll" href="Index.cshtml">Contact</a> </li>
                        <li> <a class="page-scroll" href="log2.cshtml">Login</a> </li>
                        <li> <a class="page-scroll" href="Register.cshtml">Sign Up</a> </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="maincontainer clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12 form-reg ">
                <div class="x_panel clearfix" style="width:70%;">
                    <div class="x_title">
                        <div class="title_left">
                            <h3>New User Registration </h3>
                        </div>
                    </div>
                    <div class="x_content">
                        <form class="form-horizontal form-label-left form-reg-field" novalidate>
                            <div class="clearfix"> <span class="section">User information:</span> </div>
                            <div class="item form-group ">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12 " for="first-name">First Name <span class="required">*</span> </label>
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                    <input type="text" id="emailId" placeholder="Enter First Name" required="required" class="form-control has-feedback-left col-md-7 col-xs-12">
                                    <span aria-hidden="true" class="fa fa-user form-control-feedback left"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Last Name <span class="required">*</span> </label>
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                    <input type="text" placeholder="Enter Last Name" required="required" class="form-control has-feedback-left col-md-7 col-xs-12 ">
                                    <span aria-hidden="true" class="fa fa-user form-control-feedback left"></span>
                                </div>
                            </div>
                            <div class="item form-group ">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Email Id <span class="required">*</span> </label>
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                    <input type="text" placeholder="Enter Email" required="required" class="form-control has-feedback-left col-md-7 col-xs-12">
                                    <span aria-hidden="true" class="fa fa-envelope form-control-feedback left"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Password <span class="required">*</span> </label>
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                    <input type="text" placeholder="Enter Password" required="required" class="form-control has-feedback-left col-md-7 col-xs-12">
                                    <span aria-hidden="true" class="fa fa-lock form-control-feedback left"></span>
                                </div>
                            </div>

                            <div class="item form-group  ">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Confirm Password <span class="required">*</span> </label>
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                    <input type="text" placeholder="Enter Confirm Password" required="required" class="form-control has-feedback-left col-md-7 col-xs-12">
                                    <span aria-hidden="true" class="fa fa-lock form-control-feedback left"></span>
                                </div>
                            </div>
                            <div class="item form-group ">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Date Of Birth </label>
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                    <fieldset>
                                        <div class="control-group">
                                            <div class="controls">
                                                <div class=" xdisplay_inputx form-group has-feedback">
                                                    <input type="text" class="form-control has-feedback-left" id="single_cal1" placeholder="Date Of Birth" aria-describedby="inputSuccess2Status">
                                                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true" style="left: 11px;"> </span> <span id="inputSuccess2Status" class="sr-only">(success)</span>
                                                </div>
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Phone Number <span class="required">*</span> </label>
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                    <input type="text" placeholder="Enter Phone Number" required="required" class="form-control has-feedback-left col-md-7 col-xs-12 ">
                                    <span aria-hidden="true" class="fa fa-phone form-control-feedback left"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Company Name <span class="required">*</span> </label>
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                    <input type="text" placeholder="Enter Company Name" required="required" class="form-control has-feedback-left  col-md-7 col-xs-12">
                                    <span aria-hidden="true" class="fa fa-building form-control-feedback left"></span>
                                </div>
                            </div>
                            <div class="clearfix"> <span class="section">Address:</span> </div>
                            <div class="item form-group  ">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Street Address <span class="required">*</span> </label>
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                    <input type="text" placeholder="Enter Street Address" required="required" class="form-control has-feedback-left col-md-7 col-xs-12 ">
                                    <span aria-hidden="true" class="fa fa-location-arrow form-control-feedback left"></span>
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12 " for="first-name">City <span class="required">*</span> </label>
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                    <input type="text" placeholder="Enter City" required="required" class="form-control has-feedback-left col-md-7 col-xs-12">
                                    <span aria-hidden="true" class="fa fa-location-arrow form-control-feedback left"></span>
                                </div>
                            </div>
                            <div class="item form-group ">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12 " for="first-name">State <span class="required">*</span> </label>
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                    <input type="text" placeholder="Enter State" required="required" class="form-control has-feedback-left col-md-7 col-xs-12 ">
                                    <span aria-hidden="true" class="fa fa-location-arrow form-control-feedback left"></span>
                                </div>
                            </div>
                            <div class="item form-group ">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12 " for="first-name">Zip Code <span class="required">*</span> </label>
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                    <input type="text" placeholder="Enter Zip Code" required="required" class="form-control has-feedback-left col-md-7 col-xs-12 ">
                                    <span aria-hidden="true" class="fa fa-list-ol form-control-feedback left"></span>
                                </div>
                            </div>
                            <div class="clearfix"> <span class="section">Security:</span> </div>
                            <div class="item form-group ">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12">Security Question</label>
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                    <select class="select2_group form-control">
                                        <optgroup label="Alaskan/Hawaiian Time Zone">
                                            <option value="AK">Alaska</option>
                                            <option value="HI">Hawaii</option>
                                        </optgroup>
                                    </select>
                                    <span aria-hidden="true" class="fa  fa-question-circle form-control-feedback left"></span>
                                </div>
                            </div>
                            <div class="item form-group  ">
                                <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Security Answer <span class="required">*</span> </label>
                                <div class="col-md-4 col-sm-7 col-xs-12">
                                    <input type="text" placeholder="Enter Security Answer" required="required" class="form-control has-feedback-left col-md-7 col-xs-12 ">
                                    <span aria-hidden="true" class="fa fa-list form-control-feedback left"></span>
                                </div>
                            </div>
                            <div class="ln_solid"></div>
                            <div class="form-group">
                                <div class="col-md-7 col-md-offset-4">
                                    <button type="submit" class="btn btn btn-danger ">Cancel</button>
                                    <button id="send" type="submit" class="btn btn btn-primary">Accept & Register</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>

    <footer class="container-fluid" style="margin-left: 0;">
        <div class="text-center"> GuardianAvionics.com © 2017 | All Rights Reserved </div>
    </footer>
    <script>
        // initialize the validator function
        validator.message.date = 'not a real date';

        // validate a field on "blur" event, a 'select' on 'change' event & a '.reuired' classed multifield on 'keyup':
        $('form')
          .on('blur', 'input[required], input.optional, select.required', validator.checkField)
          .on('change', 'select.required', validator.checkField)
          .on('keypress', 'input[required][pattern]', validator.keypress);

        $('.multi.required').on('keyup blur', 'input', function () {
            validator.checkField.apply($(this).siblings().last()[0]);
        });

        $('form').submit(function (e) {
            e.preventDefault();
            var submit = true;

            // evaluate the form using generic validaing
            if (!validator.checkAll($(this))) {
                submit = false;
            }

            if (submit)
                this.submit();

            return false;
        });
    </script>
    <script>
        $(document).ready(function () {
            bootbox.confirm("Are you sure?", function (result) {
                
            });
            $(".select2_single").select2({
                placeholder: "Select a state",
                allowClear: true
            });
            $(".select2_group").select2({});
            $(".select2_multiple").select2({
                maximumSelectionLength: 4,
                placeholder: "With Max Selection limit 4",
                allowClear: true
            });
        });
    </script>
    <!-- /Select2 -->

    <script>
        $(document).ready(function () {
            $('#single_cal1').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_1"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
            $('#single_cal2').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_2"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
            $('#single_cal3').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_3"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
            $('#single_cal4').daterangepicker({
                singleDatePicker: true,
                calender_style: "picker_4"
            }, function (start, end, label) {
                console.log(start.toISOString(), end.toISOString(), label);
            });
        });
    </script>
</body>
</html>
