﻿@model GA.DataTransfer.UserModelWeb
@using GA.Common;


@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Guardian Avionics</title>
    @*
        <link rel="stylesheet" href="~/content/quote_novated" type="text/css">
    *@
    <!-- Bootstrap -->
    <link href="~/content/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="~/content/fonts/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/content/css/custom.css" rel="stylesheet">
    <link href="~/content/css/style.css" rel="stylesheet">
    <link href="~/content/css/responsive.css" rel="stylesheet">
    <link href="~/content/css/green.css" rel="stylesheet">
    <link href="~/content/css/select2.min.css" rel="stylesheet">
    <link href="~/content/css/jqx.base.css" rel="stylesheet">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.min.css" />

    <style>
        .jqx-validator-hint {
            /*left: 820.094px !important;*/
            padding-left: 10px;
            padding-right: 8px;
            /* background-color: #D95C5C!important;
        border-color: #D95C5C!important;*/
        }
    </style>
    <!-- Bootstrap Core JavaScript -->
    <script type="text/javascript" src="~/js/jquery.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/jqxcore.js"></script>
    <script src="~/js/jqxexpander.js"></script>
    <script src="~/js/jqxvalidator.js"></script>
    @*<script src="~/js/jqxbuttons.js"></script>
        <script src="~/js/globalize.js"></script>
        <script src="~/js/jqxinput.js"></script>*@
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>



    <!-- Bootstrap Core JavaScript -->

    <script src="~/js/bootbox.js"></script>
    <script src="~/Scripts/jquery.mask.js"></script>
    <script>


        $(document).ready(function (e) {
            $('#DateOfBirth').mask('00/00/0000');
            $('#FirstName').focus();
            if ('@Model.IsRegisterByAdmin' == 'True')
            {
                $('#ulHeaderMenu').attr('style', 'display:none');
            }

            $('#btnCancel').on("click", function () {
                if ($("#ViewName").val() == 'AdminHome')
                {
                    window.location.href = '/Admin/ManufacturerUser';
                }
                else if ($("#ViewName").val() == 'ComponentManufacturer') {
                    window.location.href = '/Admin/ComponentManufacturer';
                }
                else {
                    window.location.href = '/Home/Index';
                }
            });


        });

        function addComponentManufacturer() {

            if ($("#txtAddManufacturerName").val() == '') {
                alert('@GA.Common.ResourcrFiles.UserProfile.Messages.ComponentManufacturerNameRequired.ToString()');
            }
            else {

                var url = '@Url.Action("IsManufacturerExists", "Admin")';
                $.ajax({
                    url: url,
                    data: {
                        "manufacturerName": $("#txtAddManufacturerName").val(),
                    },
                    success: function (data) {
                        if (data) {
                            var message = '@GA.Common.ResourcrFiles.UserProfile.Messages.ComponentManufacturerAlreadyExist.ToString()';
                            message.replace('((name))', $("#txtAddManufacturerName").val());

                            bootbox.alert(message, function () {
                            });
                        }
                        else {
                            url = '@Url.Action("SetComponentManufacturer", "Admin")';
                            $.ajax({
                                url: url,
                                data: {
                                    "manufacturerName": $("#txtAddManufacturerName").val(),
                                },
                                success: function (data) {
                                    if (data != 0) {
                                        $("#CompManufacturerId").append("<option value=" + data + ">" + $("#txtAddManufacturerName").val() + "</option>");
                                        $("#CompManufacturerId option:contains(" + $("#txtAddManufacturerName").val() + ")").attr('selected', 'selected');
                                        $("#btnCancelAddManufacturer").trigger('click'); true
                                        alert("Component Manufacturer is added successfully.")
                                        bootbox.alert('@GA.Common.ResourcrFiles.Common.Messages.AddRecord.ToString()', function () {
                                        });
                                    }
                                }
                            });
                        }
                    }
                });
            }
        }
    </script>


    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', '@GA.Common.ConfigurationReader.GoogleAnalyticsId', 'auto');
        ga('send', 'pageview');

    </script>

    <style>
        .Red {
            color: red;
        }
    </style>

</head>

<body class="bg-grey">
    <div class="wrapper">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top" style="z-index:100000" ;>
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a class="navbar-brand page-scroll" href="#page-top"> <img src="../Images/logo_smartCloudw_nl.png"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse nav-landing-page" id="bs-example-navbar-collapse-1">
                    <ul id="ulHeaderMenu" class="nav navbar-nav navbar-right">
                        <li> <a class="page-scroll" href="@Url.Action("", "Home")">Home</a> </li>
                        <li> <a class="page-scroll" href="@Url.Action("AboutUs", "Home")">About Us</a> </li>
                        <!-- <li> <a class="page-scroll" href="@Url.Action("Index", "Home")">Services</a> </li>-->
                        <li> <a class="page-scroll" href="@Url.Action("ContactUs", "Home")">Contact Us</a> </li>
                        <li> <a class="page-scroll" href="@Url.Action("Login", "Home")">Login</a> </li>
                        <li> <a class="page-scroll" href="@Url.Action("Register", "Home")">Sign Up</a> </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="maincontainer clearfix">
            <div class="col-md-12 col-sm-12 col-xs-12 form-reg ">
                <div class="x_panel clearfix" style="width:78%;">
                    <div class="x_title">
                        <div class="title_left">
                            <h3>@ViewBag.PageHeaderTitle </h3>
                        </div>
                    </div>
                    <div class="x_content">
                        <div id="">
                            @using (@Html.BeginForm("Register", "Home", FormMethod.Post, new { id = "testForm", @class = "register-form form-horizontal form-label-left form-reg-field" }))
                            {
                                @*<form class="form-horizontal form-label-left form-reg-field" id="testForm" action="./">*@
                                <div class="clearfix"> <span class="section">User information:</span> </div>
                                <div class="item form-group ">
                                    @Html.ValidationSummary(false, "", new { @class = "Red" })
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12 " for="first-name">First Name <span class="required">*</span> </label>
                                    <div class="col-md-4 col-sm-7 col-xs-12">
                                        @*<input type="text" id="FirstName" placeholder="Enter First Name" class="form-control has-feedback-left col-md-7 col-xs-12">*@
                                        @Html.TextBoxFor(m => m.FirstName, null, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", placeholder = "Enter First Name" })
                                        <span aria-hidden="true" class="fa fa-user form-control-feedback left"></span>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Last Name <span class="required">*</span> </label>
                                    <div class="col-md-4 col-sm-7 col-xs-12">
                                        @*<input type="text" id="LastName" placeholder="Enter Last Name" class="form-control has-feedback-left col-md-7 col-xs-12 ">*@
                                        @Html.TextBoxFor(m => m.LastName, null, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", placeholder = "Enter Last Name" })
                                        <span aria-hidden="true" class="fa fa-user form-control-feedback left"></span>
                                    </div>
                                </div>
                                <div class="item form-group ">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Email Id <span class="required">*</span> </label>
                                    <div class="col-md-4 col-sm-7 col-xs-12">
                                        @*<input type="text" placeholder="Enter Email" id="emailId" class="form-control has-feedback-left col-md-7 col-xs-12">*@
                                        @Html.TextBoxFor(m => m.EmailId, null, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", placeholder = "Enter Email" })
                                        <span aria-hidden="true" class="fa fa-envelope form-control-feedback left"></span>
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Password <span class="required">*</span> </label>
                                    <div class="col-md-4 col-sm-7 col-xs-12">
                                        @*<input type="text" id="Password" placeholder="Enter Password" class="form-control has-feedback-left col-md-7 col-xs-12">*@
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", placeholder = "Enter Password", @maxlength = "50" })
                                        <span aria-hidden="true" class="fa fa-lock form-control-feedback left"></span>
                                    </div>
                                </div>

                                <div class="item form-group  ">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Confirm Password <span class="required">*</span> </label>
                                    <div class="col-md-4 col-sm-7 col-xs-12">
                                        @*<input type="text" id="ConfirmPassword" placeholder="Enter Confirm Password" class="form-control has-feedback-left col-md-7 col-xs-12">*@
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", placeholder = "Enter Confirm Password", @maxlength = "50" })
                                        <span aria-hidden="true" class="fa fa-lock form-control-feedback left"></span>
                                    </div>
                                </div>
                                @*<div class="item form-group ">
                                        <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Date Of Birth </label>
                                        <div class="col-md-4 col-sm-7 col-xs-12">
                                            <fieldset>
                                                <div class="control-group">
                                                    <div class="controls">
                                                        <div class="date" id="datepicker">

                                                            @Html.TextBoxFor(m => m.DateOfBirth,null, new { @class = "form-control has-feedback-left col-sm-7 col-xs-12", placeholder = "(MM/DD/YYYY)", value = "" })
                                                            <span class="input-group-addon1 add-on"><span class="glyphicon glyphicon-calendar form-control-feedback left"></span></span>

                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                    </div>*@
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Phone Number </label>@*<span class="required">*</span>*@
                                    <div class="col-md-2 col-sm-3 col-xs-6">
                                        @Html.DropDownListFor(model => model.CountryCode, (IEnumerable<SelectListItem>)Model.Countries, new { @class = "form-control col-md-7 col-xs-12 selectpicker", style = "padding-left: 32px;", liveSearch = true })
                                        <span aria-hidden="true" class="fa fa-phone form-control-feedback left"></span>
                                    </div>
                                    <div class="col-md-2 col-sm-4 col-xs-6">
                                        @Html.TextBoxFor(m => m.PhoneNumber, null, new { @class = "form-control col-md-7 col-xs-12 NumOnly", placeholder = "Enter Phone Number", @maxlength = "12" })
                                    </div>
                                </div>
                                @*<div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Company Name </label>
                                    <div class="col-md-4 col-sm-7 col-xs-12">
                                        @Html.TextBoxFor(m => m.CompanyName, null, new { @class = "form-control has-feedback-left  col-md-7 col-xs-12", placeholder = "Enter Company Name." })
                                        <span aria-hidden="true" class="fa fa-building form-control-feedback left"></span>
                                    </div>
                                </div>*@
                                @*<div class="clearfix"> <span class="section">Address:</span> </div>
                                    <div class="item form-group  ">
                                        <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Street Address  </label>@*<span class="required">*</span>
                                        <div class="col-md-4 col-sm-7 col-xs-12">
                                            @Html.TextBoxFor(m => m.StreetAddress, null, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", placeholder = "Enter Street Address" })
                                            <span aria-hidden="true" class="fa fa-location-arrow form-control-feedback left"></span>
                                        </div>
                                    </div>
                                    <div class="item form-group">
                                        <label class="control-label col-md-4 col-sm-3 col-xs-12 " for="first-name">City </label>
                                        <div class="col-md-4 col-sm-7 col-xs-12">
                                            @Html.TextBoxFor(m => m.City, null, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", placeholder = "Enter City" })
                                            <span aria-hidden="true" class="fa fa-location-arrow form-control-feedback left"></span>
                                        </div>
                                    </div>
                                    <div class="item form-group ">
                                        <label class="control-label col-md-4 col-sm-3 col-xs-12 " for="first-name">State </label>
                                        <div class="col-md-4 col-sm-7 col-xs-12">
                                            @Html.TextBoxFor(m => m.State, null, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", placeholder = "Enter State" })
                                            <span aria-hidden="true" class="fa fa-location-arrow form-control-feedback left"></span>
                                        </div>
                                    </div>
                                    <div class="item form-group ">
                                        <label class="control-label col-md-4 col-sm-3 col-xs-12 " for="first-name">Zip Code </label>
                                        <div class="col-md-4 col-sm-7 col-xs-12">
                                            @Html.TextBoxFor(m => m.ZipCode, null, new { @class = "form-control has-feedback-left col-md-7 col-xs-12 NumOnly", placeholder = "Enter ZipCode", @maxlength = "8" })
                                            <span aria-hidden="true" class="fa fa-list-ol form-control-feedback left"></span>
                                        </div>
                                    </div>*@
                                <div class="clearfix"> <span class="section">Security:</span> </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12">Security Question</label>
                                    <div class="col-md-4 col-sm-7 col-xs-12">
                                        @*<select class="select2_group form-control">
                                                <optgroup label="Alaskan/Hawaiian Time Zone">
                                                    @foreach (var item in Model.SecurityQuestionsList)
                                                    {
                                                        <option value="@item.value">@item.text</option>

                                                    }
                                                </optgroup>
                                            </select>*@
                                        @Html.DropDownListFor(m => m.DDLid, new SelectList(Model.SecurityQuestionsList, "Value", "Text"), new { @class = "select2_group form-control" })


                                        <span aria-hidden="true" class="fa  fa-question-circle form-control-feedback left"></span>
                                    </div>
                                </div>
                                <div class="item form-group  ">
                                    <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Security Answer <span class="required">*</span> </label>
                                    <div class="col-md-4 col-sm-7 col-xs-12">
                                        @*<input type="text" id="SecurityAnswer" placeholder="Enter Security Answer" class="form-control has-feedback-left col-md-7 col-xs-12 ">*@
                                        @Html.TextBoxFor(m => m.SecurityAnswer, null, new { @class = "form-control has-feedback-left col-md-7 col-xs-12", placeholder = "Enter Security Answer" })
                                        <span aria-hidden="true" class="fa fa-list form-control-feedback left"></span>
                                    </div>
                                </div>
                                if (Model.IsRegisterByAdmin)
                                {
                                    <div class="item form-group  ">
                                        <label class="control-label col-md-4 col-sm-3 col-xs-12" for="first-name">Component Manufacturer<span class="required">*</span> </label>
                                        <div class="col-md-4 col-sm-7 col-xs-12">
                                            @*<input type="text" id="SecurityAnswer" placeholder="Enter Security Answer" class="form-control has-feedback-left col-md-7 col-xs-12 ">*@
                                            @Html.DropDownListFor(m => m.CompManufacturerId, new SelectList(Model.ComponentManufacturerList, "Value", "Text"), new { @class = "select2_group form-control" })<span aria-hidden="true" class="fa fa-list form-control-feedback left"></span>
                                        </div>
                                        <div class="col-md-4"><input type="button" value="Add" id="btnAddCompManufacturer" data-target=".add-manufacturer-modal" data-toggle="modal" class="btn btn-primary" /></div>
                                    </div>@*onclick="addComponentManufacturer();"*@
                                }
                                @Html.HiddenFor(m => m.IsRegisterByAdmin)
                                @Html.HiddenFor(m => m.ViewName)
                                <div class="ln_solid"></div>
                                <div class="form-group">
                                    <div class="col-md-7 col-md-offset-4">
                                        <button type="button" id="btnCancel" class="btn btn btn-danger ">Cancel</button>
                                        <button id="sendButton1" type="button" class="btn btn btn-primary">Accept & Register</button>
                                        <button id="sendButton" type="submit" style="display:none" class="btn btn btn-primary">Accept & Register</button>
                                    </div>
                                </div>
                                @*</form>*@
                            }
                        </div>

                        <div class="modal fade add-manufacturer-modal" style="margin-top:5%" tabindex="-1" role="dialog" aria-hidden="true">
                            <div class="modal-dialog modal-md">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                                        <h3 class="modal-title" id="myModalLabel2">Name</h3>
                                    </div>
                                    <div class="modal-body clearfix">
                                        <div clasfs="clearfix">
                                            <div class="form-group">
                                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Company Name <span class="required">*</span> </label>
                                                <div class="col-md-8 col-sm-6 col-xs-12">
                                                    <input type="text" name="txtAddManufacturerName" id="txtAddManufacturerName" required="required" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-danger" id="btnCancelAddManufacturer" data-dismiss="modal">Cancel</button>
                                        <button type="button" onclick="addComponentManufacturer();" class="btn btn-primary">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="push"></div>
    </div>

    <footer class="container-fluid" style="margin-left: 0;">
        <div class="text-center"> GuardianAvionics.com © 2017 | All Rights Reserved </div>
    </footer>
    <script>

    $(document).ready(function () {

        $('#Password, #ConfirmPassword').keypress(function (e) {
            if (e.which == 8 || e.which == 0) {
                return true;
            }
            else {
                var regex = new RegExp("^[a-zA-Z0-9]+$");
                var str = String.fromCharCode(!e.charCode ? e.which : e.charCode);
                if (regex.test(str)) {
                    return true;
                }
            }

            e.preventDefault();
            return false;
        });

        $(".NumOnly").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                return false;
            }
        });

        //$("#DateOfBirth").keypress(function (e) {
        //    return false;
        //});

        //$('#datepicker').datepicker({
        //    format: 'mm/dd/yyyy',
        //    startDate: '01/01/1900',
        //    endDate: '-1d',
        //    todayHighlight: true

        //});

        $('#sendButton1').bind('click', function () {

            $("#EmailId").val($("#EmailId").val().trim());
            if ($('#testForm').jqxValidator('validate')) {

                ga('send', 'event', 'Button', 'Click', 'RegisterUser');
                $("#sendButton").trigger("click");
            }
        });

        $('#testForm').jqxValidator({

            rules: [
            { input: '#FirstName', message: '@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()', action: 'blur', rule: 'required' },
            { input: '#FirstName', message: '@GA.Common.ResourcrFiles.UserProfile.Messages.FirstNameMaxCharLimit.ToString()', action: 'blur', rule: 'length=1,50' },

            { input: '#LastName', message: '@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()', action: 'blur', rule: 'required' },
            { input: '#LastName', message: '@GA.Common.ResourcrFiles.UserProfile.Messages.LastNameMaxCharLimit.ToString()', action: 'blur', rule: 'length=1,50' },

            { input: '#EmailId', message: '@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()', action: 'blur', rule: 'required' },
            { input: '#EmailId', message: '@GA.Common.ResourcrFiles.UserProfile.Messages.InvalidEmailId.ToString()', action: 'blur', rule: 'email' },

             { input: '#Password', message: '@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()', action: 'blur', rule: 'required' },
             { input: '#Password', message: '@GA.Common.ResourcrFiles.UserProfile.Messages.PasswordLimit.ToString()', action: 'blur', rule: 'length=6,50' },

             {
                 input: '#ConfirmPassword', message: '@GA.Common.ResourcrFiles.UserProfile.Messages.ConfirmPasswordNotMatch.ToString()', action: 'blur', rule: function (input, commit) {

                     if (input.val() === $('#Password').val()) {
                         return true;
                     }
                     return false;
                 },
            },
            {
                input: '#PhoneNumber', message: 'Please enter phone number with country code', action: 'blur', rule: function (input, commit) {
                        if ($("#CountryCode").val() == "0" && $("#PhoneNumber").val() != "") {
                            return false;
                    }
                    if ($("#CountryCode").val() != "0" && $("#PhoneNumber").val() == "") {
                        return false;
                    }
                        return true;
                }
            },

             //{ input: '#DateOfBirth', message: 'Required!', action: 'blur', rule: 'required' },

             @*{ input: '#PhoneNumber', message: '@GA.Common.ResourcrFiles.UserProfile.Messages.PhoneNumberCharLimit.ToString()', action: 'blur', rule: 'length=10,15' },*@

             @*{ input: '#CompanyName', message: '@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()', action: 'blur', rule: 'required' },*@

             @*{ input: '#StreetAddress', message: '@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()', action: 'blur', rule: 'required' },*@

             @*{ input: '#City', message: '@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()', action: 'blur', rule: 'required' },*@

             @*{ input: '#State', message: '@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()', action: 'blur', rule: 'required' },*@

             @*{ input: '#ZipCode', message: '@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()', action: 'blur', rule: 'required' },*@
             @*{ input: '#ZipCode', message: '@GA.Common.ResourcrFiles.UserProfile.Messages.ZipCodeCharLimit.ToString()', action: 'blur', rule: 'length=4,8' },*@

             { input: '#SecurityAnswer', message: '@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()', action: 'blur', rule: 'required' },
            ]
        });
    });
    //$('#birthInput').daterangepicker({
    //    singleDatePicker: true,
    //    calender_style: "picker_1"
    //}, function (start, end, label) {
    //    console.log(start.toISOString(), end.toISOString(), label);
    //});
    </script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
    <script src="../vendors/select2/dist/js/select2.full.min.js"></script>
    <script>
        $(document).ready(function () {
            $(".select2_single").select2({
                placeholder: "Select a state",
                allowClear: true
            });
            $(".select2_group").select2({});
            $(".select2_multiple").select2({
                maximumSelectionLength: 4,
                placeholder: "With Max Selection limit 4",
                allowClear: true
            });
        });
    </script>
    <script type="text/javascript">
        $('.selectpicker').select2();

    </script>
    <!-- /Select2 -->
    @*<script>
          $(document).ready(function() {

            $('#single_cal2').daterangepicker({
              singleDatePicker: true,
              calender_style: "picker_2"
            }, function(start, end, label) {
              console.log(start.toISOString(), end.toISOString(), label);
            });
            $('#single_cal3').daterangepicker({
              singleDatePicker: true,
              calender_style: "picker_3"
            }, function(start, end, label) {
              console.log(start.toISOString(), end.toISOString(), label);
            });
            $('#single_cal4').daterangepicker({
              singleDatePicker: true,
              calender_style: "picker_4"
            }, function(start, end, label) {
              console.log(start.toISOString(), end.toISOString(), label);
            });
          });
        </script>*@
</body>
</html>
