﻿@model GA.DataTransfer.Classes_for_Web.RegMaintenenceUserModel



@{
    ViewBag.Title = "RegMaintenanceUser";
    Layout = "~/Views/Shared/_LayoutBeforeLogin.cshtml";
}

<script src="~/js/jquery.js"></script>
<script src="~/js/bootbox.js"></script>

<script type="text/javascript">

    $(document).ready(function () {

        $('.current-page').removeAttr('class').addClass('navwidth');
        $('#liSideMenuSquawktList').addClass('current-page');
        $('#divLoader').hide();
        $("#myLoadingElement").hide();
        var mesage = '@ViewBag.message';
        if (mesage == 'Failure') {
            bootbox.alert("The link sent in the email cannot not be used multiple times.", function () {
                window.location.href = '/Home/Login';
            });
        }

        var profilemessage = '@ViewBag.ProfileMessage';
        if (profilemessage == 'Success') {
            bootbox.alert("Profile details updated successfully.", function () {
                window.location.href = '/Home/Login';
            });
        }
        else if (profilemessage == 'Exception') {
            bootbox.alert("Error occurs while updating the details.", function () {
            });
        }

        //$('#btnSubmit').bind('click', function () {
        //    //$("#myLoadingElement").show();
        //    $("#btnEmailOrSerQueSubmit").trigger("click");
        //});

     

    });

    function abc() {
        $("#myLoadingElement").show();
        $("#btnEmailOrSerQueSubmit").trigger("click");
    }
</script>


<div class="container containerFixwidth">
    <div class="col-xs-12">
        <h3>Registration</h3>

        @Html.ValidationSummary(true)
        @using (@Html.BeginForm("RegMaintenanceUser", "Home", new { }, FormMethod.Post, new { @class = "form-horizontal container" })) // , new { }
        {
            <div class="form-horizontal form-table form-label-left form-reg-field clearfix">
                <div class="col-sm-6 col-xs-12 nopadding-xs">
                    <div class="item form-group clearfix tablewrap">
                        <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle">First Name :</label>
                        <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">

                            @Html.TextBoxFor(m => m.FirstName, null, new { @class = "form-control", placeholder = "First Name" })

                            @Html.ValidationMessageFor(Model => Model.FirstName, string.Empty, new { @style = "color:red" })

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="col-sm-6 col-xs-12 nopadding-xs">
                    <div class="item form-group clearfix tablewrap">
                        <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle">Last Name :</label>
                        <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">

                            @Html.TextBoxFor(m => m.LastName, null, new { @class = "form-control", placeholder = "Last Name" })
                            @Html.ValidationMessageFor(Model => Model.LastName, string.Empty, new { @style = "color:red" })

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 col-xs-12 nopadding-xs">
                    <div class="item form-group clearfix tablewrap">
                        <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle">EmailId :</label>
                        <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
                            @Html.TextBoxFor(m => m.EmailId, null, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 col-xs-12 nopadding-xs">
                    <div class="item form-group clearfix tablewrap">
                        <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle">New Password :</label>
                        <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
                            @Html.PasswordFor(Model => Model.Password, new { @class = "form-control", placeholder = "Enter Password ", @autocomplete = "Off" })
                            @Html.ValidationMessageFor(Model => Model.Password, string.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 col-xs-12 nopadding-xs">
                    <div class="item form-group clearfix tablewrap">
                        <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle">Confirm Password :</label>
                        <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
                            @Html.PasswordFor(Model => Model.ConfirmPassword, new { @class = "form-control", placeholder = "Enter Password ", @autocomplete = "Off" })
                            @Html.ValidationMessageFor(Model => Model.ConfirmPassword, string.Empty, new { @style = "color:red" })
                        </div>
                    </div>
                </div>

                @Html.HiddenFor(Model => Model.ProfileId)
                @Html.HiddenFor(Model => Model.uniqueId)

                <div class="clearfix"></div>

                <div class="col-sm-6 col-xs-12 nopadding-xs">
                    <div class="item form-group clearfix tablewrap">
                        <label class="control-label col-sm-5 col-md-4 col-xs-12 tablecell valignmiddle"></label>
                        <div class="col-md-8 col-sm-7 col-xs-12 tablecell valignmiddle valigntop-sm">
                            <input type="button" id="btnSubmit" onclick="abc();" value="Submit" class="btn btn-primary" />
                            <input type="submit" id="btnEmailOrSerQueSubmit" style="display:none" value="Submit" class="btn btn-primary" />
                            <input type="button" id="btnCancel" value="Cancel" class="btn btn-danger" />
                        </div>
                    </div>
                </div>


            </div>

            <div class="clearfix"></div>

        }
    </div>
</div>

