﻿@using GA.DataTransfer.Classes_for_Web;

@model SquawkListModelWeb

@{
    ViewBag.Title = "SquawkList";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}



<script src="~/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->

<script src="~/js/bootbox.js"></script>

<script type="text/javascript">
    var table;
    $(document).ready(function (e) {
        $('.current-page').removeAttr('class').addClass('navwidth');

        $('#liSideMenuSquawktList').addClass('current-page');
        table = $('#datatable-fixed-header').DataTable({
            fixedHeader: true
        });

        //    $('#radioBtn a').on('click', function () {
        //        if ($(this).data('title') == "Close") {
        //            var sel = $(this).data('title');
        //            var tog = $(this).data('toggle');
        //            $('#hdnIssueId').val($(this).data('id'));
        //            $('#hdnsel').val(sel);
        //            $('#hdntog').val(tog);
        //            bootbox.confirm("Are you sure to Close this issue?", function (result) {
        //                if (result) {
        //                    $('#btnComment').click();
        //                }
        //            });
        //        }
        //    })
        //});

    });

    function ShowPopup(id)
    {
        bootbox.confirm("Are you sure to Close this issue?", function (result) {
            if (result) {
                $('#hdnIssueId').val(id);
                $('#btnComment').click();
            }
        });
    }


    function CloseIssue() {
        $("#snpErrComment").attr("style", "display:none;color:red");
        if ($("#txtComment").val() == "") {
            $("#snpErrComment").attr("style", "display:block;color:red");
        }
        else {
            $("#snpErrComment").attr("style", "display:none;color:red");
            $.post("/IMounts/Home/CloseIssue", {
                profileId : 0,
                issueId: $('#hdnIssueId').val(),
                comment: $('#txtComment').val()
            }, function (data) {
                
                $('#divIssueList').html('');
                $('#divIssueList').html(data);
                table = $('#datatable-fixed-header').DataTable({
                  
                });
                    $('#txtComment').val('');
                    $('#btnCancel').click();
                    $('#btnCancel').click();
                    bootbox.alert('Issue closed successfully.', function () {
                    });
                    //var tog = $('#hdntog').val();
                    //var sel = $('#hdnsel').val();

                    //$('#' + tog).prop('value', sel);
                    ////$('a[data-toggle="' + tog + '"]').not('[data-title="' + sel + '"]').removeClass('active').addClass('notActive');
                    ////$('a[data-toggle="' + tog + '"][data-title="' + sel + '"]').removeClass('notActive').addClass('active');
                    //$('#abtnOpen_' + $('#hdnIssueId').val()).removeClass('active').addClass('notActive');
                    //$('#abtnClose_' + $('#hdnIssueId').val()).removeClass('notActive').addClass('active');

                    //$("#div_" + $('#hdnIssueId').val()).addClass("disableClick")
               
                 
            });
        }

    }


</script>

<style>
    #radioBtn .notActive {
        color: #3276b1;
        background-color: #fff;
    }

    .disableClick {
        pointer-events: none;
    }
</style>

<input type="hidden" id="hdnIssueId" />
<input type="hidden" id="hdntog" />
<input type="hidden" id="hdnsel" />

<div class="col-md-12 col-xs-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div class="clearfix" style="margin-bottom:15px;">
            <div class="col-sm-6 no-padding">
            </div>
        </div>
        <div id="divIssueList">
            @Html.Partial("_SquawkPartial", Model)
        </div>
    </div>
</div>

<a href="javascript:void(0);" id="btnComment" data-toggle="modal" data-target=".Comment-modal"></a>
<div class="modal fade Comment-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h4 class="modal-title" id="myModalLabel2">Add Comment</h4>
            </div>
            <div class="modal-body clearfix">
                <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left">
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="">Comment<span class="required">*</span> </label>
                        <div class="col-md-8 col-sm-6 col-xs-12">
                            <textarea rows="5" cols="40" id="txtComment" name="txtComment" class="form-control col-xs-12"></textarea><br />
                            <span id="snpErrComment" style="color:red;display:none">Comment cannot be left blank.</span>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancel" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="CloseIssue();" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>