﻿@model GA.DataTransfer.Classes_for_Web.SubTableModel

@{
    ViewBag.Title = "Subscription";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<script src="~/js/jquery.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/js/bootbox.js"></script>
<style>
    .fontBold {
        font-weight: bold;
        font-size: 15px;
    }

    .fa-green {
        color: green;
    }
</style>
<div class="col-md-12 no-padding margintop20">
    <div class="x_panel clearfix">
        <div class="col-sm-12" style="text-align:center;">
            <h1>
                Aeronautical data subscription plans 
            </h1>
        </div>
        @Html.Partial("_SubscriptionMetrix", Model)
    </div>
</div>

