﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<script src="~/js/jquery.js"></script>
 

   
    <style>
         /* Always set the map height explicitly to define the size of the div
        * element that contains the map. */
        #map-canvas {
            height: 50%;
            width: 50%;
        }
         /* Optional: Makes the sample page fill the window. */
         html, body {
             height: 100%;
             margin: 0;
             padding: 0;
         }
    </style>
<div style="width:1000px; height:800px;">
    <div id="map-canvas" style="width: 40%; height: 40%"></div>
</div>
  
 
<script>

    // This example creates a 2-pixel-wide red polyline showing the path of William
    // Kingsford Smith's first trans-Pacific flight between Oakland, CA, and
    // Brisbane, Australia.


    var map;
    var flightPath;

    function initMap() {
        map = new google.maps.Map(document.getElementById('map-canvas'), {
            zoom: 3,
            center: { lat: -18.142, lng: 178.431 },
            mapTypeId: 'satellite'
        });

        var flightPlanCoordinates = [
          { lat: 37.772, lng: -122.214 },
          { lat: 21.291, lng: -157.821 }

        ];
        flightPath = new google.maps.Polyline({
            path: flightPlanCoordinates,
            geodesic: true,
            strokeColor: '#FF0000',
            strokeOpacity: 1.0,
            strokeWeight: 2
        });

        flightPath.setMap(map);
    }


    function tempFun() {
        var path = flightPath.getPath();
        // add new point (use the position from the click event)
        path.push(new google.maps.LatLng('-18.142', '178.431'));
        path.push(new google.maps.LatLng('-27.467', '153.027'));
        // update the polyline with the updated path
        flightPath.setPath(path);
        map.setCenter(new google.maps.LatLng(-27.467, 153.027));
    }
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBKZ7qjEccZNVtJXkfZrkwg__3Yp0r_ZjM&callback=initMap">
</script>