﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Scripts/bootstrap.min.js"></script>

    <link href="~/Content/fixedheadertable.css" rel="stylesheet" />
    <link href="~/Content/custom.css" rel="stylesheet" />
    

     <script src="~/Scripts/jquery-1.7.2.js"></script>
    <script src="~/Scripts/jquery.fixedheadertable.js"></script>


    <script>

      

        function InitializeJPITable(IsJPI, IsGarmin, IsULP) {
            var rowData = "<tr>";
            rowData += '<th>Time Interval</th>';
            rowData += '<th>FlightNumber</th>';
            rowData += '<th>AircraftNNumber</th>';
            rowData += '<th>Date</th>';
            rowData += '<th>Time</th>';
            rowData += '<th>Latitude</th>';
            rowData += '<th>Longitude</th>';
            rowData += '<th>Speed</th>';
            rowData += '<th>OAT-C</th>';
            rowData += '<th>FQtyL</th>';
            rowData += '<th>FQR</th>';
            rowData += '<th>FUEL-F</th>';
            rowData += '<th>E1 MAP</th>';
            rowData += '<th>E1 RPM</th>';
            rowData += '<th>CHT1</th>';
            rowData += '<th>CHT2</th>';
            rowData += '<th>CHT3</th>';
            rowData += '<th>CHT4</th>';
            rowData += '<th>CHT5</th>';
            rowData += '<th>CHT6</th>';
            rowData += '<th>EGT1</th>';
            rowData += '<th>EGT2</th>';
            rowData += '<th>EGT3</th>';
            rowData += '<th>EGT4</th>';
            rowData += '<th>EGT5</th>';
            rowData += '<th>EGT6</th>';
            rowData += '<th>E1 TIT</th>';
            rowData += '<th>TIT-L</th>';
            rowData += '<th>TIT-R</th>';
            rowData += '<th>AMP</th>';
            rowData += '<th>VOLTS</th>';
            rowData += '<th>VOLTS2</th>';
            rowData += '<th>Oil-T</th>';
            rowData += '<th>OIL-P</th>';
            rowData += '<th>FP</th>';

            if (IsJPI) {

                rowData += '<th>Roll</th>';
                rowData += '<th>Pitch</th>';
                rowData += '<th>Yaw</th>';
                rowData += '<th>CDT</th>';
                rowData += '<th>CLD</th>';
                rowData += '<th>END</th>';
                rowData += '<th>HP</th>';
                rowData += '<th>IAT</th>';
                rowData += '<th>MPG</th>';
                rowData += '<th>WP REM</th>';
                rowData += '<th>WP REQ</th>';
                rowData += '<th>RES</th>';
                rowData += '<th>USD</th>';
                rowData += '<th>H:M</th>';
                rowData += '<th>Altitude</th>';
                rowData += '<th>OP</th>';
                rowData += '<th>OT</th>';
                rowData += '<th>FUEL-F</th>';
                rowData += '<th>GPH</th>';
                rowData += '<th>ECON</th>';
            }

            if (IsGarmin) {
                rowData += '<th>CalculatedFuelRemaining</th>';
                rowData += '<th>TotalAircraftTime</th>';
                rowData += '<th>EngineTime</th>';
                rowData += '<th>ElevatorTrimPosition</th>';
                rowData += '<th>UnitsIndicator</th>';
                rowData += '<th>FlapPosition</th>';
                rowData += '<th>UnitsIndicator2</th>';
                rowData += '<th>CarbTemp</th>';
                rowData += '<th>UnitsIndicator3</th>';
                rowData += '<th>CoolantPressure</th>';
                rowData += '<th>UnitsIndicator4</th>';
                rowData += '<th>CoolantTemperature</th>';
                rowData += '<th>UnitsIndicator5</th>';
                rowData += '<th>AMP2</th>';
                rowData += '<th>UnitsIndicator6</th>';
                rowData += '<th>AileronTrimPosition</th>';
                rowData += '<th>UnitsIndicator7</th>';
                rowData += '<th>RubberTrimPosition</th>';
                rowData += '<th>UnitsIndicator8</th>';
                rowData += '<th>FuelQty3</th>';
                rowData += '<th>UnitsIndicator9</th>';

                rowData += '<th>FuelQty4</th>';
                rowData += '<th>UnitsIndicator10</th>';
                rowData += '<th>DiscreteInput1</th>';
                rowData += '<th>DiscreteInput2</th>';
                rowData += '<th>DiscreteInput3</th>';
                rowData += '<th>DiscreteInput4</th>';
            }
            if (IsULP) {
                rowData += '<th>IgnStatus</th>';
                rowData += '<th>SensorStatus</th>';
                rowData += '<th>ThrottlePosition</th>';
                rowData += '<th>Baro</th>';
                rowData += '<th>Airtemp</th>';
                rowData += '<th>EcuTemp</th>';
                rowData += '<th>Batteryvoltage</th>';
                rowData += '<th>Sen1</th>';
                rowData += '<th>Sen2</th>';
                rowData += '<th>Sen3</th>';
                rowData += '<th>Sen4</th>';
                rowData += '<th>Sen5</th>';
            }
            rowData += '</tr>';
            $('#tblJpi > thead:first').append(rowData);
            rowData = '<tr class="bottomheading">';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>&nbsp;</th>';
            rowData += '<th>mm-dd-yyyy</th>';
            rowData += '<th>hh:mm:ss</th>';
            rowData += '<th>degrees</th>';
            rowData += '<th>degrees</th>';
            rowData += '<th>Knots</th>';
            rowData += '<th>deg C</th>';
            rowData += '<th>gals</th>';
            rowData += '<th>gals</th>';
            rowData += '<th>gph</th>';
            rowData += '<th>Hg</th>';
            rowData += '<th>rpm</th>';
            rowData += '<th>deg F</th>';
            rowData += '<th>deg F</th>';
            rowData += '<th>deg F</th>';
            rowData += '<th>deg F</th>';
            rowData += '<th>deg F</th>';
            rowData += '<th>deg F</th>';
            rowData += '<th>deg F</th>';
            rowData += '<th>deg F</th>';
            rowData += '<th>deg F</th>';
            rowData += '<th>deg F</th>';
            rowData += '<th>deg F</th>';
            rowData += '<th>deg F</th>';
            rowData += '<th>deg F</th>';
            rowData += '<th>deg C</th>';
            rowData += '<th>deg C</th>';
            rowData += '<th>A</th>';
            rowData += '<th>V</th>';
            rowData += '<th>V</th>';
            rowData += '<th>deg C</th>';
            rowData += '<th>PSI</th>';
            rowData += '<th>PSI</th>';
            if (IsJPI) {
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
            }
            if (IsGarmin) {
                rowData += '<th>gallon</th>';
                rowData += '<th>hours</th>';
                rowData += '<th>hours</th>';
                rowData += '<th>1 % of Travel</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>degree</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>deg C</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>PSI</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>deg C</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>A</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>1 % of Travel</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>1 % of Travel</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>gallon</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>gallon</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
            }
            if (IsULP) {
                rowData += '    <th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
                rowData += '<th>&nbsp;</th>';
            }
            rowData += '</tr>';
            //  $('#tblJpi > thead:last').append(rowData);
        }


        function getInnerData(rowId) {
            var index = $('#' + rowId).index() + 1;
            var level = parseInt($('table#tblJpi tbody tr:nth-child(' + index + ')').attr('level'));

            //  if ($('table#tblJpi tbody tr:nth-child(' + index + ')').attr('IsDataFetched') == "0") {
            $('#myLoadingElement').show();
            $.ajax({
                url: '@Url.Action("ListJpiPilot", "Data")',
                data: {
                    "pageNo": 1,
                    "pilotLogId": $('#Id').val(),
                    "profileId": 0,
                    "IsCallFromPilotPage": "false",
                    "totalRecordFetch": $('#hdnTotalRecordFetch').val(),
                    "timeInterval": $('#hdnJpiDataTimeInterval').val(),
                    "StartDate": $('table#tblJpi tbody tr:nth-child(' + index + ') td:nth-child(4)').text() + " " + $('table#tblJpi tbody tr:nth-child(' + index + ') td:nth-child(5)').text(),
                    "requestDataForLevel": level
                },
                success: function (data) {

                    var tempClass = $('table#tblJpi tbody tr:nth-child(' + index + ')').attr('class');
                    if (tempClass == 'tbHeader') {
                        $('.tbHeader2').remove();
                        $('.tbHeader3').remove();
                    }
                    else {
                        $('.tbHeader3').remove();
                    }

                    index = $('#' + rowId).index() + 1;
                    $('table#tblJpi tbody tr:nth-child(' + index + ')').attr('IsDataFetched', '1');

                    $('#hdnTotalRecordFetch').val(data.totalRecordFetch);
                    //$('#hdnIsDataAvailable').val(data.IsDataAvailable);
                    addDataToJPITable(data, index, level);

                    $('html, body').animate({
                        scrollTop: $('#' + rowId).offset().top
                    }, 2000);
                    $('#myLoadingElement').hide();

                }
            });
            // }
        }



        function addDataToJPITable(data, InsertAtIndex, groupedlevel) {

            var rowData = "";
            var timeInterval = "";
            var rowid = $('#tblJpi tbody tr').length;

            var className = "tbHeader3";
            if (InsertAtIndex != 0) {
                groupedlevel = groupedlevel + 1;
            }
            $.each(data.jpiData, function (i, item) {
                rowid = rowid + 1
                var strStyle = "";
                var addMethod = "";
                if (groupedlevel == 1) {
                    className = "tbHeader";
                    strStyle = "style=\"background-color:#F1F1F1;\"";
                    addMethod = "onclick=\"getInnerData('trr" + rowid + "')\"";
                    timeInterval = "5 min";
                }
                else if (groupedlevel == 2) {
                    className = "tbHeader2";
                    //strStyle = "style=\"background-color:#267bae;\"";
                    strStyle = "style=\"background-color:#CBCBCB;\"";
                    addMethod = "onclick=\"getInnerData('trr" + rowid + "')\"";
                    timeInterval = "1 min";
                }
                else {
                    strStyle = "style=\"background-color:white;\"";
                    timeInterval = "1 sec";
                }

                rowData += "<tr level=\"" + groupedlevel + "\" class=\"" + className + "\" id=\"trr" + rowid + "\"  " + addMethod + "   " + strStyle + " IsDataFetched=\"0\"  ><td>" + timeInterval + " <i class=\"fa fa-caret-right\" aria-hidden=\"true\"></i></td> <td>" + item.FlightNumber + "</td>";
                rowData += '<td>' + item.AircraftNNumber + '</td>';
                rowData += '<td>' + item.Date + '</td>';
                rowData += '<td>' + item.Time + '</td>';

                if (item.Latitude == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + parseFloat(item.Latitude).toFixed(6) + '</td>';
                }

                if (item.Latitude == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td>' + parseFloat(item.Latitude).toFixed(6) + '</td>';
                }

                if (item.Speed == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td class="' + item.SpeedColor + '">' + item.Speed + '</td>';
                }

                if (item.Oat == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.OatColor + '">' + item.Oat + '</td>';
                }


                if (item.FQL == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.FQLColor + '">' + item.FQL + '</td>';
                }

                if (item.FQR == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.FQRColor + '">' + item.FQR + '</td>';
                }

                if (item.FF == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.FFColor + '">' + item.FF + '</td>';
                }

                if (item.MAP == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.MAPColor + '">' + item.MAP + '</td>';
                }

                if (item.RPM == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.RPMColor + '">' + item.RPM + '</td>';
                }

                if (item.Cht1 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.Cht1Color + '">' + item.Cht1 + '</td>';
                }

                if (item.Cht2 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.Cht2Color + '">' + item.Cht2 + '</td>';
                }

                if (item.Cht3 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.Cht3Color + '">' + item.Cht3 + '</td>';
                }

                if (item.Cht4 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.Cht4Color + '">' + item.Cht4 + '</td>';
                }

                if (item.Cht5 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.Cht5Color + '">' + item.Cht5 + '</td>';
                }

                if (item.Cht6 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.Cht6Color + '">' + item.Cht6 + '</td>';
                }

                if (item.Egt1 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.Egt1Color + '">' + item.Egt1 + '</td>';
                }

                if (item.Egt2 == null) {
                    rowData += '<td ></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.Egt2Color + '">' + item.Egt2 + '</td>';
                }

                if (item.Egt3 == null) {
                    rowData += '<td ></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.Egt3Color + '">' + item.Egt3 + '</td>';
                }

                if (item.Egt4 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.Egt4Color + '">' + item.Egt4 + '</td>';
                }

                if (item.Egt5 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.Egt5Color + '">' + item.Egt5 + '</td>';
                }

                if (item.Egt6 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.Egt6Color + '">' + item.Egt6 + '</td>';
                }

                if (item.Tit == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.TitColor + '">' + item.Tit + '</td>';
                }

                if (item.TIT1 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.TIT1Color + '">' + item.TIT1 + '</td>';
                }

                if (item.TIT2 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.TIT2Color + '">' + item.TIT2 + '</td>';
                }

                if (item.AMP == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.AMPColor + '">' + item.AMP + '</td>';
                }

                if (item.VOLTS == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.VOLTSColor + '">' + item.VOLTS + '</td>';
                }

                if (item.VOLTS2 == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.VOLTS2Color + '">' + item.VOLTS2 + '</td>';
                }

                if (item.OILT == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.OILTColor + '">' + item.OILT + '</td>';
                }

                if (item.OILP == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.OILPColor + '">' + item.OILP + '</td>';
                }

                if (item.FP == null) {
                    rowData += '<td></td>';
                }
                else {
                    rowData += '<td style="background-color:' + item.FPColor + '">' + item.FP + '</td>';
                }


                if (data.IsJPI) {
                    if (item.Roll == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.RollColor + '">' + item.Roll + '</td>';
                    }

                    if (item.Pitch == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.PitchColor + '">' + item.Pitch + '</td>';
                    }

                    if (item.Yaw == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.YawColor + '">' + item.Yaw + '</td>';
                    }

                    if (item.CDT == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.CDTColor + '">' + item.CDT + '</td>';
                    }

                    if (item.CLD == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.CLDColor + '">' + item.CLD + '</td>';
                    }

                    if (item.END == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.ENDColor + '">' + item.END + '</td>';
                    }

                    if (item.HP == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.HPColor + '">' + item.HP + '</td>';
                    }

                    if (item.IAT == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.IATColor + '">' + item.IAT + '</td>';
                    }

                    if (item.MPG == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.MPGColor + '">' + item.MPG + '</td>';
                    }

                    if (item.REM == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.REMColor + '">' + item.REM + '</td>';
                    }

                    if (item.REQ == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.REQColor + '">' + item.REQ + '</td>';
                    }

                    if (item.RES == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.RESColor + '">' + item.RES + '</td>';
                    }

                    if (item.USD == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.USDColor + '">' + item.USD + '</td>';
                    }

                    if (item.HM == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.HMColor + '">' + item.HM + '</td>';
                    }

                    if (item.Altitude == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.Altitude + '</td>';
                    }

                    if (item.OP == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.OPColor + '">' + item.OP + '</td>';
                    }

                    if (item.OT == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.OTColor + '">' + item.OT + '</td>';
                    }

                    if (item.FUELF == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td >' + item.FUELF + '</td>';
                    }

                    //if (item.LAT == null) {
                    //    rowData += '<td></td>';
                    //}
                    //else {
                    //    rowData += '<td>' + item.LAT + '</td>';
                    //}

                    //if (item.LNG == null) {
                    //    rowData += '<td></td>';
                    //}
                    //else {
                    //    rowData += '<td>' + item.LNG + '</td>';
                    //}

                    //if (item.ALT == null) {
                    //    rowData += '<td></td>';
                    //}
                    //else {
                    //    rowData += '<td>' + item.ALT + '</td>';
                    //}

                    //if (item.SPD == null) {
                    //    rowData += '<td></td>';
                    //}
                    //else {
                    //    rowData += '<td>' + item.SPD + '</td>';
                    //}

                    if (item.GPH == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.GPH + '</td>';
                    }

                    if (item.ECON == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.ECON + '</td>';
                    }


                }

                if (data.IsGarmin) {
                    if (item.CalculatedFuelRemaining == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.CalculatedFuelRemaining + '</td>';
                    }

                    if (item.TotalAircraftTime == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.TotalAircraftTime + '</td>';
                    }

                    if (item.EngineTime == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.EngineTime + '</td>';
                    }

                    if (item.ElevatorTrimPosition == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.ElevatorTrimPosition + '</td>';
                    }

                    if (item.UnitsIndicator == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.UnitsIndicator + '</td>';
                    }

                    if (item.FlapPosition == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.FlapPosition + '</td>';
                    }

                    if (item.UnitsIndicator2 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.UnitsIndicator2 + '</td>';
                    }

                    if (item.CarbTemp == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.CarbTempColor + '">' + item.CarbTemp + '</td>';
                    }

                    if (item.UnitsIndicator3 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.UnitsIndicator3 + '</td>';
                    }

                    if (item.CoolantPressure == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.CoolantPressure + '</td>';
                    }

                    if (item.UnitsIndicator4 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.UnitsIndicator4 + '</td>';
                    }

                    if (item.CoolantTemperature == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.CoolantTemperatureColor + '">' + item.CoolantTemperature + '</td>';
                    }

                    if (item.UnitsIndicator5 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.UnitsIndicator5 + '</td>';
                    }

                    if (item.AMP2 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.AMP2Color + '">' + item.AMP2 + '</td>';
                    }

                    if (item.UnitsIndicator6 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.UnitsIndicator6 + '</td>';
                    }

                    if (item.AileronTrimPosition == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.AileronTrimPosition + '</td>';
                    }

                    if (item.UnitsIndicator7 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.UnitsIndicator7 + '</td>';
                    }

                    if (item.RubberTrimPosition == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.RubberTrimPositionColor + '">' + item.RubberTrimPosition + '</td>';
                    }

                    if (item.UnitsIndicator8 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.UnitsIndicator8 + '</td>';
                    }

                    if (item.FuelQty3 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.FuelQty3Color + '">' + item.FuelQty3 + '</td>';
                    }

                    if (item.UnitsIndicator9 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.UnitsIndicator9 + '</td>';
                    }

                    if (item.FuelQty4 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td  style="background-color:' + item.FuelQty4Color + '">' + item.FuelQty4 + '</td>';
                    }

                    if (item.UnitsIndicator10 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.UnitsIndicator10 + '</td>';
                    }

                    if (item.DiscreteInput1 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.DiscreteInput1 + '</td>';
                    }

                    if (item.DiscreteInput2 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.DiscreteInput2 + '</td>';
                    }

                    if (item.DiscreteInput3 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.DiscreteInput3 + '</td>';
                    }

                    if (item.DiscreteInput4 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.DiscreteInput4 + '</td>';
                    }

                }
                if (data.IsULP) {
                    if (item.IgnStatus == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.IgnStatus + '</td>';
                    }

                    if (item.SensorStatus == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.SensorStatus + '</td>';
                    }

                    if (item.ThrottlePosition == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.ThrottlePosition + '</td>';
                    }

                    if (item.Baro == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.Baro + '</td>';
                    }

                    if (item.Airtemp == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.AirtempColor + '">' + item.Airtemp + '</td>';
                    }

                    if (item.EcuTemp == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.EcuTemp + '</td>';
                    }

                    if (item.Batteryvoltage == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td style="background-color:' + item.BatteryvoltageColor + '">' + item.Batteryvoltage + '</td>';
                    }

                    if (item.Sen1 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.Sen1 + '</td>';
                    }

                    if (item.Sen2 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.Sen2 + '</td>';
                    }

                    if (item.Sen3 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.Sen3 + '</td>';
                    }

                    if (item.Sen4 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.Sen4 + '</td>';
                    }

                    if (item.Sen5 == null) {
                        rowData += '<td></td>';
                    }
                    else {
                        rowData += '<td>' + item.Sen5 + '</td>';
                    }

                }
                rowData += '</tr>';

                if (InsertAtIndex == 0) {
                    $('#tblJpi > tbody:last').append(rowData);
                }
                else {

                    $('#tblJpi > tbody > tr').eq(InsertAtIndex - 1).after(rowData);
                    InsertAtIndex = InsertAtIndex + 1;
                }
                rowData = '';
            })


        }



        $(document).ready(function (e) {

            $('.current-page').removeAttr('class').addClass('navwidth');

            if ('@ViewBag.CallFrom' == 'PilotLog') {
                $('#liSideMenuPilotLogList').addClass('current-page');
            }
            else {
                $('#liSideMenuDataLog').addClass('current-page');
            }


            //alert(/^-?(?!0(\.000)*(,0+)?$)\d+(\.\d{1})*(,\d{1,1})?$/.test('0.'));
            //alert(/^-?(?!0(\.000)*(,0+)?$)\d+(\.\d{1})*(,\d{1,1})?$/.test('0.0'));
            //alert(/^-?(?!0(\.000)*(,0+)?$)\d+(\.\d{1})*(,\d{1,1})?$/.test('10.00'));
            if ('@ViewBag.IsPageLoad' == 'true') {
                $('#myLoadingElement').show();
                $('#Id').val('@ViewBag.PilotLogId');
                $('#ProfileId').val('@ViewBag.profileId');

                $.ajax({
                    url: '@Url.Action("ListJpiPilot", "Data")',
                    data: {
                        "pageNo": 1,
                        "pilotLogId": parseInt('@ViewBag.PilotLogId'),
                        "profileId": '0',
                        "IsCallFromPilotPage": "true",
                        "totalRecordFetch": 0,
                        "timeInterval": $('#hdnJpiDataTimeInterval').val(),
                        "StartDate": '',
                        "requestDataForLevel": 0
                    },
                    success: function (data) {
                        //  $('#divJpiData').show();
                        $('#hdnTotalRecordFetch').val(data.totalRecordFetch);
                        $('#hdnIsDataAvailable').val(data.IsDataAvailable);
                        //$("#tblJpi").empty();
                        //$('#tblJpi').append('<thead></thead><tbody></tbody>');
                        $("#tblJpi").empty();
                        $('#tblJpi').append('<thead></thead><tbody></tbody>');
                        InitializeJPITable(data.IsJPI, data.IsGarmin, data.IsULP);
                        addDataToJPITable(data, 0, 1);
                        //$("#tblJpi").dataTable();

                        //$('#divTimeIntervalButtons').show();
                        $('#myLoadingElement').hide();
                        $('#tblJpi').fixedHeaderTable({
                            altClass: 'odd',
                            
                            fixedColumns: 3
                        });

                    }
                });
            }

        });


    </script>


    <style>
        tr.tbHeader {
            font-size: 14px;
            cursor: pointer;
            padding-bottom: 5px;
        }

        tr.tbHeader2 {
            padding-bottom: 5px;
            font-size: 14px;
            cursor: pointer;
        }

        tr.tbHeader3 {
            padding-bottom: 5px;
            font-size: 14px;
        }

        .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n +1) > th {
            background-color: transparent;
        }

        .table-striped > tbody > tr:nth-child(2n +1) > td {
            background-color: transparent;
        }
    </style>

    <style>
        .black {
            color: black;
        }

        .red {
            background-color: red;
        }

        .yellow {
            background-color: yellow;
        }
    </style>
</head>
<body>
    @Html.Hidden("TotalRecordFetch", 0, new { id = "hdnTotalRecordFetch" })
    @Html.Hidden("IsDataAvailable", true, new { id = "hdnIsDataAvailable" })
    @Html.Hidden("JpiDataTimeInterval", 5, new { id = "hdnJpiDataTimeInterval" })

    <input type="button" value="btnTest" onclick="test()" />

    <div id="divJpi">
        <div class="outerbox">
            <div class="innerbox">
                <table class="bluetable" id="tblJpi" cellpadding="0" cellspacing="0">
                    <thead>

                    </thead>

                    <tbody></tbody>
                </table>
            </div><!-- innerbox -->
            <div class="clear"></div>

        </div><!-- outerbox -->
    </div>
</body>
</html>
