﻿@model GA.DataTransfer.UserProfileWeb
@using GA.Common;
@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var userType = Session["UserType"] as string;
}
<!--------User profile personal information content starts--------->
<script src="~/Scripts/bootstrap.min.js"></script>

<script src="../js/jquery.js"></script>

<link href="../Content/jquery-ui.css" rel="stylesheet" />
<script src="../js/bootbox.js"></script>
<script src="../Scripts/bootstrap-datepicker.js"></script>
<link href="../Content/datepicker.css" rel="stylesheet" />
<script src="../Scripts/jquery.mask.js"></script>


<script>
    $(document).ready(function (e) {
        $("#FirstName").focus()
        @if (userType == Enumerations.UserType.DemoUser.ToString())
        {

        }
        if ('@ViewBag.ProfileMsg' == 'Success') {
            bootbox.alert('@GA.Common.ResourcrFiles.Common.Messages.UpdateProfile.ToString()', function () {
            });
            ga('send', 'event', 'Button', 'Click', 'UpdateUserProfile');
        }
        else if ('@ViewBag.ProfileMsg' == 'Error') {
            bootbox.alert('@GA.Common.ResourcrFiles.Common.Messages.ErrorWhileUpdateRecord.ToString()', function () {
            });
        }

        $(".select2_single").select2({
            placeholder: "Select",
            allowClear: true,
            minimumResultsForSearch: -1
        });

        $(".NumOnly").keypress(function (e) {
            //if the letter is not digit then display error and don't type anything
            if (e.which != 8 && e.which != 0 && (e.which < 48 || e.which > 57)) {
                //display error message
                return false;
            }
        });

        $("#btnViewSubscriptionPlan").click(function () {
            window.location = '/Home/Subscription';
        });

        $("#btnChangePassword").click(function () {
            $("#snpErrReqOldPassword").attr("style", "display:none;color:red");
            $("#snpErrReqNewPassword").attr("style", "display:none;color:red");
            $("#snpErrNewPasswordLength").attr("style", "display:none;color:red");
            $("#snpErrConfNewPasswordNotMatch").attr("style", "display:none;color:red");
            $("#snpErrReqConfirmPassword").attr("style", "display:none;color:red");

            if ($("#txtOldPassword").val() == "" || $("#txtNewPassword").val() == "" || $("#txtConfirmNewPassword").val() == "") {
                if ($("#txtOldPassword").val() == "") {
                    $("#snpErrReqOldPassword").attr("style", "display:block;color:red");
                }
                if ($("#txtNewPassword").val() == "") {
                    $("#snpErrReqNewPassword").attr("style", "display:block;color:red");
                }
                if ($("#txtConfirmNewPassword").val() == "") {
                    $("#snpErrReqConfirmPassword").attr("style", "display:block;color:red");
                }
            }
            else if (($("#txtNewPassword").val().length > 50 || $("#txtNewPassword").val().length < 6)) {
                $("#snpErrNewPasswordLength").attr("style", "display:block;color:red");
            }
            else if ($("#txtNewPassword").val().trim() == '' || $("#txtConfirmNewPassword").val().trim() == '') {

            }
            else if ($("#txtNewPassword").val() != $("#txtConfirmNewPassword").val()) {
                $("#snpErrConfNewPasswordNotMatch").attr("style", "display:block;color:red");
            }
            else {

                $("#snpErrReqOldPassword").attr("style", "display:none;color:red");
                $("#snpErrReqNewPassword").attr("style", "display:none;color:red");
                $("#snpErrNewPasswordLength").attr("style", "display:none;color:red");
                $("#snpErrConfNewPasswordNotMatch").attr("style", "display:none;color:red");
                $("#snpErrReqConfirmPassword").attr("style", "display:none;color:red");
                $.post("/Home/SetNewPassword", {
                    Password: $('#txtConfirmNewPassword').val(),
                    OldPasword: $('#txtOldPassword').val()
                }, function (data) {
                    if (data == '@GA.Common.ResourcrFiles.UserProfile.Messages.PasswordUpdateSuccess.ToString()') {
                        bootbox.alert(data, function () {
                        });
                        $('#txtOldPassword').val('');
                        $('#txtNewPassword').val('');
                        $('#txtConfirmNewPassword').val('');

                    } else {
                        bootbox.alert(data, function () {
                        });
                    }
                });
            }
        });
    });

    $(function () {
        $('#DateOfBirth, #txtMedAddValidUntil, #txtMedEditValidUntil, #txtLicenseValidUntil, #txtEditLicenseValidUntil, #txtRatingValidUntil, #txtEditRatingValidUntil').datepicker({
            format: 'mm/dd/yyyy',
            autoclose: true,
        });

        $('.datepicker-days').on('click', 'td.day', function (e) {
            e.preventDefault();
            $('#DateOfBirth, #txtMedAddValidUntil, #txtMedEditValidUntil, #txtLicenseValidUntil, #txtEditLicenseValidUntil, #txtRatingValidUntil, #txtEditRatingValidUntil').datepicker('hide');
        });

        $('#txtMedAddValidUntil, #txtMedEditValidUntil, #txtLicenseValidUntil, #txtEditLicenseValidUntil, #txtRatingValidUntil, #txtEditRatingValidUntil').keypress(function (e) {
            return false;
        });

        //$('#datepicker1').datepicker({
        //    format: 'mm/dd/yyyy',
        //    startDate: '01/01/1900',
        //    endDate: '-1d',
        //    todayHighlight: true

        //});
    });

    function resetAddMedPopup() {
        $("#txtMedAddType").val('');
        $("#txtMedAddValidUntil").val('');
        $("#txtMedAddReference").val('');
        $("#snpErrAddValidUntil").attr("style", "display:none;color:red");
        $("#snpErrAddReference").attr("style", "display:none;color:red");
        $("#snpErrAddType").attr("style", "display:none;color:red");
    }

    function resetAddLicensePopup() {
        $("#txtLicenseType").val('');
        $("#txtLicenseValidUntil").val('');
        $("#txtLicenseRefNo").val('');
        $("#snpErrLicenseValidUntil").attr("style", "display:none;color:red");
        $("#snpErrLicenseType").attr("style", "display:none;color:red");
    }

    function AddMedCertificate() {
        if ($("#txtMedAddValidUntil").val() == '') {
            if ($("#txtMedAddValidUntil").val() == '') {
                $("#snpErrAddValidUntil").attr("style", "display:block;color:red");
            }
        }
        else {
            $('#myLoadingElement').show();
            var arrDate = $("#txtMedAddValidUntil").val().split('/')

            $("#snpErrAddType, #snpErrAddReference, #snpErrAddValidUntil ").attr("style", "display:none;color:red");
            $.post("/IMounts/Home/SaveMedicalCertificate", {
                MType: $("#txtMedAddType").val(),
                MVaildUntil: $("#txtMedAddValidUntil").val(),
                MReferenceNumber: $("#txtMedAddReference").val(),
                MId: '0',
                ClassId: $("#ClasssId").val(),
            },
        function (data) {
            if (data == 'Error') {
                $('#myLoadingElement').hide();
                bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.MedicalCertificateDateValidate.ToString()', function () {
                });
            }
            else if (data == 'InvalidId') {
                window.location.href = "/Home/Login";
            }
            else {
                //check for session
                $('#divMedicalCertificate').html(data);
                $("#datatable-fixed-headerMed").dataTable({
                    "paging": false
                });
                $('#btnCancelAddMed').click();
                $('#btnCancelAddMed').click();
                $("#txtMedAddType").val('');
                $("#txtMedAddValidUntil").val('');
                $("#txtMedAddReference").val('');
                $('#myLoadingElement').hide();
                $('#btnAddMedCert').hide();
                $('#spnMedicalType').text($('#tdMedClass').text());
                $('#spnMedValidUntil').text($('#tdMedValidUntil').text());
                bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.AddMedicalCertificate.ToString()', function () {
                });
                ga('send', 'event', 'Button', 'Click', 'AddMedicalCertificate');
            }
        });
        }
    }

    function setMedicalCertificateValues(classId, validUntil, refNo, type, id) {
        $('#hdnMedCertId').val(id);
        $("#txtMedEditValidUntil").val(validUntil);
        $("#txtMedEditReference").val(refNo);
        $("#txtMedEditType").val(type);
        $("#ddlEditMedCert").val(classId).change();
        $("#snpErrEditValidUntil").attr("style", "display:none;color:red");
        $("#snpErrEditReference").attr("style", "display:none;color:red");
        $("#snpErrEditType").attr("style", "display:none;color:red");
    }

    function UpdateMedicalCertificate() {
        if ($("#txtMedEditValidUntil").val() == '') {
            if ($("#txtMedAddValidUntil").val() == '') {
                $("#snpErrAddValidUntil").attr("style", "display:block;color:red");
            }
        }
        else {
            $("#snpErrAddType, #snpErrAddReference, #snpErrAddValidUntil ").attr("style", "display:none;color:red");
            $('#myLoadingElement').show();
            $.post("/IMounts/Home/SaveMedicalCertificate", {
                MType: $("#txtMedEditType").val(),
                MVaildUntil: $("#txtMedEditValidUntil").val(),
                MReferenceNumber: $("#txtMedEditReference").val(),
                MId: $('#hdnMedCertId').val(),
                ClassId: $("#ddlEditMedCert").val()
            },
        function (data) {
            //check for session
            if (data == 'Error') {
                $('#myLoadingElement').hide();
                bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.MedicalCertificateDateValidate.ToString()', function () {
                });
            }
            else if (data == "InvalidId") {
                window.location.href = "/Home/Login";
            }
            else {
                $('#divMedicalCertificate').html(data);
                $("#datatable-fixed-headerMed").dataTable({
                    "paging": false
                });
                $('#btnCancelEditMedCert').click();
                $('#btnCancelEditMedCert').click();
                $("#txtMedEditType").val('');
                $("#txtMedEditValidUntil").val('');
                $("#txtMedEditReference").val('');
                $('#myLoadingElement').hide();
                $('#spnMedicalType').text($('#tdMedClass').text());
                $('#spnMedValidUntil').text($('#tdMedValidUntil').text());
                bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.UpdateMedicalCertificate.ToString()', function () {
                });
                ga('send', 'event', 'Button', 'Click', 'UpdateMedicalCertificate');
            }
        });
        }
    }

    function deleteMedCertificate(id) {
        bootbox.confirm("@GA.Common.ResourcrFiles.UserProfile.Messages.ConfirmDeleteMedicalCertificate.ToString()", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Home/DeleteMedicalCertificate", {
                    id: id
                },
                function (data) {
                    if (data == 'InvalidId') {
                        window.location.href = "/Home/Login";
                    }
                    else {
                        //check for session
                        $('#divMedicalCertificate').html(data);
                        $("#datatable-fixed-headerMed").dataTable({
                            "paging": false
                        });
                        $('#btnAddMedCert').show();
                        $('#myLoadingElement').hide();
                        $('#spnMedicalType').text('Not available');
                        $('#spnMedValidUntil').text('Not available');
                        bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.DeleteMedicalCertificate.ToString()', function () {
                        });
                        ga('send', 'event', 'Button', 'Click', 'DeleteMedicalCertificate');
                    }
                });
            }
        });
    }

    function addLicense() {
        if ($("#txtLicenseType").val() == '' || $("#txtLicenseValidUntil").val() == '') {

            if ($("#txtLicenseType").val() == '') {
                $("#snpErrLicenseType").attr("style", "display:block;color:red");
            }

            if ($("#txtLicenseValidUntil").val() == '') {
                $("#snpErrLicenseValidUntil").attr("style", "display:block;color:red");
            }
        }
        else {
            $("#snpErrLicenseType, #snpErrLicenseValidUntil").attr("style", "display:none;color:red");
            $('#myLoadingElement').show();
            $.post('/IMounts/Home/SaveLicenses', {
                lType: $("#txtLicenseType").val(),
                lValidUntil: $("#txtLicenseValidUntil").val(),
                lReferenceNumber: $("#txtLicenseRefNo").val(),
                lId: '0',
                profileId: $("#hdnProfileId").val()
            },
            function (data) {

                if (data == 'Error') {
                    $('#myLoadingElement').hide();
                    bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.LicenseDateValidate.ToString()', function () {
                    });
                }
                else if (data == "InvalidId") {
                    window.location.href = "/Home/Login";
                }
                else {
                    $('#divLicense').html(data);
                    $("#datatable - fixed - headerLicense").dataTable();
                    $('#btnCancelAddLicense').click();
                    $('#btnCancelAddLicense').click();
                    $('#myLoadingElement').hide();
                    bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.AddLicense.ToString()', function () {
                    });
                    ga('send', 'event', 'Button', 'Click', 'AddLicense');
                }
            });
        }
    }


    function editLicense(type, validUntil, refNo, id) {
        $('#hdnLicId').val(id);
        $("#txtEditLicenseValidUntil").val(validUntil);
        $("#txtEditLicenseRefNo").val(refNo);
        $("#txtEditLicenseType").val(type);
        $("#snpErrEditLicenseType").attr("style", "display:none;color:red");
        $("#snpErrEditLicenseValidUntil").attr("style", "display:none;color:red");
    }


    function updateLicense() {
        if ($("#txtEditLicenseType").val() == '' || $("#txtEditLicenseValidUntil").val() == '') {

            if ($("#txtEditLicenseType").val() == '') {
                $("#snpErrEditLicenseType").attr("style", "display:block;color:red");
            }

            if ($("#txtEditLicenseValidUntil").val() == '') {
                $("#snpErrEditLicenseValidUntil").attr("style", "display:block;color:red");
            }
        }
        else {
            $("#snpErrEditLicenseType, #snpErrEditLicenseValidUntil").attr("style", "display:none;color:red");
            $('#myLoadingElement').show();
            $.post('/IMounts/Home/SaveLicenses', {
                lType: $("#txtEditLicenseType").val(),
                lValidUntil: $("#txtEditLicenseValidUntil").val(),
                lReferenceNumber: $("#txtEditLicenseRefNo").val(),
                lId: $('#hdnLicId').val(),
                profileId: $("#hdnProfileId").val()
            },
            function (data) {

                if (data == 'Error') {
                    $('#myLoadingElement').hide();
                    bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.LicenseDateValidate.ToString()', function () {
                    });
                }
                else if (data == "InvalidId") {
                    window.location.href = "/Home/Login";
                }
                else {
                    $('#divLicense').html(data);
                    $("#datatable - fixed - headerLicense").dataTable();
                    $('#btnCancelEditLicense').click();
                    $('#btnCancelEditLicense').click();
                    $('#myLoadingElement').hide();
                    bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.UpdateLicense.ToString()', function () {
                    });
                    ga('send', 'event', 'Button', 'Click', 'UpdateLicense');
                }
            });
        }
    }

    function deleteLicense(id) {
        bootbox.confirm("@GA.Common.ResourcrFiles.UserProfile.Messages.ConfirmDeleteLicense", function (result) {

            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Home/DeleteLicenses", {
                    id: id,
                    profileId: $("#hdnProfileId").val()
                },
                function (data) {
                    if (data == 'InvalidId') {
                        window.location.href = "/Home/Login";
                    }
                    else {
                        //check for session
                        $('#divLicense').html(data);
                        $("#datatable - fixed - headerLicense").dataTable();
                        $('#myLoadingElement').hide();
                        bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.DeleteLicense.ToString()', function () {
                        });
                        ga('send', 'event', 'Button', 'Click', 'DeleteLicense');
                    }
                });
            }
        });
    }

    function setLicenseId(id) {
        $('#hdnLicId').val(id);
        $("#txtRatingType").val('');
        $("#txtRatingValidUntil").val('');
        $("#snpErrRatingType").attr("style", "display:none;color:red");
        $("#snpErrRatingValidUntil").attr("style", "display:none;color:red");

    }

    function addRating() {
        if ($("#txtRatingType").val() == '' || $("#txtRatingValidUntil").val() == '') {

            if ($("#txtRatingType").val() == '') {
                $("#snpErrRatingType").attr("style", "display:block;color:red");
            }

            if ($("#txtRatingValidUntil").val() == '') {
                $("#snpErrRatingValidUntil").attr("style", "display:block;color:red");
            }
        }
        else {
            $('#myLoadingElement').show();
            $("#snpErrRatingType, #snpErrRatingValidUntil").attr("style", "display:none;color:red");
            $.post('/IMounts/Home/SaveRatings', {
                rType: $("#txtRatingType").val(),
                rValidUntil: $("#txtRatingValidUntil").val(),
                rId: '0',
                profileId: $("#hdnProfileId").val(),
                licId: $('#hdnLicId').val()
            },
            function (data) {
                if (data == 'Error') {
                    $('#myLoadingElement').hide();
                    bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.RatingDateValidation.ToString()', function () {
                    });
                }
                else if (data == 'InvalidId') {
                    window.location.href = "/Home/Login";
                }
                else {
                    $('#divLicense').html(data);
                    $("#datatable - fixed - headerLicense").dataTable();
                    $('#btnCancelAddRating').click();
                    $('#btnCancelAddRating').click();
                    $('#myLoadingElement').hide();
                    bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.AddRating.ToString()', function () {
                    });
                    ga('send', 'event', 'Button', 'Click', 'AddRating');
                }
            });
        }
    }

    function setLicenseAndRatingId(lid, rid, type, validUntil) {
        $('#hdnLicId').val(lid);
        $('#hdnRatingId').val(rid);
        $("#txtEditRatingType").val(type);
        $("#txtEditRatingValidUntil").val(validUntil);
        $("#snpErrEditRatingType").attr("style", "display:none;color:red");
        $("#snpErrEditRatingValidUntil").attr("style", "display:none;color:red");
    }

    function updateRating() {
        if ($("#txtEditRatingType").val() == '' || $("#txtEditRatingValidUntil").val() == '') {

            if ($("#txtEditRatingType").val() == '') {
                $("#snpErrEditRatingType").attr("style", "display:block;color:red");
            }

            if ($("#txtEditRatingValidUntil").val() == '') {
                $("#snpErrEditRatingValidUntil").attr("style", "display:block;color:red");
            }
        }
        else {
            $('#myLoadingElement').show();
            $("#snpErrEditRatingType, #snpErrEditRatingValidUntil").attr("style", "display:none;color:red");
            $.post('/IMounts/Home/SaveRatings', {
                rType: $("#txtEditRatingType").val(),
                rValidUntil: $("#txtEditRatingValidUntil").val(),
                rId: $('#hdnRatingId').val(),
                profileId: $("#hdnProfileId").val(),
                licId: $('#hdnLicId').val()
            },
            function (data) {
                if (data == 'Error') {
                    $('#myLoadingElement').hide();
                    bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.RatingDateValidation.ToString()', function () {
                    });
                }
                else if (data == 'InvalidId') {
                    window.location.href = "/Home/Login";
                }
                else {
                    $('#divLicense').html(data);
                    $("#datatable - fixed - headerLicense").dataTable();
                    $('#btnCancelEditRating').click();
                    $('#btnCancelEditRating').click();
                    $('#myLoadingElement').hide();
                    bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.UpdateRating.ToString()', function () {
                    });
                    ga('send', 'event', 'Button', 'Click', 'UpdateRating');
                }
            });
        }
    }

    function deleteRating(rId) {
        bootbox.confirm("@GA.Common.ResourcrFiles.UserProfile.Messages.ConfirmDeleteRating.ToString()", function (result) {
            if (result) {
                $('#myLoadingElement').show();
                $.post("/IMounts/Home/DeleteRatings", {
                    id: rId,
                    profileId: $("#hdnProfileId").val()
                },
                function (data) {
                    if (data == 'InvalidId') {
                        window.location.href = "/Home/Login";
                    }
                    else {
                        //check for session
                        $('#divLicense').html(data);
                        $("#datatable - fixed - headerLicense").dataTable();
                        $('#myLoadingElement').hide();
                        bootbox.alert('@GA.Common.ResourcrFiles.UserProfile.Messages.DeleteRating.ToString()', function () {
                        });
                        ga('send', 'event', 'Button', 'Click', 'DeleteRating');
                    }
                });
            }
        });
    }
    function profileImageClick() {
        $("#fileBtn").trigger('click');
    }

    function ShowImage(inputFile) {

        if (inputFile.files && inputFile.files[0]) {
            if (inputFile.files[0].type.split('/')[0].toString() == 'image') {
                $('#myLoadingElement').show();
                var frmdata = new FormData();
                var files = inputFile.files;
                frmdata.append("HelpSectionImages", files[0]);
                $.ajax({
                    url: '@Url.Action("/SaveProfileImage")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: frmdata,
                    success: function (response) {

                        $('#imgProfileImage, #imgMasterProfileImg, #imgHeaderDDLProfileImg').attr('src', response);
                        $('#myLoadingElement').hide();
                        bootbox.alert('Profile image uploaded successfully.', function () {
                        });
                    },
                    error: function (er) {
                        alert(er);
                    }
                });
            }
            else {
                alert('Invalid Image Format');
            }
        }
    }

    function uploadBtnClick() {
        $("#UserProfileImage").trigger('click');
    }
    var Novalue = "";
    function checkPhonenumber() {
        var callFunction = false;
        var countrycode = "";
        if ($("#CountryCode").val() == "0") { countrycode = ""; } else { countrycode = $("#CountryCode").val();}

        if ($("#PhoneNumber").val() != "" && $("#CountryCode").val() == "0") {
            return;
        }
        if ($("#PhoneNumber").val() == "" && $("#CountryCode").val() != "0") {
            return;
        }
        //if (($("#PhoneNumber").val() == "" && $("#EmailId").val() == "") && ($('#check').is(":checked") == true)) {
        //    return;
        //}
        if ($('#check').is(":checked") == true) {
            if ($("#PhoneNumber").val() != "") { callFunction = true; } 
            if ($("#EmailId").val() != "") {
                //var reg = /^([A-Za-z0-9_\-\.])+\@@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;
                //if (reg.test(emailField.value) == false) {
                //    $("#otpemailcheck").show();
                //}
                //else {
                    callFunction = true;
                //}
            }
        }
        if (callFunction == true) {
            $('#myLoadingElement').show();
            $.post("/IMounts/Home/VerifyPhoneNumber", {
                Phonenumber: countrycode + $("#PhoneNumber").val(),
                emailId: $("#EmailId").val(),
            }, function (data) {
                $('#myLoadingElement').hide();
                if (data.data == "show pop up") {
                    $("#modalPush").modal('show');
                    $('#snpVerifyCode').hide();
                    Novalue = "show pop up";
                }
            });
        }
    }
    function Dontverify() {
        if (Novalue == "show pop up") {
            $("#check").prop('checked', false);
        }
    }
//    function validateEmail(emailField){
//        var reg = /^([A-Za-z0-9_\-\.])+\@@([A-Za-z0-9_\-\.])+\.([A-Za-z]{2,4})$/;

//        if (reg.test(emailField.value) == false) 
//        {
//            alert('Invalid Email Address');
//            return false;
//        }

//        return true;
//}
</script>
<style>
    .field-validation-error {
        color: red;
    }

    tr.trSpace > td {
        padding-bottom: 1em;
    }

    #check {
        width: 10px;
        -webkit-transform: scale(2);
    }
    /*.tablewrap {
	width: 130%;
	}*/
</style>


<input type="hidden" id="hdnProfileId" value="@ViewBag.ProfileId" />
<input type="hidden" id="hdnLicId" value="" />
<input type="hidden" id="hdnRatingId" value="" />
<div class="x_panel clearfix">
    <div class="x_content">
        <div class="col-md-10 col-md-offset-1 col-lg-9 col-lg-offset-2 col-xs-12 pilotprofile widget_tally_box">
            <div class="x_content">
                <div class="flex">
                    <ul class="list-inline widget_profile_box text-center">
                        @*<li> <img src="@Model.pilotImage" alt="..." class="img-circle profile_img"> </li>*@
                        <li> <img id="imgProfileImage" onclick="profileImageClick()" style="cursor:pointer" src="@Model.ProfileImagePath" alt="click to change the profile image." class="img-circle profile_img"> </li>
                    </ul>
                </div>
                @*<h3 class="name">@Model.pilotName</h3>*@
                <h3 class="name">@Model.FirstName</h3>
                <ul class="count2">
                    <li>
                        <div class="clearfix">
                            <div class="col-sm-10 col-xs-12 col-lg-6  col-md-10 marginbottom5-xs"> <i class="fa fa-clock-o"></i><strong>Total Flight Time</strong> :  @Model.TotalFlightTime </div>
                            <div class="col-sm-10 col-xs-12 col-lg-6  col-md-10"> <i class="fa fa-list-alt"></i><strong>License Type</strong> :  @Model.Type </div>
                        </div>
                    </li>
                </ul>
                <ul class="count2">
                    <li>
                        <div class="clearfix">
                            <div class="col-sm-10 col-xs-12 col-lg-6  col-md-10 marginbottom5-xs"> <i class="fa fa-plane"></i><strong>Hours Flown Last 90 Days</strong> :   	@Model.FilghtFlownLast90Days </div>
                            <div class="col-sm-10 col-xs-12 col-lg-6  col-md-10"> <i class="fa fa-plus-circle"></i><strong>Medical Type</strong> : <span id="spnMedicalType">@Model.MedicalType</span> </div>
                        </div>
                    </li>
                </ul>
                <ul class="count2">
                    <li>
                        <div class="clearfix">
                            <div class="col-sm-10 col-xs-12 col-lg-6  col-md-10 marginbottom5-xs"> <i class="fa fa-plus-circle"></i><strong>BFR Valid Until</strong> :  @Model.BfrValidUnitl </div>
                            <div class="col-sm-10 col-xs-12 col-lg-6  col-md-10"> <i class="fa fa-calendar-plus-o"></i><strong>Medical Valid Until</strong> :  <span id="spnMedValidUntil">@Model.MedicalValidUntil</span> </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="margintop20 clearfix">
    @using (@Html.BeginForm("UserProfile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <div class="col-xs-12 x_panel clearfix">
            <input type="file" id="fileBtn" onchange="ShowImage(this)" style="display:none" />
            <div class="form-group clearfix user_info">
                <div class="">
                    @*<div class=""><span class="section">User Information :</span></div>*@
                    <div class="clearfix">
                        @*<div class="col-sm-12 col-xs-12 col-md-12 col-lg-2">
                                <div id="crop-avatar">
                                    <img id="userProfileImage" title="Change the avatar" alt="Avatar" src="@Model.ProfileImagePath" class="img-responsive avatar-view marginbottom10">
                                    <div class="form-group" style="text-align:center">
                                        <input id="uploadBtn" onclick="uploadBtnClick()" type="button" style="text-align:center" class="btn btn-primary" value="Upload Image" />
                                        @Html.TextBoxFor(model => model.UserProfileImage, new { type = "file", onchange = "ShowImage(this)", id = "UserProfileImage", @style = "display:none" })
                                    </div>
                                </div>
                            </div>*@
                        <div class="col-sm-10 col-xs-12 col-lg-5  col-md-10">
                            <div class="form-horizontal form-table form-label-left form-reg-field">
                                <div class="item form-group clearfix tablewrap">
                                    <label class="control-label   col-xs-12 tablecell valignmiddle valigntop-sm">First Name <span class="required">*</span></label>
                                    <div class="col-xs-12 tablecell valignmiddle valigntop-sm">
                                        @Html.TextBoxFor(model => model.FirstName, null, new { @class = "form-control has-feedback-left col-md-7" })
                                        @Html.ValidationMessageFor(model => model.FirstName) <span aria-hidden="true" class="fa fa-user form-control-feedback left"></span>
                                    </div>
                                </div>
                                <div class="item form-group clearfix tablewrap">
                                    <label class="control-label col-xs-12 tablecell valignmiddle valigntop-sm">Last Name <span class="required">*</span></label>
                                    <div class="col-xs-12 tablecell valignmiddle valigntop-sm">
                                        @Html.TextBoxFor(model => model.LastName, null, new { @class = "form-control has-feedback-left col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.LastName) <span aria-hidden="true" class="fa fa-user form-control-feedback left"></span>
                                    </div>
                                </div>
                                <div class="item form-group clearfix tablewrap">
                                    <label class="control-label col-xs-12 tablecell valignmiddle valigntop-sm">Email Id <span class="required">*</span></label>
                                    <div class="col-xs-12 tablecell valignmiddle valigntop-sm">
                                        @Html.TextBoxFor(model => model.EmailId, null, new { @class = "form-control has-feedback-left col-sm-7 col-xs-12", @onblur = "checkPhonenumber()" })
                                        @Html.HiddenFor(model => model.EmailId, new { @id = "hdnUserEmailId" })
                                        @Html.ValidationMessageFor(model => model.EmailId) <span aria-hidden="true" class="fa fa-envelope form-control-feedback left"></span>
                                        @*<span hidden class="fa fa-envelope form-control-feedback left" id="otpemailcheck">Please enter valid email address</span>*@
                                    </div>
                                </div>
                                <div class="item form-group clearfix tablewrap">
                                    <label class="control-label col-xs-12 tablecell valignmiddle valigntop-sm">Date Of Birth </label>@*<span class="required">*</span>*@
                                    <div class="col-xs-12 tablecell valignmiddle valigntop-sm">
                                        <div class="control-group">
                                            <div class="controls">
                                                <div id="datepicker1">
                                                    @*<span aria-hidden="true" class="glyphicon glyphicon-calendar form-control-feedback left"></span>*@
                                                    @*@Html.TextBoxFor(model => model.DateOfBirth, null, new { @class = "form-control has-feedback-left col-sm-7 col-xs-12", id = "DateOfBirth" })*@
                                                    @Html.TextBoxFor(m => m.DateOfBirth, null, new { @class = "form-control has-feedback-left col-sm-7 col-xs-12", placeholder = "(MM/DD/YYYY)", value = "", id = "DateOfBirth" })
                                                    @Html.ValidationMessageFor(model => model.DateOfBirth) <span aria-hidden="true" class="fa fa-calendar form-control-feedback left"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item form-group tablewrap">
                                    <label class="control-label col-xs-12 tablecell valignmiddle valigntop-sm">Phone Number</label>
                                    <div class="col-xs-6 tablecell valignmiddle valigntop-sm" style="width: 43%;">
                                        @Html.DropDownListFor(model => model.CountryCode, (IEnumerable<SelectListItem>)Model.Countries, new { @class = "form-control col-md-7 col-xs-12 selectpicker", style = "padding-left: 32px;", liveSearch = true })
                                        @*<span aria-hidden="true" class="fa fa-phone form-control-feedback left"></span>*@
                                    </div>
                                    <div class="col-xs-7 tablecell valignmiddle valigntop-sm">
                                        @Html.TextBoxFor(model => model.PhoneNumber, null, new { @class = "form-control col-md-7 col-xs-12 NumOnly", @maxlength = "12", @onblur = "checkPhonenumber()" })
                                    </div>
                                </div>
                                <div class="item form-group tablewrap">
                                    <label class="control-label col-xs-12 tablecell valignmiddle valigntop-sm"></label>
                                    <div class="col-xs-12 tablecell valignmiddle valigntop-sm">
                                        @Html.ValidationMessageFor(model => model.PhoneNumber)
                                    </div>
                                </div>
                                <div class="item form-group tablewrap">
                                    <label class="control-label col-xs-12 tablecell valignmiddle valigntop-sm">Do you want 2 factor verification?</label>
                                    <div class="col-xs-12 tablecell valignmiddle valigntop-sm">
                                        @if (Model.TwoFactorAuthentication == true)
                                        {
                                            @Html.CheckBoxFor(model => model.TwoFactorAuthentication, new { @id = "check", @checked = "checked", @onclick = "checkPhonenumber()" })
                                        }
                                        else
                                        {
                                            @Html.CheckBoxFor(model => model.TwoFactorAuthentication, new { @id = "check", @onclick = "checkPhonenumber()" })
                                        }
                                    </div>
                                </div>
                                @*<div class="item form-group tablewrap">
                                      <label class="control-label col-xs-12 tablecell valignmiddle valigntop-sm">Company Name <span class="required">*</span></label>
                                      <div class=" col-xs-12 tablecell valignmiddle valigntop-sm"> @Html.TextBoxFor(model => model.CompanyName, null, new { @class = "form-control has-feedback-left  col-md-7 col-xs-12" })
                                        @Html.ValidationMessageFor(model => model.CompanyName) <span aria-hidden="true" class="fa fa-building form-control-feedback left"></span> </div>
                                    </div>*@
                            </div>
                        </div>
                        <div class="col-sm-10 col-xs-12 col-lg-5 col-md-10 no-padding clearfix">
                            @*<div><span class="section">Address :</span></div>*@
                            <div class="x_content">
                                <div class="form-horizontal form-table form-label-left form-reg-field  ">
                                    <div class="item form-group clearfix tablewrap">
                                        <label class="control-label  col-xs-12 tablecell valignmiddle valigntop-sm">Company Name</label>@*<span class="required">*</span>*@
                                        <div class="col-xs-12 tablecell valignmiddle valigntop-sm">
                                            @Html.TextBoxFor(model => model.CompanyName, null, new { @class = "form-control has-feedback-left col-md-7 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.CompanyName) <span aria-hidden="true" class="fa fa-building form-control-feedback left"></span>
                                        </div>
                                    </div>
                                    <div class="item form-group clearfix tablewrap">
                                        <label class="control-label col-xs-12 tablecell valignmiddle valigntop-sm">Street Address</label>@*<span class="required">*</span>*@
                                        <div class="col-xs-12 tablecell valignmiddle valigntop-sm">
                                            @Html.TextBoxFor(model => model.StreetAddress, null, new { @class = "form-control has-feedback-left col-md-7 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.StreetAddress) <span aria-hidden="true" class="fa fa-location-arrow form-control-feedback left"></span>
                                        </div>
                                    </div>
                                    <div class="item form-group clearfix tablewrap">
                                        <label class="control-label col-xs-12 tablecell valignmiddle valigntop-sm">City </label>@*<span class="required">*</span>*@
                                        <div class="col-xs-12 tablecell valignmiddle valigntop-sm">
                                            @Html.TextBoxFor(model => model.City, null, new { @class = "form-control has-feedback-left col-md-7 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.City) <span aria-hidden="true" class="fa fa-location-arrow form-control-feedback left"></span>
                                        </div>
                                    </div>
                                    <div class="item form-group clearfix tablewrap">
                                        <label class="control-label col-xs-12 tablecell valignmiddle valigntop-sm">State </label>@*<span class="required">*</span>*@
                                        <div class="col-xs-12 tablecell valignmiddle valigntop-sm">
                                            @Html.TextBoxFor(model => model.State, null, new { @class = "form-control has-feedback-left col-md-7 col-xs-12" })
                                            @Html.ValidationMessageFor(model => model.State) <span aria-hidden="true" class="fa fa-location-arrow form-control-feedback left"></span>
                                        </div>
                                    </div>
                                    <div class="item form-group clearfix tablewrap">
                                        <label class="control-label col-xs-12 tablecell valignmiddle valigntop-sm">Zip Code</label>
                                        <div class="col-xs-12 tablecell valignmiddle valigntop-sm">
                                            @Html.TextBoxFor(model => model.ZipCode, null, new { @class = "form-control has-feedback-left col-md-7 col-xs-12 NumOnly", @maxlength = "8" })
                                            @Html.ValidationMessageFor(model => model.ZipCode) <span aria-hidden="true" class="fa fa-list-ol form-control-feedback left"></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="clearfix">
                <div class="col-sm-6 no-padding">@Html.ValidationSummary(true)</div>
                <div class="col-sm-6 no-padding">
                    @if (Session["UserType"] as string != Enumerations.UserType.DemoUser.ToString())
                    {
                        <button data-target=".push-notification-modal" data-toggle="modal" class="btn-rounded marginbottom10 btn-primary pull-right"><i class="fa fa-edit"></i> Save Profile</button>
                    }
                </div>
            </div>
        </div>
    }
</div>


<!--------User medical certificate  table starts--------->
<div class="margintop20 clearfix">
    <h3>Medical Certificate</h3>
    <div class="col-xs-12 x_panel clearfix">

        <div id="divMedicalCertificate"> @Html.Partial("_MedicalCertificate", Model.MedicalCertificateList) </div>
        @if (Session["UserType"] as string != Enumerations.UserType.DemoUser.ToString())
        {

            if (Model.MedicalCertificateList.Count == 0)
            {
                <button id="btnAddMedCert" style="display:block" class="btn-rounded marginbottom10 btn-primary pull-right" onclick="resetAddMedPopup();" data-toggle="modal" data-target=".medicalcertificate-modal"><i class="fa fa-stethoscope"></i> Add Medical Certificate</button>
            }
            else
            {
                <button id="btnAddMedCert" style="display:none" class="btn-rounded marginbottom10 btn-primary pull-right" onclick="resetAddMedPopup();" data-toggle="modal" data-target=".medicalcertificate-modal"><i class="fa fa-stethoscope"></i> Add Medical Certificate</button>
            }
        }
    </div>
</div>

<!--------User medical certificate table starts--------->
<!--------User license and rating table starts--------->
<div class="margintop20 clearfix">
    <h3>License and Rating</h3>
    <div class="col-xs-12 x_panel clearfix">
        <div id="divLicense"> @Html.Partial("_LicensePartial", Model.LicensesList) </div>
        @if (Session["UserType"] as string != Enumerations.UserType.DemoUser.ToString())
        {
            <button class="btn-rounded marginbottom10 btn-primary pull-right" onclick="resetAddLicensePopup()" data-toggle="modal" data-target=".addlicenseandrating-modal"><i class="fa  fa-file-text"></i> Add License</button>
        }
    </div>
</div>
@if (Model.IsSubscriptionVisible)

{
    <div class="margintop20 clearfix">
        <h3>Subscription</h3>
        <div class="col-xs-12 x_panel clearfix">
            <button id="btnViewSubscriptionPlan" class="btn-rounded marginbottom10 btn-primary pull-right"><i class="fa fa-stethoscope"></i> View Subscription Plans</button>
            <br />
            <br />

            @Html.Partial("_SubscriptionHistory", Model.SubViewModelList)

        </div>
    </div>
}

<!----------modal popup for medical certificate starts---------->
<div class="modal fade medicalcertificate-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add Medical Certificate</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="clearfix">
                    <form class="form-horizontal form-table form-label-left" data-parsley-validate="" id="demo-form2" novalidate>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Class <span class="required">*</span></label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm"> @Html.DropDownListFor(model => model.ClasssId, new SelectList(Model.MedicalCertificateClassList, "Value", "Text"), new { @class = "select2_single form-control", @tabindex = "-1" }) </div>
                        </div>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Valid Until <span class="required">*</span></label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                                <input type="text" id="txtMedAddValidUntil" name="txtMedAddValidUntil" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrAddValidUntil" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Reference No.</label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                                <input type="text" name="txtMedAddReference" id="txtMedAddReference" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrAddReference" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Other</label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                                <input type="text" name="txtMedAddType" id="txtMedAddType" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrAddType" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelAddMed" class="btn btn-danger" data-dismiss="modal">Cancel</button>

                <button type="button" onclick="AddMedCertificate();" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
<!----------modal popup for medical certificate ends---------->
<!----------modal popup for edit medical certificate starts---------->
<div class="modal fade editmedicalcertificate-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit Medical Certificate</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="clearfix">
                    <form class="form-horizontal form-table form-label-left" data-parsley-validate="" id="demo-form2" novalidate>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Class <span class="required">*</span></label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm"> @Html.DropDownListFor(model => model.ClasssId, new SelectList(Model.MedicalCertificateClassList, "Value", "Text"), new { @class = "select2_single form-control", @tabindex = "-1", id = "ddlEditMedCert" }) </div>
                        </div>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Valid Until <span class="required">*</span></label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                                <input type="text" id="txtMedEditValidUntil" name="txtMedEditValidUntil" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrEditValidUntil" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Reference No.</label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                                <input type="text" name="txtMedEditReference" id="txtMedEditReference" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrEditReference" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Other</label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                                <input type="text" name="txtMedEditType" id="txtMedEditType" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrEditType" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <input type="hidden" id="hdnMedCertId" value="" />
                <button type="button" id="btnCancelEditMedCert" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="UpdateMedicalCertificate()" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
<!----------modal popup for edit medical certificate ends---------->
<!--------User license and rating table starts--------->
<!----------modal popup for adding license and rating starts---------->
<div class="modal fade addlicenseandrating-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add License</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="clearfix">
                    <form class="form-horizontal form-table form-label-left" data-parsley-validate="" id="demo-form2" novalidate>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Type <span class="required">*</span></label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                                <input type="text" id="txtLicenseType" name="txtLicenseType" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrLicenseType" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">BFR Valid Until <span class="required">*</span></label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                                <input type="text" id="txtLicenseValidUntil" name="txtLicenseValidUntil" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrLicenseValidUntil" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Reference No.</label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                                <input type="text" name="txtLicenseRefNo" id="txtLicenseRefNo" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnCancelAddLicense" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="addLicense();" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
<!----------modal popup for medical certificate ends---------->
<!----------modal popup for add rating starts---------->
<!----------modal popup for add rating ends---------->
<!----------modal popup for edit license starts---------->
<div class="modal fade editlicenseandrating-modal_2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit License</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="clearfix">
                    <form class="form-horizontal form-table form-label-left" data-parsley-validate="" id="demo-form2" novalidate>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Type <span class="required">*</span></label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                                <input type="text" id="txtEditLicenseType" name="txtEditLicenseType" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrEditLicenseType" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">BFR Valid Until <span class="required">*</span></label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                                <input type="text" id="txtEditLicenseValidUntil" name="txtEditLicenseValidUntil" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrEditLicenseValidUntil" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Reference No.</label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                                <input type="text" name="txtEditLicenseRefNo" id="txtEditLicenseRefNo" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrEditLicenseRefNo" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelEditLicense" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="updateLicense();" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
<!----------modal popup for edit license---------->
<!----------modal popup for add rating starts---------->
<div class="modal fade addrating-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Add Rating</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="clearfix">
                    <form class="form-horizontal form-table form-label-left" data-parsley-validate="" id="demo-form2" novalidate>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Rating Type <span class="required">*</span></label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                                <input type="text" id="txtRatingType" name="txtRatingType" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrRatingType" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Valid Until <span class="required">*</span></label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                                <input type="text" id="txtRatingValidUntil" name="txtRatingValidUntil" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrRatingValidUntil" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="btnCancelAddRating" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="addRating();" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade editrating-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span> </button>
                <h3 class="modal-title" id="myModalLabel2">Edit Rating</h3>
            </div>
            <div class="modal-body clearfix">
                <div class="clearfix">
                    <form class="form-horizontal form-table form-label-left" data-parsley-validate="" id="demo-form2" novalidate>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Rating Type <span class="required">*</span></label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                                <input type="text" id="txtEditRatingType" name="txtEditRatingType" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrEditRatingType" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                        <div class="form-group clearfix tablewrap">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12 tablecell valignmiddle valigntop-sm" for="">Valid Until <span class="required">*</span></label>
                            <div class="col-md-8 col-sm-6 col-xs-12 tablecell valignmiddle valigntop-sm">
                                <input type="text" id="txtEditRatingValidUntil" name="txtEditRatingValidUntil" class="form-control col-md-7 col-xs-12" autocomplete="Off">
                                <br />
                                <span id="snpErrEditRatingValidUntil" style="color:red;display:none">@GA.Common.ResourcrFiles.Common.Messages.Required.ToString()</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnCancelEditRating" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" onclick="updateRating();" class="btn btn-primary">Update</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modalPush" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document" style="width:25%;">
        <!--Content-->
        <div class="modal-content text-center">
            <!--Header-->
            <div class="modal-header d-flex justify-content-center">
                <p class="heading">Enter verification code</p>
            </div>

            <!--Body-->
            <div class="modal-body">

                <p>Please enter verification code sent on your phone number and email id</p>
                <input type="text" name="txtVerifyCode" id="txtVerifyCode" class="form-control">
                <span id="snpVerifyCode" class="hidespn" style="color:red;display:none">Please enter valid OTP</span>
            </div>

            <!--Footer-->
            <div class="modal-footer flex-center">
                <a href="#" class="btn btn-info" onclick="ResentOTP()" style="background: steelblue; float:left;">Resend OTP</a>
                <a href="#" class="btn btn-info" onclick="verifyOTP()" style="background: steelblue;">Submit</a>
                <a class="btn btn-outline-info waves-effect" onclick="Dontverify()" data-dismiss="modal">No</a>
            </div>
        </div>
        <!--/.Content-->
    </div>
</div>
<!--Modal: modalPush-->

<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
<script>

    function ResentOTP() {
        var countrycode = "";
        if ($("#CountryCode").val() == "0") { countrycode = ""; } else { countrycode = $("#CountryCode").val(); }
        $.post("/IMounts/Home/GenerateOTPForAuthentication", {
            Phonenumber: countrycode + $("#PhoneNumber").val(),
            emailId: $("#EmailId").val()
        }, function (data) {
            event.preventDefault();
        });
    }

    function verifyOTP() {
        if ($('#txtVerifyCode').val() == '') {
            $('#snpVerifyCode').show();
        }
        else {
            var countrycode = "";
            if ($("#CountryCode").val() == "0") { countrycode = ""; } else { countrycode = $("#CountryCode").val(); }
            $.post("/IMounts/Home/matchOTPNumber", {
                OTP: $("#txtVerifyCode").val(),
                Phonenumber: $("#PhoneNumber").val(),
                CountryCode: countrycode,
                emailId: $("#EmailId").val()
            }, function (data) {
                $('#myLoadingElement').hide();
                if (data.returnstring == "true") {
                    $("#modalPush").modal('hide');
                    bootbox.alert('Phone number verified successfully.', function () {
                    });
                    event.preventDefault();
                }
                else {
                    $("#snpVerifyCode").show();
                    event.preventDefault();
                }
            });
        }
    }

</script>
<script type="text/javascript">
    $('.selectpicker').select2();
   
</script>
